[2021-07-21 15:16] alfeg commented on #18366
@Bykiev nice catch. Have been using this several years, haven't realize it's internal API.

We need to show confirmation popup from non .vue code...

[2021-07-21 15:16] #18366 closed, assigned to nobody

[2021-07-22 07:36] Bykiev commented on #17885
`import { dxTabPanelItem } from 'devextreme/ui/tab_panel';`

`dxTabPanelItem` marked as deprecated, used as a dataSource for `tabPanel` control

[2021-07-22 12:56] dominic-simplan commented on #17885
We are using `dxForm*Item` (e.g. `dxFormSimpleItem`)  to create form items in separate locations from where they are actually added to the form.

[2021-07-22 14:39] Mouna1001 commented on #16455
Hello i'm new to devexpress i've done a pivot grid and i want to have just 2 digit after comma when clicking on sum or avg any idea how to do it .I've used this code https://js.devexpress.com/Demos/WidgetsGallery/Demo/PivotGrid/FieldPanel/Angular/Light/

[2021-07-23 22:59] davidich commented on #17885
I want to iterate over all visible rows of my TreeList when the drag starts:
![image](https://user-images.githubusercontent.com/3383993/126848776-aa7e2e9d-f3bc-432f-aeda-110a4c24705b.png)
How can I do that in a strongly typed manner?

[2021-07-24 16:31] Iskander1220 opened #18455 "Search to accent insensitive and RegExp"
Hi, and sorry for my english!

How to combine these two functions for insensitivity to accents and search for regular expressions? Since they do not work together.

-------------------------------------------

//regex
function gCalculateFilterExpression (value, selectedFilterOperations, target, self) {
        if (target === "filterRow") {
            return [function(dataItem) {
        var patte

[2021-07-24 21:57] hakimio commented on #17885
@davidich they have deprecated everything but haven't introduced replacements yet...

[2021-07-26 05:49] Leon-Alexey commented on #16468
@dxbykov see link [lit 2.0](https://lit.dev/)
The future has come.

[2021-07-26 11:01] MikeVitik commented on #18222
You can simply ignore this warning. The development build mode is only needed for internal use.

[2021-07-27 11:27] #17518 closed, assigned to babich-a

[2021-07-27 18:32] #18013 closed, assigned to AlisherAmonulloev

[2021-07-28 12:38] MarjanGood commented on #17518
hi everybody I have the same issue, Is there any solution for this issue?

[2021-07-28 12:42] MarjanGood opened #18502 "devexpress does not build with angular 12.1.3"
### Steps to Reproduce:

1.
2.
3.

### Results You Received:

### Results You Expected:

### Environment Details:

[2021-07-28 12:57] MarjanGood commented on #18502
after updating, my project couldn't build and I've got this error

× Index html generation failed.
undefined:5:142920: property missing ':'

[2021-07-29 07:57] LexDX commented on #18502
This is a duplicate of this issue: [https://github.com/DevExpress/DevExtreme/issues/17518](https://github.com/DevExpress/DevExtreme/issues/17518). Use recommendations from the initial issue to resolve the problem.

[2021-07-29 07:57] #18502 closed, assigned to LexDX

[2021-07-29 11:31] MarjanGood commented on #17518
dear lexDX,
I am trying to fix my error and this is my error while I am building my project,

√ Copying assets complete.
× Index html generation failed.
undefined:5:142920: property missing ':'

, but this solution doesn't work for me,
  "optimization": {
                "scripts": true,
                "styles": {
                  "minify": true,
                  "inlineCritical": false

[2021-07-29 11:33] MarjanGood commented on #18502
dear lexDX,
I am trying to fix my error and this is my error while I am building my project,

√ Copying assets complete.
× Index html generation failed.
undefined:5:142920: property missing ':'

, but this solution doesn't work for me,
"optimization": {
"scripts": true,
"styles": {
"minify": true,
"inlineCritical": false
},
"fonts": false
},

The error still persists in Angular v12 with ng build.

[2021-07-29 17:34] FBNitro commented on #17885
I am currently using this:
`import { dxDataGridSelection, dxDataGridScrolling } from 'devextreme/ui/data_grid';`

I am using a custom control to deal with selection of rows, and I need the type to be able to pass the selection props that were supplied to the grid down to my custom component.

Similar reasons for the dxDataGridScrolling also, I need to pass the prop values around and need the type.

[2021-08-05 19:26] jakehockey10 commented on #16455
Another example of strictTemplates not being supported is for DxProgressBar:

the value input is defined as a `number`, but the documentation says:
![image](https://user-images.githubusercontent.com/1821383/128409284-277c5ed8-6650-4af4-8005-d78213fae52d.png)
If I set the value to `false`, my project does not build.

![image](https://user-images.githubusercontent.com/1821383/128409387-470a38e5-080f

[2021-08-06 08:06] onebalaban commented on #18455
Hello,

Please submit a ticket to our [Support Center](https://devexpress.com/sc). In the ticket description, attach a test project to demonstrate your implementation and describe steps to reproduce the issue. We'll review them to find the most suitable solution.

[2021-08-06 08:06] #18455 closed, assigned to onebalaban

[2021-08-06 09:17] #18222 closed, assigned to nobody

[2021-08-06 13:02] andrewmakarov commented on #18310
Hello,

Please submit a ticket to our [Support Center](https://devexpress.com/sc). In the ticket description, attach a test project to demonstrate your implementation and describe steps to reproduce the issue. We'll review them to find the most suitable solution.

[2021-08-06 15:57] FBNitro commented on #17885
Found another one:
import { dxDataGridEditing} from 'devextreme/ui/data_grid';

[2021-08-09 06:48] elessariel commented on #16775
Hey there, any update on this one ?

[2021-08-09 06:58] scde1032 commented on #16775
@elessariel @groshenkovamarina I would be interested in updates, too. We are patiently waiting for this feature to finally be released.

[2021-08-09 07:43] nikithase commented on #16775
I too would love to see this in the next minor release :)

[2021-08-11 09:37] IlyaKhD commented on #17885
The [21.1.5](https://www.npmjs.com/package/devextreme/v/21.1.5) update includes the following public replacements:

- all collection components
  - `Item` instead of `dx<WidetName>Item` (e.g. `dxAccordionItem`)
- dxBarGauge
  - `LegendItem` instead of `BarGaugeLegendItem`
- dxDataGrid
  - `Summary` is now public
- dxFileManager
  - `ContextMenuItem` instead of `dxFileManagerContextMenuItem`
  - `T

[2021-08-11 11:02] KuznetsovVN commented on #14345
Hello, sorry for the delay.
You can use jsPDF-AutoTable to manually generate the required output (see [Usage](https://github.com/simonbengtsson/jsPDF-AutoTable#usage)). If you have no direct access to the grid's data, you can request it - get the grid's [dataSource](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDataGrid/Methods/#getDataSource), use the [store](https://js.dev

[2021-08-12 18:31] RawKitMan commented on #17885
The following we use as internal types:

dxDataGridEditing
dxDataGridColumn
dxTreeListOptions
dxDataGridOptions
dxToolbarItem
dxMenuOptions
dxListOptions
dxEvent
dxMenuItem
dxTreeListNode
dxDataGridEditing
dxTextAreaOptions
dxNumberBoxOptions
GridBase

All are deprecated. If it is not being done already, would you be able to look into these as Internal Types?

[2021-08-13 08:08] #18310 closed, assigned to andrewmakarov

[2021-08-17 12:43] JohnnyDevNull commented on #17885
Hi @IlyaKhD, at first i want to thank you all for your work and improvements. We've waited a long time so that we can remove our own Dx* Type definitions.

**These types are missing:**

[code]

There is also a missing `dxDataGridColumn.type`. The type `drag` is missing, but documented and also used in our code https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDataGrid/Configurat

[2021-08-18 20:18] tkr4711 opened #23136 "Angular Gantt Chart: Browser hangs if drawing gantt chart with dependencies"
# Bug Report

**Package versions:**

    devexteme version: 21.1.5
    devextreme-angular version: 21.1.5
    angular version: 12.2.1

**Steps to reproduce:**

1. Create angular application and add devextreme to your app
2. Use code example "overview" from devextreme angular gantt website  https://js.devexpress.com/Demos/WidgetsGallery/Demo/Gantt/Overview/Angular/Light/
3. call 'ng serve -o'
4. Br

[2021-08-19 21:58] iansudderth commented on #16468
I'd like some clarification on the plans for the Reactive grid.  We recently came across this post where a DE developer seemed to be recommending against the use of the Reactive grids:

https://supportcenter.devexpress.com/ticket/details/t1010044/reactive-grid-how-to-open-a-context-menu-on-right-click-of-a-cell

If the position of DE is that we should not be using Reactive because it will be phase

[2021-08-20 20:12] gabbyfreed-co commented on #12343
Is there any update on this ticket? Having the same issue as described in the original ticket submission. If two duplicate custom items are added, I want the tagbox to only keep one of the tags, not remove them both entirely...

[2021-08-22 23:10] carlospereira21 opened #18870 "dxSortable, how to get values from card?"
Hello, i started now to using this lib in js and jquery, and i have troble to get some informations that come from card, after an event like onDragEnd.

How i get a value from card ? some value like, name, id, the drag action to know what column i dragged my item.
When the action end, all that i recieve is alot of information did i don't now how to use.

![image](https://user-images.githubusercont

[2021-08-23 09:40] dxbykov commented on #16468
@Leon-Alexey Thanks for the link, we'll monitor how it's going. If it turns out to be a new mainstream – of course, we'll alter our strategy accordingly.

@iansudderth I'm happy to hear about your good experience with DevExtreme Reactive. We revealed our plans regarding this suite in our latest [Roadmap blog post](https://community.devexpress.com/blogs/javascript/archive/2021/02/24/devextreme-java

[2021-08-24 10:37] IlyaKhD commented on #17885
Hi @RawKitMan,

As for 21.1, you can use the following substitutions:

- `dxDataGridColumn` - `Column` (devextreme/ui/data_grid)
- `dxTreeListOptions` - `Properties` (devextreme/ui/tree_list)
- `dxDataGridOptions` - `Properties` (devextreme/ui/data_grid)
- `dxToolbarItem` - `Item` (devextreme/ui/toolbar)
- `dxMenuOptions` - `Properties` (devextreme/ui/menu)
- `dxListOptions` - `Properties` (devext

[2021-08-24 10:59] PatrickSchnoop commented on #17885
Hi, guys :)
Can you tell us, what we can use instead of the following imports?

[code]

Thanks in advance,
Patrick

[2021-08-24 12:30] PaulTodd commented on #16775
Can we have a CTP of this feature to at least get it implemented in our systems and report any bugs we find?

[2021-08-24 12:35] IlyaKhD commented on #17885
Hi @pschnoop,

As for 21.1, you can use the following substitutions:

- `dxEvent` - `EventObject` (devextreme/events)
- `dxPopupOptions` - `Properties` (devextreme/ui/popup)
- `dxToolbarOptions` - `Properties` (devextreme/ui/toolbar)

The other types you mentioned are added to the processing queue.

Could you give us usage examples for the `Component`, `DOMComponent`, and `dxElement` types?

[2021-08-25 04:42] renovate[bot] opened #18906 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/DevExpress/DevExtreme).

## Repository Problems

These problems occurred while renovating this repository. [View logs](https://developer.mend.io//gi

[2021-08-25 07:37] IlyaKhD commented on #16455
@jakehockey10, thanks for pointing out this issue, we'll include a fix to one of the upcoming updates.

[2021-08-25 07:39] IlyaKhD commented on #17885
Hello @JohnnyDevNull!
I'm glad to see that we're moving in the right direction.
Thank you for sharing these types made on your side. Could you desсribe use cases that require such `DefaultOptions` interfaces?

[code]

[2021-08-25 10:52] JohnnyDevNull commented on #17885
@IlyaKhD :

We have a Service in which we provide InjectionToken, which we want to be strong typed:

[code]

[2021-08-25 11:29] JohnnyDevNull commented on #17885
@IlyaKhD

We are also recognizing some type errors:

![image](https://user-images.githubusercontent.com/5759334/130782539-1beb8959-4512-419d-9e6f-70d778f7602f.png)

But it should have the property because we get it in older versions and it's present in actual version
We use this type in a directive like following:

[code]

We also have to  convert all KeyboardEvents like the following:

[code]

be

[2021-08-25 13:33] PatrickSchnoop commented on #17885
Hello @IlyaKhD ,
We use the `Component` class inside a directive. This directive is used on different DxComponents (Textbox, Numberbox etc.). We can then use ViewChildren to get all of those and update the validation.

The `dxElement` is used in places where we wrote our own types for devexpress events, eg. `onCellPrepared`.
It's a really big issue that we have to do that in the first place.

[2021-08-27 07:37] steve-tapley commented on #17885
Hi,
Wondering why the ExcelExportDataGridProps (and I guess the associated pivot grid versions) is marked as deprecated

Its mentioned in your documentation here https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDataGrid/Configuration/export/ and https://js.devexpress.com/Documentation/ApiReference/Common/Object_Structures/ExcelExportDataGridProps/

Thanks,
Steve

[2021-08-30 13:51] onebalaban commented on #18870
Hi,

Our channel for technical inquiries is Support Center: [https://devexpress.com/sc](https://devexpress.com/sc)
Please submit a ticket there with the description above and a test project (CodePen). We'll research it and try to find a solution.

[2021-08-30 13:51] #18870 closed, assigned to onebalaban

[2021-08-30 15:02] n0isy opened #18985 "DateBox only 5 weeks, but need 6?"
In August'21?
Browser Firefox 91.0.2

![изображение](https://user-images.githubusercontent.com/8371968/131360267-7bb1558c-35f8-4593-a962-9a68bf73430e.png)

[2021-08-30 15:04] n0isy commented on #18985
In Chrome
![изображение](https://user-images.githubusercontent.com/8371968/131360716-1d94f0b6-ea36-473f-ac7d-8d73430375f2.png)

[2021-08-30 22:35] paulhogannz commented on #17885
I am in  the middle of upgraded from 20.2.3 to 21.1.5

We have been importing rule types into some code files
import { RequiredRule, NumericRule, RangeRule, StringLengthRule, CustomRule, CompareRule, PatternRule, EmailRule, AsyncRule } from 'devextreme/ui/validation_engine';

so we could strongly type an input property...

  @Input() validationRules?: Array<RequiredRule | NumericRule | RangeRule |

[2021-08-31 07:25] hakimio commented on #18985
Your custom theme seems to be broken. It works as expected with standard themes:
https://js.devexpress.com/Demos/WidgetsGallery/Demo/Calendar/Overview/Angular/Light/

[2021-09-01 06:55] steve-tapley commented on #17885
There are lots of events where the template really needs parameters so we can properly type the data in our event.
In many of your components, there is ItemClicked, ItemRendered, ValueChangedEvent
in dxSelectBox there is SelectionChangedEvent
In dxSortable there is DragStart, DragMove, Add & Reorder events
In dxList ItemDeleting, ItemDeleted, ItemReorderd, SelectionChanged events
in dxChart the Po

[2021-09-01 17:12] SpiraMira commented on #7268
Has the ability to upload images or paste media from the clipboard been added yet?

[2021-09-02 16:42] nil-s-s commented on #17885
The remaining deprecated interfaces / types in use in our project I could not find alternatives for:

- dxTreeViewNode
- dxDataGridRowObject
- GridBaseOptions
- GridBase
- DataSourceOptions
- dxOverlayOptions
- CustomStoreOptions
- Store

I noticed that there is no ContentReadyEvent in for dxDropDownBox yet,

[2021-09-02 16:48] jakehockey10 opened #19039 "DxAccordion onSelectionChanged event documentation is missing information"
### Steps to Reproduce:

1. Visit the following documentation pages:
  - https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxAccordion/Events/#selectionChanged
  - https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxAccordion/Configuration/#onSelectionChanged
2. Handle the event and log out event args to the console
3. See issue

### Results You Received:

There a

[2021-09-02 19:04] superole commented on #17885
I have declared my own types for some of the treelist events (e.g. FocusedRowChangingEvent) because the event property in DevExpress.ui.dxTreeList.FocusedRowChangingEvent has the type DevExpress.events.DxEvent which is deprecated and - like @JohnnyDevNull commented above - does not include the native types (and at runtime we can see that it should).

my version is currently like this:
[code]
Here

[2021-09-03 15:45] alfeg commented on #17885
We extensively use
[code]
For own validatiosn

[2021-09-03 19:01] stevecurrey commented on #12343
I am also facing the same issue. If someone enters a custom tag twice, why are both values removed? It should only remove the duplicate.

[2021-09-06 05:54] babich-a commented on #18165
Starting from 1.2.21 `devextreme-cli` try to find `devextreme-themebuilder` in the current working folder. So, if you have this package in your `node_modules` folder and the version is correct `devextreme-cli` will use it.

[2021-09-06 11:48] NickMitrokhin opened #19076 "DataGrid and TreeList - Toolbar customization enhancement"
# The Problem

Currently, the only way to customize toolbar in DataGrid/TreeList is to use [onToolbarPreparing](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDataGrid/Configuration/#onToolbarPreparing) event. You cannot use this method to change settings of buttons once toolbar is created. Direct DOM mutations are not recommended when you use React, Angular, and Vue framewor

[2021-09-07 02:09] charlesmatvchuk commented on #7268
When will the ability to upload images be added?

[2021-09-08 09:42] theMattCode commented on #16468
We use the components from https://github.com/DevExpress/devextreme-reactive. Are these components also targeted by your architectural change proposal? If so, can you tell us what we have to expect like, for example, migrating to a replacement?

[2021-09-08 10:41] TrayHard commented on #17885
Not sure is there any not deprecated analogues of types Editing or dxDataGridEditing, both of them are deprecated and we use the first one for now for making wrapper with editing options as props for DataGrid (Vue 2.*).

[2021-09-08 13:40] DokaRus commented on #7268
Now we are focused on improvements in [table support](https://github.com/DevExpress/DevExtreme/issues/16538). Image uploading should be our next task if all goes well.

By default, all images are converted to base64 strings when a user adds them using drag and drop. It is possible to extend the basic clipboard and uploader modules in order to intercept the "paste" and "drop" events and be able to

[2021-09-09 12:53] IlyaKhD commented on #17885
I've added rules for setting default options and also missing fields of the native event to our task list, thank you.

The Deprecated types mentioned will be reviewed soon, such minor updates can be included in v21.1

[2021-09-09 12:55] IlyaKhD commented on #17885
@JohnnyDevNull, regarding the `e.isEditing` field - it's not public, use `e.row.isEditing` instead.

[2021-09-09 12:56] IlyaKhD commented on #17885
Hi @pschnoop,

If you need a type that matches any component, I would suggest defining a union: `dxTextBox | dxNumberBox`

`DxElement` is an internal type used for switching to JQuery types in projects that are using jQuery integration. Thus, you might be able to use native types in these cases, e.g. `HtmlElemnt` (assuming you're not using JQuery)

[2021-09-09 13:01] IlyaKhD commented on #17885
@steve-tapley, hi!
Like many other types, `ExcelExportDataGridProps` got the `@deprecated` tag because we're reviewing all the types we have to ensure each type has a correct name and location and check if it's a part of the internal type system. Once the type is reviewed, either a recommended replacement will be specified or the `@deprecated` tag will be removed. The documentation will be updated

[2021-09-09 14:52] DokaRus commented on #16538
We have updated the discussion page with a live sandbox examples:

#### Table Resizing
- [jQuery](https://jsfiddle.net/dzeu5qjt/)
- [Vue.js](https://codesandbox.io/s/tables-devextreme-html-editor-forked-k1fh6)
- [React](https://codesandbox.io/s/tables-devextreme-html-editor-forked-hsl62)

#### Context menu with common table operations
- [jQuery](https://jsfiddle.net/cxhj58ve/)

#### Soft breaks in

[2021-09-09 15:08] UXDart commented on #16538
this is great! one question, it seems the soft breaks, uses shift+enter, why not just enter? you are in a cell you want a new line, you press enter IMO

extra points, on resize if press some key like alt or shift while resizing the last vertical line (or maybe the last vertical line works like that), it resize all columns. the use case is you want the grid to be smaller, so you resize from the las

[2021-09-09 20:36] DokaRus commented on #16538
@UXDart

We plan to enable multiple paragraphs (`<p>` tag) within a table cell, soon. That is, enter will just add a new line to the cell. Stay tuned :)

Thank you! We'll take that into account

[2021-09-09 21:03] mcaden commented on #17885
(Angular) - dxDataGridRowObject

In a DataGrid we've got:
[code]

The `onClick` event is implemented as:
[code]

[2021-09-10 12:22] #18985 closed, assigned to nobody

[2021-09-10 15:23] jakehockey10 commented on #19076
Looking forward to this!  Thank you!

[2021-09-11 08:51] #18165 closed, assigned to babich-a

[2021-09-13 08:58] softboy99 commented on #19076
+1

[2021-09-13 10:33] novsstation commented on #19039
Hi,

Thank you for your patience.
We researched this issue and found out that this is a mistake in our documentation.
Thank you for bringing our attention to this. The updated version of our documentation will be published soon.

Please feel free to contact us if you have any other questions. We will do our best to help you.

[2021-09-13 16:29] dxbykov commented on #16775
@PaulTodd this feature is at the testing stage now. We plan to include it in the first beta release in a few weeks. We'll post an update here.

[2021-09-14 15:50] Lonli-Lokli commented on #17885
What are the alternatives for this one? That's from SelectBox onValueChanged (React)
[code]

[2021-09-14 16:00] nil-s-s commented on #17885
There is type `ValueChangedEvent `exported in `'devextreme/ui/select_box'`, I assume that this will remain as it is not marked deprecated.

[2021-09-15 07:53] jcchalte commented on #17885
What are the alternatives for LoadOptions ? We use this interface for our server-side proxy methods.

[code]

(by the way, I personally really like all these new consistent types, thank you for that !)

[2021-09-15 08:05] jcchalte commented on #17885
Also, what are the alternatives for `DOMComponent` ? We have some methods that can be called with any DevExtreme editor in parameter and return a consistent API to manipulate it. In this example, in order to use a redux like API, we need to retrieve an observable that emit a value everytime a user has modified manually the value of the provided editor, but not when this value has been changed manu

[2021-09-15 23:55] iknowmagic commented on #14351
Vite is giving this error: /node_modules/devextreme-vue/popup.js?v=f3801dc8' does not provide an export named 'DxPopup'

With devextreme 21.1.5 + devextreme-vue 21.1.5 and vite 2.4.4.

I guess that DevExtreme is not supporting vitejs at the moment?

Thanks.

[2021-09-16 14:46] IlyaKhD commented on #17885
Yes, `ValueChangedEvent` is the public type for handling the ValueChanged event.

[2021-09-16 14:51] Lonli-Lokli commented on #17885
@IlyaKhD
Does it mean that I can change type below with ValueChangedEvent?

Usually I just opening typings for the event and copy it's declaration. Maybe you can not only mark types but update events as well?
[code]

[2021-09-16 14:59] Lonli-Lokli commented on #19076
Just FYI, in React demo
1. `onToolbarPreparing={this.onToolbarPreparing}` exists but handler is not defined
2. App is broken on Collapse All button click

[2021-09-16 15:07] IlyaKhD commented on #17885
Hi @jcchalte!

The `LoadOptions` is already on our list, thanks.

I suggest defining a union of applicable types, e.g.: `type Editor = dxNumberBox | dxTagBox | ...`

[2021-09-16 15:29] IlyaKhD commented on #17885
@Lonli-Lokli, yes, that's correct.

This is a bit complicated as it requires re-declaring inherited properties. In turn, this can lead to undesired side effects and should be carefully considered. I recommend following this rule:

**if a component has the `onSomethingHappened` property, the `SomethingHappenedEvent` type is exported from its module.**

[2021-09-17 12:24] Prasad814359 commented on #5163
I had table issues, the table is rendered properly in the editor, but when I get the value through "formControlName" the table part alone is not rendering properly. Just the table outer border alone is rendering but not the lines in between the cells. Kindly help me.

 `<dx-html-editor class="dx-html-container" formControlName="body" >
                <dxo-toolbar [multiline]="isMultiline">

[2021-09-17 13:11] jacksonrr3 commented on #14351
@iKnowMagic
Hi,
I couldn't reproduce the error with the following configuration
- devextreme@21.1.5
- devextreme-vue@21.1.5
- vite@2.4.4
- vue@3.2.11

Would you please attach an  example with popup that demonstrates the issue?

[2021-09-19 00:20] #13215 closed, assigned to CodeKarno, vladkovl

[2021-09-20 03:29] iknowmagic commented on #14351
Many thanks, @jacksonrr3

I created a new Vue / ViteJS app, added DevExtreme and I did not see any errors while using a DevExtreme component.

Unfortunately, at the moment I am unable to provide a full environment that exemplifies the issue.

 ![image](https://user-images.githubusercontent.com/8712362/133954417-c6d61d71-b7fd-4018-b853-ce6b6c872875.png)

[2021-09-20 08:41] jacksonrr3 commented on #14351
@iKnowMagic
Thank you for the update. Unfortunately we cannot tell what goes wrong without an example. Right now I can only recommend you double-check versions of Vue, Vite and devextreme and update them to the configuration I mentioned above.

[2021-09-20 15:11] heyimnowi commented on #17548
Hello, is not working for you. Any luck you guys?
[code]

ERROR TypeError: CustomStore is not a constructor

[2021-09-21 06:06] Prasad814359 commented on #14724
Hello,
    1. When I give the html content as a input to the editor the table is not rendering in the editor properly, similarly after editing the lines between the table cells are getting disappeared. can someone help regarding this issue.
    2. Cannot able to provide background color for table cells.

[2021-09-21 15:21] DokaRus commented on #14724
Hi @Prasad814359,

1. To facilitate content embedding, only explicitly user-applied content formatting is passed to the resulting markup. You can add your own styles to the page to get the desired appearance for the tables.
2. This type of customization is not currently available. You can track the status of the corresponding [Discussion Page](https://github.com/DevExpress/DevExtreme/issues/16538)

[2021-09-21 15:23] DokaRus commented on #5163
@Prasad814359 -> https://github.com/DevExpress/DevExtreme/issues/14724#issuecomment-924094470

[2021-09-23 21:58] VinzzB commented on #16455
After updating the devextreme package to v2.1.5 my TS code was throwing errors on React refs.
My web application is build upon React Hooks.  All useRef() hooks were throwing errors. Here is an example with a tagbox component (happens on all devex components):

[code]

The above code worked fine in previous versions, but results in the following error message in the new version:

[code]

I can curr

[2021-09-24 05:33] Prasad814359 commented on #16538
Is the "table property","cell property" options available in angular version??

[2021-09-24 08:00] #19039 closed, assigned to novsstation

[2021-09-24 08:56] julesrx opened #19376 "DevExtreme Theme Builder: accept CSS/LESS/SASS variables"
The DevExtreme Theme Builder does not accept CSS variables or any variables (LESS/SASS).

### Steps to Reproduce:

1. create a theme on the theme builder
2. replace values with css variables
3. build the theme using the `build-theme` command

### Results You Received:
Build error:
[code]

### Results You Expected:
Successful build.

### Proposed solution:
When building the theme, if a css variable

[2021-09-24 10:48] babich-a commented on #19376
Hi @julesrx
We use [sass color functions](https://sass-lang.com/documentation/modules/color) to calculate colors that are dependent on $accent-color. They do not accept CSS variables. So, the `value` property of the`items` array can be a color only.

If you need to customize the compiling process, you can use [scss files from package](https://unpkg.com/browse/devextreme@21.1.5/scss/bundles/).

[2021-09-24 12:15] julesrx commented on #19376
I'll do this thanks.

[2021-09-24 12:15] #19376 closed, assigned to babich-a

[2021-10-01 14:09] raphael-hettich commented on #16775
So 21.1.6 got released. Is it included ?
*update nevermind, it doesn't seem so.

[2021-10-01 14:13] PaulTodd opened #19483 "SpeedDialAction causes Deprecation warning in 21.2.2-alpha"
### Steps to Reproduce:

1. Include SpeedDialAction on page

### Results You Received:
W0001 - dxPrivateComponent0 - 'elementAttr' option is deprecated in 21.2. Use the "wrapperAttr" option instead. See:
http://js.devexpress.com/error/21_2/W0001

### Results You Expected:

No deprecated warning when using SpeedDialAction

### Environment Details:
    "devextreme": "^21.2.2-alpha-21246-1323",
    "

[2021-10-01 19:19] hakimio commented on #16775
@raphael-hettich as the `21_2` issue label suggests, they target v21.2. So, maybe it will come with next 21.2 sprint release.
PR #19458 and #19224 were just recently merged.

[2021-10-02 15:50] Paul75 opened #19488 "dxdatagrid group item custom pourcentage"
### Steps to Reproduce:

Hello,

Have lines and grousp and want to custom som to have pourcentage of group.

I do AVG but not that I want.
I try to do custom in dxi-group-item but in the options.velu have only the column not have like total colum all the column ...

### Results You Received:

![DevExtreme2](https://user-images.githubusercontent.com/457062/135723616-59f8eef7-77fb-453a-980a-41c3f6f9

[2021-10-04 12:37] AlisherAmonulloev commented on #19483
I submitted a public bug report in our Support Center: https://supportcenter.devexpress.com/ticket/details/t1033961/speeddialaction-the-w0001-dxprivatecomponent0-elementattr-option-is-deprecated-warning
We will update the report once we have any news. Thank you for your input!

[2021-10-04 12:37] #19483 closed, assigned to AlisherAmonulloev

[2021-10-04 14:58] IlyaKhD commented on #17885
[v21.1.6](https://www.npmjs.com/package/devextreme/v/21.1.6) has some updates:

- Data Layer
  - `ArrayStoreOptions` renamed to `Options`
  - `CustomStoreOptions` renamed to `Options`
  - `DataSourceOptions` renamed to `Options`
  - `PivotGridDataSourceOptions` renamed to `Options`

- FileSystemProviders
  - `CustomFileSystemProviderOptions` renamed to `Options`
  - `ObjectFileSystemProviderOption

[2021-10-05 10:31] BartekObudzinski opened #19529 "Devextreme Scheduler React - EditReccurenceMenu/availableOperations"
Hi i wanted to disable one opiton in `availableOperations` in `EditReccurenceMenu`. It is currentAndFollowing option.

 I have used it like this:

`export const layoutComponent = ({
  ...restProps
}: EditRecurrenceMenu.LayoutProps) => {
  return (
    <EditRecurrenceMenu.Layout
      {...restProps}
      availableOperations={['all | current']}
    />
  );
};`

And received two empty radio buttons

[2021-10-05 10:55] #19529 closed, assigned to nobody

[2021-10-06 14:44] rfumagalli commented on #17885
Hi guys,
what can I use instead of the following import?

`
import { Component } from 'devextreme/core/component';
`

Thanks

[2021-10-07 06:43] NickMitrokhin commented on #19076
Thank you for pointing out these issues. We updated the example.

[2021-10-07 07:34] IlyaKhD commented on #17885
Hi @rfumagalli,

If you need a type that matches different components, try defining a union: `dxAccordion | dxActionSheet | ...`

[2021-10-07 08:51] rfumagalli commented on #17885
Hi @IlyaKhD,
thank you, I will try to do as you advised me.

[2021-10-08 09:42] arndwestermann commented on #17885
Hay folks is there an equivalent for this one?

`import { dxTreeViewItem } from 'devextreme/ui/tree_view';`

[2021-10-08 09:46] rfumagalli commented on #17885
`import { Item as dxTreeViewItem } from 'devextreme/ui/tree_view';`

could this be okay?

[2021-10-08 09:51] pstyrna commented on #17885
dxScrollable
import dxScrollable from 'devextreme/ui/scroll_view/ui.scrollable';

[code]

We are using it to sync scrolling across multiple tables, as proposed in your example here
https://github.com/DevExpress-Examples/DataGrid---How-to-synchronize-two-DataGrids

[2021-10-08 10:47] IlyaKhD commented on #17885
@arndwestermann, that's correct, use Item instead of dxTreeViewItem.

[2021-10-08 11:28] arndwestermann commented on #17885
@IlyaKhD

If i do it like this
`import { Item as dxTreeViewItem } from 'devextreme/ui/tree_view';`

Im getting an error
`Module '"devextreme/ui/tree_view"' has no exported member 'Item'. Did you mean to use 'import Item from "devextreme/ui/tree_view"' instead?`

When I do it like it is suggested
`import Item from 'devextreme/ui/tree_view';`

I'm getting just a bunch of methods on this object.
So i

[2021-10-08 13:23] NickMitrokhin commented on #16595
Hello,

We encountered several complex issues when implementing the editing.newRowPosition option for TreeList. So, this option will not be available for TreeList in v21.2. We will schedule this feature for release for TreeList in one of our future major versions.

[2021-10-08 14:30] IlyaKhD commented on #17885
@arndwestermann, check that you have the latest update, this type was added in v21.1.5.

[2021-10-08 14:34] arndwestermann commented on #17885
@IlyaKhD, Ye well that makes sense then. I'm still on 21.1.4, sorry for that confusion.

[2021-10-08 15:59] IlyaKhD commented on #17885
@pstyrna, `dxScrollable` is already on the list, thanks.

[2021-10-08 22:44] mtopp7 commented on #17885
21.1.6. refactored all dxDataGridColumn to Column but getting this:

![image](https://user-images.githubusercontent.com/1161426/136631599-460a3555-8e1b-4e48-ad48-02c66b36a6a1.png)

We use CustomStore for datasource, any types available for it as it has been flagged? Have tried the dataLayer types from above but they are missing methods which the grid datasource is expecting?

Also onToolbarPrepari

[2021-10-10 05:05] agafonovslava opened #19608 "Add box-plot in Chart"
https://github.com/DevExpress/DevExtreme/issues/8278

@alexanderPolosatov

[2021-10-11 16:03] hector-medina-lahuerta commented on #17885
Hi,

I'm looking to use this library as standalone (not using JQuery, Vue u  others) (currently in evaluation).

I will like to separate in different typescript files the applicacion to keep classes small. For that I moved the "GridConfiguration" or "FormConfiguration" to another file with a function that returns the DevExpress.ui.dxDataGridOptions object.

So my datagrid setup is like this.

`thi

[2021-10-12 16:05] hector-medina-lahuerta commented on #17885
Hi

Another situation is with DataGrid when you want a Template column in plain Javascript (no JQuery or others)

We have the template function, and we need to get the HTMLElement Container to insert our content

In the JQuery example is used like this

[code]

But the typings got 2 issues:

1. the container is marked for internal purposes (cellElement: DevExpress.core.DxElement)
2. DevExpress.cor

[2021-10-13 04:13] zoey-jr opened #19666 "DataGrid: Checkbox needs to be displayed when adding a new record"
### Steps to Reproduce:

1.
2.
3.

### Results You Received:

### Results You Expected:

### Environment Details:

[2021-10-13 11:37] alexanderPolosatov commented on #19608
Hello Slava,
We agree that the Box Plot chart would be a good addition to DevExtreme but it's not yet in our current development [Roadmap](https://js.devexpress.com/Roadmap/). We are unlikely to add it this year or next. I’ve registered your request for future development plans. Once we decide to implement it, you will find a corresponding section on our Roadmap.

Meanwhile, let me share one more

[2021-10-13 11:37] #19608 closed, assigned to alexanderPolosatov

[2021-10-15 14:46] AlisherAmonulloev commented on #16775
Hello everyone!
We added live sandboxes for jQuery, React, and Vue to test the animation feature. Feel free to leave your feedback!
A sandbox for Angular will be added a bit later, because we haven't decided whether to wait for the CodeSandbox team to fix the following issue or to use another service to create live sandboxes: [https://github.com/codesandbox/codesandbox-client/issues/5943](https://

[2021-10-15 14:54] AlisherAmonulloev commented on #3737
we included this functionality in 21.2 beta. You can test it by running live sandboxes we added to the #16775 discussion page.
@hakimio thank you for sharing the link :)

[2021-10-15 14:54] #3737 closed, assigned to BingoRUS

[2021-10-18 09:58] JohnnyDevNull commented on #17885
I'am missing a Data-Grid ToolbarItem Model:

[code]

We are extending the Grid's Toolbar here and there is no fitting ToolbarItem type for it.

The ```event.toolbarOptions.items``` are typed as any here and that's not very helpful.

[2021-10-18 14:22] Lonli-Lokli commented on #13847
Is exceljs a required dependency or it can be replaced with any other implementation?

[2021-10-18 15:04] sccrgoalie1 commented on #17885
Hello,

I'm having trouble using the new **Options** type to configure a DataSource.  I share the datasource options between a DataSource object and a lookup column in a dxDataGrid.

Previously

[code]
With the new **Options** type I cannot get this to assign properly.

[code]

TS2769: No overload matches this call.   The last overload gave the following error.     Argument of type 'Options<any, a

[2021-10-19 14:53] quirogaco commented on #7295
when fields are hidden or shown in a form within a group in chrome too slow (using beginupdate, endupdate), in firefox the response is much faster

chrome:
![chrome](https://user-images.githubusercontent.com/8965288/137935633-16526033-2640-47a5-a2eb-267258b2b055.png)

firefox:
![firefox](https://user-images.githubusercontent.com/8965288/137935808-94098c8c-17d5-433f-9fcb-c60b8576aa20.png)

[2021-10-19 15:02] hakimio commented on #7295
@quirogaco you need to wrap the item groups you are toggling in another item group to avoid unwanted rerendering. When you do that, changes are instantaneous in both Chrome and Firefox like in the demo I linked above.

[2021-10-19 16:30] FBNitro commented on #17885
import { positionConfig } from 'devextreme/animation/position';

I think this was mentioned above, but I don't see at replacement in the 21.1.6 release.  I use a const with my position since I'm using it in multiple places... ie:

const DEFAULT_POSITION: positionConfig = {
   my: 'something',
   at:  'something',
   offset: 'x y',
};

[2021-10-20 11:13] rkhramiankou commented on #17885
`import { PivotGridDataSourceField } from "devextreme/ui/pivot_grid/data_source";`
To declare datasource fields

`import { VizRange } from "devextreme/viz/common";`
To declare custom breaks or visualRange for value axis

[code]
To declare callback for pivot-grid-field-chooser onContentReady;

And the last one has already discussed, but as reminder:
`import { LoadOptions } from "devextreme/data/loa

[2021-10-20 14:22] LorenzoBatto commented on #7268
Hello,

I've been trying to follow this approach to upload images to my server and then use a link in the HTML editor, but I couldn't make it work so far. After uploading the file, that same POST returns me the file and I would like to use a blob this way:

`const blob = new Blob([response.body], { type: response.headers.get('content-type') });`
`var url = URL.createObjectURL(blob);`
`editor.inser

[2021-10-21 08:52] IlyaKhD commented on #17885
@mtopp7, hi

Use the `ToolbarPreparingEvent` type in your `onToolbarPreparing` handler.
As for issues with `Columns` and `CustomStore` - we need more information. Please share a demo project and environment details. Submit an issue in our SupportCenter.

[2021-10-21 08:55] AlisherAmonulloev commented on #19666
Your scenario is not clear. Would you please describe it and the issue you encountered in greater detail?

[2021-10-21 08:55] IlyaKhD commented on #17885
@hector-medina-lahuerta, use `DevExpress.ui.dxDataGrid.Properties` instead of `DevExpress.ui.dxDataGridOptions`

`DxElement` is a conditional alias that is resolved as `HTMLElement` if jQuery is not used. The container argument can be typed as `HTMElement`, you don't need any special type for it.
But the second problem indicates that this alias is resolved incorrectly. If you have a sample project

[2021-10-21 08:56] IlyaKhD commented on #17885
@JohnnyDevNull, I agree that the `toolbarOptions.items` prop lacks generic information in this case. Perhaps, it can be enhanced - I added this to the backlog, thank you.

[2021-10-21 08:56] IlyaKhD commented on #17885
@sccrgoalie1, I guess you're talking about 21.2.2-beta, right? Could you please share a sample project?

[2021-10-21 08:57] IlyaKhD commented on #17885
@FBNitro, you're right, `positionConfig` is still on its way. We're going to include it in the upcoming v21.1 minor update.

[2021-10-21 09:29] DokaRus commented on #7268
@LorenzoBatto

Hi,
You can override the URL sanitization by extending the base format of Image:

[code]

[2021-10-21 10:04] IlyaKhD commented on #17885
Hi, @rkhramiankou!

As for v21.1.6, you can use the following type for PivotGrid's DataSource:
[code]

Instead of
[code]
I recommend using PivotGridFieldChooser's `ContentReadyEvent`:
[code]

`VizRange` is added to the list, thanks.
`LoadOptions` replacement will be included in the upcoming minor update.

[2021-10-21 13:17] hector-medina-lahuerta commented on #17885
Hi

With buttons inside DataGrid on the click event the argument e has a "e.model" undefined, I got the model from e.row.data but row is "RowObject" type and suppose to be internal, is this a bug?

Code pen with the error here;

https://codepen.io/MtiHector/pen/QWMNaPq

Regards

[2021-10-22 12:12] IlyaKhD commented on #17885
@hector-medina-lahuerta, check whether you're using the latest version. The internal `RowObject` type was renamed to `Row` and made public in v21.1.6.

[2021-10-22 14:55] foegen-juan opened #19812 "DxTreeViewNode deprecated"
### Steps to Reproduce:

1. code within a selection changed
2. using it to respond with type safety to the action
3.     public cartTypeItemSelectionChanged(event: any) {
        if (event && event.node && event.component) {
            const treeView: dxTreeView = event.component as dxTreeView;
            const treeNode: dxTreeViewNode = event.node as dxTreeViewNode;

            if (treeNode.se

[2021-10-22 18:08] reezan commented on #19076
is this available on 21.6?

[2021-10-23 18:54] VinzzB commented on #16455
Just noticed in version 21.2.2 beta that the Type 'CustomItemCreatingEvent' on Tagbox.onCustomItemCreating() is bound to the SelectBox Type instead of the Tagbox.CustomItemCreatingEvent (which also exists)

Example:
[code]

This gives the following compilation error:

Workaround: I've imported the Type from selectbox and used it on a TagBox.
[code]

[2021-10-25 09:18] zoey-jr commented on #19666
In the multiple mode, when adding a record, the new record does not display the checkbox, but I need to display the checkbox at this time and do some checking. How can I achieve it。

[2021-10-25 09:21] zoey-jr commented on #19666
<img width="1020" alt="截屏2021-10-25 下午5 12 11" src="https://user-images.githubusercontent.com/42338699/138669751-5e99ed4a-eea1-4ebf-bba2-7e1a850e4627.png">

[2021-10-25 21:50] hector-medina-lahuerta commented on #17885
@IlyaKhD Thank you very much, I was trying one version behind

[2021-10-26 07:44] AlisherAmonulloev commented on #19666
DataGrid does not support this functionality. Selected rows do not have a data field reflecting a row's selection state. Hence, we do not show the check box for the new item row. You can select a row after it was added by using the onRowInserted callback:
[code]

[2021-10-26 10:25] LukasK07 commented on #17885
We are trying to use:
import { RequiredRule } from 'devextreme/ui/validation_rules';

What is the foreseen way/alternative?

Thanks

[2021-10-26 11:44] IlyaKhD commented on #17885
@LukasK07, thank you for the report, we'll update the validation_rules module. Follow this thread - I'll post an update once it is fixed.

[2021-10-27 07:29] NickMitrokhin commented on #19076
Hi @reezan,

This feature will be available only in v21.2.

[2021-10-28 08:37] Rondomat commented on #17885
Hello,

I'm using the following 3 types which are declared as deprecated:

import { **basePointObject**, **baseSeriesObject** } from 'devextreme/viz/chart';
import { **VizRange** } from 'devextreme/viz/common';

Further I miss the return type of customizePointCallback (currently I'm using any):

customizePointCallback(e: any): **any** {
  //
  // and finally return the new point definition object

[2021-10-28 12:53] regazzoj opened #23135 "Html editor toolbar predefined items have wrong hint on remote server"
# Bug Report
I have a bug on a component using HTML Editor.
I am using some toolbar items, and to do so, I am just using the predefined items with predefined hints.
The problem is that on my local computer, toolbar items have a correct hint provided by default, but when my changes are pushed to the remote server, all hints become "TODO"...
Is it a misconfiguration ? Or a bug somewhere ?

**Package

[2021-10-28 13:15] rfumagalli commented on #17885
Hi guys,
what can I use instead of the following imports?

`import { dxTextEditorButton } from 'devextreme/ui/text_box/ui.text_editor.base';`
`import { dxValidationGroupResult } from 'devextreme/ui/validation_group';`

Thanks

[2021-10-28 17:27] FazurP opened #19906 "Calendar language translate"
### The problem:
i want to translate the calendar to another language, but still i can't find a way or option to do it.

![img](https://user-images.githubusercontent.com/47001752/139304430-a73c9a4a-b024-47bb-b214-6c37aad552c7.png)
I'm trying translate a Calander/Scheduler component

[2021-10-29 07:09] IlyaKhD commented on #17885
@Rondomat, @rfumagalli, thank you, I added these types to the review list.

As for `dxValidationGroupResult` - use `ValidationResult` instead:

[code]

[2021-11-01 07:46] raphael-hettich commented on #16775
would you consider adding the labelMode property to the globalConfig ?

[2021-11-01 10:56] bobskigit opened #19938 "Latest v21.2.3 Issues with Speed Dial Action"
In the latest release using speed dial action buttons in Angular v12.2 causes console errors

**HTML Template**
<dx-speed-dial-action
    icon="download"
    [label]="'Generic.export' | translate"
    (onClick)="exportUsers()"

### Console Output

vendor.js:166801 W0001 - dxPrivateComponent4 - 'elementAttr' option is deprecated in 21.2. Use the "wrapperAttr" option instead. See:
http://js.devexpre

[2021-11-02 06:57] husbd opened #19989 "Angular DevExtreme: renderer type question"
# Support Question
Hi DevExtreme team,

Our team was using Angular 9.1.12 with devextreme&devextreme-angular 20.1.6
We have some local customisation on dxFilterBuilder & TreeView which all depend on renderer.
Previously, we defined this in our code:
`import renderer from 'devextreme/core/renderer';`
`export const dxRenderer: JQueryStatic = renderer;`

now we want to upgrade our devextreme version

[2021-11-02 07:52] dxbykov commented on #16775
Hi @raphael-hettich,

Thank you for your feedback. We discussed your suggestion and consider it reasonable. We plan to introduce this global configuration property in one of the minor product updates. As a temporary solution, you can use the [defaultOptions](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxForm/Methods/#defaultOptionsrule) method to specify default label mode f

[2021-11-02 10:17] konstantinschuette commented on #16775
https://js.devexpress.com/Demos/WidgetsGallery/Demo/Common/EditorAppearanceVariants/Angular/Light/

Try it with Styling Mode `outlined` and Label Mode `floating`.

So this feature is finally in the new 21.2.3

[2021-11-03 08:13] rfumagalli commented on #17885
Hi guys,
widgets are missing from the "dxToolbarItem" interface.

`Type '"dxSwitch"' is not assignable to type '"dxAutocomplete" | "dxButton" | "dxCheckBox" | "dxDateBox" | "dxMenu" | "dxSelectBox" | "dxTabs" | "dxTextBox" | "dxButtonGroup" | "dxDropDownButton"'.`

`Type '"dxNumberBox"' is not assignable to type '"dxAutocomplete" | "dxButton" | "dxCheckBox" | "dxDateBox" | "dxMenu" | "dxSelectBox"

[2021-11-03 11:23] AlisherAmonulloev commented on #19938
We are aware of this issue: https://supportcenter.devexpress.com/ticket/details/t1033961/speeddialaction-the-w0001-dxprivatecomponent0-elementattr-option-is-deprecated-warning
Please add the ticket to your Favorites to be notified of our progress.

[2021-11-03 11:23] #19938 closed, assigned to AlisherAmonulloev

[2021-11-03 15:24] raphael-hettich commented on #16775
are there any plans to support floating labels in the form demos?
e.g. at https://js.devexpress.com/Demos/WidgetsGallery/Demo/Common/FormsAndMultiPurposeOverview/Angular/MaterialBlueLight/Compact/

I was also wondering what is DevEx suggestions or best practise on applying floating labels to elements like a dxLookup?

[2021-11-03 17:07] sccrgoalie1 commented on #16775
Does this work with the form editing mode for dxDataGrid?  It appears the labels aren't passed through so if you set the labelMode to floating labels don't show.

https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/FormEditing/Angular/Light/

[2021-11-03 17:45] sccrgoalie1 commented on #16775
Also, it appears if you change your dxForm to use floating labels and have any boolean/checkboxes, the labels just disappear

[2021-11-03 18:00] RawKitMan commented on #17885
Does this include treelists?

[2021-11-04 09:43] ManuelHaas commented on #17885
Hi,
after updating from 21.1.4 to 21.2.3 the dataSource binding of the following code leads to TypeScript error now:
[code]

[code]

Binding the dataSource of a DxDropDownBox as used in base helper class as shown below is also not working anymore:

[code]

[code]

[2021-11-04 10:12] raphael-hettich commented on #16775
Glad you find it reasonable. I would also like to suggest to include this setting in the theme builder, including the "outline" and "fill" mode. Or maybe I just don't get it. How to preview "outline" with "static" labels in the ThemeBuilder.

[2021-11-04 15:57] arndwestermann opened #19973 "DxButton: dxTemplate breaks submit behavior"
Hello folks,

I just updated to devextreme and devextreme-angular to v21.2.3 and now my login form doesn't work properly.

My form looks something like this

[code]

This results in neither enter key hit nor button click to fire the submit behavior.
Unfortunately I couldn't spin up a stackblitz repo, cause adding devextreme to a stackblitz with angular resulting in nearly infinit compile time. So

[2021-11-05 05:38] dean-shanghai commented on #19076
Toolbar customization only for DataGrid, not TreeList?

[2021-11-05 08:21] IlyaKhD commented on #16455
Hello @VinzzB!

I'm sorry for such a delay.
We were unable to reproduce the problem. Could you please share your tsconfig? It would be great if you share a sample project that demonstrates these compilation issues.

[2021-11-05 09:18] speaktosteve commented on #17885
hi, as per [my ticket](https://supportcenter.devexpress.com/ticket/details/t1041576/react-js-update-from-2-1-4-to-21-2-3-textboxonvaluechangedevent), we were using the **TextBoxOnValueChangedEvent** type in the onValueChanged event handler for NumberBoxes. Following upgrade to 21.2.3 we can no longer use that type for that scenario:

[code]

Do I need to change the signature of all of our NumberBo

[2021-11-05 12:03] LexDX commented on #19973
Thank you for the report, @arndwestermann. We are aware of this issue and are researching it in this ticket: [Form - Button lost its customization when the template option is specified in v.21.2.3 in Vue and Angular](https://supportcenter.devexpress.com/ticket/details/t1041677/form-button-lost-its-customization-when-the-template-option-is-specified-in-v-21-2-3-in). You can add it to your favorite

[2021-11-05 12:03] #19973 closed, assigned to nobody

[2021-11-05 13:25] LexDX commented on #19989
Hi @husbd,

Currently, we are in the process of enhancing our TypeScript definitions, and we are making significant changes in our code. I recommend you check the following GitHub issue for more details: [Internal Types](https://github.com/DevExpress/DevExtreme/issues/17885). Also, in this GitHub issue, you will find updated definitions and will be able to share your current code and the issue. Ou

[2021-11-05 13:26] LexDX commented on #19812
Hi @foegen-juan,

Currently, we are in the process of enhancing our TypeScript definitions, and we are making significant changes in our code. I recommend you check the following GitHub issue for more details: [Internal Types](https://github.com/DevExpress/DevExtreme/issues/17885). Also, in this GitHub issue, you will find updated definitions and will be able to share your current code and the iss

[2021-11-05 13:26] #19812 closed, assigned to nobody

[2021-11-06 10:50] alfeg commented on #17885
After update to 21.1.2 we got following errors:

[code]
Not sure why this is internal when those are still present in documentation: https://js.devexpress.com/Documentation/ApiReference/Data_Layer/CustomStore/Methods/#onevents

Usage is following:

We got dataSource from service and want to subscribe on `loaded` event to get total count
[code]
Compilation error is following:
[code]

[2021-11-08 14:34] IlyaKhD commented on #19812
@foegen-juan, use the `Node` type instead. This replacement was added in v21.1.6.

[2021-11-08 15:38] foegen-juan commented on #19812
Thanks.  That works, but defining something like dxNode would cause a lot less namespace collisions than something as generic as Node.

[2021-11-09 00:25] #19488 closed, assigned to nobody

[2021-11-09 09:02] #19989 closed, assigned to nobody

[2021-11-09 09:38] IlyaKhD commented on #17885
@speaktosteve, try this type:
[code]

[code]

[2021-11-09 09:39] IlyaKhD commented on #17885
@RawKitMan, yes, TreeList module has `Row` type as well.

[2021-11-09 10:33] IlyaKhD commented on #17885
@alfeg, It seems that the problem is not related to internal types. Please submit a ticket to our [SupportCenter](https://www.devexpress.com/ask).

The `EventName` type is not useful in this case. The use of the `"loaded"` literal seems to be OK:

[code]

[2021-11-09 11:15] alexserov commented on #17885
@ManuelHaas, I suggest you cast both `data` fields values to `any`:
- In the first case, we cannot use the less strict `ArrayLike<T>` type since `ArrayStore` internals use a subset of `Array<T>` API. However, I see that the `KnockoutObservableArray<T>` type contains the necessary methods, so the cast will work.
- In the second case, the `dropDownOptions.dataSource` field may contain values that ar

[2021-11-10 07:06] #19666 closed, assigned to AlisherAmonulloev

[2021-11-10 08:56] IlyaKhD commented on #17885
@rfumagalli, `'dxSwitch'` and `'dxNumberBox'` are not listed in the [widget property documentation](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxToolbar/Configuration/items/#widget). That's why they are missing in the union type. These components can have some issues with navigation and alignment if they are added to the toolbar. So, we cannot guarantee that this configurat

[2021-11-10 09:23] rfumagalli commented on #17885
Thanks @IlyaKhD, I will do as you advised me.

[2021-11-10 09:58] raphael-hettich commented on #16775
Would you consider also adding the asterisk for required fields ?
Here is a comparison between devex and angular/material:

![image](https://user-images.githubusercontent.com/51852248/141091911-4e3c5849-8a75-441e-ab0e-3b9078ef5a8f.png)

top is devex bottom is angular/material.

[2021-11-10 23:38] Sixish commented on #17885
`DevExpress.devices` is currently recommended by the [documentation](https://js.devexpress.com/Documentation/ApiReference/Common/Utils/devices/Methods/#currentdeviceName) as a way to identify the device type, OS and version. I haven't seen any reference to a more officially supported way to determine the device type. Is there an alternative way that avoids the use of deprecated interfaces?

[2021-11-11 07:16] husbd commented on #17885
Hi @IlyaKhD,
Our team was using Angular 9.1.12 with devextreme&devextreme-angular 20.1.6
Here's a list of depreciated types we use:
`import { dxFilterBuilderCustomOperation, dxFilterBuilderField } from 'devextreme/ui/filter_builder';`
`import renderer from 'devextreme/core/renderer';`
`import { dxEvent } from 'devextreme/events';`
`import { dxTreeViewItem, dxTreeViewNode, dxTreeViewOptions } from

[2021-11-11 14:33] IlyaKhD commented on #17885
I moved these types higher on the review list, thanks. In the meantime, feel free to use the deprecated ones, we'll post news about updates here.

@husbd, as for v21.1.6/v21.2.3, you can use the following replacements:

[code]

`'devextreme/core/renderer'` is an internal module, we do not recommend using it.
It would be great if you send us a sample application so that we can figure out if you can

[2021-11-12 07:24] ManuelHaas commented on #17885
@alexserov Thanks, I will do as you recommended.

Another issue since update to 21.2.3: using store.update() leads to a TypeScript error:

[code]
[code]
The usage of store.insert() leads to no error.

[2021-11-12 12:03] IlyaKhD commented on #17885
@ManuelHaas, please check this ticket: [T1044241](https://supportcenter.devexpress.com/ticket/details/t1044241/basic-types-are-not-assignable-to-the-type-deeppartial-any). If you log in to the [SupportCenter](https://supportcenter.devexpress.com), you can track and comment it.

[2021-11-12 13:45] cesco69 opened #20057 "[Suggestion] Optimize SASS import"
Importing the root style

[code]

this style also import

[code]

this style also import

[code]
Now, if i don't want the scheduler, I can't disable the import...

A possible solution is make the import of the widget conditionally.

Just wrap your styles in the optional file as a sass mixin:

[code]

Then use the if-statement of sass to include the mixin

[code]

at this point the developer can ex

[2021-11-12 14:59] ManuelHaas commented on #17885
@IlyaKhD Thanks for creating a ticket for the issue.

[2021-11-13 11:37] nigrosimone commented on #20057
Really good idea. Now the final CSS is very large.

[2021-11-15 08:49] konstantinschuette commented on #16775
I also created a ticket: https://supportcenter.devexpress.com/ticket/details/t1044673/form-required-label

[2021-11-15 15:33] LukasK07 commented on #17885
Any news on loadoptions here?

[2021-11-15 16:34] jurisv commented on #16775
+1

[2021-11-16 12:52] VinzzB commented on #16455
Hello @IlyaKhD : I've created a new project where the same errors are thrown in my VS19 environment.

Have a look at: https://github.com/VinzzB/DevExtremeTsTagBoxTest . (see App.tsx file)

Could this be a mismatch between my local npm and Visual studio? If i run 'npm run build' in a terminal window it will compile successfully. Only VS19 will show these errors.

[2021-11-17 10:29] IlyaKhD commented on #17885
@LukasK07, we're going to include it in the next v21.1 minor update, and it is already available in v21.2.3:

[code]

[2021-11-22 06:03] Sixish commented on #17885
Some types we're using - any recommendation for replacement?

We're using dxScrollable so that we can programmatically measure and manipulate the scroll position.

We have a custom global extension to the JQuery object to provide DevExtreme callbacks. These seem to not have corresponding definitions.
[code]

We're using `DevExpress.viz.BaseGauge` as a generic type for all types of gauges - circula

[2021-11-22 15:51] ydg2018 commented on #17885
We have a component that is used to show different overviews and each overview creates a different set of columns which are created in the TS file and passed along to the datagrid/treelist via the columns property. For the array of columns in the ts file we use the GridBaseColumn as it can be of type dxTreeListColumn or a dxDataGridColumn and only a few columns use the extra properties the Column

[2021-11-24 11:53] IlyaKhD commented on #16455
@VinzzB, thanks for the example - it helped a lot!

I managed to reproduce and investigate this issue.

The `onCustomItemCreating` problem is already fixed. The fix is included in the upcoming minor update: v21.2.4.

The `ref` problem is connected to the way Visual Studio resolves modules when searching for types.

I recommend the following:

1. Add a tsconfig.file to ClientApp. I think the best o

[2021-11-24 13:21] IlyaKhD commented on #17885
@Sixish, we do not recommend using these components at runtime because they are not public and are subject to change.
You can submit a ticket to our [Support Center](https://www.devexpress.com/ask) and describe your usage scenarios in detail. We'll see if we can recommend a public API for your tasks.

This case requires the type only, I recommend you define a union:

[code]

[2021-11-24 13:24] IlyaKhD commented on #17885
@ydg2018, you can define a union type:

[code]

We've recently updated these declarations:

Make sure you're using the latest version (v21.2.6/v21.2.3). It was confusing, you're right)

[2021-11-24 18:11] VinzzB commented on #16455
Hello @IlyaKhD : The tsconfig file is automatically generated (as you explained). I noticed that this file wasn't checked in when I pushed my test project to Git. My mistake. Luckily it was just the default tsconfig.

Your second step (adding tsconfig.json in VS projectfile) resolved the 'ref' issue in my projects. Thanks!

[2021-11-26 13:46] #12236 closed, assigned to jsdmitry

[2021-11-26 14:20] DokaRus commented on #16538
In v21.2 we added the following improvements:

- [Context menu](https://js.devexpress.com/Documentation/21_2/ApiReference/UI_Components/dxHtmlEditor/Configuration/tableContextMenu/) for table operations and customization
- Render a table header as the `<thead>` tag in table markup
- Support multiline text in cells
- [Soft-break](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dx

[2021-11-28 19:48] ghost commented on #18013
Do you have any idea?

[2021-11-28 19:48] ghost commented on #18013
Do you have any idea?

[2021-11-30 08:53] Semigradsky opened #20356 "[TypeScript] `Format` type is `any`"
devextreme@21.2.3

https://github.com/DevExpress/DevExtreme/blob/af935aaa8297b1fd57bfa065323d0e4aece667c8/js/localization.d.ts#L109-L120

`Format` type is union type with `any`, so `Format` is `any`.

![image](https://user-images.githubusercontent.com/1198848/144015267-e49e24ec-ee99-4b66-9610-9205a5176bfb.png)

---

As I see it was broken in #17641

[2021-12-02 10:42] mfuatnuroglu commented on #17885
I am trying to import the following types:
1-  CustomRule like `import { CustomRule } from "devextreme/ui/validation_rules"`
2- import { dxFormButtonItem, dxFormEmptyItem, dxFormGroupItem, dxFormSimpleItem, dxFormTabbedItem, } from 'devextreme/ui/form';

Are there any alternatives to these types?

[2021-12-02 11:52] IlyaKhD commented on #17885
@mfuatnuroglu, as for v21.1.6/v21.2.3, you can use these types instead:

[code]
 `CustomRule` is already on the list, thanks.

[2021-12-02 13:50] mfuatnuroglu commented on #17885
What can I use for EditorOptions?
import {EditorOptions} from 'devextreme/ui/editor/editor';

[2021-12-03 08:53] Semigradsky opened #20424 "[TypeScript] Types incompatibility - can't define options in constructor"
Working code in devextreme@21.1.4, but doesn't work in devextreme@21.2.3:
[code]
Error message:
[code]

A possible solution for me:
[code]

[2021-12-03 09:01] IlyaKhD commented on #17885
@mfuatnuroglu, this module is a part of the internal implementation.
If you need a type that matches different editors properties, define a union:

[code]

[2021-12-03 14:55] mfuatnuroglu commented on #17885
What is the alternative for DOMComponent?

`import DOMComponent from 'devextreme/core/dom_component';`

[2021-12-09 07:39] alexserov commented on #20424
Hello @Semigradsky,

Thank you for reporting this issue and sharing a workaround. I've reproduced the error in a sample app. We'll update this thread once we have any news.

[2021-12-09 16:58] ilyapavlovdx commented on #17885
@mfuatnuroglu Hi, There are no alternatives for this type. Could you please share the source file where this type is referenced?

[2021-12-10 08:32] timothyBrake commented on #17885
HI, we are using it to override the CTRL+F functionality for ALL DataGrids as this is our own quick search feature anywhere in the application. Now when user is positioned in a DataTable and presses CTRL+F the datagrid feature is called but we need our own feature. We configured it using but this gives errors in DevExtreme Angular 21.2:

[code]
How can we get the same result in DevExtreme 21.2?
Th

[2021-12-10 09:38] LuxD88 commented on #17885
Hi, we use _GridBase_ and _dxElement_ in some internal interfaces but they are marked as deprecated now.
My question is: it there or is there going to be new interfaces/classes that we could use instead?

Here an example of one of our interfaces:
[code]

[2021-12-10 09:42] ManuelHaas commented on #17885
New issue after update from 21.2.3 to 21.2.4: CustomStore load method does not accept $.ajax() return value:

[code]
Leads to:
`Error	TS2322	Build:Type '() => JQuery.jqXHR<any>' is not assignable to type '(options: LoadOptions<any>) => any[] | GroupItem<any>[] | PromiseType<any[] | GroupItem<any>[] | { data: any[] | GroupItem<any>[]; totalCount?: number; summary?: any[]; groupCount?: number; }>'.`

[2021-12-10 11:19] mfuatnuroglu commented on #17885
@ilyapavlovdx
Hello,
I am using it as the return type of  `getInstance` function.
For example:
`const dxFormInstance: DOMComponent = dxForm.getInstance(domElement);`

The source file path is:  `node_modules/devextreme/core/dom_component`

[2021-12-10 13:18] ilyapavlovdx commented on #17885
Hi @mfuatnuroglu,
DOMComponent does not contain the widget specific API.
Please check if you can use the following configuration instead:
[code]

[2021-12-10 13:54] alexserov commented on #17885
Hi @timothyBrake, to resolve the TS error from your code snippet, specify the generic parameter of the `defaultOptions` method as follows:
[code]

[2021-12-10 14:36] alexserov commented on #17885
Hi @LuxD88,

`GridBase` and `dxElement` are not designed for direct usage. Depending on your scenario, consider using the `dxDataGrid` or `dxTreeList` instead of the `GridBase`. As for the `dxElement`, you can replace it with the `JQuery<T>` if you use jQuery in your app, or with the `HTMLElement` if you don't use it.

[2021-12-10 14:55] alexserov commented on #17885
Hi @ManuelHaas,

It looks like a regression in 21.2.4. I've created a ticket in our Support Center: [CustomStore.load method does not accept the $.ajax() return value](https://supportcenter.devexpress.com/ticket/details/t1051918/customstore-load-method-does-not-accept-the-ajax-return-value)

[2021-12-10 18:28] dan979 commented on #17885
Hello.

I was using rect ref to focus a form field this way on V20.2.9
`formRef.current?.instance.getEditor("myField").focus()`

But now I got the message

This is my form

[code]

How can I get it working again?

[2021-12-13 07:12] #20356 closed, assigned to alexserov

[2021-12-13 14:55] IlyaKhD commented on #17885
@dan979, this requires detailed examination. Please create a sample project and submit a ticket to our [Support Center](https://www.devexpress.com/ask).

[2021-12-13 15:53] IlyaKhD commented on #17885
Recent releases (v21.1.7 and v21.2.4) include some updates on types.

Replacements added:

- `PositionConfig` instead of `positionConfig`:
[code]
  - `CustomOperation` instead of `dxFilterBuilderCustomOperation`
[code]
- `Field` instead of `dxFilterBuilderField`
[code]

- use `LoadOptions` from the `'devextreme/data'` module instead of `'devextreme/data/load_options'`
[code]

Other updates:
- the

[2021-12-14 15:27] alasoft commented on #19076
I have a detected a possible problem with new dxDataGrid toolbar implementation, can I comment that here ?

Robert

[2021-12-16 15:22] Semigradsky commented on #20424
Another possible solution:
[code]

[2021-12-17 19:56] jakehockey10 commented on #19076
I'm attempting to use this for the first time, and I can't get the `addRowButton` customization to work:

[code]

Despite what I put in the options, it still has the default look and feel for the material theme.  Am I not using the options correctly?

[2021-12-19 14:48] COBRASoft5 commented on #17885
I'm also using the devices, why would you deprecate these?

[2021-12-22 03:55] MeNarayan opened #20635 "dxDataGrid toolbar issue in version (21.2)"
Regarding devextreme js (jQuery) version 21.2.

In previous version of devextreme there was a option to create toolbaritems "onToolbarPreparing" but not it was replaced with toolbar object with items array. And there was a feature to export data to excel export: { enabled: true}. I think excel exporting feature is still the same as the previous version. But while I changed **onToolbarPreparing** t

[2021-12-22 09:27] ilyapavlovdx commented on #17885
Hi @COBRASoft5,
We temporarily marked the DevExpress.devices type as deprecated while we review/refactor it. Once we finish, we will remove the deprecation mark and update this thread. At present, you can continue using the existing type.

[2021-12-22 16:28] onebalaban commented on #20635
Hi,

In the case of the Toolbar customization, you need to add built-in items explicitly. For instance, have a look at the `columnChooserButton` toolbar item in this demo: https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ToolbarCustomization/jQuery/Light/

Please refer to the [toolbar.items](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDataGrid/Configuration/too

[2021-12-23 11:05] nil-s-s commented on #17885
After updating to 21.2.4 and reviewing all uses of deprecated we have still some left in our code:

- `Store` from the `'devextreme/data/abstract_store'` module.
   Used for example in custom type-guard:
[code]
- `Properties` from `'devextreme/ui/overlay'`
  We use this as base type to show any devextreme or own component derived from overlay modal. A union type of the `Properties` of `LoadPanel`,

[2021-12-24 04:51] MeNarayan commented on #20635
Thank you so much.

[2021-12-24 17:33] gobinathpandi commented on #17885
in .ts file.

I have used below line to import DataSource.
`import DataSource from "devextreme/data/data_source";`

we have user defined type like below:
`export interface GridOptions<T> extends DevExpress.ui.dxDataGridOptions`

And then trying to create GridOptions<T> with dataSource property assignation like below,

[code]

but, giving below error:

[code]

But after changing the initialization

[2021-12-28 10:34] IlyaKhD commented on #17885
@Nils-S-2020, the `Store` class is a part of internal implementation, I recommend modifying this guard function in this way:

[code]

Could you please share an example demonstrating why the union type is not sufficient?

[2021-12-28 10:42] IlyaKhD commented on #17885
@gobinathpandi,
Thank you for submitting an issue to the [SupportCenter](https://supportcenter.devexpress.com/), we'll examine it in detail.

[2021-12-28 13:17] nil-s-s commented on #17885
@IlyaKhD, a type-guard implemented in that way instead of `Store` will not help narrowing down a dataSource of type `DataSourceLike`. I have created an example in[ CodeSandBox](https://codesandbox.io/s/type-guard-che3j?file=/Helper.ts). It should be narrowed down to `DataSourceOptionsStub`, that works when using `Store`, but not with a union of derived Store classes.

[2021-12-28 13:44] gobinathpandi commented on #17885
I have raised the similar issue in below ticket, which is private. attached the small project to reproduce the issue.
https://supportcenter.devexpress.com/ticket/details/t1055662/upgrade-20-1-8-to-21-2-4-build-errors

[2021-12-29 22:01] shant1988 opened #20725 "DataGrid: Virtual scrolling with duplicate keys"
When virtual scrolling is enabled and duplicate keys are present, the DataGrid seems to re-render constantly.
Workaround: Set the DataGrid option "scrolling.legacyMode" to true.

### Steps to Reproduce:
React:
1. Go to: https://codesandbox.io/s/data-grid-duplicate-keys-w-virtual-scrolling-hhy8w?file=/App.js
2. Click on "Edit" in either row

jQuery:
1. Go to: https://codepen.io/s-bay/pen/vYeZLLp
2.

[2022-01-03 05:21] M-Jafarkhani commented on #15946
Dear mhmdali98,
Thanks for your help on localization, that was really helpful for me to translate to Persian. However, on sections related to dxFileManager, some keys should be renamed. For example, sections starting from "dxFileManager-editCreateSingleItemProcessingMessage" to "dxFileManager-editUploadCanceledMessage", keywords are incorrect. We should replace "edit" with "editing". So the correc

[2022-01-03 15:19] AprilPolubiec commented on #17885
what are the alternatives for the following 3 validation rules?:
[code]

[2022-01-10 08:34] sceyhuns opened #20747 "Need locale option for ODataStore when using "filterToLower: true""
When using ODataStore with option "filterToLower: true" it lowers filters with js default locale, but we need to set locale maually.

[2022-01-13 00:55] samueltuckey commented on #17885
Hey

My company is using a remote datasource (API) for the devextreme grid. We translate the loadOptions datastructure into a URL that our API accepts.

The deprecation of the BaseGroupDescriptor means that typescript no longer recognises loadOptions.sort[index].selector, loadOptions.totalSummary[index].selector, loadOptions.group[index].selector

This means that without explicit casting we cannot

[2022-01-14 02:23] samueltuckey commented on #17885
The loss of all these types is causing a lot of typescript issues for us.

We use a lot of the grid functionality. Because our grids act in a similar fashion we have put together a generic grid that sets up a lot of our default grid functionality by code.

With the new interface I cannot determine how to setup the following by code (without using deprecated functionality):
- configure datagrid too

[2022-01-17 12:05] mrparag94 opened #20828 "[Question] Tailwind Theme"
Any plan to make a tailwind Theme for DevExtrem...?

[2022-01-18 13:22] Bykiev commented on #17885
Hi, is it possible to add `getScrollable()` and `Scrollable` type to the `treeView` item? When the data source changed the scroll position is reset and before it we're searching for `'.dx-scrollable'` class and saving scroll position and restoring back after data source change.

If it's not possible, `Scrollable` type from `devextreme/ui/scroll_view/ui.scrollable` should be not deprecated

**Updat

[2022-01-18 14:02] maya-harel opened #20846 "Filter arguments are changed after submitting"
I am working with DevExtreme's `DataGrid` object, using its `FilterPanel`

When creating a filter like this:
![image](https://user-images.githubusercontent.com/24511342/149951626-c67a6c65-0833-421c-bb5c-a903a9e81de4.png)

After hitting send and opening the filter again, it changes:
![image](https://user-images.githubusercontent.com/24511342/149951652-023da51a-d918-4974-9852-8c1e607bb33c.png)
![ima

[2022-01-18 15:20] dallatorre commented on #17885
Hi, i need this event working:

`<SelectBox items={languages}  onValueChanged={onValueChanged}/>`

`const onValueChanged = (e : NativeEventInfo<SelectBoxInstance, KeyboardEvent | Event | MouseEvent | PointerEvent> & ValueChangedEvent) => {
      setLanguage(e.value);
    }`

SelectedBoxInstance seems deprecated.

[2022-01-18 23:56] #20057 closed, assigned to nobody

[2022-01-18 23:56] #19906 closed, assigned to nobody

[2022-01-19 10:02] NguyenEngine commented on #17885
```import Chart, { baseSeriesObject } from 'devextreme/viz/chart';```

I am using the baseSeriesObject to call "getAllPoints()" in order to iterate over them. The goal is to show certain labels of specific points disregarding of the hover/select behaviour of the chart.

[2022-01-20 08:02] foaudkajj opened #20878 "TreeList - Editing Form - Form not extended when the editors extends"
### Steps to Reproduce:

1. Open the [sandbox](https://eqrl7.csb.app/).
2. Edit the last row of the `TreeList` and add three or four new rows to the `DataGrid` under the `Custom Date Field` label.

### Results You Received:
The save, cancel buttons and some parts of the form are hidden and it is not possible to save the form.

### Results You Expected:
The editing form should extend after adding t

[2022-01-21 13:40] #20424 closed, assigned to nobody

[2022-01-24 08:17] chainalert-bot opened #20919 "ChainAlert: npm package release (21.2.5) has no matching tag in this repo"
Dear [devextreme-themebuilder](https://npmjs.com/package/devextreme-themebuilder) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (21.2.5) of [devextreme-themebuilder](https://npmjs.com/package/devextreme-themebuilder) was published without a matching tag in this repo**.

Our service monitors the open-so

[2022-01-24 09:19] #20635 closed, assigned to onebalaban

[2022-01-24 12:53] onebalaban commented on #20828
Hi,

Could you please elaborate on this? Do you mean the [Tailwind](https://tailwindcss.com/) support or something else?

[2022-01-24 12:53] onebalaban commented on #20725
Hello,

The keys MUST be unique in order for editing, sorting, filtering, etc. to work properly. Could you please elaborate on how such keys have appeared in your data source?

[2022-01-24 12:58] onebalaban commented on #20919
@babich-a

[2022-01-24 13:15] onebalaban commented on #20747
Hi,

Could you please submit a ticket to our [Support Center](https://devexpress.com/ask) and attach a [test project](https://community.devexpress.com/blogs/ctodx/archive/2009/01/08/a-request-for-simple-example-programs.aspx) to demonstrate the issue? We'll research it and do our best to find a solution.

[2022-01-24 13:15] #20747 closed, assigned to onebalaban

[2022-01-24 13:22] onebalaban commented on #20846
Hi,

This behavior is expected. Your filters in the first screenshot mean that your DataGrid should create the following statement: filter by "Health service area" AND "Hospital county" AND one of the conditions specified under the "OR" statement. Since there is only one dataField ("Gender"), the filter representation is simplified to match the applied filter - the "OR" statement is simply not nec

[2022-01-24 13:51] babich-a commented on #20919
https://github.com/DevExpress/DevExtreme/releases/tag/21.2.5

[2022-01-24 13:51] #20919 closed, assigned to onebalaban

[2022-01-24 15:10] onebalaban commented on #20878
Hello,

Such issues can occur if custom content is used in templates because TreeList cannot track changes made inside templates.

You can use the `onRowInserted` event handler to resolve the issue:
`  onRowInserted(e) {
    this.treeList.instance.updateDimensions();
  }`

Have a look at the following example: [CodeSandBox](https://codesandbox.io/s/form-editing-devextreme-data-grid-forked-3ml9q?fi

[2022-01-24 15:25] ilyapavlovdx commented on #17885
Hi @AprilPolubiec and @samueltuckey,

Thank you for your feedback!

We are in the process of updating our TypeScript types. We temporarily marked certain TS definitions as deprecated while we are reviewing and refactoring them. We are collecting and analyzing usage scenarios to develop an optimal API.

We will remove the deprecation mark and update this thread once we finish reviewing the validati

[2022-01-24 15:26] IlyaKhD commented on #17885
@Bykiev, we checked dxTreeView's `getScrollable` method and found no reason to keep it private. Once we change declarations, we'll update this thread. Thank you for the report!

[2022-01-24 15:33] ilyapavlovdx commented on #17885
Hi @dallatorre,

You can use the ValueChangeEvent type to define the event handler argument:

[code]

[2022-01-24 17:41] ilyapavlovdx commented on #17885
@NguyenEngine,
Thank you for your report. The baseSeriesObject type is in our TO-DO list. We will update this thread once we review this declaration.

[2022-01-25 01:54] devbean commented on #16468
Our application is based on DevExtreme Angular a lot, especially `DxDataGrid`, form controls and some charts.

One problem we found is DevExtreme components have some dx-events like `onValueChanged` as well as some ng-events like `valueChange`. These two events are different in some components like `DxSelectBoxComponent`. So I hope these could be fixed in future native versions. If the components

[2022-01-27 08:25] onebalaban commented on #19076
@alasoft sure

[2022-01-30 11:50] mrparag94 commented on #20828
@it's kinda like this you have support for talwind and also have a default ui theme (built in)

[2022-01-31 04:50] chetbis commented on #17885
```import Scrollable from 'devextreme/ui/scroll_view/ui.scrollable';```

I am using scrollable to enable scrollbars on the column chooser  and it gives me deprecation warning.

I always want to show the scrollbar on the column chooser.
[code]

[2022-01-31 16:26] varosengineer commented on #17885
The `dxValidationGroupResult` interface from `'devextreme/ui/validation_group'` is for internal purposes only but there is no alternative.

[code]

[2022-02-01 15:38] itd-sw commented on #17885
We have a calculateSummaryValue function in the PivotGrid.
Its type includes `dxPivotGridSummaryCell`, which is only for internal use. There is no alternate type proposed for usage:

[code]

[2022-02-01 17:33] ilyapavlovdx commented on #17885
Hi @chetbis,
Scrollable is an internal component. Therefore, it is marked as deprecated. If this issue is critical, please submit a ticket to our [Support Center](https://supportcenter.devexpress.com/ticket/create). We will check if there is an alternative solution.

[2022-02-02 06:18] jt-pt-dev commented on #7268
How is the progress on this? I would love to be able to upload files with the HtmlEditor. I am happy to stitch together parts if it is not done yet but an example would be great. The project we have in mind is Blazor WASM and it embeds the HtmlEditor.

[2022-02-02 21:43] gabestrom opened #21066 "OnRowPrepared is being called repeatedly to the point of crashing the page."
**Package versions:**

    devexteme version: 21.2.4
    devextreme-react version: 21.2.4

**Steps to reproduce:**

- I have reproduced the issue here: https://codesandbox.io/s/t1064490-forked-i91bl?file=/App.js
- To repo change scroll mode from normal to virtual and watch the console logs.

**Current behavior:**
When loading the page if virtual scrolling is enabled OnRowPrepared is immediately th

[2022-02-07 20:23] #20878 closed, assigned to onebalaban

[2022-02-07 20:23] #20846 closed, assigned to onebalaban

[2022-02-07 20:24] #20725 closed, assigned to onebalaban

[2022-02-08 01:21] kylestev commented on #17885
My team also has a need to use `dxPivotGridSummaryCell`. In [a previous comment in this thread](https://github.com/DevExpress/DevExtreme/issues/17885#issuecomment-896672207), it was announced that `SummaryCell` was the correct replacement for `dxPivotGridSummaryCell`. This appears to no longer be an exported type.

What should we use as a type for the parameter passed to `Field.calculateSummaryVal

[2022-02-08 01:41] kylestev commented on #17885
@itd-sw if you want, you can use this typescript type declaration to extract the type from the `calculateSummaryValue` function:

[code]

[2022-02-08 08:45] onebalaban commented on #20828
We don't have a pre-built Tailwind theme for our components. As for Tailwind support, our components use their own CSS rules and don't depend on third-party CSS frameworks like Bootstrap, Tailwind, etc. In the meantime, you can add Tailwind to your project and use its CSS classes to stylize markup/elements of DevExtreme components.

[2022-02-08 08:45] #20828 closed, assigned to onebalaban

[2022-02-08 08:55] onebalaban commented on #21066
Hello,

Keys MUST be unique in order for editing, sorting, filtering, etc. to work properly. Please refer to the ticket you recently submitted (T1064490).

[2022-02-08 08:55] #21066 closed, assigned to onebalaban

[2022-02-11 08:50] theoneand2 commented on #7295
@[hakimio](https://github.com/hakimio)

Brilliant Solution.
Wrapp the item which may change in a separate group and everything works fine. Thx

[2022-02-11 12:47] ilyapavlovdx commented on #17885
Hi @alavaros,
The dxValidationGroup.validate() method returns the [ValidationResult](https://github.com/DevExpress/DevExtreme/blob/426c8f0401ceae5131f0a6bb5eff6ea2fbdc6b7e/js/ui/validation_group.d.ts#L67) object. Here is a link to its type: [ValidationResult](https://github.com/DevExpress/DevExtreme/blob/426c8f0401ceae5131f0a6bb5eff6ea2fbdc6b7e/js/ui/validation_group.d.ts#L71). Let me know if this

[2022-02-11 13:43] ilyapavlovdx commented on #17885
Hi @itd-sw and @kylestev,
Thank you for your report. We will review the dxPivotGridSummaryCell and SummaryCell types and the relevant API. We will update this thread once we are done.

[2022-02-11 16:27] nablerick commented on #7268
I'm interested in this as well. Drag and drop is not intuitive enough to be useful. The solution proposed by the original poster looks great for my use case. It's much more useful to upload an image from local explicitly explained in the UI. Thank you!

[2022-02-15 12:01] andrew-vdb opened #21131 "Dropdown multiple selection css is broken"
### Steps to Reproduce:

1. Go to https://js.devexpress.com/Demos/WidgetsGallery/Demo/DropDownBox/MultipleSelection/Vue/Light/
2.
3.

### Results You Received:
![image](https://user-images.githubusercontent.com/12871379/154058052-aefb11f5-0588-4a52-8bbe-af28a60fff9f.png)

### Results You Expected:
The checkbox should be visible right

### Environment Details:

"devextreme": "21.2.5",

[2022-02-15 15:08] andrew-vdb commented on #21131
```<DxSelection mode="multiple" show-check-boxes-mode="always" />```

[2022-02-15 15:08] #21131 closed, assigned to nobody

[2022-02-16 11:58] alexander-kotov-dx commented on #7268
Hello,
I am happy to inform you that we plan to release HtmlEditor Image Uploading in v22.1.
We have already started the development of this feature, however, it is too early to demonstrate it in examples. We will update this page once we have any news.

[2022-02-18 04:19] peterrogov commented on #17885
I am making a custom form input component that is built on top of DevExpress SelectBox. For my component to work I need to pass a `dataSource` prop and pass it through to the SelectBox. This is basically what I am trying to do:

[code]

However, `DataSourceLike` is internal and it is not clear what is the correct way to achieve the same.

Another workaround that I use is this
[code]

Not sure what

[2022-02-18 12:51] MattiaFontana997 opened #21170 "Problem With CustomStore Remove"
### Steps to Reproduce:

1.  Create CustomStore
2.  Create Remove  with Key Method

### Results You Received:
Can't Bind PromiseLike<Void> to Promise<void>

### Results You Expected:
Promise<void>

### Environment Details:

Version 21.2.5
Firefox
Windows 10

[2022-02-25 22:46] dulfe commented on #17885
We have multiple CustomStore and that used `LoadOptions`, which in turn uses `SummaryDescriptor` for summary, this is declared as:

[code]

Both, `KeySelector `and `BaseGroupDescriptor `are marked as `deprecated`. What is the public replacement?

Thank you.

[2022-02-27 09:44] eliseurm commented on #17885
Hello, I use to implement a solution that makes it possible to wrapper columns.
I would love to see a definitive solution to this need.

See the solution in these comments.
https://github.com/DevExpress/devextreme-angular/issues/473

[2022-03-09 08:31] onebalaban commented on #21170
Hi,

Please submit a ticket to our [Support Center](https://devexpress.com/sc). Attach a test project to the ticket to demonstrate the issue. We'll review it and do our best to find a solution.

[2022-03-09 08:31] #21170 closed, assigned to onebalaban

[2022-06-09 12:14] renovate[bot] opened #21856 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `.github/renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: packageRules[1].matchPackageType, Invalid configuration option: packageRules[2].matchPackageType`

[2022-06-10 08:33] #21856 closed, assigned to nobody

[2022-06-28 11:07] Zedwag commented on #7130
Hello,

We added a possibility to stack Toasts via [Notify](https://js.devexpress.com/Documentation/ApiReference/Common/Utils/ui/#notifyoptions_stack) in v22.1. Also, we added [hideToasts](https://js.devexpress.com/Documentation/ApiReference/Common/Utils/ui/Methods/#hideToasts) to make interaction with multiple Toasts easier. See [What's New](https://js.devexpress.com/New/22_1/) and [Toast Stack](

[2022-07-07 13:34] EugeniyKiyashko commented on #14345
Hello,

In v22.1, we introduced a new [PDF exporting API](https://js.devexpress.com/Documentation/ApiReference/Common/Utils/pdfExporter/#exportDataGridoptions).

The new implementation of exporting a DataGrid to a PDF document doesn't use the AutoTable plugin anymore. After using this plugin within the CTP period, our customers encountered a large number of issues that we could not affect and we c

[2022-07-07 13:34] #14345 closed, assigned to EugeniyKiyashko

[2022-07-07 14:30] dxbykov commented on #14354
Thanks to everybody who gave us feedback on this feature. The feature is available in v20.2. I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2022-07-07 14:30] #14354 closed, assigned to Romzay

[2022-07-07 15:29] Alyar666 commented on #16595
These features are now available in DataGrid in the [v21.2](https://github.com/DevExpress/DevExtreme/releases/tag/21.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://supportcenter.devexpress.com/).

[2022-07-07 15:29] #16595 closed, assigned to jsdmitry, NickMitrokhin

[2022-07-07 15:29] Alyar666 commented on #19076
These features are now available in the [v21.2](https://github.com/DevExpress/DevExtreme/releases/tag/21.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://supportcenter.devexpress.com/).

[2022-07-07 15:29] #19076 closed, assigned to NickMitrokhin, pomahtri

[2022-07-08 05:39] AlisherAmonulloev commented on #15364
@petr-slipek Please accept my apologies for a significant delay in processing your PR: #15365. We finally checked and merged the suggested translations. We appreciate your contribution! I am currently making cherry-picks of the merged PR to be sure all new versions contain the translations.

[2022-07-08 05:39] #15364 closed, assigned to AlisherAmonulloev

[2022-07-11 14:23] groshenkovamarina commented on #16775
Thanks to everybody who gave us feedback on this feature. The feature is available in v21.2. I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2022-07-11 14:23] #16775 closed, assigned to groshenkovamarina

[2022-07-11 14:41] ksercs commented on #7268
We released Image Uploading in v22.1. See [DevExtreme Whats New 22.1](https://js.devexpress.com/New/22_1/#HTML-Markdown-Editor). Now the following ways to add an image are supported:
1. Using the image URL
2. Drag-and-drop or paste from the clipboard encoding the image in base64
3. Upload from a device encoding the image in base64 or uploading it to a server

You can use the new [ImageUpload](http

[2022-07-11 14:41] #7268 closed, assigned to DokaRus, jsdmitry, alexander-kotov-dx

[2022-07-11 14:43] ksercs commented on #16538
We released most of the improvements described in this thread in v21.2. The Cell Merge/Split feature is temporarily postponed, but we'll consider the ability to implement it in future releases.

Thanks to everybody who gave us feedback on Table management enhancements. I'm closing this thread. In case of future questions, feel free to create a new ticket in our [Support Center](https://www.devexpr

[2022-07-11 14:43] #16538 closed, assigned to DokaRus

[2022-07-11 14:45] ksercs commented on #16455
Thank you everybody, who gave us their feedback on this feature. We've implemented the major part of the typing enhancements. We'll be fixing specific issues as they appear. I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2022-07-11 14:45] #16455 closed, assigned to IlyaKhD

[2022-07-11 14:46] ksercs commented on #14351
Thanks you everybody, who gave us feedback on this feature.  I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2022-07-11 14:46] #14351 closed, assigned to IlyaKhD

[2022-07-11 14:46] ksercs commented on #13654
Thank you everybody, who gave us feedback on this feature. I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2022-07-11 14:46] #13654 closed, assigned to babich-a

[2022-07-11 14:55] ksercs commented on #14285
Thank you everybody, who gave us feedback on this feature. The feature is available in v21.1. I'm closing this thread. In the case of bugs or questions, feel free to create a new ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2022-07-11 14:55] #14285 closed, assigned to AntonSermyazhko, AryamnovEugeniy

[2022-07-19 17:55] IlyaKhD commented on #17885
Hi everyone!
Since comments are closed on this thread, please use [Support Center](https://www.devexpress.com/ask) to ask questions about deprecated types and replacements.

[2022-09-13 17:14] Bykiev opened #22635 "improve typescript typing"
Hi, to get the component in Angular the recommended way is casting component instance to specific type:

`const popup = Popup.getInstance(popupElement) as Popup;`

But in strict mode it will cause such error:

I believe it should be a better way than casting to unknown. It'll be better if `getInsance` method will return `Popup` instead of `DomComponent<Properties>`

**Upd**: with PivotGrid there i

[2022-09-13 18:02] Bykiev opened #22636 "popup elementAttr deprecation"
Hi, since popup `elementAttr` prop is deprecated it's not possible to get dataGrid editing popup instance via `id` property. It needed to enable/disable popup fullScreen mode with toolbar buttons (similar to maximize/minimize in Windows). Is any way to get editing popup another way?

[2022-09-15 09:24] tranhoangtam opened #22664 "dx.all.js:9 [Violation] 'setTimeout' handler took"
### Steps to Reproduce:

1.
2.
3.

### Results You Received:

### Results You Expected:

### Environment Details:

[2022-10-01 09:33] necipsunmaz opened #22800 "DataGrid RowFilter OData Lookup Bug"
# Bug Report

Hi, we upgraded devextreme-angular 21 to 22 with Angular 13 major version. But all pages grid row filter doesn't work expected. I created sample app for this issue, please check it.

Thanks.

**Package versions:**

    devexteme version: 22.1.5
    devextreme-angular version: 22.1.5
    angular version: 13.3.0

**Steps to reproduce:**
Sandbox Example App: https://m894v5.csb.app/
Sand

[2022-10-05 06:34] Marileni commented on #14345
Hello,

I have a problem displaying Greek characters in generating PDF.
Is there any way in order to fix this?

![1](https://user-images.githubusercontent.com/94244395/193996000-6d1e4522-b08e-402c-af81-7a86cbf24622.jpg)

![2](https://user-images.githubusercontent.com/94244395/193996024-bfefd7b7-36a3-437a-ac29-919dbc92f8be.jpg)

[2022-10-12 17:09] Bykiev opened #22883 "[feat] Popup - add maximize/restore and collapse/expand buttons in toolbar"
Hi, it'll be very useful if you'll add maximize/restore and collapse/expand (to right/left corner) buttons on popup toolbar. While it's technically possible to implement it by myself, it'll be more easy to use. Let's make a poll and see results.

[2022-10-12 17:11] Bykiev opened #22884 "[feat] TreeList - export to excel"
Export to Excel is very old issue, but still is not in a roadmap. I don't know why it's so difficult to implement, but it's still not in TODO list.

[2022-10-12 17:13] Bykiev opened #22885 "[feat] DateBox - allow selecting ranges"
Many date controls support selecting date range, but not DevExtreme. Let's make a poll and see if'll be useful for anyone.

[2022-10-14 06:10] Bykiev opened #22898 "[Feat] DataGrid - allow user input in pager size selector"
Right now dataGrid doesn't support user input in pager size selector, it'll be useful to allow user input

[2022-11-08 07:04] artem-kurchenko commented on #22898
Thank you for the suggestion. We haven't received many requests for this feature before. Anyway, we'll consider this idea and update our Roadmap for next year if we decide working on this feature.

[2022-11-08 07:04] #22898 closed, assigned to nobody

[2022-11-08 07:09] artem-kurchenko commented on #22885
Hi,

Yes, we realize that this feature will be useful out of the box.  We'll update our [Roadmap ](https://js.devexpress.com/Roadmap)for next year if we decide working on this feature.

[2022-11-08 07:09] #22885 closed, assigned to nobody

[2022-11-08 07:14] artem-kurchenko commented on #22664
Hi,

The steps to reproduce the issue are not clear. Please submit a full report here or in the [Support Center](https://supportcenter.devexpress.com/ticket/create)

[2022-11-08 07:14] #22664 closed, assigned to nobody

[2022-11-09 09:39] H-Frederick commented on #23135
Hi,

This behavior occurs for localized projects. We have [dictionaries](https://js.devexpress.com/Documentation/Guide/Common/Localization/#Dictionaries) curated from community contributions. You can see them here: https://github.com/DevExpress/DevExtreme/tree/22_2/js/localization/messages

Not all texts have been translated yet. It is necessary to override dictionary strings as a workaround. The

[2022-11-09 09:39] #23135 closed, assigned to H-Frederick

[2022-11-10 12:14] AlisherAmonulloev commented on #22883
Thank you for your suggestion. I forwarded it to the team.

[2022-11-10 12:14] #22883 closed, assigned to AlisherAmonulloev

[2022-11-10 12:29] AlisherAmonulloev commented on #22636
You can use the wrapperAttr option instead:
[code]

[2022-11-10 12:29] #22636 closed, assigned to AlisherAmonulloev

[2022-11-14 06:06] markallenramirez commented on #22884
Hello,

We consider TreeList export an essential feature, and it is definitely a part of our long-term development strategy. We'll update our [Roadmap](https://js.devexpress.com/Roadmap) for next year if we decide to work on this feature.

[2022-11-14 06:06] #22884 closed, assigned to markallenramirez