[2017-04-24 04:14] yeganesalami opened #11306 "Jalali calendar in dxdatebox devextreme"
Hi . How can i change globlizayion of my dxdatebox from gregorian to jalali ?
I know that i have to use globlization.js and cldr.js and dependencies but still when i am using dxdatebox it is not working and says your date.js is not supporting jullian calendar
Is there any when that i change my dxdatebox to julian?
Thanks for your attention

[2017-04-26 20:46] bkniffler opened #16 "React support"
You deep support quite some frameworks, but how about react? Anything on the roadmap?

[2017-04-26 21:39] Mehul commented on #16
Hi Yes, sign up at https://devexpress.com/webinars to learn about our plans.

[2017-04-26 21:39] #16 closed, assigned to nobody

[2017-04-27 14:15] ghost opened #20 "React support"
Are there any suggestions/examples on how to integrate the devextreme components with the react.js view renderer?

[2017-04-27 14:50] NickMitrokhin commented on #20
Hi,

Please take a look at the [Integration with ReactJS](https://www.devexpress.com/Support/Center/Question/Details/T360499) ticket where we discussed a similar issue.

[2017-04-27 14:50] #20 closed, assigned to nobody

[2017-05-03 01:06] ningliaoyuan opened #40 "VueJS Support"
We've used VueJS for building our new product for enterprises. We really want to see some support for VueJS. So that we could start to leverage this powerful UI libraries. Is here the right channel to ask for this?

[2017-05-03 09:51] dxbykov commented on #40
Hi,
 
We are doing research in this regard and considering VueJS support as one of the DevExtreme development directions. At the current stage, it would be extremely helpful to hear some thought and requirements from you.
 
1. What is the main reason you have chosen VueJS among the other alternatives (I mean Angular, React, jQuery)?
 
2. Is it important for you to have the VueJS component built na

[2017-05-04 07:38] ningliaoyuan commented on #40
Thanks @dxbykov.

Glad to know you are already considering the support plan.Can't wait to see it. and we're willing to purchase a business license if VueJS is supported.
Here is my answers to your questions:
1. Too many good articles talking about this in internet. For our case, a) light weight and easy to customize and extend; b) easy learning curve; c) Performance is relative good with almost no

[2017-05-04 12:06] dxbykov commented on #40
Thank you a lot, the information you've provided is really helpful. We'll take it into consideration when planning further VueJS development.
 
I'm closing this thread for now. You are welcome to reopen it if you have any further questions.

[2017-05-16 23:20] lyquocnam commented on #40
+1 support vuejs.
yeah, same with @ningliaoyuan vuejs really simple, fast and easy to resolve a problem.
reactive variable, model binding, storex... i like so much 👍.

Currently, have some framework to make vuejs work with cordova & electron ( [quasar framework](http://quasar-framework.org/) ).
So with DevExtreme controls, i think it can repleace winform, wpf... to write some simple app run anywhe

[2017-05-17 06:42] dxbykov commented on #40
@lyquocnam Thank you for sharing your thoughts and intentions. We'll take them into account.

[2017-05-18 16:13] vizgold opened #162 "devexpressJs filxed bug"
Hello, when I'm using devexpressJs, I find some problems with using filxed column in IE browsers.
1, the reset of $(document.body).Click event will expire and will only be triggered by clicking on the text or the border border.
2, using the right-click menu event will fail and will only be triggered by clicking on the text or the border border.
3, when more than 26 data, the last two data in addit

[2017-05-19 14:18] MarinaRukavitsyna commented on #162
Hi @jikex,
According to the information on the README page, we provide support via DevExpess Support Center. Please contact our support at www.devexpress.com/support

[2017-05-22 09:03] #162 closed, assigned to nobody

[2017-06-01 08:10] mtemel123 opened #273 "dxDropDownBox render problem"
Hi Everyone
dxDropDownBox is different observer in chrome developer tool open and close.

TL:DR
Have you got dxDropdownbox with cascade at runtime.

Ex Code
[code]
[code]
and
[code]

SS:

Chrome Developer tools open (normal run) =>
http://imgur.com/flraPbg

Chrome Developer tools close (error run) =>
http://imgur.com/BHn64vw

other metod trigger $scope.InterviewServiceLoad

[2017-06-02 10:35] artem-kurchenko commented on #273
Hi,
 
Thanks for the code snippets. Our attempts to replicate this issue locally were not successful. Please contact us in our [Support Center](https://www.devexpress.com/support/center/question/create) for more detailed investigation. Otherwise, attach an [online example](https://codepen.io/anon/pen/rwBRvy) illustrating the problem in action.

[2017-06-02 13:29] mtemel123 commented on #273
Thank you for result
I have a question. you think,  is this problem relationship this warning.

this output viewing last few days.

[2017-06-13 09:30] #273 closed, assigned to nobody

[2017-06-23 10:57] dmajkic opened #494 "dxForm and Rails"
I am experimenting with Rails and DevExtreme.

Rails, by default, is expecting name attributes of input elements to be like `model[field]` for example `name="article[caption]"`. At the moment, dxForm items ignores `name` for an item if there is `dataField` specified, and if formData contains keys like `"model[field]"` - binding is broken.

Is it possible to force name of generated input element in

[2017-06-23 12:57] Supriya-Infinx opened #10252 "Angular js with dev extreme"
var app = angular.module('app', [
   'dx'
]);

I am getting this error

Uncaught Error: [$injector:modulerr] Failed to instantiate module app due to:
Error: [$injector:modulerr] Failed to instantiate module dx due to:
Error: [$compile:baddir] Directive name 'DOMComponent' is invalid. The first character must be a lowercase letter
http://errors.angularjs.org/1.4.3/$compile/baddir?p0=DOMComponent

[2017-06-26 13:08] jsdmitry commented on #494
You can set the name option for [editorOptions](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxForm/Item_Types/SimpleItem/#editorOptions) of a simple item as shown in the following example:

    $("#form").dxForm({
        formData: { name: "test" },
        items: [ {
            dataField: "test",
            editorOptions: {
                name: "customName"
            }

[2017-06-26 13:08] #494 closed, assigned to nobody

[2017-06-26 13:18] dmajkic commented on #494
Thank you!

[2017-07-06 14:26] aidanxyz commented on #40
+1 support for Vue.js
We at our company had a huge benefit from just rewriting some pages originally written in jQuery to Vue.js. It's as easy to use as jQuery (just drop a file and good to go), but much more maintainable and shorter due to template directives and reactiveness, and at the same time it's not as complex as Angular or React (but if needed can scale to complex SPAs as well).

[2017-07-06 14:41] aidanxyz opened #654 "Chart doesn't work with UglifyJsPlugin"
### Steps to Reproduce:

1. Setup DevExtreme with Webpack 1
2. Draw a simple chart like:
[code]
3. Use webpack plugin `UglifyJsPlugin` to uglify your javascript code

### Results You Received:
Chart plugin draws only the background but not the actual chart

### Results You Expected:
Beautiful chart is drawn

### Environment Details:
DevExtreme 17.1
Angular 1.5.7
Webpack 1.12.11
Latest Chrome

[2017-07-06 15:15] dxbykov commented on #40
Hi @acutexyz,

Thank you for sharing your thoughts. Could you please tell us if you are already using any VueJS component libraries? Which components are most important for your project that you would expect to get from us?

[2017-07-10 08:31] kodermax opened #671 "Doesn't work cascading lookups"
On the version 17.1.3 doesn't work in a popup edit mode.
https://www.devexpress.com/Support/Center/Example/Details/T334359/dxdatagrid-how-to-implement-cascading-lookup-columns

[2017-07-11 07:42] NikitaKunashov commented on #654
Hello,
We need to know specifics of your building system to check why the chart is not drawn when the UglifyPlugin is used. Would you please send us a minimal project that includes your Webpack config so that we can perform detailed research?

[2017-07-11 11:14] NickMitrokhin commented on #671
Hi @kodermax,

Thank you for bringing this to our attention. I've reproduced the issue. We are going to research it in the context of the [dxDataGrid - Cascading lookup columns do not work when the Popup edit form is enabled](https://www.devexpress.com/Support/Center/Question/Details/T534503) ticket. We will update that ticket when we have any news.

[2017-07-11 11:14] #671 closed, assigned to NickMitrokhin

[2017-07-14 11:42] MasDevProject opened #756 "Aggressive Change Detection using DevExtreme"
Hi,
I'm starting using DevExtreme and I love it but I found a big performance issue.
I created a basic application with one route-state (main) and I put a dx-button in the main component.
The main component also display a binded variable.
That variable is a `get` property and putting a `console.log()` in it I noticed that it is call every time I move the mouse on the screen.
Removing any DevExtrem

[2017-07-18 06:21] nameIsBinbin opened #775 "Echarts show blank when there is no data"
### Steps to Reproduce:

1.
2.
3.

### Results You Received:

### Results You Expected:

### Environment Details:

[2017-07-18 11:03] alert83 opened #780 "Popup not on front side"
Popup not on front side when using inside TabPanel content template. it was fine before. but broken after npm update couple of days ago

### Steps to Reproduce:

1. Use Popup inside TabPanel content template

### Results You Received:

![image](https://user-images.githubusercontent.com/1808647/28313939-79fb1dd4-6bda-11e7-9c59-da559877289c.png)

### Results You Expected:

![image](https://user-imag

[2017-07-18 14:10] AlekseyMartynov commented on #775
Please provide more details of the issue.

[2017-07-18 14:10] #775 closed, assigned to nobody

[2017-07-19 13:42] artem-kurchenko commented on #780
Hi,
 
Thanks for contacting us. We are unable to replicate this behavior in a simple example. The issue might be related to the Angular environment specifics (see [Drop-down popup windows and submenus are displayed incorrectly in Angular CLI](https://www.devexpress.com/Support/Center/Question/Details/T535321/drop-down-popup-windows-and-submenus-are-displayed-incorrectly-in-angular-cli) )
 
Please

[2017-07-19 13:42] #780 closed, assigned to nobody

[2017-07-24 08:59] #654 closed, assigned to NikitaKunashov

[2017-07-25 00:18] gordon-matt opened #857 "The namespaces are inaccessible"
I am using:

**Windows 10**,
**Visual Studio 2017 Enterprise - Version 15.2 (26430.16) Release**

When I install **DevExtreme.Web** from **Nuget** to a new **ASP.NET Core** application, the package reference shows up fine without any errors, but nothing works - the namespaces are inaccessible. I then tried to create another **ASP.NET Core** web app, but this time targeting the **full .NET framewor

[2017-07-25 15:58] AlekseyMartynov commented on #857
In ASP.NET Core, client-side libraries are managed via [Bower](https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/How_To/Add_Bower_Packages_to_a_VS_ASP.NET_MVC_and_ASP.NET_Core_MVC_App/).
See https://docs.microsoft.com/en-us/aspnet/core/client-side/bower

The NuGet package you mention is for classic ASP.NET.

[2017-07-25 23:04] gordon-matt commented on #857
OK thanks.. the [NuGet Package](https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/NuGet_Package/) page doesn't actually say it's only for classic ASP.NET.. so naturally I assumed it was applicable for the .NET Core version as well.

[2017-07-25 23:04] #857 closed, assigned to AlekseyMartynov

[2017-07-26 12:58] Aden-git commented on #756
Hello

This issue will be resolved in the context of our DevExtreme-Angular repository. I've created a corresponding issue - please follow our progress here: devexpress/devextreme-angular#516

[2017-07-26 12:58] #756 closed, assigned to Aden-git

[2017-07-27 23:30] gordon-matt opened #919 "Troubles with OLAP via msmdpump.dll"
I'm not sure if this is the right place for this question. I originally asked this on StackOverflow, as I thought you guys might be monitoring the "devexpress" and "devextreme" tags, but the question hasn't received many views, so here it is - I hope you can help:

I'm upgrading a project from an older version of **DevExpress** to the latest version of **DevExtreme** and having an issue with the p

[2017-07-28 12:06] AlekseyMartynov commented on #919
Hi @gordon-matt

As we say in [CONTRIBUTING.md](https://github.com/DevExpress/DevExtreme/blob/17_2/CONTRIBUTING.md), the best place to submit questions is [Support Center](https://www.devexpress.com/sc). The issue is related to DevExtreme ASP.NET Controls but this repo is only for DevExtreme client-side libraries.

Is it a requirement to have msmdpump hosted in IIS Express? `Xmla().Url()` accepts

[2017-07-28 12:18] gordon-matt commented on #919
Good point about hosting the DLL elsewhere. I will go ahead and give that a try. In any case, it's a lot of trouble to set that up, when connecting via ADOMD with a connection string would be much less of a headache for those of us who don't have some requirement to connect via msmdpump. Please do add that option if you can. Thanks.

[2017-07-31 14:40] #919 closed, assigned to AlekseyMartynov

[2017-08-16 16:43] ArtemAlekhin opened #1084 "Scheduler, avoid showing popup form"
Hello, DevEx
I'm using the Scheduler in Angular2 app and I need instead of a popup editing form, **redirect user to another route** with my own editing form (not popup).
I did not find a way to cancel the popup appointment editing form.
How can I cancel popup form?

[2017-08-18 10:43] lukyanovas commented on #1084
Hi,
Please try the approach from the following thread:
[T341083: dxScheduler - How to replace the appointment popup with a custom popup](https://www.devexpress.com/Support/Center/Question/Details/T341083/dxscheduler-how-to-replace-the-appointment-popup-with-a-custom-popup)

[2017-08-18 10:43] #1084 closed, assigned to lukyanovas

[2017-08-21 08:01] MasDevProject opened #1105 "Losing selected value on datasource change"
If I select a value from a `select-box` and than I refresh the items/datasource, I lost the current value on the UI because of the reference value change.

Is it possible to override the compare behaviour?

### Steps to Reproduce:

[This Plunker ](http://plnkr.co/edit/S1I2RVZyT2g16n1O5tHv?p=preview) reproduce the problem.

### Results You Expected:

Changing the items/datasource I would like to no

[2017-08-21 11:25] AlekseyMartynov commented on #1105
Your code sample can be easily fixed by specifying the [`valueExpr`](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxSelectBox/Configuration/#valueExpr) option:

[code]

P.S. For Angular-related topics, please use the dedicated repo:
https://github.com/DevExpress/devextreme-angular

[2017-08-21 11:25] #1105 closed, assigned to AlekseyMartynov

[2017-08-31 13:53] JuFrolov opened #1221 "dxDateBox ignores Globalize localization"
### Steps to Reproduce:

1. Follow your localization guide for the version above 17.
2. Specify a language other than English.

### Results You Received:
The locale is always the same. (But the messages on this control correspond to the selected locale.)

DevExtreme/js/localization/date.js  68 line and 604 line

[code]

Assumption:
There are no places where the values ​​of these variables change,

[2017-09-01 12:00] nightskylark commented on #1221
Hi
It looks like the DevExtreme Globalize integration is not included in your application. The code you inserted above is a part of the base localization which works without Globalize, but its functionality is limited, so dates can be formatted only in the English locale. Please read our documentation about the [Globalize integration modules](https://js.devexpress.com/Documentation/Guide/Common/Mo

[2017-09-01 13:03] JuFrolov commented on #1221
Globalize is integrated into the application. All inscriptions at the notification are translated, except for these 2 objects. For example, after trying to open dxDateBox in debugging on:
[code]
I get:
```"Выберите дату"```
and
```"Выберите время"```

And then I get into the above lines.
```DevExtreme/js/localization/date.js 68 line and 604 line```
They take hard data.

Note: The date localization

[2017-09-03 02:40] genachka opened #1237 "Feature request / suggestions: control tooltip, whether to display checkbox, whether to expand, display radio on single select"
Kodus on the new TreeList! Loving it! We're evaluating moving an existing competitors grid to this on a couple of customer projects as it solves a bunch of hacks. Thanks for creating it and supporting such awesome consistency between the grid with the features and APIs like filtering, sorting, columns, selection, etc. I hope you continue to evolve it.

On that note, a couple feature requests / sug

[2017-09-05 10:20] artem-kurchenko commented on #1221
Hi,

Thanks for your code. However, I still don't see where you referenced our DevExtreme [globalize modules](https://js.devexpress.com/Documentation/Guide/Common/Modularity/#DevExtreme_Modules_Structure/localization)
To display month names and week days according to the current culture, you need to define the "/localization/globalize/date" module in your application.

We have Globalize examples f

[2017-09-05 11:41] JuFrolov commented on #1221
Hi,
It is obvious that they are contained in dx.all.js
And the only thing that is in the folder localization - dx.messages.ru.js as you see connected.

Total:
- DevExtreme fully compiled library is connected.
- Message.js is also connected.
No more files, or are they missing in the dist folder or is it not a full-fledged library?

[2017-09-05 15:12] artem-kurchenko commented on #1221
Thanks for the update. You're right, they are inside dx.all.js. However, it's not correct to reference this bundle in this case. Now, the DevExpress and Globalize objects are defined in different scopes (DevExpress at the window level and Globalize only inside the RequireJS function).
You need to convert DevExtreme modules to the AMD format before using them with RequireJS. Please refer to the [Us

[2017-09-06 06:58] JuFrolov commented on #1221
Maybe I misunderstood you. But do not explain to me how the Globalize library is incorrectly connected, if all the components are localized except for the specified one? The component does not access Globalize at all or objects, such as those associated with it.
Other components that check the localization at the time of rendering, easily get the Globalize library with translation.
P.S. help topic

[2017-09-08 00:45] genachka opened #1278 "TreeList - Record Paging"
Such a poweful TreeList doesn't have a pager? Hmm so much for the consistency. :( It's still a grid that has a hierarchy. Why wouldn't you add this support?

[2017-09-08 12:07] vconst commented on #1237
Hi,
 
Thanks for the feedback. During implementation, we tried to reuse most of the DataGrid functionality. So, each new feature in DataGrid will be automatically added to TreeList.

Now, let me comment on your suggestions.
1. I do not quite understand what you mean by "a property that can be mapped to the data field". Please describe this in more detail. To show a custom tooltip, you can assign a

[2017-09-08 15:32] artem-kurchenko commented on #1221
Translations are applied as a part of the code executed in the dx.messages.ru.js file. If you're using this file, it calls the loadMessages method with all translation texts. Then the window.DevExpress.localization.locale code applies the current locale. This logic should work even if the Globalize.locale method is not called.
 
I've created an example to be more precise. The index.html page illus

[2017-09-08 22:46] genachka opened #1281 "TreeList SelectAll doesn't select collapsed node's children (not even first level of children)"
Using 17.1.6, I have 10 rows. 3 of the rows have 1 level of 3 children under them. When I click on SelectAll, if those parent rows a collapsed, the children are never shown as selected via the checkbox. I would expect the behavior to selected the children whether the parent row is expanded or not. You can see this behavior also here, have everything collapsed, tick on select all and expand John He

[2017-09-08 23:15] genachka commented on #1237
@vconst thanks for your followup.

1. Using the events such as onCellPrepared for something like that requires extra effort, and processing since it will be triggered for each and every cell. Imagine a list that is a couple thousand rows (which could grow to millions) by about 20 columns. Putting in if statements to check if it's that one field being worked on for a specific column where a title a

[2017-09-08 23:23] genachka opened #1282 "Feature request, clear() method to clear TreeList contents"
Would be helpful to have a method `.clear()` and simply do: `$("#treeList").dxTreeList('clear')` for example instead of having to do:
[code]
Same for DataGrid and PivotGrid.

Took me hours and lots of searching in forums to figure that out whereas this one method could be well documented in API.

[2017-09-11 10:21] JuFrolov commented on #1221
Hi,
Your example index2 wrong. In the dist is a very special dx.message.js the file, why you use json the file, which is absent? That's why your second example can not localize components.

So I modified your example, because I use. And he is all but component dxDateBox.

Judging from your example, 2, you could say that the folder dist is not complete.

[requirejs-jquery-dx.all.zip](https://github

[2017-09-11 18:59] genachka commented on #1281
To clarify, i'm not looking for recursive functionality here, though I would expect that a select all (the checkbox on the header of the TreeList as well as of course the API for it) would take every level of children in to account otherwise it's not a select all.

Since I saw you don't support recursive by selecting a parent node (not sure why you don't support this already?) I did implement my o

[2017-09-13 21:06] Vest commented on #1278
There is [an interesting demo](https://demos.devexpress.com/aspxtreelistdemos/Shaping/Paging.aspx) (a different control set), but with the feature you are asking for. If you open the page 8, you will see a nice picture:

![another pager](https://user-images.githubusercontent.com/1671049/30400364-f70005be-98d6-11e7-8637-a2ef8c3b3831.png)

So, my question to you is -> how do you see a good-looking p

[2017-09-13 21:39] genachka commented on #1278
@Vest the way it's done in that demo would be perfect. I wouldn't expect for the parent to be repeated on each page. Other treegrid controls I've looked at do that as well.

[2017-09-19 13:38] vconst commented on #1282
Hi genachka,

The approach that should use the clear method is dependent on the data binding engine and therefore, the code should be different in each approach (e.g., Angular, MVC and so on). It is impossible to implement the clear method that will work for all scenarios.
 
We will take your feedback into account about this scenario and consider adding information about data clearing to our docum

[2017-09-19 13:50] vconst commented on #1278
Hi @genachka ,
 
We think that using the pager for hierarchical data is less convenient than scrolling. Other treelists use pager to resolve performance issues with large datasets. But our TreeList has virtual scrolling enabled by default, which resolves performance issues without the pager.
 
Can you describe in more detail why do you want to use a pager instead of virtual scrolling?

[2017-09-21 20:09] genachka commented on #1278
Not everyone wants to / likes to scroll endlessly. Many of our apps have both a grid and a treelist. And the inconsistency between this is frustrating a lot of our users as they work with different parts of the app. To them, they don't understand all the controls behind the application and nor should they. Visually the treelist is a hierarchy grid to them. In many cases, having a pager is also ver

[2017-09-21 20:14] genachka commented on #1281
Any news here on this issue?
I've had make a hack to prevent collapsing and to force an expand of all, hide the collapse via CSS and trap clicking on collapse. Of course I would like to be able to allow the user to decide whether to expand collapse rows but because of this bug it's unreliable to select all when collapsed.

[2017-09-25 16:06] MarioGruda opened #1393 "The locale function does not work for 'de-DE'"
[code]

### Steps to Reproduce:

1. use `locale(navigator.language);` in IE or Edge with german languagesettings. navigator.language is 'de-DE' and does not work
2. use `locale('de')` in IE or Edge. This works for me.

### Results You Received:
localization works only for 'de' not for 'de-DE'

### Results You Expected:
Should work for 'de-DE' and 'de'

### Environment Details:
Devextreme 17.1.5
In

[2017-09-26 13:23] NikitaKunashov commented on #1281
Hello,
Currently, our TreeList selectAll method selects only visible nodes. We considered possible ways to implement this feature and decided that this approach is most appropriate since it makes the behavior consistent in the cases when a remote and a local data source are used. Selecting invisible nodes requires loading the whole data source, which can be large, so it can affect the performance.

[2017-09-27 14:04] sdanyliv opened #1411 "DataGrid headerFilter loads all data for big datasets."
### Steps to Reproduce:

1.  Check this codepen link: https://codepen.io/sdanyliv/pen/oGZJNY
2.  Click on header filter icon over `Product Name` column

### Results You Received:
headerFilter loads ALL data with all columns when using OData datasource

### Results You Expected:
Correct OData query that uses **distinct**, selects **only one field** that interested for header filter, and uses **pagi

[2017-09-28 08:03] TimGameDev opened #1413 "Form - Invisible item with DateField with array element doesn't work"
### Steps to Reproduce:
ASP.NET MVC Core 2.0 DevExtreme

1. Create class with array of elements like this:
   public class TestElement {
      public string Id { get; set; }
   }

   public class Test{
       public List<TestElement> SomeArray { get; set;}
   }
2. Add form with Test object - Html.DevExtreme().Form().FormData(TestObject)
3. Add SimpleItem with data field to array element -
    AddS

[2017-09-28 09:35] AlekseyMartynov commented on #1413
Form items with `visible=false` are not equivalent to HTML `<input type=hidden>`. They are removed from the DOM completely.

To pass any additional data, use the standard `@Html.Hidden()` helpers within your HTML form.

[2017-09-28 09:35] #1413 closed, assigned to AlekseyMartynov

[2017-09-29 12:40] AlekseyMartynov commented on #1411
We have a similar ticket registered in the Support Center.
Please check https://devexpress.com/issue=T488329

The **distinct** operation which you suggest to use, is not supported by the generic OData protocol (https://stackoverflow.com/a/3840624). Though, it can be implemented manually in a [service operation](https://js.devexpress.com/Documentation/Guide/Data_Layer/Data_Source_Examples/#OData/In

[2017-09-29 12:40] #1411 closed, assigned to nobody

[2017-09-29 14:54] #1282 closed, assigned to vconst

[2017-10-02 18:16] genachka commented on #1281
@NikitaKunashov I understand what your saying but that's misleading to an end user. Other tree / treegrid controls I've worked with even with remote data, they select all the retrieved items in case where remote data is used. Imagine a user is trying to export data and finds that they Select All only took a small % of the items.

But what's worse is that as a developer, I've not been able to relia

[2017-10-03 11:14] TimGameDev commented on #1413
I see, thanks, so what the actual reason for Visible?

EDITED: html.hidden solution works fine

[2017-10-03 12:00] TimGameDev commented on #1413
And one more thing.
I've tried put @html.hiddenfor inside Html.BeginForm near with Html.DevExtreme().Form()

and it doesn't work.

[2017-10-03 12:41] AlekseyMartynov commented on #1413
The primary purpose is to dynamically show/hide form items using the client-side API. As an example, consider a form in which additional fields appear depending on the selection of a drop-down editor.

[2017-10-03 12:44] TimGameDev commented on #1413
Got it. Thank you for your time.

[2017-10-03 20:09] mostify opened #1451 "Server Side Validation in dxDataGrid when inline editing(form edit mode)"
### Steps to Reproduce:

1. we have model state errors and we expected to show error in edit form of data grid in inline editing
2. errors post to view as BadRequest(ModelState)
3. we didn't use validationRule because dosen't care about modelstate

### Results You Received:

 errors post to view but not shown in edit form like validation of form widget.

### Results You Expected:

we expected to s

[2017-10-05 11:08] AlekseyMartynov commented on #1451
We have a sample showing how to display server-side validation errors in DataGrid:
https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/WebAPIService/
![untitled](https://user-images.githubusercontent.com/4426185/31224270-e3098a2a-a9d5-11e7-918d-3d72dd65d593.png)

If your requirements are different, please submit a ticket to [Support Center](https://devexpress.com/sc).
This repo and our No

[2017-10-05 11:12] AlekseyMartynov commented on #1451
**UPDATE**
I see that the .NET Core version of the demo has problems.
Reopening.

/cc @jsdmitry @San4es

[2017-10-05 12:40] AlekseyMartynov commented on #1451
After additional research, I found that Northwind model classes from the .NET Core demo don't have validation attributes attached. This will be fixed in the context of https://devexpress.com/issue=T562071

Despite this, the approach I descibed in https://github.com/DevExpress/DevExtreme/issues/1451#issuecomment-334433590 works fine.

[2017-10-05 12:40] #1451 closed, assigned to AlekseyMartynov

[2017-10-09 18:03] artem-kurchenko commented on #1393
Hi,
 
Thanks for the report. Currently, there is no built-in logic that determines a base locale for such cases. We'll research if it's possible to support this and make an update here.

[2017-10-09 18:15] artem-kurchenko commented on #1221
Hi,
 
Thanks for the example. The attached example still loads the full dx.all bundle via RequireJS. This approach is not supported. If you're using RequireJS, load modules separately as demonstrated in the index.html page of my previous example. If you wish to use dx.all, don't load it via RequireJS.

[2017-10-09 18:15] #1221 closed, assigned to nightskylark, artem-kurchenko

[2017-10-12 10:20] meancrazy opened #1536 "dxDateBox.dateSerializationFormat doesn't work with initial value"
### Steps to Reproduce:
1. Create dxForm with dxDateBox, set dateSerializationFormat and provide initial value:
[code]
2. Run at js console following code:
[code]
3. Then select another date in dxDateBox and run code again:

### Results You Received:
At first run you get a js date object: `{Date: Thu Oct 12 2017 00:00:00 GMT+0300 (Russia Standard Time)}`
At second run you get formatted string: `{D

[2017-10-12 15:15] GoshaFighten commented on #1281
@genachka I understand you and the required functionality will be available in version 17.2. For version 17.1, use the approach illustrated in the [dxTreeList - How to implement recursive selection](https://www.devexpress.com/Support/Center/Example/Details/T523631) example to achieve this.

[2017-10-13 10:19] DokaRus commented on #1536
Hi,
It's expected behavior. `dateSerializationFormat` specifies a value's format obtained as a result of UI interaction (mainly it happens case when a widget doesn't have an initial value). If you set the initial value or change the current value via API like `dateBox.option("value", new Date(2017, 7, 7))` - the value isn't changed to `dateSerializationFormat`, because it will raise an unexpected 

[2017-10-13 10:19] #1536 closed, assigned to DokaRus

[2017-10-13 10:36] meancrazy commented on #1536
Thanks!
So I found that it fixed by setting value as formatted string:
[code]

[2017-10-25 09:08] drugarce opened #1698 "dxFileUploader: Problem with extension based values of accept attribute when using drag&drop"
### Steps to Reproduce:

1. Create an instance of dxFileUploader with the accept attribute as ".jpg", an arbitrary upload url, and uploadMode to instant
2. Using _Drag and Drop_, drop a file called "PROFILE.JPG" onto the widget
3. Using _Drag and Drop_,  drop a file called "profile.jpg.bak" onto the widget

### Results You Received:
Step 2 - Nothing happens
Step 3 - Upload begins

### Results You

[2017-10-26 10:16] zabojad opened #1719 "require() and webpack support?"
DevExtreme doesn't seem to be usable with `require()`nor Webpack. Is it something you plan to support in the future?

[2017-10-26 10:46] dxbykov commented on #1719
Hi,

Webpack is supported, check the corresponding [documentation article](https://js.devexpress.com/Documentation/Guide/Common/Modularity/#Link_Modules/Use_Webpack), please. You can also find an example [here](https://github.com/DevExpress/devextreme-examples).

[2017-10-26 15:18] zabojad commented on #1719
Hey @dxbykov !

Thanks for answering... Good catch, I did not see this doc earlier. While it looks promising, I can't make it work:
[code]

I get at runtime: `Uncaught TypeError: jQuery(...).dxPivotGrid is not a function`. Any idea what is going wrong?

[2017-10-26 15:35] dxbykov commented on #1719
Have you managed to run the example with a button? Try to follow [these steps](https://github.com/DevExpress/devextreme-examples/tree/17_1/webpack-jquery). It works on my side.

[2017-10-26 15:51] zabojad commented on #1719
I've found a solution for `Uncaught TypeError: jQuery(...).dxPivotGrid is not a function` but now I have another problem: How can we add support for € currency? (right now it displays all amounts in $ but I would like € instead)

[2017-10-26 15:53] zabojad commented on #1719
When using the non-modularized version of DevExtreme, we were doing this:

[code]

But how can this be done now that we are using only the components/modules we need (in this case a PivotGrid)?

[2017-10-26 16:02] dxbykov commented on #1719
You can use the [core/config](https://js.devexpress.com/Documentation/Guide/Common/Modularity/#DevExtreme_Modules_Structure/core) module.

[2017-10-27 08:01] zabojad commented on #1719
Hi @dxbykov !
Thank you for your help!
I've tried this:
[code]
It gives me an error: `Uncaught (in promise) ReferenceError: DevExpress is not defined`

And this:
[code]
It doesn't crash but doesn't have any effect neither (I still have USD everywhere in my PivotGrids)...

How should it be done?

[2017-10-27 08:48] zabojad commented on #1719
Done! It seems that we cannot change the currency without loading the proper Globalization data like [done there](https://github.com/DevExpress/devextreme-examples/blob/16_2/webpack-angular-globalize/src/localization.ts).

Thank you for your help!

[2017-10-27 08:48] #1719 closed, assigned to nobody

[2017-10-27 10:29] DokaRus commented on #1698
Hi,

The `accept` option value is passed to the `accept` attribute of the underlying input element. This attribute provides hints for the browser and doesn't validate the selected file type. E.g., refer to the [<input> elements with type='file'[link]](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file) article from MDN:

You can validate the selected value in the [valueChanged](h

[2017-10-27 13:54] drugarce commented on #1698
Hi @DokaRus ,

Thank you so much for looking into this. Perhaps you missed out on the bit that the scenario I described happens when using drag and drop to add a file to the upload control. Otherwise the widget works as expected when opening the native browser file selector.

Your suggestion to use the onValueChanged handler would work for Step 3 but not Step 2 in my original posting. For Step 2,

[2017-10-30 09:03] DokaRus commented on #1698
@drugarce Thanks for the clarification. I've reproduced this behavior on my side and created a [corresponding ticket in our SC](https://www.devexpress.com/Support/Center/Question/Details/T570224/dxfileuploader-with-the-defined-accept-option-rejects-a-file-with-a-capitalized-extension).

[2017-10-31 13:27] Walgermo opened #1784 "devextreme/ui/dialog still requires jQuery on 17.2"
### Steps to Reproduce:
1. import { confirm } from 'devextreme/ui/dialog'; to a component

2. use confirm
[code]

3. save and rebuild project

### Results You Received:

Gets compile error:
`error TS2339: Property 'done' does not exist on type 'JQueryPromise<boolean>'.`

### Results You Expected:
Find another way to get dialogs working again 🥇

### Environment Details:
Chrome latest, Win 10, angul

[2017-10-31 20:43] GoshaFighten commented on #1784
Yes, I've managed to reproduce this behavior in a project made using Angular CLI. At the moment, remove the `"types": []` line from the `src\tsconfig.app.json` file to avoid it. But, I can confirm that this step is not needed with version 17.1 of our devextreme package. We will research this issue. The project that reproduces it is attached.
[GH1784.zip](https://github.com/DevExpress/DevExtreme/fi

[2017-11-01 13:37] GoshaFighten commented on #1784
Thank you for your patience. To resolve the issue, upgrade the `devextreme` package to version `17.2.1-pre-17296` or later. Then, now, you need to use the `then` event instead of `done`.

[code]

[2017-11-01 14:00] Walgermo commented on #1784
That worked @GoshaFighten 🎉 thanks!

[2017-11-01 23:20] #1784 closed, assigned to nobody

[2017-11-03 12:15] AlekseyMartynov opened #1832 "Failing unit tests in Chrome 62 (Ubuntu)"
`fieldset.generic.tests.js`

![linux](https://user-images.githubusercontent.com/4426185/32373320-c2389314-c0a9-11e7-977d-52004348dae2.png)

[2017-11-11 19:59] aravindfz opened #1912 "DevExpress consumes more memory - ng build"
### Steps to Reproduce:

1. Create a repository with starter files
2. Install `devexpress` node_modules
3. Import any one module and add to imports array of AppModule
4. `ng build` response are as below

![image](https://user-images.githubusercontent.com/22231525/32692996-baf956ce-c748-11e7-9f19-0a51952a1dd2.png)

Alternatively, removed the module declaration and ran `ng build` it results in very

[2017-11-15 15:19] dxvladislavvolkov commented on #1912
Hello @aravindfz ,

To reduce the size of the bundle, build it in the production mode as shown below:
`ng build --prod -sc=true`

If you want to use the developer mode, use long paths to modules. For example:
`import { DxButtonModule } from 'devextreme-angular/ui/button';`

If this does not help, please submit a ticket regarding this issue in our [Support Center](https://www.devexpress.com/support

[2017-11-15 15:21] #1912 closed, assigned to dxvladislavvolkov

[2017-11-16 08:43] hakimio opened #1961 "Virtual scrolling is not really virtual and causes DOM to "explode""
### Steps to Reproduce:

1.  Open virtual scrolling demo (Demo/DataGrid/VirtualScrolling)
2.  Open DOM inspector
3.  Expand "table" with "dx-datagrid-table dx-datagrid-table-fixed dx-datagrid-table-content" class node
4. Scroll the data grid using **mouse wheel**
5. Watch as loads of extra "tbody" elements are added to the "table" node

### Results You Received:
![dev-extreme-virtual-scrolling_geq

[2017-11-16 12:41] NickMitrokhin commented on #1961
Hi Hakimio,

We are aware of this behavior and will improve it in one of our future versions. Please take a look at the [It takes much time to show dxDataGrid with large data at runtime](https://www.devexpress.com/Support/Center/Question/Details/T519056) ticket where we discussed a similar issue.

[2017-11-16 12:41] #1961 closed, assigned to NickMitrokhin

[2017-11-16 12:49] hakimio commented on #1961
It should not be closed until you have proper fix for this major memory leak.
Basically, you don't have proper virtual scrolling implementation and should not advertise that you have one.

[2017-11-20 22:29] farnetani commented on #40
We have seen there the huge growth of the Vuejs framework, when do you think of porting this datagrid of yours to vuejs?

[2017-11-21 20:29] jakehockey10 commented on #1784
I've upgraded to 17.2.3 and I'm still getting this error.  I'm using devextreme and devextreme-angular 17.2.3, and the errors I'm seeing are the following:

[code]

I was able to get rid of these errors by not using the `JqueryPromise<boolean>` type and just moving straight to a `Promise<boolean>` type.  But then I errors with tooltips.

It looks like the interfaces for the typings changed or some

[2017-11-22 14:14] #1832 closed, assigned to nobody

[2017-11-29 15:40] komarovalexander commented on #1698
Fixed in [PR](https://github.com/DevExpress/DevExtreme/pull/2085)

[2017-11-29 15:40] #1698 closed, assigned to DokaRus

[2017-12-04 07:53] #1393 closed, assigned to nobody

[2017-12-04 20:39] jaggedaz opened #2149 "Scheduler appointment collector not honoring allowDragging"
### Steps to Reproduce:

Issue can be reproduced in this CodePen: https://codepen.io/jaggedaz/pen/ZaPRmE

1. Configure the Scheduler to disable appointment dragging.
2. Add several events to a single day so that the appointment collector drop-down is generated.
3. Click the "More" item to show the appointment collector drop-down.
4. Click and drag one of the appointments out of the collector onto

[2017-12-04 20:43] jaggedaz opened #2150 "Scheduler appointment collector - can't cancel appointment click or double click event"
### Steps to Reproduce:

The issue can be re-created with this CodePen: https://codepen.io/jaggedaz/pen/YEgvme

1. Configure the Scheduler so that the onAppointmentClick and onAppointmentDblClick event handlers set event.cancel to true.
2. Add several events to a single day so that the appointment collector drop-down is generated.
3. Click the "More" item to show the appointment collector drop-dow

[2017-12-05 06:32] MarinaRukavitsyna commented on #2150
Hello,
We will process this issue in the context of the following Support Center thread:
https://www.devexpress.com/Support/Center/Question/Details/T584004/scheduler-appointment-collector-can-t-cancel-appointment-click-or-double-click-event

[2017-12-05 06:32] #2150 closed, assigned to nobody

[2017-12-05 07:52] KsyushaM commented on #2149
Hello,
We will process this issue in the context of the following Support Center thread: https://www.devexpress.com/Support/Center/Question/Details/T584003/scheduler-appointment-collector-not-honoring-allowdragging

[2017-12-05 07:53] #2149 closed, assigned to KsyushaM

[2017-12-07 08:51] 3105545 opened #2187 "dxDataGrid.onToolbarPreparing() does not completely draw dxMenu"
[code]
[add code ](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ExportToExcel/jQuery/Light/)
**not hover and spindown ico**

[2017-12-08 14:39] Alyar666 commented on #2187
Hello,

We will process this issue in the context of the following Support Center thread:
[dxDataGrid: The menu is incorrectly displayed in the toolbar](https://www.devexpress.com/Support/Center/Question/Details/T585757/dxdatagrid-the-menu-is-incorrectly-displayed-in-the-toolbar)

[2017-12-08 14:39] #2187 closed, assigned to Alyar666

[2017-12-16 14:37] etumyan opened #2269 "dxDataGrid groupPanel drag'n'drop gets broken when toolbar items changed at runtime"
[Example](https://embed.plnkr.co/aiag3soAM95UoO7ghgou/) at Plunker.

### Steps to Reproduce:

1. Drag some column header to the `groupPanel`.
2. Update toolbar's `items` option using `dxToolbar.option` method (reproduces for the static dataSource also).
3. Try to drag some item in the `groupPanel` back to the grid's header.

### Results You Received:

`groupPanel` items are not draggable any more.

[2017-12-18 13:35] #2269 closed, assigned to vconst

[2017-12-18 14:39] sometimesElen opened #2284 "TreeView - Parent node loses selection after search"
This issue can be reproduced with this [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/TreeView/TreeViewWithSearchBar/jQuery/Light/) by adding the following options to TreeView:
`selectNodesRecursive: false,
searchEnabled: true`

Steps to reproduce:
1. Set `selected: true` for any parent node.
2. Search something via the search box.
3. Remove a search value from the search box.
4. The p

[2017-12-18 18:22] ajaybhasy-experion commented on #2284
I too have the same issue. This can be seen in this [demo](https://codepen.io/ajaybhasy/pen/MrKEMg).

The **parent element Key** is selected initially on loading but **loses selection after searching**.

[2017-12-26 17:32] genachka commented on #1281
@GoshaFighten Thanks for the added functionality in 17.2. Now using it and it's working great!!

[2017-12-26 17:42] genachka opened #2349 "Grid and TreeList scrollbar hard to use and sometimes impossible to see"
Using 17.2.4, but this was issue in previous releases as well. Users are having difficulty seeing the vertical and horizontal scrollbars. Some don't hover long enough for the scrollbars to appear, and even when they do, the height / width of them is difficult to work with. Please please please add an option to always display the scrollbars in the standard sizes.

Also, when there are a lot of rows

[2017-12-26 18:13] San4es commented on #2349
@genachka

Did you try to use the ["scrolling.useNative"](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/scrolling/#useNative) option? Is this what you need?

[2017-12-26 18:22] genachka commented on #2349
@San4es yes this was exactly what I was looking for! Completely missed this option. Thank you!

[2017-12-26 18:22] #2349 closed, assigned to nobody

[2017-12-26 18:22] #1281 closed, assigned to nobody

[2017-12-27 09:51] sometimesElen commented on #2284
Fixed by #2344

[2017-12-27 09:51] #2284 closed, assigned to nobody

[2017-12-27 19:12] genachka opened #2358 "TreeList selecting parent with selection recursive true, onselectionchanged e.currentSelectedRowKeys only shows parent no children"
Using 17.2.4 TreeList and for options have `selection: {mode: 'multiple', showCheckBoxesMode: 'always', recursive: true}'. When I select a parent node that has 3 children, it correctly selects those 3 children and the parent however when using callback `onSelectionChanged: function(e)` and looking at `e.currentSelectedRowKeys` it only contains the row I actually clicked on which is the parent row'

[2017-12-28 13:29] Alyar666 commented on #2358
Hello,

Currently, our TreeList returns only explicitly selected nodes. We have plans to improve our API to simplify getting all selected rows.

Use the solution from the [TreeList - How to get all selected nodes in recursive selection mode](https://www.devexpress.com/Support/Center/Example/Details/T590425/treelist-how-to-get-all-selected-nodes-in-recursive-selection-mode) example.

[2017-12-28 13:29] #2358 closed, assigned to Alyar666

[2017-12-28 15:20] genachka commented on #2358
@Alyar666 Please reopen this as that's not what I'm asking for. The sample provided shows how to get the selected. I'm specifically referring to the callback `onSelectionChanged` that should provide an array of all the selected / unselected keys when you select / unselect the parent whereas currently it only provides the parent key for `e.currentSelectedRowKeys` / `e.currentDeselectedRowKeys` when

[2017-12-29 10:39] Alyar666 commented on #2358
Hi,

To the onSelectionChanged event handler come only explicitly selected/unselected keys to make the behavior consistent when a remote and a local data source are used. Currently, you will need to iterate through nodes manually.

_>> The sample provided shows how to get the selected_

The sample provided shows how to get selected child nodes by parent key. You can get selected/unselected child n

[2017-12-29 15:50] genachka commented on #2358
@Alyar666 the sample as a workaround helps thanks. Understand current functionality, am requesting enhancement to it for the recursive to be useful with the onSelectionChanged event. I would think that as an enhancement it would return an array of children and array of arrays for each level child of child, etc.

[2018-01-08 08:46] genusP opened #2386 "ODataStore and promise"
Use Devexreme and devextreme-angular 17.2.4

1.  Many methods in ODataStore return  Promise. Returned instance not contains method catch
2. I call method ODataStore.insert, if server response set http status 500 then returned promise not call any branch.

[2018-01-09 09:44] kodermax opened #2392 "Ошибка в dxSelectBox"
Если в форме указать поле dxSelectBox с CustomStore с указанными полями displayExpr и valueExpr,
то будет вызван многократное load у CustomStore
Пример
https://codepen.io/anon/pen/JMpXVz

[2018-01-10 08:31] jsdmitry commented on #2392
Hi,
 
I researched your example and found out that you are using the displayExpr and the valueExpr options for the dxSelectBox incorrectly. The Name and the Id data fields are not contained in the dxSelectBox's data source. If you use the Employee field as displayExpr and the OrderNumber field - as valueExpr, unnecessary load methods will not will be called.
 
I kindly ask you to write in English,

[2018-01-10 09:41] kodermax commented on #2392
But I have api which contains Id and Name.
And this error is still there.

[2018-01-10 09:43] kodermax commented on #2392
I had to make a stub
![image](https://user-images.githubusercontent.com/590985/34765912-d1487b28-f603-11e7-9d26-bae599cadac2.png)

[2018-01-11 06:17] jsdmitry commented on #2392
The [displayExpr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxSelectBox/Configuration/#displayExpr) and [valueExpr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxSelectBox/Configuration/#valueExpr) options should provide data fields of SelectBox's data source.
Please check that Id and Name data fields are contained in your remote data source.

[2018-01-11 13:40] GoshaFighten commented on #2386
The `catch` event will be added in the next 17.2 version (17.2.5). See the [Add "catch" method for Deferred utils](https://github.com/DevExpress/DevExtreme/pull/2406) pull request.

As for the second question, you can use the following code to handle errors in ODataStore:

[code]

See the [sample](https://stackblitz.com/edit/angular-oz7bh1?file=app/app.component.ts) that illustrates this. If this

[2018-01-11 13:40] #2386 closed, assigned to GoshaFighten

[2018-01-11 13:53] genusP commented on #2386
@GoshaFighten  I use similar code. This problem actual for HTTP code 500, no calls for "resolve" and "fail"

[2018-01-12 10:29] AlekseyMartynov commented on #2392
Hi there
In order to provide better assistance, we need to better understand the scenario and the issue.

Currently we realize the following:

- The initial CodePen sample contains a misconfigured `dxSelectBox` but according to https://github.com/DevExpress/DevExtreme/issues/2392#issuecomment-356551451 it's not the concern of the ticket.

- From https://github.com/DevExpress/DevExtreme/issues/2392

[2018-01-12 11:11] kodermax commented on #2392
Thank you.
It works.

[2018-01-12 17:10] #2392 closed, assigned to jsdmitry

[2018-01-24 22:49] toralux opened #2645 "ui/dialog/confirm() and notify() jQuery error with Angular.io and Webpack2"
### Steps to Reproduce:

1. unzip DevExtreme_Error-reproduce.zip
2. npm install -g webpack-dev-server
3. npm install
4. webpack-dev-server --config config/webpack.prod.js --watch

### Results You Received:

After clicking test Test-button ui/dialog/confirm() is called and resulting with the following error:

(or some other random number behind jQuery)

The same problem happens with ui/dialog/notif

[2018-01-25 01:09] genachka opened #2646 "TreeList selecting parent with selection recursive true, onselectionchanged e.currentSelectedRowKeys only shows parent no children"
Reopening as it's a feature request as discussed in https://github.com/DevExpress/DevExtreme/issues/2358

[2018-01-25 14:50] toralux commented on #2645
I posted the issue in https://github.com/DevExpress/devextreme-angular/issues/675 instead, as this probably is related to devextreme-angular and not devextreme in general.

[2018-01-25 14:50] #2645 closed, assigned to nobody

[2018-01-26 09:53] AlekseyMartynov commented on #2646
Duplicate of #2358

@genachka
Please use the original issue to continue the discussion.
We monitor tickets and receive updates regardless of whether they are open or closed.

[2018-01-26 09:53] #2646 closed, assigned to nobody

[2018-01-27 19:31] eloekset opened #2681 "Run tests locally using Travis in docker"
Some time ago, I was working on a PR for T487901, but I want to test my changes locally before submitting a PR.

I've been following the description to build and test DevExtreme locally here: https://github.com/DevExpress/DevExtreme/blob/17_2/README_DEVELOPERS.md#locally-in-docker

But there's something I don't quite understand, since I get an error message that says `./docker-ci.sh` doesn't exist

[2018-01-28 18:42] genachka commented on #2646
@AlekseyMartynov which is why I asked for the original one to be re-opened. I get you get notifications, but that's not the same as tracking an issue that's open. Keeping an issue closed that is a feature request only makes sense if there's no plans to do anything with it, which is not the impression given.  That makes no sense.

[2018-01-29 09:44] AlekseyMartynov commented on #2646
Please be sure that the team has taken into account your feedback from #2358.
DevExtreme feature planning and prioritization takes place in internal tools, not here on GitHub.
From https://github.com/DevExpress/DevExtreme/issues/2358#issuecomment-354462535 I understand that there's no outstanding issue requiring an action from our side.

If you need further assistance, please [contact our Support]

[2018-01-29 20:23] AlekseyMartynov commented on #2681
Try this command:

[code]

Note the [`-v` argument value](https://docs.docker.com/engine/reference/run/#volume-shared-filesystems).

[2018-01-29 20:40] eloekset commented on #2681
Thanks! Now it works. 🙂 And when I read the description again, I can see that it says REPO_PATH should be replaced by the absolute path to the local git repository. 😂

[2018-01-29 20:40] #2681 closed, assigned to AlekseyMartynov

[2018-01-30 16:29] genachka commented on #2646
@AlekseyMartynov well that's the point, there is action required from DevExtreme as an enhancement since it clearly doesn't appear to work correctly. The GitHub approach for such is to leave the issue open and label with with enhancement until implemented. Unless of course there is no enhancement planned, which is not how I understood the response in #2358.

[2018-01-30 18:00] GoshaFighten commented on #2358
@genachka

As @Alyar666 stated, we had plans to improve our API to get all selected node. We did this in the #2492 PR. In version 18.1, you will be able to use the getSelectedRowKeys method to do this:

[code]

As for extending onSelectionChanged event parameters, currently, we don't have plans to do this. But, we implemented the forEachNode method in the #2726 PR so that you don't need to write y

[2018-01-30 18:01] GoshaFighten commented on #2646
@genachka

I've replied to you in the #2358 issue with our vision of this issue. I believe everything is clear now.

[2018-01-31 11:38] AlekseyMartynov opened #2770 "ajax.sendRequest resolves with null for cross-domain requests (no jQuery, dataType: json, cache: false)"
This is how DevExtreme.AspNet.Data loads data in [jQuery-free mode](https://github.com/DevExpress/DevExtreme.AspNet.Data/pull/178).

Minimal app to reproduce:

package.json
[code]

index.js
[code]

index.html
[code]

[code]

[2018-01-31 14:03] jtsom commented on #2770
I believe this also affects Angular (CLI) apps. Trying to use with DevExtreme.AspNet.Data but returns errors. ("Uncaught SyntaxError: Unexpected token :") Looks like it's trying to execute the returned data as a script.

[2018-01-31 15:31] #2770 closed, assigned to dxvladislavvolkov

[2018-01-31 15:47] jtsom commented on #2770
When will this fix be available?

[2018-01-31 15:55] samoilis opened #2783 "dxTreeList -> onSelectionChanged event don't return all of data"
I don't know if that is a bug issue or if is it by design behaviour

I use the Devextreme 17.2.5 and this issue concerns the dxTreeList widget with selection mode "multiple" and selection recursive true

if select a node with childs in onSelectionChanged event, the e.selectedRowsData returns only the data for the selected (parent) node and not all of the selected data (with child nodes)

this is a

[2018-01-31 16:24] AlekseyMartynov commented on #2770
/cc @NickMitrokhin

[2018-01-31 16:52] NickMitrokhin commented on #2770
If all goes according to plan, we will publish the hotfix at the end of this week. I'll update this ticket when the fix is available.

[2018-01-31 17:06] GoshaFighten commented on #2783
Duplicate of #2358.

[2018-01-31 17:06] #2783 closed, assigned to GoshaFighten, Alyar666

[2018-02-01 14:24] genachka commented on #2358
@GoshaFighten thanks for the update, clarification and example! I'll give it a shot in 17.2.5 and am eagerly awaiting to try it out in 18.1!

[2018-02-02 12:20] NickMitrokhin commented on #2770
@jtsom, we published the hotfix. You can install it using the following command:
[code]

[2018-02-02 14:20] jtsom commented on #2770
Yeah, that's not working. I'm seeing this error:

[code]

This in an Angular application with the following packages:

[code]

I'm using the ci version of the aspnet-data package so as to not have to require Jquery.

[2018-02-02 14:36] AlekseyMartynov commented on #2770
@jtsom
That's sad.
However, it looks like a different problem. How can I reproduce this error?
**Please reply in the original ticket** https://github.com/DevExpress/DevExtreme.AspNet.Data/issues/186

[2018-02-05 21:23] selcukkutuk opened #2856 "[Idea] DevExtreme Web Components"
1. Vuejs
2. Angular 2+
3. React
4. Angularjs
5. Ember
6. Aurelia
7. Knockout
8. Backbone
9. Dojo
10. Svelte

and more. The list grows every day.
   Do you have a plan to develop framework-independent web components instead of developing custom components for frames?

   Someone who loves Devexpress will not have to love angular. So we can choose which frame to use. You are focused on the core proj

[2018-02-06 15:06] dxbykov commented on #2856
Hi @selcukkutuk,

Thank you for your idea and for your interest in DevExtreme. I should say that the issue you've raised is one of the most important for us, as a JS components vendor. Besides the new features we introduce, we are working hard on getting framework independent and having better integration with them. For instance, we've recently made DevExtreme core [jQuery-free](https://community.

[2018-02-06 15:06] #2856 closed, assigned to nobody

[2018-02-07 16:00] alexgwolff opened #2894 "How load custom date names?"
I would load custom date names like to load as in messages, how to do this?

[2018-02-08 13:31] nightskylark commented on #2894
Hi.
You can use the [Globalize](https://js.devexpress.com/Documentation/Guide/Widgets/Common/UI_Widgets/Localization_-_Use_Globalize/) or [Intl](https://github.com/DevExpress/DevExtreme-Intl) localization engine to localize dates considering the locale you needed. If you need to set custom date names which do not suit any existing locale, I recommend using the Globalize localization engine. You co

[2018-02-09 08:42] cr1t commented on #40
I'd like to add my +1

We have used AngularJS and JQuery before, The Learning curve on Angular 4 is too great for us, and React would also mean a complete rewrite of what we have done in the past. Vue.js slots in nicely and we can have a gradual transition to it, Even a decent VUE wrapper of the Jquery would be great.

[2018-02-12 09:57] #2894 closed, assigned to nightskylark

[2018-02-13 12:06] sometimesElen commented on #2358
Hi @genachka,
We've published our [18.1.0-sprint.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.0-sprint.2) results. As you see, we added the `getSelectedRowKeys` overload. But we changed the modes in #2839 . Use the following code to get all selected TreeList nodes
`treeListInstance.getSelectedRowKeys("includeRecursive")`

[2018-02-19 13:04] ldagistanli commented on #40
any Update??

[2018-02-22 09:38] fubar-coder opened #3061 "Icons font not resolvable by Webpack 3.11.0 (missing quotation marks)"
### Steps to Reproduce:

1. `npm install -g @angular/cli@6.0.0-beta.3` to get webpack 3.11.0
2. `ng new angular-tour-of-heroes`
3. `npm up --save`
4. `npm install devextreme devextreme-angular --save`
5. `ng eject` to create the `webpack.config.js`
6. `npm run build`

I'm a web dev beginner, so I don't know how to use webpack directly, but it's relevant that webpack 3.11.0 isn't a preview release

[2018-02-22 12:08] dxbykov opened #3072 "Charts - Bar Width and Spacing Improvements"
# The Problem

The following chart customizations were not supported:

* Assigning different bar widths to bar series within a chart
* Adjusting the spacing between bar groups (two neighboring arguments)
* Specify the fixed bar width
* Specify the fixed bar group width

# The Solution

We added the following options to the [Chart](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/Standard

[2018-02-22 13:35] jtsom commented on #3061
Just encountered this same issue after updating to Angular CLI 1.7.1 and Angular 5.2.6:

[code]

[2018-02-22 15:44] GoshaFighten commented on #3061
Related:
https://github.com/webpack/webpack/issues/6548
https://github.com/postcss/postcss-loader/issues/337
https://github.com/angular/angular-cli/issues/9726

[2018-02-26 15:36] GoshaFighten commented on #3061
The Angular CLI team fixed this issue in their [GitHub repository](https://github.com/angular/angular-cli/issues/9726). So, the fix should be available in Angular CLI of version 1.7.2.

[2018-02-26 15:36] #3061 closed, assigned to nightskylark

[2018-02-27 07:59] kodermax opened #3095 "deprecated displayExpr AutoComplete"
Why did you remove the useful attribute?
https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxAutocomplete/Configuration/#displayExpr

[2018-02-27 15:41] AlekseyMartynov commented on #3095
It's not removed, it's been renamed to `valueExpr` back in v15.2.
Do you experience any issues with the `valueExpr` option?

[2018-02-27 16:59] kodermax commented on #3095
Yes, I have a complex object where I want to display the field Name, and the value must go from the Id field.

[2018-02-27 18:51] AlekseyMartynov commented on #3095
Now I understand your question.
It's discussed and answered in https://devexpress.com/issue=T210054

[2018-03-01 09:37] dxbykov opened #3135 "TreeList - State Storing"
# The Problem

While working with the TreeList, end-users usually have it preconfigured (setup filters, column visibility, expand/collapse nodes, etc.) to perform their job tasks. The TreeList is expected to be restored in the same state as it was before navigating to another view or reloading a browser window. Similar functionality is already [implemented in the DataGrid](https://js.devexpress.co

[2018-03-06 16:43] dxbykov opened #3209 "TreeList - the getSelectedRowKeys method improvements"
# The Problem

Previously, the following tasks could not be easily performed while using recursive selection in the TreeList:

* Getting only the selected leaves
* Getting only the selected parents without leaves
* Getting the selected leaves and their parents

Refer to [a workaround solution](https://isc.devexpress.com/Thread/WorkplaceDetails/T590425) if you are using DevExtreme v17.2 and earlier

[2018-03-06 16:56] dxbykov opened #3210 "FilterBuilder - new built-in ‘Between’ and custom operations"
# The Problem

Previously, the DevExtreme [FilterBuilder component](https://js.devexpress.com/Demos/WidgetsGallery/Demo/FilterBuilder/WithDataGrid/jQuery/Light/) could work only with a limited subset of possible filtering operations which could not be extended. It was not possible to show and edit such filters using the FilterBuilder component, and the FilterBuilder cannot be integrated with the D

[2018-03-06 17:02] dxbykov opened #3211 "Charts - palette extension modes"
# The Problem

A palette is a predefined set of colors that are used to draw series. When a chart contains many series, the number of colors in a palette is insufficient to draw each series in a different color.

# The Solution

We have allowed extending the base palette color set by introducing the new `paletteExtensionMode` option for the [Chart component](https://js.devexpress.com/Demos/Widgets

[2018-03-07 00:44] alexgwolff commented on #2894
For those who also need this can be done with:

import * as devextreme from 'devextreme/localization';
import *  as defaultMessages from './default_messages_pt_BR.js';
devextreme.date.inject(defaultMessages);

default_messages_pt_BR.js is a copy of \devextreme\localization\default_messages
but with custom messages in portuguese

[2018-03-07 19:17] marciojg opened #3235 "Rails Assets"
Hi,

Can update for this version in rails-assets? https://rails-assets.org/#/components/devextreme

Thanks,

[2018-03-08 17:24] #3235 closed, assigned to nobody

[2018-03-12 09:04] #3095 closed, assigned to jsdmitry

[2018-03-12 12:13] etumyan opened #3244 ""Select all" checkbox has a wrong value in deffered selection mode"
### Steps to Reproduce:

1. Create a DataGrid widget with at least 2 rows and multiple selection mode enabled.
2. Follow this scenario: select first row -> select second -> deselect first -> deselect second.

### Results You Received:
"Select all" checkbox has an `undefined` state.

### Results You Expected:
"Select all" checkbox has a `false` state, since all rows are deselected.

### Tests

I ha

[2018-03-12 12:41] etumyan commented on #3244
Here is a strange behavior for the `selectionFilter` value also.
If you select/deselect rows in the way which described above you will get something like this:
[code]
But if you deselect rows reversely, `selectionFilter` value will be `[]`, which is correct.

[2018-03-13 12:46] Alyar666 commented on #3244
Hello,

We will process this issue in the context of the following Support Center thread:
[dxDataGrid - The "Select all" checkbox has a wrong value in deferred selection mode](https://www.devexpress.com/Support/Center/Question/Details/T615278)

[2018-03-13 12:46] #3244 closed, assigned to AlekseyMartynov, Alyar666

[2018-03-14 01:54] angel-menendez commented on #2856
Please take a look to this video from ionic. They are adding all the best features from framework  to their web components(Including Virtual Dom). Take a look at the comparison with React Fiber. https://www.youtube.com/watch?v=UfD-k7aHkQE

Hope yo can become Framework Independent.
Regards

[2018-03-14 19:16] selcukkutuk commented on #2856
@angel-menendez Thank you very much for your comment. I will review it as soon as possible.

[2018-03-14 19:23] selcukkutuk commented on #2856
@angel-menendez Thank you so much for comment. I follow very closely. I even wrote two articles on the stenciljs resources page. (in Turkish)

https://stenciljs.com/resources

[2018-03-19 09:26] hakimio opened #3346 "Vector map -> Bubble Markers -> "palette" config bug"
### Steps to Reproduce:

1.  Set "palette" config for vector map bubble marker layer
2.
3.

### Results You Received:
Bubble marker color does not change

### Results You Expected:
Bubble marker color changes based on palette setting

### Environment Details:
DevExtreme 17.2

### Plunker example
https://plnkr.co/edit/gnP6mfvE6sdGdKOQrBke

PS: yes, I know that I can use "color" config instead.

[2018-03-19 16:14] genachka commented on #1278
@Alyar666 very excited about 1069136eb796defe1dd847bbda8baed959ebe493! Looking forward to it, thank you!

[2018-03-20 11:36] pavelgruba commented on #3346
Hello,

We will process this issue in the context of the following Support Center thread:
[Vector map - Marker color does not reflect the layer.palette](https://www.devexpress.com/Support/Center/Question/Details/T617674)

[2018-03-20 11:36] #3346 closed, assigned to pavelgruba

[2018-03-20 17:37] dxbykov opened #3373 "Scheduler - Context Menu"
# The Problem

It is quite common to use the context menu in modern web scheduling applications. For instance, a user can create, update and delete appointments via the context menu. The DevExtreme [Scheduler](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/Overview/jQuery/Light/) does not have a convenient API for such use-cases until v18.1.

# The Solution

In v18.1, we introduced

[2018-03-20 17:45] dxbykov commented on #1278
@genachka Hi, pre-release is available.

### The Solution

You can use the `pager` and `paging` configuration options to enable a TreeList record paging capability. For instance, you can use the following TreeList configuration object:

[code]

The TreeList component has the [same API as the DataGrid](https://js.devexpress.com/Documentation/Guide/Widgets/DataGrid/Paging/).

Note: Due to the comple

[2018-03-21 18:02] genachka commented on #1278
@dxbykov thanks for the sample write up and sandbox. I've played a bit in the sandbox already and it's looking great! And **_thank you_** for making the API same as DataGrid!!

[2018-03-23 13:51] TigranOtaryan opened #3406 "dxTagBox issue with preselected items in 17.2.7 version"
1. I have preselected items in dxTagBox
2. Open dxTagBox list
3. See that preselected items are not selected in the list

[Fiddle NOT working example with 17.2.7 version](https://jsfiddle.net/s38ofe07/18/)

[Fiddle working example with 16.1.6 version](https://jsfiddle.net/s38ofe07/19/)

[2018-03-26 13:15] mrjohn0011 commented on #3406
Hello, Tigran!
 
I have created a corresponding ticket in the DevExpress Support center.
We will look for a solution. Please subscribe to [this ticket](https://www.devexpress.com/Support/Center/Question/Details/T619679/dxtagbox-does-not-select-initial-values-when-datasource-is-slow) to receive a notification when we fix this issue.

[2018-03-26 13:15] #3406 closed, assigned to mrjohn0011

[2018-03-28 14:03] bbakermmc opened #3445 "18.1 - Track Scaffolding Progress"
Where is the task for 18.1 so I can track the progress of the Razor/API scaffolding?

[2018-03-29 18:51] San4es commented on #3445
Hi @bbakermmc.

You can find information about CRUD API controller scaffolding in Visual Studio here:
[DevExtreme v18.1 Preview - CRUD API Controller Scaffolding in Visual Studio](https://www.devexpress.com/Support/Center/Question/Details/T620484/devextreme-v18-1-preview-crud-api-controller-scaffolding-in-visual-studio)

As for CRUD Razor view scaffolding, we have no public place where you can tra

[2018-04-03 07:55] BoBiene commented on #40
This is closed, is there a Vuejs wrapper available for DevExtreme?

[2018-04-03 08:06] kodermax opened #3504 "SignalR on PHP"
Will devextreme support web sockets implemented in php?
https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/SignalRService/jQuery/Light/

[2018-04-03 12:14] dxbykov commented on #40
The CTP release of DevExtreme Vue Wrappers will be available soon. We'll let you, guys, know about it in this thread. In our [recent blog post](https://community.devexpress.com/blogs/aspnet/archive/2018/03/13/devextreme-access-v18-1-features-today-for-early-testing.aspx), we also mentioned some alternative methods of getting notified of new DevExtreme stuff. Thanks for being interested.

[2018-04-03 12:20] kimrohdin commented on #3373
Great iniative! We have implemented our own contex-menu for now. An really important feature for us, is that you can select multiple cells, right click and then get both start and end time for the selection. Will this be supported?

[2018-04-03 16:18] dxbykov commented on #3373
Thanks for the feedback. Yes, we expect to implement this in 18.1.

[2018-04-04 09:20] lukyanovas commented on #20
Hi,
You can use npm to try the alpha version of [DevExtreme React wrappers](https://www.npmjs.com/package/devextreme-react). Please give us any feedback by creating an issue on [GitHub](https://github.com/DevExpress/devextreme-react)

[2018-04-04 09:21] lukyanovas commented on #16
Hi,
You can use npm to try the alpha version of [DevExtreme React wrappers](https://www.npmjs.com/package/devextreme-react). Please give us any feedback by creating an issue on [GitHub](https://github.com/DevExpress/devextreme-react)

[2018-04-04 16:25] AlekseyMartynov commented on #3504
You can use any transport or library.
SignalR integration in the sample that you refer to is implemented entirely in the demo code.

[2018-04-04 16:25] #3504 closed, assigned to AlekseyMartynov

[2018-04-05 13:15] dxbykov opened #3558 "Material Design theme"
# The Problem
Material Design is getting popular and becoming one of the modern web UI standards. For web developers, it’s frequently a requirement for new apps. Implementing it from scratch is a tremendous task.
# The Solution
We decided to provide the Material Design theme for DevExtreme components out-of-the-box. You can enable it using the [predefined themes approach](https://js.devexpress.com

[2018-04-05 13:24] dxbykov opened #3559 "Charts - client-side data aggregation"
# The Problem
Currently, data aggregation in Charts can only use a median filter. It is also impossible to specify a specific aggregation interval. So, the current API does not allow you to implement the required data aggregation scenarios.

# The Solution
DevExtreme Charts support the following data aggregation use-cases starting with v18.1:

* Applying built-in aggregation methods (avg, sum, ran

[2018-04-05 15:46] San4es commented on #3445
Hi @bbakermmc

We have progress on the view scaffolding feature! You can find all information about its early preview here:
[DevExtreme v18.1 Preview - CRUD Razor View Scaffolding in Visual Studio](https://www.devexpress.com/Support/Center/Question/Details/T622095/devextreme-v18-1-preview-crud-razor-view-scaffolding-in-visual-studio)

[2018-04-05 16:33] dxbykov opened #3565 "DataGrid - integrated filter builder"
# The Problem

* It is impossible to build complex filtering criteria using the DataGrid filter row or column filter. The FilterBuilder component allows this but requires extra coding to bind it to a DataGrid.
* Sometimes it's convenient to have a 'long-term' filter applied and then perform a 'short-term' extra filtering on the filtered rows. It’s hard to do with current API.

# The Solution

We i

[2018-04-05 17:34] bbakermmc commented on #3445
Thanks.

Doesn't seem to work if the context isn't in the project you're making the scaffold for.

Would there be an option to override the templates.  IE we use AspNetBoilerplate which implements IRepository<Model, ModelPKType>.

So ideally we would not want to use the context directly, I was going to see what the output code was, we can probably just do some simple replacements.

EX:
[code]

[2018-04-07 15:07] fizikst opened #3593 "Error when installing as npm package."
[Example with button](https://github.com/DevExpress/devextreme-examples/tree/18_1/webpack-jquery) does not work for version 17.2.7, return error : "dxButton is not a function", and it works with version 17.1.3.

[2018-04-07 17:24] genachka commented on #3565
While I do like very much that you added the ability to have additional filtering, as your current column filtering leaves A LOT to be desired, I'm not a fan of having a dedicated row on the bottom and having to have two experiences for filtering. Really wish the column filtering was more extensive.

Having used JQWidgets jqxGrid in the past, really miss the default ability they have in their colu

[2018-04-07 17:27] genachka commented on #3209
:+1: Thank you for adding this!

[2018-04-07 17:28] genachka commented on #3135
:+1: Thank you for adding this!

[2018-04-09 15:48] San4es commented on #3445
Thank you for your feedback!

It is a good point! We are going to make the context optional for view scaffolding in the next feature update.

As far as we understand, you want to configure additional widget options, do you?

[2018-04-09 16:03] AlekseyMartynov commented on #3593
The example works fine on our side.
Make sure you are on the matching branch of the `devextreme-examples` repo:

`git checkout 17_2`

[2018-04-09 18:51] bbakermmc commented on #3445
I dont want to "configure" the widget options per-say.  I want to be able to generate the required CRUD methods w/out having to use a context.  .Net Core doesnt support T4 and the rosyln code generation is complex for something this basic.  My list post provided examples of the methods I currently uses with my Repositorys.

[2018-04-10 08:36] dxbykov commented on #3565
@genachka Thanks for sharing your thoughts. We'll take them into consideration.

[2018-04-10 11:21] San4es commented on #3445
Thank you for the clarification. Now we understand your suggestion. Our current goal regarding this feature is to support CRUD API/View scaffolding based on the Entity Framework and Entity Framework Core. Thanks again for your feedback! We will keep it in mind during future release planning.

[2018-04-11 16:34] fizikst commented on #3593
Thanks,  it issue solved.
It not work:
"
var $ = require('jquery');
var dialog = require('devextreme/ui/dialog');
require('devextreme/ui/button');
...
"

It work :
"
var $ = require('jquery');
var dialog = require('devextreme/ui/dialog');
**require('devextreme/integration/jquery');**
require('devextreme/ui/button');
...
"

[2018-04-11 20:50] AlekseyMartynov commented on #3593
This is a documented breaking change.
Check items **BC4148** & **BC4150** in [Breaking changes introduced in 17.2.3](https://www.devexpress.com/Support/Center/VersionHistory?TechnologyName=DevExtreme&PlatformName=AllPlatforms&ProductName=AllProducts&VersionHistoryItemsType=BreakingChanges&StartBuildName=17.2.3&EndBuildName=17.2.3&version-mode=single-mode)

[2018-04-12 09:55] #3593 closed, assigned to AlekseyMartynov

[2018-04-12 19:44] IlyaKhD commented on #40
Hi everyone!
The alpha version of DevExtreme Vue Components is now available on [npm](https://www.npmjs.com/package/devextreme-vue).
Your feedback would be highly appreciated, please feel free to open an issue on our [GitHub](https://github.com/DevExpress/devextreme-vue).

[2018-04-13 06:59] brux88 commented on #3558
hi it is possible change primary and accent color?

[2018-04-13 07:27] babich-a commented on #3558
@brux88, we are working on adding the Material theme to the [ThemeBuilder](https://js.devexpress.com/ThemeBuilder/). Also, we plan to release a number of predefined color schemes for the Material theme. You can now change the @base-accent variable in [material.blue.light.less](https://github.com/DevExpress/DevExtreme/blob/18_1/styles/widgets/material/color-schemes/blue.light/material.blue.light.le

[2018-04-13 12:07] Jelledb opened #3686 "DateBox type=roller renders the year input under the other controls"
See this screenshot: https://i.imgur.com/87jpJm7.png.

You can clearly see that the year input field renders under the date & month inputs. The entire date-box doesn't get enough width because when I add another 10-20 pixels it works correctly.

[2018-04-15 13:20] rprimora commented on #3558
Some widgets look like no work has been done on them since they do not fit in material theme:
- dxLookup
- dxSelectBox
- dxTextArea
- dxTextBox
- dxNumberBox

Context menu items have buttons? I think what android theme had for context menu is closer to material theme.

Also it would be awesome if you could provide an easy way of defining a template for no data. I am talking here about widgets that

[2018-04-15 16:49] ltvan opened #3691 "dxNumberBox performs conversion of percent format values instead of the number localization parser"
Default number parser parses '15%' as 15, while Globalize parse '15%' as 0.15. DxNumberBox used to work by automatic divide parsed number by 100, but now with Globalize, it's failed to work because the Globalize parsed number is already divided by 100.

[2018-04-16 08:25] genusP opened #3694 "AutoComplete not show list on paste"
### Steps to Reproduce:
1. Copy to clipboard text Je
2.  Open https://js.devexpress.com/Demos/WidgetsGallery/Demo/Autocomplete/Overview/jQuery/Light/
3.  Select FirstName TextBox
4.  Click right mouse button and select Pate item

### Results You Received:

Open list of suggestions

### Results You Expected:

Suggestions list not showing

### Environment Details:

Browsers: Chrome 65, Edge 41

[2018-04-16 09:09] jsdmitry commented on #3686
Hi,

I've reproduced this problem and created the [T626105](https://www.devexpress.com/Support/Center/Question/Details/T626105/dxdatebox-the-year-is-rendered-incorrectly-when-the-type-option-is-roller) issue in our Support Center. As a workaround, you can add the `dx-viewport` CSS class to a parent container. The following [codepen](https://codepen.io/anon/pen/XEvjQZ) demonstrates this.

[2018-04-16 09:09] #3686 closed, assigned to jsdmitry

[2018-04-16 09:35] DokaRus commented on #3694
Hi,
I've created a corresponding [T626122 ticket](https://www.devexpress.com/Support/Center/Question/Details/T626122) in our Support Center. You can subscribe to it to receive a notification when we fix this issue.

[2018-04-16 09:35] #3694 closed, assigned to DokaRus

[2018-04-16 16:54] groshenkovamarina commented on #3558
Hey @rprimora! Thank you for your detailed feedback. We continue improving the Material theme and fixing some minor issues. That's why some of the widgets don't have a final look yet. For example, we have rolled out the dxToast with today's pre-release build and making some improvements in dxLookup right now.

Material guidelines don't describe every control and every feature we already have in De

[2018-04-16 23:46] felpel opened #12074 "[Question] Change locale on the fly"
Hi,

I'm trying to change the locale of my application at runtime with a language picker like this one:

![image](https://user-images.githubusercontent.com/5000004/38840522-23cc2e58-41ae-11e8-8684-cb4c18beb80d.png)

In the current screenshot, "French" would be the selected language, but I could pick also "English".

It works fine when I call the locale method in my custom localization module after

[2018-04-17 09:47] DokaRus commented on #3691
Hi,
I don't see any difference between using NumberBox with the `percent` format with or without Globalize.
I've prepared an example using the [default formatter](https://plnkr.co/edit/U0p98Si6nujdKng8I6vn?p=preview) and an example using [Globalize](https://plnkr.co/edit/pKrlTBw0pZboEuDxDsu3?p=preview).
Can you modify the first one to demonstrate the wrong behavior?

[2018-04-17 09:59] nightskylark commented on #12074
Hi,
Our widgets load localized strings only once on initializing. When you need to change your language, it's necessary to reload the current page using `window.location.reload();`.

[2018-04-17 12:42] sccrgoalie1 commented on #3558
Great.  This is a must have to make the editors look seamless in a material site.  The dxForm options works in some cases but won't work everywhere.

[2018-04-17 17:30] rprimora commented on #3558
@groshenkovamarina Here are some images of how it looks on my side.

This is dxLookup. It has a border all around which I think is not part of material look.
![dxlookup](https://user-images.githubusercontent.com/19466336/38886083-2ef8db24-4275-11e8-9a59-4ac834815775.jpg)
Thi is dxTextArea. It also has borders all around. I think this might be what you are saying - still in development.
![dxtextare

[2018-04-17 17:59] dxbykov opened #3712 "Scheduler - horizontal and vertical group orientations"
# The Problem

When horizontal scrolling and [grouping by resources](https://js.devexpress.com/Documentation/18_1/Guide/Widgets/Scheduler/Resources/Group_Appointments_by_Resources/) are enabled, it’s convenient to have static group titles on the left side. Previously, it was only possible to show groups horizontally in the top header. You can see the problem in action switching to the ‘Horizontal

[2018-04-17 18:03] BingoRUS commented on #3558
@rprimora Thanks for the clarification.
Yes, the dxLookup doesn't have a Material Design look yet. I'll let you know when we merge fixes of this control.
 
TextArea works as expected - check [this image](https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B5ZSepuCX1xOYXNnRjJKVU53Skk/area-states.png) from Material Design guidelines. Opposite of the TextArea with a fixed hei

[2018-04-17 18:03] dxbykov opened #3713 "DataGrid - performance improvements"
# Problem 1

The problem appears when using a DataGrid with [virtual scrolling](https://js.devexpress.com/Documentation/18_1/Guide/Widgets/DataGrid/Scrolling/). The more pages a user scrolls over, the slower the DataGrid becomes.

## The Solution

The mentioned performance issue is caused by HTML markup that is not removed from DOM when it’s invisible. Starting with 18.1, DataGrids cleans unnecess

[2018-04-17 18:24] rprimora commented on #3558
I gotta admit I did not scroll down to the textArea explanation but having seen it now I completely despise it 😄

Yes I was thinking more along the lines of multi-line editor like so...
![ezgif-4-ed8328ad97](https://user-images.githubusercontent.com/19466336/38888669-af7fd9d0-427c-11e8-8b4d-1dee933b47a7.gif)
...this currently works in your android theme for dxTextArea and it can be seen in some pl

[2018-04-17 18:34] BingoRUS commented on #3558
@rprimora I've added the multi-line mode and the character counter to our product backlog for future discussion. And I would like to say thank you once again for your detailed feedback.

[2018-04-18 07:29] Jelledb opened #3715 "DateBox type=rollers doesn't remove/disable values that are below the min/max value"
### Steps to Reproduce:

1. Create a datebox with the pickerType='rollers' and type='time'
2. Set a min value e.g. 08:00.

### Results You Received:
The list is rendered with values that will never be valid like 07:00, 06:00 etc.

### Results You Expected:
I expect a list from the minimum time. So 08:00, 09:00, etc.

**Note: the same goes for the maximum value.**

[2018-04-18 09:29] DokaRus commented on #3715
Hi,
I've reproduced the same behavior and created a corresponding [ticket](https://www.devexpress.com/Support/Center/Question/Details/T627173) in our Support Center. You can subscribe to it to receive a notification of our progress.

[2018-04-18 09:29] #3715 closed, assigned to DokaRus

[2018-04-18 11:17] ltvan commented on #3691
I look at your example and see the problem here. Actually `numberLocalization.parse` never use Globalize (as if `format` is string, it will call the parent). It uses the `numberLocalization.format` to detect localized config and use built-in parser to parse the text. Therefore the application still works.

My problem is that Globalize cannot work with angular-cli, so I have to write another integr

[2018-04-19 08:34] ltvan commented on #3691
I worked around my problem by the same way as the Globalize integration does. But I suggest that you should make it consistent in your code, that if the `format` automatically convert 0.15 to 15%, then the `parse` should do the same, i.e. 15% to 0.15. It's not the responsibility of `dxNumberBox` to divide the number to 100 after parsed.

[2018-04-19 10:37] mrjohn0011 commented on #3691
Hello Itvan!
 
We will discuss the possibility of moving this functionality from dxNumberBox to numberLocalization. Thank you for your suggestion.

[2018-04-19 10:37] #3691 closed, assigned to mrjohn0011

[2018-04-19 14:48] rouvian opened #3737 "Suggestion: Material Design theme dxForm label animation on focus"
First of all, great feature. I was able to get Material look an feel very quickly in my existing project.

Minor issues - In material design of forms the form label should actually moves when the focus is set on the control. The dxForm label does not do it. But still very good.

[2018-04-19 15:28] BingoRUS commented on #3737
@vrk1975 I'm glad to hear such positive feedback. Really hope you will enjoy the new theme even more than now when we fix some minor issues. We don't plan to add the focus animation of a label in a form with the release v18.1, but it's going to be added later this year.

[2018-04-19 16:55] jneves92 opened #3738 "DataGrid - Virtual scrolling over columns does not work with band columns"
Virtual scroll not working with fixed columns

1.  Set one column fixed
2.  <dx-data-grid #myGrid id="gridContainer"
                [columns]="planoTrabalhoColumns"
                [dataSource]="planoTrabalhoData">
    <dxo-paging [pageSize]="100">
    </dxo-paging>
    <dxo-scrolling **mode="virtual" rowRenderingMode="virtual" columnRenderingMode="virtual"**>
    </dxo-scrolling>
    <dxo-load-p

[2018-04-19 20:16] hakimio commented on #3713
Tried the first demo. When using height "100%" horizontal scrollbar only appears when I scroll all the way to the bottom of the grid. Is that intended?

[2018-04-20 15:49] komarovalexander commented on #3713
@hakimio In the case of the height set to "100%", nothing will happen if the parent element has no specified height. So you need to set the height of parents. 
Here is a working sample: [https://codepen.io/anon/pen/jxPYQX](https://codepen.io/anon/pen/jxPYQX)

[2018-04-20 19:33] troygould commented on #3713
I dialed down the first Angular plunkr to 30 columns and 3000 rows.
Chrome is awesome. No lag like I used to get.
Edge is ok. Some lag. Is this just the data in the browser or not completely implemented for Edge?
IE 11 doesn't work at all. Missing polyfills?

[2018-04-22 17:14] MihaMarkic opened #3759 "Suggestion: integrity value for CDN"
Can you provide script integrity attribute values (for sourcing from CDN)?

[2018-04-23 09:26] vconst commented on #3738
Hi @jneves92

I have created a plunkr example ([https://plnkr.co/edit/Ih04loNH3TD9HmjkirlJ?p=preview](https://plnkr.co/edit/Ih04loNH3TD9HmjkirlJ?p=preview)) based on your code, but couldn't reproduce the problem in it. Please modify the example so it illustrates the issue and describe the problem in more detail.

[2018-04-23 11:24] jneves92 commented on #3738
Hi @vconst

Thank you for reply.
I have modified example to illustrate my issue https://plnkr.co/edit/3NCUJh?p=preview

[2018-04-23 12:44] vconst commented on #3713
@troygould Thank you for your feedback.
The lags are visible during scrolling because the Edge browser is slower than Chrome. We are aware of this issue and are working on it.
IE11 works on my side but with lags as in Edge. Can you send us additional information about your IE11 (an operating system version, the IE11 full version)?

[2018-04-23 14:25] vconst commented on #3738
@jneves92
I have found that your example contains band columns. In the current pre-release version, virtual scrolling over columns does not work with band columns. We're going to fix it.

[2018-04-23 14:35] BingoRUS commented on #3759
Hello @MihaMarkic! Thank you for your suggestion. We are going to provide hashes for DevExtreme scripts hosted on CDN in our documentation. I will give you a link once we add this information.

[2018-04-23 17:07] troygould commented on #3713
Edge is usable. Just slower. Glad to know you are working on making performance better. As for IE 11:
Version 11.966.15063.0, Update Version: 11.0.56

[2018-04-24 19:28] troygould commented on #3713
Should have looked at IE dev console:
![8431adf7](https://user-images.githubusercontent.com/12100826/39209551-4ca25f4e-47c3-11e8-9125-fedadb8e4a89.PNG)

[2018-04-25 14:11] Jelledb opened #3815 "Suggestion: allow steps in dx-date-box with rollers"
Hi,

We're currently using the dx-date-box directive  (for Angular 1.x) and it would be great addition if we can configure a step/interval to the rollers, e.g. 5 minutes. Currently this is always set to 1 minute and is not configurable.

[2018-04-26 09:27] DokaRus commented on #3815
Hi,
 
Thank you for the suggestion! We'll take it into account in further development.

[2018-04-26 13:04] #3738 closed, assigned to vconst

[2018-04-27 02:56] FabianoCastro commented on #3565
Hi, I had tried it, but the PanelFilter does not update after restore the state of the DataGrid.

Thanks
![2018-04-26 23_55_12-crm_retornos listagem - is gestao](https://user-images.githubusercontent.com/34251113/39342232-663d69bc-49ad-11e8-8fdb-2a343a94d6c9.png)

[2018-04-27 03:14] FabianoCastro opened #3848 "Suggestion: Null Date"

[2018-04-27 03:18] #3848 closed, assigned to nobody

[2018-04-27 09:28] komarovalexander commented on #3565
@FabianoCastro thank you for your feedback.
I've reproduced this behavior and created a corresponding [ticket](https://www.devexpress.com/Support/Center/Question/Details/T630533/datagrid-shows-old-filter-values-but-does-not-apply-them-when-the-filtersyncenabled) in our Support Center. You can subscribe to it to receive a notification of our progress.

[2018-04-30 13:11] MihaMarkic opened #3881 "TS interface dxFilterBuilderField.filterOptions has duplicate restrictions"
### Results You Received:

filterOperations?: Array<'=' | '<>' | '<' | '<=' | '>' | '>=' | 'contains' | 'endswith' | 'isblank' | 'isnotblank' | 'notcontains' | 'startswith' | 'between' | '=' | '<>' | '<' | '<=' | '>' | '>=' | 'contains' | 'endswith' | 'isblank' | 'isnotblank' | 'notcontains' | 'startswith' | 'between'>;

### Results You Expected:

filterOperations?: Array<'=' | '<>' | '<' | '<=' |

[2018-05-01 09:45] MihaMarkic opened #3882 "type mismatch in DxLoadPanelOptions"
Duplicate definition with different type in options interface.
[code]

[2018-05-01 09:48] MihaMarkic commented on #3882
Also dxNavBarOptions.scrollByContent and dxSliderBaseOptions.focusStateEnabled

[2018-05-02 10:11] JacopoSciampi opened #3883 "Style component now that Angular deprecated the /deep/ selector"
This is the error message I recieve :

[Deprecation] /deep/ combinator is no longer supported in CSS dynamic profile.It is now effectively no-op, acting as if it were a descendant combinator. /deep/ combinator will be removed, and will be invalid at M65. You should remove it. See https://www.chromestatus.com/features/4964279606312960 for more details.

I wanted to know how to solve that. I'm using

[2018-05-02 13:02] wgutierrezr commented on #3712
In the live demo, I tried to move an appointment to another day. When dropping the appointment to a particular day and time, it automatically moves to another day and time, not to the selected one.

[2018-05-03 06:53] ovchinnikov commented on #3883
I recommend that you refer to the following thread where a similar inquiry was discussed: [Alternative to /deep/ in the future](https://github.com/angular/angular/issues/17867)?

[2018-05-03 06:53] #3883 closed, assigned to ovchinnikov

[2018-05-04 09:07] #3882 closed, assigned to IlyaKhD

[2018-05-07 07:55] #3881 closed, assigned to IlyaKhD

[2018-05-08 07:36] Jelledb opened #3924 "Bug: dx-date-box pickerType='list' shows incorrectly positioned on mobile"
### Steps to Reproduce:

1. Create a dx-date-box with pickerType='list' & type='time'
2. Load the dx-date-box on a mobile device or using the Chrome mobile mode (see screenshot)
3. The list pop-up will show incorrectly positioned.

Screenshot desktop OK:
![q](https://i.imgur.com/A9sM7oc.png)

Screenshot mobile NOK:
![w](https://imgur.com/iWFT1xJ.png)

I have also tested this on an actual Android d

[2018-05-08 09:30] DokaRus commented on #3924
Hi,
I've reproduced the same behavior and created a corresponding [Support Center ticket](https://www.devexpress.com/Support/Center/Question/Details/T633338). You can subscribe to it, and we'll send you a notification once we have any results.

[2018-05-08 09:30] #3924 closed, assigned to DokaRus

[2018-05-09 14:56] FabianoCastro opened #3940 "Suggestion: CustomDialog Focus Button"
Hi

In the DevExpress.ui.dialog.custom(), I want to indicate which button should be focused.

Ex.:
With buttons: Yes|No|Cancel
I want FOCUS: "No"

[2018-05-10 09:41] AlekseyMartynov opened #3943 "Actualize NOTICE.txt when the updated EULA is ready"
FYI @BingoRUS

[2018-05-14 12:14] KsyushaM commented on #3712
Hi @wgutierrezr,
There is a similar [ticket](https://www.devexpress.com/Support/Center/Question/Details/T627821/scheduler-appointments-are-incorrectly-positioned-at-the-second-interval-of-the-workweek) in our Support Center. We have fixed this problem and will include it in the upcoming release.

[2018-05-15 12:33] andrii-oleksyshyn opened #3995 "dxSelectBox, dxTagBox - When searching for non-existing value popup with 'No data to display' blinks and hides"
### Prerequisites:
- list of items
- search enabled

### Steps to Reproduce:

1. Click on dropdown, see the list of items appears.
2. Type something that doesn't match with list items (e.g. qqqq) for search.
3. See the popup with 'No data to display' appears and immediately disappears, sometimes it's even impossible to read the wording.

### Reproduction:
Plunker: http://plnkr.co/edit/5mkoG2v7zV2e

[2018-05-15 12:43] vconst commented on #3713
@troygould I have found that the error in IE11 occurs in the embed plunker service and it is not related to DevExtreme. I have prepared a [plunker demo](https://plnkr.co/edit/hnwZuIAPg9MvnJ0DOUQB?p=preview) that works in IE11.

[2018-05-15 18:36] richie50 opened #4014 "Build 17.2.8 throws an exception when navigating between different views in scheduler module."
### Steps to Reproduce:

1. Update dev-extreme package to 17.2.8 ,Build date Tue May 08 2018
2. File: `DevExtreme (ui/scheduler/ui.scheduler.appointments.strategy.base.js)`
3. Navigating between different views. for example navigating from day to weeks throws this error

![image](https://user-images.githubusercontent.com/7333599/40076129-164f8310-584c-11e8-80d9-b03d5fa49472.png)

### Results You R

[2018-05-16 08:05] kodermax opened #4016 "External icons bug"
### Steps to Reproduce:

1. open https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ToolbarCustomization/Angular/Light/
2.  include font awesome
3. change button optons
[code]

### Results You Received:
![image](https://user-images.githubusercontent.com/590985/40104453-13bb208e-58f9-11e8-9c85-3e3fbd9e57f6.png)

### Results You Expected:

Where is truck?

### Environment Details:

Angular

[2018-05-16 09:32] DokaRus commented on #4016
Hi,
I see a misspelling in your definition of the `icon` option. If you replace `"fas fa-truck"` with `"fa fa-truck"` all will be OK.
I've prepared a [live example](https://plnkr.co/edit/7bMgtkAcHBNWqtu7Yu7s?p=preview).

[2018-05-16 09:32] #4016 closed, assigned to DokaRus

[2018-05-16 10:23] kodermax commented on #4016
I use this css file
```<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">```

and have bug.

[2018-05-16 11:00] DokaRus commented on #4016
I've checked the live example with your link and it works fine. [Here](https://plnkr.co/edit/XNFH4UQPOHMNIs4moxdt?p=preview) is an updated example. Can you modify it to demonstrate the issue?

[2018-05-16 11:28] DokaRus commented on #4016
I've reproduced the issue using a Button without text and created a corresponding [ticket](https://www.devexpress.com/Support/Center/Question/Details/T636219) in our Support Center. You can subscribe to it to be notified as soon as we make any progress with the issue.

WA: you can change an icon width via CSS
[code]

[2018-05-16 11:41] KsyushaM commented on #4014
Hi,
I can't reproduce this problem. Would you please clarify your scenario and data? You can change this code [example ](https://plnkr.co/edit/3nSe22JaGnQhvBDaUkOZ?p=preview)to demonstrate the problem.

[2018-05-16 13:10] richie50 commented on #4014
yes @KsyushaM i'm trying to reproduce it.its a strange one :) But from our observation it seems when the the scheduled date for a particular appointments extends to the next day we have this problem. Meanwhile i have a check to solve this issue which i will be committing soon.

[2018-05-16 19:10] hakimio opened #4022 "Accordion panel is missing titles when Material theme is used"
### Steps to Reproduce:

1. Go to DevExpress demos
2. Select Navigation -> Accordion
3. Select Material design theme

### Results You Received:
Accordion titles are not visible

### Results You Expected:
Accordion titles are visible

### Environment Details:
Chrome 66
DevExtreme Angular 18.1

[2018-05-17 09:36] KsyushaM commented on #4014
@richie50 We can't approve your [PR](https://github.com/DevExpress/DevExtreme/pull/4019) because it just avoids the problem, but doesn't solve it.
I added appointment data from your PR to simple Scheduler configuration, but can't reproduce it anyway. I assume the problem is somewhere else. Can you create a example with all the steps that lead to the problem?

[2018-05-17 14:02] tomshane opened #4037 "Suggestion: Include LESS styles in the NPM package"
Hello,

this is not an issue per se, but it would be great if the LESS styles could be included in the NPM package. We are using DX together with Bootstrap (they already include SCSS files), which we customize and we have to sync styles (colors, fonts...) with DX theme, so we build styles from the LESS source files and do not use Theme Builder.

Now, with every new version, we have to download sou

[2018-05-17 14:18] b1tzer0 commented on #4037
I agree, having the less files would make the process of building the customized themes much easier.

[2018-05-17 19:29] BingoRUS commented on #4037
Hi @R74NN, @b1tzer0!

We are going to provide a ThemeBuilder CLI tool which you can use while building your project. Will it be enough to make automation possible for your projects?

[2018-05-17 20:03] tomshane commented on #4037
I can't tell, it depends how exactly it is going to work. In my opinion and for our use, including LESS styles in the package would be quite easy and would 100% work with our current build process.

[2018-05-18 07:09] hakimio commented on #4022
Seems to be fixed now?

[2018-05-18 07:49] pfeigl commented on #3558
Lookup dropdown in DataTable is too small in material theme. See the following two screenshots of android vs material theme:

Good (android theme)
![image](https://user-images.githubusercontent.com/237891/40222725-c2ccce00-5a80-11e8-942e-16c367e35e37.png)

Not working (material theme)
![image](https://user-images.githubusercontent.com/237891/40222737-cf6d02ba-5a80-11e8-96d1-26ae3a102934.png)

[2018-05-18 13:14] groshenkovamarina commented on #3558
Hi @pfeigl!
The drop-down window width is equal to the editor width by default. This logic doesn't depend on a particular theme.
At the same time, we added default paddings for each column in the material theme (see our [blog post](https://community.devexpress.com/blogs/donw/archive/2018/04/26/devextreme-new-material-design-theme-v18-1.aspx) for more information).
So, the editor width is small and

[2018-05-18 14:04] AlekseyMartynov commented on #4037
@R74NN :

How exactly do you build them? DevExtreme LESS files are quite specific, they are converted to CSS themes via the [style-compiler tool](https://github.com/DevExpress/DevExtreme/tree/18_1/build/style-compiler). But this and other build tools are not the part of the NPM package. My guess is that you make custom builds of DevExtreme. Am I right?

The general idea behind the CLI is to allow

[2018-05-18 14:36] #4022 closed, assigned to groshenkovamarina

[2018-05-18 16:07] pfeigl commented on #3558
Already realised that the lookup extends in size as soon as the column gets bigger.

What I don't understand is: Why is the dropdown so much bigger than the original field with the android theme? There is is also much bigger than the actual column (see my first screenshot)

Anyways: Big thanks for the new theme, it's looking fantastic, very nice work there!

[2018-05-18 16:23] tomshane commented on #4037
In our project, we are using webpack and less-loader to compile LESS files to CSS. I have created a "dx.less" file, where I import all LESS files needed (depending on components we are using from DevExtreme). We import LESS files as they are and only alter some variables (colors, borders, fonts...), so the final CSS is our custom theme. I only needed to figure out what files in what order to impor

[2018-05-18 16:57] brux88 commented on #3558
hi, I have the same problem, because the descent was like the column, before it was bigger, how can I fix it

[2018-05-18 19:06] Brandinga commented on #4037
would also like more customable styles.

currently my main problems are:
1) i only want the css for components that i'm using (complete css-theme files are huge)
2) no automation (ThemeBuilder CLI should help)

[2018-05-21 09:23] AlekseyMartynov commented on #4037
Thanks @Brandinga @R74NN

Declaring LESS source files redistributable will imply compatibility guarantees from our side. On the other hand, we recognize the need for more modular styles. To achieve this, we might need to deeply restructure them in future. Thus said, it's unlikely that we redistribute LESS in their current form.

[2018-05-21 11:03] groshenkovamarina commented on #3558
@pfeigl Thank you for your positive feedback! You're right, in the android theme the width of the drop-down window is calculated differently. We'll check if we can move the same logic to the material theme.

[2018-05-21 11:07] groshenkovamarina commented on #3558
Hi @brux88,
As I wrote above, in the material theme default paddings of the grid column were increased.
If extending the column does not suit you, then you can reduce the paddings using CSS.
If your scenario is more complex, I recommend you contact our Support Team in the [Support Center](https://www.devexpress.com/Support/Center/Question/Create).

[2018-05-21 11:09] dxbykov commented on #3713
Thanks to everybody who participated in this discussion or gave us early feedback by other means. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](http

[2018-05-21 11:09] #3713 closed, assigned to nobody

[2018-05-21 11:10] dxbykov commented on #3712
Thanks to everybody who participated in this discussion or gave us early feedback by other means. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](http

[2018-05-21 11:10] #3712 closed, assigned to nobody

[2018-05-21 11:11] dxbykov commented on #3565
Thanks to everybody who participated in this discussion or gave us early feedback by other means. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](http

[2018-05-21 11:11] #3565 closed, assigned to nobody

[2018-05-21 11:14] dxbykov commented on #3559
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-05-21 11:14] #3559 closed, assigned to nobody

[2018-05-21 11:14] dxbykov commented on #3373
Thanks to everybody who participated in this discussion or gave us early feedback by other means. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](http

[2018-05-21 11:14] #3373 closed, assigned to nobody

[2018-05-21 11:15] dxbykov commented on #3211
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-05-21 11:15] #3211 closed, assigned to nobody

[2018-05-21 11:16] dxbykov commented on #3210
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-05-21 11:16] #3210 closed, assigned to nobody

[2018-05-21 11:17] dxbykov commented on #3209
Thanks @genachka and everybody who gave us early feedback by other means. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/S

[2018-05-21 11:17] #3209 closed, assigned to nobody

[2018-05-21 11:19] dxbykov commented on #3135
Thanks @genachka and everybody else who gave us early feedback by other means. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.

[2018-05-21 11:19] #3135 closed, assigned to nobody

[2018-05-21 11:19] dxbykov commented on #3072
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-05-21 11:19] #3072 closed, assigned to nobody

[2018-05-21 11:20] dxbykov commented on #1278
Thanks to everybody who participated in this discussion or gave us early feedback by other means. The feature is now available in the [v18.1](https://github.com/DevExpress/DevExtreme/releases/tag/18.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](http

[2018-05-21 11:20] #1278 closed, assigned to nobody

[2018-05-21 12:33] groshenkovamarina commented on #4022
Hi @hakimio! Thank you for the report. We fixed this issue and will publish this fix in the next minor release.

[2018-05-21 14:18] pedrofurtado opened #4074 "Upgrade to jszip v3.1.5?"
The jszip v3.1.5 is out and stable. Could you upgrade the dependency?

[2018-05-21 15:03] dxbykov commented on #40
Thanks to everybody who participated in this discussion or gave us early feedback by other means. The Vue support is now available as CTP. All the Vue related development is happening in [a separate GitHub repo](https://github.com/DevExpress/devextreme-vue). Please give your further feedback on Vue support in that repo.

[2018-05-21 15:03] #40 closed, assigned to nobody

[2018-05-21 15:50] AlekseyMartynov commented on #4074
3.1.5 is compatible with the current spec:

https://github.com/DevExpress/DevExtreme/blob/bd128d49255d3cf95e0eda5b32f0304a43fdd241/package.json#L26-L28

You can use [`npm update`](https://docs.npmjs.com/cli/update) to upgrade projects.

[2018-05-21 15:50] #4074 closed, assigned to AlekseyMartynov

[2018-05-22 08:37] Yura13 opened #4078 "Safari: Column for checkboxes is collapsed when an empty grid is shown."
Column for checkboxes is collapsed when the first opening page with an empty grid. Reproduced only in safari browser.

### Steps to Reproduce:
1. dx-data-grid with next properties:
[columns]="columns"
[selection]="{mode: 'multiple', allowSelectAll: false}"

2. When try to inspect element:
In styles tab:
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
      width: 70px;
      m

[2018-05-22 10:39] #3943 closed, assigned to AlekseyMartynov

[2018-05-22 14:29] Brandinga commented on #4037
FYI
my use case for component based css would be angular with lazy-loading modules.
main-module: menu-css
lazy-module: grid-css

[2018-05-22 15:09] San4es commented on #3445
@bbakermmc

Thank you for your valuable feedback. This feature is now [available in v18.1](https://js.devexpress.com/New/18_1/#MVCControls). I'm closing this issue. In the case of bugs or questions, feel free to create new separate tickets in our Support Center.

We are moving forward and already working on our roadmap for v18.2 and v19.1. We invite you to share your thoughts on future scaffolding

[2018-05-22 15:09] #3445 closed, assigned to San4es, AlekseyMartynov

[2018-05-24 05:07] gordon-matt opened #4098 "Suggestion: dxPivotGrid - "blank"/"empty" option for summaryDisplayMode"
I'd like to suggest a **"blank"/"empty"** option for **summaryDisplayMode** on the **dxPivotGrid**. The reason for this is the PivotGrid is great for displaying grouped fields for rows and columns. For example, consider this screenshot of something I tried:

![pivotgrid summary problem](https://user-images.githubusercontent.com/2860937/40465234-e12ced98-5f5e-11e8-8fed-f4392c68774b.PNG)

In this re

[2018-05-24 12:40] Alyar666 commented on #4078
Hello,

We will process this issue in the context of the following Support Center thread:
[dxDataGrid - The selection column is collapsed when an empty grid is shown in the Safari browser](https://www.devexpress.com/Support/Center/Question/Details/T639160)

[2018-05-24 12:40] #4078 closed, assigned to Alyar666

[2018-05-29 14:32] roman-simionov commented on #4098
Hello @gordon-matt,

As far I understand, you want to show values for last level fields only. If so, you can use a [calculateSummaryValue](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/PivotGridDataSource/Configuration/fields/#calculateSummaryValue) callback. I have prepared an [online sample](https://codepen.io/anon/pen/pKoewe) that demonstrates this approach.

Alternatively, I

[2018-05-29 15:35] gordon-matt commented on #4098
Excellent! No need for any new option then. Thanks for your time.

[2018-05-29 15:35] #4098 closed, assigned to nobody

[2018-05-31 11:04] KsyushaM commented on #4014
We didn't get enough information on reproducing the problem. Let us know if new details appear.

[2018-05-31 11:04] #4014 closed, assigned to KsyushaM

[2018-06-05 16:47] BingoRUS commented on #3558
Thanks for trying the feature. Based on your feedback, we improved some use cases in the Material theme. It is available since v18.1.3. Also, we extended a list of planned features for the next major release. Right now, I'm closing this discussion thread and recommend you create [a new issue here](https://github.com/DevExpress/DevExtreme/issues/new) or [a ticket in our Support Center](https://www.

[2018-06-05 16:47] #3558 closed, assigned to nobody

[2018-06-09 18:22] TobiasBreuer commented on #12074
@nightskylark Hi, I know this issue is already closed, but is this seriously the final solution for this issue? Especially within an SPA reloading the application for changing the language is not an option.
We are currently using ngx-translate to allow for internationalization of our Angular based SPA. Now the only part that's left are the dx components. I would not have imagined that this would t

[2018-06-12 18:24] genachka opened #4311 "Feature request / suggestions: DataGrid editing icons buttons instead of text"
If in options, `editing` mode is set to 'row' and 'allowUpdating' is true, I know that the texts `editRow` can be customized to say something else, but I'd like to use a FontAwesome icon there instead. Same for the `save` and `cancel` and if I enable `allowDeleting`. I may want an icon button and label as well. I tried putting an icon button where the editRow texts goes but it doesn't render the H

[2018-06-12 22:57] genachka opened #4312 "18.1.3 DataGrid row events now triggered?"
I have for DataGrid config the following:
[code]

Initiating a row add from API (i.e. `gridInstance.addRow()`) or row delete (i.e. `gridInstance.deleteRow(1)`) from API doesn't trigger events. I tried all of the following events:
[code]

[2018-06-13 01:11] genachka commented on #4312
Disregard. Realized needs `on` in front of it, i.e. `onRowInserted`. Which the documentation API page should mention: https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Events/

[2018-06-13 01:11] #4312 closed, assigned to nobody

[2018-06-13 10:39] Alyar666 commented on #4311
Hello @genachka,

Starting with version 18.1, you can enable the [dxDataGrid.editing.useIcons](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/editing/#useIcons) option for this purpose.

Please refer to the following online demo to learn how to change the position of a command column: [Customize Command Columns](https://js.devexpress.com/Demos/WidgetsGalle

[2018-06-17 14:53] d-rudak opened #4395 "Custom store as filterbuilder field lookup dataSource"
dxFilterBuilder display incorrect text value in dx filterbuilder item, when data source is custom store (always display first value of data source).

I've prepared an example: https://codepen.io/d-rudak/pen/mKqWaM?editors=0010

### Steps to Reproduce:

1. Change filter dropdown value to "Televisions"
2. Onfocus dropdown

### Results You Received:

Displayed "Video Players" (first value of the list

[2018-06-18 08:08] komarovalexander commented on #4395
Hi,
I've created a [corresponding ticket in the DevExpress Support center](https://www.devexpress.com/Support/Center/Question/Details/T646772/dxfilterbuilder-displays-an-incorrect-text-value-when-use-a-customstore-as-the).
You can subscribe to it to receive a notification of our progress.

[2018-06-18 08:10] #4395 closed, assigned to komarovalexander

[2018-06-18 09:53] #4311 closed, assigned to Alyar666

[2018-06-19 08:27] pikhovkin opened #4421 "Need the ability to create tables in a horizontal plane with using cellTemplate"
Need the ability to create tables in a horizontal plane with using cellTemplate

For example:

![grid_horizontal_cell_template](https://user-images.githubusercontent.com/630071/41585746-9a949624-73b3-11e8-9fbb-79dd4c088f73.png)

[2018-06-19 19:08] genachka commented on #4311
@Alyar666 ahh missed that new feature, thanks I've enabled it and thanks for the info on moving the position of the icon column. Is it possible to replace the icons with those from Font Awesome?

using the onToolbarPreparing event.

The Add button is rendered in the toolbar, but the toolbar is above the grid. What if I wanted the toolbar to be at the bottom? Or what if instead of the toolbar, I wa

[2018-06-19 20:35] AlekseyMartynov commented on #4421
Based on the picture, it looks that you need a UI component called 'Vertical Grid'.
We don't have a vertical grid in DevExtreme, but to some extent it can be simulated with a Row Template.
Check the discussion at https://devexpress.com/issue=T543407.

[2018-06-20 09:04] pikhovkin commented on #4421
Row template must be string type in my task.

Thanks for `Vertical Grid` keyword.

[2018-06-21 08:06] AlekseyMartynov commented on #4421
If you have a specific question about DataGrid templates, please ask.

[2018-06-21 10:08] AKNiazi opened #4454 "Not working correctly in iframe"
I am trying to use devextreme data grid in an iframe. Iframe is created using node vm runInNewContext method. Although, grid is drawn correctly, action can be applied only once. For instance, i can apply sorting only once. When i click somewhere else in the page and then sort again it works for one time again.

Note
1. The same code works fine outside the iframe.
2. Instead of using this npm packa

[2018-06-21 14:12] AlekseyMartynov commented on #4454
It's not clear for us how you combine `vm.runInNewContext` with 'Chrome on Ubuntu'.
Please provide more details about the project and frameworks/tools being used.

[2018-06-21 15:27] AKNiazi commented on #4454
I am modifying [superset](https://github.com/apache/incubator-superset) for an in house project.

This is how [vm.runInNewContext](https://github.com/apache/incubator-superset/blob/master/superset/assets/src/modules/sandbox.js) is being used.

Taking the code in the above link as an example.

I added DevExpress to the context

         console,
         DevExpress,
};

and then called sandboxedEva

[2018-06-21 19:24] AlekseyMartynov commented on #4454
Can it be that you load both `dx.all.js` and individual DevExtreme modules from the npm package?
We debugged a similar case in https://github.com/DevExpress/DevExtreme.AspNet.Data/issues/214#issuecomment-391675919.

Since you are using the global `DevExpress` object, loading `dx.all.js` (or a [custom bundle](https://js.devexpress.com/Documentation/Guide/Common/Modularity/Create_a_Custom_Bundle/))

[2018-06-22 07:43] hakimio opened #4475 "[18.1.4] Changing button type in POPUP toolbar doesn't work when using MATERIAL theme"
### Steps to Reproduce:

1.  Define a popup
2.  Add a button to **popup's** toolbar
3. Set "type" to "success"

### Results You Received:
Changing button type doesn't do anything

### Results You Expected:
Changing button type would change the way it looks

### Environment Details:
DevExtreme: **18.1.4**
DevExtreme Angular: **18.1.4**

**Demo**: https://stackblitz.com/edit/angular-78nr8q

PS: yes,

[2018-06-22 11:30] AKNiazi commented on #4454
So when i require jquery in the sandbox.js, many things get fixed. However, drag and drop, scrolling are not working and filter popups does not show in the proper place as popups are appended outside the iframe.

[2018-06-22 13:00] nightskylark commented on #12074
Hi, @TobiasBreuer
You mentioned that reloading the window is not an option. Usually, users change a locale only once and therefore your app should be reloaded only once. Moreover, real-world apps should be able to restore its state after reloading. In this case, it is not quite clear why reloading an app for applying the required locale is not an option for you. Would you please describe why the c

[2018-06-22 15:34] AlekseyMartynov commented on #4454
This is very unusual. It seems that due to peculiarities of `sandboxedEval`, jQuery gets a wrong [context](http://api.jquery.com/jquery/#selector-context).

Luckily jQuery isn't a required dependency [since 17.2](https://community.devexpress.com/blogs/donw/archive/2017/11/09/devextreme-with-and-without-jquery-v17-2.aspx). Try without jQuery. Check [Getting Started](https://github.com/DevExpress/De

[2018-06-22 15:54] AlekseyMartynov commented on #4454
**UPDATE**
I see that superset [uses jQuery internally](https://github.com/apache/incubator-superset/search?q=jquery).
Try to include it in `GLOBAL_CONTEXT`:

[code]

[2018-06-24 03:42] botura opened #4484 "Can't type year in DateBox when pickerType="native""
### Steps to Reproduce:

1. Go to the API reference: [DateBox](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDateBox/)
2. Change pickerType property: `pickerType: "native"`
3. Try to type the current date (my date format is dd/mm/yyyy): day and month are ok, but I can't type the  year, it seens that only the last digit is changing:

Typing 2 -> 1902
Typing 0 -> 0000
Typing 1 ->

[2018-06-25 07:57] mrjohn0011 commented on #4484
Hello,
I have reproduced this issue and created a public ticket in the [DevExpress Support center](https://www.devexpress.com/Support/Center/Question/Details/T649098). Please subscribe to it to receive a notification of any updates. This issue will be closed on GitHub. Our further discussion will be available in the Support Center.

[2018-06-25 07:57] #4484 closed, assigned to mrjohn0011

[2018-06-25 11:14] pikhovkin commented on #4421
Resolved by compiling a script-tag template in the browser (with using [babel-standalone](https://github.com/babel/babel-standalone)) and wrapping over the DataGrid.rowTemplate

[2018-06-25 11:22] #4421 closed, assigned to AlekseyMartynov

[2018-06-26 13:54] valavrov opened #4502 "Add the capability to re-validate a custom validation rule"
We have cutom validator. It should receive data from server and after compare result with field value. If result from server are equal field value the field should become invalid. Simple case for login: if login exists on server, then user should choose another.

Solution with setup reevaluate option to true is not acceptable because it leads to a large number of requests to the server.

Example h

[2018-06-27 13:40] jsdmitry commented on #4502
As I understand the problem, the value is valid when you set "oldLogin" to the editor and click on the submit button. This happens because you set another value to valueFromServer on the form submit event before the custom validation rule will check the value of an editor with valueFromServer.

[2018-06-28 09:02] valavrov commented on #4502
I try to explain.
We have two users whos want to register on our service in one time. Both choose "login" as login. After they taped this, custom validator send request to the server and server said what login are available. But, after users click submit button, we need to revalidate availability of current login, because this login alredy can be assigned to another user. With that situataion our

[2018-06-28 09:05] JuFrolov commented on #4502
It seems you did not understand the problem.
The group validation method ignores custom rules. There is no way to force them into account only when this method is called, this is the problem.

[2018-06-28 12:27] AlekseyMartynov opened #4526 "Add CommonJS branch to localization and vectormap-data artifacts"
For better compatibility.
Currently related Widget Gallery samples fail in CodeSandbox.

Files in question:
- build/gulp/localization-template.jst
- build/gulp/vectormapdata-template.jst

Suggested change:
See vectormap-data.js in https://codesandbox.io/s/2x7l3k5qwn

[2018-06-28 13:18] hakimio opened #4528 "[18.1.4] It's not possible to set default value for grid editor's grouped column"
### Steps to Reproduce:

1.  Define a grid
2.  Enable grouping
3.  Enable editing plugin with adding and editing options
4. Set default values for some editor fields using "onEditorPreparing" callback
5. Press the "Add a row" button

### Results You Received:
The grouped fields do not have default values set while not grouped ones do have them.

### Results You Expected:
All fields should have def

[2018-06-29 09:44] AlekseyMartynov commented on #4502
An easy trick that should help in this case:

- Add `#loginValidator` to the login validator (like you do with `#groupToCheck`)
- Enable `reevaluate` just before validation on submit:

[code]

P.S. Even with revalidation, there's a chance that a login becomes unavailable 1ms before the request hits the server. Or even during processing on the server. I understand that there might be requirements f

[2018-06-29 11:34] komarovalexander commented on #4528
Hi @hakimio

When you add a new row, you can set default values in [onInitNewRow](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onInitNewRow)

I've modified your example: [https://codesandbox.io/s/ppqy01lmqq](https://codesandbox.io/s/ppqy01lmqq)

[2018-06-29 11:38] hakimio commented on #4528
@komarovalexander
Thanks for the info. I didn't know that.
Anyway, I still think it's strange that you can set value for one field but not the other in "onEditorPreparing()". Do you think it works as intended?

[2018-06-29 13:31] JuFrolov commented on #4502
AlekseyMartynov, thx for dirty trick.
It would be nice, nevertheless, to share the possibilities of calling a general check and the main purpose of reevaluate.

[2018-06-29 16:14] San4es commented on #4526
Closed in 17.2, 18.1 and 18.2 via #4527, #4540 and #4541.

[2018-06-29 16:14] #4526 closed, assigned to San4es

[2018-07-02 09:43] komarovalexander commented on #4528
@hakimio
Yes, this works as expected. In onEditorPreparing, you can customize an editor, and setValue is a method that you should call to change a cell value after the editor's value is changed. If you need to set a default value for a new row, you shouldn't use onEditorPreparing.

[2018-07-02 09:43] #4528 closed, assigned to komarovalexander

[2018-07-03 06:26] #4475 closed, assigned to babich-a

[2018-07-03 16:56] #4454 closed, assigned to AlekseyMartynov

[2018-07-04 08:41] jsdmitry commented on #4502
Currently, we do not have a good solution to resolve this issue. However, we added a task to improve remote validation to our plans for the future.

[2018-07-04 18:21] valavrov commented on #4502
Thank you.

[2018-07-09 02:41] bbakermmc opened #4615 "LoadPanel Enhancements"
Is there any reason why the LoadPanel is so complex to use when compared to something like BlockUI?  What cant be done to make this easier to use there should just be a way to call it like the dxToast.
IE https://js.devexpress.com/Documentation/ApiReference/Common/utils/ui/#notifymessage_type_displayTime

[2018-07-09 02:47] bbakermmc opened #4616 "How to customize an alert"
For the alerts, can it take a type to mimic SweetAlerts https://sweetalert2.github.io/.
It looks like an alert is just a popup?  Can it take custom templates?

[2018-07-09 02:50] bbakermmc opened #4617 "Toast Enhancements"
Its 2018 and we still cant render html or even '/r/n' w/out having to overwrite the message style?

Add option UseHtml = False.
Modify this line to render text/html? https://github.com/DevExpress/DevExtreme/blob/710d7b4fd9e582c53f97138f3e678aa3ce0356d5/js/ui/toast.js#L346

[2018-07-09 07:06] jsdmitry commented on #4615
Based on the provided information, it is difficult to determine why it is complex to use dxLoadPanel. Please describe issues that you faced when using the dxLoadPanel widget.

[2018-07-09 07:29] hakimio commented on #4616
You have few different [dialog methods](https://js.devexpress.com/Documentation/ApiReference/Common/utils/ui/dialog/) to choose from.

[2018-07-09 07:34] hakimio commented on #4617
From the documentation:

[Toast > Customize the Content](https://js.devexpress.com/Documentation/Guide/Widgets/Toast/Customize_the_Content/)

[2018-07-09 08:06] mrjohn0011 commented on #4616
Hello,
You can use dxPopup to get the required behavior. I have created a [CodePen ](https://codepen.io/anon/pen/vaBKYq) to demonstrate how to do this. The current issue will be closed. If you have any questions, feel free to contact us in the [DevExtreme support center](https://www.devexpress.com/Support/Center/).

[2018-07-09 08:06] #4616 closed, assigned to mrjohn0011

[2018-07-09 12:58] bbakermmc commented on #4616
As usual you guys get it wrong.  Ill be sure to inform your VP that youre closing issues w/out actually answering the root issue.
I dont want to have to write a div tag to the page to use an alert, isnt it amazing how all the other 3rd part alerts do it with just a simple   .alert(message, title, options).   Send me an example of a custom defined template using that method.

[2018-07-09 13:00] bbakermmc commented on #4615
Easy.  I dont want to write a div to the page and then toggle hide/show.  I just want to call .LoadPanel from the DevExtreme.UI Namespace and have it just work.

[2018-07-09 13:00] bbakermmc commented on #4617
I dont want to write a DIV to the page to make this work.  Try again.

[2018-07-09 13:02] hakimio commented on #4616
@bbakermmc Have you looked at the documentation page I have linked to? There is [DevExpress.ui.dialog.custom](https://js.devexpress.com/Documentation/ApiReference/Common/utils/ui/dialog/Methods/#customoptions) you can use.

[2018-07-09 13:05] bbakermmc commented on #4616
Clearly I looked at it.  Now you sent me a codepen that doesnt even use it.  Now tell me how useful that is.  Try sending relevant examples if you're going to suggest 1 thing, and also you sent 2x diff examples one for "custom" and 1 for using a popup.

So send me a codePen thats easy to implement what Im looking to do.

[2018-07-09 13:26] jsdmitry commented on #4617
Hi,
 
The [notify(options, type, displayTime)](https://js.devexpress.com/Documentation/ApiReference/Common/utils/ui/#notifyoptions_type_displayTime) method provides an overload with the options parameter. You can use the [notify(message, type, displayTime)](https://js.devexpress.com/Documentation/ApiReference/Common/utils/ui/#notifymessage_type_displayTime) method to create content. So, you don't

[2018-07-09 13:26] #4617 closed, assigned to nobody

[2018-07-09 13:34] jsdmitry commented on #4615
Currently, we are not planning helpers to initialize dxLoadPanel without creating a div element. However, you can create a PR for us with your implementation.

[2018-07-09 13:34] #4615 closed, assigned to jsdmitry

[2018-07-09 13:42] bbakermmc commented on #4617
Again, you close something w/out it being closed or addressed.  I want to render HTML using the .notify method.  Why if you read my first message it says make a property and implementing rending of HTML.

Please reopen the ticket.  Ill be sure inform @jmbucknall  of the lack of quality responses and premature closing of issues on GitHub.

[2018-07-09 13:43] bbakermmc commented on #4616
Please reopen and address the issues or add to back log.  @jmbucknall Please address the lack of quality and premature closing of issues for your paying customers.

[2018-07-09 13:44] bbakermmc commented on #4615
Please reopen and add to back log or provide a viable solution and dont just close the issue.  @jmbucknall Please address the lack of quality and premature closing of issues for your paying customers.

[2018-07-09 14:01] BingoRUS commented on #4617
Hi, @bbakermmc!
According to our [Guidelines for Contributing](https://github.com/DevExpress/DevExtreme/blob/18_1/CONTRIBUTING.md#issues-and-feature-requests) we do not guarantee to implement all user requests on GitHub and recommend you using our [Support Center](https://www.devexpress.com/Support/Center/Question/Create) to post your questions and feature requests instead. You still can open a Gi

[2018-07-10 05:40] valavrov opened #4643 "Function with error"
We have issue in filter builder with boolean values. After some research I found function that have error. In https://github.com/DevExpress/DevExtreme/blob/18_1/js/ui/filter_builder/utils.js
`function getFilterOperations(field) {
    var result = field.filterOperations || (field.lookup && LOOKUP_OPERATIONS) || DATATYPE_OPERATIONS[field.dataType || DEFAULT_DATA_TYPE];
    return extend([], result);

[2018-07-10 08:45] komarovalexander commented on #4643
@highwaymanorama
We will process this issue in the context of the following Support Center thread: [dxDataGrid - Filter builder throws errors when boolean data type columns are used](https://www.devexpress.com/Support/Center/Question/Details/T653737/dxdatagrid-filter-builder-throws-errors-when-boolean-data-type-columns-are-used)
You can subscribe to it to receive a notification of our progress.

[2018-07-10 08:45] #4643 closed, assigned to komarovalexander

[2018-07-10 10:31] Yura13 opened #4645 "Validation error message inside DxDatagrid is hidden behind a grouped line"
### Steps to Reproduce:
![image](https://user-images.githubusercontent.com/17030431/42504635-0bc888ae-8445-11e8-8b50-8d4728f0db47.png)

1. Parameters of grid:
                  [dataSource]="data"
                  [columns]="columns"
                  [showRowLines]="true"
                  [allowColumnResizing]="true"
                  columnResizingMode="widget"
                  [scrolling]="{

[2018-07-10 13:46] Alyar666 commented on #4645
Hello,

We will process this issue in the context of the following Support Center thread:
[dxDataGrid - Validation error message is hidden behind a grouped row when there are fixed columns](https://www.devexpress.com/Support/Center/Question/Details/T653933)

[2018-07-10 13:46] #4645 closed, assigned to Alyar666

[2018-07-11 09:41] briosheje opened #4653 "DxScheduler - Mobile - crossScrollingEnabled true throws an exception."
### Steps to Reproduce:

1. Create a DxScheduler instance.
2. Call _setOption('crossScrollingEnabled', true), set the user agent of the browser to any mobile user agent.
3. An exception is thrown.

### Results You Received:
The following exception was thrown:

[code]

**HOWEVER, the execution proceeds with no issue, I don't even notice graphical issues or anything, everything seems to work properl

[2018-07-13 14:57] KsyushaM commented on #4653
Hi,
You shouldn't use a private "setOption" method. Take a look at this code [example](https://codesandbox.io/s/xrxq8pn9j4) to see how to change an option.

[2018-07-13 14:57] #4653 closed, assigned to KsyushaM, Yarovaya

[2018-07-16 06:50] briosheje commented on #4653
Oh, okay, thanks for the code sample!

[2018-07-19 16:15] BingoRUS commented on #3759
@MihaMarkic,
We added the [Subresource Integrity Hashes](https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/CDN_Services/#Subresource_Integrity_Hashes) section in our documentation for all DevExtreme resources available via CDN from v17.1 and above.

[2018-07-19 16:15] #3759 closed, assigned to BingoRUS

[2018-07-20 16:01] RezaRahmati opened #4770 "Select Box Value doesn't change when using keyboard and clicking out by mouse"
### Steps to Reproduce:

1. Open this link https://js.devexpress.com/Demos/WidgetsGallery/Demo/SelectBox/SearchAndEditing/Angular/MaterialBlueLight/
2. Click on second select box on screen to open it
3. Use keyboard arrow down
4. Navigate to Super Led 42 (or other records) by arrow down
5. Now without pressing any other keys, click out side of select box

### Results You Received:
Select box shows

[2018-07-23 09:36] mrjohn0011 commented on #4770
Hello!
 
I have reproduced this issue and created a [ticket in the DevExtreme support center](https://www.devexpress.com/Support/Center/Question/Details/T657550/). The issue on GitHub will be closed. We will research this problem in the context of the newly created ticket. Please subscribe to it to receive any news.

[2018-07-23 09:36] #4770 closed, assigned to nightskylark, AlekseyMartynov, mrjohn0011

[2018-07-23 20:55] RezaRahmati opened #4781 ""Is any of" and "is none of" filters doesn't work in filter panel"
### Steps to Reproduce:
https://stackblitz.com/edit/angular-8be2dm

1. Open above link (Open the result page in new window, original windows doesn't render css)
2. Click on Create Filter on filter panel
3. Add condition for employee column
4. Change "Contains" to "is any of"
5. Select two records
6. Click on OK

### Results You Received:
Filter dialog closed, and filter doesn't apply

### Results

[2018-07-24 08:09] komarovalexander commented on #4781
@RezaRahmati
We will process this issue in the context of the following Support Center thread: [dxDataGrid: The value for the "Is any of" and "Is none of" operations cannot be changed if filterBuilderPopup has closeOnOutsideClick=true](https://www.devexpress.com/Support/Center/Question/Details/T657917/dxdatagrid-the-value-for-the-is-any-of-and-is-none-of-operations-cannot-be-changed-if)
You can su

[2018-07-24 08:09] #4781 closed, assigned to komarovalexander

[2018-07-25 09:30] Yura13 opened #4795 "Datagrid is broken after resizing the window when there are fixed columns"
### Steps to Reproduce:
Datagrid is broken after resizing the window when a cell has a validation rule and datagrid has fixed column.
Refer to example to see how to reproduce the issue:
https://codepen.io/Yurii13/pen/gjRedq

This issue was fixed in 18.1.4 (https://www.devexpress.com/Support/Center/Question/Details/T629168/datagrid-the-cannot-read-property-onresize-of-null-error-is-thrown), but act

[2018-07-25 17:05] RezaRahmati opened #4813 "Group summaries come over fixed columns when scrolling horizontally"
### Steps to Reproduce:

1. Open this link and open result in new browser, https://codesandbox.io/s/yqkkxylyox
2. Resize browser so that there will be horizontal scrollbar on grid
3. Now try to scroll

### Results You Received:
1. Employee column grouping text is scrolling with grid
2. Summary items (Max : xxx) are comming over fixed columns

### Results You Expected:
1. Emloyees column grouping t

[2018-07-25 18:32] RezaRahmati opened #4816 "Theme builder filter by feature doesn't consider theme items in filtering"
### Steps to Reproduce:

1. Open theme builder by https://js.devexpress.com/ThemeBuilder/
2. Type Accent in search bar

### Results You Received:
Filter all properties and show that ones containing word "Accent" for example first one in Base Theming

### Results You Expected:
It doesn't show anything

Note: Filter works for filtering "Data Grid" for example, which is not that useful, for example y

[2018-07-25 19:01] RezaRahmati opened #4817 "header filter values should be distinct after applying format with precision"
### Steps to Reproduce:

1. Open this link https://codesandbox.io/s/vypqw4jzn3
2. Open header filter for Sales Amount

### Results You Received:
- $11,800.00 is displayed 3 times
- Seems it distinct filter values and then apply format on it, which should be the other way, first format then distinct

### Results You Expected:
- $11,800.00 should be displayed 1 time

Note: Please see the difference

[2018-07-26 13:44] AntonSermyazhko commented on #4795
Hello,

I see the problem. I have reactivated the bug: https://www.devexpress.com/Support/Center/Question/Details/T629168/datagrid-the-cannot-read-property-onresize-of-null-error-is-thrown

[2018-07-26 16:32] RezaRahmati opened #4840 "Grouping is broken when there are many columns and accessing both pageIndex and options same time in onContentReady"
### Steps to Reproduce:

1.  This issue is tricky to reproduce, open this link https://stackblitz.com/edit/devextreme-201-grid-grouping-issue
2. Group by City, then Empoyee, then Order Date
3. Expand first grouped record (City: Anaheim, CA)
4. Expand Employee: Harv Mudd

### Results You Received:
It should expand the group and show records

### Results You Expected:
It just show some text as colum

[2018-07-26 17:34] RezaRahmati commented on #4795
@Yura13 May I ask what software did you use to record your screen as gif?

[2018-07-26 18:30] AlekseyMartynov commented on #4840
Thanks for reporting.
Please use built-in placeholders instead ([docs](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/pager/#infoText)):

[code]

I see that accessing `pageCount()` from `onContentReady` breaks grouping.
We'll check why and update this issue.

[2018-07-26 19:51] RezaRahmati commented on #4840
@AlekseyMartynov for simplicity of reproducing issue I remove unnecessary codes there, actually I really want to customize page info as below

[code]

[2018-07-26 19:54] RezaRahmati commented on #4840
@AlekseyMartynov btw as you suggested I changed the code to below, now it runs with no issue :D

[code]

[2018-07-27 06:24] AntonSermyazhko commented on #4813
We will process this issue in the context of the following Support Center thread: [DataGrid - Group summaries come over fixed columns when scrolling horizontally](https://isc.devexpress.com/Thread/WorkplaceDetails/T659127)
You can subscribe to it to receive a notification of our progress.

[2018-07-27 07:02] Yura13 commented on #4795
@RezaRahmati Sure, it is ScreenToGif.

[2018-07-27 07:07] Yura13 commented on #4795
@AntonSermyazhko Could you please add the gif or link to the reproduced example to the reopened issue? Maybe it will be helpful for fixing.

[2018-07-27 10:29] AntonSermyazhko commented on #4795
@Yura13 It turns out this problem is not related to the corresponding ticket. Please accept my apologies for misleading you.
We will process this issue in the context of the following thread.

[2018-07-27 12:59] Yura13 commented on #4795
@AntonSermyazhko It’s all right.
It will be great if you put here a link to the ticket of this issue. Thanks.

[2018-07-27 16:44] RezaRahmati commented on #4813
@AntonSermyazhko thanks, it seems that ticket is marked as duplicate with https://www.devexpress.com/Support/Center/Question/Details/T611868/datagrid-a-group-text-is-moved-during-scrolling-when-using-fixed-columns-and-a-group

BTW none of the plunkers are working and seems that is not solving my issue, can you please elaborate?

[2018-07-27 17:10] RezaRahmati commented on #4813
@andrewtelnov Please see attached file, it shows why it's a bug and is not duplicate with the other one

It works fine when column doesn't have summary (Type column in my screen shot), and doesn't work when you group with columns with summary (Appraisal Status column in my screen shot)
![group-summary](https://user-images.githubusercontent.com/10086092/43336058-618bdc80-919e-11e8-8e70-fed9d594f392

[2018-07-27 19:47] RezaRahmati opened #4855 "instance.ClearFilter doesn't work with Filter Panel when Operand is something other than 'AND'"
### Steps to Reproduce:

Scenario 1
1.  Open this link https://codesandbox.io/s/zr74x6684x
2.  Click on "Clear Filter"in filter panel
3.  Confirm filter clears
4.  Refresh the page
5. Click on "My Clear Filter"

### Results You Received:
Filter doesn't change, and no error on console

### Results You Expected:
Filter clear

Scenario 2
1.  Open this link https://codesandbox.io/s/zr74x6684x
2.  Clic

[2018-07-30 11:56] NorDroN opened #4858 "Zoom in / Zoom out problem"
### Steps to Reproduce:

1. Open https://js.devexpress.com/
2. Zoom in / Zoom out

### Results You Received:
<img width="952" alt="screenshot_85" src="https://user-images.githubusercontent.com/5458276/43395812-233e9d8e-9408-11e8-9c9c-ea2edc7cd2c1.png">
<img width="952" alt="screenshot_86" src="https://user-images.githubusercontent.com/5458276/43395899-6a5f57a8-9408-11e8-95b3-65ef1e46d165.png">

[2018-07-30 14:26] komarovalexander commented on #4817
@RezaRahmati
 
In your scenario, you can set the groupInterval 
[https://codesandbox.io/s/5v0z8xzz84](https://codesandbox.io/s/5v0z8xzz84)
 

Yes, you are right, dxDataGrid operates this way.
 
As for your suggestion

it is not quite clear to me. Let's imagine you have the following values in your header filter: 100.002, 100.003, 100.004. If you wish to group them by a display value, you will get

[2018-07-30 15:22] AlekseyMartynov commented on #4858
Possibly related: https://bugs.chromium.org/p/chromium/issues/detail?id=717469

[2018-07-30 15:30] komarovalexander commented on #4855
@RezaRahmati
I've reproduced this issue and created a public ticket in the [DevExpress Support Center](https://www.devexpress.com/Support/Center/Question/Details/T659816/datagrid-clearfilter-does-not-work-properly-if-filter-sync-is-enabled).
You can subscribe to it to receive a notification of our progress.
 
As a workaround, you can set filterValue to null.
[https://codesandbox.io/s/wnqk284y4w](h

[2018-07-30 15:30] #4855 closed, assigned to komarovalexander

[2018-07-30 15:51] RezaRahmati commented on #4855
@komarovalexander thanks, just notices in the example you provided the filter is "AND" so they might just fix that, if the filter was "OR" the behavior is different and this is the original bug, so may be it's beneficial to update your to "OR", or even updating your ticket in devexpress and mentioning it

for workaround, does it clear all kind of filters including row filter, header filter, search

[2018-07-30 16:00] RezaRahmati commented on #4817
thanks for response, this is what I meant

**Original Data:**
1,100.002
2,100.003,
3,100.004,
4,100.002,
5, 99.000

**What user see in grid (Apply format on column)**
1, 100.00
2, 100.00
3, 100.00
4, 100.00
5, 99.00

**What user expected to see in header filter**
100.00
99.00

**What user expect to see after choosing 100.00 in header filter**
1, 100.00
2, 100.00
3, 100.00
4, 100.00

So actually us

[2018-07-30 16:08] komarovalexander commented on #4855
I've updated the ticket, thanks

It clears the row filter and header filter. In the case of the search panel, you can call clearFilter ("search") - it should work for search panel.

[2018-07-30 16:16] komarovalexander commented on #4817
Thank you for clarification. The [groupInterval](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/headerFilter/#groupInterval) should be used there
https://codesandbox.io/s/5v0z8xzz84

[2018-07-30 16:16] #4817 closed, assigned to komarovalexander

[2018-07-31 07:48] NorDroN commented on #4858
I think it depends on your styles only.
Of course I understand that your components contain really difficult markup and a lot of styles, but if I use a simple table, I don't see the same behavior.
As you can see on the first image cells in the first column have incorrect height.
Try to add style
[code]

[2018-07-31 11:59] AntonSermyazhko commented on #4813
@RezaRahmati, thank you for additional information. We see that when you group by the "Appraisal Status" column, the workaround we suggested doesn't work.
 
We would like to reproduce this case. Would you please modify the [initial example](https://codesandbox.io/s/yqkkxylyox) so that it demonstrates the issue. We tried to add a group summary for the "State" column and group by it but the workarou

[2018-07-31 14:11] AntonSermyazhko commented on #4795
The issue is resolved in #4852. I will update this thread when the fix is available.

[2018-07-31 15:12] RezaRahmati commented on #4813
@AntonSermyazhko I updated the sample, please see this link https://codesandbox.io/s/z3xx8opzlx

In this sample "Sales Amount" column has **grouping** and is **fixed**.
Now if you group by "Sales Amount" the issue happens, if you group by other columns it's working fine.

![grouping-2](https://user-images.githubusercontent.com/10086092/43468684-9ca774c0-94b2-11e8-88ff-a44dd43d4174.gif)

And this i

[2018-08-01 07:46] AlekseyMartynov commented on #4858
Thanks @NorDroN

/cc @vconst @Alyar666 what do you think about the suggested CSS change?

[2018-08-01 11:44] AntonSermyazhko commented on #4813
@RezaRahmati Unfortunately, I did not find a workaround in the last example.
I forked the last sample and added a workaround to it (https://codesandbox.io/s/l56o0pmp97). As a result, the problem was solved.
Could you please check if this problem persists in this example?

[2018-08-01 13:17] RezaRahmati commented on #4813
@AntonSermyazhko Thanks for response, yeah I see in your sample it's working, and I found out why it wasn't working for me, the fake column should be after all of initial fixed columns and if there is no initial fixed column should be the last column in grid (in your sample if you move it to the beginning it stops working)

Btw although work around solved my issue, I think it's good idea devexpres

[2018-08-01 14:57] AntonSermyazhko commented on #4813
@RezaRahmati Right. The fake column should be at the end of all fixed column to prevent this issue.
Also, I recommend placing a fake column at the end of all columns and setting [allowReordering](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#allowReordering) to "false" for the fake column to ensure that the fake column will be at the end of the f

[2018-08-02 07:40] NorDroN commented on #4858
If we speak about the second problem, I see that
<img width="952" alt="screenshot_89" src="https://user-images.githubusercontent.com/5458276/43569400-047e29ca-9640-11e8-8681-fa93b6253368.png">

[2018-08-02 08:13] #4813 closed, assigned to Alyar666, AntonSermyazhko

[2018-08-02 13:14] Alyar666 commented on #4858
Hello,

Regarding the first problem. We checked this behavior in the latest Chrome version (v68.0.3440.84) and it works fine there - it appears that the issue is resolved at the Chrome level. I suggest you update your Chrome version to the latest one.

Regarding the second problem. We will process this issue in the context of the following Support Center thread: [dxDataGrid - Row borders are incor

[2018-08-02 13:16] #4858 closed, assigned to AlekseyMartynov, Alyar666

[2018-08-09 16:40] AntonSermyazhko commented on #4795
The fix is available now.
You can download or install/update the DevExtreme package via npm or bower:
 
[DevExpressDevExtreme-18.1.exe](http://downloads.devexpress.com/HotFixes/DevExtreme/v18.1)
[DevExpressDevExtreme-Complete-18.1.zip](http://downloads.devexpress.com/HotFixes/DevExtreme/v18.1/ZIP)

    npm install devextreme@18.1.6-pre-18221
    bower install devextreme#18.1.6-pre-18221
 

[2018-08-09 16:40] #4795 closed, assigned to AntonSermyazhko

[2018-08-09 17:12] etumyan opened #5000 "DxTagBox doesn't work with OData store and "showSelectionControls" option enabled"
Hello! Seems there is a bug with DxTagBox component.

![dx-tag-box-issue](https://user-images.githubusercontent.com/1096104/43914373-69f8a46c-9c10-11e8-9994-294f74fb2a7c.png)

I have slightly modified one of your samples to demonstrate the issue: https://codesandbox.io/s/x7o933xonq.

Environment: DevExtreme 18.1.5, Chrome 67, Windows 10.

[2018-08-10 09:00] AlekseyMartynov commented on #5000
Extra notes:
- `grouped=true`

[2018-08-10 13:05] mrjohn0011 commented on #5000
Hello!

I have reproduced this issue and created a ticket in the [DevExtreme support center](https://www.devexpress.com/Support/Center/Question/Details/T663390). The issue on GitHub will be closed. We will research this problem in the context of the newly created ticket. Please subscribe to it to receive any news.

[2018-08-10 13:05] #5000 closed, assigned to jsdmitry, mrjohn0011

[2018-08-13 16:30] RezaRahmati opened #5018 "Column filter panel opens in top left corner in firefox"
### Steps to Reproduce:

1. Open this stackblitz https://stackblitz.com/edit/devextreme-1815-grid-column-filter-firefox-issue in **FIREFOX** (it doesn't reproduce constantly in chrome)
2. Filter "employee" column and choose "blanks"
3. Click on "employee" to sort
4. Filter "employee" and "Select All"
5. Click on Filter again

### Results You Received:
Column filter panel opens in top left

### Res

[2018-08-14 23:06] jcox86 commented on #3737
Is this planned for the 18.2 release in Q4 of 2018?  I do not see anything mentioned about this on the [roadmap](https://js.devexpress.com/Roadmap/#Widgets).

[2018-08-15 11:40] AntonSermyazhko commented on #5018
I've reproduced this issue and created a [public ticket](https://isc.devexpress.com/Thread/WorkplaceDetails/T664522) in the DevExpress Support Center.
You can subscribe to it to receive a notification of our progress.

[2018-08-15 14:00] RezaRahmati commented on #5018
thanks, btw I don't see any description or steps to reproduce or link to this page in there

![image](https://user-images.githubusercontent.com/10086092/44151917-fa8a97e6-a071-11e8-8e7c-277bc242fd80.png)

[2018-08-15 15:06] AntonSermyazhko commented on #5018
@RezaRahmati,
Thank you for your remark. I just finished with the description.

[2018-08-16 11:54] AntonSermyazhko commented on #5018
We're processing the issue in the context of a [public ticket](https://isc.devexpress.com/Thread/WorkplaceDetails/T664522) in our Support Center.
The issue on GitHub will be closed. Please subscribe to it to receive any news.

[2018-08-16 11:54] #5018 closed, assigned to AntonSermyazhko

[2018-08-20 11:59] behnamgh commented on #11306
Hi.Can you solve your problem or still have it?

[2018-08-20 16:54] BingoRUS commented on #3737
@jcox86 Yes, it's planned to be a part of the upcoming v18.2 release later this year. I will post an additional comment and an example link here when the preview is available. Also, we are considering updating the roadmap to reflect our plans according to the Material Design theme.

[2018-08-22 22:03] FabianoCastro opened #5156 "About HTML Editor"
Hi

I'm excited to use the "HTML Editor" in my projects, any news on?

I saw the "Drawner", spectacular 👍👍👍👍👍

[2018-08-23 11:55] dxbykov opened #5163 "New WYSIWYG text editor with support for HTML and Markdown formats"
# The Problem
Certain business web applications should allow users to format textual content via the WYSIWYG editor, and store this content in HTML or Markdown format. However, DevExtreme does not provide an out-of-the box solution: you have to use third-party editors' API and adapt them to DevExtreme themes.
# The Proposed Solution
In v18.2, we are introducing a new text editor with basic text fo

[2018-08-23 11:55] dxbykov opened #5164 "Drawer - a new component for building responsive web app layouts"
# The Problem
Creating a responsive web application layout with navigation bars and collapsible panes is complex and time-consuming.
# The Proposed Solution
We are planning to include the new Drawer widget in v18.2. This widget can be used to create responsive and themeable web application layouts. We are also planning to add such layouts to our products.

Below we have listed the features we woul

[2018-08-23 12:14] dxbykov commented on #5156
Hi @FabianoCastro,

Thank you for your feedback and interest in our new features. I've just created a couple of discussion pages regarding the features you've mentioned. Check them out and feel free to leave your feedback in comments or privately via our [Support Center](https://www.devexpress.com/Support/Center/).
 
- [WYSIWYG editor discussion page](https://github.com/DevExpress/DevExtreme/issue

[2018-08-23 12:14] #5156 closed, assigned to dxbykov

[2018-08-23 12:34] dxbykov opened #5165 "Export to Excel customization improvements"
# The Problem

The following Excel export customization tasks require a lot of custom code because we do not have a suitable API:

To be resolved in v18.2:

* Customize the exported grid cells’ appearance (font, background color, etc)
* Adding a custom header and footer to the exported document

To be resolved in future updates:

* Export multiple controls to one file
* Export master-detail DataGr

[2018-08-23 18:05] FabianoCastro opened #5175 "Suggestion: Kanban View"
Hi

Any possibility of having "Kanban View" on DevExtreme?

[2018-08-24 07:00] hakimio opened #5176 "[18.1.5] Setting grid column's "calculateDisplayValue" config causes filter name to be replaced by a function"
### Steps to Reproduce:

1.  Assign "calculateDisplayValue" config to a grid column (function name).
2. Assign "loading" event listener to grid's store which logs loadOptions to console.
3. Try to filter the grid using grid search panel and check the console output.

### Results You Received:
The name of the column which has "calculateDisplayValue" config assigned is replaced by the "calculateDisp

[2018-08-24 07:23] hakimio commented on #5175
Have you tried googling before asking the question: [Support Center](https://www.devexpress.com/Support/Center/Question/Details/T569701/angular-grid-kanban-mode)

[2018-08-24 09:55] #5175 closed, assigned to nobody

[2018-08-24 12:19] vconst commented on #5176
Hi @hakimio,
 
DataGrid does not support defining **calculateDisplayValue** as a function if **remoteOperations** are enabled. You can find a list of restrictions when operations are remote in the [remoteOperations](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/remoteOperations/) topic. The **calculateDisplayValue** callback is used for filtering and grou

[2018-08-24 12:42] hakimio commented on #5176
Ok, I did not see that restriction. Maybe you should add a note in "calculateDisplayValue" config documentation?

Anyway, my use case was to just format some id ("1234567890" => "123-456-7890"). As a work-around I am using "cellTemplate" now which can accomplish the same but in a different way.

If you don't consider this unexpected behavior to be a bug, feel free to close this one.

[2018-08-27 01:55] chouex commented on #5165
better if able to convert html to styled text
the header and footer usually merge all column and have custom height,

only plain text cell content support?

[2018-08-27 10:10] briosheje commented on #5165
Will we be able to solve the issue mentioned here: https://www.devexpress.com/Support/Center/Question/Details/T521083/dxdatagrid-isn-t-exported-to-excel-correctly-when-it-has-columns-with-the-encodehtml with custom styling?

That would be great, since several columns needs some styles applied, but the export should be different.

Example: Column A has a boolean type, which renders "<b>Yes</b>" on

[2018-08-27 14:46] jakehockey10 commented on #5164
I know it seems a little out there, but would the drawer be able to work as top and bottom positions as well? Left and right positions are fairly standard ux at this point. I'd be interested in a drawer that could work in all four positions. Bootstrap nav has had a menu that expands from the top for a while now. The bottom drawer could feel similar to the drawer of apps on an Android phone.

I'm l

[2018-08-27 15:39] dxbykov commented on #5164
Hi @jakehockey10,

Thanks for sharing your feedback. We are considering the capabilities you are talking about. Let me clarify some details. Do you need to implement exactly the same use-cases that you've mentioned? I mean a responsive bootstrap-like navbar (top position) and a popup panel with buttons or custom content (bottom position).  These two specific use-cases don't require the 'push' and

[2018-08-28 00:33] jakehockey10 commented on #5164
I do not need this functionality for anything specific but considered it when thinking about patterns I've seen in Mobile apps and operating systems. I don't have any specific examples other than the app drawer of all versions of Android.

I think left and right positions work as they've become a standard but when I try to think of which is better than the other I can't really think of good reason

[2018-08-28 00:37] jakehockey10 commented on #5164
I found something pretty similar to what I was thinking for the bottom position here: https://material.io/design/components/app-bars-bottom.html# and here: https://material.io/design/components/navigation-drawer.html#navigation-drawer

[2018-08-28 06:46] EAGLEliuS opened #5204 "Header is to Long"
### Steps to Reproduce:

1. Header is to Long
I don't want hide
fieldPanel -->showDataFields
![pivot](https://user-images.githubusercontent.com/39791082/44705245-a8665b80-aad0-11e8-8186-e3c0c7d18328.png)

Is there any other way?

### Results You Received:

### Results You Expected:
I hope to become such a size

![image](https://user-images.githubusercontent.com/39791082/44758947-c9c75600-ab69-11e8

[2018-08-28 07:32] jimbodeni commented on #5163
Hi guys,

I'm surprised tables are not in from day one to be honest. Any chance of this happening?

Other than that, looks good. The only thing we would want in the future is mail merge functionality similar to your ASP control to replace placeholders with data passed in.

[2018-08-28 08:28] dxbykov commented on #5163
Hi @jimbodeni,

Thanks for your feedback. We agree that table support is important. On the other hand, we know that it might produce numerous potential issues (according to our experience with the ASP.NET HTML editor). We are going to apply another approach to content editing in our client-side JS editor. It won't be the same as for the ASP counterpart. Having tested the basic formatting features

[2018-08-28 08:44] jimbodeni commented on #5163
Hi @dxbykov

Great news about the mail merge. We're wanting to use this as a letter editor but without table support, we probably won't be able to use it from day one.

Will there be any RTF support?

Thanks

[2018-08-28 09:03] dxbykov commented on #5164
Thanks for the clarification and links. We'll take all this information into consideration.

[2018-08-28 09:18] dxbykov commented on #5163
We don't plan built-in support for RTF at the moment. But I believe it will be possible to convert HTML to RTF using some third-party JS or server-side library. We might also port our [ASP.NET Rich Text Editor](https://demos.devexpress.com/ASPxRichEditDemos/) to the client-side JS in the future.

[2018-08-28 12:58] vconst commented on #5204
Hi @EAGLEliuS,

Currently, the PivotGrid renders data fields into one row. The only possible solution is to hide data fields from the field panel and use Field Chooser to configure data fields. But, we will consider improving the data fields layout in the future.

[2018-08-28 13:14] vconst commented on #5176
Yes, we will add a note to the [calculateDisplayValue](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#calculateDisplayValue) documentation. Using cellTemplate is a good solution for your task. Also you can use the [customizeText](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#customizeText) callba

[2018-08-28 13:14] #5176 closed, assigned to vconst

[2018-08-28 15:42] dxbykov commented on #5165
@chouex, @briosheje Thank you for sharing your feedback. I'd like to comment upon the HTML cell content support. We agree that for a web developer, an ideal solution is to export the provided HTML markup and CSS styles 'as is'. Technically, that might lead to the points below:
 
- We should parse and transform HTML/CSS into the XLSX format
- The XLSX format must allow the provided subset of HTML/C

[2018-08-29 01:00] EAGLEliuS commented on #5204
Thank you @vconst

[2018-08-29 01:00] #5204 closed, assigned to vconst

[2018-08-29 11:17] brgrz commented on #1278
@dxbykov With the pager functionality as it is now the widget pages per all of the expanded rows. We would like to page only at the root level - so when you expand, the remaining root rows wouldn't be gone and the expanded rows would open in between. Is this possible?

[2018-08-30 14:11] roman-simionov opened #5244 "Sankey diagram widget"
# The Problem

Many analytics and reports in different economy sectors need visualizing data as flows or relationships between parts of systems.

# The Solution

The [Sankey diagram](https://en.wikipedia.org/wiki/Sankey_diagram) can solve this task. We are implementing this diagram as a new [Sankey widget](https://js.devexpress.com/Documentation/18_2/ApiReference/Data_Visualization_Widgets/dxSanke

[2018-08-31 13:31] bobskigit commented on #5164
Is there a angular beta that can be used to play with?

[2018-08-31 17:26] RezaRahmati opened #5260 "Context Menu doesn't disappear on fixed column when scrolling"
### Steps to Reproduce:

1.  Open this link [https://codesandbox.io/s/ox42yq931y](https://codesandbox.io/s/ox42yq931y)
2.  Right click on any column except "product"
3.  Context Menu appears, now scroll by mouse wheel
4.  Context Menu disapears (which is correct behavior)
5.  Right click on "Product"  column which is fixed to the left
6.  Context Menu appears, now scroll by mouse wheel

### Result

[2018-09-02 06:17] bobskigit commented on #5164
The Angular support doesn't appear to work as yet, no drawer items using examples or code below

<dx-drawer  [position]="'left'" [minWidth]="50" [maxWidth]="200" revealMode="slide" openedStateMode="'overlap'" [opened]="isDrawerOpened"
  [shading]="false">
  <div *dxTemplate="let data of 'drawer-pane'">
    <div class="list-container">
      <dx-list [items]="navigation">
        <div *dxTemplate="

[2018-09-02 08:17] hakimio commented on #5164
@bobskigit Angular version does work. I have tested it personally and they have included an example in devextreme-angular repository, but the API has changed since this issue has been opened and you need to use both the latest unstable devextreme version (18.2.1-pre-18239) and the latest unstable devextreme-angular version (18.2.1-beta.2). Also, you are assigning "openedStateMode" incorrectly - yo

[2018-09-02 08:23] hakimio commented on #5164
@dxbykov The new drawer component works nicely. I just have one small suggestion: I think it would make a lot of sense to set default `openedStateMode` to `shrink` instead of `push`, `opened` to `true` and `shading` to false, because that's what the other UI frameworks do (ie Angular Material) and that's what at least I, as a user, expect to be the default behavior.

[2018-09-02 08:38] bobskigit commented on #5164
I see the API change now

 <div *dxTemplate="let data of 'panel'">

rather than

<div *dxTemplate="let data of 'drawer-pane'">

[2018-09-02 16:21] samoilis commented on #5164
I think need a title region on top of drawer also an option fullWidth for the mobile edition

In your sample in codepen: https://codepen.io/anon/pen/OwepVJ
when close drawer the "dx-drawer-shader" visibility remain visible.

[2018-09-03 13:10] dxbykov commented on #5164
Thank you, everybody, for testing and sharing your feedback. Note that the API might slightly change until the final release. We'll update the code samples in this thread according to the changes.
 
@hakimio @samoilis We'll take your suggestions and notes into account.
 
@samoilis It's not clear what you mean by 'title region on top of drawer'. Could you please give some examples or reference impl

[2018-09-03 16:14] Alyar666 commented on #5260
Hello,

We will process this issue in the context of the following Support Center thread:
[dxDataGrid - Fixed column's Context Menu doesn't disappear on scrolling](https://www.devexpress.com/Support/Center/Question/Details/T669643)

[2018-09-03 16:14] #5260 closed, assigned to Alyar666

[2018-09-03 22:13] samoilis commented on #5164
@dxbykov like dxPopup title, with optional close button (default true in mobile devices)

[2018-09-04 06:37] hakimio commented on #5164
@samoilis I do not believe that should be part of the drawer widget itself. Instead you should just be able to place some "card" widget (like Angular Material card) in the menu drawer to get this functionality or just define the title bar yourself (which is quite easy to do - just put a single div with absolute position).

EDIT: Also you could simply put a dx-toolbar in the menu drawer.

[2018-09-04 12:35] dxbykov commented on #5164
@samoilis thanks for the clarification.

Yes, that's our recommended way of implementing the mentioned UI. We'd like to keep the Drawer API as minimal as possible but keep it customizable.

[2018-09-04 12:42] dxbykov commented on #5164
A follow-up to my previous comment, such a toolbar could also be implemented within our layout templates. So, you won't have to build and configure everything from scratch.

[2018-09-04 15:32] dxbykov opened #5287 "DataGrid and TreeList - command column customization improvements"
# The Problem

The existing [DataGrid](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Overview/Angular/Light/) and [TreeList](https://js.devexpress.com/Demos/WidgetsGallery/Demo/TreeList/Overview/Angular/Light/) API does not allow you to perform the following tasks with [command columns](https://js.devexpress.com/Documentation/Guide/Widgets/DataGrid/Columns/Column_Types/Command_Colum

[2018-09-05 15:51] dxbykov opened #5302 "DataGrid and TreeList - keyboard navigation improvements"
# The Problem

Developers and end-users that use the DevExtreme [DataGrid](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Overview/Angular/Light/) and [TreeList](https://js.devexpress.com/Demos/WidgetsGallery/Demo/TreeList/Overview/Angular/Light/) components require the following features:

* Keyboard navigation to DataGrid/TreeList elements (headers, filtering and paging controls, e

[2018-09-05 19:25] RezaRahmati commented on #4813
@AntonSermyazhko After we applied this workaround we are facing another issue, if we drag and drop a non fixed column to the fixed area, it goes to the end, and if we don't apply this workaround it goes to the begining

Please see this link [https://codesandbox.io/s/k20nzkojx3](https://codesandbox.io/s/k20nzkojx3)
Which workaround is applied, now drag and drop `city2` column and it goes to the end

[2018-09-06 06:58] hakimio commented on #5164
@dxbykov by saying "layout templates" do you mean box and responsive box layouts?

[2018-09-06 08:10] dxbykov commented on #5164
Initially, the Box and ResponsiveBox components were introduced as a JS fallback to CSS FlexBox for old web browsers. Currently, there is no reason to use them instead of pure CSS for building web layouts. By 'layout templates' I mean preconfigured application layouts with navigation bars, toolbars, a content area, a logo, a hamburger menu, etc.

[2018-09-06 11:12] hakimio opened #5309 "TagBox dropdown closing unexpectedly while searching"
### Steps to Reproduce:

1.  Open the [demo app on StackBlitz](https://stackblitz.com/edit/angular-9mtxeb) in **Chrome** browser
2. Scroll down
3. Remove selected tagbox items by pressing BACKSPACE key
4. Start typing to search

### Results You Received:
Tagbox dropdown keeps closing unexpectedly

### Results You Expected:
Tagbox dropdown stays visible while typing

### Environment Details:
DevExt

[2018-09-06 11:49] hakimio opened #5310 "Returning error message from data grid's "onRowValidating" event breaks editor's popup"
### Steps to Reproduce:

1.  Open the [demo app](https://stackblitz.com/edit/angular-fahox6)
2. Click "Add a row" button
3. Enter required data
4. Click "Save"

### Results You Received:
Popup looks broken - popup's buttons are on top of the last form field.

### Results You Expected:
Scrollbar appears and the form's height stays the same.

### Environment Details:
DevExtreme: 18.1.6
devextreme-an

[2018-09-06 13:43] MightyFo0l commented on #5302
What about mouse buttons? Buttons like middle mouse click?
Also I want to ability to -for example- deselect a row using the right mouse button.

[2018-09-06 17:42] dxbykov commented on #5302
@MightyFo0l Thank you for the feedback. The features you've mentioned are in our backlog. Currently, they are not high priority, but we'll consider introducing them in future updates. As a workaround, to handle a right mouse click, you can refer to [this example](https://codepen.io/dxbykov/pen/WgZdwp).

[2018-09-06 19:06] hakimio commented on #5309
Sorry, can also be reproduced with other themes, but when using original themes you have to set the form's height to much lower value (100, for example).

[2018-09-06 19:11] hakimio commented on #5310
Actually, if you use the original theme and set editor popup's height to 200px or so, then try the same steps, the buttons will still end up on top of the fields, but it looks a bit better because the buttons are not transparent.

[2018-09-07 13:02] DokaRus commented on #5309
Hi,
I've reproduced the issue and created a [bug report](https://www.devexpress.com/Support/Center/Question/Details/T671061) in our SC. You can subscribe to it to get a notification once we have any news.

[2018-09-07 13:02] #5309 closed, assigned to DokaRus

[2018-09-07 13:40] dxbykov commented on #5302
**Update:** According to the external feedback, the new 'Select cell text on edit start' section has been added.

[2018-09-08 10:52] bert2 opened #5332 "Required form fields lose validation state when binding sets them to empty (except DxTextBoxes)"
### Steps to Reproduce:

1. Open the repro at [codesandbox.io](https://codesandbox.io/s/8pyvmno108) or clone and host the repro from my [github repo](https://github.com/bert2/devextreme-form-bug.git).
2. Clear the fields "Hire Date" and "Address".
3. Verify that both are marked red for being invalid (both are required).
4. Click the "Save" button.

### Results You Received:

![image](https://user-

[2018-09-10 09:49] DokaRus commented on #5332
Hi,
I've reproduced the same behavior and created [a ticket in our Support Center](https://www.devexpress.com/Support/Center/Question/Details/T671435) to process the issue. You can subscribe to it to get a notification once we have any news.

[2018-09-10 09:49] #5332 closed, assigned to DokaRus

[2018-09-10 11:48] NorDroN opened #5346 "Why does DxFormGroup not have property readOnly?"
Hi!
Why does DxFormGroup not have property readOnly?
I see that DxForm has property readOnly, and every simple DxComponent has property readOnly.
But in my case I would like to have DxForm that will contain two groups and one of them will be readOnly.

[2018-09-10 12:16] DokaRus commented on #5310
Thank you for a detailed bug report. I've reproduced the same behavior on my side and created a [ticket in our SC](https://www.devexpress.com/Support/Center/Question/Details/T671489). You can subscribe to it to get a notification once we make any progress. Please bear with us.

[2018-09-10 12:16] #5310 closed, assigned to DokaRus

[2018-09-11 13:31] dxbykov opened #5372 "Scheduler - grouping by date"
# The Problem
Currently, the Scheduler does not allow you to view appointments grouped by date if they are already grouped by resource. For instance, when you are planning a workday for several employees:

![image](https://user-images.githubusercontent.com/8307562/45363339-ef2f7780-b5df-11e8-8630-4cdca72f7632.png)

# The Proposed Solution

We introduced a new boolean option called `groupByDate`. T

[2018-09-12 00:40] BingoRUS opened #5380 "ThemeBuilder command-line interface (CLI)"
# The Problem
* You cannot generate a new color scheme (CSS files) from theme metadata (theme color and other variables) programmatically or at build time.

* You cannot export a custom color scheme as a list of LESS or Sass variables that can be used in custom stylesheets.
# The Proposed Solution
We are introducing a set of DevExtreme CLI tools for generating themes.

## One-off usage
### Build a

[2018-09-12 00:40] BingoRUS opened #5381 "Theming - Color swatches"
# The Problem
You cannot use more than one color scheme on a page. For instance, if a navigation sidebar should be dark and a content area should be light, you have to write CSS for the sidebar manually.
# The Proposed Solution
We are going to provide a capability to produce color swatches — secondary color schemes to be used along with the primary scheme. You will be able to generate color swatch

[2018-09-12 08:28] DokaRus commented on #5346
Hi,
The Form's **GroupItem** isn't a standalone component. It's a widget's item like a [List](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxList/Default_Item_Template/) or [TagBox](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTagBox/Default_Item_Template/) item.
I'll share your issue with my colleagues, and we'll take it into account during further developm

[2018-09-12 09:30] m-yazdani commented on #5302
is it possible to add copy cell value to another cells with mouse drag, just like what excel does.

[2018-09-12 16:35] alexander-kotov-dx commented on #5018
We have fixed the issue in the context of the [T664522](https://www.devexpress.com/Support/Center/Question/Details/T664522/) ticket. You can see the fix in #5397

[2018-09-13 09:51] anderschbe commented on #5164
What is the major difference between this component, and a slide-out-view? Can you give examples in your proposal on what advantages and differences in use it would have to use the drawer over the already existing widgets?

[2018-09-13 11:53] dxbykov commented on #5302
@m-yazdani Thank you for the feedback. We don't have plans to implement the feature you are talking about. It looks like a feature of a Spreadsheet component that DevExtreme doesn't have yet.

[2018-09-13 12:23] m-yazdani commented on #5302
Thanks for reply; is it possible to tell me when the features of this issue
will be ready?

[2018-09-13 12:43] dxbykov opened #5413 "Real-time UI updates and new push API"
# The Problem

DevExtreme components are not optimized for frequent partial UI updates. You have to reload all the data from the server to update it in the component. This usually leads to a complete UI repaint and redundant network traffic. Similar issues may arise when end users edit local data. You can integrate the components with WebSockets and SignalR, but this requires a lot of complex cust

[2018-09-13 12:49] oytunistrator opened #5414 "Uncaught TypeError: Unable to process binding "with: function(){return surface }""
### Results You Received:
[code]

[2018-09-13 13:26] BingoRUS commented on #5414
@oytunistrator,

From this stack trace, I don't see any of DevExtreme Suite scripts there but Reports Suite ones. Note that this forum is devoted only to problems related to DevExtreme library directly. Please [create a ticket](https://www.devexpress.com/Support/Center/Question/Create) in our Support Center, describe your problem and add a small code sample, our support engineers are always ready

[2018-09-13 13:26] #5414 closed, assigned to nobody

[2018-09-13 13:59] anderschbe commented on #5163
Is there a roadmap / broad ETA for this? I would be very interested to use this for a slowly developed project, though if a first usable version will be out in 2019 only ... well than I'd have to look elsewhere.

Basically is the ETA in weeks or months, knowing that things are done when they are done?

[2018-09-13 14:09] dxbykov commented on #5164
Hi @anderschbe,
 
I would say that the new Drawer component is a replacement for SlideOutView rather than an addition. SlideOutView was initially optimized for the following:

- a mobile UI only
- a single menu
- a single behavior mode

We'd like to come to a more general solution that can be used on both desktop and mobile devices. We've fixed naming issues and extended supported scenarios. Of co

[2018-09-13 14:21] dxbykov commented on #5163
We expect to release the first preview (CTP) in one or two months. If no major issues are found, we may release RTM by the end of 2018.

[2018-09-13 14:25] dxbykov commented on #5302
We expect to have a release in the mid-November.

[2018-09-17 11:44] anderschbe commented on #5164
Thank you, that was what I was speculating myself, but wasn't sure about. Maybe it would be prudent to add a link in the slideoutview documentation towards drawer?

[2018-09-17 17:11] hakimio commented on #5413
It would be great if this functionality could be extended also to non-push things. For example, when a single record in a data grid is updated, I don't want to reload the whole grid, it should just repaint a single changed row using the data returned from the server. The same goes for newly added or removed records - it should be possible to skip reloading the whole grid when just a single record

[2018-09-18 07:59] StefanKoenigMUC commented on #5413
I would love this functionality! The conceptional approach seems fine for my use case.

Another great addition can be given by the option to add custom css classes to updated components/cells/rows and some OnUpdate event.

[2018-09-18 08:05] hakimio opened #5448 "[Material] Misaligned tree view toggle item visibility icon"
### Steps to Reproduce:

1. Create a Material design theme tree view
2. Assign some icons to tree view items

### Results You Received:
Toggle item visibility icons are not properly aligned to item icons

### Results You Expected:
Toggle item visibility icons are properly aligned to item icons

### Environment Details:
DevExtreme: 18.1.6
devextreme-angular: 18.1.6

### Reason for misalignment
The

[2018-09-18 14:17] #5346 closed, assigned to DokaRus

[2018-09-18 19:33] vangundy commented on #5164
From the simple demo, it is not clear to me if the drawer can be completely closed.  I need a way to slide the drawer completely off the screen.

[2018-09-18 19:44] Shiko1st commented on #5302
At last! Can't wait for the release date!

![default](https://user-images.githubusercontent.com/27359019/45712135-3398b580-bb94-11e8-946c-b361a20665f7.png)

[2018-09-18 19:46] Shiko1st commented on #5287
Sounds very good!

[2018-09-18 20:39] Shiko1st commented on #5163
Great!

[2018-09-19 00:20] Shiko1st commented on #5164
What is about nested drawers?
I mean will it be possible to have a drawer with main menu, and several small drawes inside the working area with view-specific tools on the right and left sides of the working area?

[2018-09-19 00:24] Shiko1st commented on #5413
What is about batch updates feature in stores? See [discussion in support ticket](https://www.devexpress.com/Support/Center/Question/Details/T673124/customstore-support-for-bulk-updates-in-devextreme-data-layer) for details.

Will this feature be available in nearest future or not?
It is important to understand -- have we develop our own solution for this problem or we can wait for out-of-the-box

[2018-09-19 07:05] hakimio commented on #5164
@vangundy Yes, the drawer can be completely closed if you keep the default min-width of zero.

@Shiko1st Yes, you can have nested drawers.

[2018-09-19 08:32] dxbykov commented on #5413
@hakimio

If you are talking about editing a row via the data grid UI, then we are considering a new option to skip data reloading:

[code]

Note that in this case, sorting, grouping, summary, and other data shaping operations won't be applied since they require a round trip to the server. Or do you have another scenario in mind?

@StefanKoenigMUC regarding your request, do you mean that the grid

[2018-09-19 09:17] hakimio commented on #5413
@dxbykov I understand the limitations with server sorting/grouping/summary operations, but I still think it could work nicely if either those operations are done on the client side or they are disabled/not required.

[2018-09-19 12:33] dxbykov opened #5459 "Charting - real-time data update enhancements"
# The Problem

The [Chart](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/Overview/) resets the zoom and scroll position when data is updated.

# The Proposed Solution

We are introducing the “visual range” concept (visible axis range). The user can move the visual range along the axis (scrolling) or change its length (zooming). You can define its behavior when the data source changes.

[2018-09-19 13:29] dxbykov commented on #5413
Yes, in these cases a DataGrid will be properly updated without an extra round trip to the server.

[2018-09-19 14:28] groshenkovamarina commented on #5448
Hi,
Thanks for pointing this out. We created a [bug report](https://www.devexpress.com/Support/Center/Question/Details/T674241/) in our Support Center. You can subscribe to it to get a notification once we have any news.

[2018-09-19 14:31] #5448 closed, assigned to groshenkovamarina

[2018-09-19 16:08] artstalker commented on #5163
Hi @dxbykov,

I would like to hear your comments on this one :

Does that mean that you do not support saving to HTML? Our usage for this is for editing emails and thus saving and loading HTML with CSS / style support is a must.  (Although limited support would be a-ok)

[2018-09-20 09:06] dxbykov commented on #5163
Hi @artstalker,

No, it doesn't. Saving/loading to/from HTML will be supported. We won't support every tag/attribute from the HTML specification. For instance, it's unlikely you'll be able to design complex email layouts with it. It's a text editor at first place. Nevertheless, we expect to support the `class` and `style` HTML attributes with custom values that you can use to apply custom formats

[2018-09-20 12:34] dxbykov commented on #5459
**Update:** An Angular example is available in the Live Sandbox section.

[2018-09-20 23:07] apis3445 commented on #5302
Could you consider drag and drop rows, for move rows in the greed, example the last row drag to be the first row?

[2018-09-21 08:28] dxbykov commented on #5302
Hi @apis3445,

It's in our Roadmap for 2019.

[2018-09-21 08:52] bturko commented on #5163
Is it planned to support the insertion of formatted text (numbered lists, bullets etc., including multi-level lists) from for example MS Word?
Will it be possible to customize the control panel?

[2018-09-21 12:06] dxbykov commented on #5163
Hi @bturko,

Yes, we have this task on our To-Do list, but it may not be fully implemented in v18.2. If such, we'll complete it in further product updates.

Yes, it will be possible to add/remove items to/from the editor toolbar. Are there any specific features you'd like to implement? If you could share them, we would be able to consider their built-in implementation in future releases. Thank you

[2018-09-21 12:20] Shiko1st commented on #5163
I have one feature important to our applications. It is about inserting special fields for mail merge.
For example, we may use this editor to create templates for notification messages or so on. It will be good to have a possibility to insert a field from predefined set of tags.

[2018-09-21 12:28] jimbodeni commented on #5163
I would agree with @Shiko1st - this would be good feature to have.

[2018-09-21 13:31] dxbykov commented on #5163
Yes, We plan to implement it.

[2018-09-22 14:17] Bykiev opened #5486 "ContextMenu disabled binding issue with AngularJS"
### Steps to Reproduce:

1. Create a context menu
2. Change item's disabled property - property is changed
3. Change item's disabled property again - nothing changes

### Results You Received:

The binding is working only the first time

### Results You Expected:

Context menu item changes it's disabled state

### Environment Details:

DevExtreme: 18.1.6 and older

###Live demo:
https://codepen.io

[2018-09-24 07:08] StefanKoenigMUC commented on #5413
@dxbykov more or less, i'm looking to highlight update cells for a limited timespan (->add a css classes), the rowPreprared/cellPrepared functions doesn't seem to be enough for changed values?

[2018-09-24 07:37] dxbykov commented on #5413
Actually, it's enough, but since the updated cell highlighting is a common requirement, we decided to implement it out of the box. If the default implementation doesn't meet your needs, then you'll be able to implement your own highlighting.

[2018-09-24 16:04] artem-kurchenko commented on #5486
Hi,
 
Thank you for the example. Our widgets don't automatically track changes performed within menu items assigned to dataSource. You need to define the dataSource option using the bindingOptions object as described at [Change Options ](https://js.devexpress.com/Documentation/Guide/Getting_Started/Widget_Basics_-_AngularJS/Change_Options/) to complete this task.
For instance, check the following

[2018-09-24 16:04] #5486 closed, assigned to artem-kurchenko

[2018-09-30 01:14] FabianoCastro commented on #5302
Hi, what do you think about "Copy a formula by dragging the fill handle in Excel", I find it very useful. ;)

[2018-10-02 07:57] dxbykov commented on #5302
Hi @FabianoCastro,

Thank you for your suggestion. It's not in our plans for v18.2. Could you please clarify if you find it helpful while editing Excel spreadsheets or while working with data records in DataGrid? What are your real-world scenarios?

[2018-10-02 17:01] FabianoCastro commented on #5302
Hi @dxbykov

Something similar to the image, when you click on "vanishing point" and drag down, fill in the cells below.

![image](https://user-images.githubusercontent.com/34251113/46364121-40fd7780-c64b-11e8-9d51-a276b482114d.png)

The example is in Excel, but I´m suggesting in DataGrid in topic "Excel-like editing"

Other example
https://support.office.com/en-us/article/copy-a-formula-by-draggi

[2018-10-10 08:42] dxbykov commented on #5413
The following sections have been updated:

- Refresh after editing;
- Real-time summary updates;
- Highlight changes;
- Live sandbox;

Everybody is welcome to review and try the live demos.

[2018-10-10 09:22] dxbykov commented on #5287
The Live Sandbox section has been updated. Everybody is welcome to try the live demo.

[2018-10-12 14:27] genachka commented on #5287
@dxbykov Nice!! Hadn't noticed this until the Sprint 7 release notes and am loving this! I think this will resolve a prior issue with customization I had as well.

[2018-10-12 20:57] rrein commented on #5163
Couple of questions

1. A little confused, it was mentioned that the first preview (CTP) would be [available in one to two months](https://github.com/DevExpress/DevExtreme/issues/5163#issuecomment-421024859), but I thought that the HTML Editor was going to be included as part of 18.2 which is slated for mid-November. Is what is released in 18.2 considered the CTP?
2. If the HTML Editor is consider

[2018-10-15 10:00] dxbykov commented on #5163
Hi @rrein,

1. HTML Editor is a quite complex control. Before making it RTM, we'd like to make sure it doesn't have any fundamental issues preventing using it in production. So, with the initial 18.2 release, we'll ship it as fully functional CTP. Once more people try it in their specific use cases and don't find any showstoppers, we'll make it RTM in the next minor update.

2. You can use it in p

[2018-10-15 13:50] pikhovkin opened #5790 "DataGrid: How to replace cell of custom group summary?"
How to replace cell of custom group summary for DataGrid?
For example: to render svg element (chart) in cell on group summary panel.

[2018-10-15 18:29] lifeinchords commented on #5380
Thanks for prioritizing this issue - it will help development significantly.

I'm not sure I understand:

-  is the CLI a one-off command, generates SCSS files, which we then copy to our app scss directory and start modifying, in essence a fork of the DevEx SCSS?

- Will the SCSS updates be tied to the DevEx node module? What happens when the official theme SCSS moves forward, say bugs are fixed a

[2018-10-15 22:20] genachka opened #5794 "TreeList sorting on date when using momentjs values"
Using the TreeList, and in `calculateCellValue` I have a function that returns via moment.js the difference between datetime now and a previously stored datetime value. So it displays as `x days ago`, `x months ago`, etc. I recently noticed that it sorts this now improperly (I thought it used to work a while back when it was originally implemented before 17.x but I may be wrong). Suggestions on ho

[2018-10-16 17:35] BingoRUS commented on #5380
Hi @lifeinchords and thank you for your interest!

As you can see in our [source code](https://github.com/DevExpress/DevExtreme/blob/18_2/styles/), the DevExtreme styles are organized as LESS files, where we have special ones to [describe different color schemes](https://github.com/DevExpress/DevExtreme/tree/18_2/styles/widgets/generic/color-schemes). We don't distribute these raw files, only the

[2018-10-16 21:04] hakimio commented on #5794
Instead of using calculateCell**Value** you should be using `customizeText`. Not a bug.
Also, DevExtreme has built-in [formatDate](https://js.devexpress.com/Documentation/ApiReference/Common/utils/localization/#formatDatevalue_format) function. In most cases there is no need to use momentjs.

[2018-10-16 23:50] genachka commented on #5794
@hakimio thanks for the `customizeText`, I must have overlooked it as I didn't see its existence. However, I've now tested it out and the issue is that it only passed into the function the value without being able to get to the rest of the row's fields. With `calculateCellValue` I was able to get to the various row's field values which I need to determine whether to show a value or not and how I n

[2018-10-17 06:40] hakimio commented on #5794
@genachka I agree that `customizeText` should also get the rest of the row's fields and no, I don't have a better solution.
@vconst Do you think `customizeText` could get `rowData` as an extra argument?

[2018-10-17 17:45] pilucdes commented on #3737
Is this still valid?

[2018-10-18 11:44] djunko-developer commented on #5164
When you can expect eamples ora a document with implementation of a drawer?

I use in the "18.2-unstable" version and devextreme-angular version "18.2.1-beta6" and try to implement nested drawers, byt unfortunately it does not work the way I want. Maybe someone knows how to do it?

[2018-10-18 17:16] RezaRahmati opened #5854 "Mouse wheel scrolling doesn't work on popup when content is scrolling"
### Steps to Reproduce:

1. Open this url [https://codesandbox.io/s/ol4ojlzr05](https://codesandbox.io/s/ol4ojlzr05)
2. Click on detail button
3. Verify you are able to scroll by clicking on scroll bar and dragging
3. Try to scroll  by using mouse wheel

### Results You Received:
Nothing happens

### Results You Expected:
Scroll the content

### Environment Details:
DevExtereme 18.1
Chrome and Fir

[2018-10-19 08:35] dxbykov commented on #5164
@JunkFunk  You can find the documentation preview [here](https://js.devexpress.com/Documentation/18_2/ApiReference/UI_Widgets/dxDrawer/).

If it doesn't help, could you please describe your use-case details and share your code that doesn't work?

[2018-10-19 16:31] sometimesElen commented on #5854
Hi @RezaRahmati ,
Popup doesn't support scrolling out-of-the-box. So I suggest you wrap a popup content with the [ScrollView](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxScrollView/) widget as follows:
[code]

I also modified your online [sample](https://codesandbox.io/s/jnoqv4lz19).

I'd like to clarify that we process support inquiries related to usage scenarios in the [Sup

[2018-10-19 16:31] #5854 closed, assigned to sometimesElen

[2018-10-19 19:14] RezaRahmati commented on #5854
@sometimesElen Thanks, I tried it, and works perfect

[2018-10-23 07:59] vconst commented on #5790
Hi @pikhovkin,

Currently, you can customize group summary cells in the onCellPrepared event handler. I have prepared an example (https://codepen.io/anon/pen/MPqGwN) to demonstrate it.
 
I'd like to clarify that we process support inquiries related to usage scenarios in the [Support Center](https://www.devexpress.com/Support/Center/Question/Create). For more detailed assistance, feel free to conta

[2018-10-23 08:39] vconst commented on #5794
Hi @genachka and @hakimio,

You can use one of the following solutions:
1) Use `cellTemplate` or `customizeText` for custom formatting.
2) Use the `calculateDisplayValue` callback to return formatted text and the `calculateSortValue`, `calculateGroupValue` callbacks to define a getter/field for sorting and grouping. This solution works for local data only; the search panel will work by this displa

[2018-10-23 09:01] pikhovkin commented on #5790
@vconst, thanks a lot!

[2018-10-23 11:21] #5790 closed, assigned to vconst

[2018-10-24 09:31] gercobrandwijk opened #5900 "Scheduler - RecurrenceRule not following RFC2445 specification"
The scheduler should follow the RFC2445 specification when it comes to the recurrence rules. At https://js.devexpress.com/Documentation/Guide/Widgets/Scheduler/Appointments/Appointment_Types/#Recurring_Appointments is described that it follows that specification. When you follow that link you will end up here: https://tools.ietf.org/html/rfc2445#section-4.3.10. In that document there is an example

[2018-10-24 15:58] ghost commented on #5163
Any news about your preview release ??

[2018-10-24 16:11] genachka commented on #5794
@vconst thanks for the update and info. So is the approach you proposed still going to be the one to use in 18.2?

[2018-10-24 17:50] RezaRahmati opened #5908 "Vertical scroll bar is displayed on grid when it's not needed"
### Steps to Reproduce:

1. Open this url [https://codesandbox.io/s/j3q2wnjx79](https://codesandbox.io/s/j3q2wnjx79)
2. Resize the browser to make sure grid has horizontal scroll bar
3. Refresh the page in that size
4. Filter the records to show a few rows (for example order date 2017 Jan 1)

### Results You Received:
Grid displays vertical scrollbar

### Results You Expected:
Since there are few