[2018-10-25 12:23] artem-kurchenko commented on #5900
Hi,
 
Thank you for the detailed report. Currently, Scheduler doesn't support "BYSETPOS". We have plans to improve the built-in Recurrence Rules Editor in our [RoadMap for Scheduler](https://js.devexpress.com/Roadmap/#Scheduler) to support this and other missing recurrence options. We will make an announcement once we have any progress.

[2018-10-25 12:42] FabianoCastro commented on #5163
Hi @reeax-ch, I downloaded last release "18.2 Sprint 8" and I´m testing it

[2018-10-25 18:50] lifeinchords commented on #5380
Hi @BingoRUS

Thanks for the detailed reply and for the links to the .less files, that's a big help to understanding how it all works.

I see us using the 2nd option:`export-theme-meta` to `build-theme` so we can keep our application styles separate from 3rd party pieces.

I still see a few issues:

- This CLI option is def better than no customization, though requires us to write a separate build

[2018-10-25 20:05] sccrgoalie1 commented on #5165
I see a beta of 18.2 was released today, do the custom header and footer capabilities exist in this version for me to try out?

[2018-10-27 23:53] FlipOneDev opened #5937 "Suggestion: DataGrid - Implement/Integrate Built-In Support for Multi-Row Drag-And-Drop"
I'm not sure why DevExtreme has not provided a robust, built-in support for multi-row Drag-and-Drop. How difficult is it to get this feature in for DevExtreme? Competitive products (e.g., DHTMLX.COM) have offered this capability for a long time now. Any thoughts why? If this feature is in the Roadmap, when will it be available?

[2018-10-29 12:36] dxbykov commented on #5937
Hi @FlipOneDev,
 
We are working on our Roadmap for 2019 and going to announce it by the end of this year. We plan to put the drag-and-drop features into the Roadmap. So, they are likely to be implemented in 2019. Once we finish our internal research and come up with some implementation details, we'll publish a corresponding [discussion page](https://github.com/DevExpress/devextreme/issues?utf8=%E

[2018-10-29 18:01] BingoRUS commented on #5380
Hi @lifeinchords,

We recommend ThemeBuilder to create your own color schemes for 2 DevExtreme themes: Generic and Material. It was available only as an online tool, so we decided to provide a way to include it to an automated build process. You don't have to call it on every build though, it's necessary to rebuild your color scheme stylesheet once you updated the DevExtreme library itself to a ne

[2018-10-29 20:56] artem-kurchenko commented on #5908
Thank you for the detailed steps. I checked this case and created a report in our Support Center:
[DataGrid displays an unnecessary vertical scrollbar after filtering in Material](https://www.devexpress.com/Support/Center/Question/Details/T685940/datagrid-displays-an-unnecessary-vertical-scrollbar-after-filtering-in-material)
 
We'll update it once we have any results.

[2018-10-30 13:32] genusP opened #5966 "TabPanel repaint content when change badge for item"
I paint in tab badge with total count records in datagrid.
When apply filter to grid and update badge value, content repainted and filter reset.
If enable state storing for datagrid then request to server as infinity loop.

[2018-10-30 13:56] StefanKoenigMUC commented on #5413
A colleague just implemented those realtime update function and it's working out great, thanks for that!

But we have some issues with frequently applied updates, after a while the GUI is 'frozen' (no more updates are applied, until some manual action was done) and sometimes the highlighting is not working. All those problems occur during the usage of the ASP Datastore. Is this a known problem? Th

[2018-10-30 14:34] RezaRahmati opened #5968 "Grid column filter keeps the value when temporary remove the filter"
Disclaimer: I don't know if it's a bug or it's by design
### Steps to Reproduce:

1.  open this [https://codesandbox.io/s/yjrz00voo9](https://codesandbox.io/s/yjrz00voo9)
2.  Un-check the filter on filter panel
3. Verify the data in the grid is not filtered
4.  Open City column header filter

### Results You Received:
The cities are still secleted

### Results You Expected:
Filter values be consis

[2018-10-30 18:50] jeff-worm-osii commented on #5163
Hi @dxbykov,

I've just downloaded the 18.2 beta today and I have been playing around with the HTML editor through devextreme angular. I have had a couple of issues with it, I have a couple of questions about using it, and I thought this would be a good place to post this.

This is roughly my html set up.
[code]

Issues:
 - When email gets set the editor is ignoring the newlines created by having

[2018-10-30 20:05] #5908 closed, assigned to artem-kurchenko

[2018-10-31 07:50] komarovalexander commented on #5968
@RezaRahmati It's by design

[2018-10-31 07:50] #5968 closed, assigned to komarovalexander

[2018-10-31 14:37] RezaRahmati commented on #5968
@komarovalexander thanks for answer, may I know the philosophy behind it, because our QA team submit a bug for us to fix and we want to be able to reasoning

[2018-10-31 16:09] AlisherAmonulloev commented on #5966
Hi,
The cause of the issue is unclear due to lack of information. Please share a simple project illustrating the problem so that we can examine it. Feel free to submit a support ticket in our Support Center by using the devexpress.com/ask link.

[2018-11-01 07:27] genusP commented on #5966
[Example](https://codesandbox.io/s/yk6qzn6j11)

Input 'i' to filter cell of Selector column.

[2018-11-01 11:02] komarovalexander commented on #5968
@RezaRahmati Unchecking this check box does not clear filter values, it just temporarily disables the filter. For example, you can keep some filter values and change another filter value as shown at [https://www.screencast.com/t/y5O7nB47vB](https://www.screencast.com/t/y5O7nB47vB)
If you want to clear filter values, click the "Clear" button.

[2018-11-01 14:41] dxbykov commented on #5165
@sccrgoalie1 We are working on the custom header/footer features and export customization capabilities in PivotGrid. According to the current development state, they are not yet ready to become a part of the first v18.2 release. They may be shipped with one of the v18.2 minor updates.

[2018-11-01 14:52] dxbykov commented on #5413
@StefanKoenigMUC Thank you for sharing your feedback.

We have already fixed a similar issue. The fix is going to be available with the final v18.2 release.

We aren't aware of such an issue. Could you please provide us with a sample so we could reproduce the issue on our side?

It's to be fixed. Thank you for your collaboration.

[2018-11-01 16:00] AlisherAmonulloev commented on #5966
Thank you for sharing the project. I noticed the issue and we are currently looking for a possible solution. Please stay tuned.

[2018-11-01 16:15] dxbykov commented on #5163
Hi @jeff-worm-osii,

Thank you for your feedback. Allow me to comment on the points you've mentioned:

We have recently fixed this issue.

We'll make sure these two points work properly.

We are aware of this issue and are working on it.

Currently, it's by design. We'll discuss the possibility of changing this appearance. A custom editor border can be a workaround for now.

Yes, it should be poss

[2018-11-01 17:39] jeff-worm-osii commented on #5163
@dxbykov, thanks for the response. As I indicated in the edit of my last message. You can ignore the issue of the missing icons and border. That was a mistake on my end, but if you need any info about the ignored newlines that should come from the p tags just let me know.

[2018-11-02 10:43] StefanKoenigMUC commented on #5413
i think that problem is correlated to the first part of the problem. (the frozen gui)

thanks for your help!

[2018-11-05 12:10] gercobrandwijk opened #6028 "Scheduler - Recurrence with DST and difference timezones not correctly displayed"
### Steps to Reproduce:

See this CodeSandbox: https://codesandbox.io/s/6wqqwy99wn
We have a daily recurrence for 4 days starting at 2018-10-26 09:30. This event has as starting and ending timezone Europe/Amsterdam. For this timezone there is a DST time switch at 2018-10-28 03:00 to 2018-10-28 02:00 (one hour back). When you switch the timezone to +04:00  (no DST, so always +04:00), you will see t

[2018-11-06 08:46] AlisherAmonulloev commented on #5966
Hi,
 
In order to include this issue to the What's New list, I have created a public report in our Support Center: https://www.devexpress.com/Support/Center/Question/Details/T687958 Please check it.

[2018-11-07 08:58] briosheje opened #6044 "Action buttons in dx-dropdown / dx-select-box"
In many web applications user needs intuitive actions. The devextreme dropdown already provides intuitive actions, like selecting and resetting values intuitively, but it would be awesome to be able to customize additional actions.

A pretty easy sample would be having a custom lookup with an additional action button suggesting some kind of additional action (example: an help button).

Such behavi

[2018-11-07 09:06] #5966 closed, assigned to jsdmitry

[2018-11-07 13:32] Yarovaya commented on #6028
Hi,
I've reproduced the same behavior and created a [ticket in our Support Center ](https://www.devexpress.com/Support/Center/Question/Details/T688610/scheduler-recurrence-appointments-with-dst-and-different-timezones-are-displayed) to process the issue. You can subscribe to it to get a notification once we have any news.

[2018-11-07 13:32] #6028 closed, assigned to Yarovaya

[2018-11-09 08:11] hakimio opened #6067 "Focused row Demo bug"
### Steps to Reproduce:

1. Open data grid focused row demo
2. Select "Teal Light" Material Design theme
3. Press Up/Down arrow keys

### Results You Received:
JavaScript error: "Uncaught TypeError: Cannot read property 'class' of null" and broken page.

### Results You Expected:
The demo to work.

### Environment Details:
Chrome 70 browser

[2018-11-09 08:44] hakimio opened #6069 "Minor suggestion: Demo code simplification"
In some of your demos, for example ["Command Column Customization" Angular demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/CommandColumnCustomization/Angular), you set function context by calling bind() on the function in the class constructor. Instead you could just use ES6 arrow function the following way to create the function with correct context:
[code]

[2018-11-09 13:21] AlisherAmonulloev commented on #6069
Your suggestion definitely makes sense. Although we do not have immediate plans to update all our demos to use this approach, we will consider using arrow functions while adding new demos or updating current ones.

[2018-11-09 13:21] #6069 closed, assigned to AlisherAmonulloev

[2018-11-09 14:02] AntonSermyazhko commented on #6067
This issue was fixed in #5989. We created a public ticket [T689400](https://isc.devexpress.com/Thread/WorkplaceDetails/T689400) in our Support Center.
You can subscribe to it to receive a notification clarifying the version containing the fix.

[2018-11-09 14:02] #6067 closed, assigned to AntonSermyazhko

[2018-11-13 03:42] ricardonoronha commented on #5164
It would be that the control would manage the display shape ideal for small and large screen sizes.

For example, for small screens come with the following options:

opened: false
closeOnOutsideClick: true

For larger screens the default setting below would make more sense:

opened: true
closeOnOutsideClick: false

Something similar to what happens by resizing the screen for small and large sizes

[2018-11-13 07:29] hakimio commented on #5164
@ricardonoronha That's definitely not something the drawer component should take care of. Different apps might require different size breakpoints and different behaviors on small/medium and large screens. You can't have a solution which fits all cases. Current level of customizability is perfect.

[2018-11-13 11:14] andrii-oleksyshyn opened #6117 "dxTagBox - When Tab to next field the value is removed"
### Reproduction:
https://codesandbox.io/s/6zkk1wvnw
![dx-tagbox-tab-issue](https://user-images.githubusercontent.com/1427132/48409946-e70dc880-e745-11e8-921d-dac9e796dcc8.gif)

### Steps to Reproduce:

1. Use Tab and arrow keys for navigation
2. Focus on tagbox with Tab key.
3. Press Space to open the popup with tags.
4. Select 2 items using arrow keys and Enter.
5. Navigate to next input with Ta

[2018-11-13 12:32] ricardonoronha commented on #5164
@hakimio, really the control is very well done and allows a high level of customization, but in the vast majority of standard applications, what you see is to define a screen measurement from which we can consider a "big" screen and the side panel it could simply be displayed by default.

An example of this abarding is used in the dxForm, according to the link below:
https://js.devexpress.com/Demo

[2018-11-13 19:09] klawusel2121 commented on #5302
I would like to see the selection on cell focus asap

[2018-11-14 01:44] pedrofurtado opened #6130 "Make available LESS files in releases - To build for webpack with right fonts/icons folder path"
Hey everyone!

Is it possible to make available the LESS files in future releases tags?

Because, by default, the CSS of devextreme get icons from "icons/***" relative path, just like this snippet below:

[code]

But when using webpack, the "icons/***" folder is resolved to my application root path, instead of devextreme node_modules folder path. Considering that my app root is "/home/user/app", t

[2018-11-14 10:33] AlekseyMartynov commented on #6130
Duplicate of #4037

[2018-11-14 10:33] #6130 closed, assigned to nobody

[2018-11-14 12:49] DokaRus commented on #6117
Hi,
I've reproduced the issue on my side and created a [ticket in our Support Center](https://www.devexpress.com/Support/Center/Question/Details/T690720) to further research it. You can subscribe to it to get a notification once we have any results.

[2018-11-14 12:49] #6117 closed, assigned to DokaRus

[2018-11-14 23:23] BingoRUS commented on #3737
Hello @pilouk,

Unfortunately, it's not included in v18.2 release. We work hard to make it available by the end of year with one of minor updates. In coming days, I'll share our progress here.

[2018-11-15 09:07] gercobrandwijk commented on #6028
When can I expect that this will be picked up and be fixed? You are actively prioritizing the issues from the Support Center?

[2018-11-15 11:20] korapp opened #6147 "DataGrid breaks when resizing with virtual scroll and fixed columns"
DataGrid breaks after some time of using it with a large set of data updated periodically. It occurred after upgrade from devexpress 17.2 and use rowRenderingMode: "virtual".

CodePen: https://codepen.io/anon/pen/bQeeeM

Not all steps seem to be crucial but they were used to fail fast.

### Steps to Reproduce:

1. Enable columnFixing and columnAutoWidth
2. Set scrolling.mode and scrolling.rowRende

[2018-11-16 10:16] AntonSermyazhko commented on #6147
Seems like a bug. We're processing the issue in the context of a [public ticket](https://isc.devexpress.com/Thread/WorkplaceDetails/T691574) in our Support Center.
The issue on GitHub will be closed. Please subscribe to the support center ticket to get all the notifications and news.

[2018-11-16 10:16] #6147 closed, assigned to AntonSermyazhko

[2018-11-16 17:51] fguemara commented on #5163
Hi, page break, header and footer would be great too !!

[2018-11-17 06:55] jakehockey10 opened #6187 "chart export with dark material theme does not show labels/text"
**To help us process the issue more efficiently, please provide the following information:**
- Specify the version of the *devextreme-angular* and *devextreme* packages you are using.

    devexteme version: 18.2.3
    devextreme-angular version: 18.2.3
- Specify the type of the issue (check one with "x"):
[x] bug Report
[ ] feature request
[ ] support inquiry

If I use the code in the example dis

[2018-11-19 02:40] Pr1vEsc commented on #5287
Looks like the command button positioning is not working properly in Visual Studio for MAC.  A sample project which which works in Windows when copied to a mac shows empty command column to start and has the standard command button at the end of the grid.

[2018-11-19 09:34] Alyar666 commented on #5287
@smoro88  We need to research this issue in greater detail to give you a precise answer. For this, please submit a report in our Support Center and attach an example illustrating the problem in action.

Thank you for your time and cooperation in advance.

[2018-11-19 11:11] HaciKandemir commented on #5165
I'm waiting for you  to Export master-detail DataGrid. How can I do this now?

[2018-11-20 18:47] ezriharmusial commented on #5380
Hi @BingoRUS,

True Modularity would be greatly Appreciated. As the Material Theme Light Blue based Themebuilder CSS file is a whopping 500k.

We already have customized our main Material Theme in SCSS outside DevExtreme. How do you advise we extract and integrate the DevExtreme SCSS for the Datagrid (including buttons, toolbar, textboxes) only? Is this possible with the DevExtreme CLI tool?

[2018-11-21 02:08] bbakermmc opened #6184 "How to create a custom JS bundle with data components only"
What files do I need to just use the
`JS
 DevExpress.data.DataSource(store);
`
We want to use the datasource on some pages but no other controls, so we dont want to bloat the JS on these pages with extra things.

[2018-11-21 10:26] DokaRus commented on #6184
Hi,
You can create a custom bundle. Please refer to this documentation [topic.](https://js.devexpress.com/Documentation/Guide/Common/Modularity/Create_a_Custom_Bundle/)

[2018-11-21 10:26] #6184 closed, assigned to DokaRus

[2018-11-21 12:40] alexanderPolosatov commented on #6187
Hi,

Thank you for the provided scenario. I have created a separate ticket in our Support Center regarding this behavior: [Wrong background color after exporting with the 'exportFromMarkup' method](https://www.devexpress.com/Support/Center/Question/Details/T692964/wrong-background-color-after-exporting-with-the-exportfrommarkup-method).
As a temporary solution, you can set the background color by

[2018-11-21 12:40] #6187 closed, assigned to alexanderPolosatov

[2018-11-21 14:44] dxbykov commented on #5165
@HaciKandemir Thank you for your interest. There is no easy way to implement master-detail export now. To make it possible, we need to refactor our export core. We hope we can provide this capability in 2019.

[2018-11-21 18:51] jakehockey10 commented on #6187
@alexanderPolosatov  I appreciate you opening a ticket on my behalf, but the issue you show in the devexpress ticket is NOT the issue I showcased here.  My images show a different issue entirely than the issue showcased in the pictures you chose to attach on the devexpress ticket.  What I attempted to showcase is that the export does not include any labels for the axes in the charts.  Yes, the bac

[2018-11-22 12:02] alexanderPolosatov commented on #6187
@jakehockey10  The color of legend labels is equal to **rgba(255,255,255,0.87)**. You can see these items in the demo because its background color equals **#363640**. You can't see these labels as a result of export because the background isn't passed to the **exportFromMarkup** method and you see a chart with a white background. The same relates to axis labels. I have attached a video where you c

[2018-11-23 09:26] StefanKoenigMUC commented on #5413
i think i've found a bug:

i've lists filled from an rest api, using the asp.net data custom store. after receiving updates and pushing them to the datastore, somestimes some rows are 'greyed' out, like in the picture bellow:

![2018-11-23 10_22_57-](https://user-images.githubusercontent.com/21019278/48936139-3d2ef880-ef0a-11e8-8e17-b3b2173a8168.jpg)

(red lines are just for hiding data)

[2018-11-23 18:43] jakehockey10 commented on #6187
I apologize for my confusion.  But the ticket you link to still has a picture representing the current state of affairs and that does not match my current state of affairs.  The labels show up fine in your image file named current (attached to the support ticket).  Mine, however, does not show the labels.

I see what you mean by the background.  I hope we are on the same page, despite my confusion

[2018-11-26 07:53] dxbykov commented on #5459
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-11-26 07:53] #5459 closed, assigned to dxbykov

[2018-11-26 08:02] dxbykov commented on #5372
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-11-26 08:02] #5372 closed, assigned to dxbykov

[2018-11-26 08:11] dxbykov commented on #5287
Thanks to everybody who gave us early feedback on this topic. The features discussed above are now available in the [v18.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress

[2018-11-26 08:11] #5287 closed, assigned to dxbykov

[2018-11-26 08:11] dxbykov commented on #5244
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-11-26 08:11] #5244 closed, assigned to roman-simionov

[2018-11-26 08:24] dxbykov commented on #5164
@ricardonoronha Thank you for sharing your thoughts. I clearly understand what you are talking about. We'll consider how to make the Drawer user life easier.

[2018-11-26 08:26] dxbykov commented on #5164
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-11-26 08:26] #5164 closed, assigned to dxbykov

[2018-11-26 08:29] dxbykov commented on #5381
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v18.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2018-11-26 08:29] #5381 closed, assigned to BingoRUS

[2018-11-26 08:42] vconst commented on #5413
@StefanKoenigMUC
The issue looks specific to your implementation as we cannot reproduce it in a simple test [example](https://codepen.io/anon/pen/LXrJPa). Would you please create a report in our [SC](https://www.devexpress.com/ask) with detailed information on how to reproduce the issue. Thank you for your time and cooperation in advance.

[2018-11-26 09:13] #4840 closed, assigned to vconst, AntonSermyazhko

[2018-11-26 20:03] rguryanov opened #6245 "DataGrid is broked when filtering with enabled filterPanel and filterRow"
### Steps to Reproduce:

1. configure datagrid to show filterrow and filterpanel and add column with both name and datafield, name have to be different from datafield (name != dataField)
2. set header filter for column with both name and datafield (name != dataField)

Test example
1. Go to https://codepen.io/anon/pen/KrBWgv
2. Open console
3. set header filter for column "Invoice Number"
4. except

[2018-11-28 07:32] hakimio commented on #5309
@DokaRus any plans to fix this anytime soon?

[2018-11-28 08:11] DokaRus commented on #5309
This issue is still active and we are working on it. We will update the [SC ticket](https://www.devexpress.com/Support/Center/Question/Details/T671061) once we have any results.

[2018-11-28 12:06] komarovalexander commented on #6245
I've reproduced this issue and created a public ticket in the [DevExpress Support Center](https://www.devexpress.com/Support/Center/Question/Details/T695018/datagrid-filtering-does-not-work-if-filterpanel-is-enabled-and-different-values-of-name).
You can subscribe to it to receive a notification of our progress.

[2018-11-28 12:06] #6245 closed, assigned to komarovalexander

[2018-11-29 13:35] #3995 closed, assigned to DokaRus

[2018-11-30 13:34] FabianoCastro commented on #6044
Hi everybody

I would need in edits too, to trigger actions such as email, url, etc ...

[2018-11-30 14:32] briosheje commented on #6044
@FabianoCastro if you're using bootstrap (version 4 and above), you can use the flex layout as a workaround to render a dropdown button next to any devextreme form item (here is a sample using angular 7 and bootstrap 4):

[code]

Once rendered, it will look like this: http://prntscr.com/lozyz3

[2018-11-30 14:55] FabianoCastro commented on #6044
Hi @briosheje

I´m using dxForm to render dxTextBox, I tried some sugestions in the help system the DevExpress, but did not solve my need.

I was able to render the button, but the value in the text field does not work, I will search more about the bind, I suggested here because an implementation as an array of buttons would help in many cases, something like

dxTextBox ({
value: 'Test',
buttons:

[2018-12-03 15:49] RezaRahmati opened #6315 "inconsistent behavior on dx-date-box using disabledDates (forms vs no forms vs forms + null min-max)"
### Steps to Reproduce:

1. Open this [https://stackblitz.com/edit/devextreme-datebox-issue-to-report](https://stackblitz.com/edit/devextreme-datebox-issue-to-report)
- having disabledDates as below

[code]

Scenario 1
Open first datebox (Without form)

Scenario 2
Open second datebox (With reactive form)

Scenario 3
Open second datebox (With reactive form and bind min and max to null values)

###

[2018-12-03 20:31] RezaRahmati opened #6318 "Question: How to set formatter on dxNumberbox in Angular"
Hey

I have tried to assign formatter to dxNumberbox but no success

[https://js.devexpress.com/Documentation/ApiReference/Common/Object_Structures/format/#formatter](https://js.devexpress.com/Documentation/ApiReference/Common/Object_Structures/format/#formatter)

[https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxNumberBox/Configuration/#format](https://js.devexpress.com/Documenta

[2018-12-04 10:01] hakimio commented on #6318
There seems to be a bug in DevExtreme itself. Even with jQuery, it tries to call "indexOf()" on the formatter function.

![numberbox formatter](https://user-images.githubusercontent.com/768105/49434179-e7810880-f7b3-11e8-83eb-c923bdedaacf.PNG)

[2018-12-04 10:26] mrjohn0011 commented on #6318
Hello

Your formatter returns incorrect data. The formatter should be a function converting a number to a string. The parser should be a function converting a string to a number. I have modified your functions to get rid of this exception:

[code]

[2018-12-04 16:45] RezaRahmati commented on #6318
@mrjohn0011 thanks for answer, I see some weird behavior, with out entering any value I see these on my console, seems some tests is left on the source code ;)

[https://codesandbox.io/s/0ql7w4rjll](https://codesandbox.io/s/0ql7w4rjll)

![image](https://user-images.githubusercontent.com/10086092/49458044-02567b80-f7ba-11e8-9f6e-968bb1f4be40.png)

[2018-12-05 06:43] ibrahimyilmaz7 opened #6334 "Buttons column shown as form item on editing"
### Steps to Reproduce:

1. https://codepen.io/anon/pen/GwaGVw?&editable=true
2. Open fiddle and click edit icon
3. See edit form

### Results You Received:
Buttons column shown as form item and being foccused.

### Results You Expected:
Buttons column should be invisible as default on editing form.
I think it's bad to writing **formItem: { visible: false }** on each **buttons** column.

### Envir

[2018-12-05 08:52] mrjohn0011 commented on #6318
When you are using a custom format, dxNumberBox doesn't know how to detect some kind of symbols like decimal separator or numbers less than zero. It should call your custom formatter for some built-in constants to define these rules.

[2018-12-05 11:06] Alyar666 commented on #6334
Hello,

Thank you for contacting us. We will process this issue in the context of the following Support Center thread: [dxDataGrid: The button column is displayed as a form item when editing a row](https://www.devexpress.com/Support/Center/Question/Details/T697205)

[2018-12-05 11:09] #6334 closed, assigned to Alyar666

[2018-12-06 23:32] sfreed commented on #5164
Angular Drawer Component

I like this component, but have found a few problems. I want to use a drawer in a drawer(left and right).
1. left drawer works fine.
2. right drawer appears to be on top of left drawer if revealMode is set to overlap on the right drawer.
3. right drawer does not display if revealMode is set to push.
4. right drawer works fine if revealMode is set to shrink.

Would be VERY

[2018-12-07 07:32] ibrahimyilmaz7 opened #6362 "Grouping bug with infinite scrolling"
### Steps to Reproduce:

https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/InfiniteScrolling

Open link and set this configration:

        groupPanel: {
            visible: true
        }

Group expand-collapse not working as expected when scrolling mode is **"infinite"**.

### Results You Received:
Both grouping and scrolling works as expected.

### Results You Expected:
Expand butto

[2018-12-07 15:26] Alyar666 commented on #6362
Hello @ibrahimyilmaz7,

The grouping functionality is not fully compatible with infinite scrolling. The expand/collapse group button is not rendered when you enable the infinite scrolling mode. See [DataGrid - Scrolling](https://js.devexpress.com/Documentation/Guide/Widgets/DataGrid/Scrolling/).

[2018-12-07 15:27] #6362 closed, assigned to Alyar666

[2018-12-08 05:45] m-yazdani commented on #5302
@dxbykov
hey boddy, haven't you finished related tasks of this issue yet?

[2018-12-11 00:30] pcurrivan opened #6383 "Selection checkbox column slows down scrolling"
The selection column has hard-coded width property 'auto':
https://github.com/DevExpress/DevExtreme/blob/18_2/js/ui/grid_core/ui.grid_core.selection.js#L161

This causes widths to be recalculated on every scroll event:
https://github.com/DevExpress/DevExtreme/blob/18_2/js/ui/grid_core/ui.grid_core.grid_view.js#L235

The selection column has fixed width and should not require width calculations on

[2018-12-11 08:54] dxbykov commented on #5302
@m-yazdani
Hi, we've released the features described in the 'Focused row and cell' section. The rest is under development.

[2018-12-11 12:23] Nisden commented on #5413
When inserting into an store, specifying index is supported.
`store.push([{ type: "insert", data: item, index: 0 }]);`

Could the same be added to updating?
`store.push([{ type: "update", data: item, key: item.id, index: 0 }]);`

Our case for this is to display the most recent item at the top of a List, and would replace our workaround.
[code]

[2018-12-12 07:46] Alyar666 commented on #6383
Hello,

At the moment, this is needed to calculate the width of [command columns](https://js.devexpress.com/Documentation/Guide/Widgets/DataGrid/Columns/Column_Types/Command_Columns/) based on styles. We will consider improving this behavior in future versions.

As a possible workaround, you can specify the selection column width:
[code]

[2018-12-12 07:50] #6383 closed, assigned to Alyar666

[2018-12-12 13:20] JacopoSciampi opened #6394 "Popup close when clicking on a internal select box"
### Steps to Reproduce:

1.  Create a popup with the attribute  [closeOnOutsideClick]="true"
2.  Add a custom template with just an input type="checkbox"
3.  Click the box that change the status of that checkbox

### Results You Received:

The Popup close.

### Results You Expected:

The popup should not close itself since the input is inside the modal itself.

### Environment Details:

Since I'm

[2018-12-13 09:51] DokaRus commented on #6394
Hi,
I've prepared a [live example](https://codesandbox.io/s/pjmov7r6nj) based on your message above and cannot reproduce the same behavior. It's not clear - whether the issue is related to the SelectBox widget (as you mentioned in the title) or to input with type `checkbox` (see step 2 in the `Steps to Reproduce` section)? I've checked it both, but it works fine for me.
Could you please modify [th

[2018-12-13 12:29] hakimio opened #6403 "Incorrect "-webkit-gradient" usage"
### Steps to Reproduce:
1.  Run static analysis on devextreme material design theme css

### Results You Received:
Incorrect usage of "-webkit-gradient"
[code]

### Results You Expected:
Correct usage of "-webkit-gradient" or not using it at all as there is no need for it anymore
[code]

### Environment Details:
DevExtreme 18.2

-webkit-gradient is incorrectly used in [less mixin file](https://git

[2018-12-13 12:35] hakimio opened #6404 "DateBox masked input mode ux issue"
### Steps to Reproduce:

1.  Enable date box masked input mode
2. Set display format to "dd/MM/yyyy"
3. Try to enter the date manually by typing the numbers

### Results You Received:
When there are more than one digit in a group it's unclear which digit will be modified next when typing in the numbers.

### Results You Expected:
A single digit which will be modified next is selected in the input

[2018-12-13 12:39] hakimio opened #6405 "DataGrid "highlightChanges" config issue"
### Steps to Reproduce (with **grouping** feature):

1.  Enable record grouping and highlightChanges in a datagrid

### Results You Received:
Expanding and collapsing nodes causes expanded area to be highlighted

### Results You Expected:
Expanded area is not highlighted

----------------------------------------

### Steps to Reproduce (with **master-detail** feature):

1.  Enable masterDetail and

[2018-12-13 15:42] JacopoSciampi commented on #6394
It gives me, after almost five minutes loading:

ModuleNotFoundError
Could not find module in path: 'devextreme/events' relative to '/node_modules/devextreme-angular/core/component.js'.

Anyway I figured out it was a front-end logic issue.

While waiting for this response, I've also noticed that declaring a `viewChild`as a `DxPopupComponent` in angular4, I cannot use almost every method that is de

[2018-12-13 23:15] LegendaryMike commented on #3737
Hi. I am also waiting for this feature. Any update on the expected release date?

[2018-12-14 10:24] DokaRus commented on #6394
I tried to change my example to reproduce the error, but my attempt wasn't successful.
Could you prepare a demo (or modify my example) to demonstrate the issue?

[2018-12-14 15:15] mrjohn0011 commented on #6404
The selection is a part of the formatting mechanism and it cannot be easily changed. Your idea definitely makes sense, and we will consider improving the selection mechanism in future releases.

[2018-12-14 15:15] #6404 closed, assigned to churkin, mrjohn0011

[2018-12-14 15:31] rmartin-omanco opened #6428 "DxScheduler: Timeline views with cellDuration set to full day do not retain original start/stop time when dragged to new date"
**To help us process the issue more efficiently, please provide the following information:**
- Specify the version of the *devextreme-angular* and *devextreme* packages you are using.

    devexteme version: 18.2.3
    devextreme-angular version: 18.2.3
- Specify the type of the issue (check one with "x"):
[x] bug Report
[x] feature request
[ ] support inquiry

With the following settings: startDa

[2018-12-15 11:36] hakimio commented on #6404
@mrjohn0011 It's just that if users don't understand how it works and why typing "01" puts "31" for the day part, the feature is rather useless.
Another possible solution could be allowing to enter dates left-to-right instead of the unusual right-to-left mode (some new config maybe?).

[2018-12-17 14:25] hakimio opened #6434 "Drawer: "closeOnOutsideClick" plus toggle button inside drawer's content area prevents the drawer from expanding"
### Steps to Reproduce:

1. Define DxDrawer component
2. Put drawer's state toggling button inside drawer's content area
3. Set "closeOnOutsideClick" to true

### Results You Received:
It's impossible to to expand the drawer

### Results You Expected:
Drawer would still work as expected

### Environment Details:
DevExtreme 18.2
Chrome 71

### Demo app
https://codesandbox.io/s/82y37omyjl

[2018-12-17 14:51] sebastianfdez opened #6564 "Memory Leak using dxTemplate"
**To help us process the issue more efficiently, please provide the following information:**
- Specify the version of the *devextreme-angular* and *devextreme* packages you are using.
    Chrome
    devexteme version: 18.2.3
    devextreme-angular version: 18.2.3
- Specify the type of the issue (check one with "x"):
[X] bug Report
[ ] feature request
[ ] support inquiry

There is a memory leak whe

[2018-12-17 16:57] komarovalexander commented on #6405
@RezaRahmati
I've reproduced this issue and created public tickets in the DevExpress Support Center.
1) [DataGrid: an expanded area is highlighted when expanding group nodes](https://www.devexpress.com/Support/Center/Question/Details/T700772/datagrid-an-expanded-area-is-highlighted-when-expanding-group-nodes)
2) [DataGrid: Expanding and collapsing nodes causes the expand/collapse button to be high

[2018-12-17 16:57] #6405 closed, assigned to komarovalexander

[2018-12-17 18:51] hakimio commented on #6405
I am not RezaRahmati, but thanks for creating tickets in support center.

[2018-12-18 01:54] #6318 closed, assigned to mrjohn0011

[2018-12-18 01:55] RezaRahmati commented on #6315
@DokaRus Hey Dmitry, any update on this issue?

[2018-12-18 07:42] vconst commented on #5413
@NsdWorkBook
Thanks you for your feedback.
Currently, we do not have plans to add an index parameter to an update operation.
 
To accomplish the task, you can combine the remove and insert operations:
[code]
You can also use another solution. To sort by a modified date, add the modifiedDate field to your data and configure dataSource to sort by it:
[code]

[2018-12-18 14:22] DokaRus commented on #6315
Hi Reza,
 
Thank you for the example. This behavior related to the Calendar widget.
I've created a corresponding [ticket](https://www.devexpress.com/Support/Center/Question/Details/T701103) in the our SC to further research this issue. You can subscribe to it to get a notification once we have any results.
Would it be suitable for you define max and min options to avoid checks like `(args.date > m

[2018-12-19 06:14] Yarovaya commented on #6434
Hi Tomas,
 
The Drawer behavior is quite logical. By clicking on the button, the Drawer opens, but it immediately closes, as the button is inside the content and 'closeOnOutsideClick' = true.
So, I've slightly changed the [example](https://codesandbox.io/s/8x8m1jq7m2) to make the Drawer work the way you expect.

[2018-12-19 07:20] #6403 closed, assigned to DokaRus

[2018-12-19 07:29] Yarovaya commented on #6428
Hi,

Thank you for your input. Currently, Scheduler does not allow setting the appointment position in a cell. We are planning to add this feature in future versions. When we implement it, we will add the required information in the [What's New](https://js.devexpress.com/New/18_2/) section of our web site.

[2018-12-19 07:30] hakimio commented on #6434
@Yarovaya
I've tried with "event.preventDefault()" instead of "event.stopPropagation()" which didn't work.
Thanks for looking into this.

[2018-12-19 07:30] #6434 closed, assigned to jsdmitry, Yarovaya

[2018-12-19 21:49] godrage commented on #5372
I would like to add that for my projects we would **require** vertical resource grouping and group-by-date.

the typical scenario for this would be the default workweek view with resources being staff.
so vertical staff-grouped-by-date is in our opinion the only efficient way to display a weeks schedule for a department and is currently not doable.

[2018-12-20 11:01] Yura13 opened #6458 "Validation error message inside DxDatagrid is hidden behind a fixed column"
### Steps to Reproduce:

Repo: https://codesandbox.io/s/moq1ll517j

![image](https://user-images.githubusercontent.com/17030431/50281138-320eb000-0457-11e9-9785-5b8eb581564d.png)

### Results You Received:
Validation error message inside DxDatagrid is not hidden behind a fixed column

### Results You Expected:
Validation error message inside DxDatagrid is hidden behind a fixed column

### Environm

[2018-12-20 13:43] hakimio opened #6461 "Impossible to enter "01" with masked datebox input mode"
### Steps to Reproduce:

1.  Enable masked datebox input
2. Try to type "01" in the textfield
3.

### Results You Received:
Input is changed to 31

### Results You Expected:
Input should stay 01

### Environment Details:
DevExtreme 18.2.4

Demo: https://codepen.io/hakimio/pen/EGZLYZ

----

T692930 says it's fixed in 18.2.4, but apparently it's not.

[2018-12-20 14:12] dxbykov commented on #5413
Thanks to everybody who gave us feedback on this feature. The feature is available in the [v18.2](https://github.com/DevExpress/DevExtreme/releases/tag/18.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2018-12-20 14:12] #5413 closed, assigned to dxbykov

[2018-12-20 14:40] hakimio commented on #6461
@mrjohn0011 any thoughts on this?

[2018-12-20 14:55] mrjohn0011 commented on #6461
Hello. I have fixed this behavior in [this pull request](http://github.com/DevExpress/DevExtreme/pull/6436)

[2018-12-20 14:55] #6461 closed, assigned to mrjohn0011

[2018-12-20 15:04] hakimio commented on #6461
@mrjohn0011 is it not part of 18.2.4 release?
Because my demo uses 18.2.4 and it's still possible to reproduce the issue.

[2018-12-21 06:22] mrjohn0011 commented on #6461
This is the part of the next 18.2.5 release.

[2018-12-21 07:26] hakimio commented on #6461
Then changelog for 18.2.4 is incorrect.

[2018-12-21 10:02] hakimio opened #6464 "Inconsistent styling: focused and selected rows have different background in data grid"
### Steps to Reproduce:

1.  Test data grid row selection
2. Test data grid row focus feature

### Results You Received:
Focused row and selected row has different styling

### Results You Expected:
Both focused row and selected row to have the same background

Is there a good reason to differentiate focused and selected rows?

### Environment Details:
DevExtreme 18.2.4

[2018-12-22 06:10] baozhoutao opened #6467 "'Cannot read property 'items' of undefined' error occurs in Scheduler demo"
### Steps to Reproduce:
In the example "https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/ContextMenuIntegration/jQuery/Light/"
1.  right click -> Group by Room/Ungroup
2.  click on a blank cell
3.  right click -> Group by Room/Ungroup

### Results You Received:
Browser console error: "Cannot read property 'items' of undefined"

### Results You Expected:

### Environment Details:

[2018-12-24 10:54] AntonSermyazhko commented on #6464
Hello,
 
The focused row and selected row are different features with different functionality.
For example, the focused row can be used to select rows. This behavior is similar to that of Windows Explorer:
![focusedrowwinexplorer](https://user-images.githubusercontent.com/29482428/50396771-03f1de80-077d-11e9-9739-0040efbf4bc0.gif)
The focused row can be used to navigate to and highlight a specific

[2018-12-24 10:54] #6464 closed, assigned to AntonSermyazhko

[2018-12-24 18:53] #6394 closed, assigned to DokaRus

[2018-12-24 18:54] #6315 closed, assigned to DokaRus

[2018-12-27 09:26] Yarovaya commented on #6467
Hello. I have fixed this behavior in this [pull request](https://github.com/DevExpress/DevExtreme/pull/6499).

[2018-12-27 09:26] #6467 closed, assigned to Yarovaya

[2018-12-28 14:56] bbakermmc opened #6524 "DXGrid Lookup Datasource not shared"
When the grid has multiple options to filter enabled, EX FilterPanel and HeaderFilters, when a filter is selected the data source should be shared across them as to prevent multiple db calls for the same data.

### Steps to Reproduce:

https://codepen.io/anon/pen/ZVXBrQ?&editable=true

### Results You Received:

![image](https://user-images.githubusercontent.com/30090055/50518842-ec20a000-0a85-11e

[2019-01-02 08:53] na9tech commented on #11306
Hi dear, did you solve your problem in Gregorian date in Dev Extreme controls?
such as Calendar or scheduler?
I look forward for your answers.
thanks

[2019-01-02 13:20] ZergRushJoe opened #6528 "Pivot Grid not getting formatting from olap, and not using display groups"
When hooked up to a olap cube the pivot grid ignores formatting coming from the cube and does not show the fields in there display groups used by the cube. This feature is need because are data is view in excel as well as online and it should be the same formatting so I only must update the cube. Also, sometimes I can't know all the fields coming to format them using the pivot grids fields object.

[2019-01-03 16:20] juangranados opened #6542 "DxScheduler draw changes despite of cancel with promise, but not update its datasource"
**To help us process the issue more efficiently, please provide the following information:**
- Specify the version of the *devextreme-angular* and *devextreme* packages you are using.

    devexteme version: 18.2.4
    devextreme-angular version: 18.2.4
- Specify the type of the issue (check one with "x"):
[x] bug Report
[ ] feature request
[ ] support inquiry

Hello! On Scheduler, when updating a

[2019-01-04 09:21] duongphuhiep commented on #12074
hi, I've got the same problem.

of course end-users only do it one or two, so we can live with windows.reload() => but it still kind of akward because: a SPA must to reload the page entierly while (in plus) it didn't need anything from the server!

- all the dictionary was already loaded on frontend (-> why did we have to reload the pages?)
- reload the page == multiple round-trip to the server (i

[2019-01-07 06:50] behnamgh commented on #11306
Hi,
Unfortunately, we couldn't find any solution for using devextreme calendar or scheduler.
We used another datepicker which didn't satisfy us at all.

[2019-01-07 13:31] ZergRushJoe opened #6531 "Pivot Grid Max Height"
When Using the pivot grid, I have a page with a standalone pivot field chooser under the pivot grid that I would like to grow to a max height as user adds too it but not have to have that space already allocated for the pivot grid. This allow the user to see the field chooser when they enter the page and ensure that the pivot grid can grow without bound leaving the field chooser way at the bottom

[2019-01-09 18:20] Bykiev opened #6541 "Wrong popup width in Internet Explorer"
### Steps to Reproduce:

1. Place dataGrid inside Popup (width and height of dataGrid's popup form is auto)
2. Allow popup editing in DataGrid
3. Popup width is correct in Chrome, but incorrect in Internet Explorer (tested on IE 11)

### Results You Received:

Cut off content of popup

### Results You Expected:

Fully-visible editors inside Popup

### Environment Details:
DevExtreme: 18.2.4 and ol

[2019-01-10 08:57] YousefMMS commented on #5163
@dxbykov Thank you for your effort.
Looking for 19.2 version specifically mention feature (@), do you've any idea when this coming.

[2019-01-10 11:29] komarovalexander commented on #6524
I've reproduced this issue. We'll process the issue in the context of [the ticket of DevExpress Support Center](https://www.devexpress.com/Support/Center/Question/Details/T703158/datagrid-lookup-column-loads-data-on-filtering) - it will be updated once we obtain any news.

[2019-01-10 11:29] #6524 closed, assigned to komarovalexander

[2019-01-10 11:58] vconst commented on #6531
Hi @ZergRushJoe,
 
To set the max height for PivotGrid, you can use the max-height css style. I have prepared [an example](https://codepen.io/anon/pen/pqOxBb) to demonstrate it.

[2019-01-10 12:17] vconst commented on #6528
Hi @ZergRushJoe,
 
At the moment, there is no option to load the field format from OLAP. The only option I can suggest is to apply the format by specifying the [PivotGridDataSource.fields.format](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/PivotGridDataSource/Configuration/fields/#format) option. We will think about adding this capability in future versions.
 
Your other questi

[2019-01-10 13:43] ZergRushJoe commented on #6528
So if I set visible to false it removes it from the field chooser. I need away to hide the field without taking it out of the field chooser.

[2019-01-10 15:00] ovchinnikov commented on #6564
I could not reproduce the issue on my side.
![memory](https://user-images.githubusercontent.com/1101267/50976671-9b875900-1501-11e9-81db-78220aecbe77.gif)

[2019-01-10 17:34] Telem commented on #6564
Here is a repro in images. Clicking is critical to trigger the leak
![memleak-devextreme](https://user-images.githubusercontent.com/7721874/50986141-4b5ec580-1506-11e9-952a-7e827a09b8ba.gif)

[2019-01-10 18:49] RezaRahmati opened #6553 "setting state doesn't set pageSize on DataGrid when it's in virtual scrolling mode"
### Steps to Reproduce:

1. Open this link [https://codesandbox.io/s/o7pkpn9kw5](https://codesandbox.io/s/o7pkpn9kw5)
There are two grid same as each other, the only difference top grid has scrollingMode standard, bottom grid has virtual
2. Change page size to 100, and page number to 3 on both grids
3. Click on `save state` button, to save state of both grids
4. Change page size to 400 and page nu

[2019-01-10 21:10] hassankani commented on #5165
v18.2.4 released 27 Dec 2018...does that one now include the above cell customisations for **pivotgrid**, as so far I have only seen the cell customisations come through for datagrid.

[2019-01-11 20:44] pcurrivan opened #6561 "dxDataGrid error "this._contentReadyAction is not a function" from datetime filter"
### Steps to Reproduce:

Open this codepen and try to group by the Company Name column.
https://codepen.io/anon/pen/yGQJmz

It happens when you have:
1) virtualColumnRendering enabled (and enough columns that some are not rendered)
2) a column with dataType=datetime
3) filterRow visible
4) you try to group by a column that has at least 2 values

The error is "TypeError: this._contentReadyAction is

[2019-01-11 20:46] ZergRushJoe opened #6562 "Pivot Grid Pager"
I need a pivot grid pager because I have over 3000+ rows at minimum most queries.

[2019-01-12 00:56] pcurrivan opened #6563 "resize handler called during scrolling?"
I'm trying to determine what is making virtual scrolling so slow on my dxDataGrid.  With many columns it is really really slow.   The time seems to be taken up by calls to _correctColumnWidths and _updateRowHeight.  It looks like every scroll event is causing a resize event, which calls synchronizeColumns, which calls _correctColumnWidths.   The thing is, I have only fixed-width columns, and the g

[2019-01-13 14:39] na9tech commented on #11306
Hi my friend, we do it and upload it o git very soon, we are testing it now

[2019-01-14 05:16] Yarovaya commented on #6542
Hello. I have fixed this behavior in this [pull request](https://github.com/DevExpress/DevExtreme/pull/6546).

[2019-01-14 05:16] #6542 closed, assigned to Yarovaya

[2019-01-14 07:33] vconst commented on #6553
@RezaRahmati
I've reproduced this issue and created [a public ticket](https://www.devexpress.com/Support/Center/Question/Details/T706575) in the DevExpress Support Center. You can subscribe to it to get a notification once we have any results.

[2019-01-14 07:33] #6553 closed, assigned to vconst

[2019-01-14 07:56] ovchinnikov commented on #6564
Thank you for the clarification. It seems that the problem is in the following code: https://github.com/DevExpress/DevExtreme/blob/a7c2d7d83d716dbb1ef6a7926f0c36d4ba9a59ee/js/ui/scheduler/ui.scheduler.work_space.js#L1665

[2019-01-14 07:58] vconst commented on #6561
@pcurrivan
I've reproduced this issue and created [a public ticket](https://www.devexpress.com/Support/Center/Question/Details/T706583) in the DevExpress Support Center. You can subscribe to it to get a notification once we have any results.

[2019-01-14 07:58] #6561 closed, assigned to vconst

[2019-01-14 07:59] #6531 closed, assigned to vconst

[2019-01-14 12:40] FabianoCastro opened #6572 "dxDataGrid Filter "Between" dont work with Date"
Hi, I have a problem in Row Filter with Dates in dxDataGrid

### Steps to Reproduce:

Config dxDataGrid
        dataSource: {
           store: new DevExpress.data.CustomStore(....)
        },
	remoteOperations: {filtering: true, sorting: true, paging: true,},
        filterRow: {visible: true, applyFilter: "auto", }
															},

1. Select Column Type Date
2. Input two dates

### Results You

[2019-01-14 13:14] ZergRushJoe commented on #6562
An example of how bad its needed I can stall your [demo page](https://js.devexpress.com/Demos/WidgetsGallery/Demo/PivotGrid/OLAPDataSource/jQuery/Light/) by adding all measure fields, adding Date.date field to columns and adding employee to row. The whole page times out and crashes.

[2019-01-14 16:47] nowaalex opened #6577 "Why devextreme datagrid does not support numeric timestamps in colums of date and datetime type?"
Date-time values stored as strings should have one of the following formats: "yyyy/MM/dd", "yyyy/MM/dd HH:mm:ss", "yyyy-MM-ddTHH:mm:ssx" or "yyyy-MM-ddTHH:mm:ss"

Quote from official docs

[2019-01-14 19:29] RezaRahmati opened #6578 "calculateSortValue only works for first time sorting on dxDataGrid"
### Steps to Reproduce:
Reffering to this documentation https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#calculateSortValue
1. Open this link [https://codesandbox.io/s/ov9onyxnzy](https://codesandbox.io/s/ov9onyxnzy)
2. Click on `Title` column to sort
3. Verify it sorts correctly based on calculateSortValue function (first Mrs. then Dr. and last Mr.

[2019-01-15 12:32] AntonSermyazhko commented on #6577
Hello,

The dxDataGrid support using timestamp for the Date-Time column as a numeric value.
Here is an [example](https://codepen.io/Anton454/pen/GPzVMb?editors=0010).

[2019-01-15 12:32] #6577 closed, assigned to AntonSermyazhko

[2019-01-15 13:11] AntonSermyazhko commented on #6577
We will add info about timestamp values to our documentation.

[2019-01-15 14:53] bbakermmc opened #6585 "Model Binding Camel or Pascal"
When using the DevExtreme MVC helper controls, there are times when your model doesn't match the corresponding incoming data.  Is there a way to have it resolve like automapper does, or set a parameter to say Camel or Pascal?

Otherwise I have to create duplicate models to support DevExtreme and base application support since I cant change the defaultResolver as it would break all existing code fu

[2019-01-15 14:59] komarovalexander commented on #6572
Hi,
I've tried to reproduce this issue but to no avail.
I've created a sample [https://codepen.io/anon/pen/Jwzddx/](https://codepen.io/anon/pen/Jwzddx/) please update it to illustrate the problem.

[2019-01-16 06:08] Yarovaya commented on #6564
Hi @sebastianfdez
I have fixed this issue in this [pull request](https://github.com/DevExpress/DevExtreme/pull/6579).

[2019-01-16 06:08] #6564 closed, assigned to Yarovaya

[2019-01-16 08:46] vconst commented on #6458
@Yura13
I've reproduced this issue and created [a public ticket](https://www.devexpress.com/Support/Center/Question/Details/T707313) in the DevExpress Support Center. You can subscribe to it to get a notification once we have any results.

[2019-01-16 08:46] #6458 closed, assigned to vconst

[2019-01-16 09:08] vconst commented on #6528
As far as I understand, you want to specify a default area for a field where it must be placed after clicking on a checkbox in the field chooser. Currently there is no API to achieve this behavior. That task is in our backlog, but I cannot give you any time frame for it yet.

[2019-01-16 09:21] vconst commented on #6562
Hi @ZergRushJoe,

Remote Paging is on [our roadmap](https://js.devexpress.com/Roadmap/#PivotGrid).
 
Please describe your requirements and expectations:
What data source types are you using?
What UI would you expect with remote paging. Are you fine with virtual scrolling or would like to use a pager for navigation?

[2019-01-16 09:39] sebastianfdez commented on #6564
Thanks! Good luck

[2019-01-16 17:25] Bykiev opened #6597 "TreeView - minimum search length"
Unfortunately search in treeView is extremly slow, I think adding minimumSearchLength property for treeView can improve it (or even search by Enter key press). What do you think about it?

[2019-01-17 08:13] #6428 closed, assigned to jsdmitry, Yarovaya

[2019-01-17 08:49] DokaRus commented on #6597
Hi,
Thank you for the suggestion.
TreeView already provides a way to change the search bar options. So, you can change the `valueChangeEvent` option to apply the search value by the Enter key press or on the focus loss. I've prepared a [simple example](https://codepen.io/Doka/pen/ebamRJ?&editable=true)..
As an alternative, you can set the [searchTimeout](https://js.devexpress.com/Documentation/Api

[2019-01-17 10:09] Bykiev commented on #6597
Hi Dmitry,

Thank you for a quick response. Sorry, seems I've missed searchEditorOptions in docs... But in some cases user will enter small keyword (1-4 letters) and the page is unresponsive for a long time on a large dataset. I want to try improve user experience by setting minimum number of characters. Will it improve the search speed? Or maybe there are some ways to improve search speed in virt

[2019-01-17 14:01] AlisherAmonulloev commented on #6578
From what I gather, you wish to sort cells containing the 'Mrs.' and 'Dr.' values in the first place.
If so, modify the calculateSortValue method in the following manner:
[code]
If this code snippet does not produce a suitable result, please describe how you wish to sort the Title column in greater detail.

[2019-01-17 14:01] #6578 closed, assigned to AlisherAmonulloev

[2019-01-17 14:20] nowaalex opened #6607 "dxDataGrid datatime grouping period control"
If I want to group datetime fields by years, months, days, etc. I use something like this:
[code]

But what if I want to give user an opportunity to choose this period? Should I implement this control manually?

[2019-01-17 19:20] RezaRahmati commented on #6578
@AlisherAmonulloev Thanks, the code you provided is exactly same as I have. The issue is sorting works only for first time, then if you click on the column title again you expect to sort descending, which won't happen, see in my recorded gif I click on Title column multiple times but except first time nothing happens

[2019-01-18 08:24] AlisherAmonulloev commented on #6578
@RezaRahmati  my apologies for the wrong copy-paste. Following is the correct code snippet:
[code]

[2019-01-18 14:55] RezaRahmati commented on #6578
@AlisherAmonulloev this is same repo with your new code [https://codesandbox.io/s/zw1zpxw8zx](https://codesandbox.io/s/zw1zpxw8zx) (p.s your code doesn't include column direction for ascending/descending sorting, it's always ascending)
Still multiple clicking on column to sort doesn't work, I think you still didn't get what is the issue.

1. click on title -> sort works fine
2. click on title agai

[2019-01-19 00:44] pcurrivan opened #6625 "Setting dxDataGrid columns with groupIndex does not create groups"
### Steps to Reproduce:

https://codepen.io/anon/pen/dwxbpm
Open this codepen, in which the grid is initialized without any data.  Click the "Set Model" button.  This attaches data to the grid, including a column with groupIndex: 0.

### Results You Received:

The column (Company Name) with groupIndex: 0 is not grouped.  If you change the initial values of dataSource and columns to getDataSource()

[2019-01-21 02:45] RezaRahmati commented on #6578
@AlisherAmonulloev are you able to reproduce based on my latest comment

[2019-01-21 08:31] Alyar666 commented on #6625
Hello,

Thank you for contacting us. We will process this issue in the context of the following Support Center thread: [dxDataGrid does not apply grouping when options are changed at runtime](https://www.devexpress.com/Support/Center/Question/Details/T708525)

[2019-01-21 08:31] #6625 closed, assigned to Alyar666

[2019-01-21 12:41] Alyar666 commented on #6607
Hello,

You can use the [onContextMenuPreparing](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onContextMenuPreparing) event for this purpose. I have prepared an example to demonstrate this - [https://codesandbox.io/s/2xoypj074y](https://codesandbox.io/s/2xoypj074y).

![dxdatagrid](https://user-images.githubusercontent.com/23191430/51475251-e1121480-1d92

[2019-01-21 12:56] AlisherAmonulloev commented on #6578
I have created a simple project based on my code snippet: https://codesandbox.io/s/jp9z621l3 Please check it.

[2019-01-21 17:31] RezaRahmati commented on #6578
@AlisherAmonulloev thanks, my mistake when I forked my old sample somehow your new code wasn't applied. I changed it based on your seems working.

[2019-01-21 19:40] #6607 closed, assigned to Alyar666

[2019-01-23 11:00] AlekseyMartynov commented on #6585
Hello @bbakermmc

We have already had the idea to support ASP.NET's default `ContractResolver` in our backlog. However, it was not in priority because, in most cases, users were OK with the use of `UpperCamelCase`.

We'll take this ticket into account and raise the priority of the corresponding work item.

Currently, instead of duplicate DTOs, you can specify exact property names in Razor:

[code]

[2019-01-23 11:56] dxbykov commented on #5163
FYI: We've published our [official Roadmap](https://community.devexpress.com/blogs/javascript/archive/2019/01/22/devextreme-javascript-2019-roadmap.aspx).

[2019-01-23 16:29] dxbykov commented on #5165
@hassankani No, it's not included into v18.2. We hope to implement similar functionality in our PivotGrid in 2019.

[2019-01-23 19:09] Bykiev opened #6648 "Permission-based control access"
Hello,

I'd like to restrict access to controls based on user permissions with AngularJS. For ex.: if user has permission to edit data in DataGrid it should be editable, but user can't add new items and delete old ones, otherwise it should be readonly. Same here for the other controls. For native controls in AngularJS it can be achived by creating a custom directive. Is any elegant way to restrict

[2019-01-24 15:27] Telem commented on #6564
Unfortunately, the memory leak is still present in 18.2.4...
https://angular-1fpheh.stackblitz.io
![memleak-devextreme-2](https://user-images.githubusercontent.com/7721874/51688447-e1a9e580-1ff4-11e9-96a5-bbbf702a99b9.gif)

[2019-01-25 03:21] wcypierre commented on #5165
@dxbykov is there any workaround for the master-detail export?

[2019-01-25 07:54] San4es commented on #6564
Hi @Telem

The [fix](https://github.com/DevExpress/DevExtreme/pull/6579) is included in the 18.2.5 version. Please try it.

[2019-01-25 10:31] hakimio opened #6674 "DateBox: cursor should not move when adjusting date with up/down arrows when useMaskBehavior is enabled"
### Steps to Reproduce:

1.  Enable dateBox "useMaskBehavior"
2. Set displayFormat, ie "dd/MM/yyyy"
3. Use left/right arrow keys to select part of the date
4. Use up/down keys to modify part of the date

### Results You Received:
Part of the date being modified is no longer selected and cursor jumps to start or end of the date depending if you used up or down key

### Results You Expected:
Part of

[2019-01-25 10:36] hakimio commented on #6648
That's not UI framework responsibility. You have to implement this yourself or use library like [ngx-permissions](https://github.com/AlexKhymenko/ngx-permissions).

[2019-01-25 15:29] Bykiev commented on #6648
@hakimio, basically, you're right. But with DevExtreme I don't see any easy way to restrict access (ie block adding new items and allow editing) with a custom directive or other way except explicitly setting required properties.

[2019-01-28 07:49] hakimio commented on #6648
Not sure if it works but you can try something like the following:
[code]

[2019-01-28 10:20] DokaRus commented on #6674
Hi,
 
Thank you for the report. I've reproduced the same behavior on my side.
I've created a corresponding [ticket](https://www.devexpress.com/Support/Center/Question/Details/T710547) in our Support Center. You can subscribe to it to get a notification once we have any results.

[2019-01-28 10:20] #6674 closed, assigned to DokaRus

[2019-01-29 13:31] sebastianfdez commented on #6564
Hi. How @Telem says, the problem is still appearing after the new release.
To reproduce the problem it is necessary to click over the tamplates.
Here is a gif using the updated version with https://stackblitz.com/edit/angular-ibh8ch?file=package.json

![memoryhogusingdevextreme](https://user-images.githubusercontent.com/17834635/51911587-84d27480-23d2-11e9-8c09-ceeca5f673fb.gif)

[2019-01-29 14:10] San4es commented on #6564
@sebastianfdez @Telem

Thank you for pointing out to this issue. We reproduced it.
 
I've created a [corresponding ticket](https://www.devexpress.com/Support/Center/Question/Details/T711070/scheduler-memory-leaks-when-dxtemplate-is-used) in our Support Center. You can subscribe to it to get notification once we have any results.

[2019-01-31 07:43] San4es opened #6748 "DateBox - The "the date should be in range after the selection" test fails on the 31st day of a month"
[code]

[2019-01-31 09:21] itprodavets opened #6756 "DataSource load method not working with ngrx store"
Hi
How to use DataSource load method with ngrx store?

I have these problems:
   1) When the page loads, the load method is called
   2) infinite loading
   3) 2 requests are send to server instead of 1

[code]

![image](https://user-images.githubusercontent.com/5946414/52043305-6abea080-2550-11e9-8dd6-0993b0ef3ea6.png)

[code]
![image](https://user-images.githubusercontent.com/5946414/52045509-ba

[2019-01-31 10:53] San4es commented on #6748
Fixed in #6753 (18_2),  https://github.com/DevExpress/DevExtreme/commit/40d7d2eb39d93dc0cafc5ac0c1bfce7b14cfb6d5 (19_1), #6767 (18_1)

[2019-01-31 15:18] bbakermmc opened #6764 "E4009 - Show Field"
When you throw a E4009 why cant you tell me what field is missing/having an issue?

In my particular example below, the issue is because TitleOfRespect and MaturitySuffix are returning empty string instead of null, but I had to try updating each field independently to find out.

EX:
[code]

[code]

[code]

[2019-01-31 19:40] #6748 closed, assigned to churkin

[2019-01-31 22:35] pcurrivan opened #6768 "dxDataGrid scrolling issue with fixed columns on Firefox"
### Steps to Reproduce:

1. Open this codepen with Firefox: https://codepen.io/anon/pen/PVpZVp
2. Fix a column.
3. Try scrolling.

### Results You Received:

Scrolling gets "stuck".

### Results You Expected:

Scrolling should not get stuck when columns are fixed.  It does not get stuck on Chrome.

### Environment Details:

DevExtreme version 18.2.5
Seen on Firefox versions 52 through 65.

[2019-02-01 14:16] dxbykov commented on #5165
@wcypierre For now, the only way you can try is to format a DataGrid cell value into a multi-line text using the [customizeExcelCell](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/export/#customizeExcelCell) callback.

[2019-02-01 19:55] pcurrivan opened #6781 "dxDataGrid column.format option restricted to numbers and dates"
I just spent several hours very confused because the format I applied to a string column had no effect.  I eventually discovered by looking at the source code that the format option only works for number and date values, and silently fails for other types (https://github.com/DevExpress/DevExtreme/blob/19_1/js/format_helper.js#L12).  The way to format other columns seems to be with calculateCellVal

[2019-02-04 07:55] Alyar666 commented on #6768
Hello,

Thank you for contacting us. We will process this issue in the context of the following Support Center thread: [dxDataGrid - Scrolling works slowly when there are fixed columns in the Firefox browser](https://www.devexpress.com/Support/Center/Question/Details/T712460)

[2019-02-04 07:55] #6768 closed, assigned to Alyar666

[2019-02-04 09:54] vconst commented on #6563
Hi @pcurrivan,

Currently, the resizing is performed after each content rendering. This is necessary for correct layout calculation in different cases. For example, the _correctColumnWidths method corrects the last column width when the sum of column widths is less than the DataGrid width. The _updateRowHeight method uses rendered row height to calculate which rows should be loaded next during vir

[2019-02-04 10:23] vconst commented on #6648
Hi @Bykiev,
 
Currently, DataGrid does not have any permission mechanism for AngularJS. I recommend you create a helper function that returns the [editing](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/editing/) configuration object based on current user permissions.

[2019-02-04 15:56] artem-kurchenko commented on #6781
Hi,

Thank you for the note. However, I'm not sure what built-in formatting can be used for strings in a common case. Would you please describe this part in greater detail?
Have you tried using [customizeText](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#customizeText
) for your task before viewing the format option implementation?

[2019-02-04 16:34] San4es commented on #6764
Hi @bbakermmc

Thank you for pointing us about this case. We will think about how to add more diagnostic information in this error message.

[2019-02-04 16:47] Bykiev commented on #6648
@vconst thanks, and what about other controls? Seems the only way is manual configuration.

[2019-02-06 12:15] ChristofFritz commented on #12074
To bring the problem to a point: In the world of Angular where we have observables it's simply just stupid to do a full page reload just for a couple of strings. Even though @nightskylark is absolutely right with his argmentation that the users won't change the locale all the time.
It would be a "really nice to have" if the locale changes on the fly.

[2019-02-06 20:26] pcurrivan commented on #6563
Hi @vconst,

Thanks for your response.  I am fairly sure neither of those reasons for resizing during scrolling apply to my grid, where all columns have fixed width and all rows have equal fixed height.

That example works well - my browser just about keeps up with both vertical and horizontal scrolling without making me wait, but when you start adding additional features it slows down.  For examp

[2019-02-06 20:46] pcurrivan commented on #6781
Hi @artem-kurchenko,
You would probably not use a built-in format for a string.  You would use a function: string => string.  I did not notice customizeText.

There are three column options with similar purposes: format, calculateDisplayValue, and customizeText.  I would suggest that the documentation for each of these options should explain why you would use it over the others.  Something like th

[2019-02-07 14:06] JacopoSciampi opened #6831 "Popup *dxTemplate slow down the application"
### Steps to Reproduce:

1.  Create a classic popup with a custom html
2.  The app I use have a map that basically is a div with some handlers.
3.  After opening the popUp all the portal is slowed.

### Results You Received:
Performances issue.

### Results You Expected:
Nothing releated to a performance issue.

### Environment Details:

Version: 18.2.5

###Note
Here's a GIF that show how the whol

[2019-02-11 11:06] Jelledb opened #6855 "onCustomItemCreating from dxSelectBox not triggering"
I am using AngularJS.
I am on version of DevExtreme 18.2.5 according to my bower.json.

I am using the onCustomItemCreating for the dxSelectBox and I want the user to be able to type in a custom value.

However, this event is only ran in a very specific scenario.
This is the following scenario:
1. Select an item
2. Type in a different value directly after selecting.
3. Click outside the input.
Res

[2019-02-12 10:29] DokaRus commented on #6855
Hi,

This issue is related to the existing [T710656: It is difficult to add a custom item to SelectBox](https://www.devexpress.com/Support/Center/Question/Details/T710656) that was fixed in the upcoming v18.2.6.

[2019-02-12 10:29] #6855 closed, assigned to DokaRus

[2019-02-12 15:14] artem-kurchenko commented on #6781
Hi,
 
Thank you for your feedback. We'll think of improving these parts.
I'd like to clarify that calculateDisplayValue contains information about formatting at the bottom. It looks like we need to move it to the top to make it more noticeable :)

[2019-02-12 15:14] #6781 closed, assigned to artem-kurchenko

[2019-02-13 06:08] xariaSg opened #6891 "DropDown doesn't work with array"
Dropdown doesn not work when the dataSource is an array.

### Steps to Reproduce:
https://codesandbox.io/s/z69koxx764

### Results You Received:

![image](https://user-images.githubusercontent.com/19527332/52690371-6191f280-2f98-11e9-85ef-0f61c7f7cc19.png)

### Results You Expected:
Should display the selected items Company Name

### Environment Details:

v18.2

[2019-02-13 07:57] #6891 closed, assigned to nobody

[2019-02-19 11:10] briosheje commented on #6044
@jsdmitry seeing that this feature is in the 2019 - 19.1 roadmap (https://community.devexpress.com/blogs/javascript/archive/2019/01/22/devextreme-javascript-2019-roadmap.aspx) may I ask whether there currently is any ETA for the 19.1 release? Thanks

[2019-02-20 20:51] bbakermmc opened #7001 "Grid CSS Scroll Bar with alt rows not correct"
Grid Scroll bar is under the alternate row colors
V 18.2.6
![image](https://user-images.githubusercontent.com/30090055/53123497-3d4d8d00-3527-11e9-8f72-20889c35320a.png)

[2019-02-20 20:54] bbakermmc opened #7002 "Toolbar popout windows cut off (CSS?)"
The css for the toolbar looks wrong when you hide items and use the button to show them:

V 18.2.6
![image](https://user-images.githubusercontent.com/30090055/53123670-94536200-3527-11e9-85ab-13a9427fe87d.png)

Previous versions:
![image](https://user-images.githubusercontent.com/30090055/53123737-bea51f80-3527-11e9-861c-ec6c66716813.png)

[2019-02-20 21:28] bbakermmc opened #7003 "DataGrid - The editorType option does not work if defined in the formItem configuration object"
Update the MVC API to allow for the grid to edit form items, or remove it from an available options to edit.

Seems like a huge waste to make a template to do something so trivial.  Is there a better way to tell it how I want it to render?

EX:  I can configure a form item here, I would expect it to render.  But per documentation it wont, so dont expose it to me then.
[code]

[2019-02-21 13:41] Bykiev opened #7014 "Datagrid's disabled selection checkboxes are clickable"
### Steps to Reproduce:

1. Create a datagrid and set mode: "multiple", showCheckBoxesMode: 'always'
2. Make all checkboxes disabled

### Results You Received:

Checkboxes are disabled, but still clickable

### Results You Expected:

Disabled checkboxes should be not clickable

### Environment Details:
Devextreme 18.2.6, Online example: https://codepen.io/anon/pen/gqJxGb

[2019-02-21 15:24] bbakermmc opened #7016 "DXForm - Add Option To Not Stack Items In Group/Col"
Often times when using a dxForm you want to have Save/Cancel buttons.  However, the UI doesnt render these next to each other, but rather stacks them.

Should have option to have allow rendering side by side.  Creating a template is extra work.
A Quick  hack we use is to make a group with extra columns, force the one to the right and span xx cols, and the last to go left.  It gives the desired app

[2019-02-22 08:49] Bykiev opened #7025 "Validation for selectBox with boolean value working incorrect"
### Steps to Reproduce:

1. Create a form with SelectBox
2. Set dataSource with boolean value
3. Select boolean 'false' value, validation Required is triggered

### Results You Received:

Validation Required is triggered for selected false value

### Results You Expected:

If the value selected (true or false) validation should not trigger

### Environment Details:

18.2.6, online demo: https://co

[2019-02-22 14:53] tibi2303 opened #7042 "Grouping header columns overflow"
### Steps to Reproduce:

1. Add multiple Column Headers to the DxDatagrid
2. Enable Grouping
3. Group by multiple column headers until the headers overflow out of the container

### Results You Received:
The Grouping column Headers are out of the container

### Results You Expected:
The overflow grouping column headers should break into a new line.

### Environment Details:
All browsers

https://i

[2019-02-22 15:25] San4es commented on #7025
@alexander-kotov-dx

Does [this PR](https://github.com/DevExpress/DevExtreme/pull/7000) fixes this issue?

[2019-02-22 16:49] RezaRahmati opened #7043 "Filter will be cleared on DxDataGrid when there is filters with empty values"
### Steps to Reproduce:

1. Open this [https://codesandbox.io/s/84731n56z9](https://codesandbox.io/s/84731n56z9) which some filters are applied through app.component.ts
2. Click on filter panel and open filter builder
3. Remove filter for "Invoice Number"
4. Click on OK

### Results You Received:
Filter will be cleared

### Results You Expected:
Filter for other two fields should be retained

###

[2019-02-24 08:04] faststare08 opened #7044 "how to Assign in object literal the e.dataField of onEditorPrepared (Datagrid)?"
it seems automatic generators/looping when making onEditorPrepared method called which I cant simple assignment in a object helper/controller within the popup form.
it seems 3 years ago someone asked this on your community forum (getEditor within dxDataGrid  mode:popup/form)  but you didn't add this feature. I hope that you add this feature within the year because editform within dxDataGrid will h

[2019-02-25 07:07] Bykiev opened #7047 "Add support for SelectBox datasource config via function"
Selectbox should support datasource configuration via function as datagrid's lookup column.

[2019-02-25 07:08] vconst commented on #6563
@pcurrivan,

DataGrid has the renderAsync option for such scenarios. It's efficient if columns have heavy templates and columnRenderingMode is virtual. I have added the renderAsync option to your example to demonstrate it in action: https://codepen.io/anon/pen/zbOPaO.
 
Also, we will research if it's possible to remove the updateDimensions method call during virtual scrolling in future versions.

[2019-02-25 07:09] vconst commented on #6648
@Bykiev,

Other widgets do not have permission options either. Use a binding to the disabled option for them.

[2019-02-25 07:09] #6648 closed, assigned to vconst

[2019-02-25 07:45] hakimio commented on #7047
Nowhere in [the documentation](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxSelectBox/Configuration/#dataSource) is stated that dataSource config can be assigned to a function.

[2019-02-25 07:56] hakimio commented on #7044
Like stated in the support forums:

If you want to customize the editor form you can either define your own form in [editing -> form](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/editing/#form) or use [onEditorPreparing](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onEditorPreparing) event to customize default

[2019-02-25 08:00] Bykiev commented on #7047
@hakimio, thanks, but to be consistent, it should be supported. I'll edit the issue to make it looking like a feature, not a bug

[2019-02-25 08:10] vconst commented on #7003
Hi @bbakermmc,

Currently, it is not possible to define editor type in the formItem config.
We'll update our help topic accordingly.
You can change editor type as described at https://js.devexpress.com/Documentation/Guide/Widgets/DataGrid/Editing/#Customize_Editors
In your case the code may look as follows:
[code]
I'd like to add that we understand that this restriction is not convenient and are g

[2019-02-25 08:13] hakimio commented on #7002
It looks fine in [the demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Toolbar/Overview/Angular/MaterialTealLight/). Are you sure it's not your CSS which is causing the problem? Can you create a demo reproducing the issue?

[2019-02-25 10:39] hakimio commented on #7002
While the text doesn't seem to be cut-off. Vertical alignment seems to be definitely off -> [demo](https://codesandbox.io/s/6l5orwpx1w).

[2019-02-25 13:03] bbakermmc commented on #7003
Yeah I know. But we didn’t pay extra for the Mvc core helpers to end up writing just as much JS.

Sent from my iPhone

On Feb 25, 2019, at 3:10 AM, Konstantin Volnyagin <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @bbakermmc<https://github.com/bbakermmc>,

Currently, it is not possible to define editor type in the formItem config.
We'll update our help topic accordingly.

[2019-02-25 13:22] bbakermmc commented on #7002
I’ll check with our css.  But I downgraded to previous version and worked fine.

Sent from my iPhone

On Feb 25, 2019, at 5:39 AM, Tomas Rimkus <notifications@github.com<mailto:notifications@github.com>> wrote:

While the text doesn't seem to be cut-off. Vertical alignment seems to be definitely off -> demo<https://codesandbox.io/s/6l5orwpx1w>.

—
You are receiving this because you authored the th

[2019-02-25 13:55] hakimio commented on #7042
Or a simpler solution which wouldn't break any other layouts could be to have a scrollbar.

[2019-02-26 05:59] artem-kurchenko commented on #6831
Hi,
 
I didn't notice performance decrease in your .gif image. Anyway, we cannot debug and diagnose performance problems only by screenshots and need to research the same case in action.
 
Would you please create a test example demonstrating this scenario?

[2019-02-26 09:02] jsdmitry commented on #7016
Hi,
I suggest you make a template for the Form's Group item that will include your buttons.
You should also use CSS to align these buttons.

The following code demonstrates this:
[code]

[2019-02-26 09:02] #7016 closed, assigned to jsdmitry

[2019-02-26 09:13] #7044 closed, assigned to nobody

[2019-02-26 09:16] #7002 closed, assigned to jsdmitry

[2019-02-26 09:46] San4es opened #7066 "TEST"
### Steps to Reproduce:

1.
2.
3.

### Results You Received:

### Results You Expected:

### Environment Details:

[2019-02-26 09:46] #7066 closed

[2019-02-26 10:58] tibi2303 opened #7071 "Grouping overflow when storing is enabled and the page refresh"
### Steps to Reproduce:

1. Have grouping and state-storing enabled
2. Start grouping
3. Refresh the page

### Results You Received:
The grouping overflows the container

### Results You Expected:
The overflow is visible and width it's proper set

### Environment Details:
All browser

![image](https://user-images.githubusercontent.com/36895476/53408002-1cbd8100-39c6-11e9-9a51-ae7de67c1529.png)

[2019-02-26 17:11] snebjorn opened #7082 "Please provide an index.d.ts in your NPM package"
Please provide an index.d.ts file in your root folder of your NPM package for devextreme as this will allow me to do ES6 imports in the "normal" way. You do this perfectly for your devextreme-angular package.

Now:
`import DataSource from "devextreme/data/data_source";`

After:
`import { DataSource } from "devextreme";`

You could also consider registering your name under af scope so something lik

[2019-02-27 06:58] Bykiev opened #7084 "TreeView ItemSelectionChanged event raised twice"
### Steps to Reproduce:

1. Create a treeView and specify _selectByClick: true_ option
2. Subscripe on ItemSelectionChanged event

### Results You Received:

On the first click on treeView node event raised one time, but other times it fires twice

### Results You Expected:

Event should be raised only one time

### Environment Details:

18.2.6. Online demo: https://codepen.io/anon/pen/WmbVqP

[2019-02-27 10:53] AlisherAmonulloev commented on #7043
Hi,
 
The issue occurs since your filter contains incomplete nodes. Would you please describe your scenario in greater detail? In addition, clarify why you need to have nodes that do not have values.

[2019-02-27 10:53] #7043 closed, assigned to AlisherAmonulloev

[2019-02-27 11:11] AlisherAmonulloev commented on #7001
I was unable to reproduce the issue. Below is an image illustrating how DataGrid looks when I change the color of rows and the color of the scrollbar through the Google Chrome's DevTools
![image](https://user-images.githubusercontent.com/25052481/53486147-ff0d1c00-3a98-11e9-9be6-5c52aa4f151d.png)
Please prepare a simple project illustrating the problem so that I can examine it.

[2019-02-27 11:11] #7001 closed, assigned to AlisherAmonulloev

[2019-02-27 13:43] alexander-kotov-dx commented on #7025
@San4es, it is another issue.
Regarding this case, the Required rule validation now fails if a widget has an _undefined_, _false_ or _null_ value. This logic was implemented because we have editors that operate true\false values only (dxCheckBox). In this particular case, we recommend using [Compare](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxValidator/Validation_Rules/Compa

[2019-02-27 13:56] #7025 closed, assigned to nobody

[2019-02-27 16:46] RezaRahmati commented on #7043
Thanks for getting back, we have customized the grid to show as card-list, hence we had to remove columns and adding our own custom sort! (which is fine) also we enabled the filter-panel so that users are able to filter data. Then there were 2 issues:

1- Our users are complaining that they don't know how to use filter builder and it's hard for them to understand -> to solve this we added a column

[2019-02-27 21:13] RezaRahmati opened #7100 "setting state caused incorrect pageIndex on DataGrid when it's in virtual scrolling mode"
### Steps to Reproduce:

1. Open this link [https://codesandbox.io/s/ym86y77081](https://codesandbox.io/s/ym86y77081)
There are two grid same as each other, the only difference top grid has scrollingMode standard, bottom grid has virtual
2. Change page size to 10, and page number to 3 on both grids
3. Click on `save state` button, to save state of both grids
4. Change page size to 40 and page numb

[2019-02-28 03:50] yinlianghui opened #7101 "dxTreeView can't set customized sort function like 'sortingMethod' which dxTreeList can."
### Steps to Reproduce:
Just set the 'sort' property for the dataSource of dxTreeView,like this:
[code]

### Results You Received:
If I'm using English, I can see that the dxTreeView is displayed as a normal sorted tree.
But if I'm using Chinese, I see that the dxTreeView is displayed as a sorted exception tree.

### Results You Expected:
When using Chinese, The dxTreeView is displayed as a normal

[2019-02-28 08:08] artem-kurchenko commented on #7084
Hi,
 
It's raised for both 'select' and 'unselect' actions in such cases. You can check event arguments to determine what action is performed.

[2019-02-28 08:08] #7084 closed, assigned to artem-kurchenko

[2019-02-28 08:37] Bykiev commented on #7084
@artem-kurchenko thx, it's not clear from the docs, the event object doesn't contain event propery on 'unselect' but does on 'select'. So, do I need just check if event property exists?

[2019-02-28 09:56] faststare08 opened #7105 "alternative solution on this?"
https://www.devexpress.com/Support/Center/Question/Details/T373710/dxdatagrid-the-geteditor-method-of-the-edit-form-returns-undefined

this solution doesnt work on node module.
`var editors = {};
$("#gridContainer").dxDataGrid({
    ...,
    onEditorPrepared: function(e) {
        if (e.parentType == 'dataRow') {
            editors[e.dataField] = e.editorElement[e.editorElement.data().dxComponent

[2019-02-28 12:44] faststare08 commented on #7105
SOLVED! but how to check if Adding or Updating Row?

[2019-02-28 12:44] #7105 closed, assigned to nobody

[2019-02-28 12:57] faststare08 commented on #7105
how to check if Adding or Updating Row? - SOLVED also.

[2019-03-01 10:37] artem-kurchenko commented on #7084
@Bykiev By event arguments, I meant all available parameters.
In this particular case, you can check the "node" parameter which represents the current node and has the 'selected' field.
You can check this by clicking a link near this parameter (see the [screenshot](https://monosnap.com/file/PO4iJg7Ew5JW4fCoIbUeh3MRsgzHYn)).
I recommend you inspect all event arguments in our event handlers as they

[2019-03-01 11:44] AlisherAmonulloev commented on #7014
We are aware of this limitation and have plans to introduce an API for implementing the functionality to avoid selecting certain rows. In the meantime, we recommend that you manually deselect rows you do not want to be selected in the onSelectionChanged handler. Check the https://www.devexpress.com/Support/Center/Question/Details/T497347 ticket illustrating how to implement this.

[2019-03-01 11:44] #7014 closed, assigned to AlisherAmonulloev

[2019-03-01 11:53] metehansenol opened #7125 "DataGrid FocusedRowChanged event is triggering twice when ColumnFixing feature added on React"
Column
Paging
Grouping
GroupPanel
Selection
FilterRow
SearchPanel
ColumnChooser
ColumnFixing  --> (Problem !)
StateStoring
Export

I use above features except ColumnFixing on DataGrid. Everything was normal.

But after then I add ColumFixing on DataGrid, suddenly I noticed that FocusedRowChanged event start trigerring twice. I checked it by using console output in FocusedRowChanged event either ad

[2019-03-01 11:54] AlisherAmonulloev commented on #7071
I was unable to reproduce the issue by using the https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Overview/jQuery/Light/ demo. Please describe step by step instructions on how to replicate the problem.

[2019-03-01 11:54] #7071 closed, assigned to AlisherAmonulloev

[2019-03-01 14:52] RezaRahmati commented on #7043
@AlisherAmonulloev ^^ does it make sense?

[2019-03-01 15:42] AlisherAmonulloev commented on #7043
Thank you for mentioning me. Somehow I missed your post. My apologies. Yes, your scenario makes sense. You need to make sure that an end-user has specified values in all filter nodes. Or, at least specify default values manually while creating the filter.

[2019-03-01 16:39] RezaRahmati commented on #7043
@AlisherAmonulloev I have to convenience our QA though

[2019-03-03 01:28] pedrofurtado opened #7130 "Support for multiple toasts displayed at the same time in screeen?"

[2019-03-04 13:57] pavelgruba opened #7142 "Charting - Legend Enhancements"
# The Problem

The current Legend implementation does not allow you to reorder legend items, hide items based on custom criteria, or add a title to the legend.

# The Proposed Solution

## Customize Legend Items

We added the `legend.customizeItems` callback that allows you to change the order, text, and visibility of legend items. It accepts an array of legend items as a parameter. Modify the arr

[2019-03-04 21:43] pavelgruba opened #7147 "Legend in the BarGauge"
# The Problem

In certain cases, colored bars in the BarGauge need annotations.

# The Proposed Solution

We plan to extend the BarGauge's functionality with a Legend configured via the `legend` object. Similar objects are [present](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxFunnel/Configuration/legend/) in other widgets. The legend will support the [recent e

[2019-03-05 09:23] AlisherAmonulloev commented on #7042
The idea makes sense. Although this is not a very popular request, we will discuss the possibility of adding this functionality.

[2019-03-05 09:23] #7042 closed, assigned to AlisherAmonulloev

[2019-03-05 09:45] AlisherAmonulloev commented on #7100
Hi,
 
I reproduced the issue and created a report in our Support Center: https://www.devexpress.com/Support/Center/Question/Details/T721065 Please refer to it for further correspondence.

[2019-03-05 09:45] #7100 closed, assigned to AlisherAmonulloev

[2019-03-05 15:15] pavelgruba opened #7167 "Resolve labels overlapping in BarGauge and Funnel"
# The Problem

Labels in the Funnel and BarGauge widgets can overlap each other but the widgets do not provide any options to avoid this.
![labels_issue](https://user-images.githubusercontent.com/19471748/53814275-62eb8500-3f70-11e9-8701-c441cc161526.png)

# The Proposed Solution

We will introduce a new option, `resolveLabelOverlapping`, that specifies how the widget should behave when labels ove

[2019-03-06 08:52] Witchie opened #7175 "DevExpress.ui.dxTreeList The last row of data is not displayed"
When I drag the scrollbar, the last few lines of data don't show up, but when I press the down key, the data will show up again.

[code]

[2019-03-06 12:49] pavelgruba opened #7184 "Word wrap in the Charting widgets"
# The Problem

Long texts in textual elements (widget title, axis titles, point labels) are truncated with an ellipsis.

# The Proposed Solution

We plan to implement word wrap for the following elements:

- widget title
- axis titles
- legend title
- texts of legend items
- axis labels
- tile labels in the TreeMap
- point labels in the PieChart

Word wrap will be enabled for these elements unless

[2019-03-06 13:48] AlisherAmonulloev commented on #7130
Currently this functionality is not supported. As a workaround, you can use the notify(options) overload and dynamically define the position option based on the previous dxToast position. Check the https://codepen.io/alishera/pen/eXgvJO example illustrating this.

[2019-03-06 13:48] #7130 closed, assigned to AlisherAmonulloev

[2019-03-06 13:56] AlisherAmonulloev commented on #7101
TreeView does not support the sortingMethod option. You should sort items at a data source level by using the [sort ](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/DataSource/Configuration/#sort)option. I see you tried this, but it for some reason does not work for you. Please prepare a simple example so that I can examine it.

[2019-03-06 13:56] #7101 closed, assigned to AlisherAmonulloev

[2019-03-06 20:03] VeryBueno opened #7888 "SelectBox item overlay is not visible in fullscreen"
# Bug Report

**Package versions:**

    devexteme version: 18.2
    devextreme-angular version: 18.2

**Steps to reproduce:**

https://stackblitz.com/edit/angular-nwirej

**Current behavior:**

1. Add `<dx-select-box>` to page
2. Click on dropdown, options appear.
3. Click on "fullscreen" button. The container element will go full screen.
4. While in full screen, click on dropdown again. Options

[2019-03-07 01:42] brunoccsnasajon opened #7186 "DataGrid won't focus new row [angular]"
On one of your demos for DataGrid:

https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/RowEditingAndEditingEvents/Angular/Light/

If you change <dxo-editing  mode to "cell", and then click on the plus button multiple times, the new row won't get focused after the first time. It kinda blinks like it gets focus and then loses it immediately.

[2019-03-07 12:02] Bykiev opened #7201 "dxTreelist filtering cause 'The request URL is too long' error"
### Steps to Reproduce:

1. Create a treelist with filterRow
2. allow remoteOperations
3. Type smth, apply filter, remove value and apply filter

### Results You Received:

After remove filter value it creates a query with long query string parameters which cause 'The request URL is too long' error (for ex.: [["Task_Parent_ID","=",0],"or",["Task_Parent_ID","=",1],"or",["Task_Parent_ID","=",7],"or"

[2019-03-11 08:11] j209 opened #7213 "Using Backends rather than .net"
Hi
Can we use devextreme with other back end technologies like [meteor](https://github.com/meteor/meteor),[Django](https://github.com/django/django),[Flask](https://github.com/pallets/flask),[Ruby on Rails](https://github.com/rails/rails),...?
Considering that Microsoft roadmap is cross platfom!

[2019-03-11 13:48] briosheje opened #7223 "DateBox / DateTimeBox with useMaskBehavior: can't disable scroll to change values"
### Steps to Reproduce:

1. Configure a datebox with `useMaskBehavior` to `true`
2. Setup a date.
3. Scroll with the wheel

### Results You Received:
Scrolling with the wheel decreased / increased the value.

### Results You Expected:
I just didn't want that, but there is no way to disable such behavior.
As stated in the documentation (https://js.devexpress.com/Documentation/Guide/Widgets/DateBox/

[2019-03-12 10:01] hakimio commented on #7213
Yes, you can use it with any backend you want.

[2019-03-13 07:40] Bykiev opened #7256 "TreeList: focused row cause errors on filtering"
### Steps to Reproduce:

1. Create treeList with focued row
2. Allow filtering
3. Select filter value for not focused row and apply it

### Results You Received:

Page hanges when filter applyed (multiple errors: 'Maximum call stack size exceeded', 'Cannot read property '__DX_INSERT_INDEX__' of undefined')

### Results You Expected:

Filtering with focused row should work

### Environment Details:

[2019-03-13 08:26] pavelgruba opened #7258 "Chart Annotations"
# The Problem

In certain cases, visualized data needs to be annotated with an image or text block. The Chart already provides a similar functionality in the form of labels and tooltips, but they are anchored to series points.

# The Proposed Solution

We plan to implement image and text annotations that you can anchor to any chart element or leave unattached.

Chart annotations will have the foll

[2019-03-13 08:45] hakimio opened #7259 "DataGrid: Item count in paging toolbar is not updated correctly when "repaintChangesOnly" is enabled"
### Steps to Reproduce:

1.  Set "repaintChangesOnly" to true
2. Enable paging toolbar
3. Filter the data grid

### Results You Received:
Page count is updated correctly but total item count is not
![paging toolbar bug](https://user-images.githubusercontent.com/768105/54265586-f545e700-4575-11e9-96e3-23fb7f09dbb1.PNG)

### Results You Expected:
Both page count and total item count to be updated co

[2019-03-13 11:23] pavelgruba opened #7263 "Custom position of chart axes"
# The Problem

Chart axes are always rendered on the chart's edges. This limitation impairs the chart's readability in scientific data analysis.

# The Proposed Solution

We are going to give the chart axes the capability to intersect at any value.

The axes already have the `position` option that accepts `left`, `right`, `top`, or `bottom`. After the implementation, this option will also accept a

[2019-03-13 11:56] pavelgruba commented on #7167
**Update:** The Live Sandbox section has been added.

[2019-03-13 12:23] #6831 closed, assigned to artem-kurchenko

[2019-03-13 13:15] DokaRus opened #7267 "HtmlEditor - Mentions"
# The Problem

Rich editors used in forums and messengers allow their users to mention a person in a discussion, note, or thread. However, the HtmlEditor does not support this feature.

# The Proposed Solution

The mention module is a special text autocomplete module with the following features:

- Data can be loaded from a remote source
- Mentions are activated when a user types a specific prefix

[2019-03-13 13:18] DokaRus opened #7268 "HtmlEditor - Upload Images"
# The Problem

There are three ways to add an image to a web-based rich editor:

- Use the image's URL
- Drag-and-drop the image or paste it from the clipboard and encode it in base64
- Upload the image to a server

At the moment, the HtmlEditor supports only the first two.

# The Proposed Solution

We plan to rework the image dialog to allow you to upload files to the server.

We consider adding

[2019-03-13 13:19] KsyushaM opened #7269 "HtmlEditor - Resize Media Blocks"
# The Problem

The HtmlEditor does not allow users to resize embedded media blocks.

# The Proposed Solution
We added a new `resizing` option that accepts an object with the following structure:

[code]

## UI Design
![resizing_example](https://user-images.githubusercontent.com/9039982/54197655-8ca72d80-44d5-11e9-95f4-725cea9556b8.png)

# Try It
## Live Sandbox

[jQuery](https://codepen.io/Doka/pe

[2019-03-13 13:59] Alyar666 opened #7270 "TreeList - New Filter Modes"
# The Problem

In the TreeList widget, filter results include matching rows with their ancestors but without descendants.

# The Proposed Solution

We added the `filterMode` option that controls which rows filter and search results should include.

This option accepts the following values:

- `fullBranch`
The results include rows that meet the filter condition and their ancestors and descendants.

[2019-03-13 14:10] hakimio commented on #7270
Can we also get this feature for TreeView?

[2019-03-13 14:36] AntonSermyazhko opened #7271 "DataGrid and TreeList - Excel-Like Navigation"
# The Problem

Keyboard navigation and editing process cannot be changed in the [DataGrid](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Overview/Angular/Light/) and [TreeList](https://js.devexpress.com/Demos/WidgetsGallery/Demo/TreeList/Overview/Angular/Light/) components.

# The Proposed Solution

A new `keyboardNavigation` object allows you to customize keyboard navigation and ed

[2019-03-13 15:45] homerokzam commented on #3737
Hi. Any news?

[2019-03-14 07:41] dxbykov commented on #7270
Hi @hakimio,

It's not in our plans for v19.1, but we'll consider possibilities of adding this functionality to our TreeView. BTW, can it be an option for you to replace your TreeView with a single-column and headerless TreeList?

[2019-03-14 07:52] hakimio commented on #7270
Hi Alexander,
Yes, that's an option. The only real drawback is that it would increase the bundle size significantly.

[2019-03-14 08:17] dxbykov commented on #7270
Am I right that you are not using TreeList or DataGrid in your app?

[2019-03-14 08:19] hakimio commented on #7270
Only DataGrid.

[2019-03-14 10:13] Bykiev commented on #7256
Same here with 18.2.7

[2019-03-14 10:37] hakimio commented on #7270
Just made a quick test: importing TreeList module to Angular app, adds ~65KB to production bundle (before gzip), while TreeView module only adds ~2KB.

[2019-03-14 11:25] dxbykov commented on #7270
With all dependencies our TreeList shares about 90-95% of its code with DataGrid. So, according to my estimation, adding a TreeList to your app will increase the bundle size roughly by 30K (gzipped).

[2019-03-14 13:36] churkin opened #7290 "Text Editors - Custom Action Buttons"
# The Problem

DevExtreme editors do not support custom action buttons out of the box, and it takes a lot of time and resources to implement this capability.

# The Proposed Solution

We plan to add a `buttons` option to each DevExtreme editor. It will accept an array of objects that configure predefined and custom buttons. Each object will have the following structure:

[code]

Predefined buttons

[2019-03-14 14:04] churkin commented on #6044
Hello,

We are working on improving custom action buttons for text editors. I'd like to invite you to participate in our R&D process. We are posting related updates on the [corresponding discussion page](https://github.com/DevExpress/DevExtreme/issues/7290). Feel free to review the current state of development and comment if you have any feedback. There is a poll you can take to help us understand

[2019-03-14 14:15] mrjohn0011 opened #7291 "New Dropdown Button Component"
# The Problem

Create a button that allows a user to change an action to be executed.

# The Proposed Solution

We plan to add a new DropDownButton component. This component will allow a user to select an action to be executed from the drop-down list and re-execute this action on a button click.

The DropDownButton consists of three elements: the drop-down list; the toggle button that opens and cl

[2019-03-14 14:35] briosheje commented on #7290
Button locations aside, it would be an interesting feature to actually implement whether the button should be **floating** or **fixed** instead (or others).

In fact, many inputs are usually "linked" to the text box itself (like bootstrap's input groups https://getbootstrap.com/docs/4.0/components/input-group/), while some others have the floating button inside the text box (like the one in the **

[2019-03-14 14:53] hakimio commented on #7291
Will it be possible to hide the arrow from the button? Would be nice if it could show up as just an icon.

[2019-03-14 15:12] mrjohn0011 commented on #7291
Yes, it will be possible to hide the toggle button. In this case, a click on the action button will open and close the widget and a click on the list item will execute an action.

[2019-03-14 15:23] rprimora commented on #7290
The proposed solution sounds nice. How would one add an image here instead of button?

Would this be a disabled button with icon specified?

[2019-03-14 15:25] briosheje commented on #7290
@rprimora Sounds like it supports the `widget` itself (just like the dx-toolbar, if you've ever used that I'm pretty sure you're familiar with it).
Basically, I think you can apply all the widget properties available in the configuration: https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxButton/Configuration/

[2019-03-14 16:28] briosheje commented on #7290
Additional suggestion: for angular-like frameworks, I would suggest you to provide the `dxTemplate` for custom cases, like the datagrid's template renderer.

[2019-03-15 07:24] hakimio commented on #7259
@vconst Can you reproduce the issue?

[2019-03-15 07:27] IgnatovDan opened #7294 "Excel Export Enhancements"
# The Problem

The [current DataGrid export implementation](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ExportToExcel/) does not allow you to customize Excel files in the following ways:

- add a header and footer
- add boolean values, images, rich texts, formulas, hyperlinks
- format values
- border a cell
- add new worksheets
- customize the workbook or worksheet
- export severa

[2019-03-15 07:35] dxbykov opened #7295 "Form - Dynamic Updates without Full Re-rendering"
# The Problem

The Form widget re-renders all its items when you change their count or reconfigure an individual item.

# The Proposed Solution

We will add the `repaintChangesOnly` option that specifies whether the widget should repaint only those items whose data or configuration changed.

[code]

**Note:** The Form re-renders all its items if your updates cause significant changes to the layout

[2019-03-15 07:52] dxbykov opened #7296 "Scheduler - Adaptability & UX Enhancements"
# The Problem

The Scheduler component is not adapted for mobile devices.

# The Proposed Solution

We plan to:

- improve rendering of appointments on small screens.
- add a floating button that allows a user to create new appointments.
- replace appointment tooltips with a drawer.
- make the appointment detail form fullscreen on mobile devices.

## UI Design

![mobile-scheduler-month](https://us

[2019-03-15 08:31] mrjohn0011 commented on #7223
Hello. You can disable the mousewheel event in the input using the following code:

`$dateBox.find(".dx-texteditor-input").off("dxmousewheel");`

Please note that you need do this after the widget is repainted.
We will take into account your suggestion about the possibility of disabling this event out of the box.

Thank you for sharing your ideas with us.

[2019-03-15 08:34] briosheje commented on #7223
@mrjohn0011 Oh, thanks! I think this should (temporarely) be mentioned into the documentation.

Thanks again. May we close the issue? Of course it could be enhanced, but it can be easily solved with a single line of code.

[2019-03-15 08:41] #7223 closed, assigned to mrjohn0011

[2019-03-15 09:15] churkin commented on #7290
Hi guys,
The use of a static icon instead of a button is a different task, we will consider the possibility of implementing it in the feature. @rprimora yes, you can emulate images through disabled buttons, but it would be useful if we add the `type` field to the buttons option for different widgets support (`button`, `dropDownButton`, `image` ...). We will think about this in the next releases. T

[2019-03-15 12:48] b1tzer0 commented on #7296
How does this look when dealing with Grouping and/or other resources?

For example: [Scheduler Overview Demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/Overview/jQuery/Light/)

Or [Grouping Demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/GroupOrientation/jQuery/Light/)

[2019-03-15 15:26] AntonSermyazhko commented on #7256
I have reproduced the issue and will process it in the context of the following Support Center thread: [TreeList throw error after filtering if focused row is enabled](https://isc.devexpress.com/Thread/WorkplaceDetails/T724482)
You can subscribe to it to receive a notification of our progress.

[2019-03-15 15:26] #7256 closed, assigned to AntonSermyazhko

[2019-03-15 20:29] ZaHgO commented on #7267
This is just amazing!

`marker` can be any string or just a single character?
Could `marker` be optionally an array?
Can you add a `headerTemplate` and a `footerTemplate`?

[2019-03-17 21:09] San4es commented on #7290
FYI, @MikeVitik

[2019-03-18 07:22] rprimora commented on #7290
@churkin The thing is, you can only show final amount of controls inside every control as I think you already know there in DevExpress since you guys have a long tradition of building user controls.

Where is this line drawn? Easiest would be as @briosheje said - give possibility of a template. This is easiest(I think) but it is usable only in so many scenarios. For instance, usable controls insid

[2019-03-18 07:33] vconst commented on #7259
Hi @hakimio

The issue fixed in the https://github.com/DevExpress/DevExtreme/pull/7192 PR. The fix will be available in version 18.2.8.

[2019-03-18 07:38] hakimio commented on #7259
@vconst Thanks for the fix.

[2019-03-18 08:17] DokaRus commented on #7267
We consider using a single character marker at the moment. Could you describe your use cases in greater detail so we can use it in our further development?

We'll think about the possibility of implementing it in the future.

[2019-03-18 08:42] AntonSermyazhko commented on #5302
We have published a preview version of the keyboard navigation enhancements in DataGrid and TreeList. I'm closing this issue.
You are welcome to leave your feedback and continue this discussion [here](https://github.com/DevExpress/DevExtreme/issues/7271).

[2019-03-18 08:42] #5302 closed, assigned to dxbykov

[2019-03-18 10:34] Alyar666 commented on #7201
Hello,

Thank you for contacting us. We will process this issue in the context of the following Support Center thread: [TreeList - Invalid query after resetting the filter](https://www.devexpress.com/Support/Center/Question/Details/T724827)

[2019-03-18 10:34] #7201 closed, assigned to Alyar666

[2019-03-18 12:20] Alyar666 commented on #7175
Hello @Witchie ,

I'm afraid that this information is insufficient to determine the cause of this issue. Please send us a runnable sample project so that we can reproduce it on our side.

[2019-03-18 12:30] alexander-kotov-dx commented on #7290
@rprimora thank you for your feedback. This makes sense. Although I cannot promise that we'll add this functionality to the upcoming release (as we're now polishing the current implementation), we'll definitely consider it for further development.

[2019-03-18 12:47] Alyar666 commented on #7186
Hello @brunoccsnasajon ,

Thank you for contacting us. We will process this issue in the context of the following Support Center thread: [DataGrid - The first cell is not focused when a new row is inserted in cell editing mode](https://www.devexpress.com/Support/Center/Question/Details/T724908)

[2019-03-18 12:47] #7186 closed, assigned to Alyar666

[2019-03-18 14:58] ZaHgO commented on #7267
We´re thinking about mentioning all sort of things. It would be hard for users to learn a diferent marker for each and we may run out of markers.

Using `!s` for services, `!ss` for service requests (_solicitud de servicio_ in spanish), `!u` for units and `!c` for trucks (_camiones_ in spanish) instead of `$`, `%`, `&` and `+`. We could use only letters (without the `!` prefix), but that may unexp

[2019-03-18 20:18] jperuggia opened #7325 "Menu in Grid Cell doesn't follow scroll"
### Steps to Reproduce:

1.  Click the options button in the title column.
2.  While options menu is open scroll the grid

https://codesandbox.io/s/04lq7n19o0

### Results You Received:
The floating menu does not follow the button which launched it.

### Results You Expected:
The floating menu to follow the button.

### Environment Details:
DevExtreme: 18.2.7
DevExtreme-react : 18.2.7

[2019-03-19 09:43] Im-Kevin commented on #7271
The effect I want is:
When the last line, enter switches to the next line, otherwise switches to the next column
So I can fill out multiple rows of data quickly.

[2019-03-19 09:54] Im-Kevin commented on #7271
I want to have a cursor when I click on Cell.

[2019-03-19 11:29] AntonSermyazhko commented on #7271
At present, we do not provide the possibility to switch to the next line with the Enter key in this scenario, but it will be possible in the next preview versions of our components. Follow the updates.
 

Did you mean focused cell highlighting? If so, you can handle the [onFocusedCellChanging](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onFocusedCellCh

[2019-03-19 11:48] pedrofurtado commented on #7295
That is a great news! :tada:

[2019-03-19 13:42] Ryan-Ketcham commented on #7295
In addition to showing/hiding fields based on values entered into other fields, we would also like to change validation rules on fields. As an example, if somebody entered their date of birth and said it is over 18, they would no longer have to add information for a Parent or Guardian. Right now we handle this validation with JavaScript, and to show/hide the fields we use CSS classes.

[2019-03-19 13:44] davidekarasek commented on #7268
Please provide some details around the upload process to a server. Ideally I'd like the solution to be strictly HTML5 and upload files through RESTful POSTS of the files to a separate, RESTFUL API or to a specific server location.

Our application currently uses a file upload location within the applications application folder, e.g. [root]/images/userImages.  We want to constrain images to only us

[2019-03-19 15:40] andrewmakarov commented on #7296
Hi @b1tzer0,
We don't have plans to improve UI scheduler in grouping mode on a mobile device.
Primarily we will improve basic UI scheduler, that’s why grouping will not change visually

[2019-03-19 16:17] pedrofurtado commented on #7295
@BingoRUS @dxbykov It will be good if the behavior of this component could replace libraries like these below:

Cocoon (Ruby on Rails) -> https://github.com/nathanvda/cocoon
Nova Repeatable Fields (Laravel) -> https://github.com/fourstacks/nova-repeatable-fields

[2019-03-19 23:07] Shiko1st commented on #7267
Great feature!
Will it be available in plain text editors?

[2019-03-19 23:12] Shiko1st commented on #7295
Great news!

What are "significant changes"?
Will it be possible to add / hide /show tabs or groups dynamically?

[2019-03-19 23:14] Shiko1st commented on #7290
It is not clear yet -- will it be possible to show / hide that buttons dynamically without modifying all buttons set?

[2019-03-20 02:21] Im-Kevin commented on #7271
I want to ask when the next preview will be released.

[2019-03-20 07:32] DokaRus commented on #7267
@ZaHgO
Thank you for your feedback!

@Shiko1st
No, we'll implement it for HtmlEditor only.

[2019-03-20 07:59] DokaRus commented on #7268
We'll use a built-in [FileUploader](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFileUploader/) widget to add the ability to upload images. We'll definitely provide a way to customize its options (like `maxFileSize` that would be helpful in your case).
We will update this issue once we discuss the API in the team.

[2019-03-20 08:23] dxbykov commented on #7271
We release previews every two weeks.

[2019-03-20 09:17] dxbykov commented on #5165
We are testing a new approach to implementing the Excel Export API and have already covered some new exporting scenarios. Let's continue discussing it [here](https://github.com/DevExpress/DevExtreme/issues/7294). Thanks to everybody for the feedback.

[2019-03-20 09:17] #5165 closed, assigned to dxbykov

[2019-03-20 10:49] alexander-kotov-dx commented on #7290
Yes, you can use either framework-specific configuration components, or the `getButton(name)` method to get access to all options of the correspondent custom button as follows:
[code]

[2019-03-20 13:45] Im-Kevin commented on #7271
OK,thanks

[2019-03-21 04:39] cravr opened #7366 "Datebox switches to AM when hour editor changed"
devexteme version:18.2.5
    devextreme-angular version:18.2.5

[x ] bug Report
This issue is present in the devextreme online demos
https://js.devexpress.com/Demos/WidgetsGallery/Demo/DateBox/Overview/jQuery/Light/
When the Datebox is used at type="datetime", (third editor down in the demo)
Any changes made to the Hours input will switch the AM/PM editor to AM

[2019-03-21 07:31] DokaRus commented on #7366
Hi,
We already have [T721723 ticket] (https://www.devexpress.com/Support/Center/Question/Details/T721723) in our Support Center. You can subscribe to it to receive a notification once we have any progress.

[2019-03-21 07:31] #7366 closed, assigned to DokaRus

[2019-03-22 09:26] jsdmitry commented on #7295
@Ryan-Ketcham Thank you for your feedback. This functionality has been fixed in [#6433](https://github.com/DevExpress/DevExtreme/pull/6433).
@pedrofurtado Thank you for your idea. We'll check this library.
@Shiko1st By significant layout changes, we mean changes that require re-positioning of existing items between rows and columns. At the same time, if you update an item(s) within a single only,

[2019-03-22 15:29] bbakermmc opened #7406 "Request - Tri State Slider"
Is there away to accomplish something like this with your controls currently?  If not can I request it.

A lot of times in business we have values that are Tri Sated and the tri state checkbox doesnt go over well with users.

EX: When you need an explicit Yes/No you don't want to use a checkbox in most cases since filled in and checked confuse alot of people.

So it would be nice to have a null/un

[2019-03-22 16:40] bbakermmc opened #7407 "Grid Filter Chrome Issue"
When trying to mouse wheel scroll in a filter in chrome where the page also scrolls, the control closes and then scrolls the page, issue doesnt happen in fire fox.

![filterscroll_chrome_ff](https://user-images.githubusercontent.com/30090055/54838626-73ee0300-4c9f-11e9-8932-1ab5cb99ad0c.gif)

[2019-03-22 20:51] Alyar666 commented on #7407
Hi @bbakermmc

This issue is related to the existing [T724265: Scroll - The "Unable to preventDefault inside passive event listener due to target being treated as passive." error occurs on an attempt to scroll a view in Chrome ](https://www.devexpress.com/Support/Center/Question/Details/T724265/) that was fixed in the upcoming v18.2.8.

[2019-03-22 20:51] #7407 closed, assigned to Alyar666

[2019-03-22 21:23] pcurrivan opened #7411 "Resizing dxDataGrid does not always render newly visible rows"
### Steps to Reproduce:

1.  Go to this codepen: https://codepen.io/anon/pen/gEZBzM
2.  Scroll the grid half-way down
3.  Click the '600' button to increase the grid's height.

### Results You Received:
Half of the visible rows are not rendered.

### Results You Expected:
When grid resizes, all visible rows should be rendered.

My current workaround is to call repaint() after the resize, but this

[2019-03-24 19:41] george-kar commented on #7290
That's a big big update for me. Will be included on the 19.1 or we can expect it as update to the 18.x series ?

[2019-03-24 19:42] george-kar commented on #7295
That's was also a big issue for me and I can't wait for this update. Will be included on the 19.1 or we can expect it as update to the 18.x series ?

[2019-03-25 06:08] NickMitrokhin commented on #7406
Hi,

We have the [dxSwitch](https://js.devexpress.com/Documentation/Guide/Widgets/Switch/Overview/) widget. However, it does not support three states. The only option we can suggest is to use [dxCheckBox](https://js.devexpress.com/Documentation/Guide/Widgets/CheckBox/Overview/). Take a look at the [How to implement dxCheckBox with three states](https://www.devexpress.com/Support/Center/Question/De

[2019-03-25 07:12] #7406 closed, assigned to NickMitrokhin

[2019-03-25 08:01] briosheje commented on #7290
@george-kar I think this will be included in v 19.1 since it's labeled 19.1 (check the labels above).

Also, you may check this: https://js.devexpress.com/Roadmap/

[2019-03-25 09:54] alexander-kotov-dx commented on #7290
Hi @george-kar,
@briosheje is right and we plan to release this functionality in v.19.1 and support it in all further versions. To avoid any misunderstanding, we have added the corresponding labels to the discussion pages.

[2019-03-25 09:56] briosheje commented on #7290
@alexander-kotov-dx since we're on this argument, is there any ETA for the 19.1 release? I'm planning some changes on a devexpress-based framework, but since many tasks will be easier to solve with the 19.1 components, I was wondering whether I should wait a bit more (more or less than a month?) to start complex implementations.
Thanks.

[2019-03-25 10:21] george-kar commented on #7290
@alexander-kotov-dx  @briosheje same here. I have some changes and I need to find complex solutions. Should I wait for 19.1? How long it will take to go out?

[2019-03-25 10:35] hakimio commented on #7259
@vconst even with changes from your PR, paging toolbar still has the issue when calling `dataGrid.refresh(true)` directly.

[2019-03-25 11:37] alexander-kotov-dx commented on #7290
We greatly appreciate your interest in this functionality. At the moment, we concentrate our forces on its realization. However, I'm not able to provide you with any promises or estimates. We will do our best to show you the base functionality as soon as it is implemented. I'll update this issue when the testing samples are ready.

[2019-03-25 12:46] cesaralbuquerque commented on #1719
Hi @zabojad
I have the same problem for "Uncaught TypeError: $(...).dxPivotGrid is not a function"
What's the solution that u find?

[2019-03-25 19:37] irfnkprc opened #7424 "DataGrid focusedRowEnabled={true} and customizeText provided on any column application crashes"
**This is a Bug Report !**

### Steps to Reproduce:
https://codesandbox.io/s/n9x3xy624p

### Results You Received:

When focusedRowEnabled={true} on DataGrid and
customizeText is provided to any column application crashes.

[2019-03-26 06:52] artem-kurchenko commented on #7325
Hi,

We fixed the problem in the context of [this thread](https://www.devexpress.com/Support/Center/Question/Details/T707970/menu-a-submenu-is-not-automatically-closed-on-scrolling-the-page-after-the-upgrade-to). Check the hotfix there and let us know your results.
I also updated your example for quick testing and it seems to work as expected - https://codesandbox.io/s/3424777031

[2019-03-26 07:53] artem-kurchenko commented on #7411
Hi @pcurrivan ,

DataGrid doesn't automatically track container size changes. I suggest you use [updateDimensions](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Methods/#updateDimensions) instead of 'repaint' in such scenarios, as the repaint method re-renders the whole layout which is redundant is such cases.

[2019-03-26 08:13] hakimio commented on #7424
Looks more like your event handlers are causing infinite loops, not DevExtreme issue.
DevExtreme seems to be working fine with focusedRow and customizeText:
https://codesandbox.io/s/mj7p3m2y1x

[2019-03-26 09:55] irfnkprc commented on #7424
@hakimio My example with React DataGrid, And code i provided forked from DexExpress own example.
All I have done is adding customizeText method to demonstrate.

[2019-03-26 11:01] hakimio commented on #7424
Seems to be an issue with React demo. If you comment out event handler code in the demo, it works.
You can report it DevExtreme React github page -> https://github.com/DevExpress/devextreme-react

[2019-03-26 11:18] irfnkprc commented on #7424
I have open issue under react project.
https://github.com/DevExpress/devextreme-react/issues/329

[2019-03-26 11:18] #7424 closed, assigned to nobody

[2019-03-26 17:36] pcurrivan commented on #7411
Thank you, I will use updateDimensions.

[2019-03-26 17:36] #7411 closed, assigned to artem-kurchenko

[2019-03-27 00:47] pcurrivan opened #7496 "State storing interferes with selectedRowKeys input"
# Bug Report

**Package versions:**

    devextreme version: 18.2.6
    devextreme-angular version: 18.2.6

**Steps to reproduce:**
Initialize a component with a dxDataGrid which has a row selection stored with the stored state and a *different* row selection provided as an input bound to selectedRowKeys.

(Sorry, I don't have a simple repro at the moment.)

**Current behavior:**
The stored state

[2019-03-27 08:16] vconst commented on #7259
@hakimio
The issue with calling refresh(true) fixed in version 18.2.8 also.

[2019-03-27 10:22] #7259 closed, assigned to vconst

[2019-03-27 10:36] #7325 closed, assigned to artem-kurchenko

[2019-03-28 09:47] briosheje opened #7465 "DateBox (as TimePicker) : interval 1 performance issues"
### Steps to Reproduce:

1. Take the official demo of the DateBox (https://js.devexpress.com/Demos/WidgetsGallery/Demo/DateBox/Overview/jQuery/Light/)
2. Edit the second datebox from:
[code]
to:
[code]

3. Apply and run, click on the clock next to time: https://prnt.sc/n41wxe . This will come up, but it will take a **lot** of time if you don't have a good hardware. It looks like all the items in t

[2019-03-28 14:53] polll opened #7475 "DataGrid - Fixed column cell of selected row is not highlighted"
### Steps to Reproduce:

1. Take a simple Grid
2. Add TableSelection
3. Add TableFixedColumns
4. Add columns to TableFixedColumns

Example here: https://codesandbox.io/s/l51v63mj5m

### Results You Received:
All cells from selected row are highlighted, apart from the cell from the fixed column

### Results You Expected:
All cells from selected row to be highlighted

[2019-03-29 06:24] sunbala opened #7479 "Pivot Grid - Excel Customisation (Header & Footer)"
### Steps to Reproduce:

1.   Pivot Grid Data - Export to Excel
2.   Need Custom Header & Footer like  Data Grid
3.

### Results You Received:

No Custom Header & Footer

### Results You Expected:
Need Custom Header & Footer

### Environment Details:

[2019-03-29 06:31] Bykiev commented on #7256
@AntonSermyazhko, I've just downloaded the hotfix (v18.2.8-pre-19082) and I can no longer use selectRows method along with focused row, it cause an error: ''angular.js:14199 TypeError: Cannot read property 'setAttribute' of undefined"

AngularJS:
[code]

[2019-03-29 09:02] Bykiev opened #7483 "Feature request: datagrid/treelist filter should reflect UI"
Right now filter applied to dataGrid/treeList is not reflected by UI, so programmatically applied filters are not displayed in filterPanel. Please, add support for this feature in the future releases.

Also I want to have ability to save custom user filters, unfortunately, I didn't find any suitable options to grab constructed filter expression and save it.

[2019-04-01 22:08] cfsean commented on #7291
If I'm honest. I think you've missed the point of a drop down button a little bit.

I really can't think of many scenarios where I would want to populate the items in the button from the data source and then have the text on the button change. I think the concept of a currently selected item doesn't make a lot of sense for this component and to me, it seems a lot like your select-box component wit

[2019-04-02 07:19] Bykiev opened #7522 "stateStoring cause error when datagrid column had filter before column remove"
1. Create a datagrid with filer row/filter panel, add state storing
2. Set filter for some column
3. Remove the column with applied filter

### Results You Received:

[code]

### Results You Expected:

Filter should be reset for removed column

### Environment Details:

v18.2.7, online demo: https://codepen.io/anon/pen/pBJJjP

[2019-04-02 11:20] RamizJ opened #7529 "Vue, dx-form, dx-group-item"
In versions 18.2.7, 18.2.5, the dx-group-item form element stopped working. Version 18.2.3 works

### Steps to Reproduce:
1. create vue project for 18.2.7 version
2. copy/paste App.vue content to HelloWorld.vue from demo:
https://js.devexpress.com/Demos/WidgetsGallery/Demo/Form/Validation/Vue/Light/
3. Copy file data.js from demo
4. run project

### Results You Received:
webpack-internal:///./node

[2019-04-02 11:24] #7213 closed, assigned to nobody

[2019-04-02 11:47] dxbykov commented on #7295
It won't be a part of 18.x. According to the current development state, I'm afraid we can't release it in 19.1 with the desired level of quality. It's at the top of our to-do list, so if it's not ready by 19.1 we'll release it later this year. Please bear with us.

[2019-04-02 13:00] dxvladislavvolkov commented on #7529
Hi @RamizJ
We fixed the issue in [#251](https://github.com/DevExpress/devextreme-vue/pull/253)

[2019-04-02 13:00] #7529 closed, assigned to nobody

[2019-04-03 09:50] dxbykov commented on #7291
Hi @cfsean,
 
Thank you for your valuable feedback. I'd like to address some of the points you've mentioned.

I've made examples of simpler use cases we will support to better demonstrate the functionality of our dropdown button. Take a look at the Angular examples below. Note that we reconsidered some initial option names.

You can use static items instead. Each item can have its own click handle

[2019-04-03 12:02] DokaRus commented on #7267
With the [19.1 Sprint 4](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.0-sprint.4) pre-release, we've added a base implementation of the Mention module.
It allows the use of several markers with different data and item templates.
You can try it [right now](https://codepen.io/anon/pen/yrBYZV).
With the next sprint we are planning to add filtering, the mention template and small enhance

[2019-04-03 14:11] IgnatovDan commented on #7479
Thank you for contacting us. I fully understand your idea.
Although I cannot promise you that we will implement it in the near future, we will take your opinion into account.
For DataGrid we considered this scenario and published our current results at [Excel Export Enhancements](https://github.com/DevExpress/DevExtreme/issues/7294). For PivotGrid, we will manage this scenario in a similar way.

[2019-04-03 14:11] #7479 closed, assigned to IgnatovDan

[2019-04-03 14:58] AlisherAmonulloev commented on #7125
Hi,

Please accept my apologies for the delayed response. I reproduced the issue by using version 18.2.7 of DevExtreme widgets and created a public bug report in our Support Center: https://www.devexpress.com/Support/Center/Question/Details/T729593 Please add it to your Favorites if you have a DevExpress account to be notified of our progress.

[2019-04-03 14:58] #7125 closed, assigned to AlisherAmonulloev

[2019-04-03 21:43] cfsean commented on #7291
Thank you for the clarification @dxbykov. From what you've described this should work great.

It seems like the splitButton option does not exist and the ability to correctly define the dx-items inside a dropdown button is not currently working properly in devextreme-angular 19.1.1-alpha-19085-0305

I assume this is still a work in progress? Is there somewhere I can look to check for when these fe

[2019-04-04 06:27] hakimio commented on #7291
@cfsean it's now called [showToggleButton](https://github.com/DevExpress/DevExtreme/blob/19_1/js/ui/drop_down_button.js#L92) ([documentation](https://js.devexpress.com/Documentation/19_1/ApiReference/UI_Widgets/dxDropDownButton/Configuration/#showToggleButton))

[2019-04-04 15:19] spaatz880 commented on #7270
What about adding child filtering to GridView?

[2019-04-05 14:49] Alyar666 commented on #7270
Hello @spaatz880,

What do you mean by children in the GridView?

[2019-04-08 09:29] hassankani commented on #7294
The initial issue that this one was created from, [5165](https://github.com/DevExpress/DevExtreme/issues/5165), included a reference to being able to customise the exported cell appearance for pivotgrids, but that seems to now not be included in here.  Will the above changes include customisation of cells exported from pivotgrid too?  Or is that being covered elsewhere?  Specifically, we need to a

[2019-04-09 07:57] IgnatovDan commented on #7294
Thank you for contacting us. I fully understand your idea.
Although I cannot promise you that we will implement it in the near future, we will take your opinion into account.
For DataGrid we considered this scenario and published our current results at [DevExtreme DataGrid – Excel Data Export Customization Enhancements (v18.2)](https://community.devexpress.com/blogs/javascript/archive/2018/11/07/d

[2019-04-10 06:15] longnguyenit94 opened #7636 "Dropdown box Support CustomFiltering"
Dear DevExpress,

How to use CustomFiltering for dropdown box!
https://demos.devexpress.com/MVCxDataEditorsDemos/Editors/ComboBoxCustomFiltering

Long

[2019-04-11 00:49] simkessy opened #7663 "TypeError when using require and webpack"
I'm trying to get this working with webpack but the documentation isn't really helping me here:
[code]

Seems like someone had this same issue but they didn't provide an answer: https://github.com/DevExpress/DevExtreme/issues/1719

[2019-04-11 04:26] rajiff commented on #7296
Two suggestions

- Can we make the height of the schedule dynamic for all breakpoints, to automatically expand its height till the bottom of the browser basis a option, from where it is positioned, without developer having to custom style it

- Custom styling needs to be more easier

[2019-04-11 16:18] ZaHgO commented on #7267
@DokaRus the demo looks great.
One thing that I found annoying is that once the popup apears I cannot continue typing. Also the popup should never appear on top of the text. It seems to my that the popup padding is a bit too much.
There is a bug when you change the format of the text and then click the cIear button the mentions disappears.
`itemTemplate` and `displayExpr` are working as expected a

[2019-04-11 16:56] simkessy commented on #7663
I forgot this:

`require("devextreme/integration/jquery");`

[2019-04-11 16:56] #7663 closed, assigned to nobody

[2019-04-12 07:00] stenet commented on #7269
This feature is great but when resizing an image it should keep aspect ratio.

[2019-04-12 15:16] nightskylark opened #7698 "DevExtreme Application Template & CLI Tools for React"
# The Problem

It can be complex and time-consuming to create a web application that has a responsive layout, navigation, and uniform style.

# The Proposed Solution

The new [React Application Template](https://devexpress.github.io/devextreme-react-template/#/home) is a simple application with a navigation menu and several sample views in a responsive layout.

You can download this application fr

[2019-04-12 15:17] nightskylark opened #7699 "DevExtreme Application Template & CLI Tools for Vue"
# The Problem

It can be complex and time-consuming to create a web application that has a responsive layout, navigation, and uniform style.

# The Proposed Solution

The new [Vue Application Template](https://devexpress.github.io/devextreme-vue-template/#/home) is a simple application with a navigation menu and several sample views in a responsive layout.

You can download this application from [

[2019-04-12 20:13] fabianoacj opened #7887 "Datebox - Refuse diaeresis when useMaskBehavior is enabled"
**Package versions:**

    devexteme version: 18.2.7
    devextreme-angular version: 18.2.7

**Steps to reproduce:**

https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDateBox/

**Current behavior:**

1) Add dxDateBox to page with useMaskBehavior enabled
2) Type ¨ and it will pass the mask

**Expected behavior:**
Do not permit diaeresis in the mask.

[2019-04-17 11:13] ynslmz opened #7744 "ODataStore based Data-grid Server-side excel export"
### Steps to Reproduce:
I have a data-grid based on ODataStore on Angular 7 SPA. I'm dynamically creating a DataGrid by getting all grid and store options from an Api. I want to export grid data as an excel file from server-side, because, I have too much data to export from client-side (too much is that chrome crashes while processing it). So i created a Result filter in backend, it changes respon

[2019-04-18 07:37] DokaRus commented on #7269
Thanks @stenet !
We're discussing it with the team and definitely add it later.

[2019-04-18 08:27] DokaRus commented on #7267
Demo prevents typing to avoid confusing related to filtering that is not implemented. We've added filtering at the last sprint so this issue will be resolved with the next package update.

Fixed

Sure. We'll fix it. I've created a [new ticket](https://www.devexpress.com/Support/Center/Question/Details/T733989) in the our SC. You can subscribe to it to get a notification once we have any result.

T

[2019-04-18 10:50] sercankaya commented on #7744
We are following with curiosity.

[2019-04-18 11:00] ermanzohre commented on #7744
I hope the solution will be offered as soon as possible.

[2019-04-18 11:16] hakimio commented on #7744
Shouldn't you ask this question on https://github.com/OData/WebApi page?

[2019-04-18 11:37] ynslmz commented on #7744
I think, i should resolve the problem with devextreme tools, because, i have no issue on odata, it gives me data as json or as excel file (thanks to my result filter).
I need to split download request from normal odata call. In these two solution i wrote, i got so close, but could not succeed. (but if there is a js lib to convert devextreme filters to odata queries, it can resolve the problem)

[2019-04-19 13:30] AlekseyMartynov commented on #7744
Hello @ynslmz

We need more details about the following part:

Would you please share a code sample that illustrates the approach you are implementing?
Probably, the issue can be solved by manipulating `Promise` objects within the `beforeSend` handler, but we cannot be specific without seeing the code.

Simple runnable project would be ideal.
Upload it here or open a [Support ticket](https://devex

[2019-04-21 16:58] Im-Kevin commented on #7271
Just jump to an editable cell

[2019-04-21 17:11] Im-Kevin commented on #7271
I want to change to Edit Mode immediately when I want to jump.

[2019-04-22 07:09] ynslmz commented on #7744
Hi @AlekseyMartynov,

Here is my sample code. I have no runnable code for you but this can give you a clue.

[code]

Thanks for your help.

[2019-04-22 08:12] AntonSermyazhko commented on #7271
Unfortunately, it is not clear to me what you mean by "when I want to jump".
I suppose you mean enabling the editing mode after some cell was focused by keyboard navigation.
In this case, you can handle the onFocusedCellChanged event where it is possible to enable the editing mode for the focused cell.

[2019-04-22 09:58] BingoRUS commented on #3737
Hi everyone! First, I want to thank you for your interest. Due to [another text editor feature](https://github.com/DevExpress/DevExtreme/issues/7290) implementation, we had to postpone the form labels temporarily. Now I'm afraid we can't release it in v18.2 and v19.1 with the desired level of quality. It is on the top of our planned features list and we will try to share our results in a preview b

[2019-04-22 10:44] andrewmakarov commented on #7296
@rajiff
Thank you for your feedback!

[2019-04-22 11:12] AlekseyMartynov commented on #7744
In the `beforeSend` handler, you cannot cancel the request. You can only customize [request details](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/ODataStore/Configuration/#beforeSend) (url, etc) which is usually enough.

If you need to completely rewrite the load logic, use a subclass:

[code]

[2019-04-22 11:12] #7744 closed, assigned to nobody

[2019-04-24 04:20] Im-Kevin commented on #7271
But I don't know how to focus cell.

[2019-04-24 08:06] AntonSermyazhko commented on #7271
Here is an [example](https://codepen.io/Anton454/pen/LvgzQQ?editors=0010) showing how to start editing a cell by its position.

[2019-04-24 10:04] Bykiev opened #7840 "dxForm: form 'readOnly' property overrides item's readOnly state"
### Steps to Reproduce:

1. Create a form, bind form's 'readOnly' property to variable, bind some form item's 'readOnly' property to another variable
2. Set form variable to readOnly=true and form item is readOnly = false
3. Update value at runtime: set form variable to readOnly = false and form item readOnly=true

### Results You Received:

Form item is not readonly

### Results You Expected:

Re

[2019-04-24 10:45] Bykiev commented on #7256
@AntonSermyazhko, @DokaRus, @San4es  same here with the latest pre-release, any update on it?

[2019-04-24 12:26] AntonSermyazhko commented on #7256
@Bykiev, could you please describe how to reproduce the issue using this [simple sample](https://codepen.io/Anton454/pen/OGBoav?editors=1010)?
 

[2019-04-24 12:48] Bykiev commented on #7256
@AntonSermyazhko, here is a demo (see console output): https://codepen.io/anon/pen/NmOeKa

[2019-04-24 12:58] albertoVieiraNeto commented on #7105
it would be awsome if you tell us how you solved the problem.

[2019-04-24 13:04] sunbala opened #7848 "Data Grid number Columns filter require Contains option like string filed"
### Steps to Reproduce:

1.  Data Grid Number Column Filter need Contains option like string column
2.
3.

### Results You Received:
There is no contains option

### Results You Expected:
If filter 6 , should be filtered anywhere 6 placed in that column

### Environment Details:

[2019-04-24 13:58] Bykiev opened #7849 "dxForm: change form item visibility via itemOption is very 'heavy' on a weak PCs"
### Steps to Reproduce:

1. Crate a form with items
2. Dynamically change form item's visibility using itemOption

### Results You Received:

Changing form items visibility has a great performance impact on a weak devices (it takes up to 5-10 secs to hide 4 items)

### Results You Expected:

Changing form items visibility should be as fast as using editor's option() method (can't use option, beacu

[2019-04-24 15:50] AntonSermyazhko commented on #7256
Please accept my apologies for the delay.
I have reproduced the issue and now it will be processed in context of the following Support Center thread: [TreeList - Should not generate exception when selection mode is multiple and focusedRowKey is set for the nested node](https://isc.devexpress.com/Thread/WorkplaceDetails/T735585)
You can subscribe to it to receive a notification regarding our progre

[2019-04-24 15:59] Bykiev commented on #7256
@AntonSermyazhko, thx. Just to make clear: the issue also persist with single mode selection

[2019-04-24 16:00] AntonSermyazhko commented on #7256
@Bykiev,
While we are working on this issue, I suggest you take a look at this workaround - wrap the code for row selection in the setTimeout:
`
setTimeout(() => e.component.selectRows([e.row.key], false));
`

[2019-04-25 13:09] ZaHgO commented on #7267
In the demo if you change the version to 19.1.2-beta then the second Html Editor shows in the popup HTML code:

![image](https://user-images.githubusercontent.com/5944026/56738046-c062ad80-6739-11e9-8d77-cd4ffff53b81.png)

But copy pasting the `displayExpr` to `itemTemplate` fixes the problem:
![image](https://user-images.githubusercontent.com/5944026/56738091-dcfee580-6739-11e9-8072-651a2369ba94.

[2019-04-25 17:16] alexander-kotov-dx commented on #7290
Hello,
 
Now the feature preview version is available for testing. We prepared samples that illustrate possible usage scenarios in different approaches. I have added links to the live examples to the main article.
 
Unfortunately, the last part of this feature (predefined buttons customization) didn't achieve the desired level of quality yet and we can't release it in v.19.1.

[2019-04-26 06:36] briosheje commented on #7290
@alexander-kotov-dx thanks for the feedback.

Personally, from the above sandboxes, I think it's a very great addition to the components set even without the predefined buttons customization feature.

The usage of this feature is extremely wide to me and makes it extremely easy to enrich the current layouts.

[2019-04-26 08:48] DokaRus commented on #7267
Thanks @ZaHgO !
I've updated the demo

[2019-04-26 11:30] badarshahzad commented on #7479
Hi,
Kindly can you please suggest me for the below problem.

Is there any way to add custom column names for the pivot grid data. My pivot grid data columns names also not appearing. I search a lot but didn't find a way. I found many discussion where was mentioned there is no any way to add column name as field name when you export your pivot grid to excel file.

I have hope you will understand my

[2019-04-26 13:15] AlekseyMartynov commented on #7848
By default, "Contains" is active for text columns.
For a numeric column, specify [`dataType`](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#dataType).

[2019-04-26 13:16] #7848 closed, assigned to nobody

[2019-04-26 13:31] groshenkovamarina opened #7878 "New Floating Action Button UI Component"
# The Problem

The DevExtreme library does not include the Floating Action Button (FAB) &mdash; a button that performs the primary action of a screen. This button should be displayed in front of all screen content. In a special case, the FAB can open a stack of two to five related actions (speed dial).

# The Proposed Solution

Drawing inspiration from Material Design guidelines by Google, we adop

[2019-04-29 07:29] IgnatovDan commented on #7479
Thank you for contacting us.
We will see how to improve this situation, though I cannot provide you with any time frame. In the meantime, the only option I can suggest is to follow the recommendations at [T570682 - dxPivotGrid - Add Row/Column titles (field panel) in the exported Excel file](https://isc.devexpress.com/Thread/WorkplaceDetails/T570682): use the [Window print()](https://www.w3schools

[2019-04-29 08:47] artem-kurchenko commented on #7888
Hi @VeryBueno ,
The problem occurs because "requestFullscreen" displays a container above the "body" element while all drop-down windows are defined inside "body" by default.
You can define the onOpened event handler to move a drop-down window to a specific element:
onOpened(e) { e.component._popup.option("container", this.container.nativeElement); }
 
Example - https://codesandbox.io/s/k0wjkjjn4v

[2019-04-29 08:51] artem-kurchenko commented on #7887
Hi,

I cannot reproduce the issue in the latest version 18.2.8. I've recorded a [screencast](https://monosnap.com/file/gfnrpxmYUk0CBcBEby7MMLJ11NDAO0) using our [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DateBox/Formatting/jQuery/Light/)

Would you please update and check if the problem persists?

[2019-04-29 11:11] artem-kurchenko commented on #7849
Resolved in the [Support Center](https://www.devexpress.com/Support/Center/Question/Create)

[2019-04-29 11:11] #7849 closed, assigned to artem-kurchenko

[2019-04-29 18:28] pcurrivan commented on #7496
As a follow-up...

In some cases you may want the input to take precedence (e.g. you may provide a new sort order that you want to replace any saved sort order), and in other cases you may want the stored state to take precedence (e.g. you may provide a default sort order, but would prefer the saved sort order if it exists).  Sometimes you may want both (e.g. you want to override the stored select

[2019-04-30 09:06] AlexanderKovalenko commented on #7840
Hi,

Thank you for your sample. I see the problem. It looks like the angular-specific $scope.readOnlyForm = false instruction does not update the form's state immediately. It occurs after the editor.option('readOnly', $scope.readOnly) method call. Thus, it has no effect. I recommend that you introduce a short delay for the second instruction to fix this issue. Here is the modified code example: [h

[2019-04-30 13:23] fabianoacj commented on #7887
Hi,

I've recorded a [screencast](https://monosnap.com/file/PjZ60tUnxkDSRXz8yc8X5iwqZUcSqU) using this [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DateBox/Formatting/jQuery/Light/) reproducing the error.

In Portuguese keyboards there are some different symbols that can be used. The mask refuses all of them, but the ¨ symbol pass the mask, as the screencast shows.

[2019-04-30 16:31] #7840 closed, assigned to AlexanderKovalenko

[2019-05-03 06:56] badarshahzad commented on #7479
@IgnatovDan   Can you suggest any answer related to the AngularJs?
thank you

[2019-05-06 08:57] #7888 closed, assigned to artem-kurchenko

[2019-05-07 14:06] IgnatovDan commented on #7479
No, we don't have additional solutions for AngularJS projects to include the [FieldPanel](https://js.devexpress.com/Documentation/19_1/ApiReference/UI_Widgets/dxPivotGrid/Configuration/fieldPanel/) content into the generated XLSX file. Currently, we suggest using the [Window print()](https://www.w3schools.com/jsref/met_win_print.asp) method or our [ASPxPivotGrid](https://documentation.devexpress.c

[2019-05-07 17:04] Seteh opened #7974 "ODataStore - Remote Aggregation Support"
# The Problem

The [`ODataStore`](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/ODataStore/) does not support server-side grouping and summary calculations. Grouping is performed on the client, and summaries are not supported.

The `DataGrid` and `TreeList` widgets allow users to group data and calculate summaries. However, these calculations are performed in the browser and can

[2019-05-10 08:07] sleimanrami opened #8004 "DateBox formatting Issue"
### Steps to Reproduce:

1.To reproduce you can use the devextreme DateBox demo and change as the following
2. Set in the Datebox the display format to 'dd-MMM-yyyy'
3. Set the useMaskBehavior to true
4. fill the day part
5. in the month part press 'm' (Mar is displayed) and then 2
6. The Datebox shows 'NaN-undefined-NaN2'

Any help will be appreciated

### Results You Received:

### Results You E

[2019-05-10 16:54] douglasevp opened #8005 "warning messages when loaded dxdatagrid in modal"
### Steps to Reproduce:

1. to reproduce the warning messages, it is necessary to create a quasar framework SPA project
2. to create a dxdatagrid on a page and a button to open a modal to view more registry information
3. create a component that when selected a record in dxdatagrid and clicked on a button to edit the record, a modal is opened with another dxdatagrid

### Results You Received:
[Vue

[2019-05-13 13:31] Bykiev commented on #7290
@churkin, hello!

There is a typo in dxSelectBox demo, it should be 'dropDown' instead of 'dropdown'. Also clicking button inside dxSelectBox fires 'Opened' event.
Here is online demo: https://codepen.io/anon/pen/armqwV

[2019-05-13 13:33] genachka commented on #7270
This is a great feature, thank you for adding it!

[2019-05-13 13:38] genachka commented on #7271
Nice feature! The only other request I would have is to enable a way to use the controls within the cell. Using the current jquery example, you have a date control but there didn't seem to be a way to trigger with the keyboard for the calendar to open so having to click on the calendar icon with mouse kind of defeats the keyboard point. And of course I would expect controls like a dropdown or spin

[2019-05-13 13:40] genachka commented on #5794
@vconst checking in to see if there's been any changes / solutions for this in 19.1 / 19.x?

[2019-05-13 14:18] AntonSermyazhko commented on #7271
@genachka, thank you for rating.
To open the DateBox popup editor by the keyboard, use the Alt+ArrowDown key combination as described in the corresponding [topic](https://js.devexpress.com/Documentation/Guide/Widgets/DateBox/Keyboard_Support/).
Other our widgets with popup or spinners have keyboard support with similar behavior.

[2019-05-13 14:26] genachka commented on #7271
@AntonSermyazhko didn't know about that topic thank you. But to be honest, not very intuitive to do that. I noticed that for states the up/down arrows do work and that the number fields also support up/down arrows. At a minimum it would be helpful if within each of the date numbers up/down arrows worked and at least to me, more intuitive for calendar would be to either tab one more time and it wou

[2019-05-13 14:46] artem-kurchenko commented on #7887
Thank you for the clarification. Although I don't have the ¨ symbol in my language pack I reproduced the same issue with the '~' symbol. I created a report in our Support Center：
[DateBox allows entering special symbols if mask is enabled](https://www.devexpress.com/Support/Center/Question/Details/T740500/datebox-allows-entering-special-symbols-if-mask-is-enabled)
We'll update it once we have any

[2019-05-13 17:45] alexander-kotov-dx commented on #7290
Hello @Bykiev

We created the discussion page to show our plans and receive customer feedback, but some details have been corrected during the implementation. I have updated the main article to show more actual decisions.
Thank you for the bug report. Yes, in DevExtreme beta version we have a bug with SelectBox's opening after click to the custom button, but it has been fixed and does not reproduc

[2019-05-14 06:48] AntonSermyazhko commented on #7271
To enable it, set the [useMaskBehavior](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDateBox/Configuration/#useMaskBehavior) in editorOptions of the corresponding column.
[code]
 

Use of a simple ArrowDown key to open a calendar popup in DataGrid may be confusing when a user wants to focus a bottom cell, for example. In this case, the user may edit a value he doesn't require.

[2019-05-14 08:57] artem-kurchenko commented on #7636
Hi,

This demo related to DevExpress ASP.NET MVC Components while this forum is devoted to DevExtreme components.
Please address this question in the [Support Center](https://www.devexpress.com/Support/Center/Search/List/1)

[2019-05-14 08:57] #7636 closed, assigned to artem-kurchenko

[2019-05-14 19:51] genachka commented on #7271
Nice!!

I think the behavior is no different than the already default behavior with a cell that has a dropdown. When you explicitly press enter on the cell it puts it in to edit mode, I don't think the expectation is for then down arrow should move out of that cell.

The sample looks good to me and is what I would have expected as the default behavior.

[2019-05-14 21:25] hakimio commented on #7295
@dxbykov is this feature postponed until 19.2?

[2019-05-15 07:52] AntonSermyazhko commented on #7271
The more persuasive argument why we do not open a calendar popup by the ArrowDown key is that it will conflict DateBox behavior with the ArrowDown key when the useMaskBehavior option is true.

[2019-05-15 09:27] artem-kurchenko commented on #7887
Hi @fabianojardim
We researched this case and found that the '~' symbol is related to "dead" ("system") keys and cannot be prevented in the "keydown" event. We use it to control masked inpput.
The same behavior is reproducible for the standard input element as well: https://codepen.io/ArtemDevExpress/pen/gJgeeb?editors=1010

Let us know what key code and value the  ¨ symbol has and if it can be en

[2019-05-15 11:25] dxbykov commented on #7295
Yes, we plan to release it in 19.2.

[2019-05-15 11:52] sleimanrami commented on #8004
I fixed it by adding:
  _if (isNaN(value))
        return;_
 to the following function in devextreme\ui\date_box\ui.date_box.mask.js

 _setActivePartValue: function(value, dateValue) {
        dateValue = dateValue || this._maskValue;
        var setter = this._getActivePartProp("setter"),
            limits = this._getActivePartLimits();
        value = (0, _math.inRange)(value, limits.min, limit

[2019-05-15 12:28] artem-kurchenko commented on #8005
Hi,

We are not aware of any issues with this framework and need a runnable example to research this case. Would you please attach it here?

You can take DataGrid configuration and data from our [demos](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/FormEditing/Vue/Light/) to replicate the issue

[2019-05-15 12:39] artem-kurchenko commented on #8005
Hi @douglasevp ,

We are not aware of any issues with this framework and need a runnable example to research this case. Would you please attach it here? You can take DataGrid configuration and data from our [Vue demos](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/FormEditing/Vue/Light/
)

[2019-05-16 08:51] MM-RYO opened #8059 "Localization does not work for group panel and search panel and noDataText"
### Steps to Reproduce:

1. [Demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Localization/UsingIntl/Angular/Light/)
2. I have updated app.component.html and app.component.ts file
`    <dxo-scrolling mode="virtual" rowRenderingMode="virtual" ></dxo-scrolling>
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

[2019-05-16 09:40] artem-kurchenko commented on #7522
Hi @Bykiev,

As far as I understand, your colleague contacted us in the [Support Center](https://www.devexpress.com/Support/Center/) regarding this case. We've managed to find a [solution](https://codepen.io/anon/pen/BeQJpJ) for this issue.

Let us know if you need further clarification on this.

[2019-05-16 10:30] artem-kurchenko commented on #8004
Hi @sleimanrami,

Thank you for the report. We're going to address it in the following PRs:
[8063](https://github.com/DevExpress/DevExtreme/pull/8063)
[8064](https://github.com/DevExpress/DevExtreme/pull/8064)

[2019-05-16 13:12] #8004 closed, assigned to artem-kurchenko

[2019-05-16 18:18] GlenHerman commented on #7258
Ability for the user to right mouse click, add annotation, change text and anchor with drag to any location on the chart

[2019-05-16 19:03] Bykiev commented on #7522
Hi @artem-kurchenko,

Yes, we get the answer, but I don't like this workaround. Why does it cannot be implemented inside datagrid?

[2019-05-17 10:21] pavelgruba commented on #7258
We will consider implementing such a functionality in future releases.

[2019-05-17 12:56] fabianoacj commented on #7887
Hi @artem-kurchenko.

I used the link https://codepen.io/ArtemDevExpress/pen/gJgeeb?editors=1010 and discovered the following values for the ¨ symbol:

Key = "Dead"
Key code = 54

It can be entered when "keydown" is canceled in the standard input.

[2019-05-20 06:47] hakimio commented on #7291
@mrjohn0011 It would be nice if there was an option to hide the arrow icon, so we could have a dropdown button like the profile menu in responsive template.

[2019-05-20 07:31] hakimio opened #8102 "[Material] Tagbox input text alignment is off"
### Steps to Reproduce:

1.  Add tagbox component
2. Set "searchEnabled" to true
3. Start typing something

### Results You Received:
Text input is not properly aligned with the tag text.
![tagbox bug](https://user-images.githubusercontent.com/768105/58003785-d0c03b00-7ae1-11e9-8349-143c81b256a7.png)

### Results You Expected:
Input text is aligned with tag text.
![tagbox aligned](https://user-ima

[2019-05-20 09:30] mrjohn0011 commented on #7291
@hakimio, thank you for the suggestion. I have created a [pull request](https://github.com/DevExpress/DevExtreme/pull/8103) for this functionality

[2019-05-20 09:33] hakimio commented on #7291
@mrjohn0011 Thank you :)

[2019-05-20 09:53] roelvz opened #8104 "Suggestion: multi-row cellTemplate for dxDataGrid"
We have a requirement where we need to indicate that multiple consecutive rows in a grid are grouped, like this example where item 2 to 5 are grouped:
![requirement](https://i.imgur.com/FdDMoOc.png)

There's no way to do this. I think something like a columnTemplate would be interesting (much like the existing rowTemplate). Note that the demo already mentions a "Column Template" but this actually

[2019-05-20 10:12] artem-kurchenko commented on #7887
Thank you for the clarification @fabianojardim. In this case, we won't be able to overcome the issue.

[2019-05-20 13:51] ZergRushJoe commented on #6528
@vconst
I know you can send a "direct query" query to get the format of the fields
for measures:
`select TableId, [Name], FormatString, IsHidden, DataType, DisplayFolder from $SYSTEM.TMSCHEMA_MEASURES where not isHidden`
for attributes:
`elect tableId,FormatString, explicitDataType, IsHidden, ExplicitName, DisplayFolder  from $SYSTEM.TMSCHEMA_COLUMNS where not isHidden`

there are several tables t

[2019-05-20 14:35] artem-kurchenko commented on #7522
We didn't find a straightforward way to fix the problem at the widget level. The fix requires a lot of changes in the internal structure and will introduce changes that will affect more common scenarios.
 
While we added this task to our extended backlog, there is no estimate for it.

[2019-05-20 14:35] #7522 closed, assigned to artem-kurchenko

[2019-05-21 07:19] artem-kurchenko commented on #8102
Hi @hakimio,

Thank you for the report. We fixed the issue in the [T739332](https://www.devexpress.com/Support/Center/Question/Details/T739332) thread. The official fix will be available in the next minor. In the meantime, you can request a hotfix for testing.

[2019-05-21 07:19] #8102 closed, assigned to artem-kurchenko

[2019-05-21 09:10] artem-kurchenko commented on #8005
@douglasevp  I'm closing the issue due to inactivity.  Feel free to leave a comment here or open a new issue if you have any progress.

[2019-05-21 09:10] #8005 closed, assigned to nobody

[2019-05-21 09:10] #7887 closed, assigned to artem-kurchenko

[2019-05-21 09:19] AlisherAmonulloev commented on #8104
Thank you for your idea. Although we currently do not have immediate plans to implement this functionality, I will discuss it with the team.

[2019-05-21 09:19] #8104 closed, assigned to AlisherAmonulloev

[2019-05-22 12:32] hakimio opened #8132 "Selectbox with custom field template throws error when using arrow keys to select menu items"
### Steps to Reproduce:

1. Create a selectbox with custom field template
2. Click on the input field to expand the selectbox
3. Try to navigate the menu list using up/down arrow keys

### Results You Received:
Error:
![selectbox error](https://user-images.githubusercontent.com/768105/58174294-d95d7080-7c9d-11e9-8d13-f9982160423c.PNG)
Source code line: [ui.drop_down_editor.js#L387](https://github.

[2019-05-22 14:11] penleychan commented on #7267
Is there a way to do server side fetch and filter with this component, instead of loading all the object into the datasource?

[2019-05-22 15:28] sometimesElen commented on #8132
Hello,

Thank you for this bug report. As we process bugs using our Support Center, I created a new ticket - [T743479: Selectbox with a custom field template throws an error when arrow keys are pressed](https://www.devexpress.com/Support/Center/Question/Details/T743479). You can track our progress there.

[2019-05-22 15:28] #8132 closed, assigned to sometimesElen

[2019-05-22 16:40] artem-kurchenko commented on #7465
Hi @briosheje,

We checked this behavior and found that the editor renders more than 1K items in this case.
We'll research if it's possible to improve the performance in our Support Center:
[DateBox operates slowly if interval is 1](https://www.devexpress.com/Support/Center/Question/Details/T743509)

In the meantime, consider using dxDropDownBox with dxList for this particular scenario. dxList pro

[2019-05-22 16:40] #7465 closed, assigned to artem-kurchenko

[2019-05-23 07:52] DokaRus commented on #7267
@penleychan
`Mentions` accept our [DataSource](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/DataSource/) instance or DataSource config with the whole specter of its features like paging, sorting, etc. You can use [CustomStore](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/CustomStore/) to implement custom data access logic.
If you need our further technical ass

[2019-05-23 10:11] briosheje commented on #7465
@artem-kurchenko Thanks, I've worked this around by just using the double dropdown box (with hours and minutes) and, now, I won't have the issue anymore thanks to the possibility to actually add custom buttons to the datebox.

I think this is a very low priority issue, I can't foresee many people needing interval 1, but still, it was worth to point the issue out. Thanks for taking care of that :)

[2019-05-24 08:51] shawn-show opened #8150 "How to cover a serie with another serie?"
Is there any attribute in serie like zindex in highchart that let one serie be able to cover another serie?

[2019-05-27 07:50] nikschuiling commented on #7291
It would be geat if there was an option to specify the type and the toggle button, just like [the type option of dxButton](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxButton/Configuration/#type).

[2019-05-27 07:52] #6044 closed, assigned to jsdmitry

[2019-05-27 08:24] briosheje commented on #7496
Not sure whether it's related or not, but I'm experiencing a problematic bug in devextreme 19.1.3 angularjs and angular.

If you initialize a `DataGrid` configuration and bind keys selection to it, once the widget is loaded, the keys selection is completely ignored.

In my scenario, I have the following happening:

- DxDropDown has a datasource, shared with DxDataGrid.
- Once DxDropDown is expande

[2019-05-27 14:50] onebalaban commented on #7003
We fixed this issue in v19.1. You can see the result in the [Form Editing](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/FormEditing/Mvc/Light/) demo.

[2019-05-27 14:50] #7003 closed, assigned to vconst

[2019-05-28 11:31] pavelgruba commented on #8150
The dxChart does not provide such an option. The series is displayed in the order you specified using the [series](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Configuration/series/) option. You can also use the [customizeItems](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Configuration/legend/#customizeItems) op

[2019-05-28 11:31] #8150 closed, assigned to pavelgruba

[2019-05-28 23:46] genachka opened #8199 "File manager that's in CTP - client side multiple questions on how it will work"
Looked through https://js.devexpress.com/Demos/WidgetsGallery/Demo/FileManager/BindingToFileSystem/jQuery/Light/ and the associated API documentation (https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFileManager/) but couldn't see what the selected items array and selected item will be like.

Can you elaborate or provide an example array with selected items?

Specifically:
1. Will

[2019-05-29 11:13] Yura13 opened #8207 "The fixed column is shifted when add [scrolling]="{showScrollbar: 'always'}""
### Steps to Reproduce:

The fixed column is shifted when add [scrolling]="{showScrollbar: 'always'}" and scroll to bottom. Sometimes its reproduce with horizontal scrolling.

https://codesandbox.io/s/record-grouping-devextreme-data-grid-kds9y
![image](https://user-images.githubusercontent.com/17030431/58552633-8d6d7700-821b-11e9-950a-dfa98ff21ac5.png)

### Results You Received:
The fixed column i

[2019-05-29 13:06] artem-kurchenko commented on #8207
Hi @Yura13,

Thank you for the report. We fixed this issue in the [T737955](https://www.devexpress.com/Support/Center/Question/Details/T737955/datagrid-incorrectly-displays-content-of-a-fixed-column-when-native-scrollbars-are-used) thread.

[2019-05-29 13:06] #8207 closed, assigned to artem-kurchenko

[2019-05-29 13:15] JingGeGe77 opened #8216 "about data-grid"
no events about when  cell value changed or  cell blur events

[2019-05-29 13:34] CodeKarno commented on #8199
Hi @genachka

For ASP.NET-based applications, you can use the server-side FileSystemProvider to connect the FileManager to the _server_ file system. See the [ASP.NET Core File Manager - Binding To File System](https://js.devexpress.com/Demos/WidgetsGallery/Demo/FileManager/BindingToFileSystem/NetCore/Light/) demo. It illustrates how to use this class.

Folder selection works similar to Windows Exp

[2019-05-29 13:53] genachka commented on #8199
Sounds like the initial release while a good start, is going to very limited for our use cases. Hopefully future versions add more generic support and the additional features we're looking for. :(

:( That's too bad. This is a pure Javascript (ES7+) application on the frontend via Aurelia framework.

That's too bad. Not going to work for our use cases. Other such controls I've used support recursi

[2019-05-29 14:01] genachka opened #8219 "DataGrid / TreeList improved column filtering"
@dxbykov any planned improvements to the column filtering as discussed in https://github.com/DevExpress/DevExtreme/issues/3565#issuecomment-379485554 ? Though we like your Grid and TreeList controls very much, we recently had several applications in which we had to replace them due to users liking the capability of the filtering in the other grid and not wanting to use the filter panel or liking t

[2019-05-29 14:09] Yura13 commented on #8207
When version 18.2.9 will be released?

[2019-05-30 08:51] artem-kurchenko commented on #8207
It will be released in June

[2019-05-30 12:10] CodeKarno commented on #8199
Hi @genachka

While we have special server-side helpers for ASP.NET Core only, it is possible to use the control with other Web API services on backend: [File Providers > Ajax](https://js.devexpress.com/DevExtreme/ApiReference/UI_Widgets/dxFileManager/File_Providers/Ajax/).
The service should return a JSON structure representing your file system structure. You can see the example of the JSON data

[2019-05-30 13:21] dxbykov commented on #8219
@genachka, your request for this particular filtering UI is the only one so far. There are a lot of different types of filtering UI in other third-party DataGrids, and we can't implement them all in our DataGrid. So, we implement only highly-demanded ones. At the same time, we provide the capability to implement a custom solution via DataGrid's customization API.

We have prepared a couple of exam

[2019-05-30 13:21] #8219 closed, assigned to dxbykov

[2019-05-31 06:50] briosheje opened #8246 "[Solved] 18.2.8 - 19.1.X - Text boxes and number boxes at low resolutions (almost) entirely hides text"
**TL;DR** Be sure that the css you're using is not generated with the **old** devextreme theme builder, otherwise components may act in a weird way.

### Steps to Reproduce:
1. Use any dx-text-box or number box with the clear button enabled.
2. Go to low resolutions like 1024x768
3. Use bootstrap and try to work with md-4 or md-3 or whatever.

### Results You Received:
The text is almost entirely

[2019-05-31 07:23] briosheje commented on #8246
Update:

The issue seems caused by a strange padding of `.dx-texteditor-input`:

![image](https://user-images.githubusercontent.com/1898880/58688771-aa25be00-8385-11e9-8222-c20474fbf8fd.png)

This looks weird, it seems the padding is calculated **before** the floating buttons, so there is an extra padding happening.

As a side note, I'm not using the dxButton `buttons` property, which seems to fix

[2019-05-31 07:30] briosheje commented on #8246
Update: even by setting `buttons: ['clear']` only, the padding is still 66, I can't really figure out what's happening, but I can't really foresee any cause.

![image](https://user-images.githubusercontent.com/1898880/58689248-c6762a80-8386-11e9-8e9c-22c403f903a0.png)

The cause seems to be this:

![image](https://user-images.githubusercontent.com/1898880/58689817-57013a80-8388-11e9-9f43-a2e9c336f

[2019-05-31 07:45] briosheje commented on #8246
Okay, I've found the issue: I'm using a custom CSS theme generated through the Theme Generator.

**however**, the theme was generated using an older version, since I'm using such theme since verison 18.1.7.

![image](https://user-images.githubusercontent.com/1898880/58689998-d55ddc80-8388-11e9-80fa-6a179e8f3034.png)

This css line is causing the issue. I will generate the theme again, I didn't thi

[2019-05-31 07:50] briosheje commented on #8246
Ok, I can confirm that updating the scss theme using the new ThemeBuilder fixes the issue:

![image](https://user-images.githubusercontent.com/1898880/58690293-81072c80-8389-11e9-9c93-0e0e435bab02.png)

[2019-05-31 22:43] tuneis opened #8299 "Floating Action Button doesn't render properly"
I'm not sure if this should be posted here or on the base repo but I'm having an issue with the floating action button when using this template. I haven't tried without using the template but I suspect it might be the template causing it because the demos on the dev extreme site work just fine.

This is what is happening:

![Screenshot_14](https://user-images.githubusercontent.com/13182534/5873845

[2019-06-03 06:41] hakimio commented on #8216
You have onRowUpdated, onFocusedCellChanging and onFocusedCellChanged. What are you trying to achieve?

[2019-06-03 09:24] #8246 closed, assigned to nobody

[2019-06-03 09:28] briosheje commented on #8246
@DokaRus Perhaps, in the docs, you may want to mention that custom SCSS or whatever SCSS generated from the tool (either the old theme generator, either the new one) should be regenerated each major / minor release. In that case, the issue appeared in a minor (or patch, i guess) release, hence it was not that obvious to guess that the issue came from the scss.

[2019-06-03 19:49] jakehockey10 commented on #7295
I apologize if there is an obvious answer, but where can I see the expected release date for 19.2?  I like what I see in the [Roadmap](https://js.devexpress.com/Roadmap/), but didn't know when this would be available and whether I should expect it soon or much later this year?

[2019-06-03 20:49] hakimio commented on #7295
@jakehockey10 Like most .2 releases, most likely it will come around November.

[2019-06-04 03:39] shawn-show opened #8278 "Add box-plot in Chart"
Please add a type of [box-plot](https://en.wikipedia.org/wiki/Box_plot) in chart. [Kendo](https://demos.telerik.com/kendo-ui/box-plot-charts/index) has a box-plot chart, but I want to stick with devetreme.

[2019-06-04 08:00] roelvz opened #8281 "In compact themes, default width of dx-switch is too small to display 'off' text"
Use any generic compact theme (e.g. dark compact) and place a dx-switch. By default, it is too small to display the 'off' text. This can be seen on the demo: https://js.devexpress.com/Demos/WidgetsGallery/Demo/Switch/Overview/Vue/Dark/Compact/

This can be overcome by changing the width (37 pixels seems to be the minimum). Still, imho the text should be visible for the default width, even in the c

[2019-06-04 09:07] alexanderPolosatov commented on #8278
Hi,
Thank you for using DevExtreme and this request.
We will take the boxplot widget into account on the nearest planning. At present you can use the [bar](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Series_Types/BarSeries/) series and [errorBars](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Configuration/common

[2019-06-04 09:50] shawn-show commented on #8278
Hello,for the sake of computational efficiency, I suggest that the key points should be calculated in the background.It then returns the following json to form the boxplot.
[code]

[2019-06-04 10:46] alexanderPolosatov commented on #8278
Thank you for your feedback . We'll take it into account.

[2019-06-04 13:53] jakehockey10 commented on #7295
Thanks for the response!

[2019-06-05 10:02] groshenkovamarina commented on #8299
Hi @tuneis,
I wasn't able to reproduce the issue using a stand-alone DevExtreme Angular Project Template. I have attached my project here for your examination. Please modify it to illustrate your scenario or attach an example demonstrating the issue.

[app-name.zip](https://github.com/DevExpress/DevExtreme/files/3256598/app-name.zip)

[2019-06-05 14:16] joray8 opened #8306 "Labels not visible while continuously updating the datasource for a PieChart"
While using a ArrayStore with a DataSource, pushing into it triggers a re-render of the already shown labels and the animation hides it.

**Current Results :**
The pie chart updates itself as intended when there's continuous push to the DataSource, but labels are hidden

**Results Expected:**
The animation of showing the label should be triggered once and only move the label/connector if an update

[2019-06-06 12:03] roman-simionov commented on #8306
Hi,
At the moment, we do not have an option to modify label animation types. Right now I can suggest setting a smaller value to the [animation.duration](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxPieChart/Configuration/animation/#duration) option to show labels faster or disable the animation completely. We will take this scenario into account when discussing

[2019-06-06 12:03] #8306 closed, assigned to roman-simionov

[2019-06-06 13:07] hakimio commented on #8281
While it's definitely missing some padding, for me "OFF" label is visible in both Chrome and Firefox. Are you using any custom CSS?

[2019-06-06 13:32] roelvz commented on #8281
Surprisingly, it seems to be OS related. It's not ok on Mac (in both Chrome, Firefox and Safari), but it is visible on Windows. Here's a screenshot from the demo website on Mac in Chrome:
![MacOS Chrome](https://i.imgur.com/PpaC5iq.png)

On Windows it looks ok:
![Windows Chrome](https://i.imgur.com/7JPSXaK.png)

[2019-06-06 13:34] hakimio commented on #8281
It seems different fonts are used on Mac. Are those coming from DevExtreme or system?

[2019-06-06 13:37] roelvz commented on #8281
Tbh I have no idea where the font comes from... since it's the DevExtreme demo website I guess it should be the DevExtreme font for both Windows and MacOS? I don't know.

[2019-06-06 13:42] hakimio commented on #8281
Just checked. It's using "Segoe UI" system font on Windows and "Helvetica Neue" system font on Mac. That's why they look different. Might be another font on Android & iOS as well.

[2019-06-15 08:13] Pasto92 opened #8381 "dxdatagrid - bottom line of the last item not visible"
I have defined these settings in dx-data-grid:
[showBorders]="true"
[showColumnLines]="true"
[showRowLines]="true"

So I expected to see lines in grid.
Nevertheless row and column lines are not visible (Photo on the left).
But if I sort by clicking on column "Nome", they appear (Photo on the right).
![Photo](https://user-images.githubusercontent.com/50794419/59548938-01b35480-8f56-11e9-92d1-c3a08a

[2019-06-18 01:31] genachka opened #8398 "TreeList / DataGrid column chooser - don't list some hidden columns"
I have some columns that are set as `visible: false` and wanted to take advantage of the **columnChooser** functionality but I notice that when I set the columnChooser mode to **select** it shows those hidden columns for selection in the chooser. I never want those columns to be exposed or user to know about them in the UI of the chooser. There are other hidden columns which I do want to be select

[2019-06-20 08:15] sunbala opened #8426 "Data Grid to Excel Export Using Excel JS"
### Steps to Reproduce:

 **Data Grid -> Export to Excel Using Excel JS**
1. Right Alignment required in exported excel sheet
2. How do protected excel sheet while import ?
3. Page Setup,Orientation Setup before export
4. Column width specify each column for excel sheet before exporting

### Results You Received:
1. Amount column stored in text, shows left alignment . But datagrid shows right alig

[2019-06-20 12:12] Bykiev opened #8440 "Selection of TreeList child nodes isn't working with the latest version (T751539)"
### Steps to Reproduce:

1. Select Child item in TreeList (3-d level, for e.x.: Kevin Carter)

### Results You Received:

Child nodes are not slectable

### Results You Expected:

Child nodes should be selectable

### Environment Details:
DevExtreme 19.1.4, online demo: https://codepen.io/anon/pen/xogOqx

[2019-06-20 15:44] pavelgruba commented on #7142
These features are now available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. If you have questions or find any bugs, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-06-20 15:44] #7142 closed, assigned to pavelgruba

[2019-06-20 15:45] pavelgruba commented on #7147
The feature is now available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. If you have questions or find any bugs, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-06-20 15:45] #7147 closed, assigned to pavelgruba

[2019-06-20 15:45] pavelgruba commented on #7167
These features are now available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. If you have questions or find any bugs, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-06-20 15:45] #7167 closed, assigned to pavelgruba

[2019-06-20 15:52] pavelgruba commented on #7258
The Chart Annotations feature is now available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. Based on the feedback, we've changed the proposed API. Please refer to [this documentation topic](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Configuration/annotations/) and [the demo](https://js.devexpress.com/Demos/Widget

[2019-06-20 15:52] #7258 closed, assigned to pavelgruba

[2019-06-21 08:56] pavelgruba commented on #7184
In the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release, we've implemented word wrap for the widget's title, Chart axis title/labels, PieChart, TreeMap, and Funnel labels. If you have questions or find any bugs, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/

[2019-06-21 08:56] #7184 closed, assigned to pavelgruba

[2019-06-25 02:36] jamokop opened #8489 "file manager event"
i need to manipulate file in file manager , and  i try to bind (create, rename,move,delete,copy) these event, in order to send requests to update my backend. what should i do ?

[2019-06-25 03:41] Jesse-imuzo commented on #5900
Hello @artem-kurchenko,

Has there been any movements on "BYSETPOS" or any work arounds?

[2019-06-25 12:05] hakimio opened #8498 "[Material theme] Popup title cut off"
### Steps to Reproduce:

1.  Open [Popup Demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Popup/Overview/jQuery/MaterialTealLight/)
2. Choose Material theme (ie "Teal Light")
3. Click "DETAILS" button

### Results You Received:
Popup title is cut-off.
![cut-off title](https://user-images.githubusercontent.com/768105/60096831-4909c400-9752-11e9-9cbe-e391d30c665f.PNG)

### Results You Expec

[2019-06-25 13:55] Alyar666 commented on #8398
Hello,

You can use the [showInColumnChooser](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#showInColumnChooser) option for this purpose.

[2019-06-25 13:55] #8398 closed, assigned to Alyar666

[2019-06-25 13:55] Bykiev commented on #8498
@hakimio, it's a [known issue](https://www.devexpress.com/Support/Center/VersionHistory?TechnologyName=DevExtreme&PlatformName=AllPlatforms&ProductName=AllProducts&VersionHistoryItemsType=KnownIssues&StartBuildName=19.1.4&EndBuildName=19.1.4&version-mode=single-mode).

[2019-06-25 14:04] #8498 closed, assigned to nobody

[2019-06-25 14:09] vconst commented on #8440
The issue fixed in 19.1.5

[2019-06-25 14:09] #8440 closed, assigned to vconst

[2019-06-25 14:20] onebalaban commented on #8498
We will fix this issue in the context of this ticket [Popup - Title text is cropped in the Material theme](https://www.devexpress.com/Support/Center/Question/Details/T752400/popup-title-text-is-cropped-in-the-material-theme)

[2019-06-27 11:35] vladkovl commented on #8489
Hello,
 
Our file manager is in CTP now and, at the moment, it allows you customize all edit operations only on the server side. You can configure almost any back-end for the file manager's REST API. You can get more details in [this example](https://github.com/DevExpress-Examples/how-to-connect-aspnetcore-file-manager-to-database).
Our file manager doesn't allow customizing editing operations on

[2019-06-27 13:46] rguryanov opened #8552 "compileGetter create incorrect getter for array of nested properties"
### Steps to Reproduce:

1. Go to https://codepen.io/anon/pen/QXOgQL
Example code:
[code]
2. Check that function DevExpress.data.utils.compileGetter create getter and when getter executed part of nested properties in result has been lost.
3. I assume that error occurs because of line
`current = current[path[i]] = {}`
in function combineGetters, that line would overwrite part of result object
i thi

[2019-06-27 14:03] thesobercoder opened #8553 "Any chance of having Blazor components?"
Any chance of having Blazor components? With Microsoft committing to ship it as an official web framework and DevExpress being in the .NET ecosystem for a long time, would be great to see that happen.

[2019-06-27 14:40] CodeKarno commented on #8553
Hi @thesobercoder

We have created a set of native Blazor controls. Here is their GitHub repository: [DevExpress/Blazor](https://github.com/DevExpress/Blazor).
Currently, they are available as a Free Preview version. We are actively working on this component suite. Here is the roadmap for the nearest releases: [
Blazor Roadmap – What You Can Expect in the Next Few Months from DevExpress](https://c

[2019-06-28 03:15] jamokop commented on #8489
just normal actions which already provided by file manager(upload file,move file,delete file,copy file,rename file ). Actually , i have created these action interfaces in order to update my backend.  i provider my custom function when i set up file manager(just like "onSelectedFileOpened"). then  pass these function as  options to file_manager.editing. then call these function respectively inside

[2019-06-28 03:16] jamokop commented on #8489
i try to use "_createActionByOption", but not working ,don't know why. However , i can find my custom function inside "_options"

[2019-06-28 03:24] jamokop commented on #8489
By the way , i want a new option to set currentPath

[2019-06-28 11:57] vladkovl commented on #8489
Thank you for your detailed information. I'm happy to hear you have found a solution.
As for the `currentPath` option, we have plans for it in our TODO list. For now, you can use it from the private API as shown below:
[code]

Online example: [https://codepen.io/anon/pen/jjYMEb](https://codepen.io/anon/pen/jjYMEb)

[2019-07-01 11:08] #8552 closed, assigned to AlekseyMartynov

[2019-07-01 13:05] pedrofurtado commented on #7223
@mrjohn0011 Thanks! :handshake: But is a GREAT idea, provided by @briosheje, to mention this in documentation.

[2019-07-04 10:22] briosheje opened #8656 "NumberBox - Allow custom comma key"
### Steps to Reproduce:

1. Setup a number box.
2. Set the following format: `#,##0.00`
3. Run.

### Results You Received:
Using the widget, I can't write numbers using the KeyCode 110 (not 190).

### Results You Expected:
I expected it to work or have a way to define it.

In a nutshell, the big problem is that in some countries, for instance we can take Italy as an example, numbers are expressed

[2019-07-09 11:20] IgnatovDan commented on #8426
Please accept our apologies for the delay in responding.

The [DevExpress.excelExporter.exportDataGrid](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ExcelJS) function is based on the [ExcelJS](https://github.com/exceljs/exceljs) library. In the 19.1 release, this function is at the CTP stage and some useful behavior is not implement yet. Although I cannot promise you that we will i

[2019-07-09 11:20] #8426 closed, assigned to nobody

[2019-07-09 17:29] RezaRahmati opened #8744 "grid column filter opens in wrong position"
### Steps to Reproduce:

1. Open this [https://codesandbox.io/s/filtering-devextreme-data-grid-6zs9y?fontsize=14](https://codesandbox.io/s/filtering-devextreme-data-grid-6zs9y?fontsize=14)
2. click on "Invoice Number" header filter icon

### Results You Received:
filter panels opens in wrong position

![image](https://user-images.githubusercontent.com/10086092/60909899-5f814680-a24d-11e9-97be-e10e

[2019-07-09 19:50] RezaRahmati opened #8745 "Unable to inject templates into wrapped TabPanel"
### Steps to Reproduce:

1. Open this [link](https://codesandbox.io/s/overview-devextreme-tab-panel-3zo9h)
On the top of the page are a dx-selectbox and a dx-tabPanel with custom templates
On the bottom of the page there are a my-selectbox and a my-tabPanel with custom templates that are a wrapper around dx-selectbox and dx-tabpanel
2. Open top select box and confirm the template is applied to ite

[2019-07-09 20:24] RezaRahmati commented on #8745
Actually I solved the issue by changing ngAfterViewInit to below code

[code]

Updated sand box with fix [https://codesandbox.io/s/overview-devextreme-tab-panel-627ij](url)

[2019-07-16 10:22] jamokop commented on #8489
I got a new question .  Right now , i have created my own access right for managing file (backend) .
if the user is unauthorized, i want to raiseOnError. i try to use "this._dialogDeferred.reject()" to show the error message. however , it's not working.
would u offer me a solution?

[2019-07-16 12:14] dxbykov commented on #5163
Thank you to everybody who gave us feedback on the HTML/Markdown Editor features. We've introduced several new features in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www

[2019-07-16 12:14] #5163 closed, assigned to dxbykov

[2019-07-16 12:17] dxbykov commented on #7267
Thank you to everybody who gave us feedback on this feature. It's available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-07-16 12:17] #7267 closed, assigned to DokaRus

[2019-07-16 12:18] dxbykov commented on #7269
Thank you to everybody who gave us feedback on this feature. It's available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-07-16 12:18] #7269 closed, assigned to KsyushaM

[2019-07-16 12:21] dxbykov commented on #7270
Thank you to everybody who gave us feedback on this feature. It's available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-07-16 12:21] #7270 closed, assigned to Alyar666

[2019-07-16 12:23] dxbykov commented on #7271
Thank you to everybody who gave us feedback on this feature. It's available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-07-16 12:23] #7271 closed, assigned to AntonSermyazhko

[2019-07-16 12:32] dxbykov commented on #7290
Thank you to everybody who gave us feedback on this feature. It's available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-07-16 12:32] #7290 closed, assigned to churkin

[2019-07-16 12:38] dxbykov commented on #7296
Thank you to everybody who gave us feedback on the adaptivity features. Some of them are available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Suppo

[2019-07-16 12:38] #7296 closed, assigned to andrewmakarov

[2019-07-16 12:40] dxbykov commented on #7698
The new React application templates are available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-07-16 12:40] #7698 closed, assigned to nightskylark

[2019-07-16 12:40] dxbykov commented on #7699
The new Vue application templates are available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-07-16 12:40] #7699 closed, assigned to nightskylark

[2019-07-16 12:43] dxbykov commented on #7878
Thank you to everybody who gave us feedback on this feature by different means. It's available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/C

[2019-07-16 12:43] #7878 closed, assigned to groshenkovamarina

[2019-07-16 12:49] #8553 closed, assigned to CodeKarno

[2019-07-16 14:48] dxbykov commented on #7291
@nikschuiling Thank you for your note. We'll consider adding this capability into our future releases.

[2019-07-16 14:50] dxbykov commented on #7291
Thank you to everybody who gave us feedback on this feature. It's available in the [v19.1](https://github.com/DevExpress/DevExtreme/releases/tag/19.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/). We will cr

[2019-07-16 14:50] #7291 closed, assigned to mrjohn0011

[2019-07-17 14:08] vladkovl commented on #8489
In case of an authorization error, you can pass from backend a json with information about the error as shown below:
[code]
 On the client side, you can modify the`fileManager._editing._raiseOnError()` function as shown below:
[code]
As a result, the "Access prohibited" message will be displayed instead of the default message in case of an authorization error.
 
By the way we have "access control"

[2019-07-19 20:40] RezaRahmati commented on #8744
@AlisherAmonulloev Hi Alisher, would you please take a look at this issue and assign it to right person (it's submitted 10 days ago)

[2019-07-20 21:30] hakimio commented on #8744
Looks like a problem with the way you position your components or "ng-sidebar" does for you.
Why don't you use the "dx-drawer"? It doesn't cause issues like you've shown.

[2019-07-20 23:46] RezaRahmati commented on #8744
Thanks for replay, at beginning we tried to use dx-drawer but we find out it doesn't support whatever we want,
Also I noticed that `ng-sidebar` use padding to push the content (including grid) however I believe it's a bug that grid doesn't consider such scenarios, what there would be a padding on page (not even side bar) and user tries to open filter.

[2019-07-21 08:43] hakimio commented on #8744
What's the scenario which is not supported by dx-drawer?

[2019-07-21 11:52] hakimio commented on #8744
Then the filter would go on top of the content with padding. Honestly, from my point of view, the side menu should not go on top of other elements when `mode` is `push`. It's a bug with `ng-sidebar`.

[2019-07-22 15:43] RezaRahmati commented on #8744
Agree

[2019-07-22 15:44] RezaRahmati commented on #8744
There were multiple, but most important one was "Dock" mode, so it will show as narrow side bar

[2019-07-22 15:56] RezaRahmati commented on #8744
@AlisherAmonulloev I fixed the issue by styling ng-sidebar as @hakimio direction

`::ng-deep .ng-sidebar.ng-sidebar--opened.ng-sidebar--push,
::ng-deep .ng-sidebar.ng-sidebar--opened.ng-sidebar--slide {
  z-index: 1;
}
`

[https://codesandbox.io/s/filtering-devextreme-data-grid-7j4ex](https://codesandbox.io/s/filtering-devextreme-data-grid-7j4ex)

Also reporting the issue to [ng-sidebar](https://g

[2019-07-22 17:03] hakimio commented on #8744
You can do the narrow sidebar with `dx-drawer`. Take a look at [DevExtreme Angular template app](https://devexpress.github.io/devextreme-angular-template/).