[2020-08-03 09:15] nareshsuda commented on #14379
i was getting gap between fixed column and next column of the grid but itried in angular
![image](https://user-images.githubusercontent.com/40139419/89165510-4a80ff00-d596-11ea-94bf-2e98cee11657.png)

[2020-08-03 09:56] IlyaKhD commented on #13756
Hello,

We're currently working on type system enhancement. Once we have any news, we'll update this thread.
As for now, I suggest you try the following:

[code]

Then the correct type is used and IDE Assistance should work properly.

[2020-08-03 09:56] #13756 closed, assigned to IlyaKhD

[2020-08-03 13:31] San4es commented on #13414
This issue was closed due to inactivity. If you found a bug or have a question about our product, create a new issue on GitHub or submit a ticket in our Support Center.

[2020-08-03 13:31] #13414 closed, assigned to San4es

[2020-08-04 13:59] jsdmitry commented on #13586
Hi,

Thank you for your patience. We researched the issue and found that it is not possible to fix it without rewriting the entire toolbar's inner architecture. Such changes can affect existing projects of our customers, and it is necessary to test these changes thoroughly before publishing. That is why, we are unable to fix this issue at the moment. We have plans to enhance our control in the fut

[2020-08-04 13:59] #13586 closed, assigned to jsdmitry

[2020-08-06 13:34] FabianoCastro commented on #13586
Hi,

Thanks for return, but when the user change the theme (ex. blue to dark), how can I change the color with this approach?

Some suggestion?

[2020-08-06 15:04] andrewmakarov commented on #14031
Hi,
1. Yes, it is possible. You can use this demo as a starting point:
[https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/CustomTemplates/jQuery/Light/](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/CustomTemplates/jQuery/Light/)
2. We do not support this functionality out of the box. It is necessary to implement this functionality manually.
3, 4, 6 No, we do not have s

[2020-08-06 15:04] #14031 closed, assigned to andrewmakarov

[2020-08-06 16:08] kingsanu opened #14136 "Could you give me sample for EF core group with DataSourceLoader."
I'm using this code
[code]
How can i group by JobName, i tried all ways, could you help me to setup what need in clientside and what server side?
I tried to groupby, take, skip at server side, but stil that failing and saying clientside group is not valid.

[2020-08-07 11:38] AlisherAmonulloev commented on #13586
Hello Fabiano,

Thank you for the update. The solution applies only if you use one theme in your application. Unfortunately, we do not see a straightforward solution to programmatically apply another set of custom CSS styles when you switch a theme. To make the solution applicable for multiple themes, it is necessary to modify styles of each theme you plan to use in your application.

[2020-08-10 10:07] #13633 closed, assigned to MikeVitik

[2020-08-10 12:46] kingsanu opened #14170 "When using group pagging, group expand by row click now work"
BUG: devextream datagrid when used by group pagging, expand group by row click not work. only buttonclick work when would like to expand group row.

[2020-08-10 12:46] #14136 closed, assigned to nobody

[2020-08-10 12:46] kingsanu commented on #14136
done

[2020-08-11 12:05] Krijovnick opened #14182 "VectorMap - Annotations"
## The Problem

Previously, we introduced annotations in the Chart and Polar Chart widgets. However, annotations are still unavailable for the VectorMap.

## The Proposed Solution

In DevExtreme v20.2, we are going to bring annotations to the VectorMap, using a similar approach as in other data visualization widgets. There are two mechanisms for annotation placement:

### Anchor an annotation to m

[2020-08-11 12:12] Krijovnick opened #14183 "PieChart - Annotations"
## The Problem

Previously, we introduced annotations in the [Chart](https://community.devexpress.com/blogs/javascript/archive/2019/04/30/devextreme-charts-annotations-v19-1.aspx) and [Polar Chart](https://community.devexpress.com/blogs/javascript/archive/2020/05/07/devextreme-charts-polar-chart-annotations-v20-1.aspx) widgets. However, annotations are still unavailable for the Pie Chart.

## The

[2020-08-11 12:26] Krijovnick opened #14184 "Chart - Axis Label Templates"
## The Problem

Currently labels on axes can only contain text. You can use the `customizeText` function to format the text. However, the current implementation does not allow you to add images, links, SVG or HTML elements.

## The Proposed Solution

We plan to implement a `template` option for the axis labels. It has access to the object with information about axis label:
1. `value` - the raw val

[2020-08-11 14:37] #14027 closed, assigned to andrewmakarov

[2020-08-13 07:30] softboy99 opened #14215 "Tabbed content layout Application template"
Please add tabbed content layout Application template

[2020-08-13 10:29] babich-a commented on #13654
We will consider SCSS archive importing with the ThemeBuilder (or the number of files with devextreme-cli). At present you can change [scss/widgets/generic/_index.scss](https://unpkg.com/browse/devextreme@20.2.1-alpha-20212-0316/scss/widgets/generic/_index.scss) to exclude some widgets and [scss/widgets/generic/_variables.scss](https://unpkg.com/browse/devextreme@20.2.1-alpha-20212-0316/scss/widge

[2020-08-13 11:06] brijrajsinh opened #14223 "timelineWeek schedule width issue."
Hello support,

In below screen short you can see i am using timelineweek view and able to hide time from it but i want schedule full width same as timelineMonth view. Also want to display "2 More" functionality for more schedule.

![Screenshot 2020-08-04 at 3 12 37 PM](https://user-images.githubusercontent.com/43439111/90127246-811efc80-dd82-11ea-8ddb-e07ade01e49e.png)

Actually i want timelineMo

[2020-08-13 11:53] hakimio commented on #14215
Something like [this](https://js.devexpress.com/Demos/SalesViewer/Sales)? What do you mean exactly by "tabbed content layout"?

[2020-08-13 12:01] softboy99 commented on #14215
Hi,
No, in the current applcation template, left part layout is a navigation tree. right is the content layout. When click the item in the navigation tree,  the content should be rendered to the right Tabs rather than replaced. Is it clear?

[2020-08-13 12:08] hakimio commented on #14215
Then just use [tab-panel](https://js.devexpress.com/Demos/WidgetsGallery/Demo/TabPanel/Overview/Angular/Light/) plus url fragment. Seems simple enough.

EDIT: there is also [hash change event](https://developer.mozilla.org/en-US/docs/Web/API/Window/hashchange_event) which you could use in your case.

[2020-08-13 13:24] LanetteDevEx opened #14228 "Diagram - Data update enhancements (two-way binding)"
## The Problem

Currently, Diagram doesn’t fully support the two-way data binding scenario. It doesn’t have a special API to reload its certain shape or connector based on external changes in its data source.
So, when the data source is modified, it’s necessary to call the source’s reload() method which reloads the whole diagram.

## The Proposed Solution
We plan to implement a special `reloadCont

[2020-08-13 15:29] natashaash commented on #14046
Hello,
Would you please share your Gantt and data source configuration so I can replicate the problematic behavior on my side? Also, it will be helpful if you describe how to replicate this issue step by step. Thank you in advance.

[2020-08-14 02:03] softboy99 commented on #14215
Hi,
Of course, i know we should use tabpanel to do it manually. But, if you can embed it in an application template. It is out of the box,especially for beginner, a much more project starting point. Isn't it?

[2020-08-17 23:07] AleksandarMiha opened #14277 "How to trigger/open SpeedDialAction on click on schedule cell ?"
I have schedule

      <dx-scheduler
        id="scheduler"
        [dataSource]="dataSource"
        (onInitialized)="onInitialized($event)"
        (onCellClick)="dbClick($event)"

on function dbClick i want to open SpeedDialAction.
How to do it?

[2020-08-18 07:59] springjazzy commented on #13636
Would it be possible to select new row in batch mode? I mean standard selection checkbox available via grid Selection option

[2020-08-18 10:08] AntonSermyazhko opened #14285 "Scheduler - Virtual Scrolling"
# Scheduler - Virtual Scrolling

# The Problem

Scheduler users may experience performance issues if a Scheduler view contains many resources, groups, or appointments.

# The Proposed Solution

We will implement Virtual Scrolling. In this mode, our Scheduler renders only visible UI elements within a view. Once a UI element leaves the visible view area, the Scheduler removes it from the DOM. This r

[2020-08-18 12:44] brijrajsinh commented on #14223
Any update please.

[2020-08-18 16:28] IlyaKhD commented on #14215
@softboy99, do you mean adding a TabPanel to the main content area? So that a view has both a side navigation menu on the left and a kind of top navigation in the center? If so, this looks like a sample page rather then a layout:

![image](https://user-images.githubusercontent.com/14272298/90539490-8caa6300-e188-11ea-858e-1dbc4dcab44f.png)

[2020-08-18 23:59] #14277 closed, assigned to nobody

[2020-08-19 01:08] paufar opened #14296 "Error when using devextreme-react/list - Warning: findDOMNode is deprecated in StrictMode."
I keep getting this error when using devextreme-react/list
![image](https://user-images.githubusercontent.com/36677885/90580381-0b94af80-e20c-11ea-9f3d-1d467ff9cfb6.png)

[2020-08-19 01:22] softboy99 commented on #14215
Hi,
no, what i mean is one menu item on the left to one tabbed page on the right tabpage, when click one menu item, the content should be rendered to a tabpage. when click another menuitem, its content should be rendered to another tabpage.

[2020-08-19 16:39] IlyaKhD commented on #14215
Like this?

![image](https://user-images.githubusercontent.com/14272298/90665136-50dccf80-e254-11ea-9a0e-68bf4053c8e1.png)

[2020-08-20 01:08] softboy99 commented on #14215
no, something like chrome tabs on the right content area, has a close button on each tabpage

[2020-08-20 05:59] softboy99 commented on #14215
like the following:
![tabs](https://user-images.githubusercontent.com/228731/90722448-681bcb80-e2ed-11ea-8495-1aa7520f6369.png)

[2020-08-20 06:07] NickMitrokhin commented on #14170
Hi,

Please refer to the following examples:

[example1](https://codepen.io/nickmitrokhin/pen/ExKgGaW)
[example2](https://codepen.io/nickmitrokhin/pen/BaKLvyb)

The first example uses the **groupPaging** option and the second one does not use the option. Both examples operate in the same manner. Would you please clarify how we can reproduce the issue with the examples? Feel free to modify them to

[2020-08-20 12:26] jtoming830 commented on #13636
Hello, @springjazzy.

Currently, we don't have any plans regarding this functionality. Could you describe your scenario in greater detail? This will help us understand your requirements better.

[2020-08-21 15:25] 23mluk commented on #14046
it only happens if the gantt view is not shown

I have a TabContainer from @ui5/webcomponents

[code]

And in the Gantt Tab i have my Gantt

[code]
[code]

and if you are now in an other Tab and you want to push changes

 `oDataStore.push();`

then you became the infinity loop

[2020-08-21 19:14] springjazzy commented on #13636
Two grids with added values. When one value in grid 1 is selected, several corresponding rows must be selected in grid 2.

Currently it's not possible to use selection functionality of grid in batch mode for added rows. It is possible in cell mode if row is pushed into store.

In current batch mode it is possible to add new row and that row would be fixed on top of the grid which is great. Problem

[2020-08-21 19:19] hakimio commented on #13636
It will just reload the data from the server when you push new row.

Doesn't it just display the data the way it gets from the server?

[2020-08-22 06:25] springjazzy commented on #13636
We save all data - form and all grids on them by one request - separate button in form toolbar. All changed data is stored in Redux and then send to server by clicking "save" button. No actual save is made when item is pushed into store. We have to use `cell` mode only to make grid think that data is present on the server so that grid would allow us to select newly added rows and do summary calcul

[2020-08-24 10:08] KuznetsovVN opened #14345 "Data Grid - Export to PDF"
**_:warning: The information contained within this page details our current vision of a feature/product design and is subject to change. You should not use this information in your production environment. We consider any feedback you share with us, but you should not expect it to be reflected in the final implementation._**

---

## The Problem

The DevExtreme DataGrid does not allow users to expo

[2020-08-24 13:39] IlyaKhD opened #14351 "ES6 Modules"
## The Problem

Tree Shaking optimizes bundles that use ES6 modules (see descriptions at [webpack.js.org](https://webpack.js.org/guides/tree-shaking/) and [rollupjs.org](https://rollupjs.org/guide/en/#tree-shaking)). DevExtreme is available as a set of CommonJS modules and cannot be optimized in this way.

We also have multiple reported issues related to CommonJS modules, Tree Shaking, and large b

[2020-08-24 15:24] dxbykov opened #14354 "Diagram - Data Binding API Enhancements"
# The Problem

Currently, the Diagram does not support partial updates based on data source changes.

1. When diagram data is changed outside of the component (for example, when you modify shape data in a custom edit form), these changes are not reflected in the diagram’s model. The only way to update Diagram shapes and connectors is to reload all data. This is a time-consuming process that may le

[2020-08-24 15:39] kruglikovstepan opened #14355 "Gantt - Context menu customization"
﻿# The Problem

The Gantt widget does not have APIs to disable the context menu. The context menu can contain only a predefined list of items. It's impossible to disable the Gantt widget's context menu and customize its items.

# The Proposed Solution

## Hide the Context Menu

Set the **contextMenu.enabled** property to **false** to hide the context menu.

    contextMenu: {
      enabled: false

[2020-08-24 15:41] kruglikovstepan opened #14356 "Gantt - Editing API enhancements"
﻿# The Problem

The Gantt widget does not have APIs that allow you to modify changes or conditionally cancel an edit operation.

# The Proposed Solution

We are going to introduce the following events that allow you to manage changes or cancel any edit operation before changes are saved:
* taskInserting
* taskDeleting
* taskUpdating
* taskMoving
* taskEditDialogShowing
* dependencyInserting
* depe

[2020-08-25 06:39] steelcg opened #14360 "DxDataGrid.config.onRowUpdated(e), get updated all row data but not only updated data of the row from e.data"
DxDataGrid.config.onRowUpdated(e), get updated all row data not the updated data of the row from e.data
### Steps to Reproduce:

1. go to [https://codepen.io/steelcg/pen/oNxZjGN](https://codepen.io/steelcg/pen/oNxZjGN)
2. click on any edit button, then edit any data cell
3. click on save butoon. the e.data will be alerted.

### Results You Received:
all row data cotains haven't edited cell

### Re

[2020-08-25 20:18] bobskigit opened #14373 "Can't build or serve with latest EAP Version"
Cannot build using ng b --prod with latest EAP Version 20.2.2-alpha-20232-1710

ERROR in ./node_modules/devextreme/ui/scheduler/recurrence.js
Module not found: Error: Can't resolve 'rrule' in '..\node_modules\devextreme\ui\scheduler'

[2020-08-26 08:56] COBRASoft5 commented on #14354
I have a question... Will the diagram 'reset' its visual position after adding external elements?

[2020-08-26 11:41] jtoming830 commented on #13636
You can use [onRowInserting](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onRowInserting) with e.cancel set to true and [cancelEditData](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Methods/#cancelEditData) method for this task. In 20.2 release you will be able to use `setState({ changes: [] })` instead of [cancelEditData](

[2020-08-26 13:04] hakimio commented on #14373
Same here.

[2020-08-26 13:05] AntonSermyazhko commented on #14373
Hello,

The latest version of the `rrule` library (2.6.5) that we use in our project is broken due to [https://github.com/jakubroztocil/rrule/issues/416](https://github.com/jakubroztocil/rrule/issues/416).
I recommend you downgrade to v.2.6.4 in the `package.json`.

[code]

[2020-08-26 13:05] #14373 closed, assigned to AntonSermyazhko

[2020-08-26 13:11] hakimio commented on #14373
@AntonSermyazhko maybe you should fix your package by setting correct version on your end instead of expecting users to know that they have to install correct "rrule" version?

[2020-08-26 13:12] hakimio commented on #14373
Also, this shouldn't be closed until it's fixed on your end.

[2020-08-26 14:08] hakimio commented on #14351
Can we already test this or will it be in the next alpha release?

[2020-08-26 14:14] brijrajsinh opened #14387 "TimelineMonth UI for week view"
Hi,

I am facing appointment width challenges in timelineweek view like below if i hide time cell. like below image:
![image](https://user-images.githubusercontent.com/43439111/91314648-6ada5d00-e7d4-11ea-8d96-788e8d1f2c0a.png)

So, how to achieve week and 14 days view same as timelinemonth view?

[2020-08-26 15:12] AntonSermyazhko commented on #14373
We apologize for the confusion and inconvenience.

We've already fixed this: [https://github.com/DevExpress/DevExtreme/pull/14342/files?file-filters%5B%5D=#diff-b9cfc7f2cdf78a7f4b91a753d10865a2](https://github.com/DevExpress/DevExtreme/pull/14342/files?file-filters%5B%5D=#diff-b9cfc7f2cdf78a7f4b91a753d10865a2).

But for EAP it is recommended to downgrade.

[2020-08-26 16:03] pedrofurtado commented on #14351
This amazing feature will be available in next 20.2 official release? 🎉

[2020-08-26 16:49] IlyaKhD commented on #14351
That's right.
I think it will be available for testing a bit earlier - let's say, in 20.2 Beta. If so, I will post an update in this thread.

[2020-08-27 07:03] NickMitrokhin commented on #14360
Hi,

The **data** parameter should contain the entire row with the updated data. If you wish to get only modified data, use the **newData** parameter in the [onRowUpdating](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onRowUpdating) event handler.

[2020-08-27 10:45] Stranger52 commented on #14182
Why not use both types of binding based on the data type? double - coordinates, int - pixels. Or explicitly define what the given coordinate is in.

[2020-08-27 15:23] Krijovnick commented on #14182
@Stranger52 ,
Since this approach uses data of different types (map coordinates - double, map pixels - integer), it may lead to issues. Map coordinates can be integers too, and their type can be changed to double over time.

[2020-08-28 06:07] #14360 closed, assigned to NickMitrokhin

[2020-08-28 08:31] bobskigit opened #14397 "Pager Adds unnecessary Top Border to dx-data-grid in latest EAP"
In the latest EAP Version if you have a pager component at the bottom of the datagrid you get unnecessary borders added.

Screenshot enclosed

![image](https://user-images.githubusercontent.com/4225690/91539443-3ddf9480-e911-11ea-98c5-7c0b3a447ab9.png)

[2020-08-28 09:28] #13879 closed, assigned to MikeVitik

[2020-08-28 10:44] IlyaKhD commented on #14215
I got it, thanks.
We're currently collecting information about layouts. When the research is finished and we get results, we'll create a discussion

[2020-08-30 15:29] kingsanu opened #14406 "Remote Group pagging when AutoExpandAll = True"
Do you have any planning to remote group pagging wen scrolling mode virtual or infinite, and autoexpandAll set true.
Because currently everything is fine, but due to autoexpandAll it take 5-10 minute to load all group.

[2020-08-31 10:05] Romzay commented on #14354
Hello,
Now you do not need to reload the diagram's data source after adding external elements to it. So, diagram items' position will not be reset.

[2020-08-31 12:44] AntonSermyazhko commented on #14223
Hello,

To resolve the issue, I suggest you hide unnecessary cell elements in the [contentReady](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxScheduler/Events/#contentReady) event.
I created a simple [codesandbox sample](https://codesandbox.io/s/nostalgic-turing-5z314?file=/App.js) where the Tuesday column is hidden (hideTuersday() function).

[2020-08-31 12:44] #14223 closed, assigned to AntonSermyazhko

[2020-08-31 14:31] #14215 closed, assigned to nobody

[2020-08-31 15:17] San4es commented on #14379
Hi @nareshsuda,

How we can reproduce this issue?

[2020-09-01 05:25] brijrajsinh commented on #14223
Hi AntonSermyazhko,

Your answer seems irrelevant to me. I want timelinemonth view with 7/14 day. In screenshot you can see ui issue in timelineweek view, i want to achieve same view as timelinemonth for timeline week.

Your answer is related to workweek view. Also your code sample seems not working.

I really appreciate you help. Waiting for your replay.

[2020-09-01 09:40] AntonSermyazhko commented on #14223
To achieve this, hide unnecessary day columns from the timelineMonth view. In the sample above I am hiding a Tuesday column. I [modified ](https://codesandbox.io/s/dazzling-ives-20ybu?file=/App.js)[the sample](https://codesandbox.io/s/dazzling-ives-20ybu?file=/App.js) to display only the first week in the timelineMonth view. In addition, you must filter the dataSource to retrieve only data for the

[2020-09-02 11:47] AlisherAmonulloev commented on #14397
Double borders are present in the current version as well. Check the following demo: https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/RecordPaging/jQuery/Light/
The second border visually separates the row view from the pager.

[2020-09-02 12:51] bobskigit commented on #14397
Ok, I'll close the issue

[2020-09-02 12:51] #14397 closed, assigned to MikeVitik, AlisherAmonulloev

[2020-09-02 12:51] bobskigit commented on #14397
Ok thanks

[2020-09-02 13:49] ysageev commented on #14345
I like this feature and the direction you guys are going with it.  However, what I minimally need right now is to be able to specify where a dxDataGrid page breaks to account for footers.

Our use case:  We (meaning I) are taking a huge amount of CRUD data and assembling a very large report with many sections, many grids, and other content including text, images, headers, footers.

The problem:  B

[2020-09-02 17:33] natashaash commented on #14046
Hello,
I see that you are using a third-party container. I will need additional time to adjust my environment to reproduce the issue.

In the meantime, please specify if any errors occur when you try to rush changes (open your browser console using F12)? Also, does the issue occur even if you opened the tab before pushing changes and then switched to another tab?

[2020-09-04 08:56] AntonSermyazhko commented on #14387
Hello,

Please refer to #14223.

[2020-09-04 08:56] #14387 closed, assigned to AntonSermyazhko

[2020-09-04 10:24] erdoganmegma commented on #14351
That's awesome! Any Eta updates?

[2020-09-04 19:25] #14026 closed, assigned to LanetteDevEx

[2020-09-04 23:01] MeNarayan opened #14473 "Devexpress js is not working in windows 7"
Dear sir/madam.

I am computer teacher from east Asia.

not a days I am facing an issue in windows 7. Not only in single computer in several computers.

I included the Clipboard-File-1.png here.
![Clipboard-File-1](https://user-images.githubusercontent.com/8360811/92289940-118bcf80-ef32-11ea-84b8-f78eccfe549f.png)

In SSL certificate there we can view the certificate from godady. But i don't think

[2020-09-07 09:56] hakimio commented on #14473
The certificate is valid.
Most likely the issue is that your Windows installation is missing some Trusted Root Authority certificates.
Check the following links to see how you can install them.
https://community.spiceworks.com/topic/584022-missing-or-invalid-root-certificates-on-windows-7-64bit
https://www.tecklyfe.com/restore-missing-invalid-root-certificates-windows/

[2020-09-07 15:33] shawn-show opened #14495 "format the string of form item label"
the case is that :
I want to show the label of form item like 'CH<sub>4</sub>'
so I coded :
`
 label: {
                            text: 'CH' + '4'.sub()
                        },
`
but the result is
`
<span class="dx-field-item-label-text">CH&lt;sub&gt;4&lt;/sub&gt;:</span>
`

how can I fixed the case?

[2020-09-08 09:28] NickMitrokhin commented on #14170
This issue was closed due to inactivity. If you found a bug or have a question about our product, [create a new issue](https://github.com/DevExpress/DevExtreme/issues) on GitHub or submit a ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-09-08 09:28] #14170 closed, assigned to NickMitrokhin

[2020-09-08 09:58] kingsanu opened #14502 "How to get color of legend/series in chart?"
I want boostrape table based on series . now these series have a random color. that i want to get all. in chart.

[2020-09-08 11:25] alexanderPolosatov commented on #14502
Hi,

To get the color of a series, you can use the [getColor](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Chart_Elements/Series/Methods/#getColor) method of a [series](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Chart_Elements/Series/).

[2020-09-08 11:25] #14502 closed, assigned to alexanderPolosatov

[2020-09-08 12:40] Semigradsky opened #14508 "Calendar header format customization"
I wan't to show only first letters for day names in calendar header.
I see that getting day names as first letters is possible by calling `getDayNames` with `narrow` format
https://github.com/DevExpress/DevExtreme/blob/71917a3f204808bfcdae22179b10ad358b638f1d/js/localization/intl/date.js#L161-L167

Currently in calendar we use `abbreviated` format
https://github.com/DevExpress/DevExtreme/blob/7191

[2020-09-09 14:41] San4es commented on #14508
Hi,

The suggested customization looks rather narrow to me.

How critical is it for you?

[2020-09-09 18:08] Semigradsky commented on #14508
My design is needed it. Three letters currently looks a bit messy.

Maybe it would be better to be able to customize it via `DevExpress.localization.loadMessages` or smth like this?

I googled `datepicker js` and all datepickers which I see have possibility to customize day names in header:
1. jquery ui - https://api.jqueryui.com/datepicker/#option-dayNamesMin
1. Datepicker.js - https://github.com

[2020-09-11 02:10] tjgeni opened #14559 "Cannot find 'node_modules/devextreme/ui/dialog'"
Why devextreme dialog module not exist?
How to fix that?

Thankyou
![image](https://user-images.githubusercontent.com/17794532/92842956-646ff600-f40e-11ea-84b8-22c3a55ff14c.png)

### Environment Details:
I using latest version of devextreme + devextreme-angular + angular 10:
"devextreme": "20.1.7",
"devextreme-angular": "20.1.7",
![image](https://user-images.githubusercontent.com/17794532/92843089

[2020-09-11 07:27] DokaRus commented on #14559
Please refer to the [DevExtreme Modules Structure](https://js.devexpress.com/Documentation/Guide/Common/Modularity/DevExtreme_Modules_Structure/#ui/dialog) guide.
You should import a named dialog export like below
[code]
or
[code]

[2020-09-11 07:27] #14559 closed, assigned to DokaRus

[2020-09-11 09:05] tjgeni commented on #14559
OK thankyou @DokaRus

[2020-09-12 07:17] code123xy commented on #14345
First of all, thanks for this great addition, we will use it a lot.
Is there a way how can I bind autotable options (like coloring headers)? For example, this is not working:
`autoTableoptions: {
        theme: 'striped',
	useDxTheme :false,
	styles: { fillColor: [255, 0, 0] },
}`

[2020-09-12 15:30] kingsanu opened #14573 "How to generate report based on value and generate PDf and save in azure blob."
I would generate PDF and save in Azure blob in .net core. I don't want to show any end user view/designer. just at backend on save i would to EF call pass all data to reporter, generate PDF and save in Blob.

I know this step in winForm, but don't know about .net core with devextream.
So my concern is, give me step to generate report without enduser view/designer at backend and save in blob.

Than

[2020-09-14 03:05] softboy99 commented on #14351
Sounds great.

[2020-09-14 08:14] KuznetsovVN commented on #14345
Hello, @code123xy

You need to use the [headStyles](https://github.com/simonbengtsson/jsPDF-AutoTable#styling-options) option:
`autoTableOptions: { headStyles: { fillColor: [255, 0, 0] } }`

Here is a sample: https://codepen.io/kuznetsovvn/pen/bGpMQbe
Please, try it and share your results with me.

[2020-09-14 09:53] code123xy commented on #14345
@KuznetsovVN, thanks, it is working. It's working with hex value also. Another issue I have, I use material.purple.light theme in DataGrid, where borders are only bellow rows. I know this is actually jsPDF issue, but I couldn't find how this can be done in PDF also? I found there is some way to do this with drawHeadRow, but I couldn't find any example. Also, is there any way to add custom column i

[2020-09-15 09:48] TheReal-BiffBoff commented on #14354
Just wanted to try this feature in a Sanbox using the diagram for vue. I was not able to find the reload method on the diagram instance. Is this not implemented for vue yet?

The partial updating feature would be important for our project and I'd really like to test it :)

[2020-09-15 10:24] bobskigit opened #14592 "E1059 - All column names must be different"
I've updated to the current alpha version of 20.2. I now get console errors about column names must be different, this did not happen in 20.1.

![image](https://user-images.githubusercontent.com/4225690/93199180-f8f79280-f745-11ea-84b4-0e6b0f2a9973.png)

[2020-09-16 17:36] Semigradsky opened #14610 "Document `customOverlayCssClass` and add to typescript typing"
Currently we have possibility to add custom class to DropDownEditor popup. It is useful for customization (for example I use it for customizing different backgrounds and paddings) but not documented.

https://github.com/DevExpress/DevExtreme/blob/79a90a58a056c14d4917e403897ea3b05efa02da/js/ui/drop_down_editor/ui.drop_down_editor.js#L476-L477

[2020-09-17 02:48] kingsanu opened #14611 "I want popup animation like Adobe."
Please review this link https://documentcloud.adobe.com/view-sdk-demo/index.html#/customize/LIGHT_BOX/Bodea%20Brochure.pdf

here click on sample PDF, and see the popup animation. i see such animation almost everywhere, and i want to archive this in devextream popup.

please help me. thank you in advance 10 times.

[2020-09-17 10:34] BoBiene commented on #14351
@IlyaKhD When do you think we can try this out in an alpha-build?

[2020-09-18 20:37] Bykiev opened #14643 "AngularJS - dxForm bindings are not working after reassign"
Hi,

When the formData variable is changed (assigned to another variable) the binding is stop working. It seems the issue is quite old.

Here is a demo: https://codepen.io/predatorz/pen/XWdYPYW
Change any value (First Name for ex.), press 'Save' button and view console - value is changed, then try to change value second time, press 'Save' button again and now binding is broken.

similar case: http

[2020-09-21 09:54] imahmer opened #14645 "Autocomplete not show list in ASPNET MVC Core"
I have a below controller which returns me a generic list of objects.

[code]

but when I start typing in the TextBox. it shows me the below error

[img](https://i.stack.imgur.com/fIFKJ.png)

I was searching for my problem for two days and unable to find my answer. Also, there is no proper or detailed documentation available for autocomplete on devextreme mvc core docs

Kindly let me know what is

[2020-09-21 14:47] artem-kurchenko commented on #14643
Hi @Bykiev,

Thank you for the report. We're working on this ticket and will update it once we have any results.

[2020-09-21 14:47] #14643 closed, assigned to artem-kurchenko

[2020-09-21 14:50] artem-kurchenko commented on #14573
Hi @kingsanu,

DevExtreme doesn't include the Reports suite. For all questions about Reports, please contact our team in the Support Center: https://supportcenter.devexpress.com/ticket/create.

[2020-09-21 14:50] #14573 closed, assigned to artem-kurchenko

[2020-09-21 14:52] artem-kurchenko commented on #14592
Hi @bobskigit,

The issue is unknown to us. Could you please attach your DataGrid configuration for further examination?

[2020-09-21 14:56] bobskigit commented on #14592
**This works with no errors in 20.1** but in 20.2 it gives the error

  <dx-data-grid class="dx-theme-border-color" [dataSource]="event$ | async" [(selectedRowKeys)]="selectedRows"
    (onSelectionChanged)="selectedChanged($event)" keyExpr="id" >
    <dxo-header-filter
        [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-summary>

[2020-09-22 08:35] NickMitrokhin commented on #14592
Hi,

In v20.2, DataGrid requires unique names for columns. Column names are generated based on the [dataField](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#dataField) option. In your case, two columns have the same data field "eventDateTime". Therefore, the [name](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configu

[2020-09-22 08:35] #14592 closed, assigned to NickMitrokhin, artem-kurchenko

[2020-09-22 08:41] akuchyk opened #14660 "Angular DevExtreme: Pivot Grid - customSave function is triggered after component init"
I try to store the current state of PivotGrid and use the 'custom' storage type(according [documentation](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxPivotGrid/Configuration/stateStoring/) ), please see my [example](https://codesandbox.io/s/state-persistence-devextreme-pivot-grid-z8bgj?file=/src/app/app.component.ts) . But the first time after the component is initialized, th

[2020-09-22 14:34] bobbyconnolly commented on #14345
If the customer wanted to print a paper copy of the datagrid, does the browser do a good job of printing the grid? Or do you recommend piping to PDF first and then printing? Thanks!

[2020-09-23 10:45] KuznetsovVN commented on #14345
Hello, @bobbyconnolly

We do not officially support the browser printing functionality, and the resulting document may vary in different browsers. So, if it's possible, it's better to export the grid before printing it. This will allow you to have the same behavior and appearance across different browsers.

[2020-09-25 04:22] jamokop opened #14708 "DataGrid - Chinese text input finishes arbitrarily in the Filter row"
### Steps to Reproduce:

1. try to type some chinese in  filter box , before i find the word i need , it's like auto type a "enter" . instead of type chinese ,  i can only get english letter. for example , i try to type "gc" ,the word i 'm looking for is "工廠", but i will get "g'cgc" .

### Results You Received:
g'cgc

### Results You Expected:
工廠

### Environment Details:
https://js.devexpress.com

[2020-09-25 14:49] sccrgoalie1 commented on #3737
Is this feature still on the radar?

[2020-09-25 15:07] hakimio commented on #3737
@sccrgoalie1 yes, its coming in v20.2 -> https://js.devexpress.com/Roadmap/#UIComponents

[2020-09-26 23:38] #14645 closed, assigned to nobody

[2020-09-28 03:08] luweiymy opened #14722 "How to customized toolbar for PivotGrid？"
### Steps to Reproduce:

For Datagrid we used "onToolbarPreparing" function to push custom items to it, Please provide your suggestions to add custom items like datagrid in pivotgrid.

### Results You Received:

### Results You Expected:

### Environment Details:

[2020-09-28 08:35] San4es opened #14724 "HtmlEditor - Table Support"
# The Problem
Tables are a common element of modern web documents. Our HTML/Markdown Editor does not support tables.

# The Proposed Solution
Prior to DevExtreme v20.2, our HtmlEditor was based on the Quill engine v1.x. It does not support tables out-of-the-box. Quill v2.x supports basic table operations, but it has not yet been released. Quill v2 has been in the development stage for the last 2 y

[2020-09-30 09:01] MaximKudriavtsev commented on #14351
Hi,

Our work on this feature is at the final stage. We will update this topic once we publish an NPM package with it.

[2020-09-30 19:15] #14381 closed, assigned to andrewmakarov

[2020-10-01 08:32] novsstation commented on #14722
Hi,

Unfortunately, there is no public API that allows implementing this task out of the box.
So, the only way to accomplish your task is to use css.
You can add a button and position it over the widget with position = absolute.
I created a [small sample](https://codepen.io/SNovikov/pen/ExKBKpX) for you.

I agree that the scenario you described may be useful, and we will take your feedback into ac

[2020-10-02 06:00] #14722 closed, assigned to jsdmitry

[2020-10-02 07:24] BoBiene commented on #14351
@MaximKudriavtsev is it part of the 20.2.2-beta?

[2020-10-02 08:51] MaximKudriavtsev commented on #14351
Hi @BoBiene,

Unfortunately no, the Beta version doesn't include ES6 modules. We have some unexpected implementation issues, and now we are fixing them.

We would like to publish one more Beta version with this feature before the official release. I will notify you once we do so.

[2020-10-02 10:10] AntonSermyazhko commented on #14285
We have updated the discussion page with a [live sandbox sample](https://codepen.io/pin361/pen/KKzoyzo).

[2020-10-02 14:13] San4es commented on #14508
Thank you for your idea and clarification! We will think about it when planning new features. Currently, we cannot provide you with an ETA on this. If we decide to work on this, we will post an announcement on GitHub, blogs, and Roadmap.

[2020-10-02 14:32] Semigradsky commented on #14508
My currently workaround if it will be usefull for smb:
[code]

[2020-10-02 15:06] San4es commented on #14508
I am happy to hear that you found a solution. Thank you for sharing it!

[2020-10-02 15:06] #14508 closed, assigned to San4es

[2020-10-04 17:08] EatonZ opened #14806 "Angular app "loses" styling in production bundle"
### Steps to Reproduce:

There appears to be a problem when DevExtreme is bundled for production. It is easily reproducible:

1. `npm start` [this attached application](https://github.com/DevExpress/DevExtreme/files/5323713/NewApp.zip). This is a brand new app. No other added packages, DevExtreme setup instructions followed.
2. In the browser window that opens (for me this is Chrome), if you refre

[2020-10-05 14:27] CollinHerber commented on #14611
Based on the Roadmap: https://js.devexpress.com/Roadmap/#DataGridTreeList
Export to PDF is coming very soon and I imagine that doing something like this with the exported PDFs would be fairly simple once accomplished.

I love the idea of this, but think there are a ton of solutions for this already in the npm world.  Take a look at this one for example: https://www.npmjs.com/package/pdfjs

Then ha

[2020-10-05 14:53] CollinHerber commented on #14724
I would like to see Quill replaced entirely honestly.
Quill is pretty much an abandoned project and their constant delays and false promises has become rather tiring.

I would love to see a in-shop option built for an Html/WYSIWYG Editor. There are a few dozen open source projects out there that would get you to very close, if not all the way, to the finish line in what Quill already supports.

[2020-10-05 20:23] #14406 closed, assigned to AlisherAmonulloev

[2020-10-05 20:23] #14379 closed, assigned to nobody

[2020-10-06 00:52] EatonZ commented on #14806
[Dupe](https://supportcenter.devexpress.com/ticket/details/t917577/devextreme-does-not-attach-additional-classes-to-dx-viewport-in-chrome-84-on-the-first)

[2020-10-06 00:52] #14806 closed, assigned to nobody

[2020-10-06 05:12] dathoang commented on #14724
@CollinHerber
I agree with you about the state of quill project, but Quill has a very importan feature: **Delta**.
It help you build realtime collaborative editor very easily. And I have not seen any FOS html editor that support realtime collaboration to date.

And about the new Devextreme Html Editor table: Big thank to the dev team. Hope you can add resize row and column feature soon

[2020-10-06 07:29] rangaraogutta commented on #13636
Can you please provide an example for WEBAPI f0r jquery
$('#gridContainer').dxDataGrid({
    dataSource: data,
    editing: {
        mode: 'batch',
        allowUpdating: true,
    },
    onSaving: function(e) {
        e.cancel = true;  // cancel automatic update of the data array

        **// await fetch(. . .);  // save data to your remote server if needed**

        // apply changes to your

[2020-10-06 08:44] radomeit commented on #14285
Hi, basically this feature is great and will allow us to deliver a much smoother scheduler experience to our users.
Since we only use the timeline view mode, I modified and tested your example with it, but it seems that virtual scrolling doesn't  work here (it takes some time before the scheduler shows up, probably cause its rendering all appointments) and also the vertical scrollbars are hidden /

[2020-10-06 13:44] AntonSermyazhko commented on #14285
Hi,
Currently, the Scheduler widget supports the Virtual Scrolling functionality only in the 'day', 'week', 'workWeek' views. We will reflect this limitation in our documentation. We have plans to support this functionality for timeline views. However, it is unlikely we add it in v20.2.

[2020-10-06 15:26] NickMitrokhin commented on #14708
Hi,

From what I gather, you cannot enter the filtered text before DataGrid starts to filter data. DataGrid synchronizes column widths on filtering and restores focus for the last focused editor. However, the editor does not allow you to continue entering characters according to your requirements. We are going to improve this behavior in future versions.

In the meantime, I recommend that you set

[2020-10-06 15:59] vconst commented on #13636
A new DevExtreme package `devextreme@20.2.2-beta` is available now.
You can test this feature using examples that reside in the Live Sandboxes section of the discussion page.

[2020-10-07 03:21] rangaraogutta commented on #13636
I developed our application using an example from "Send All Changes in a Single Request (Angular, jQuery)".

In the web API, I am receiving null values as shown.
![image](https://user-images.githubusercontent.com/22386405/95283300-ca7d5b00-089e-11eb-9e87-980bce1752b7.png)

Can you please give me the batch web api method.

[2020-10-07 13:00] skymarktech commented on #3737
It's on the road map, but not listed in the new features for 20.2.  So is it available or not in 20.2?  Interesting that the DevExp login form has this feature for the input fields.

[2020-10-07 19:07] #14046 closed, assigned to kruglikovstepan

[2020-10-09 07:16] novsstation commented on #14495
Hi,

Please pardon such a long delay in our response.
You can customize the editor and its label using the [template](https://js.devexpress.com/Documentation/Guide/Widgets/Form/Configure_Simple_Items/#Customize_a_Simple_Item) property.

[code]

I also created a [small sample](https://codepen.io/SNovikov/pen/JjKoyEL?editors=0010) for you.
Please check it and let me know if this solution helps.

[2020-10-10 10:03] softboy99 commented on #14351
Does it means if this are finished, tools like Vite Scafford for Vue3 also be supported? Vite also depends on ES6 modules.

[2020-10-12 10:25] #14473 closed, assigned to nobody

[2020-10-12 12:42] #14495 closed, assigned to novsstation

[2020-10-12 15:02] ghost opened #14906 "DataGrid - scrolling mode "infinite" hides the expand button for grouping"
Setting a DataGrid's scrolling mode "infinite" hides the expand button for grouping.
Changing the value of `grouping.allowCollapsing` [has no change](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/scrolling/#mode).

### Steps to Reproduce:

1. create a DataGrid with scrolling mode infinite
2. group by a field
3. https://codepen.io/julesbrx/pen/RwRPmma?edit

[2020-10-12 18:08] AlisherAmonulloev commented on #14611
@CollinHerber thank you for your comment. Our research showed that the pdfJS library from the following repository has all the functionality we require to export data to PDF: [https://github.com/MrRio/jsPDF](https://github.com/MrRio/jsPDF)
From what I gather, you want to preview the exported PDF file before saving it. To be honest, we did not discuss introducing a demo or a built-in functionality

[2020-10-12 18:08] #14611 closed, assigned to AlisherAmonulloev

[2020-10-13 12:45] novsstation commented on #14660
Hi,

Currently, this behavior is expected.
In a general case, after the state is loaded, it is possible to change it in code.
That's why, these changes must also be saved.

So, to prevent the state from being saved when it's not necessary, you can introduce an additional variable:

[code]

I modified [your sample](https://codesandbox.io/s/state-persistence-devextreme-pivot-grid-forked-do4zo?file=/

[2020-10-13 15:43] briosheje opened #14921 "DxScheduler - Disabling appointment popup form"
### Steps to Reproduce:

Example with react:
1. Use a scheduler with any kind of options, like this:
[code]
2. Try to programmatically disable the editing form (which appears everytime you click on an appointment and then click on the appointment popup).

We've tried all the possible overrides (editing, onAppointmentClick and so on) but we didn't manage to find any way to prevent the default mecha

[2020-10-13 16:27] ani2479 opened #14923 "dxPivot column resize"
### Steps to Reproduce:

1. Added [columnResizingMode] to the dxPivot

### Results You Received:
1. Error in console [columnResizingMode] is not part of dxPivot

### Results You Expected:
1. Be able to resize columns at run time

### Environment Details:

I'm using chrome, devextreme 20.1.7, Visual Studio 2019

Hi, I found multiple tickets regarding this topic, but not an actual solution for it.
F

[2020-10-14 15:46] IlyaKhD commented on #14351
Unfortunately, Vite requires that all packages have ES6 modules. DevExtreme depends on [jszip](https://www.npmjs.com/package/jszip) which provides CommonJS modules only.

[2020-10-15 01:13] softboy99 commented on #14351
Hi
https://github.com/Stuk/jszip/issues/349, it supports es6 import

[2020-10-15 06:45] hakimio commented on #14351
@softboy99 the problem with jszip is not with the way you import it but how the library itself is structured. It's a CommonJS module.

[2020-10-16 06:09] #14708 closed, assigned to NickMitrokhin

[2020-10-16 14:28] andrewmakarov commented on #14921
Hi @briosheje ,
For solve your task, subscribe on [onAppointmentFormOpening](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxScheduler/Configuration/#onAppointmentFormOpening) event and use e.cancel argument to manage visibility of Appointment Popup Form.

[2020-10-19 07:40] San4es commented on #14610
Hi,

Thank you for your idea! Currently, we have no plans to publish this option. It's highly likely that we will remove it and introduce a new public API for this purpose. Probably, it will be something like `dropDownOptions.cssClass` or
`dropDownOptions.wrapperAttr`. At the moment, we cannot give you an ETA. If we decide to work on this, we will post an announcement on GitHub, in our blogs, and

[2020-10-19 11:26] akuchyk commented on #14660
Thanks!

[2020-10-19 12:34] NickMitrokhin commented on #14906
Hi,

Group rows cannot be collapsed when infinite scrolling mode is used. That is why expand/collapse buttons are not rendered. See the [scrolling.mode](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/scrolling/#mode) option description to learn more.

[2020-10-19 12:34] #14906 closed, assigned to NickMitrokhin

[2020-10-19 14:01] #14610 closed, assigned to San4es, DokaRus

[2020-10-19 15:12] briosheje commented on #14921
Thanks, I didn't notice that event at all, sorry for prompting about a non-existing issue.

[2020-10-19 15:12] #14921 closed, assigned to andrewmakarov

[2020-10-20 03:04] adardesign opened #14981 "Chart annotations lines adding goal"
Using the chart,  I am trying to implement the following:

1. click on the value axis (could be done via [14184](https://github.com/DevExpress/DevExtreme/issues/14184))
2. add an annotation in the form of a goal
3. ability to drag the goal line up and down and show the value  until the user chooses to save at the new value

![Screen Shot 2020-10-19 at 10 56 36 PM](https://user-images.githubusercon

[2020-10-20 14:41] jsalzarulo commented on #9237
Edit: This resolved my issue: https://github.com/angular/angular/issues/31678#issuecomment-635132341
I created a zone-flags.ts file, added the mentioned line, imported into polyfills.ts, added to tsconfig in files list.
Just figured I'd add this in case others are still having this issue. As you can see in the other issue thread, this particular problem is not resolved with the latest version of z

[2020-10-21 00:59] softboy99 commented on #14351
Hi,
https://www.npmjs.com/package/@progress/jszip-esm. It is forked by telerik

[2020-10-21 07:41] dkt2000 commented on #3713
Hi @dxbykov  Right now we are using DxGrid, AngularJs Version. with 40 columns , doing some manipulation on run time also.

DxGrid performance not good. Because due to more columns DOM manipulation taking time.

As per my understanding Angular , ReactJs and VueJs works on Virtual DOM concepts. And their Rendering speed much faster then AngularJs and Jquery based Grid.

So, my questions is that hav

[2020-10-21 10:15] dxbykov commented on #3713
Hi @deepaktech94,

At the moment, our jQuery, AngularJS, Angular, React, and Vue DataGrids are wrappers over a pure JavaScript core. So, for instance, our React Data Grid doesn't use Virtual DOM. There shouldn't be much performance difference between all the mentioned frameworks.

Please try enabling the [Column Virtual Scrolling](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Horizo

[2020-10-21 10:32] alexanderPolosatov commented on #14981
Hi,
I see that we are discussing the same inquiry in the following ticket: [T940859](https://supportcenter.devexpress.com/ticket/details/t940859/no-click-handler-for-onvalueaxisclick-similar-as-onargumentaxisclick). Let's continue there. Please feel free to leave a comment in that ticket if something remains unclear. We will be happy to help you.

We track all the questions we receive and answer t

[2020-10-21 10:32] #14981 closed, assigned to nobody

[2020-10-21 12:47] novsstation commented on #14923
Hi,

Currently, our PivotGrid does not support this functionality.
We will take your feedback into account when planning further development.
However, I cannot give you any promises or estimates here.
If we decide to start working on this feature, it will appear in our Roadmap or on GitHub.

Should you have any questions, feel free to contact us.

[2020-10-23 11:31] BingoRUS commented on #3737
Hi @sccrgoalie1 @skymarktech!
The Editor Label Animations feature is in our roadmap as you can see [here ](https://js.devexpress.com/Roadmap/#UIComponents). Although it isn't presented in the beta (v20.2.2) and might be not included in the first public release (v20.2.3), we are working hard to introduce it by the end of the year. Thanks again for your patience!

[2020-10-26 15:05] edubskiy opened #15052 "Get control over Gantt edit task popup"
### Steps to Reproduce:

1.  Load Gantt chart
2. Edit task
3. No way to provide additional controls for edit task popup

### Results You Received:
Basic controls in popup

### Results You Expected:
I should have option to provide custom dialog renderer OR submit different stack of items OR get access to form state to be able add/delete/modify items with custom function

I am using "devextreme": "2

[2020-10-26 19:00] RandScullard commented on #13636
I noticed that in the new onSaved event, in the changes object, oldData and newData are the same. That is, oldData actually contains the data after the user's changes, not before. Is this a bug or intentional? It would be useful if oldData contained the unmodified data.

[2020-10-27 05:24] rangaraogutta commented on #13636
Hi,

d.reject from sendBatchRequest on fail is rising error "dx.all.js:93 Uncaught TypeError: Cannot read property 'url' of undefined"

function sendBatchRequest(url, changes) {
    var d = $.Deferred();
    $.ajax(url, {
        method: "POST",
        data: JSON.stringify(changes),
        cache: false,
        contentType: "application/json",
        xhrFields: { withCredentials: true }
    }).

[2020-10-27 14:21] IlyaKhD commented on #14351
Hi everyone,

We'd like to make an update on ES6 modules support.

The good news is that we've finished all the major tasks related to this feature. However, when we tested our new module set with some of the existing DevExtreme projects, we faced unexpected issues that might break our customers' projects. So, we consider it to be too risky to make it part of our stable v20.2 release.

Since it's

[2020-10-27 16:08] natashaash commented on #15052
Hello,
We have just released v20.2.3 where we implemented the API to accomplish this task. If you wish to add an extra editor to the "Task Detail" dialog, you will need to create your own custom form for it. Gantt has the [taskEditDialogShowing](https://js.devexpress.com/Documentation/20_2/ApiReference/UI_Widgets/dxGantt/Events/#taskEditDialogShowing) event. Handle it, cancel the default dialog sh

[2020-10-27 16:15] edubskiy commented on #15052
Hello. Thank you for your response. Please assist on how to access updateTask method from React, not jquery.

I've subscribed to ```onContentReady``` event where i receive object:
[code]
But there is not method updateTask inside this object. How do I access it (not using jquery)?

[2020-10-27 17:03] calabo-Act21 commented on #13654
I was able to use this new feature successfully by creating the following scss file, and include it in my angular.json file :

[code]

But I am not able to use a CSS variable to define $dx-accent-color value. If I write this :

`$dx-accent-color: var(--theme-secondary-500);`

I get a Error : "SassError: $color: var(--theme-secondary-500) is not a color."

I know it is not a devextreme specific iss

[2020-10-27 19:43] bbarber9 commented on #14285
We were forced to use another scheduler component due to the poor performance of the timeline view. This would be game changing in the timeline view for us.

[2020-10-28 03:40] rangaraogutta commented on #13636
Change above line to **d.reject(xhr.responseJSON ? xhr.responseJSON : xhr.statusText);** is fixed the dx.all.js issue.

[2020-10-28 08:03] PetarBgd commented on #14345
Angular demo https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ExportToPDF/Angular/Light/ does not work. Nothing happen on button click.

[2020-10-28 10:31] calabo-Act21 commented on #13654
(maybe I should juste create my own version of node_modules/devextreme/scss/widgets/material/colors file, and import it with @use ... ?)

[2020-10-28 13:43] babich-a commented on #13654
Hi @dh-fallen. Thank you for your feedback.
It is not a full Sass-relative issue. We use some variables to calculate other colors (eg. https://github.com/DevExpress/DevExtreme/blob/20_2/scss/widgets/generic/gridBase/_colors.scss#L208). Sass requires the first argument of `color.change`, `lighten`, `darken` [and other](https://sass-lang.com/documentation/modules/color) functions to be a color and c

[2020-10-28 14:25] calabo-Act21 commented on #13654
Yeah that is what I am realizing since yesterday : my problem is a very common matter, and we cannot use a runtime css variable in a precompiled Sass color function ...
What a pity, since I have defined angular material palettes in my app using css variables, and it's working great.

The DX SASS feature is great, but we should have some way to add theming capabilities to the styling approach : how

[2020-10-28 14:53] babich-a commented on #13654
@dh-fallen There is no way to change the DevExtreme accent color at runtime. You can change only the [entire theme](https://js.devexpress.com/Documentation/Guide/Themes_and_Styles/Predefined_Themes/#Switch_Between_Themes_at_Runtime).

[2020-10-28 16:45] httpete commented on #13654
@babich-a devextreme should support either way of variables - scss or css3.

[2020-10-29 08:27] KuznetsovVN commented on #14345
Hello, @PetarBgd

Thank you for notifying us of this issue.
Demos are a very important part of our products, and we want to investigate each case when something works in an unexpected way.
Yesterday, we found similar errors in demos on our site, made some changes to fix them, and today demos work correctly.
Anyway, thank you again, and feel free to write to us if the https://js.devexpress.com/Demo

[2020-10-29 09:22] natashaash commented on #15052
Hello,
Please review the [Getting Widget Instance](https://github.com/DevExpress/devextreme-react/blob/18.2/README.md#getting-widget-instance) help topic where we described this in detail.
Let us know if anything remained unclear.

[2020-10-29 11:54] edubskiy commented on #15052
@natashaash , thank you. I found all methods I need in the prototype chain. I guess we can mark the issue as resolved now

[2020-10-29 11:55] edubskiy commented on #15052
Hope the next releases of Gantt will include task details popup customisation.

[2020-10-30 10:02] jtoming830 commented on #13636
Hello, @RandScullard.

In v20.2.3 the **oldData** parameter was removed from the **changes** object in the **onSaving** and **onSaved** events. Could you please describe your scenario in greater detail?

[2020-10-30 11:33] San4es commented on #14724
Hi,

The official [v20.2](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3) release is now available for download. You can see this feature in action in our [online demos](https://js.devexpress.com/Demos/WidgetsGallery/Demo/HtmlEditor/Tables/). We would appreciate it if you take a [quick poll](https://forms.gle/zTUF5NJsjdXn5Gww6) and leave your feedback in comments.

[2020-10-30 14:47] jtoming830 commented on #13636
Hello, @rangaraogutta.

I was unable to reproduce described behavior. Could you please provide the steps to reproduce this error?

[2020-10-30 18:44] RandScullard commented on #13636
@jtoming830 I actually don't think I'm going to need to compare oldData and newData in my scenario. I was just thinking about a possible scenario where I would need to know which fields were changed.

[2020-10-30 20:08] apanchati commented on #14345
Hello,

Will there be option to put columns on the second page? I have about 30 columns on my grid and would like to have 10 columns per page.

Thanks,
Ahmed

[2020-11-01 18:46] bobskigit opened #15106 "Problems with Inconsistent Date object format on scheduler"
On the latest scheduler 20.2.3 the date object returned is different depending on the date selected.

on October 31st Date chooser gives  Sat Oct 31 2020 00:00:00 GMT+0000
on October 30th Date chooser gives Fri Oct 30 2020 00:00:00 GMT+0000
on October 27th Date picker gives 2020-10-27T00:00:00+00:00

![image](https://user-images.githubusercontent.com/4225690/97811422-7a61a080-1c72-11eb-9346-5df2ef

[2020-11-02 10:52] jtoming830 commented on #13636
@RandScullard **data** parameter contains only changed fields. You can get them using the **Object.keys** method.

[2020-11-02 13:23] MaximKudriavtsev commented on #13378
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3). I'm closing this thread. In the case of bugs or questions, feel free to create new [GitHub issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2020-11-02 13:23] #13378 closed, assigned to Yarovaya, AntonSermyazhko

[2020-11-02 13:25] andrewmakarov commented on #15106
Hi @bobskigit ,
please attach a sample project that reproduce on our side and list the steps to reproduce.

[2020-11-02 13:48] KuznetsovVN commented on #14345
Hello, @apanchati

We currently have no plans to support this functionality.
Thank you for your suggestion, we will take your feedback into account during further development.
However, I cannot give you any promises or estimates here.
If we start working on this feature, it will appear in our Roadmap or on the GitHub page.

Should you have any questions, feel free to contact us.
We’ll be happy to

[2020-11-02 14:42] MaximKudriavtsev commented on #14285
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3).

Currently, the Scheduler component supports the [Virtual Scrolling functionality](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/VirtualScrolling/jQuery/Light/) only in the `day`, `week`, `workWeek` views,

[2020-11-02 19:39] natashaash commented on #15052
I am happy to help.
Thank you for your feedback. We will take it into account when planning further development.

[2020-11-02 19:39] #15052 closed, assigned to natashaash

[2020-11-03 02:15] genachka opened #15115 "DataGrid - change dynamically column dataType"
Using version 20.2.3, I load initial data in to grid with 10 columns with columns 9 and 10 having a `dataType` of **date** and then on a specific user action, I retrieve different data from backend and I want to reuse the same grid and columns but now the columns 9 and 10 need to have a `dataType` of **boolean** for column 9 and `dataType` of **string** for column 10. I also do have the `filterRow

[2020-11-03 04:07] javzwin commented on #14351
So the only solution so far to avoid these warnings is "allowedCommonJsDependencies"??

[2020-11-03 07:23] hakimio commented on #14351
@javzwin until ES6 modules are released, yes, it is.

[2020-11-03 10:44] #14923 closed, assigned to jsdmitry

[2020-11-03 13:18] MaximKudriavtsev commented on #14184
Thanks to everybody who gave us early feedback on this feature. The [Chart Axis Label Templates](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/AxisLabelsTemplates/) feature is now available in the [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3). I'm closing this thread. In the case of bugs or questions, feel free to create new [GitHub issues](https://gith

[2020-11-03 13:18] #14184 closed, assigned to Krijovnick

[2020-11-03 13:21] MaximKudriavtsev commented on #14182
Thanks to everybody who gave us early feedback on this feature. The [Vector Map Annotations](https://js.devexpress.com/Demos/WidgetsGallery/Demo/VectorMap/CustomAnnotations/) feature is now available in the [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3). I'm closing this thread. In the case of bugs or questions, feel free to create new [GitHub issues](https://github.

[2020-11-03 13:21] #14182 closed, assigned to Krijovnick

[2020-11-03 13:23] MaximKudriavtsev commented on #14183
Thanks to everybody who gave us early feedback on this feature. The [Pie Chart Annotations](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/PieWithAnnotations/) feature is now available in the [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3). I'm closing this thread. In the case of bugs or questions, feel free to create new [GitHub issues](https://github.com

[2020-11-03 13:23] #14183 closed, assigned to Krijovnick

[2020-11-05 14:35] jsdmitry commented on #14345
Thank you to everyone who gave us early feedback. The [Export to PDF (CTP)](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ExportToPDF/jQuery/Light/) feature is now available in [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3). We would appreciate it if you take a [quick poll](https://docs.google.com/forms/d/e/1FAIpQLScRa5YyTzJdADJnXLWGg6kvtSsOWeKSMOK7X5o

[2020-11-05 14:46] jsdmitry commented on #13847
The [Export to Excel API](https://js.devexpress.com/Demos/WidgetsGallery/Demo/PivotGrid/ExcelJSOverview/jQuery/Light/) feature is now available in the [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3). I'm closing this thread. In case of bugs or questions, feel free to create new [GitHub issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support

[2020-11-05 14:46] #13847 closed, assigned to EugeniyKiyashko, novsstation

[2020-11-05 15:13] jsdmitry commented on #13636
Thank you to everyone who gave us early feedback. The [Data Editing API Enhancements](https://js.devexpress.com/New/20_2/#DataGridTreeList) feature is now available in [v20.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.2.3). We would appreciate it if you take a [quick poll](https://docs.google.com/forms/d/e/1FAIpQLSfgsDFERA2OpOw0dATNHfcArljEaCk57aGAgTctJnHDzu0JHQ/viewform) an

[2020-11-05 17:50] H-M90 commented on #14345
Hello,
I have a problem displaying Arabic characters in generating PDF.
I added an Arabic font but Arabic words not displayed and Arabic characters in the table appeared as a strange symbol.
I need to know what is my problem.
![image](https://user-images.githubusercontent.com/74011121/98276368-87e29780-1f9e-11eb-8a87-0f9ccb52404c.png)

[code]

[2020-11-06 14:39] KuznetsovVN commented on #14345
Hello, @H-M90

The issue occurs because fonts are configured incorrectly in your application. For more information, please refer to this article: [Use of Unicode Characters / UTF-8](https://github.com/MrRio/jsPDF#use-of-unicode-characters--utf-8).

I have created a simple sample to demonstrate export with Arabic characters: [https://codepen.io/kuznetsovvn/pen/abZaOJY](https://codepen.io/kuznetsovv

[2020-11-06 15:41] genachka opened #15164 "DataGrid 20.2.3 .clearFilter() not always clearing row filter"
DataGrid 20.2.3 - when doing something like:
`.columnOption(3, 'filterValue', ['2020-10-01', '2020-10-15'])`
and then issuing a
`.clearFilter()`
The `filterValue` of the row filter is cleared but the operation dropdown is not reset and it messes with later additional API calls to set the filterValue. As a temp workaround I found that doing `selectedFilterOperation` to blank resets it but shouldn't

[2020-11-06 15:55] genachka opened #15165 "DataGrid / Treelist filter enhancement request - option to have the row filter capability in column header search instead"
The row filter is a great and powerful search / filter. But because it's always there it takes away screen real estate. For most of our users, they hate the limited capability of the header search and the checkbox selection approach yet love what they can do with the row filter. I get that there are use cases where the search on the header may be enough or preferred for folks but it would really b

[2020-11-07 00:59] H-M90 commented on #14345
Hello,
Thank you for your response.
I tried this method and now the Arabic characters are showing fine.  But I faced a problem when I tried the RTL. All characters are reversed
![image](https://user-images.githubusercontent.com/74011121/98428989-c49cb480-20ac-11eb-8aa7-ea51cce187b7.png)

![image](https://user-images.githubusercontent.com/74011121/98428761-b39f7380-20ab-11eb-86af-1ae8dcfffa91.png)

[2020-11-09 08:42] massytaleb22 opened #15617 "SCHEDULER DEXPRESS ANGULAR 10 : appointment all the time on the left"
# Support Question
Hello,

I want to have the appointment on the right (purple color) that it displays all the time on the left instead of the black appointment even if the latter starts before the purple [appointment.](url)
![planning](https://user-images.githubusercontent.com/30523684/98518374-99ae8e00-226f-11eb-93f6-96d29ab96504.png)

is there a feature to predict this need?

Thanking you in ad

[2020-11-09 11:50] KuznetsovVN commented on #14345
Hello, @H-M90

Please make sure that you are using the rtlEnabled option of our DataGrid and set the setR2L option of the resulting pdf document to false. In this case, the grid should be exported correctly. For example, please refer to the sample CodePen project from my previous comment.

If this does not help or if you have further questions related to your specific scenario, feel free to contac

[2020-11-09 13:13] Semigradsky opened #15177 "[Calendar] Navigator text changed only after animation"
The month name changes only after the dates block animation completes, creating lagging feeling. It happens when I change current day via `calendar.option('currentDate', date)`. But month name changes immediately when I click on navigator buttons (prev/next month).

As possible solution I can change navigator text manually:
[code]
But would be nice if it was fixed.

[2020-11-09 18:41] AlisherAmonulloev commented on #15617
From what I gather, you want the purple appointment in your screenshot before the black appointment. The Scheduler widget sorts appointments by time. As a result, the black appointment that occurs earlier is displayed before the purple appointment. The widget does not support the capability to change the current logic. Would you please describe your business task in greater detail?

[2020-11-10 09:01] DokaRus commented on #15177
Hi,

Thank you, it sound reasonably.
We'll take this suggestion into account in our further plans.
Currently I'll cannot give you any ETA on this. If we decide to work on this, we'll post an announce on GitHub and add a new comment to this issue.

[2020-11-10 09:01] #15177 closed, assigned to DokaRus

[2020-11-11 01:27] mrparag94 commented on #14351
Does this 21.1 Branch supports es6 import..?

[2020-11-13 14:33] FabianoCastro opened #15272 "CheckBox - How to use custom values for indicating the True and False states"
Hi guys

I have a editor with dxCheckBox, where the value in database is "S" or "N".

It would be very helpful if I could set up custom value in the editor, like customTrueValue and customFalseValue.

😃

[2020-11-13 20:59] FabianoCastro opened #15276 "dxBarGauge - Is it possible to assign an array of objects to the widget's value option"
Hi guys

Is possible, change the values to a array of objects? To have, a label and value, like a comparative chart

[2020-11-16 21:12] IlyaKhD commented on #14351
Hi, @mrparag94, sorry for the late response.

I'm not sure you mean that, but you can use ES6 `import` statements with all actual DevExtreme versions, e.g., v20.2.
About the 21_1 branch, we're reorganizing the package structure, which is important for bundle optimization.

[2020-11-17 11:09] NickMitrokhin commented on #15115
Hi,

Data type should not be changed at runtime. To resolve the issue, change the [DataGrid.columns](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/) option as shown below:

[code]

[2020-11-17 14:52] NickMitrokhin commented on #15164
Hi,

The [clearFilter](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Methods/#clearFilter) method should not clear the current filter operation. You will need to do this manually. So, your solution is correct.

In addition, please take a look at the following ticket where we discussed a similar issue:
[DataGrid remove column level filter operation on clearFilter](https

[2020-11-17 14:52] #15164 closed, assigned to NickMitrokhin

[2020-11-17 14:56] genachka commented on #15164
@NickMitrokhin that doesn't make a whole lot of sense. The method name is `clearFilter` and the filter operation is part of the filter so I don't see how it's unreasonable to expect that everything would be reset. I would even settle for `clearFilter('all') or a `clearFilter(true)` if you won't want to break existing. Or even a `clearFilterAll()` as it's a fairly common thing to do and having to a

[2020-11-17 16:02] genachka commented on #15115
Interesting. So this approach is going to clear out all the existing columns and recreate them with the new dataType. But that's still at runtime as well is it not? The only difference is that it's not changing the specific column(s) directly but all. I suppose it's not significantly less efficient than changing the specific columns. So this I think would work in my case. I'll give it a try, thank

[2020-11-19 08:48] NickMitrokhin commented on #15115
You are always welcome! Let us know if this helps.

[2020-11-19 11:49] Semigradsky opened #15331 "TypeError: Cannot use 'in' operator to search for 'columnName' in null"
I have this error on DevExtreme@20.2.3 for DateGrid component in `objectsEqualByValue` function.
https://github.com/DevExpress/DevExtreme/blob/7b16996944d8e1db002a05401b6b69be4651cc93/js/core/utils/common.js#L290

As I see after updating items library calls `_updateItemsCore` which calls `_updateEditRow`:
https://github.com/DevExpress/DevExtreme/blob/c8e30e4a86e31aaf93e8b4fd5f48dfc88bc08e27/js/ui/

[2020-11-19 16:21] bzupancic commented on #13654
@babich-a I'm struggling to modify sizes and would love any assistance or further understanding you can provide.

Building on the [example](https://github.com/babich-a/angular-scss-example/blob/master-configurable/src/styles.scss) you shared above, I am attempting to adjust the button padding.
     @use 'node_modules/devextreme/scss/widgets/generic/colors' with ( $color: 'light' );
     @use 'node

[2020-11-19 18:15] Semigradsky commented on #12003
I have checked DevExtreme@20.2.3 and `customizeExcelCell` still hasn't information about what the value is... 😢

[2020-11-20 06:50] babich-a commented on #13654
Hi @bzupancic. The [scss/widgets/generic/button](https://github.com/DevExpress/DevExtreme/blob/20_2/scss/widgets/generic/button/_index.scss) module does not have a $generic-button-horizontal-padding variable. The [scss/widgets/generic/button/sizes](https://github.com/DevExpress/DevExtreme/blob/20_2/scss/widgets/generic/button/_sizes.scss) module contains it.

To configure this variable, you need t

[2020-11-20 13:49] jtammen commented on #15331
@Semigradsky I also experienced this error. It only happens for me when the grid's datasource does **not** define a `key` property.

[2020-11-23 06:30] #15115 closed, assigned to NickMitrokhin

[2020-11-23 12:32] petr-slipek opened #15364 "Add missing czech localization"
There are many missing czech localization strings.

Petr.

[2020-11-23 14:10] #14660 closed, assigned to jsdmitry, novsstation

[2020-11-23 14:45] messaoudi-mounir opened #15371 "Editors: Validations messages are invisibles after validation triggered / component focused"
### Steps to Reproduce:

1.  use the same example in the demo https://js.devexpress.com/Demos/WidgetsGallery/Demo/Validation/Overview/Angular/Light/
2.  When applying the validation

### Results You Received:

the <div> with class **.dx-invalid-message** containing the validation message still invisible

### Results You Expected:

the <div> with class **.dx-invalid-message** visibility must be set

[2020-11-23 23:58] mrparag94 opened #15618 "Splitting CSS by Componenets rather then all in one"
let assume I only add devextreme button I'm my project but for the styling part I have to add the full css to get the styling done.. is there any way to reduce the css to the component level css..?

[2020-11-25 09:30] y-safak opened #15398 "Multi Level Header Filter Problem"
Hi,
I have a problem with dxdatagrid header filter.Header filter not working with multi level header.I have 2 level column and I want to use header filter on top level.The header filter is visible but when I click to apply button nothing change.

The column configuration like this;

[code]

![HeaderFilterProblem](https://user-images.githubusercontent.com/75015037/100208296-9f67cd00-2f19-11eb-8482-

[2020-11-26 15:52] LanetteDevEx commented on #14354
Hello,

Note that the "reloadContent" method was a temporary API, which we replaced with the built-in reload functionality in v20.2. In this version, it is not necessary to explicitly call the "reloadContent" method to update Diagram elements based on data source changes. Two-way data binding is implemented internally, so this reloading process is executed automatically without any Diagram methods

[2020-11-26 15:56] #14356 closed, assigned to kruglikovstepan

[2020-11-26 15:56] #14355 closed, assigned to kruglikovstepan

[2020-11-28 03:01] softboy99 opened #15455 "Duplicate export 'hideCallback' node_modules\devextreme\mobile\hide_callback.js"
51: export { hide_callback as __moduleExports };
52: export { hideCallback_1 as hideCallback };
53: export { hideCallback_2 as hideCallback };

[2020-11-28 04:41] hayderjebur opened #15456 "How can I inject a data from my API using Candlestick chart?"
the API that I am using has  stock prices for one day at a different time on the same day, but the library data structure as monthly, anyone knows how to implement this

[2020-11-28 11:07] excme opened #15457 "HtmlEditor don`t work in DataGrid popup editor"
### Steps to Reproduce:

[code]

### Results You Received:

HtmlEditor widget NOT in DataGrid
![image](https://user-images.githubusercontent.com/13168074/100514047-9af21d00-3182-11eb-9579-2301ddd4e8bb.png)

HtmlEditor widget IN DataGrid
![image](https://user-images.githubusercontent.com/13168074/100514059-aba29300-3182-11eb-8d71-1a38f38aa918.png)

### Results You Expected:

dxHtmlEditor must work

[2020-11-28 14:23] edubskiy opened #15458 "Missing key prop in onTaskUpdating event (and other events like onTaskMoving etc)"
### Steps to Reproduce:

1. Subscribe to onTaskUpdating method inside <Gantt ... /> component and load Gantt chart
2. Start moving task dates on UI
3. Expect receive event with key property inside onTaskUpdating method

### Results You Received:

cancel: false
component: Gantt
element: div.dx-widget.dx-gantt
newValues:
  end: Thu Nov 26 2020 17:04:45 GMT+0300 (Moscow Standard Time) {}
  start: Sat

[2020-11-30 05:53] mrparag94 opened #15459 "[Question] position text and filter icon"
how I can position text at the end of the left side and the filter icon at the end of the right side. I mean I want the functionality of justify-between...

![image](https://user-images.githubusercontent.com/72906386/100573620-6e650f00-3302-11eb-899f-debff12986d6.png)

[2020-11-30 09:12] HASSANDL opened #15460 "FileManager: list details column caption not translate"
I change locale app but not change list details column caption.
version: 20.2
[https://codepen.io/hassandl/pen/rNMaXer](https://codepen.io/hassandl/pen/rNMaXer)

![image](https://user-images.githubusercontent.com/22093903/100590348-82603f00-3309-11eb-87ec-aea849020c44.png)

[2020-11-30 10:22] alexanderPolosatov commented on #15456
Hi,

Could you please clarify what you wish to see in the Chart? You can provide a picture or a link to one of [our online demos](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/Overview/React/Light/).

[2020-11-30 10:22] #15456 closed, assigned to alexanderPolosatov

[2020-11-30 13:45] hayderjebur commented on #15456
I want the chart shows stocks for only one day but at different time, so the data value divided into hours or even minutes not days or months

[2020-12-01 08:14] hakimio commented on #15457
Seems to be working when using [custom editor](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/CustomEditors/jQuery/Light/): [Code Sandbox Angular example](https://codesandbox.io/s/custom-editors-devextreme-data-grid-forked-o2jpw)

[2020-12-01 14:06] Rai-Rai commented on #14351
When is the release of 21.1 planned?

[2020-12-01 14:16] hakimio commented on #14351
@Rai-Rai the major DX releases usually come in 6 months intervals, so I would guess May 2021.

[2020-12-01 14:31] mrparag94 opened #15491 "Splitting CSS By Component rather then all in one css"
I think it is very efficient to have CSS by component base... like if I import a button I only need button.css but right now I have to import base + theme which is not an optimal solution for large application.

[2020-12-02 06:37] duongdo-coder-710z opened #15616 "DataGrid fullScreen - dxSelectBox item is not visible when fullScreen in DataGrid"
Hi everyone! I am using Angular 6 with Devextreme version 19.2.10 library. When I using dxSelectbox in normal mode, the data still show when I click the dropdown button but when I switch to fullscreen mode, nothing happens when I click the dropdown button, so I can't see and choose the option. Can you help me solve this problem? Thank you.

[2020-12-03 11:55] hakimio commented on #15491
Have you seen: [DevExtreme Style Sheets - Migration to Sass](https://github.com/DevExpress/DevExtreme/issues/13654)?

[2020-12-03 12:36] alexanderPolosatov commented on #15456
Chart shows the whole range of provided data. If the range of data covers one day (as it is shown in [this live example](https://codepen.io/p_alexander/pen/eYdJYZm?editors=0010)), the chart shows data, but labels on the argument axis have   hours/minutes, etc. But if the range of data is greater than one day, the chart draws all data, but labels on the argument axis have days/months, etc. In this

[2020-12-03 13:12] babich-a commented on #15491
ThemeBuilder also has a 'widgets' option. It allows you to build a bundle for selected widgets only: [https://js.devexpress.com/Documentation/20_1/Guide/Common/DevExtreme_CLI/#ThemeBuilder/Command-Line_Arguments](https://js.devexpress.com/Documentation/20_1/Guide/Common/DevExtreme_CLI/#ThemeBuilder/Command-Line_Arguments)

[2020-12-03 13:37] artem-kurchenko commented on #15455
Hi,

I cannot reproduce this issue in v20.2.4. Could you please double-check with the recent version?

![hideCallback](https://user-images.githubusercontent.com/22076961/101024831-ba73b600-3585-11eb-9ef4-7a0614d45106.png)

[2020-12-03 15:03] mrparag94 commented on #15491
Well, It Has A Huge Amount Of Limitations...

Theme Builder is only about changing colors and Border Radius there nothing I can do more than that. Let Assume I Want To Add Padding on a Single Element then how should I do it..?

a button component should have a stylesheet specific to that component only and have nothing to do with another component's stylesheet.

if I import a button then I only ne

[2020-12-04 04:51] softboy99 commented on #15455
Hi,
The probelem still exists, Steps to reproduce:
$ npm init vite-app <project-name>
$ cd <project-name>
$ npm install
$ npm install devextreme@20.2.4 devextreme-vue@20.2.4 --save --save-exact
$ npm run dev

[2020-12-04 09:24] edubskiy commented on #15458
ping

[2020-12-04 11:52] kingsanu-production opened #15563 "Can i make commercial app with this opensource devextream?"
I want to do business with web app include this opesource devextream, can i do without pay and use this opesource?

[2020-12-04 14:41] jsdmitry commented on #15165
Hi,

I researched several data grid components, and I think found similar functionality - see the image below.
![image](https://user-images.githubusercontent.com/11206389/101172613-713d6800-3652-11eb-9c52-e19213396e2b.png)

Am I right that this is the desired behavior?

[2020-12-04 14:43] mrparag94 commented on #15563
The Simple And Short Answer is "NO"

[2020-12-04 15:01] jsdmitry commented on #15563
DevExtreme is free of charge If you're developing non-commercial applications. Please refer to the [License Agreement](https://js.devexpress.com/Licensing)  for license restrictions. If you have additional inquiries, I suggest you contact our Client Services department: clientservices@devexpress.com. They can answer any questions on the subject.

[2020-12-04 15:01] #15563 closed, assigned to jsdmitry

[2020-12-04 16:31] genachka commented on #15165
@jsdmitry yes more of less though it would be good to control whether the second dropdown can be an input instead and of course it column filter dropdown would need to know the datatype so that it can present an input that you can type the date in with an icon to open a calendar (like the filter row does already) or if it's a number, etc... I'd like to see a little more functionality (and would be

[2020-12-04 19:04] clemvnt commented on #15455
For more information :

I have the same issue when I try to use DevExtreme Vue components with the build dev tool/bundler [Vite](https://github.com/vitejs/vite).

I have no issue with other component libraries. I don't know if it's an issue from DevExtreme or Vite.

You can reproduce the issue with this repo : https://github.com/clemvnt/devextreme-vite (`npm run dev` or `npm run build`)
![image](h

[2020-12-04 21:51] velikayikci opened #15568 "Diagram leftExpr and topExpr does not work."
I am setting the values when diagram is loading but on the screen shapes location does not correct right.
if the <AutoLayout type="layered" /> does not work. after remove its worked :)
Version: 1.0.19

<img width="272" alt="model" src="https://user-images.githubusercontent.com/25893525/101218329-ee3d0180-3693-11eb-8615-4325eafd8747.PNG">
<img width="235" alt="model2" src="https://user-images.githu

[2020-12-04 23:45] #15568 closed, assigned to nobody

[2020-12-05 03:49] hayderjebur commented on #15456
I am using a candleStick chart, and when I fetched the data that covers one day the chart showed nothing, so I wonder how the data structured in candleStick? Also, I want to build an app where the user able to fetch range data for one day, week, the month. I wonder if I am able to do that in this library?

[2020-12-06 22:05] buu700 opened #15570 "Version 20.2.4 breaks our stylesheet"
Version 20.1.9 has the following rule in the various stylesheets (e.g. `dist/css/dx.material.purple.dark.compact.css`):

[code]

After upgrading to 20.2.4, that now looks like:

[code]

This causes our production bundled CSS to not be recognized (reproduced in Chrome, Firefox, and Safari).

[2020-12-07 04:03] babich-a commented on #15570
Hi. Devextreme stylesheets use utf8 encoding now.  Can you give a simple project that reproduce the issue?

[2020-12-07 09:22] hakimio commented on #15491
Using [devextreme-cli](https://js.devexpress.com/Documentation/Guide/Common/DevExtreme_CLI/#ThemeBuilder/Command-Line_Arguments) or [sass module system](https://github.com/DevExpress/DevExtreme/issues/13654) you can create (S)CSS bundle with only the components you are using.

You should also be able to customize all the [SCSS variables](https://github.com/DevExpress/DevExtreme/blob/21_1/scss/widg

[2020-12-07 09:43] jsdmitry commented on #15165
Thank you for your feedback! We will keep it in mind when planning future enhancements.

[2020-12-07 09:43] #15165 closed, assigned to jsdmitry

[2020-12-07 16:37] #15106 closed, assigned to andrewmakarov

[2020-12-08 11:41] QuentinLuc opened #15604 "ContextMenu in v >= 20.2.3 requires quill"
### Steps to Reproduce:

1. Import the ContextMenu from 'devextreme-react/context-menu'
2. Upgrade Use devextreme and devextreme-react  from 20.1.9 to >= 20.2.3

### Results You Received:

Since this version, I've go the following error:
![image](https://user-images.githubusercontent.com/5237095/101479333-4f91f880-3952-11eb-9219-efe74426a6b2.png)

Is there something particular that I should do?

#

[2020-12-08 14:22] artem-kurchenko commented on #15455
Hello @clemvnt and @softboy99

Thank you for your cooperation. I reproduced this issue and created a report in our Support Center for further research: [The "Duplicate export 'hideCallback" error occurs on an attempt to build an application with DevExtreme using Vite](https://supportcenter.devexpress.com/ticket/details/t956025/the-duplicate-export-hidecallback-error-occurs-on-an-attempt-to-build-a

[2020-12-08 14:22] #15455 closed, assigned to artem-kurchenko

[2020-12-08 16:12] artem-kurchenko commented on #15457
Hi,

dxHtmlEditor doesn't display a toolbar because `items` are defined outside the "toolbar" configuration object. You need to place them inside the "toolbar" option in the same manner as you did in the "#id2" widget.
`editorOptions: {
                                height: 725,
                                valueType: "html",
                                toolbar: {

[2020-12-08 16:12] #15457 closed, assigned to artem-kurchenko

[2020-12-08 16:21] excme commented on #15457
Sorry, it`s my stupid mistake

[2020-12-08 16:37] LexDX commented on #15618
Hi @mrparag94,

I see that you asked the same question in this issue: https://github.com/DevExpress/DevExtreme/issues/15491. If you have further questions, please feel free to reactivate the initial thread.

[2020-12-08 16:37] #15618 closed, assigned to nobody

[2020-12-09 11:31] ZeBobo5 opened #15685 "Custom store and no JQuery dependency"
Hi,

I'm creating a csutom store and DevExtreme require a JQuery Promise to validate the store... How could I make it if JQuery is required...

[2020-12-10 13:42] alexanderPolosatov commented on #15456
You can see what data structures are supported in the Candlestick chart in [our online demos](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/Candlestick/jQuery/Light/). You can group them in a similar way to achieve your goal.

Yes. In this scenario, I recommend you use the [visualRange ](https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxChart/Configurat

[2020-12-11 06:41] NickMitrokhin commented on #15331
Hi,

If you are going to edit data using DataGrid, do not forget to specify the key field using the [DataGrid.keyExpr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#keyExpr) option if you bind your grid to an array of items. If you bind the grid using a data source, please specify the key field name using the [key](https://js.devexpress.com/Documentation

[2020-12-11 06:59] NickMitrokhin commented on #15459
Hi,

Use CSS to align HTML elements according to your requirements. You can find the required element using the DevTools of your browser. See [How to inspect CSS rules](https://supportcenter.devexpress.com/ticket/details/k18570/how-to-inspect-css-rules).

For your particular case, override CSS rules in the following manner:
[code]

[2020-12-11 06:59] #15459 closed, assigned to NickMitrokhin

[2020-12-16 06:04] #15331 closed, assigned to NickMitrokhin

[2020-12-16 06:31] NickMitrokhin commented on #15616
Hi,

The issue is not clear. Would you please clarify what "fullscreen mode" you are talking about? It would be great if you modify [this](https://codesandbox.io/s/row-editing-and-editing-events-devextreme-data-grid-forked-96vu6) example to show the issue.

Note that 19.2 is deprecated and we do not maintain it anymore. I recommend that you upgrade DevExtreme to the most recent version: 20.2.4.

[2020-12-17 08:47] AlisherAmonulloev commented on #15272
Hi Fabiano,

Currently, this functionality is not supported. Unfortunately, we do not have examples on how to implement it. I will forward your suggestion to the team.

[2020-12-17 08:47] #15272 closed, assigned to AlisherAmonulloev

[2020-12-17 12:04] dhlukhatarenka opened #15746 "Angular DevExtreme: How to use DxDataGrid (OData dataSource) with rxjs store?"
Hello!

Similar question was asked in [stackoverflow](https://stackoverflow.com/questions/60316712/how-to-handle-odata-in-redux). How necessary is it? Is it possible at all?

Thank you.

[2020-12-18 07:31] ynslmz commented on #15331
Hi,
Even if you have used key option, this error exists after version 20.1.9
It seems that the last working version is 20.1.9

I'm trying to feed datagrid in my dynamic widget with SSE.

So I downgraded the version and it fixed.

I hope it helps you too.

[2020-12-18 11:12] SomeoneIsWorking commented on #15604
I got the error to go away by downgrading to webpack 4

[2020-12-20 09:46] hakimio commented on #15746
Check out [this support ticket](https://supportcenter.devexpress.com/ticket/details/t940984/observables-support-for-data-sources).

[2020-12-21 09:42] LexDX commented on #15604
Hi @QuentinLuc, @needo2,

We are not aware of this issue. Could you please prepare a sample project that reproduces the issue, so we can analyze and debug it locally? I look forward to hearing from you.

[2020-12-21 10:34] SomeoneIsWorking commented on #15604
[hey.zip](https://github.com/DevExpress/DevExtreme/files/5723817/hey.zip)

Sample project with webpack 5
I encountered this when trying to upgrade a project that was created from an older template that doesn't use vue-cli
The error is `Cannot read property 'call' of undefined` if imported directly or  `__webpack_require__ is not defined` if it was imported with async code splitting via webpack `im

[2020-12-21 11:58] LexDX commented on #15604
Thank you for the sample, @needo2. I checked it and found that we are already researching this issue in the context of this report: [HtmlEditor - The " __webpack_require__ => Uncaught TypeError: Cannot read property 'call' of undefined" error occurs when an application with the control is built with Webpack 5 and run in the browser](https://supportcenter.devexpress.com/ticket/details/t958647/htmle

[2020-12-21 13:00] natashaash commented on #15458
Hello,
Please accept my apologies for a delayed response.

We fixed this issue in the following thread: [Gantt for Java Script - The key argument is missing in the taskMoving and taskUpdating events](https://supportcenter.devexpress.com/ticket/details/t942915/gantt-for-java-script-the-key-argument-is-missing-in-the-taskmoving-and-taskupdating#). Please update your project to v 20.2.4 to resolve th

[2020-12-21 13:00] #15458 closed, assigned to nobody

[2020-12-23 09:34] LexDX commented on #15604
Hi @needo2 , @QuentinLuc,

We fixed this issue and published a new minor version of the DevExtreme-Quill library. Please update DevExtreme-Quill to the latest version to resolve the issue.
Feel free to reopen this issue if you have any problems.

[2020-12-23 09:34] #15604 closed, assigned to LexDX

[2020-12-23 13:01] flagmanAndrew commented on #15371
Hello,
We can reproduce this issue only when using our CSS of v20.2.4 and JS of v20.2.3. Make sure that your project uses the DevExtreme CSS and JS files of the same version. Versions are specified at the top of the files.

If the versions are the same, please send us a sample demonstrating the problematic behavior.

[2020-12-24 03:38] softboy99 opened #15850 "latest v21.1.1 npm package is different with the github"
after running npm install, the package downloaded are different with here

[2020-12-24 07:01] NickMitrokhin commented on #15398
Hi,

DataGrid does not support the header filter for bands. The only option I can suggest is to configure the header filter at the data columns level: "DUAL", "SOLO", "SPIC" and "PIC".

[2020-12-24 07:01] #15398 closed, assigned to NickMitrokhin

[2020-12-24 07:04] NickMitrokhin commented on #15616
This issue was closed due to inactivity. If you found a bug or have a question about our product, [create a new issue](https://github.com/DevExpress/DevExtreme/issues) on GitHub or submit a ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-12-24 07:04] #15616 closed, assigned to NickMitrokhin

[2020-12-24 12:04] albertoVieiraNeto commented on #7295
i'm using 20.2 and this is still not included. neither in the documentation.

[2020-12-26 09:48] hakimio commented on #7295
@albertoVieiraNeto it is included: [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Form/UpdateItemsDynamically/jQuery/Light/). It's just not obvious how to use it.

[2020-12-28 09:54] DokaRus commented on #7268
@Yookey You can generate the correct URL on the client side if you know the folder that you usually use for saving images and the file name that you can get from the name field. Please review the [File Uploading](https://js.devexpress.com/Demos/WidgetsGallery/Demo/FileUploader/FileUploading/Angular/Light/) demo to learn how to get the file name.
If you face any issues, feel free to create a ticket

[2020-12-28 10:25] DokaRus commented on #15685
CustomStore [supports](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/CustomStore/Configuration/#load) jQuery and native promises as well. Please refer to the following guide for more examples of the Custom Data Sources implementation [Specify a Data Source - Custom Data Sources](https://js.devexpress.com/Documentation/Guide/Data_Binding/Specify_a_Data_Source/Custom_Data_Sources/)

[2020-12-28 10:25] #15685 closed, assigned to nobody

[2020-12-28 13:01] Semigradsky commented on #14351
Do you have plans for moving `devexpress-diagram`, `devexpress-gantt`, `devextreme-quill` to `optionalDependencies`? Or just remove from `dependencies`

[2020-12-31 01:17] softboy99 commented on #14351
Hi,
Does the 21.1.1-sprint3 is your 21.1 alpha?

[2020-12-31 10:52] #15371 closed, assigned to flagmanAndrew

[2021-01-01 02:28] 101arrowz commented on #14351
An alternative to `jszip-esm` would be [`fflate`](https://github.com/101arrowz/fflate). In addition to supporting ESM, it is much faster, much smaller, and has [these added benefits](https://github.com/davidramos-om/zipcelx-on-steroids/pull/1#issue-545029437).

[2021-01-01 14:53] w4ss1m9797 commented on #7295
i'm using 20.2 and this is still not included. neither in the documentation.

[2021-01-01 20:07] hakimio commented on #7295
@w4ss1m9797 are you "echo" bot?

[2021-01-01 22:08] w4ss1m9797 commented on #7295
iam not thats the truth even i contacted support they told me use usememo and usecallback ... they know that it is not working with react

[2021-01-01 22:11] hakimio commented on #7295
Maybe then you should open a new issue? This has nothing to do with React.

[2021-01-01 22:14] w4ss1m9797 commented on #7295
Listen , iam not here to argue , i just confirmed like others that this dynamic update not working maybe from my code but even contacted support no solution and i will open issue for sure

[2021-01-01 22:17] hakimio commented on #7295
I am not arguing, just letting you know that posting here is not helpful to anyone.
Also, [React demo seems to be working in the demo page](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Form/UpdateItemsDynamically/React/Light/).

[2021-01-01 22:22] w4ss1m9797 commented on #7295
thanks bro , and abt this code i implemented it as iti is and run profiler it re render whole form :D

[2021-01-01 22:59] hakimio commented on #7295
In the demo, only the form group is re-rendered (you can check with Chrome "Rendering" debugger if you don't believe me). Anyway, check how they have nested form item groups inside groups to get some idea how it supposed to work.
If you still can't make it work, create online demo showing what you are doing.

[2021-01-02 01:55] kingsanu-production opened #15924 "Can i use Angular DevExtream + razor DevExtream in same project?"
I'm using .net core angular where i would like to use devextream in angular as well as in razor page. can i do this? and if i do than will be start performance problem?

[2021-01-04 09:46] ZeBobo5 commented on #15685
'fail' and 'done' methods do not exists on native Promise... Only on JQuery. But they are used on a lot of your components...

[2021-01-04 17:08] #15460 closed, assigned to AlisherAmonulloev

[2021-01-05 12:46] radomeit commented on #14285
Hi @MaximKudriavtsev , can you give any time schedule, when this great functionality will be available for the timeline view as well?

[2021-01-05 13:36] antoni-sganzerla-reitech commented on #14345
Hello, I have a Data Grid with Master-Detail but when generating the pdf, the Master-Detail is not rendered, am I doing something wrong?

Here is my example project:
https://codesandbox.io/s/8o3u4?file=/src/app/app.component.ts

[2021-01-07 01:30] softboy99 commented on #15850
the npm package version is in fact 21.1.0, rather than 21.1.1

[2021-01-11 04:17] #15570 closed, assigned to babich-a

[2021-01-11 08:30] MaximKudriavtsev commented on #14285
Hi @radomeit,

This feature is a high priority for us. We are working on it right now. Virtual scrolling in timelines will be available in v21.1 (June-July 2021). I will update this topic once we have any news.

[2021-01-11 09:54] #15491 closed, assigned to babich-a

[2021-01-11 10:53] KuznetsovVN commented on #14345
Hello, @antoni-sganzerla-reitech

At present, PDF Export is in CTP and we do not support the Master-Detail scenario. We will take your scenario into account during further development though I cannot give any promises or estimates here at the moment. If we start working on this feature, it will appear in our Roadmap or on the GitHub page.

[2021-01-11 13:19] wpitallo opened #15935 "'dxNavBar' is deprecated in 20.1. Use the 'dxTabs' widget instead."
Hi receiving this warning:

'dxNavBar' is deprecated in 20.1. Use the 'dxTabs' widget instead.

Is this true?

[2021-01-12 08:30] dhlukhatarenka opened #15945 "ODataStore errorHandler does not support all httpStatuses"
[ODataStore errorHandler](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/ODataStore/Configuration/#errorHandler) does not support all httpStatuses:
When happens error with status code 414 (URI Too Long) httpStatus contains 0 and error.message "Unspecified network error".

[2021-01-12 08:44] mhmdali98 opened #15946 "I translated the message file into Arabic, if you want to add it this is the file"
file JSON in Arabic language

{
    "ar": {
        "Yes": "نعم",
        "No": "لا",
        "Cancel": "الغاء",
        "Clear": "تنضيف",
        "Done": "تم",
        "Loading": "جار التحميل ...",
        "Select": "تحديد ",
        "Search": "بحث",
        "Back": "رجوع",
        "OK": "حسنا",

        "dxCollectionWidget-noDataText": "لا توجد بيانات للعرض",

        "dxDropDownEditor-selectLab

[2021-01-12 21:08] #15617 closed, assigned to andrewmakarov, AlisherAmonulloev

[2021-01-13 12:14] Semigradsky opened #15976 "`tagTemplate` received empty string instead of item (object)"
### Steps to Reproduce:

[code]

### Results You Received:
The item is `''`

### Results You Expected:
The item is `{ name: '', value: '' }`

---

The error here: https://github.com/DevExpress/DevExtreme/blob/96b04313251759374e113c48e8f615f9eaae1cb5/js/ui/tag_box.js#L1061-L1062

You should compare `displayValue` with null/undefined

[2021-01-14 12:33] artem-kurchenko commented on #14351
Hi,

@softboy99

Though the current source code (21_1) uses ES 6 modules, there is still a number of issues that we need to address before telling you that everything is ready for the first preview. We're also still testing dependent packages and common use cases. Once we are done with these tasks, we'll present all changes and release a package for public testing. Please watch for our updates her

[2021-01-15 07:59] DokaRus commented on #15976
Hi, @Semigradsky

I reproduced this issue on my side and created a public ticket in our Support Center:
https://supportcenter.devexpress.com/ticket/details/T965054

We will update the ticket once we have any results. Thank you for your patience!

[2021-01-15 07:59] #15976 closed, assigned to DokaRus

[2021-01-15 08:31] onebalaban commented on #15946
Hello,

We curate only the following dictionaries: en, de, ja, ru. Other dictionaries are supported by our community. Could you please submit a pull request with your dictionary to our GitHub repository? You can find details in the following thread: https://supportcenter.devexpress.com/ticket/details/t964294/the-taiwanese-language-dictionary-file

[2021-01-15 08:42] onebalaban commented on #15924
Hello,

It seems that it is possible to render Angular content in Razor pages as shown at: [Adding Angular Components to an Existing Razor Page in an ASP.Net Core App](https://momonet.io/posts/2020-03-11-adding-angular-app-to-an-existing-razor-page/). However, we didn't test this scenario and cannot guarantee that our components will work as expected. I recommend you use our ASP.NET Core controls

[2021-01-15 08:42] #15924 closed, assigned to onebalaban

[2021-01-15 08:52] onebalaban commented on #15850
Hello,

The latest version is 21.1.1-alpha-20350-0313. Since major v21.1 is not released yet, we don't have minor versions for it. Each alfa version is v21.1.0. You can see this in source files:
`Version: 21.1.0 (build 20350-0313)
 Build date: Tue Dec 15 2020`

[2021-01-15 08:52] #15850 closed, assigned to onebalaban

[2021-01-15 08:53] onebalaban commented on #15935
Hello,

Thank you for contacting us.
dxNavBar is an old component that we developed for our SPA mobile suite. We don't plan to develop it in the future. Please consider switching to dxTabs.
It seems that we forgot to add info about deprecation in our help topics. We'll check and revise this.

[2021-01-15 08:53] #15935 closed, assigned to onebalaban

[2021-01-15 09:20] AlisherAmonulloev commented on #15276
Hi Fabiano,

The BarGauge widget's "values" option should be initialized with an array of Number objects. Check this help topic for more information: https://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxBarGauge/Configuration/#values
Currently, it is not possible to assign an array of objects to this option.

[2021-01-15 09:20] #15276 closed, assigned to AlisherAmonulloev

[2021-01-15 09:31] onebalaban commented on #15945
Hello,

We return such an error message if the status code is less than 400: https://github.com/DevExpress/DevExtreme/blob/21_1/js/data/utils.js#L78

Could you please elaborate on the issue and describe how we can reproduce it? Then, we will research it further.

[2021-01-15 14:14] ducmerida commented on #14351
@101arrowz @IlyaKhD  Vite converts CommonJS dependencies to ESM in a Pre-Building step
![imagen](https://user-images.githubusercontent.com/14205169/104737063-1401ff80-5744-11eb-86e4-b6eb8ede3ef4.png)
https://vitejs.dev/guide/dep-pre-bundling.html

[2021-01-16 04:13] ppoisson opened #16029 "Chart Axis Label Template Needs More Data"
If you ever create a Chart Axis Label Template you'll notice there are only two useful values you can get back, value and valueText. Both being essentially the same, there is no way to access the property/values for the data relating to that label.  In my case I needed a way to create a multi-column SVG table as a label.  The only way I could achieve this is either finding a way to create multiple

[2021-01-16 08:01] mhmdali98 commented on #15946
i cannot add pull request ,why?

[2021-01-16 09:58] BrandoCaserotti commented on #13654
Would be nice if you could add more variables to improve widgets / overall theme customization. Currently every widget (generic and material) own two scss files (`_color.scss` and `_sizes.scss`) but many of them are just empty.

[2021-01-16 16:01] oixan opened #16030 "Error: Cannot read property 'brokenRules' of undefined - DataGrid with setCellValue and editTemplate"
### Steps to Reproduce:

1.  Click on the first row of the column "Owner" ,
2.  Choose any value
3.  Click next cell.
4.  Error: BrokenRule of undefined

### Live Example:
https://codesandbox.io/s/custom-editors-devextreme-data-grid-forked-nork1?file=/App.vue

### Results You Received:
Error: Cannot read property 'brokenRules' of undefined

### Results You Expected:
Focus move on the next cell

##

[2021-01-17 10:45] BrandoCaserotti opened #16031 "Wrong @use statement in material scss file"
### Steps to Reproduce:

1. Go to file `node_modules\devextreme\scss\widgets\material\list\_sizes.scss`
2. See `@use "../list/colors" as *`.  Other widgets are not using `_colors.scss` in `_sizes.scss`

### Results You Received:

This is preventing me from doing :

[code]

removing the wrong statement makes everything work as expected, as pointed out in #13654.

List is the only widget i've found

[2021-01-18 08:39] luweiymy opened #16032 "The problem of displayFolder in field chooser."
### Steps to Reproduce:

1. In field chooser these 2 columns shown under folder named "test".

### Results You Received:
When i clicked checkbox of folder it only checks for the first column
![image](https://user-images.githubusercontent.com/6321099/104891246-a48e4900-59ab-11eb-8248-dc27d034a68e.png)

### Results You Expected:

 i want it to check all columns under that folder
![image](https://use

[2021-01-18 11:14] babich-a commented on #16031
Hi @BrandoCaserotti . Can you send a full example?
I have tried this one, and it compiles successfully:

[code]

Actually, you do not need `@use "node_modules/devextreme/scss/widgets/material/list/sizes";`. The size scheme is defined in `@use "node_modules/devextreme/scss/widgets/material/sizes" as themeColors with ($size: "default");`

[2021-01-18 11:45] onebalaban commented on #15946
You can use the Fork-and-Branch Git Workflow: https://blog.scottlowe.org/2015/01/27/using-fork-branch-git-workflow/.

Perform the following steps:

- Fork our GitHub repository;
- Clone the forked repository to your local system;
- Create a feature branch in which to place your file;
- Add your file to this branch;
- Commit the changes to the branch;
- Push the branch to GitHub;
- Return to GitHub

[2021-01-18 13:18] mhmdali98 commented on #15946
ok i send pull request

[2021-01-18 13:19] #15946 closed, assigned to onebalaban

[2021-01-18 19:22] onebalaban commented on #16032
Hello,

We use our [support center](https://supportcenter.devexpress.com/ticket/list) to review technical questions. Please submit a ticket there. In the ticket, describe the issue and attach a simple project to demonstrate your entire implementation and the issue. We will be happy to review your project and help you.

[2021-01-18 19:22] #16032 closed, assigned to onebalaban

[2021-01-18 19:24] onebalaban commented on #16030
Hello,

I cannot reproduce the "Cannot read property 'brokenRules' of undefined" error in your example. I got the "An error has occurred" in DataGrid. The console and Network tab indicate this error as the "500" server-side error. This means that some error occurred on the server in the UpdateTask method. Could you please clarify how to reproduce the initial error?

[2021-01-18 20:31] bobskigit opened #16054 "Sprint 5 of 21.1 scheduler crashes if scrolling="virtual""
In the latest Sprint 5 of 21.1 the scheduler crashes if you try to use scrolling="virtual". If you remove the virtual scrolling its OK.

The error is

core.js:6063 ERROR TypeError: Cannot read property 'dateTable' of undefined
    at layout.js:226
    at d.DateTableLayoutBase [as constructor] (layout.js:243)
    at d.L [as render] (preact.module.js:1)
    at $ (preact.module.js:1)
    at m (preact

[2021-01-18 20:46] oixan commented on #16030
Sure, this is a video example of the problem.

[https://screencast-o-matic.com/watch/crVFYC92Pk](url)

Anyway something is not working properly becouse i cant leave the cell after i choose some value.

[2021-01-21 07:58] dhlukhatarenka commented on #15945
When OData URL length more than 8192 (in my case in chrome) I'm getting httpStatus in errorHandler equals '0', but in browser I clearly see 414.
For example for unauthorized error status is right.

[2021-01-22 10:59] AdMBale opened #16118 "DevExtreme Theme Builder upload JSON metadata failed"
### Steps to Reproduce:

1. Open Dx Theme builder page (https://devexpress.github.io/ThemeBuilder/)
2. Import a theme
3. DevExtreme Metadata
4. Upload File
5. Select own .json metadata file from computer

### Results You Received:
The page does nothing. In the console (Chrome, Firefox), the following error message is shown:
ERROR TypeError: is is not a function
    at e.importMetadata (main.3b7af8

[2021-01-23 08:36] bbortt opened #16130 "feature request: scheduler component in a timeline/hour."
### Steps to Reproduce:

I tried making somewhat of a timeline/hour using your `Scheduler` component (in Angular).

1. use the `Scheduler`
2. select type `timelineDay`
3. set `startDayHour` to 8:00 AM (value = 8)
3. input interval of anything less than 1 (floating point number), let's say 0.5

### Results You Received:

the scheduler does not load anymore.
[code]
of course, this is an interesting

[2021-01-25 09:25] warnat commented on #14345
Why do I see the field names and not the column names ? Or how do I change that ?

[2021-02-01 15:24] indyrhett commented on #3737
Any word on this feature?

[2021-02-02 12:59] arndwestermann opened #16249 "DxDrawer - Dynamic changing minSize causes a padding-right to be added"
Hello there, i found an issues in Version 20.2.4 where i dynamically setting the minSize property of a drawer. I used an observable to detect if i'm on a small screen size or not. If it is a small size minSize will be set to 0 resulting in a disappearing side nav and if it is a bigger screen size, the side nav displays the icons. But when i rotate the screen to landscape and back the drawer gets a

[2021-02-03 15:20] scss-sschultz commented on #14345
Hello. Will it be possible to export dxCharts (etc) and dxDataGrids into one PDF? Like a sales dashboard with charts and a grid.

Thanks!

[2021-02-04 03:54] softboy99 opened #16279 "step progresss bar"
Is there linear step progress bar widget?

[2021-02-04 21:48] b1tzer0 commented on #16279
There is a similar ticket already open in the support portal.

If it is what you are looking for please +1 there.
[https://supportcenter.devexpress.com/ticket/details/t669617/steps-wizard-feature-request](https://supportcenter.devexpress.com/ticket/details/t669617/steps-wizard-feature-request)

[2021-02-08 08:07] KuznetsovVN commented on #14345
Hello, @scss-sschultz

You can include any custom content alongside the grid using the library's jspdf functionality. Please check the [Include custom content alongside the grid](https://codepen.io/kuznetsovvn/pen/mdVzEJR) example.
Also, I have created a simple sample to demonstrate how you can export dxChart and dxDataGrid into one PDF document.
[https://codepen.io/kuznetsovvn/pen/zYorawq](https:

[2021-02-09 08:49] alexanderPolosatov commented on #16029
Hi,

To get additional information in axis.template, I recommend you use a widget instance. For this, you can use the [onInitialized](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxChart/Configuration/#onInitialized) event. I created an [example](https://codepen.io/p_alexander/pen/ExNyNEj?editors=1010) that illustrates how to get all [points](https://js.devexpress.com/Documen

[2021-02-09 08:49] #16029 closed, assigned to alexanderPolosatov

[2021-02-11 13:47] onebalaban commented on #16030
Hello,

Please accept my apologies for the delayed response. I checked the steps you shared. However, I don't understand why you need multiple clicks on the same cell. Could you please elaborate on this?

As for leaving the current cell, this issue may be related to the error that occurs in your DataGrid when editing. Please fix the error first. If you need assistance with this technical task, ple

[2021-02-11 14:29] artem-kurchenko commented on #15945
Hi @dhlukhatarenka

Could you share what OData service type you have? I tested existing public services but they throw the 400 and 404 errors in such scenarios: https://codepen.io/ArtemDevExpress/pen/LYbbxgj?editors=1010

It would be nice if you share what server-side library and data provider you use so we can take this information on further development.

[2021-02-12 08:58] andrewmakarov commented on #16130
Hi,
cellDuration property expects an integer value. More details you can found in our [documentation](https://js.devexpress.com/Documentation/21_1/ApiReference/UI_Components/dxScheduler/Configuration/#cellDuration).
We don't have built-in solution for display a view based an hour.

[2021-02-12 14:50] bbortt commented on #16130
thanks for your feedback. I mostly discovered that by my self already.
would you be willing to accept a PR if I implement an hour-based timeline?

[2021-02-13 12:17] oixan commented on #16030
Hi, thank for the reply.

After some investigation i tried that replace the mistaken row of code in setCellValueDescizioneArticolo

  currentRowData.Owner = "Samantha Bright";
  newData = Object.assign(newData, currentRowData);

with the correct

  currentRowData.Owner = 2;
  newData = Object.assign(newData, currentRowData);

all work fine

[2021-02-14 16:01] kingsanu-production opened #16376 "Error in Odata with selectbox customitem insert."
Hello Team!
I'm using razor page for selectbox to add custom item with OData. Getting record is well, insert is also well, but after insert selectbox doesn't able to show inserted value.

Razor Page
![image](https://user-images.githubusercontent.com/65809324/107881681-739e2700-6f0b-11eb-94e7-a52d6d307dfa.png)

Javascript
![image](https://user-images.githubusercontent.com/65809324/107881688-7dc0258

[2021-02-16 12:06] dhlukhatarenka commented on #15945
Hi @artem-kurchenko

I'm using netcoreapp3.1, but I think it is not important.
400 and 404 still wrong status code for error when your URL very long. Right status is **414 URI Too Long**
Unfortunately I can't share anything now.

[2021-02-16 13:36] onebalaban commented on #16030
As I understand, the issue is resolved. I didn't manage to reproduce any errors in your CodeSandBox with your updated code. Thank you for informing us about your progress.

[2021-02-16 13:36] #16030 closed, assigned to onebalaban

[2021-02-16 14:23] nikitashum opened #16399 "Column Fixing brakes render of expanded columns"
### Steps to Reproduce:

1.  Have an expandable table with columns that include dx-tab-panel
2. Enable column fixing
3. Expand the column
4. The table doesn't resize or adjust to a new column size

### Results You Received:
![image](https://user-images.githubusercontent.com/36233163/108075286-7bc0a880-706a-11eb-8228-c587e90fc681.png)

### Results You Expected:
![image](https://user-images.githubus

[2021-02-17 08:27] onebalaban commented on #16399
Hello,

We need to reproduce the issue and debug the code to check if this is a bug. We cannot do that with screenshots only. Please share a simple project to demonstrate the issue. You can use our [Angular template](https://github.com/DevExpress/devextreme-angular-template) to create this project.

[2021-02-18 07:25] goncharov-do commented on #7974
@AlekseyMartynov do you have any updates regarding plans of supporting OData feature? We are going to utilize it and want to understand if it is excluded from future plans.

[2021-02-18 13:34] #16279 closed, assigned to nobody

[2021-02-18 14:17] AryamnovEugeniy commented on #16054
Hello!

Please, accept my apologies for a late response.
I could not reproduce this issue. But we fixed a similar bug while working on [21.1 Sprint 6](https://github.com/DevExpress/DevExtreme/releases/tag/21.1.1-sprint.6). Could you please check whether the issue still persists? If it does, could you update [my sample ](https://codepen.io/pin361/pen/oNYjBrg?editors=0010) so that the problem would

[2021-02-18 14:37] bobskigit commented on #16054
I have tried it using the latest Sprint 7 and that problem is fixed.

However if you load the resources from a datasource rather than an Array it crashes. Should I add this as a new Issues?

Regards

Bob Lamb

From: Aryamnov Eugeniy <notifications@github.com>
Sent: 18 February 2021 14:17
To: DevExpress/DevExtreme <DevExtreme@noreply.github.com>
Cc: bobskigit <robert.lamb3@btinternet.com>; Author <

[2021-02-19 06:29] AryamnovEugeniy commented on #16054
Thank you for your interest in our product! There is no need in creating a separate issue. But I could not reproduce the problem with dataSource you described. Could you update my sample (https://codepen.io/EugeniyAryamnov/pen/YzpQdor?editors=0010) so that it would be reproduced? It will help us solve this sooner.

[2021-02-19 09:29] bobskigit commented on #16054
I’ll describe the problem as it is difficult to produce a small example as its part of a large Angular project.

If you load the sources from a service like this

<dxi-resource fieldExpr="channelId"  displayExpr="name" [allowMultiple]="false"

    [dataSource]="displayitems">

  </dxi-resource>

datasource is loaded like this

loadResources {

this.resourceService.load ().subscribe( items => {

th

[2021-02-19 10:53] andrewmakarov commented on #16130
@bbortt
We can review PR. But we can merge it on conditions that:
- the code must match our requirements(code styles, code rules, code design)
- all test must pass
- new functionality needs to be tested according to our requirements(unit testing, functional testing and screenshot testing)

[2021-02-20 09:53] AryamnovEugeniy commented on #16054
I could not reproduce this issue based on your example. Could you share with me the resources (`this.displayitems = items;`) you use when you get this error?

[2021-02-20 11:26] dxbykov opened #16455 "TypeScript support enhancements"
# The Problem

DevExtreme TypeScript API includes areas that do not fully utilize TypeScript. It may affect overall developer experience. According to the feedback received from DevExtreme users, we can highlight the following main issues:

- Certain API members are declared as ‘any’.
- It is difficult to reuse internal types such as event/method arguments in user projects.

# The Proposed Solutio

[2021-02-20 12:11] MaximKudriavtsev commented on #16130
Hi @bbortt,

As you mentioned before "nobody ever asked for" this functionality. It would be helpful if you describe your use-case in detail. Your scenario, some pictures, or screenshots - everything might be useful for us in future development.

[2021-02-20 13:21] bobskigit commented on #16054
This is smallest example to show it..

HTML

<dx-scheduler [dataSource]="scheduleSource" currentView="timelineDay" [crossScrollingEnabled]="true" [views]='["timelineDay"]'

  [showAllDayPanel]='false' [groups]="['channelId']" [currentDate]="currentDate">

  <dxi-resource fieldExpr="channelId" displayExpr="name" [allowMultiple]="false" [dataSource]="displaychannels">

  </dxi-resource>

<dxo-scroll

[2021-02-22 06:22] softboy99 opened #16464 "remove vscode problem tab theme builder and cli dart error when devextreme-themebuilder and cli in package.json devdependency"
Is there a way to remove vscode problem tab theme builder and cli dart error when devextreme-themebuilder and cli in package.json devdependency?

[2021-02-22 17:04] #16031 closed, assigned to babich-a

[2021-02-23 13:44] bbortt commented on #16130
@MaximKudriavtsev sure can. I am a little short in time lately, especially because spring term has just started. but, I was able to start coding a little yesterday: https://github.com/DevExpress/DevExtreme/compare/21_1...bbortt:feature/timeline-hour?expand=1.

So, I am planning a big event with a group of people. By big I mean around 7000 attendants spread over two weekends. Well, at least that wa

[2021-02-24 11:36] dxbykov opened #16468 "Native components for Angular, React, and Vue"
# The Problem

The JavaScript world evolves rapidly. As such, we must fulfill user demand whenever a popular JS framework appears or an existing framework receives a major update. Our commitment is then to produce quality products and ship them as soon as possible.

A few years ago, we decided to wrap existing JS components for Angular, React, and Vue, so you can leverage our 70+ JavaScript compon

[2021-02-24 13:27] b1tzer0 commented on #16468
Please don't take away support for KnockoutJS, I know you guys no longer advertise it; but we have built a large scale application on the Knockout framework and DevExtreme.

[2021-02-24 14:49] MaximKudriavtsev commented on #16130
@bbortt,

Thank you for sharing your materials. Please correct me if I misunderstand something, but I'm not sure how this `timeline hour` view can reduce the amount of content.

You mentioned: "But, already now it's quit big and one has to scroll to the right. A timetable/hour would do much bedder!"

The Timeline Hour view represents one hour and consists of minutes. Why do you need such detalizat

[2021-02-24 14:56] bbortt commented on #16130
@MaximKudriavtsev ok, maybe "reduce the amount of content" is the wrong word choice :) let's say it opens up more filter possibilites which then "reduce the amount of content"..
I already knew these properties. but what if I want to show, let's say, day 1 from 6 am to day 2 and 6 am. it's not possible without manually calculating two scheduler components side by side as far as I know. or am I wron

[2021-02-24 15:01] MaximKudriavtsev commented on #16130
@bbortt

You are right.

[2021-02-24 16:09] sbusch commented on #16468
First of all, great to read this in your roadmap! 👍🏼

I think examples that show the different limitations / quirks of the current "wrapper" solution would be very helpful and need to be collected, ideally with an example of how a framework-native solution would look like. We as users could add them, and maybe more such examples can be collected from support tickets?

And just an idea, if we don't

[2021-02-24 16:22] dxbykov commented on #16468
@b1tzer0 We use KnockoutJS-based DevExtreme components in our own products, so we don't have immediate plans to abandon it.

@sbusch You are right. That's why I decided to create the [Google Form](https://forms.gle/B1xj5v6J2iSuQg2E8) referenced in my original message to collect such cases. Everyone is welcome to submit as many forms as you need to share every single use case for your target framew

[2021-02-24 16:30] sbusch commented on #16468
Oh sorry, I jumped directly from your roadmap blog post to the GitHub comment field. Should have read the ticket first :-P Sorry for spamming...

[2021-02-24 19:50] hakimio commented on #16455
Would be nice if DX store and datasource would have better typings as well.
Here is an example of some of custom typings we have used for reference:
[store](https://github.com/hakimio/dx-akita/blob/master/apps/dx-akita/src/app/shared/services/store/dx-store-manager/dx-store-manager.model.ts)
[load options](https://github.com/hakimio/dx-akita/blob/master/apps/dx-akita/src/app/shared/services/store/

[2021-02-24 19:58] anticomputer opened #16475 "GHSL-2020-348: seeking security contact for your project"
The GitHub Security Lab reported a potential security vulnerability (GHSL-2020-348) in your project (devexpress/devextreme). We are approaching 90 days since our initial report and as per our [coordinated disclosure policy](https://securitylab.github.com/advisories#policy), we intend to publish a public advisory detailing this issue. If you wish to discuss or further coordinate a response to this

[2021-02-25 12:42] AryamnovEugeniy commented on #16054
Thank you for your sample! I reproduced the issue, we will research it.

[2021-02-27 01:12] #16118 closed, assigned to nobody

[2021-03-01 18:00] IgnatovDan commented on #16249
Please accept our apologies for the delay. We've been very busy for the last days. We are researching this issue.

![image](https://user-images.githubusercontent.com/2094015/109540793-04602f80-7ad4-11eb-8dad-8846f714d754.png)

[2021-03-01 19:05] ThomasGHenry opened #16516 "groupedData[0] can be undefined. groupedData[0].allDayPanel blows up"
There are a few places where getting and setting `groupedData[0].allDayPanel` blows up because `groupedData` is empty.

[2021-03-02 07:51] #16475 closed, assigned to DokaRus

[2021-03-02 09:40] arndwestermann commented on #16249
Absolutely no worries, I'm glad that someone is taking care of this problem!

[2021-03-02 11:27] jsdmitry opened #16538 "HtmlEditor - Table management enhancements"
# HtmlEditor - Table management enhancements

## The Problem
Before we release our HTML/Markdown editor as RTM, we would like to address the following table-related issues:

- It is impossible to add a table header, merge several cells, or enter cell text in multiple lines.
- Table management is now available only from the toolbar. We want to make this more user-friendly and allow users to manage

[2021-03-02 13:25] jsdmitry commented on #14724
Hello,

We have posted [Table management enhancements](https://github.com/DevExpress/DevExtreme/issues/16538). Let's continue our discussion there.

[2021-03-02 13:25] #14724 closed, assigned to DokaRus, jsdmitry

[2021-03-02 17:32] IgnatovDan commented on #16249
In order to better serve and track this issue I created a new entry in our Support Center: [T978380 - Drawer - Incorrect padding is added after minSize is changed](https://supportcenter.devexpress.com/ticket/details/t978380)
Please add it to your Favorites to be notified when its status is changed.

[2021-03-02 17:32] #16249 closed, assigned to IgnatovDan

[2021-03-04 05:27] vsantin commented on #3737
Any idea when it will be released?

[2021-03-04 15:11] MarkG-IEL opened #16575 "Support React 17"
### Steps to Reproduce:

1. Create a project with react 17.x as a dependency
2. Attempt to install devextreme 20.2

### Results You Received:
[code]

### Results You Expected:

Installation without warnings

NOTE: While the error talks about the issue being devextreme-react, the actual dependency is in this repo's package.json. It appears there may be an issue as enzyme-adapter-react-16 doesn't su

[2021-03-05 03:09] softboy99 opened #16580 "feature requestment for multiple cell selection for DataGrid"
feature requestment for multiple cell selection for DataGrid

[2021-03-05 04:37] softboy99 opened #16581 "Add the public multiline option to dxToolbar Configration object"
Add the public multiline option to dxToolbar Configration object

[2021-03-05 08:58] softboy99 opened #16584 "dxtoolar labelLocation=left like dxForm"
dxtoolar labelLocation=left like dxForm

[2021-03-09 01:53] softboy99 opened #16594 "MemoEx widget"
Please add MemoEx widget

[2021-03-09 06:19] jsdmitry opened #16595 "DataGrid and TreeList - New record position"
# DataGrid and TreeList - New record position

## Problem
When users add a new record to the DataGrid or TreeList, an empty row for it appears at the top. This behavior is inconvenient in scenarios when users want to add many records to the bottom of the table one by one - you have to go to the top to enter a new record and then scroll to the bottom to see it.

## The Proposed Solution
We plan to

[2021-03-09 08:47] bobskigit opened #16601 "Latest Sprint 8 does not build in Angular"
The latest Sprint 8 build does not build correctly in Angular when using ng b --prod.

This is the output from the build process

Error: ./node_modules/devextreme/renovation/preact_wrapper/component.js
Module not found: Error: Can't resolve 'preact' in '/opt/atlassian/pipelines/agent/build/node_modules/devextreme/renovation/preact_wrapper'
resolve 'preact' in '/opt/atlassian/pipelines/agent/build/

[2021-03-11 08:18] onebalaban commented on #16594
Thank you for the suggestion. We don't plan to implement new widgets in 2021. However, we can do it in the future. In the meantime, could you please tell us more about this widget and share screenshots with us so that we can better understand your needs?

[2021-03-11 09:28] softboy99 commented on #16594
for long text, display an icon, when click show and edit in popup, like your winform MemoEx

[2021-03-12 16:01] jonathanalberghini commented on #7268
How about adding support for S3 uploading?

[2021-03-12 18:20] l3of0x commented on #14345
Would you consider an export option as "raw html" so that the table could be embedded into any application that supports HTML, for example Word?

[2021-03-13 15:01] elessariel commented on #3737
A little hint on the progress would be more than welcome

[2021-03-13 19:19] seanoz commented on #12343
Did you ever manage to figure this out? Banging my head against the wall right now, trying to do the same.

[2021-03-14 17:23] RezaRahmati commented on #12343
No, unfortunately

[2021-03-15 07:08] Leon-Alexey commented on #16468
Angular, React, and Vue already outdated, switch to web components technologies, and it will be as you wrote "fully native internal component architecture". I have already tried running dxDataGrid in the shadow DOM, the component displayed correctly and even functioned, and if you do 2 things:
1) bind to the shadowRoot node instead of the document
2) provide visibility in the shadow DOM

then the

[2021-03-15 09:40] KuznetsovVN commented on #14345
Hello, @l3of0x

Thanks for sharing your idea with us, we will keep this feature in mind, but now it is not in our plans.
We are currently working on pdf export and once completed, we’ll take a look at raw html export.

[2021-03-15 13:27] jsdmitry commented on #7268
FileUploader doesn't currently support Amazon S3, but we'll consider adding this feature in the future. You can build your solution based on the [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/FileUploader/AzureDirectUploading) as well.

[2021-03-15 14:03] #13636 closed, assigned to jtoming830

[2021-03-16 14:29] MaximKudriavtsev commented on #14351
Hi everyone,

We're happy to announce that ES6 modules are available in DevExtreme NPM distribution (starting [21.1 Sprint 8](https://github.com/DevExpress/DevExtreme/releases/tag/21.1.1-sprint.8)).

We've done some internal testing and can see better tree shaking results. We built bundles with certain individual components to compare the final bundle sizes. Here are our results:

| Component | cj

[2021-03-16 16:30] groshenkovamarina commented on #3737
Hi @indyrhett @vsantin @elessariel!
This functionality is currently under development. If everything goes according to plan, we will publish it in v21.1. Please stay tuned for our announcements.

[2021-03-16 20:44] CollinHerber opened #16705 "HtmlEditor - Line Height Selection Enhancement"
# Html Editor - Line Height Editing

## Problem
Line height is a very common thing to see changes based on which content you are editing within a web page. Not having line height available to be edited causes problems with hard-coding and defeating some of the greatness of a WYSIWYG Editor.

## Proposed Solution
Adding a controller, I imagine something like how font size is done now, where you can

[2021-03-16 22:20] pikhovkin opened #16706 "Need an example of moving an item between two grouped dxList"
Need an example of moving an item between two grouped dxList.

Here is my attempt to do it https://codesandbox.io/s/item-drag-drop-devextreme-list-forked-88s8v?file=/App.js
The added element just jumps to the end without grouping.

[2021-03-17 08:55] Nisden commented on #16455
It would also be very nice if less of the properties on your events would be defined as nullable.
I have yet to see an event where the `component` was actually undefined or null.

[2021-03-17 10:03] artem-kurchenko commented on #16376
Hi @kingsanu-production

The `clearRawDataCache` method exists for a CustomStore only. You can use the technique we demonstrated in our demo: [Search And Editing](https://js.devexpress.com/Demos/WidgetsGallery/Demo/SelectBox/SearchAndEditing/jQuery/Light/). It should work for OData as well.

If this doesn't help, send us a **JS** example that demonstrates the issue in action. We'll perform more de

[2021-03-17 12:51] bobskigit commented on #16054
Now works in Sprint 9.

thanks

[2021-03-17 12:51] #16054 closed, assigned to AryamnovEugeniy

[2021-03-17 13:40] romua opened #16865 "What to use instead of exportToExcel(boolean) as it has been deprecated in 20.2"
Like how to start exporting process from controller(previously I used this.dataGrid.instance.exportToExcel()) but not from template  built in button. I want to have, actually already have, my custom button? (it's not even in the same component as my table).

[2021-03-17 14:49] nsnayp13 opened #16863 "Lookup loading panel not appear when get data over load function if message "No data to display" shown."
### Problem:
Hello.
Lookup loading panel not appear when i try get data over load function if message "No data to display" shown.

### Steps to Reproduce:

1. Create lookup and set dataSource as
[code]
2. Create component lookup
[code]
3. Open lookup, load function called and show loading panel
4. Service return empty array and lookup show "no data" message
5. Type text in search field, load funct

[2021-03-17 14:58] avgustine commented on #16863
Stuck with the same issue couple of months ago. Still no solution was found for this. Loading indicator behaves weird on searches after single search with no result.
Anyone having any idea why this may happen?

[2021-03-18 08:33] onebalaban commented on #16594
Thank you for your description.

[2021-03-18 08:33] #16594 closed, assigned to onebalaban

[2021-03-18 08:35] onebalaban commented on #16706
We don't have such a pre-built example. As you may know, we don't offer technical support on GitHub. Please submit a ticket to our Support Center, describe your task in detail, and attach your CodeSandBox project to the ticket. We'll be happy to review it and assist you.

[2021-03-18 08:35] #16706 closed, assigned to onebalaban

[2021-03-18 08:50] onebalaban commented on #16580
Please elaborate on your final goal. Why do you need to select multiple cells? How should a user select them? What do you do after these cells are selected?

[2021-03-18 08:53] artem-kurchenko commented on #16516
Hi @ThomasGHenry

Thank you for pointing to this.  Null checks will help you to avoid JS errors, but the widget may not properly work. Do you have a test case that demonstrates this issue? This should help us understand how to fix the issue.

[2021-03-18 08:59] onebalaban commented on #16584
The toolbar component doesn't have labels. Please elaborate on your requirements.

[2021-03-18 09:04] onebalaban commented on #16581
Please elaborate on why you need this option and which task it should accomplish. It would be also helpful if you share a simple project to demonstrate your scenario. We'll take it into account in our future development.

[2021-03-18 09:08] onebalaban commented on #16464
As you may know, we don't offer technical support on GitHub. Please submit a ticket to our Support Center and describe the exact steps to reproduce the issue. We'll be happy to help you.

[2021-03-18 09:08] #16464 closed, assigned to onebalaban

[2021-03-18 09:55] softboy99 commented on #16584
Yes, but when i add editor widgets in onToolbarPreparing with code dynamically, i.e. textbox, the label is always above the textbox

[2021-03-18 09:57] softboy99 commented on #16580
I want to implement copy up/copy down which belongs to same column, when selected an cell range

[2021-03-19 01:09] lmorningstar116 opened #16731 "DataGrid - FilterRow with Int dataType"
### Problem:

In a filter for a column, only numbers must be allowed.
If you specify dataType = 'number' for a column, then you can enter a floating point number in the filter field.

How can you allow only whole numbers to be entered in a field?

[2021-03-19 08:16] onebalaban commented on #16731
Hello,

As you may know, we don't offer technical support services on GitHub. Please submit a ticket to our Support Center and describe the issue in detail. We'll be happy to assist you. It would be also helpful if you attach a simple project to your ticket to demonstrate the issue. This will help us find a solution faster.

[2021-03-19 08:16] #16731 closed, assigned to onebalaban

[2021-03-19 08:19] onebalaban commented on #16580
Thank you for the clarification. We'll keep in mind this information in our future development.

[2021-03-19 08:19] #16580 closed, assigned to onebalaban

[2021-03-19 08:31] onebalaban commented on #16584
Thank you for the clarification. This inquiry is not related to the Toolbar functionality. Please submit a ticket to our Support Center and describe the issue in detail. We'll be happy to assist you. It will be helpful if you attach a simple project to your ticket to demonstrate the issue. This will help us find a solution faster.

[2021-03-19 08:31] #16584 closed, assigned to onebalaban

[2021-03-19 08:38] onebalaban commented on #16399
Hi,

I haven't heard from you in a while. We'll close this issue for now. Feel free to reopen it should you require further assistance.

[2021-03-19 08:38] #16399 closed, assigned to onebalaban

[2021-03-19 13:14] arndwestermann opened #16753 "Issue with runtime theme change system as per documentation and Devexpress ticket answer"
Hello, i found an issue in v20.2.5 where dynamically changing the theme at runtime causes styling problems to some components.
There are couple scenarios where things are not as expected.

Scenario 1:

Setup:
- import of dx.common.css in styles.css
- import dark/light theme in index html as per the answer of Maxime in [this ticket](https://supportcenter.devexpress.com/Ticket/Details/T810766/angula

[2021-03-19 14:44] buu700 commented on #15570
Got it, thanks. It's probably something to do with the particulars of my project's bundling/post-processing, but for now just converting the stylesheets back to ASCII does the job:

[code]

[2021-03-19 16:17] IlyaKhD commented on #16455
I agree, many properties are not actually optional. We'll check question marks and remove incorrect ones.

[2021-03-19 19:53] AlissonRS commented on #14351
@MaximKudriavtsev thanks for the update. I'll talk with my team about upgrading to 21.1 as soon as possible, and will let you know if we face any issues.

The 4 components you mentioned are just for benchmarking right? I'm assuming this improvement also applies to PivotGrid and other components.

[2021-03-20 00:41] softboy99 commented on #16584
Thanks. I think it's very important feature for grid/treelist ui. Without it, why we should use it? why not use dxForm based ui to input one by one?

[2021-03-22 06:10] #16601 closed, assigned to nobody

[2021-03-22 06:10] bobskigit commented on #16601
Sprint 9 is ok

[2021-03-22 10:34] dxbykov commented on #16468
@Leon-Alexey Thanks for your feedback.

According to [Google Trends](https://trends.google.com/trends/explore?q=WebComponents,Web%20Components,React,Angular,Vue), web components are not a mainstream technology so far:

![image](https://user-images.githubusercontent.com/8307562/111973531-a2fa1200-8b0f-11eb-9f96-72e5f83ad6b8.png)

We, as developers of a UI component library, don't see much traction

[2021-03-22 11:04] groshenkovamarina opened #16775 "Editors & Form Labels Animation"
# Editors & Form Labels Animation

## The Problem
DevExtreme text editors do not support animated labels as specified in Google Material Design Guidelines.

## The Proposed Solution
We plan to implement animated labels and introduce an API that configures them in our text editors and Form component.

### Text Editors
[code]
### Form
[code]
## UI Design
In "floating" mode, a label is displayed as a

[2021-03-22 12:03] Leon-Alexey commented on #16468
@dxbykov

because we were waiting for support from Microsoft, support has appeared, and by inertia everyone is waiting further, who will be the first.
we have already tested our sites on web components, and we were impressed with this technology.
you can make block parts of the application, and build applications in the likeness of Lego, the program code becomes much easier.
significantly increase

[2021-03-22 12:26] MrTrulsen commented on #14285
Hi,
Will virtual scrolling ever be supported in the monthly view of the Scheduler?

[2021-03-22 12:45] MaximKudriavtsev commented on #14351
Hi @AlissonRS,

You are right, these components are examples. We ship ES6 modules for all our components.

[2021-03-22 13:43] MaximKudriavtsev commented on #14285
Hi @MrTrulsen,

Yes, it will. We plan to release the Virtual Scrolling feature for all Scheduler views in v21.1 (June-July 2021). I will update this topic once this feature is available in early access.

[2021-03-22 15:03] nageshwar-nuvolo opened #16782 "Devextreme React Datagrid Filter Row Dropdown flickering on hover"
### Steps to Reproduce:

1. Add DataGrid with FilterRow to React Component
2. Mouse over on column filter search dropdown icon

### Results You Received:
Column Filter Row Dropdown will be flickering on mouse over on search icon

Live Reproducible Link:
[https://codesandbox.io/s/datagrid-filter-row-flickering-issue-ew342](https://codesandbox.io/s/datagrid-filter-row-flickering-issue-ew342)

### Re

[2021-03-22 17:19] dxbykov commented on #16468
@Leon-Alexey Thanks for the clarification. It's nice to hear you find Web Components suitable for your development needs. I'm just wondering if you have any experience with Angular, React, or Vue. The Web Components technology and the mentioned frameworks are not mutually exclusive. The latter are made to make things more declarative - easier to develop and maintain. How do bind your application s

[2021-03-22 17:29] bobskigit commented on #14351
Can we publish the localization messages as es6 modules?

Warning: culture.service.ts depends on 'devextreme/dist/js/localization/dx.messages.fr'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

[2021-03-23 08:18] onebalaban commented on #16782
Hello,

We are working on this issue in your ticket (T983143). Please do not post the same inquiries in different resources. This will make it difficult for us to process your requests. We'll answer you in that ticket shortly.

[2021-03-23 08:18] #16782 closed, assigned to onebalaban

[2021-03-23 08:26] MaximKudriavtsev commented on #14351
Hi @bobskigit,

Thank you for your feedback. We will publish localization messages as es6 modules in future releases.

Could you please share your project bundle size with and without the ES6 modules feature? Also, any additional feedback would be appreciated. This information helps us plan future enhancements.

[2021-03-23 08:51] beeing commented on #14351
Just wondering if there's any improvements planned for the CSS part as well? Thanks.

[2021-03-23 08:55] hakimio commented on #14351
@beeing https://github.com/DevExpress/DevExtreme/issues/13654

[2021-03-23 08:59] bobskigit commented on #14351
My bundle size is reduced by 308Kb in a 2.8Mb bundle when using es6 modules. Nice work.

From: Maxim Kudryavtsev ***@***.***>
Sent: 23 March 2021 08:26
To: DevExpress/DevExtreme ***@***.***>
Cc: bobskigit ***@***.***>; Mention ***@***.***>
Subject: Re: [DevExpress/DevExtreme] ES6 Modules (#14351)

Hi @bobskigit <https://github.com/bobskigit> ,

Thank you for your feedback. We will publish localiza

[2021-03-26 08:10] softboy99 opened #16841 "New WYSIWYG text editor/viewer with support for docx for quill"
New WYSIWYG text editor/viewer with support for docx for quill

[2021-03-28 17:31] CollinHerber opened #16854 "HtmlEditor - Raw Code Editing Enhancement"
# Html Editor - Raw Code Editing

## Problem
Allowing raw code editing for the WYSIWYG Editor opens up a world of potential with customization. Not having this option is very limiting. This would allow people to write inline styles, add classes, all sorts of great options!

## Future Potential
1. One huge thing that comes to mind is some sort of customizable syntax for advanced features, imagine y

[2021-03-28 17:34] CollinHerber commented on #16841
Would love to see this. Adding some research material:

Quill -> DocX
https://github.com/quilljs/quill/issues/1996 (Here is a code framework for Quill to DOCX)

DocX -> Quill
https://github.com/quilljs/quill/issues/2157 (Uploading Docs (i.e. Google Docs, Word, Office Docs, etc)
- > https://github.com/immense/quill-drag-and-drop-module
- > https://www.npmjs.com/package/docx2html

[2021-03-29 09:54] DokaRus commented on #16863
Hi @nsnayp13,

I reproduced this issue and created a public ticket in our Support Center:
[T985917 - Lookup - the LoadPanel isn't shown during filtering if there are no items in the data source at the start of filtering](https://supportcenter.devexpress.com/ticket/details/t985917)
Please track it to get updates.

[2021-03-29 09:54] #16863 closed, assigned to DokaRus

[2021-03-29 10:43] EugeniyKiyashko commented on #16865
Hi,

In your scenario, you can use [the exportDataGrid(options)](https://js.devexpress.com/Documentation/ApiReference/Common/Utils/excelExporter/#exportDataGridoptions) method instead. You need to pass your dataGrid.instance to the ['component'](https://js.devexpress.com/Documentation/ApiReference/Common/Object_Structures/ExcelExportDataGridProps/#component) property of the configuration object in

[2021-03-29 10:43] #16865 closed, assigned to EugeniyKiyashko

[2021-03-29 14:16] MaximKudriavtsev commented on #14285
Hi everybody,

We are happy to announce that Virtual Scrolling in horizontal views is available in DevExtreme NPM distribution (in 21.1 [Sprint 9](https://github.com/DevExpress/DevExtreme/releases/tag/21.1.1-sprint.9) and newer).

You can use it in all available Scheduler views. To enable the feature, set the `scrolling` property to `{ mode: 'virtual' }`.

Please try it and let us know if any issu

[2021-03-30 10:14] afruzan commented on #11306
Hi @San4es . the issue is about persian calendar (jalali calendar) not about translating weekday and month names to persian. your example only translates gregorian calendar. see https://en.wikipedia.org/wiki/Solar_Hijri_calendar.

any one has any solution?

[2021-03-30 10:17] afruzan commented on #11306
it seems devextreme-react-scheduler supports persian calendar. see https://codesandbox.io/s/devextreme-react-scheduler-for-material-ui-ld6e3

but what about dxDateBox and dxCalendar?

[2021-03-30 10:35] San4es commented on #11306
/cc @jsdmitry @DokaRus

[2021-03-30 10:57] afruzan commented on #11306
I forked another example and set local to 'fa'. https://codesandbox.io/s/formatting-devextreme-date-box-forked-q4l9k
in this example persian calendar comes but has many bugs. Today button works invalid. year view and years number are invalid...

thanks.

[2021-03-30 16:53] b1tzer0 commented on #16854
I tend to have to extend the buttons on quill to add new elements that are needed.  Have the Raw HTML option would be ideal.

[2021-04-02 00:21] #16130 closed, assigned to MaximKudriavtsev, andrewmakarov

[2021-04-05 06:10] Duoquote opened #16935 "Paging disappears when scroll is virtual"
### Steps to Reproduce:

https://codesandbox.io/s/overview-devextreme-data-grid-forked-u6mt1

### Results You Received:

When enabling virtual scrolling, paging disappears.

### Results You Expected:

When virtual scrolling is enabled, the paging should stay.

[2021-04-05 08:42] onebalaban commented on #16935
You can use the `pager.visible` property to enable a pager:
` <Pager allowedPageSizes={pageSizes} showPageSizeSelector={true}  visible={true} />`

[2021-04-05 08:42] #16935 closed, assigned to onebalaban

[2021-04-08 13:46] alexander-kotov-dx commented on #16841
Hello. Thanks for the feedback and for sharing your findings.

As you may know, we have [HtmlEditor](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxHtmlEditor/), which is built on top of Quill. We do not have plans to support the DOCX format for our HTML Editor or create a similar editor for DOCX. Nevertheless, we will take your request into account when planning our future u

[2021-04-09 04:52] softboy99 commented on #16841
Hi,
Is your RichEditor can use in vue,react,angular without .net backend or any other backend?

[2021-04-09 11:40] alexander-kotov-dx commented on #16841
Our Rich Editor doesn't require any back-end and you can use it directly in your client-side app.

For example, check the [angular app demo](https://github.com/DevExpress-Examples/richedit-angular-app) and our guide that describes how to achieve this: [https://docs.devexpress.com/AspNetCore/401527/rich-edit/get-started/angular-application](https://docs.devexpress.com/AspNetCore/401527/rich-edit/ge

[2021-04-12 12:11] alexander-kotov-dx commented on #16854
Hello. Thank you for your feedback and research.

We currently have no plans to implement the raw code editing feature for our HTML Editor widget, but we will take your feedback into account for future development.

Our widget has the ability to [add custom modules](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxHtmlEditor/Methods/#registercomponents) or [modify existing ones

[2021-04-12 12:11] #16854 closed, assigned to alexander-kotov-dx

[2021-04-13 08:03] #16841 closed, assigned to alexander-kotov-dx

[2021-04-13 14:32] arndwestermann opened #17053 "dx-button not working properly with @ngneat/transloco pipe"
I found an issue where working with @ngneat/transloco is not showing the translation when setting it to the body of the dx-button. It will work with the transloco directive and if I set the text attribute.
But in my custom dialog component (wrapped dx-popup) i specified some buttons and set the text in the body with the transloco pipe and this somehow works.

Small side note, setting the text attr

[2021-04-16 08:05] artem-kurchenko commented on #15945
Hi @dhlukhatarenka

Thank you for the explanation. I tested an ASP.NET Core app with an OData controller and found that it throws this error with the 404 status. The "414 URI Too Long" message is a part of the response body, but ASP.NET Core applications send a message as well as the whole HTML page with a lot of markup and styles.

![](https://user-images.githubusercontent.com/22076961/114991003-

[2021-04-16 13:14] #16376 closed, assigned to artem-kurchenko

[2021-04-18 09:31] raphael-hettich commented on #3737
So how is this planing coming along? Any estimates on a v21.1 release including the feature?

[2021-04-18 13:04] hakimio commented on #3737
@raphael-hettich https://github.com/DevExpress/DevExtreme/issues/16775

[2021-04-20 12:16] asetil opened #17159 "Angular HtmlEditor insertTable popup title and labels displayed as !TODO"
### Steps to Reproduce:

1. I have upgraded from version 19.2.9 to 20.2.6 to use html editor with table options but insert table popup captions are diplayed as !TODO

### Results You Received:
When i click to insertTable toolbar button the title, label and captions on the popup shown as !TODO

### Results You Expected:
The result at adress https://js.devexpress.com/Demos/WidgetsGallery/Demo/HtmlEd

[2021-04-20 14:25] MaximKudriavtsev commented on #14351
Hi @bobskigit,

Thank you for sharing the size of your project bundles. We appreciate it.

We researched the issue and found a solution. Import `.json` localization files and load them by calling the [loadMessages](https://js.devexpress.com/Documentation/21_1/ApiReference/Common/Utils/localization/#loadMessagesmessages) function. You can refer to the `NPM` section in the [Dictionaries](https://js.

[2021-04-20 16:06] bobskigit opened #17170 "dx-scheduler does not redraw correctly on date change if mode = "virtual" on latest beta"
If you use mode="virtual" type="both" for dx-scheduler in the latest beta the resources do not redraw correctly when the date is changed. If you don't use mode="virtual" its OK.

Screen capture Video enclosed

https://user-images.githubusercontent.com/4225690/115428883-bfff2f00-a1fa-11eb-8aeb-1f8825eb4e5d.mp4

[2021-04-21 05:31] elessariel commented on #16775
Is this already included in the 21.1 Beta ?

[2021-04-21 15:55] AryamnovEugeniy commented on #17170
Hello!

Thank you for reporting this issue. We reproduced this bug and we will fix this as soon as possible.

[2021-04-21 16:28] #17170 closed, assigned to AryamnovEugeniy

[2021-04-22 08:33] #16581 closed, assigned to onebalaban

[2021-04-22 10:55] hakimio commented on #17159
Translations for your language are missing. You can create a pull request with those missing translations.

[2021-04-22 13:12] mesut777 commented on #7295
i am reading the documentation on:

https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxForm/

But there is not any "repaintChangesOnly" configuration for the form . Am i missing something ?

[2021-04-22 14:30] hakimio commented on #7295
@mesut777 there is no "repaintChangesOnly" config for the form. You just have to nest form items in a specific way like shown in the [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Form/UpdateItemsDynamically/).

[2021-04-22 15:46] #16516 closed, assigned to artem-kurchenko

[2021-04-22 15:46] #15945 closed, assigned to artem-kurchenko

[2021-04-23 08:49] #17159 closed, assigned to nobody

[2021-04-23 08:58] groshenkovamarina commented on #16775
Hi @elessariel,

This feature is not included in 21.1 Beta. We are putting final touches to this feature and running quality assurance tests. Once we get it done, we will include the feature into our package. Please bear with us.

[2021-04-23 12:10] arndwestermann opened #17216 "dxList is not implementing ControlValueAccessor for Angular Reactive Forms"
The dx-list is not implementing the `ControlValueAccessor` to work with Angular Reactive Forms. Setting the `ngDefaultControl` directive removes the error, but it still isn't displaying the list.

I've setup a Stackblitz-Project, for you to play around
https://stackblitz.com/edit/angular-ivy-gk5o6g

### Steps to Reproduce:

1.  Create a form with a `FormGroup` and a `new FormControl(['Some array i

[2021-04-23 14:53] hakimio commented on #17216
Why do you want to use list as form control in the first place? I am pretty sure you can only use [one of the editors](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxForm/Item_Types/SimpleItem/#editorType).

[2021-04-24 20:10] MichaelSchreier commented on #16468
At the danger of sidetracking this conversation let me add my five cents on the combination of Web Components, Angular and DevExtreme.
I’m currently using this exact combination and for the most part it works. We’ll, it can be made to work.
There are quite a few rough edges that one has to smooth over on both the Angular and DevExtreme side but unfortunately there is one big issue with DevExtreme

[2021-04-26 06:45] arndwestermann commented on #17216
I have two lists where I drag'n'drop items around. One of them i have to keep track of and do some validation, because the items get send in a form to the backend. So it would be awesome if I can just track it in a form. I guess i'll implement my own wrapper, if it is not possible on your side to implement that.

[2021-04-27 10:01] abned08 opened #17255 "devextreme intl not working with the newest version of react-scripts"
**after testing devextreme intl in my project, i realised that it's not working only with react-scripts version 1.0.0 , can you please fix that**

DevExtreme version: 20.2.5,
browser: chrome Version 90.0.4430.85,
operating system :windows 10 64bits

[2021-04-28 02:33] softboy99 commented on #14351
Hi
for 21.1.2-beta, cannot be used with vite. The following is the error message:
Uncaught SyntaxError: The requested module '/node_modules/.vite/devextreme_ui_dialog.js?v=8e88dbc9' does not provide an export named 'default'

[2021-04-28 08:39] IlyaKhD commented on #16455
We're happy to inform you that DevExtreme v21.1 contains types for event objects (arguments passed to event handlers).
Each component's module exports types for all its events. These types' names match the corresponding event names and have the -Event suffix.

Here is an import statement for [Button's Click](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxButton/Configuration/

[2021-04-28 08:40] IlyaKhD commented on #16455
About JQuery types:
Previously, DevExtreme modules contained JQuery types regardless of whether your project used JQuery. For example, promises had the following type: `Promise<T> & JQueryPromise<T>`.

In v21.1, JQuery types are used only if you use JQuery. Otherwise, only built-in types are used. For example, promises have the following type: `Promise<T>`.

[2021-04-28 08:41] IlyaKhD commented on #16455
To get DevExtreme v21.1 (it is currently in beta), run:
[code]

Meanwhile, we keep working on our types. Here are our plans:

- Extract more reusable types
- Enhance data layer typings
- Use more specific types instead of `any`

Feel free to ask questions and suggest more enhancements.

[2021-04-28 11:38] mGloerfeld commented on #13654
After working on the SCSS for a while, I noticed some problems. Especially since we use webpack 5 with dart-sass and bootstrap (also v5) in our projects.

For example, this code cannot be compiled via webpack
[code]
`Error: Can't resolve 'fonts/Roboto-300.woff' in 'C:\U...`

I think WebPack cannot use relative paths.

**In general we still have problems with:**

- setting custom font-family and fo

[2021-04-28 12:00] babich-a commented on #13654
Hi,
To resolve the issue with `Error: Can't resolve 'fonts/Roboto-300.woff' in 'C:\U...`, you need to use the https://www.npmjs.com/package/resolve-url-loader plugin.

[2021-04-28 13:52] mGloerfeld commented on #13654
note for all guys using webpack:

Webpack v4 : resolve-url-loader
Webpack v5 : asset-modules

to solve some issues.

[2021-04-28 14:30] alexserov commented on #14351
Hello @softboy99,
It seems that you're trying to use the default export instead of the named one in your app. Try the syntax from our [documentation](https://js.devexpress.com/Documentation/ApiReference/Common/Utils/ui/dialog/#customoptions) and share you results with me.

[2021-04-30 04:54] statler commented on #16538
This is absolutely essential work and we desperately need it. Is there a preview version of this available? We have clients requesting the ability to manage their tables. Thanks

[2021-05-01 16:06] softboy99 opened #17343 "why onToolbarPreparing is called on createvnode? can we get the toolbar items dynamically from the remote server and push it in ontoolbarpreparing event?"
why onToolbarPreparing is called on createvnode? can we get the toolbar items dynamically from the remote server and push it in ontoolbarpreparing event?
we are getting the toolbaritems during onMonted hook(vue). But the onToolbarPreparing is fired before onMonted. When we do that? During  onBeforeMont hook still failed

[2021-05-02 22:05] necipsunmaz opened #17344 "Invalid email validation problem"
Hi,

I used my form validation type is email, thats great work other format but this _"test@.mail.com"_  invalid format to passed.

I created example app for this situtiation: https://codesandbox.io/embed/validation-devextreme-form-forked-hm5tg?fontsize=14&hidenavigation=1&theme=dark

### Steps to Reproduce:

1. Create a form
2. Add validation from type email

### Results You Received:

Email is v

[2021-05-03 13:32] oleg-barash opened #17345 "HtmlEditor i18n problem"
Hi everyone!
I meet problem with i18n. Component html editor doesnt pick localization strings for buttons in toolbar.
Steps:
1. Install devextreme (i use 21.1.2-beta)
2. Setup i18n
3. Add HtmlEditor on page

Result:
Component localozed partially

![image](https://user-images.githubusercontent.com/4728300/116881408-e7f38700-ac2b-11eb-8296-7f486eee57b6.png)

I changed one line, and it worked for me:

[2021-05-04 08:25] onebalaban commented on #17343
Hi,

Please submit a ticket to our [Support Center](https://supportcenter.devexpress.com/ticket/list) and describe the issue in detail and how to reproduce it. It would be also helpful if you attach a simple project to demonstrate the issue. This way, we will be able to find a solution much faster.

[2021-05-04 08:25] #17343 closed, assigned to onebalaban

[2021-05-05 10:09] Semigradsky opened #17366 "Safari: Fields dragging doesn't work properly in PivotGrid Field Chooser"
### Steps to Reproduce:

1. Create PivotGrid Field Chooser (bug reproduced on demo page: https://js.devexpress.com/Demos/WidgetsGallery/Demo/PivotGrid/StandaloneFieldChooser/React/Light/)
2. Be sure that field area has enough fields (field area should have scrolling).
3. Try to drag field from this field area to another.
![image](https://user-images.githubusercontent.com/1198848/117125185-e055ee80

[2021-05-05 14:02] #17345 closed, assigned to DokaRus

[2021-05-05 14:03] DokaRus commented on #17345
Hi @oleg-barash

Thank you for reaching out to us.
We fixed it in v21.1. Our next release (21.1.3) will contain a fix.

[2021-05-06 08:38] #11306 closed

[2021-05-09 05:08] Javorov1103 commented on #14345
Helloe @KuznetsovVN How we are going to put some text under the grid. I mean to do that only once. For example Invoice with
total net price, total vat sum and total sum?

[2021-05-11 09:52] KuznetsovVN commented on #14345
Hello @Javorov1103 ,

You can use the [text](http://raw.githack.com/MrRio/jsPDF/master/docs/jsPDF.html#text) method to write text in any position on the page.
To find the bottom position of the table, use the "finalY" option of the AutoTable plugin as shown in these examples:
https://github.com/simonbengtsson/jsPDF-AutoTable/blob/master/examples/examples.js

[2021-05-11 14:12] singhinderpal commented on #14345
Hello Team,

I used [https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ExportToPDF/Angular/Light/](url) as reference to export my data grid as pdf.

The data grid as approximately 17 columns (as of now, can go up in count).
The data gets cut in the exported pdf and I receive this error in the console.

![image](https://user-images.githubusercontent.com/62807061/117829935-d2680800-b290-1

[2021-05-11 18:02] singhinderpal commented on #14345
Hi @KuznetsovVN,

We have a huge grid with more than 17 columns (count can go up even more) which We had to export to pdf.
To handle the scenario I used the following code which breaks the table into multiple pages horizontally.

`
      autoTableOptions: {
        horizontalPageBreak: true,
      }
`

The problem with this approach is that the data is huge and it gets hard to understand what page

[2021-05-11 19:02] alekzvargas commented on #14345
Hi @KuznetsovVN,

Thanks for posting this, I was having issues trying to do this.

I implemented this on a datagrid with barcode image columns (created with JSBarcode) and worked like a charm.

I'm using devextreme on MVC

Thanks again

[2021-05-12 12:18] novsstation commented on #14345
We plan to replace jsPDF-AutoTable with our own module in the future.
Please subscribe to this page to receive notifications about this change.

[2021-05-12 12:59] ghost opened #17458 "PieChart crush when use props contentRender in Tooltip"
### Steps to Reproduce:

1. go to link https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/TooltipHTMLSupport/React/Light/
2. hover mouse on graph part of PieChart

### Results You Received:
PieChart disapered error in chromeDevTools:
react-dom.development.js:7730 Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.
### Result

[2021-05-14 12:39] Horizont77 opened #17518 "Angular v12 compile error"
### Steps to Reproduce:

1. ng new client-app
2. install devextreme devextreme-angular
3. adding devextreme settings :
![image](https://user-images.githubusercontent.com/12067363/118271029-12153680-b4c1-11eb-8224-c0e251c46060.png)
![image](https://user-images.githubusercontent.com/12067363/118271104-2822f700-b4c1-11eb-81e2-e88d1afa95f3.png)

4. npm run build:prod

### Results You Received:
![image

[2021-05-14 13:33] babich-a commented on #17518
Hi. It seems you use angular-cli to create an application. In this case, the `devextreme build` command (`build-themes`) does not work as expected. Moreover, it is not called. So, the theme.base.css file does not exist. I recommend adding devextreme to your project as described [here](https://js.devexpress.com/Documentation/Guide/Angular_Components/Getting_Started/Add_DevExtreme_to_an_Angular_CLI_

[2021-05-15 22:55] EvgenyPrikhodko opened #17533 "aggregate monthly ?"
[code]

data:

[code]

![image](https://user-images.githubusercontent.com/25795145/118380343-b2ff1100-b5e9-11eb-89bd-91446920987b.png)

[2021-05-17 12:53] onebalaban commented on #17533
Hello Evgeny,

I see that you submitted a ticket with this inquiry: T998568. We'll reply to you there.

[2021-05-17 12:53] #17533 closed, assigned to nobody

[2021-05-17 14:27] salemu01 opened #17548 "Datagrid customsource Error while using DevExtreme.AspNet.Data"
### Steps to Reproduce:

1. With an angular application, and devextreme@21.1 beta
2. Use a datagrid, with custom datasource with DevExtreme.AspNet.Data as such:

________________________________Typescript____________________________
[code]
________________________________HTML_________________________________
[code]

### Results You Received:
Code working on 20.X versions, but on the beta version,

[2021-05-19 09:10] AlekseyMartynov commented on #17548
Would you please check a fixed package?
https://www.npmjs.com/package/devextreme-aspnet-data-nojquery/v/2.8.4

[2021-05-19 09:26] salemu01 commented on #17548
Hello,
Thank you for you fast return. I will test this package and give you feedback.

________________________________
From: AlekseyMartynov ***@***.***>
Sent: Wednesday, May 19, 2021 11:11:15 AM
To: DevExpress/DevExtreme ***@***.***>
Cc: Surafel ALEMU ***@***.***>; Author ***@***.***>
Subject: Re: [DevExpress/DevExtreme] Datagrid customsource Error while using DevExtreme.AspNet.Data (#17548)

Wo

[2021-05-19 12:49] salemu01 commented on #17548
The problem has been fixed in this new 2.8.4 version.

Thank you AlekseyMartynov, and the devexpress team.

[2021-05-19 12:50] #17548 closed, assigned to AlekseyMartynov

[2021-05-19 16:52] salemu01 commented on #14351
Hello,
 I've been waiting impatiently for this and tested the 21.1.2-beta.
I hoped i would have noticed much bigger difference, but it's still at least a first noticeable difference :

<meta name="ProgId" content="Excel.Sheet">
<meta name="Generator" content="Microsoft Excel 15">
<link id="Main-File" rel="Main-File" href="file:///C:/Users/slu/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link rel

[2021-05-20 07:21] Horizont77 commented on #17518
Hi, i tried everything again. but i still get the same error.

Without dx.light.css I can build (npm run build:prod) the project but with css I can't. I'll send you the project.

[ng12-dx.zip](https://github.com/DevExpress/DevExtreme/files/6513726/ng12-dx.zip)

[2021-05-20 08:02] dxbykov commented on #14351
@salemu01 Thanks for sharing the numbers. Note that Tree Shaking can't magically 'compress' the code. It just eliminates the code that is not used in your app. So, if you use everything, there won't be any difference in the final bundle size.

We would like to examine your particular case. Could you please specify what components/features you are using (or not using) in your app? If you could spec

[2021-05-20 08:12] salemu01 commented on #14351
@dxbykov Thanks you. I will join here the output of bundle analyser, as well as all my imports, if you could point out any possible improvement.

[2021-05-20 08:18] babich-a commented on #17518
Angular 12 has an issue with inlined images https://github.com/angular/angular-cli/issues/20760

[2021-05-20 08:21] Horizont77 commented on #17518
Thank you for quick feedback

[2021-05-20 13:33] salemu01 commented on #14351
@dxbykov After first analysis, everything seems rather normal to me. On my lazy loaded module (which isn't the concern) i see only dx modules that i imported in my project.
On the main.js bundle, although i hoped i may end up with a lighter bundle, i suppose i have the minimum necessary imports, and if some weren't, i don't think it would be of consequent size.

Here is as an overview, my lazy loa

[2021-05-21 06:59] dansabirov commented on #17518
The same issue after updating my project to angular 12 (we are using devextreme 20.2.7)

[2021-05-26 09:39] Horizont77 opened #17642 "DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0"
dart-sass has deprecated / in favor of math.div. Compiling scss files with many sass warnings.

### Steps to Reproduce:

1. npm update
2. npm run build-themes

### Results You Received:

### Results You Expected:

![image](https://user-images.githubusercontent.com/12067363/119637764-49b3a500-be16-11eb-8ac8-de25243959ae.png)

### Environment Details:

[2021-05-26 17:08] sccrgoalie1 commented on #16775
@groshenkovamarina did this make it into the 21.1 release?

[2021-05-26 17:18] elessariel commented on #16775
please don't tell us this didn't make it into the 21.1 :-|

[2021-05-26 19:49] indyrhett commented on #16775
pleaseeeeeee don't be true :(

[2021-05-26 19:56] sccrgoalie1 commented on #16775
Doesn't look good as the pull request is still open
https://github.com/DevExpress/DevExtreme/pull/16937

[2021-05-28 07:39] #16753 closed, assigned to AlisherAmonulloev

[2021-05-28 14:14] swagner30 opened #17684 "Compiling Error: Typescript: TS7006: Parameter 'path/value' implicitly has an 'any' type"
Unfortunately there are some compiling issues.

### Steps to Reproduce:

1. ng new client-app

2. install devextreme devextreme-angular
3. use some Component
4. run ng serve

### Results You Received:
![image](https://user-images.githubusercontent.com/58978329/119996218-c4272500-bfce-11eb-9739-a6e5ca5d686c.png)
![image](https://user-images.githubusercontent.com/58978329/119996787-5a5b4b00-bfcf-11e

[2021-05-28 18:12] LexDX commented on #17642
Hi @Horizont77,

We are researching this issue in the context of this report: https://supportcenter.devexpress.com/ticket/details/t1002219/the-deprecation-warning-using-for-division-is-deprecated-and-will-be-removed-in-dart
Please add this ticket to your Favorites to receive updates on this issue.

[2021-05-28 18:12] #17642 closed, assigned to LexDX

[2021-05-30 14:10] #16705 closed, assigned to DokaRus

[2021-05-31 07:17] softboy99 commented on #14351
Hi,
after upgrade to 21.1.3, cannot start with the following error,which are ok with 20.2.x:
component.js:65 Uncaught (in promise) TypeError: callbacks_1.default is not a function
    at Proxy.data (component.js:65)
    at resolveData (runtime-core.esm-bundler.js:6046)
    at runtime-core.esm-bundler.js:5860
    at Array.forEach (<anonymous>)
    at applyOptions (runtime-core.esm-bundler.js:5860)

[2021-05-31 15:59] alexserov commented on #14351
Hi @softboy99,
It seems to be a Vite 2.3.x issue, you can track the https://github.com/vitejs/vite/issues/3399 for more info and updates.

As a workaround, I suggest you downgrade Vite to 2.2.4

[2021-05-31 19:55] hakimio commented on #17684
PR #17699

[2021-06-01 13:37] LexDX commented on #17684
Hi @swagner30,

@hakimio is right. This PR should fix the issue. We merged it, so the issue should be fixed in the next release.

[2021-06-01 13:37] #17684 closed, assigned to LexDX

[2021-06-01 14:06] LexDX commented on #17458
Hi @alexeysanin,

The issue was fixed in the context of this report: https://supportcenter.devexpress.com/ticket/details/t998346/chart-gantt-diagram-the-notfounderror-failed-to-execute-removechild-on-node-the-node-to

[2021-06-01 14:06] #17458 closed, assigned to LexDX

[2021-06-02 13:57] #17216 closed, assigned to nobody

[2021-06-02 13:57] #17255 closed, assigned to nobody

[2021-06-04 11:23] bryanvam commented on #17518
also getting this issue

[2021-06-06 19:09] Semigradsky commented on #17366
Some activity

[2021-06-07 11:51] arbabi2010 opened #17802 "cors origin error"
in filemanager for post method when i'm using FileSystemProviders and send request from local to server i get cors origin error .
when i'm using axios and set ogigin every thing is ok in other section of site but when in filemanager i'm using fileSystemProviders  i get error. how can I set origin headers .
i'm using REACT version.
please help me

[2021-06-08 15:53] jurisv commented on #16775
Any update on this feature? The PR seems to be stalled, last commit was in April...

[2021-06-09 08:03] groshenkovamarina commented on #16775
Hi everyone,

This feature is not included in the 21.1 release as we are still fixing minor issues and testing it. We have plans to release this functionality in one of the nearest minor builds. Thank you for your patience.

[2021-06-11 07:36] sezerkorkmaz commented on #17518
Angular.json's optimization section change inlineCritical to false

[code]

[2021-06-11 13:27] IlyaKhD opened #17885 "Internal Types"
## The Problem

We're extending the DevExtreme TypeScript API and adding a lot of new types. To maintain consistency, we are reviewing existing type names and locations. At the same time, we're separating public types from internal ones to protect you from unnecessary breaking changes in the future.

## The Solution

We marked a lot of types as deprecated with the following message:

[code]

This

[2021-06-11 13:32] IlyaKhD commented on #16455
We're extending the DevExtreme TypeScript API and adding a lot of new types. To maintain consistency, we are reviewing existing type names and locations. At the same time, we're separating public types from internal ones to protect you from unnecessary breaking changes in the future.
More details in this discussion: #17885.

[2021-06-14 07:23] hakimio commented on #17885
Which version of DevExtreme has these changes?

[2021-06-16 00:53] #17344 closed, assigned to DokaRus

[2021-06-16 13:13] Adeyosola commented on #17518
This only works for production build. The error still persists in Angular v12 with ng build. (We're using devextreme 21.1.3)

[2021-06-17 08:55] IlyaKhD commented on #17885
We added the `@deprecated` tag to these warnings in v21.1. After the upgrade, you can check your console and report to us which types are causing it.

[2021-06-21 06:47] softboy99 commented on #14351
Hi,
afer upgrade to 21.1.3 with vite 2.3.8. It's ok now. Thanks. But some Icons cannot be displayed dx-icon-menu,dx-icon-folder,dx-icon-dropdown-editor etc.  When use vue-cli, its ok, is it vite issue or devextreme issue?

[2021-06-21 08:11] softboy99 opened #18003 "sass 2.0.0 warnings when build themes"
DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.

Recommendation: math.div($material-inline-borderedwidget-inner-size - $material-invalid-badge-size, 2)

More info and automated migrator: https://sass-lang.com/d/slash-div

   ╷
12 │ $material-invalid-badge-horizontal-padding: ($material-inline-borderedwidget-inner-size - $material-invalid-badge-size)

[2021-06-21 10:18] babich-a commented on #14351
Hi @softboy99 . Please check the following breaking change [https://supportcenter.devexpress.com/ticket/details/t977747/theme-files-are-shipped-with-the-utf-8-encoding-starting-with-v20-2](https://supportcenter.devexpress.com/ticket/details/t977747/theme-files-are-shipped-with-the-utf-8-encoding-starting-with-v20-2). If it is not related to the issue, we need more info on how dx icons are rendered

[2021-06-21 10:38] softboy99 commented on #14351
Hi，
when donwgrade to 20.2.7, it is ok.

[2021-06-21 11:00] babich-a commented on #18003
fixed in
https://github.com/DevExpress/DevExtreme/pull/17864
https://github.com/DevExpress/DevExtreme/pull/17860
https://github.com/DevExpress/DevExtreme/pull/17691

[2021-06-21 11:16] babich-a commented on #14351
There have been no serious style changes between 20.2.7 and 21.1.3. Can you send us a simple project or repository that reproduces the issue?

[2021-06-21 11:26] #18003 closed, assigned to nobody

[2021-06-21 11:48] ghost opened #18013 "Bug in Date Box (Persian calendar)"
Hi :smile:
When I use from **Intl Persian(fa) localization** method there is a bug in the **Date Box**. Date Box correctly shows year and month but **days are still in gregorian** (just in viewing not in selected value). For example:

Today is 2021-06-21 (Gregorian) 1400-03-31 (Persian)
![Screenshot from 2021-06-21 16-03-37](https://user-images.githubusercontent.com/44881425/122758450-0e3db680-d2a

[2021-06-21 12:20] SteveLemire commented on #17885
I'm currently développions an Angular + .NET5 solution with DevExtreme 21.2.3 version and I'm finding @deprecated attribute with most of the interface/event/class types that I need to used in my code. I really want to fully use the typing features with intellisense with vscode and angular because I think it's more easy to code and make code expectation more obvious.

I would like to be sure that I

[2021-06-22 03:35] softboy99 commented on #14351
Hi,
i need time to prepare an sample project for you. But i found in the chrome devtools,->sources->node_modules only dx.common.css are there. I'm not sure if it is vite issue or not.

[2021-06-22 05:38] bbortt commented on #16130
just leaving a "followup comment" here.. in case anyone stumbles upon this issue. we no longer request this feature. it became quickly clear, that the idea of a horizontal scrolling timeline does not scale. when having multiple days, multiple groups and so on, all in one place - the view just got too huge.
we are using the calendar view now, with daily, weekly and monthly grids. showing all groups

[2021-06-22 05:51] babich-a commented on #14351
@softboy99  BTW dx.common.css has no styles anymore in 21.1 and the 20.2 last versions.

It will be great if you create a separate issue with the 'styles' problem.

[2021-06-22 06:37] softboy99 commented on #14351
Hi,
you can see the demo project:   [https://github.com/softboy99/vite-devexteme21_1.git](url)

[2021-06-22 06:47] hamduc7 commented on #17518
Dear All, is there any solution on this error?

[2021-06-22 08:37] babich-a commented on #14351
@softboy99 thanks.
I reproduce this issue both for v20.2.7 and v21.1.3.
It looks like some vite css plugin has an issue with a comma-separated list.
We have the following value in `theme.base.css` and `theme.additional.css` (21.1.3):

[code]

v20.2.7 has no quotes in url().

After I run `npm run build` or `npm run dev`, I see the following rule in the stylesheet (`dist\assets\index.<hash>.css`):
[

[2021-06-22 10:04] softboy99 commented on #14351
Hi,
Thanks. The right version is 20.2.6. We can post an issule to vite community.

[2021-06-22 11:14] AlisherAmonulloev commented on #14351
Thank you for your reply. Please do post the issue to the vite community. Thank you in advance!

[2021-06-23 13:55] IlyaKhD commented on #17885
@SteveLemire, could you give us a complete list of these warnings? It would be helpful if you share a log file. We'll review the types you're using and mark them as public or specify recommended replacements.

[2021-06-24 06:48] novsstation commented on #17366
Hi,

Please pardon such a long delay in our response.

This behavior is expected. If drag and drop events were intercepted initially, then scrolling up and down on mobile devices would be quite difficult. That's why the priority was given to scroll events.

If this behavior doesn't meet your requirements, you can change the useNative option for dxScrollable widgets that are located inside the dxFi

[2021-06-24 08:26] #17366 closed, assigned to novsstation

[2021-06-24 10:01] hakimio commented on #17885
@IlyaKhD here is a list of DX deprecated types we have used:
[code]
Following is not marked as deprecated but you might have forgotten about it:
[code]

[2021-06-24 15:34] SteveLemire commented on #17885
@hakimio mentioned most of them.

Im starting the project so I don't have the complete list. I'm coding generic component and they are all auto-generated so most of the code to render devextreme components is done in the code behind and then bind to the html component declaration.

When I use a new devextreme component, I would like to have typing for events, configuration, datasource and other re

[2021-06-25 11:46] hakimio commented on #17885
@IlyaKhD I understand and fully agree that some internal library logic should be kept private, but coming from Sencha ExtJS framework, one thing I miss is a large amount of [utility classes](https://docs.sencha.com/extjs/7.4.0/classic/Ext.util.MixedCollection.html) available to the user of the framework. Basically, there was almost no reason to install any 3rd party utility library since you alrea

[2021-06-27 03:48] necipsunmaz commented on #17344
The problem persists.

[2021-06-28 01:53] softboy99 commented on #18003
problem still exists in v21.1.4.

 "devextreme": "^21.1.4",
  "devextreme-vue": "^21.1.4",
"devextreme-cli": "^1.2.17",
 "devextreme-themebuilder": "^21.1.4",

[2021-06-28 04:31] babich-a commented on #18003
Hi, @softboy99 . Can you attach a full log?

[2021-06-29 12:48] Bykiev commented on #17885
@IlyaKhD, hi!

We're using `ColumnCustomizeTextArg` type and it's deprecated now. We're using it for `customizeText` function

[2021-06-29 15:24] IlyaKhD commented on #17885
@hakimio, I think these two options are not exclusive. I mean hiding internal types that are used in Components' property declarations and making utilities public.

We're reviewing internal types to improve the component configuration process, but we're not changing the API. In a general case, no runtime features are made public or private.

Making internal utilities public is a matter of extendin

[2021-06-29 15:40] IlyaKhD commented on #17885
@SteveLemire, @hakimio, @Bykiev thank you for sharing these types lists. Once we have any updates we'll post them here.

Btw, the [21.1.4](https://www.npmjs.com/package/devextreme/v/21.1.4) update includes a couple of public replacements:
- dxDataGrid
  - `Column` instead of `dxDataGridColumn`
  - `ColumnButton` instead of `dxDataGridColumnButton`
- dxTreeList
  - `Column` instead of `dxDataGridCo

[2021-06-30 11:56] Bykiev commented on #17885
@IlyaKhD, can you please help me with DevExtreme typings?

I'm using dxTextArea `onKeyDown` event, it's type is `NativeEventInfo<T>` (`NativeEventInfo<dxTextArea>` in my case). I would like to check wich key was pressed, but how to get access to JQuery `keyCode` from DX `EventObject`?

[2021-06-30 12:27] Steve-RW commented on #18003
Hi @babich-a  Rolling back to 21.1.3 (in an Angular project) temporarily fixes the issue.

[2021-06-30 13:10] ghost opened #18165 "DevExtreme CLI "build-theme" installs "devextreme-themebuilder" every time"
The DevExtreme CLI's "build-theme" command tries to install "devextreme-themebuilder" every time I run it.
I work at a place with a slow connection, so when this occurs, node times out, and the build fails.

![Screenshot_1](https://user-images.githubusercontent.com/47182539/123965911-336cac00-d9b5-11eb-9cf2-da326b817c21.png)

It also tries to install the 20.2.5 version when I'm using the 20.2.3 fo

[2021-06-30 15:56] Bykiev commented on #17885
Also `Deffered` is marked as internal, but is used for custom adapter implementation [here](https://github.com/DevExpress/DevExtreme.AspNet.Data.NgHttpClientSample/blob/456a01dc11fb027456dcfbce3dcd302e391f24c2/src/ng-http-client-helper.ts#L58)

[allowEditing](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDataGrid/Configuration/editing/#allowDeleting)  (as function) and other

[2021-07-01 09:09] daviddejaeger commented on #7268
Hi, will this feature be able to upload 'pasted' images from the clipboard that are encoded in base64 to a server, which for example return the link from the server?

My scenario is I want to keep the pasting with clipboard feature as this is handy for the user, but I don't want to save this in my db/htmleditor, so I want to convert this to a file, save it in some storage and then insert the url i

[2021-07-01 09:51] davidekarasek commented on #7268
We use the Dev Express file uploader on the front end for this purpose but
built our own .Net Core API to save files to the file system. Make sure to
allow images only and enforce upload file size limits.

See
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-5.0
for a full example.

On Thu, Jul 1, 2021 at 5:09 AM daviddejaeger ***@***.***>
wrote:

--
David Evan

[2021-07-02 00:08] iofluxdev1 commented on #17885
[code]

[2021-07-04 14:33] Bykiev commented on #17885
@IlyaKhD, hello!

I'm not sure if it's the right place to ask, but with angular `strictTemplates` compiler option enabled I can't use such type definitions with two-way binding defined. In production I'm getting this error:

[code]

I'm using Angular 11 (11.2.14) with DevExtreme UI framework. Typescript version is 4.0.7. I've enabled strictTemplates and now I'm getting this errors on compiling in

[2021-07-04 15:04] Bykiev commented on #16455
@dxbykov, hello!

When using DevExtreme with angular `strictTemplates` compiler option enabled I can't use such type definitions with two-way binding defined. In production I'm getting this error:

[code]

EndDate is defined in Component:
`endDate: Date;`

It should be defined as getter/setter in angular type definitions.

[2021-07-06 09:49] softboy99 commented on #18165
same problem

[2021-07-06 09:51] softboy99 opened #18222 "You are running production build of Inferno in development mode. Use dev:module entry point."
Hi,
the warning give hint for use dev:module enty point. But how to do that?
environment:
vue 3.1.4 +  vite 2.4.0;
devexreme 21.1.4

[2021-07-06 10:00] Owlbertz commented on #17885
Maybe I am missing something out, but we are using the options (like `DevExpress.ui.dxTagBoxOptions`) on multiple occasions, e.g. when using TypeMoq for testing:

[code]
Is there any way to use this typings in a non-deprecated way? Would I need to use `DevExpress.ui.dxTagBox.Properties` instead?

[2021-07-06 10:58] babich-a commented on #18165
Hi @julesbrx `devextreme-cli` always installs the `devextreme-themebuilder` package because it can work with different versions of the `devextreme` package. It never uses the version installed in the project. However, it should not install the same version twice.

To resolve the issue, we need to reproduce it on our side. Could you please share the content of your json metadata file (you can remov

[2021-07-06 11:53] julesbrx commented on #18165
Attached my package.lock.json file.
[lock.txt](https://github.com/DevExpress/DevExtreme/files/6769777/lock.txt)

[2021-07-06 11:56] babich-a commented on #18165
I mean themebuilder metadata dx.generic....json

[2021-07-06 11:58] ghost commented on #18165
My bad.
[dx.generic.myapp.txt](https://github.com/DevExpress/DevExtreme/files/6769811/dx.generic.myapp.txt)

[2021-07-06 18:17] Bykiev commented on #18222
@softboy99, hi!

You should point to 'inferno/dist/index.dev.esm.js' in dev environment. In angular we're using custom webpack config:

[code]

[2021-07-07 00:57] softboy99 commented on #18222
Hi,
How to do that in vite?

[2021-07-07 05:59] babich-a commented on #18165
Your config contains 20.2.5 version. Auto-detection does not work in this case. As for double-install we'll continue to check.

[2021-07-07 08:15] babich-a commented on #18165
It seems I reproduced the issue with a simple project.

[code]

If I run

[code]

devextreme-themebuilder is installed only on the first build (first run of `npm run d`). For the second time it uses the installed version of the package.

But if I run

[code]

it is installed both times `npm run d` is launched.
Maybe you mean a different issue?
I think we can consider including the `devextreme-them

[2021-07-07 08:32] ghost commented on #18165
I'll upgrade my version to 20.2.5 to fix the issue.

This is my issue. `npm i` is run every time my project is built, and since `npm i` uses cache, it's fast, but when the builder is installed, somehow the cache is not used, and it times out.

That would be nice.

[2021-07-07 08:47] babich-a commented on #18165
@julesbrx do you use some special settings for the npm cache?

[2021-07-07 09:32] ghost commented on #18165
This is a clean install so its all default settings. I'll investigate.

[2021-07-08 17:48] LexDX commented on #17885
Hi @Bykiev, @iofluxdev1, @Owlbertz,

First of all, I want to thank you for sharing your usage scenarios. This will help us to make our TypeScript definitions better.

As for the questions, let me address them one by one.

@Bykiev

As far as I understand, you are using Angular  If you are using a native event, it is unnecessary to get access to the jQuery keyCode. You can use a native keyCode optio

[2021-07-08 19:22] Bykiev commented on #17885
@LexDX, thank you for you time and efforts! Do I understand you correctly that I should cast `event` property of dxTextArea [onValueChanged](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxTextArea/Configuration/#onValueChanged) event to [KeyboardEvent](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/KeyboardEvent) or [jQuery.Event](http://api.jquery.com/categor

[2021-07-10 15:12] Iskander1220 opened #18287 "DataGrid - Set search to accent insensitive"
Hi,
I’m currently using the panel to filter and highlight some data.
However, I found out that it only searches the exact same value as I entered in the textbox, accent sensitive.

For example, if I enter “Québec” won’t show in the matching rows.
Or if you have some data with accents in their name, for example if you change "Éric" instead of "Eric" in your database, searching for "Eric" won't retu

[2021-07-10 15:32] Iskander1220 commented on #18287
Here answer — https://supportcenter.devexpress.com/ticket/details/t435406/dxdatagrid-how-to-perform-accent-insensitive-search

[2021-07-11 16:21] Semigradsky commented on #17885
Some 'deprecated' imports from me:

[code]

---
[code]
I use this type for typing fields in PivotGrid.

---
[code]
I use this type for getting information about the pivot grid cell (for example in functions called inside `onCellPrepared`).

---
[code]
Used in `customizeCell` callbacks in custom export.

---
[code]
In some cases (before export for example) I need preload tab contents.

[2021-07-12 11:43] SteveLemire commented on #17885
As I wrote in my post earlier, I'm generating grid and form in the code-behind. During this process, I have to create form items but there is no "form item types"  so I had to create _dxFormItemTypes_ and  _dxFormSimpleItemEditorTypes_ like this:
[code]

I'm wondering why these "types" are not available from Devexpress library?

[2021-07-12 17:34] #17802 closed, assigned to nobody

[2021-07-13 07:48] R4DIC4L commented on #17885
Why is this deprecated?

[code]

I'm also having problems with `requestHeaders`, once specified a few default headers are no longer sent (e.g.: Origin which is used by CORS).

[2021-07-13 07:59] lennygir opened #18310 "Cannot read property 'endDate' of undefined"
Hello,
I'm encountering some issues wit devextreme scheduler.
I always have the issue :

jQuery.Deferred exception: Cannot read property 'endDate' of undefined

![image](https://user-images.githubusercontent.com/50408139/125413994-3710be9f-cd39-4d89-abc1-97b2500e16e9.png)

This error occurs even when my list of appointment is empty. I use the version 21.0.4 with aspx and vb.

The error doesn't sho

[2021-07-13 10:42] #18287 closed, assigned to nobody

[2021-07-13 12:10] AChelp commented on #17885
Hi, guys. Tell me please, what I can use instead of `import { Summary } from 'devextreme/ui/data_grid'
`?

[2021-07-14 15:11] LexDX commented on #17885
Hi @all,

Thank you for your continuous feedback.

@Bykiev,

Yes, I see the issue now. We did not include the native event in Angular typings. So, there is no way to use this event in the current version. As a temporary workaround, you can cast the `e.event` object to `any`. Then, use originalEvent and cast it to KeyboardEvent:
[code]

Regarding your pull request, let me share more information abo

[2021-07-14 16:56] Bykiev commented on #17885
@LexDX, thank you for your comments! But I still don't understand the puprpose of extending `DxEvent` with an `EventType` interface, which extends empty interface `JQueryEventObject`, also there is a comment here:

[code]

So, `DxEvent` should extend `EventObject` or `jQuery.Event` (if jQuery is used) or `JQueryEventObject` should extend `jQuery.Event`

There is some more issues with two-way bindi

[2021-07-15 18:21] SteveLemire commented on #17885
Thanks @LexDX to give us all these feedbacks, it's really appreciated.

Devextreme is a very nice productivity components framework and I want to use the _Type_ script features in the frontend the same way I do in the backend C# .net5 server.

Instead of anonymous typing (like javascript), I want to use _typing_ as much as I can so all developers are aware of the in/out properties/methods. As you

[2021-07-18 17:08] alfeg opened #18366 "Typescript definition for `CustomDialogOptions` missing `popupOptions` property"
Typescript definition for `CustomDialogOptions` missing `popupOptions` property

### Steps to Reproduce:

Using following typescript snippet
[code]

### Results You Received:
Typescript error
[code]

### Results You Expected:
No errors, as custom dialog accepts this property: https://github.com/DevExpress/DevExtreme/blob/601b0c7f495df682f59f5545ddafbef80d1d50ee/js/ui/dialog.js#L174

### Environmen

[2021-07-19 08:19] Bykiev commented on #18366
Hi @alfeg,

according to the [docs](https://js.devexpress.com/Documentation/ApiReference/Common/Utils/ui/dialog/#customoptions), custom dialog doesn't containt `popupOptions` property (at least for public).

For you purpose, consider using [Popup](https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxPopup/) with custom template

[2021-07-19 09:32] mtopp7 commented on #17885
dxToolbarItem

https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxToolbar/Configuration/items/
![image](https://user-images.githubusercontent.com/1161426/126137380-52d7dc0d-6b07-4588-b4a2-f310d7902a96.png)

Can we get everything in your documentation that refers to a type to be available? Ideally if you can keep the names referred to your documentation to avoid us having a consid

[2021-07-20 22:06] LexDX commented on #17885
Hi @all,

@Bykiev,

We use the built-in jQuery JQueryEventObject when jQuery is enabled in the application. For the situation when there is no jQuery in the application, we use an empty interface to avoid compilation issues.

The main reason why our event types are created in this way is related to the fact that not all applications have jQuery integration. So, to avoid creating two sets of typing

[2021-07-20 22:15] hakimio commented on #16455
@Bykiev the DX type definition is correct. The problem is on your end. Your definition is not correct. Two way binding means that the value will be both read and written. The compiler is complaining because you can not assign string/number coming from the component side to your field typed as Date.

[2021-07-21 07:39] Bykiev commented on #16455
You're mistaken, the definition of `value` property as follows:

[code]

[2021-07-21 09:22] hakimio commented on #16455
@Bykiev it corresponds official DX documentation:
https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDateBox/Configuration/#value

[2021-07-21 10:03] Bykiev commented on #16455
@hakimio, sorry, I don't understand what you want to say. If I'll not use two-way bidning there are no errors, the issue with two-way binding in Angular.

According to the docs:

[2021-07-21 10:26] hakimio commented on #16455
Again, since you can't use TS generics in Angular component definition, the DX component property definition is correct. The issue is that the compiler doesn't know whether the `value` assigned by the component won't change to either number or string during runtime.

Here are some ways you can fix this on your end:
1. Use a function in your component class to cast the variable:
[code]
[code]
2. Us

[2021-07-21 11:10] Bykiev commented on #16455
@hakimio, thank you for explanation!

**Upd:** second example with pipe is not correct as pipes cannot be used with template statement

[2021-07-21 14:41] ignatiusvanniekerk commented on #14345
Hi there,
is there a way of hiding rows that is collapsed when exporting the pdf. currently, it export all rows even though they are collapsed