[2019-07-24 17:16] b1tzer0 opened #8931 "Feature Request: Calendar Control With Date Range"
We have several customers who utilize a date range feature.  This is currently available in your MVC Controls.

An example of this can be found here: https://flatpickr.js.org/examples/#range-calendar
Another example can be found here, which falls more in line with what our customers want: https://demos.telerik.com/kendo-ui/daterangepicker/index

I see support center with a few requests for it, inc

[2019-07-25 07:59] sometimesElen commented on #8745
Hello,

It is good news that the problem has been resolved. Thank you for letting us know about your progress and sharing your solution. I believe that other customers may find it helpful.

Nevertheless. the best way to get technical assistance is to create a ticket in our Support Center: http://www.devexpress.com/ask. You can get technical support there faster that here on GitHub.

[2019-07-25 07:59] #8745 closed, assigned to sometimesElen

[2019-07-25 14:10] sometimesElen commented on #8931
Hello,

Thank you for the suggestion. This component is not in our nearest development plans. However, we are tracking all the customer requests to consider implementing it in the future.  It will appear in our [Roadmap](https://js.devexpress.com/Roadmap/) and here on GitHub once we decide to start working on it.

[2019-07-25 14:10] #8931 closed, assigned to sometimesElen

[2019-07-25 15:04] onebalaban commented on #8656
Hi,

The dxNumberBox widget allows using a decimal delimiter corresponding to the current culture set on your device. For instance, in Italian culture, if a user types the 110 key code, the widget will insert a comma as a decimal separator. Try switching your device to a culture where a comma is used as a decimal delimiter to see the result.

[2019-07-25 15:06] briosheje commented on #8656
I did already, and can't make it work.

As stated above, with format `#,##0.00`, typing `.` on an european keyboard (keycode 110) will **not** be considered a comma (though in excel, for instance, it is, as well in any regular input type number). The culture of the device is correct already.

I will try to make a video to properly show the issue, if I will be able to.

[2019-08-01 21:46] trybulec opened #9068 "TreeList multiple selection React only bug"
### Steps to Reproduce:

1. Go to your demo site: https://js.devexpress.com/Demos/WidgetsGallery/Demo/TreeList/MultipleRowSelection/React/Light/
2.  Select React
3. Try to select multiple items

### Results You Received:
Random columns are selected. Works fine with jQuery

### Environment Details:
Chrome, Firefox

[2019-08-03 10:06] trybulec commented on #9068
Seems to be fixed with the latest commits.

[2019-08-07 20:36] AlexZDeveloper opened #9155 "dxSelectBox with acceptCustomValue doesn't work correctly"
Hello
I'm using DxSelectBox component with next settings:

[code]
[code]
My initial "selectedProduct" is not exists in "products" array. When the page with component loads, I see the text "SuperPasma 65" in select-box.
When I click on drop-down button and then click outside of the select-box component , the text in the select-box changes on "Select...". It's incorrect.
In devextreme 18.1.4 and ear

[2019-08-13 08:34] Cammeritz opened #9237 "DataGrid Filter | Cannot read property 'html' of null"
First of all: I know that this is the plain devextreme js repo. Altough im using it together with the Angular version the error occurs in the devextreme core package.

Basically i am using a DxDataGrid which has a few columns with a lookup table.

After updating to Angular 8 the column filter broke.

Basically it fails at creating the popup for the column filter:

### Steps to Reproduce:

1. Creat

[2019-08-13 15:48] thenning opened #9244 "TypeScript dxDataGridRowObject incomplete def"
dxDataGridRowOjbect is used as the type for e.row in onEditorPreparing for dxDataGrid, however there are properties like e.row.inserted that are not accounted for in the dxDataGridRowObject definition.

Workaround (e.row as any).inserted

DevExtreme 19.1.5

[2019-08-13 20:46] b1tzer0 commented on #9244
This is previously reported in Support Center.
[T805500](https://www.devexpress.com/Support/Center/Question/Details/T805500/typescript-definition-dxdatagridrowobject-property-missing-inserted)

Support Center Answer:
This option is private and not documented. We have plans to add it in future updates.

[2019-08-14 10:44] Anjanas-dh commented on #5380
When I generate a custom theme css with the themebuilder, there is a reference to the icons/ folder of devextreme within a @font-face style:
`url(icons/dxicons.woff2)`

But because my generated theme css file is not in the node_modules folder of dexextreme, I get an error when compiling:
`\themes\dx.theme.css:1489:95: Can't resolve 'icons/dxicons.woff' in '\themes'`

Do you know how I can resolve

[2019-08-14 17:49] ricardocamara-adinco opened #9266 "NumberBox - Currency format using zeros instead of comma"
### Steps to Reproduce:

1. Setup a devextreme devextreme-angular devextreme-intl
2. Setup config({ defaultCurrency: 'MXN' }); and locale("es-MX");
3. Setup a NumberBox

### Results You Received:
Using the widget, instead of getting comma in thousands, I get a '0' added.
![captura1](https://user-images.githubusercontent.com/37219213/63043206-5cebbf80-be91-11e9-9127-901ea4341109.PNG)

### Results Y

[2019-08-15 08:15] DokaRus commented on #9266
Hi,
 
This issue is already discussed in the [T803422](https://supportcenter.devexpress.com/ticket/details/T803422) ticket in our SC. It is solved and a hotfix for version 19.1 is available for download.

[2019-08-15 08:15] #9266 closed, assigned to DokaRus

[2019-08-16 14:54] NickMitrokhin opened #9319 "Asynchronous Validation"
# The Problem

The DevExtreme validation API does not support async calls and cannot be used to implement server-side validation. You can apply the solution described in the [Server-Side Validation](https://js.devexpress.com/Documentation/Guide/Widgets/Common/UI_Widgets/Data_Validation/#Server-Side_Validation) article, but it does not allow displaying the current validation status in the editor be

[2019-08-16 16:09] mammadkoma opened #9327 "how devextreme asp.net core DateBox control shows persian datetime picker?"
[DevExtreme enables](https://js.devexpress.com/Documentation/Guide/Common/Localization/) you to localize date, number and currency values using Intl or Globalize. We recommend using Intl because it is easy to activate.
On [this link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat#Syntax) Intl supports "Persian" Calendar.
Now how we can show a Html.D

[2019-08-17 12:53] bponomarenko opened #9324 "Package's license field is invalid"
`license` property in `packages.json` file states: "SEE LICENSE IN README.md"
On fact, actual license is in `LICENSE.md` file.

[2019-08-19 13:25] dxbykov opened #9336 "FileManager - New Progress and Status UI"
# The Problem

The [FileManager](https://js.devexpress.com/Demos/WidgetsGallery/Demo/FileManager/) does not display the following information:

- Whether a file operation(s) is in progress.
- The current operation's progress as a percentage.
- If operations are a success or failure.

# The Solution

We introduced the following UI elements to show the progress and status of operations:

- Popup not

[2019-08-19 13:54] Alyar666 opened #9338 "New Drag-and-Drop Utilities"
# The Problem

 The DevExtreme library does not provide utilities for drag and drop.

 # The Proposed Solution

 We plan to add new **Draggable** and **Sortable** components. They allow you to handle drag and drop operations, sort lists, and move items between components.

 The **Draggable** API:

[code]
 The **Sortable** API includes the entire **Draggable** API plus the following members:
[code]

[2019-08-19 13:54] Alyar666 opened #9339 "Record/Node Reordering in DataGrid and TreeList and Cross-Component Drag and Drop"
# The Problem

 The **DataGrid** and **TreeList** do not allow users to drag and drop rows. Drag and drop between components is also unsupported.

 # The Proposed Solution

 We plan to introduce the **Draggable** and **Sortable** components. Refer to [New Drag and Drop Utilities](https://github.com/DevExpress/DevExtreme/issues/9338) for more information.

 We will integrate these components into t

[2019-08-19 14:12] b1tzer0 commented on #9338
Would you be able to drag from a DevExtreme component to an External Component?

I had to write a Knockout Component that would take a list item and allow me to drag it to a custom Map Editor that we wrote

[2019-08-19 16:42] Bykiev commented on #9339
@Alyar666, hi!

Seems very promising, but we need a live demo to touch it :З Drag-and-drop feature is must have, also we need reordering feature for a treeView component. To achive this right now we're using our custom solution with jQuery sortable.

[2019-08-21 11:26] sven5 opened #9372 "npm package too big for jsDelivr"
I'm trying to load this package from [jsDelivr CDN](https://www.jsdelivr.com/package/npm/devextreme) but it fails because the package is over 50
MB. Are there any files that could be removed to reduce the package size?

I'm currently trying to use jsdelivr for package management out of Visual Studio because of problems with unpkg.

Thanks
Sven

[2019-08-21 15:59] Alyar666 commented on #9339
Hello @Bykiev,

At the moment, we focus our forces on its implementation. We will do our best to show the basic functionality as soon as possible. I'll update this issue when the testing samples are ready.
 

According to the current state of development, I am afraid that we may not have time to release it in v19.2 with the desired level of quality. It's at the top of our to-do list, so if it's no

[2019-08-21 21:57] mcardoalm commented on #9339
We really need drag and drop for TreeView as well, if it can make it into 19.2 it would be a huge help!!!

[2019-08-21 22:02] chaddblanchard commented on #9339
+1 for drag and drop in TreeView. This would be a great addition to 19.2!

[2019-08-22 12:23] hakimio opened #9389 "[Material theme] Custom textbox button squished"
### Steps to Reproduce:

1.  Create a text box with custom text editor button
2.  Hover over the button

### Results You Received:
Button looks squished vertically.

### Results You Expected:
Button is not squished in any way

### Screenshot:
![texbox bug](https://user-images.githubusercontent.com/768105/63514147-390b2800-c4e8-11e9-9024-c07dca2a7b1f.png)

### Demo:
https://codesandbox.io/embed/ove

[2019-08-22 13:31] hakimio commented on #9389
Also, there seems to be a really big gap between two custom buttons.

[2019-08-23 06:23] bryanvam commented on #9372
I have exactly the same problem

[2019-08-23 10:11] BingoRUS commented on #9372
@sven5 @bryanvam Could you please describe how you use jsDelivr and provide the list of files you need? In the case of DevExtreme bundles (for example, dx.all.js and dx.light.css), we strongly recommend using our own [CDN services](https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/CDN_Services/).

[2019-08-23 11:20] bryanvam commented on #9372
https://www.jsdelivr.com/package/npm/devextreme

Failed to load the file listing.
Package size exceeded the configured limit of 50 MB.

[2019-08-23 11:57] sven5 commented on #9372
Hi @BingoRUS

thanks for your update. I'm using Visual Studio's built-in LibraryManager that's configured by libman.json. I wonder whether it works with your DevExpress CDN. Currently it seems only to support cdnjs, unpkg and jsDelivr since the latest update.

However, for me it's not very clear which files the devextreme widgets need to run correctly. So I'm loading the full package through CDN.

[2019-08-23 12:30] Alyar666 commented on #9338
Hello @b1tzer0,

Yes, you can do it. However, it will be necessary to track item movement over the external component. It will look something like this in the jQuery approach:

[code]
Could you describe your scenario in greater detail so we can take it into account in our further development? A video showing your behavior in action might be helpful. It would also be very helpful if you could share

[2019-08-26 06:41] hakimio commented on #9372
@sven5 Normally you only need "dx.all.js", "dx.common.css" and the theme you are using, for example "dx.light.css" or "dx.material.teal.light.css". The total for all of those is around 4MB.
Anyway, any reason you can't just [install the packages using npm](https://docs.microsoft.com/en-us/visualstudio/javascript/npm-package-management)?

[2019-08-26 10:09] sven5 commented on #9372
@hakimio Ok thanks for that clarification. I will change to load only the necessary files.
We're not using npm but instead [LibMan](https://docs.microsoft.com/de-de/aspnet/core/client-side/libman/?view=aspnetcore-3.0). LibMan doesn't support npm sources - only cdnjs, unpkg and jsdelivr since the latest update. Libman is a lightweight library manager.
We moved to LibMan because we're creating Blazo

[2019-08-26 13:05] BingoRUS commented on #9324
Hello @bponomarenko!

`README.md` describes the DevExtreme product and contains an external link to our Licensing FAQ with all information about commercial and non-commercial licenses. The `LICENSE.md` file is related to this repository with source code only which should not be used for commercial purposes.

[2019-08-26 13:05] #9324 closed, assigned to nobody

[2019-08-26 18:13] BingoRUS commented on #5380
Hi @Anjanas-dh,

You can use the `assetsBasePath` field in an input file with ThemeBuilder metadata to provide the full path to a folder that contains icons. Here is the example of how we use this option in our DevExtreme Angular Template: https://github.com/DevExpress/devextreme-angular-template/blob/master/src/themes/metadata.base.json#L4.

[2019-08-26 18:27] BingoRUS commented on #9372
@sven5,

As @hakimio pointed, we recommend using LibMan in conjunction with npm to add client-side resources to your ASP.NET Core/Blazor applications: https://docs.devexpress.com/AspNetCore/401027/devextreme-based-controls/get-started/configure-a-non-visual-studio-project#add-client-side-resources.
If it isn't an option for you, unpkg is a solution. Some of the requests to unpkg may be not success

[2019-08-26 18:27] #9372 closed, assigned to BingoRUS

[2019-08-27 15:28] alexander-kotov-dx commented on #9389
Hello,
Thank you for the bug report. I have created a corresponding [ticket](https://www.devexpress.com/Support/Center/Question/Details/T809959/custom-texteditor-buttons-squished-in-material-theme) in our SC. We'll update it once we have any news.

[2019-08-27 17:51] #9389 closed, assigned to alexander-kotov-dx

[2019-08-27 17:58] hakimio commented on #9389
@alexander-kotov-dx Thanks. Just worth noting that it's not only the icon position that's wrong but also the dimensions of the button: it's 36px in width and 29px in height. It's not exactly round.

[2019-08-28 09:44] alexander-kotov-dx commented on #9389
Hi again,

Thank you for the clarification. I believe these issues are related and will be fixed together anyway. I have updated the ticket to make it more clear.

If you have additional updates or clarifications regarding this issue, feel free to add a comment to the [bug report](https://www.devexpress.com/Support/Center/Question/Details/T809959/custom-texteditor-buttons-icons-have-incorrect-vert

[2019-08-28 14:11] AlisherAmonulloev commented on #9327
We have replied to you in the https://www.devexpress.com/Support/Center/Question/Details/T807211 ticket that you posted in our Support Center. Please check it.

[2019-08-28 14:11] #9327 closed, assigned to AlisherAmonulloev

[2019-08-30 14:22] AntonSermyazhko commented on #9237
Hello,
I could not reproduce the behavior you described in my [sample](https://codesandbox.io/s/cell-editing-and-editing-api-devextreme-data-grid-y15b5). Perhaps, the custom filtering operations are causing the problem in your project.

Please modify my [sample](https://codesandbox.io/s/cell-editing-and-editing-api-devextreme-data-grid-y15b5) to reproduce the issue.

[2019-09-03 06:07] nirav5884 commented on #7268
Is there any updates on this as preview release is out of 19.2?
How can we use the new image uploader?

[2019-09-03 08:47] Cammeritz commented on #9237
Thank you for your reply. I tried to give my best to break your example. Couldn't do it tho.
I tried around a lot locally and still was not able to find out what it is. I also tried playing around with the lookup etc and removing the filtering operations but i couldn't find a fix yet.
The interesting thing is that the problem only occurs in the lookup columns (because they generate the dropdown li

[2019-09-03 12:08] Cammeritz commented on #9237
So i dug a little deeper now and did the sneaky pro-move every developer loves:

Add a try/catch block around the error yikes.

So basically i logged all the parameters the fieldsWatch function gets when its called and throws an error.

You can see the results in the screenshot below:

![image](https://user-images.githubusercontent.com/6163371/64171937-254eb280-ce54-11e9-8fbb-7a34fb1f4061.png)

As

[2019-09-04 08:17] AntonSermyazhko commented on #9237
Thanks for the callstack. We have analyzed it and found a similar problem in our support center: [T752172](https://supportcenter.devexpress.com/internal/ticket/details/T752172). The problem relates with a [bug in ZoneJS](https://github.com/angular/angular/issues/31678). As a workaround you can downgrade the ZoneJS version to v0.8.
Hope this would help you solve the issue.
Otherwise, please make a

[2019-09-05 12:37] Cammeritz commented on #9237
Alright, i updated to the newest Version of zone.js (currently ~0.10.2) and now it works again 😃
Thank you for your help @AntonSermyazhko

[2019-09-05 12:38] #9237 closed, assigned to AntonSermyazhko

[2019-09-05 19:49] HASSANDL opened #9598 "column editing colspan incorrect padding"
I set colspan for column datagrid but padding incorrect

![photo_2019-09-06_00-18-44](https://user-images.githubusercontent.com/22093903/64375806-f3984000-d03b-11e9-98cf-2bff6df39b6b.jpg)

[2019-09-06 16:33] BingoRUS opened #9610 "Floating Action Button Enhancements"
# The Problem

The Floating Action Button does not allow users to:

- Add a label to an action.
- Hide an action.
- Reorder actions.
- Expand the speed dial menu in a different direction.

# The Proposed Solution

## Add a Label

We implemented the `label` option that specifies the text displayed next to an action button:

[code]

## Hide an Action

To hide a **SpeedDialAction**, you can now set i

[2019-09-10 19:49] pedrofurtado opened #9659 "Error in code compiled of Devextreme 19.1.5 (DateBox mask)"
@BingoRUS

In the file `https://unpkg.com/browse/devextreme@19.1.5/ui/date_box/ui.date_box.mask.js`, on line `38` there is the following code:

[code]

That is the compiled result of this line on `https://github.com/DevExpress/DevExtreme/blob/19_2/js/ui/date_box/ui.date_box.mask.js#L24`:

[code]

But the minified code gives me the following sentry error:

[code]

![Capturar](https://user-images.gi

[2019-09-11 03:26] allahyar opened #9674 "dx-tag-box don't close by select item"
I want the list not to be closed when a tag is selected.
Because the user doesn't do much to select too many tags :)
I think it should become a feature.

[2019-09-11 09:38] sunbala opened #9672 "Data Grid Customisation to Excel Export Using Excel JS"
### Steps to Reproduce:

1.  While exporting data from data grid using excel JS how do [Protect a worksheet](https://support.office.com/en-us/article/protect-a-worksheet-3179efdb-1285-4d49-a9c3-f4ca36276de6) or [Lock cells](https://support.office.com/en-us/article/lock-cells-to-protect-them-cb7835f6-9c37-4161-bb53-d1c410acaf21)
2.  In Data grid have 10 colums with data. I want to export only 4 col

[2019-09-11 10:11] DokaRus commented on #9674
You can use the [applyValueMode](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTagBox/Configuration/#applyValueMode) option.
Please refer to this [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/TagBox/Overview/Angular/Light/). Take a look at the "Batch selection" example.

[2019-09-11 10:11] #9674 closed, assigned to nobody

[2019-09-13 07:25] egmen opened #9693 "Fast input in masked textbox do'nt fire event onValueChanged"
### Steps to Reproduce:

1. Add a masked textbox to page
2. Fastly type some value
3. Defocus the input field

### Results You Received:
Event onValueChanged did not fire

### Results You Expected:
Evget onValueChanged fired

### Environment Details:
DevExtreme v19.1.6
HTML JS
https://codepen.io/egmen/pen/dybKZjw
https://www.dropbox.com/s/g9k7k320hbzht4t/2019_09_13_09_18_01_32.mp4?dl=0

[2019-09-13 07:42] egmen commented on #9693
Ticket in support center: https://www.devexpress.com/Support/Center/Question/Details/T814692/textbox-the-onvaluechanged-event-doesn-t-fire-under-certain-conditions-if-a-mask-is-set

[2019-09-13 09:01] egmen commented on #9693
I think because of this commit https://github.com/DevExpress/DevExtreme/commit/69a136f32d66293a3e47a8940da0e51bbe7d2c54

[2019-09-16 12:10] babich-a opened #9720 "Custom Style Bundles"
# The Problem

DevExtreme provides styles for their widgets only in the form of pre-built bundles. Because they contain the styles of all widgets, the bundles have significant size (~500KB for Generic themes; ~600KB for Material Design themes) and should be downloaded to the client in full even if only some of the styles are used.

# The Proposed Solution

## Custom CSS Bundles

You will be able t

[2019-09-17 06:44] hakimio commented on #9720
Once you have split DevExtreme into modules, it would be nice if the widgets themselves would specify which styles (less) they need and the build tool would automatically generate the right CSS bundle without having to manually edit the theme metadata.

[2019-09-17 06:48] babich-a commented on #9720
@hakimio we will plan to do it.

[2019-09-17 10:54] pedrofurtado commented on #9659
Any news?

[2019-09-17 12:16] belgamo opened #9766 "Row cannot be expanded with virtual scrolling"
# Bug Report

**Package versions:**
    devexteme version: 19.1-stable
    devextreme-react version: 19.1-stable

**Current behavior:**
When the `columnHidingEnabled `property is true and uses virtual scrolling, it will work well in the first few records. But when you scroll down the grid and new records load, the rows can't be opened by clicking the collapse button.
To see current behavior, just

[2019-09-17 12:27] kyryanBr commented on #9766
+1

[2019-09-17 12:28] SEPassarelli commented on #9766
+1

[2019-09-17 13:11] brunohkbx commented on #9766
cc @dxrobot

[2019-09-17 14:09] RezaRahmati commented on #3061
Having same issue with **Angular CLI: 8.3.4**

[2019-09-18 08:20] mrjohn0011 commented on #9659
Hello. I cannot reproduce this issue in the English locale. This error may occur when you press an unsupported key while dxDateBox is opened.

Please provide me with a codepen example with your locale and describe steps to reproduce this issue.

[2019-09-18 10:27] AlisherAmonulloev commented on #9766
I reproduced the issue and created a public bug report in our Support Center: https://www.devexpress.com/Support/Center/Question/Details/T815886/datagrid-cannot-expand-an-adaptive-row-if-the-virtual-scrolling-mode-is-applied Please track it to receive a notification regarding our progress.

[2019-09-18 12:26] EugeniyKiyashko commented on #9672
The DevExpress.excelExporter.exportDataGrid function is based on the ExcelJS library. In the 19.1 release, this function is at the CTP stage and some useful behavior is not implement yet. Although I cannot promise you that we will implement it in the 19.1 release, we will take your opinion into account. Thank you for your feedback. I greatly appreciate your cooperation.

1. The ExcelJS library pro

[2019-09-18 12:26] #9672 closed, assigned to EugeniyKiyashko

[2019-09-18 13:54] jailson commented on #6756
[code]

[2019-09-18 14:07] jailson commented on #6756
@itprodavets Did you find the solution? Have you tried to return the promise instead? For example:
[code]

[2019-09-18 14:40] krilllind commented on #9339
Ok so this is great news, but in practice you also have to think about what applications this will be used in.

Let's say for example that you want to enable DnD, will you also allow for multiselect in combination? And if so, what happens when you enable virtual scrolling for TreeList (due to performance issues). Will you then be able to scroll down, select some nodes and then DnD these selected n

[2019-09-19 11:41] belgamo commented on #9766
Thank you @AlisherAmonulloev!

[2019-09-20 08:44] figueiredorj commented on #9610
Hi,
It would be nice if you add also enabled/disabled property while hands on for speedDialAction.

[2019-09-23 05:11] itprodavets commented on #6756
I did not find a solution. I did it differently and more logically. I made a data loading container and I made a component that displays this data.

[2019-09-23 10:37] sunbala opened #9826 "DX Datagrid - Export using Excel JS Multi-Row Headers (Bands) Issue"
### Steps to Reproduce:

1.  Dx data grid  Multi-Row Headers (Bands) export to excel using Excel JS merging bands issue
2.  Dx data grid  export to excel using excel js,  need to specify column-based width while exporting
3.  Dx tree list  data summaries like dx data grid
4.  dx tree list export to excel option

### Results You Received:
1. In excel, Bands are not merged

![image](https://user-ima

[2019-09-23 12:09] DokaRus commented on #9659
Hi,
I've reproduced the issue on my side and created a [corresponding ticket](https://www.devexpress.com/Support/Center/Question/Details/T817164/datebox-an-error-occurs-when-the-right-arrow-is-pressed-when-the-editor-has-the-time-type) in our SC. You can subscribe to it to receive a notification once we have any progress.

[2019-09-23 12:09] #9659 closed, assigned to mrjohn0011

[2019-09-23 12:45] pedrofurtado commented on #9659
@DokaRus Thanks man! I have a login in the Devextreme support center, but i cannot see the internal issue. Can I see it? Or just the devextreme team could view the ticket?

Anyway, thanks @BingoRUS @DokaRus and @mrjohn0011 for your help and work in Devextreme 🤝 🎉

[2019-09-23 12:47] pedrofurtado commented on #9659
@DokaRus This link is the same than yours, right?

https://www.devexpress.com/Support/Center/Question/Details/T817164/datebox-an-error-occurs-when-the-right-arrow-is-pressed-when-the-editor-has-the-time-type

[2019-09-23 12:50] pedrofurtado commented on #7223
@mrjohn0011 The documentation was updated? If yes, could you share with us a link? Thank you so much! 🤝

[2019-09-23 12:54] mrjohn0011 commented on #7223
@AlexJameson, what do you think about this idea?

[2019-09-23 13:38] DokaRus commented on #9659
Oh, my fault
Yep, that's it

[2019-09-23 13:45] AlexJameson commented on #7223
Hello, thank you for the idea.
The suggested approach is based on the logic that relies on the internal events structure. We usually document only those features that are a part of the official API.  While a workaround is valid, it may stop working after an upgrade without any warning.
We'll think of adding a public config (e.g. **maskOptions**) where you can disable certain actions for more advan

[2019-09-24 18:13] FabianoCastro commented on #5175
Some alpha or beta, about?

[2019-09-25 13:19] pedrofurtado opened #9883 "Error in compiled code of Devextreme 19.1.6 Scheduler (ui.scheduler.appointments.strategy.base.js)"
@BingoRUS @mrjohn0011 @DokaRus Hey guys! 🤝

In the file `https://unpkg.com/browse/devextreme@19.1.6/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js`, on line 416 there is the following code:

[code]

That is the compiled result of this line on
`https://github.com/DevExpress/DevExtreme/blob/ad892e4e2a797055504aeba462bea3f60b9a9842/js/ui/scheduler/rendering_strategies/ui

[2019-09-25 15:16] IgnatovDan commented on #9826
Thank you for your feedback.
1. We have not yet implemented the correct merging of band cells for DataGrid's multi-row headers. We will see how to improve our code. However, I cannot provide you with any time frames.
 
2. We implemented column width export in the 19.1.6 version - see the [Advanced Document Customization](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/ExcelJS) demo. I

[2019-09-25 15:16] #9826 closed, assigned to nobody

[2019-09-27 08:12] alepri51 opened #9922 "dxTagBox in dxForm in Vue error E1035"
# Bug Report

**Package versions:**

    devexteme version: 19.1.6
    devextreme-vue version: 19.1.6

**Steps to reproduce:**

When trying to modify demo file App.js
https://js.devexpress.com/Demos/WidgetsGallery/Demo/Form/CustomizeItem/Vue/Light/
with this code:
`...<dx-item
          :editor-options="{items: positions}"
          data-field="Position"
          editor-type="dxTagBox"
        />

[2019-09-27 08:43] AlisherAmonulloev commented on #9922
We have received your ticket in Support Center: https://www.devexpress.com/Support/Center/Question/Details/T818532/dxtagbox-in-dxform-in-vue-error-e1035
It has been placed to the processing queue. We will reply to you as soon as possible.

[2019-09-27 08:43] #9922 closed, assigned to AlisherAmonulloev

[2019-09-27 11:39] pedrofurtado commented on #9883
@BingoRUS @mrjohn0011 @DokaRus I'm trying to emulate this bug locally in a codepen 👍 🤝

[2019-09-27 12:39] alepri51 commented on #9922
solved as described in: https://www.devexpress.com/Support/Center/Question/Details/T725521/form-the-component-is-not-a-function-error-occurs-if-editortype-is-tagbox
Thanx

[2019-09-30 02:38] tjgeni opened #9940 "Why Scroll on window always to the top when click row data grid?"
Hello Devextreme suppport, because I don't have a license devextreme then I ask in here, please help me, I really stuck :(
Thank you for help me.

### Steps to Reproduce:
1. scrolling to the bottom first
2. selected row in grid.

### Results You Received:
The scroll window always to the top, after selected row data

### Results You Expected:
The scroll window keep in position whenever I selected r

[2019-09-30 07:28] groshenkovamarina commented on #9610
Hi @figueiredorj,

This functionality is not in our plans because it is not recommended by the Material guidelines. However, you can use the 'visible' option to hide or show an action in the speed dial menu. Can you provide a scenario where the enabled/disabled property will be useful?

[2019-09-30 12:03] sunbala opened #9948 "DX Data Grid REcord Grouping No Issue While Use Fixed Style"
### Steps to Reproduce:

1.  DX Data Grid Record Group  Number Issue while use fixed style
caption: "index 2",
                 fixed: true,
                 fixedPosition: "left",
                 cellTemplate: function (cellElement, cellInfo) {
                 cellElement.text(cellElement.parent().index("#gridContainer .dx-datagrid-rowsview tr.dx-data-row") + 1); }

2.
3.

### Results You Recei

[2019-10-01 09:00] #9940 closed, assigned to nobody

[2019-10-01 09:01] tjgeni commented on #9940
I found and solve it, thanks :)

[2019-10-01 13:25] pedrofurtado commented on #9883
@andrewmakarov I can provide more informations about this, if necessary :+1: to help to identify the root of problem :handshake:

[2019-10-01 14:04] RezaRahmati commented on #8745
@sometimesElen Thanks, which version is it fixed in?

[2019-10-01 14:08] #8744 closed, assigned to AlisherAmonulloev

[2019-10-02 13:28] vandroaurelio commented on #9720
Why not Sass (SCSS) instead of Less? Main frameworks and libraries like Bootstrap and Material use Sass. It makes it harder to integrate Less with Sass. You can convert your Less code into Sass easily using specific tools. Please consider converting your Less into Sass (SCSS) to make integrations easier. Thanks.

[2019-10-03 12:18] artem-kurchenko commented on #9720
@vjwolfa
Both Sass and LESS are still popular. We started with LESS because our source styles were originally based on LESS. We'll consider conversion to Sass if we get more requests. Thank you for your feedback.

[2019-10-04 13:44] dxbykov commented on #7268
Hi @nirav5884,

Unfortunately, we couldn't add this functionality to the 19.2 release cycle but didn't reject it. We expect to finally ship it with 20.1. Please bear with us.

Nevertheless, our HtmlEditor API allows you to implement this scenario outside of the component. To achieve this, you need to perform the following steps:

* Add a custom button to the editor's toolbar (it will open an uploa

[2019-10-04 14:37] jsdmitry commented on #7295
In the 19.2 version, will be add the capability of customizing DevExtreme Data Form item(s) within a group or tab (add/remove/display/hide) in code without re-rendering the entire form.
It means that if a form has an item(s), which will be changed at runtime, then it will be necessary to wrap these items in the group without a caption. So re-rendering will be performed only for this group.

[2019-10-04 17:53] hakimio commented on #7295
@jsdmitry can you already provide some demo fiddle?

[2019-10-04 18:12] davidekarasek commented on #7268
Good timing actually. Thanks. I will he working with this today.

On Fri, Oct 4, 2019 at 9:44 AM Alexander Bykov <notifications@github.com>
wrote:

--
David Evan Karasek
davidekarasek@gmail.com

[2019-10-05 04:59] nirav5884 commented on #7268
Thanks for the update.
I was able to implement the image and video uploading from local computer
and internet explicitly, happy to say that this is working fine without any
issues.
If anyone needs help on this please let me know.

Regards,
Nirav

On Fri, Oct 4, 2019, 11:42 PM David Karasek <notifications@github.com>
wrote:

[2019-10-05 14:22] pedrofurtado commented on #9883
@DokaRus @andrewmakarov It was possible to reproduce the bug? 🤝

[2019-10-05 16:58] JimBabcock59 opened #10040 "Detail control"
I need a file manager where I have control as described below:

1 - When a file is loaded, I need to replace the name of the file with a UUID to ensure it is unique.
2 - I will be creating a versioning system for the files.
3 - When files are loaded I will be creating a digital signature and manifest for every file that can be used to prove files have not been tampered with.
4 - When files are loa

[2019-10-07 08:09] San4es commented on #9693
We have processed this issue in the context of the [T814692](https://www.devexpress.com/Support/Center/Question/Details/T814692/textbox-the-onvaluechanged-event-doesn-t-fire-under-certain-conditions-if-a-mask-is-set) ticket. Please follow it to get results.

[2019-10-07 08:09] #9693 closed, assigned to nobody

[2019-10-07 08:12] NickMitrokhin commented on #9319
A new DevExtreme version 19.2-beta is available now. You can test this feature using examples that reside in the Live Sandbox section of the discussion page.

[2019-10-07 08:36] jsdmitry commented on #7295
@hakimio I prepared the [fiddle](https://codepen.io/jsdmitry/pen/rNNNXzM?editors=0010).

[2019-10-07 08:45] hakimio commented on #7295
@jsdmitry Awesome. Works really well and that's exactly what we need :)

[2019-10-07 09:02] hakimio commented on #10040
Points 1-4 have to be done on the backend, DevExtreme file manager doesn't need to be involved in any of those.
5. You should be able to customize columns using [customizeDetailColumns](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFileManager/Configuration/#customizeDetailColumns) config.

[2019-10-07 10:09] Bykiev commented on #9339
@Alyar666, will it be possible to allow reordering only same-level items in treeList (in jQuery sortable it can be achieved by using `containment` property)?

[2019-10-08 03:09] wcldyx opened #10066 "DataGrid component cells cannot span rows or cannot merge rows and columns"
DataGrid  component does not have cell merge function, or I did not find

[2019-10-08 08:36] AlisherAmonulloev commented on #10066
Yes, you are right. DataGrid does not support the cell merging functionality.

[2019-10-08 08:43] wcldyx commented on #10066
Will consider support in the future？

[2019-10-08 09:08] AlisherAmonulloev commented on #10066
We will consider implementing this functionality, however, I cannot provide you with any estimates on when it will be done. Please watch for our announcements.

[2019-10-08 09:08] #10066 closed, assigned to AlisherAmonulloev

[2019-10-08 09:15] AlisherAmonulloev commented on #8381
I was unable to replicate the problem. Would you please modify the https://codesandbox.io/s/f5qsk example to demonstrate the issue?

[2019-10-08 09:23] AlisherAmonulloev commented on #9948
This behavior is expected - please review the [https://js.devexpress.com/Documentation/Guide/Widgets/DataGrid/Columns/Column_and_Row_Indexes/](https://js.devexpress.com/Documentation/Guide/Widgets/DataGrid/Columns/Column_and_Row_Indexes/) help topic describing how DataGrid renders rows and assigns rows' indices.

[2019-10-08 09:23] #9948 closed, assigned to AlisherAmonulloev

[2019-10-08 09:31] AlisherAmonulloev commented on #8216
I am going to close this thread since there has not been any recent activity. Feel free to reopen it if you have any further concerns.

[2019-10-08 09:31] #8216 closed, assigned to nobody

[2019-10-08 09:34] AlisherAmonulloev commented on #9598
Would you please share an image demonstrating the expected result? In addition, create a simple compilable example demonstrating how the Form widget is configured.

[2019-10-08 12:41] HASSANDL commented on #9598
I set colSpan for column config:
[code]

[2019-10-08 14:40] AlisherAmonulloev commented on #9598
Please modify the https://codesandbox.io/s/fu30p example to demonstrate the problem. Thank you in advance.

[2019-10-09 10:42] Bykiev commented on #9319
@NickMitrokhin, can you please publish this update on bower too?

[2019-10-09 10:59] Bykiev commented on #9319
@NickMitrokhin, I've one qustion about the validation, but not fully related to async validation. My goal is validating the form editors against some rules on the server side. To make 1 universal method on server side for each form dataField I need to pass property name in this method. There is no other way except defining own callback function for each property I need to validate and passing data

[2019-10-09 12:06] vconst commented on #9339
We have published 19.2.2-beta packages. I have added some live examples to the main content. You're welcome to try them and share your feedback here.

@mcardoalm @blanchardc While TreeView doesn't support D&D out of the box, it's possible to use our new dxSortable component to manually complete this task. I have created an example demonstrating this idea - [JQuery](https://codepen.io/vconst/pen/md

[2019-10-09 12:07] vconst commented on #9338
We have published 19.2.2-beta packages. I have added some live examples to the main content. You're welcome to try them and share your feedback here.

[2019-10-09 12:47] NickMitrokhin commented on #9319
As you know Bower is deprecated and even Bower creators recommend using any other package managers. That is why we did not publish the Beta version using Bower. Would you please elaborate on why you cannot use NPM in your case? Please describe the issue in greater detail.

[2019-10-09 12:54] Bykiev commented on #9319
@NickMitrokhin, we're aware of bower was deprecated, I don't see any problems to migrate on npm. The only reason we're still using bower because it's easy to manage bower packages in VS 2017 same way as NuGet. Thanks!

[2019-10-09 13:48] NickMitrokhin commented on #9319
Thank you for your clarification. At the moment, we do not have plans to publish DevExtreme 19.2 on Bower. So, I recommend that you use NPM in your case.

[2019-10-09 15:03] krilllind commented on #9339
@vconst The DnD example is working fine, will we be able to combine this with reordering, and not just within the same parent row, but drag outside parent and drop between some other rows?

Some feedback on reordering!

It's currently hard to see where a row will be inserted after reorder, would be even better if you could enhance that feedback to the user draging the row. Maybe apply some opacity

[2019-10-10 07:15] Bykiev opened #10121 "Change export to excel icon in the current beta (19.2.2)"
Hi,

I'm testing the new beta version and export to excel icon is looking very strange like it was cropped. Icon in the current stable version is much better.

[2019-10-10 08:23] artem-kurchenko commented on #9244
@thenning @b1tzer0

Good news. We added the [isNewRow](https://js.devexpress.com/Documentation/19_2/ApiReference/UI_Widgets/dxDataGrid/Row/) parameter in v19.2. Note that you need to replace 'inserted' with this parameter after an upgrade.

[2019-10-10 11:46] artem-kurchenko commented on #10121
Hi @Bykiev ,

We replaced our previous icons with modern ones starting with v19.2.
This change will be announced in Version History with the official release as well.

[2019-10-10 11:56] Bykiev commented on #10121
@artem-kurchenko, well, but I think excel icon should be redesigned as it's not looking like excel icon, more like a cross inside rectangle.

[2019-10-10 12:12] andrewmakarov commented on #9883
Hi @pedrofurtado
 replied to your inquiry in [t821898](https://supportcenter.devexpress.com/ticket/details/t821898/error-in-compiled-code-of-devextreme-19-1-6-scheduler-ui-scheduler-appointments-strategy). Please let us know if once you re-create the issue in a stand-alone example

[2019-10-11 11:12] CodeKarno commented on #10040
@JimBabcock59
Thank you for contacting us! @hakimio gave correct directions on how to accomplish your tasks. If you have any troubles with implementation, feel free to submit a ticket to our Support Center in this regard: [Support Center](https://supportcenter.devexpress.com/ticket/list). We will do our best to help you!

[2019-10-11 11:12] #10040 closed, assigned to CodeKarno

[2019-10-11 13:09] Semigradsky opened #10154 "Pager doesn't shown if `dataSource` length equals or more than `pageSize`"
### Steps to Reproduce:

1. Open [demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/RecordPaging/jQuery/Light/)
2. Change `pageSize` to 20 in `paging` option.
3. Press `Apply`

### Results You Received:
Pager doesn't shown

### Results You Expected:
Pager is shown

[2019-10-11 15:28] #9244 closed, assigned to artem-kurchenko

[2019-10-11 15:35] artem-kurchenko commented on #10121
@Bykiev

The new design originates from the current MS Excel icon where the same abbreviation is used.
![](https://user-images.githubusercontent.com/22076961/66664500-53928f80-ec55-11e9-83dd-3ecaced5dad4.png)

As an alternative, consider using either icons that display a file extension type or custom icons.
![](https://user-images.githubusercontent.com/22076961/66664555-6e650400-ec55-11e9-9342-d6e

[2019-10-13 12:51] hakimio commented on #10154
Looks more like a feature than a bug. Why would you need a pager when there is only one page?

[2019-10-13 15:55] Bykiev commented on #10154
@Semigradsky, as already said, it's a feature, not a bug. If you still want to display pager, you can specify [visible](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/pager/#visible) option of a pager

[2019-10-14 08:09] Semigradsky commented on #10154
@Bykiev thank you, I missed this property. It will help me :+1:

[2019-10-14 08:09] #10154 closed, assigned to nobody

[2019-10-14 08:11] Bykiev commented on #10154
@Semigradsky, you're welcome!

[2019-10-14 08:22] #10121 closed, assigned to artem-kurchenko

[2019-10-14 08:44] vconst commented on #9339
@krilllind, The rowDragging.allowReordering option can be used for TreeList. See the following example: [https://codepen.io/vconst/pen/gOOaQmp](https://codepen.io/vconst/pen/gOOaQmp)

Also, we are going to add the opacity 0.9 to dragging row in the release version. I have added a style with this opacity to the previous example.

[2019-10-14 15:25] shawn-show opened #10186 "dxBox can make dxSelectBox readonly"
If dxBox execute after dxSelectBox then dxSelectBox will be readonly

This is layout html.

    <div id="layout_body">
        <div data-options="dxItem: {ratio: 1}">
            <div id="user_page_menu_list"></div>
        </div>
        <div data-options="dxItem: {ratio: 5}">
            @RenderBody()
        </div>
    </div>
    <script>
     $('#layout_body').dxBox({
            direction: 'r

[2019-10-14 17:25] leandrogehlen commented on #7295
I have tested with `vue` the performance is better but the events are fired unnecessary

![dxform-vue](https://user-images.githubusercontent.com/1750751/66770614-78257c00-ee8e-11e9-96a3-80ac7922c7d8.gif)

[2019-10-15 10:33] AlisherAmonulloev commented on #9766
We have fixed the issue described in the https://supportcenter.devexpress.com/ticket/details/t815886 ticket. We will include the fix in our next maintenance update. To apply this solution before the official update, request a hotfix  by clicking the corresponding link for product versions you require.

[2019-10-15 10:33] #9766 closed, assigned to AlisherAmonulloev

[2019-10-15 10:50] jsdmitry commented on #7295
@leandrogehlen Thank you for feedback. We will be researching the issue with unnecessary events.

[2019-10-15 13:29] leandrogehlen commented on #7295
I believe the problem is  the binding:

[code]

[code]

[2019-10-16 08:34] HASSANDL commented on #7295
```alignItemLabels``` not affect after hide and show element

![image](https://user-images.githubusercontent.com/22093903/66902179-0cb5e880-f00d-11e9-8801-c83dd2d3e507.png)

[2019-10-16 08:52] jsdmitry commented on #7295
@HASSANDL This problem is known and we are working on it

[2019-10-16 09:00] Bykiev commented on #9319
@NickMitrokhin, how to remove green mark on success validation?

[2019-10-16 09:30] San4es commented on #9319
@Bykiev
Currently, it is possible only via overriding CSS. Would you share with us your scenario where this may be needed?

[2019-10-16 09:34] Bykiev commented on #9319
@San4es, I don't like that fields with async validation rules has green marks, but other validation rules doesn't have it. From UI side they should be looking the same way, I think.

[2019-10-16 11:31] San4es commented on #9319
Thank you for the clarification. Your vote is counted :) To make a decision on adding an API for displaying the validation mark, we will collect additional feedback from our customers regarding their cases and requirements.

[2019-10-16 14:21] AlisherAmonulloev commented on #9598
I am going to close this thread since there has not been any recent activity. Feel free to reopen it once you modified the example.

[2019-10-16 14:21] #9598 closed, assigned to AlisherAmonulloev

[2019-10-16 14:22] AlisherAmonulloev commented on #8381
I am going to close this thread since there has not been any recent activity. Feel free to reopen it once you modified the example.

[2019-10-16 14:22] #8381 closed, assigned to AlisherAmonulloev

[2019-10-16 16:31] iknowmac opened #10228 "Depreciation error in _showRecurrenceChangeConfirm"
https://github.com/DevExpress/DevExtreme/blob/db398b03a2cac0a9c7114c9845d6f9c966feb372/js/ui/scheduler/ui.scheduler.js#L2444

Should be `messageHtml: message`

[2019-10-17 07:38] steelcg opened #11601 "DxDataGird-column: data lost and validates fail when set both calculateDisplayValue& validationRules(required) property to a column"
# Bug Report

**Package versions:**

    devexteme version: 19.1.6
    devextreme-vue version: 19.1.6

**Steps to reproduce:**

[code]
set calculateDisplayValue& validationRules(required) property to a column(column a), edit another column will lead data of column a lost and validates fail.

If remove validationRules or calculateCellValue property, this works
But I need validation and auto header

[2019-10-17 19:37] markeaston63 commented on #9339
I tried it but keep getting TypeError: Cannot set property 'dxSortable' of undefined. I have nothing in grid configuration that I would see would cause that. ie

`<dx-data-grid #datagrid class="ml-1 mt-1 mr-1 mb-1"
    [dataSource]="assemblyList"
    keyExpr="id"
    noDataText="Click the Generate button to generate the assemblies (from the BOM)"
    [showBorders]="true"
    [showRowLines]="true"

[2019-10-17 20:33] markeaston63 commented on #9338
Hi, I found a bug - but works great otherwise ...

This does not work:

<dx-data-grid
    #datagrid
    id="gridContainer"
    [height]="600"
    [dataSource]="assemblyList"
    [showBorders]="true">
    <dxo-row-dragging
        [allowReordering]="true"
        [showDragIcons]="true"
        [onDragStart]="onDragStart"
        [onReorder]="onReorder"

    <dxo-scrolling mode="virtual"></dxo-scrol

[2019-10-17 20:39] markeaston63 commented on #9339
Hi, I found a bug - but works great otherwise ...

This does not work:

<dx-data-grid
#datagrid
id="gridContainer"
[height]="600"
[dataSource]="assemblyList"
[showBorders]="true">
<dxo-row-dragging
[allowReordering]="true"
[showDragIcons]="true"
[onDragStart]="onDragStart"
[onReorder]="onReorder"

<dxo-editing mode="batch" [allowUpdating]="true" [allowDeleting]="false" [useIcons]="true">
<dxi-colu

[2019-10-17 20:47] sometimesElen commented on #9339
Hello,

We are aware of this issue and will research it in the context of the [DataGrid with Drag and Drop raises "TypeError: Cannot set property 'dxSortable' of undefined" when at least one column is fixed](https://www.devexpress.com/Support/Center/Question/Details/T824556/datagrid-with-drag-and-drop-raises-typeerror-cannot-set-property-dxsortable-of-undefined) ticket.

Please bear with us.

[2019-10-18 07:36] vconst commented on #9339
@markeaston63, We have already fixed the issue in 19.2.3.

[2019-10-18 08:46] sunbala opened #10255 "DataGrid - The Master-Detail view - Load the detail data by using Ajax on first time expanding row"
### Steps to Reproduce:

1. Fill the data using Data Grid with master-details. There is 3 rows in the grid. Detail data should be loaded on ajax request.
2. Load the detail data using direct ajax call while expanding the selected row on first time expanding
3. After the collapse the selected row, again expanding the same row. again it's going on ajax request actually. But I don't want ajax request

[2019-10-21 15:14] AlisherAmonulloev commented on #10252
Please let us know if the issue persists. I will do my best to find an appropriate solution for you.

[2019-10-22 09:14] HASSANDL opened #10292 "DataGrid - The "Failed to execute 'querySelectorAll'" error occurs on focusing the input"
show below error when add row and show popup form and when click input edit form
devextreme, devextreme-react: 19.2.2-beta
[code]

[2019-10-22 09:47] andrewmakarov commented on #10228
Hi @towen ,
Thanks for letting us know.
We fixed this problem and attached our PR requests for review
[https://github.com/DevExpress/DevExtreme/pull/10289](url)
[https://github.com/DevExpress/DevExtreme/pull/10290](url)

[2019-10-22 09:47] #10228 closed, assigned to AlisherAmonulloev

[2019-10-22 20:01] joellenicelook21 commented on #3737
Thanks for the feedback, upset to hear that though. The material inputs, when placed one under the other, becomes difficult to know which label is for which line ...

[2019-10-23 08:56] hakimio opened #10310 "[REGRESSION][19.1.7] No longer possible to expand rows in virtual scroll datagrid on ContentReady"
### Steps to Reproduce:

1.  Define a DevExtreme datagrid
2. Set scroll mode to "virtual"
3. Try to expand a row in "onContentReady" event handler

### Results You Received:
The datagrid freezes in loading state.

### Results You Expected:
The row would expand like it did in version **19.1.5** and everything else would work as expected.

### Demo
https://codesandbox.io/s/record-grouping-devextreme

[2019-10-23 13:31] BingoRUS commented on #5380
@ezriharmusial with v19.2 release you will be able to use `--widgets` parameter to specify the only components you want to have in the result CSS file. Please check [this issue](https://github.com/DevExpress/DevExtreme/issues/9720) for more details.

[2019-10-23 13:36] BingoRUS commented on #5380
Thank you to everybody who gave us feedback on this feature. DevExtreme CLI commands for theme generation are available since the v18.2 release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub issues or tickets in our Support Center. Also, please check the [Custom Style Bundles](https://github.com/DevExpress/DevExtreme/issues/9720) discussion to get more i

[2019-10-23 13:36] #5380 closed, assigned to BingoRUS

[2019-10-23 18:01] woodreamz commented on #9338
Do you plan to add the node dragging on TreeView for React? Or do we have a way to implement it in React by ourself?

Thanks!

[2019-10-24 01:28] JingGeGe77 opened #10320 "Object does not support 'include' property or method(IE10)"
### Steps to Reproduce:

1. vue project open in IE 10
2.
 /**
 * DevExtreme (ui/radio_group/radio_group.js)
 * Version: 19.1.7
 * Build date: Fri Oct 11 2019
3.  RadioGroup.include(_ui2.default);

### Results You Received:

### Results You Expected:

### Environment Details:
IE 10 , DevExtreme and DevExtreme version: 19.1.7

[2019-10-24 07:39] vconst commented on #9338
@markeaston63, We have already fixed the issue in 19.2.3.

[2019-10-24 08:01] vconst commented on #9338
@woodreamz,
It's possible to use our new dxSortable component to add the node dragging capability to TreeView for React. See the following example - [React](https://codesandbox.io/s/plain-data-structure-devextreme-tree-view-ecdb7)

[2019-10-24 12:04] therox opened #10322 "FileManager: get selected files"
I'm developing upload/download module and have a question: Is there any way to get list of selected files/folders from FileManager(CTP) widget? If no, will this functionality be in release?

Using 19.2.2-beta with angular bindings.

[2019-10-24 12:12] AlisherAmonulloev commented on #10320
IE10 is not supported. We support Internet Explorer 11. Check https://js.devexpress.com/Documentation/Guide/Common/Supported_Browsers/ for more information.

[2019-10-24 12:12] #10320 closed, assigned to AlisherAmonulloev

[2019-10-24 12:48] woodreamz commented on #9338
@vconst Thank you!

[2019-10-24 15:28] #9068 closed, assigned to nobody

[2019-10-24 21:05] rogerioyuuki commented on #3737
Here is a temporary solution in SCSS for underline stylingMode inputs:

[code]

To set the label color, I used the variable  `$texteditor-focused-border-color` from the palette, which is in the imported file `dx.material.palette.scss` (generated with `devextreme export-theme-vars --base-theme material.blue.dark --output-format scss`).
If you want to remove the import and set your own color is up t

[2019-10-25 12:04] AlisherAmonulloev commented on #10252
I am going to close this thread since there has not been any recent activity. Feel free to reopen it if our assistance if required.

[2019-10-25 12:04] #10252 closed, assigned to AlisherAmonulloev

[2019-10-25 12:55] AlisherAmonulloev commented on #10310
I reproduced the issue and created a public ticket in our Support Center: https://supportcenter.devexpress.com/ticket/details/T826930
We will update the ticket once we have any results. Thank you for your patience.
In the meantime, to resolve the issue, call the expandRow method in the setTimeout method:

[code]

[2019-10-25 12:58] hakimio commented on #10310
@AlisherAmonulloev or another simple workaround is to run `grid.refresh()` after `grid.expandRow()`.
Anyway, thanks for creating the ticket.

[2019-10-25 13:01] AlisherAmonulloev commented on #10186
Your markup looks correct. The cause of the issue is unclear to me. Would you please create a simple runnable example demonstrating the issue so that I can debug it?

[2019-10-25 14:23] #10310 closed, assigned to AlisherAmonulloev

[2019-10-25 15:51] vladkovl commented on #10322
Starting with v19.2.2-beta, you can use the [fileManager.getSelectedItems(](https://js.devexpress.com/Documentation/19_2/ApiReference/UI_Widgets/dxFileManager/Methods/#getSelectedItems)) method to get an array of selected files and folders. See how to use this method in the [Toolbar and Context Menu](https://js.devexpress.com/Demos/WidgetsGallery/Demo/FileManager/UICustomization/jQuery/Light/) dem

[2019-10-25 15:51] #10322 closed, assigned to vladkovl

[2019-10-25 15:54] artem-kurchenko commented on #10292
Hi,

I cannot reproduce the issue in v19.2.3 using this [example](https://codesandbox.io/s/form-editing-devextreme-data-grid-le1e3).
Please modify it and post the updated link here for further research.

[2019-10-28 22:30] markeaston63 commented on #9338
Hi,
Im using
19.2.3.

I have a grid on two separate tab panels, both with drag and drop. For some inexplicable reason when I start drag and drop on the grid in the second tab panel the tab panel underneath changes back to the first tab panel for me to drop the item I am dragging. I have carefully looked at my two grids, in two separate angular components and they are identified and bound uniquely

[2019-10-29 06:48] MaximeTroiano opened #10380 "FilterBuilder - allowHierarchicalFields is ignored"
### Steps to Reproduce:

1. Create a datagrid
2. Add the filterbuilder
3. Set fields (example below)
`
[
        {
            dataField: "Category.Name",
            lookup: {
                dataSource: ["Televisions", "Monitors", "Projectors"]
            }
        },
        {
            dataField: "Category.Description"
        },
        {
            dataField: "UnitPrice",
            dat

[2019-10-29 20:23] CranMalReign commented on #7294
Hello.  We currently have a requirement to add headers/footers to the Excel sheet headers/footers, not as rows in the sheet data.  While your examples and suggestions don't meet that, ExcelJS does provide the capability to set these values.  Will legitimate header/footer editing be provided out of the box?  When will these features be available?

We are currently replacing our grid implementation

[2019-10-30 09:55] JeanMeche commented on #9339
I just found another bug : Enabling row dragging & Master/Detail at the same time.

When a detail is expanded, dragging the following row, it's the detail that gets dragged !

[2019-10-30 17:48] Alyar666 commented on #9339
Hello @kyro38,

Thank you for contacting us. We will process this issue in the context of the following Support Center thread:
[DataGrid - The row dragging doesn't work correctly when there is master-detail](https://www.devexpress.com/Support/Center/Question/Details/T828366)

[2019-10-30 21:21] ZeBobo5 opened #10399 "Including declaration in npm package"
Please indicate the main declaration file in your package.json:
[code]

[2019-10-31 01:57] steelcg commented on #9319
A good solution for async validation, but why that isn't supported in DxDataGrid whit batch edit mode?
E1057 - The dxDataGrid widget does not support asynchronous validation rules in the "batch" edit mode. See:
http://js.devexpress.com/error/19_2/E1057

[2019-10-31 08:13] NickMitrokhin commented on #9319
@steelcg,

Async validation is not supported for the Batch, Cell, and Row editing modes because dxDataGrid requires significant changes in its implementation. We are planning to support "async" validation rules for these modes in one of the next major versions.

[2019-10-31 08:18] superole commented on #6464
Just a side-note: the way they are styled now though, with both setting background-color and focus taking precedence, it is not possible to see whether the focused row is selected or not. (In win explorer focused row is outlined)

[2019-10-31 08:37] Semigradsky opened #10402 "Types for event objects"
Could you provide separatly types for event objects?

Currently I have to write smth like this:
[code]
It is boring and I can have error if api will changed.

I want to have smth like this:
[code]

[2019-10-31 11:54] hakimio commented on #10402
There was already an issue about this before and the answer was:

[Source](https://github.com/DevExpress/devextreme-angular/issues/711#issuecomment-382128937)

[2019-10-31 11:55] IgnatovDan commented on #7294
Thank you for describing your scenario.
I suggest that you start from our [DevExtreme - Data Grid - New Excel Export API Update (CTP in v19.1)](https://community.devexpress.com/blogs/javascript/archive/2019/10/04/devextreme-data-grid-new-excel-export-api-update-ctp-in-v19-1.aspx) post and the [DataGrid.ExcelJS CTP export](https://www.devexpress.com/Support/Center/Search/List/1?searchString=datagri

[2019-11-01 08:53] AntonSermyazhko commented on #6464
Hi, thank you for feedback.
We are planning to add this feature in one of our future releases.

[2019-11-05 04:31] gwaksuyeon opened #10425 "gantt chart error"
![image](https://user-images.githubusercontent.com/51697335/68178705-5d977c00-ffd0-11e9-89a3-6c3f82af00f6.png)

If you run the gantt chart, the task header will fail.
what went wrong?

[2019-11-05 08:00] #10292 closed, assigned to artem-kurchenko

[2019-11-05 08:51] artem-kurchenko commented on #10380
Hi,

Thank you for the report. In this case, FilterBuilder behaves in the same manner as the grid, which displays columns as "Category Name" and "Category Description". You can set up the [column.caption](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#caption) option to change this behavior: [https://codesandbox.io/s/simple-array-devextreme-data-g

[2019-11-05 11:31] m--c commented on #12074
Hi there,
Just wanted to say that this is the only library I saw i think in the entire SPA world where you have to actually reload the entire app by design. I know its not the end of the world, its just weird that you present this as a perfectly normal, fine, final solution. It's also usually one of the first interactions the user has with the app and also one of the first things developers face w

[2019-11-12 13:11] #10399 closed, assigned to BingoRUS

[2019-11-13 09:37] aspirin37 opened #10544 "DxTextBox input event is not triggered if the component has a mask attribute ( vue )"
I have a text input with a mask in my Vue app and it's value is not reactive, though other inputs without a mask work properly.

`
<dx-text-box
  v-model="myValue"
  value-change-event="input"
  mask="0000000000/0000000000000/0000000"
/>
`

If i remove the mask attribute, everything is fine and I get the updated value.

[2019-11-13 12:24] sunbala opened #10553 "DataGrid - Master-Detail export to excel"
### Steps to Reproduce:

1.  Dx datagrid master detail data - Export to excel using Excel JS
2.
3.

### Results You Received:
1. Only master row exported. No details rows

### Results You Expected:
1.  Master & detail row should be exported

### Environment Details:

[2019-11-17 22:26] mohsen-ghaly opened #10644 "DataGrid - Lookup renders very slow with a lot of data"
Hello,

DataGrid - Lookup renders VERY slow with a lot of data
Can you support "Lazy Loading" please.

Thanks
Mohsen

[2019-11-18 09:46] aspirin37 opened #10648 "onCellPrepared event doesn't work in vue apps"

[2019-11-18 09:49] #10648 closed, assigned to nobody

[2019-11-18 10:04] AlisherAmonulloev commented on #10553
DataGrid does not provide the functionality to export its detail rows.

[2019-11-18 10:04] #10553 closed, assigned to AlisherAmonulloev

[2019-11-20 14:26] hakimio commented on #7295
@jsdmitry tried to recreate your example in Angular but unfortunately it did not work as expected.
I can't create online Fiddles with DevExtreme Angular, so here is a gist:
https://gist.github.com/hakimio/490a0725ab66fa44130ce39d49f3b9b2

Let me know if you can recreate the issue.

[2019-11-25 13:00] HASSANDL opened #10813 "chart print & export is white"
hello, I click print or export chart, export done but chart show white. your demo has same problem.
[https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/ExportAndPrintingAPI/React/Light/](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/ExportAndPrintingAPI/React/Light/)

[2019-11-25 13:32] cbogner85 commented on #7294
Hello,

I would love to see this implemented in dxPivotGrid. :)

At the moment I'm implementing a custom export logic using other third-party excel libraries on the server-side.

[2019-11-25 13:41] Faey2222 opened #10825 "Drop Down Button Color & Material-Theme"
I really like the new Drop Down Button component but I have noticed there isn't any possibility to change it's colors such as for the regular button. Is this planned or achievable in some way?

Also I have noticed that the Drop Down Button component does not have the typcial Material wave?

[2019-11-25 13:57] alexanderPolosatov commented on #10813
Hi,

I created a [ticket](https://supportcenter.devexpress.com/internal/ticket/details/t835729) about this issue in our Support Center and suggest you track it to be notified of our progress.

[2019-11-25 13:57] #10813 closed, assigned to alexanderPolosatov

[2019-11-26 13:10] EugeniyKiyashko commented on #7294
Thank you for contacting us.
We are planning to do this, but I cannot give you the exact date. We will take your opinion into account.

[2019-11-28 11:00] sometimesElen commented on #10544
Hi,

I was not able to reproduce the issue using the latest DevExtreme version (19.2.4). You can check the [following sample](https://codesandbox.io/s/overview-devextreme-text-box-0pb17) - it works fine. For further investigation, please specify the DevExtreme version and in which browser you faced this issue.

I also wish to add that we process inquiries related to use cases in the [Support Cente

[2019-11-28 14:03] Bykiev opened #10883 "Gantt v0.0.27 error"
Hi, after update on version v0.0.27 there is an error occures:

[code]

[2019-11-29 08:39] AlisherAmonulloev commented on #10186
I am going to close this issue. Feel free to reactivate it if you need our assistance.

[2019-11-29 08:39] #10186 closed, assigned to AlisherAmonulloev

[2019-11-29 11:38] natashaash commented on #10425
Hello,
It seems that you did not add the dx-gantt.min.css file to your page. Please review the [Getting Started with Gantt](https://js.devexpress.com/Documentation/Guide/Widgets/Gantt/Getting_Started_with_Gantt/) article that describes how to do this. Let me know if this helps.

[2019-11-29 12:45] natashaash commented on #10883
Hello,
I assume that you updated the [devexpress-gantt package](https://www.npmjs.com/package/devexpress-gantt) separately. So, the problem occurs because the node_modules folder in your project contains an older version of the [DevExtreme package](https://www.npmjs.com/package/devextreme).
I suggest that you don't update separate packages ( in particular, devexpress-gantt). You need to update the

[2019-11-29 12:48] Bykiev commented on #10883
Thanks, yes, I've updated devexpress-gantt package separately, because devextreme updating only once in month, but devexpress-gantt updates more often.

[2019-11-29 12:56] #10883 closed, assigned to nobody

[2019-12-02 14:44] borellaster opened #10927 "Java Script - dxDataGrid export to PDF"
I would like to know if this feature will be implemented. Once read that this would be being implemented in version 19.2.

Thanks

[2019-12-02 17:28] nighotatul opened #10931 "dxbuttonwithtemplate is undefined in dx.all.js in devextreme latest version release.please check"
after beautify js please check line number 87423 of dx.all.js. t.subclass of js is undefined for dxbuttonwithtemplate

[2019-12-06 10:02] hakimio commented on #10825
You can use [stylingMode](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDropDownButton/Configuration/#stylingMode) to change the button style and [elementAttr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDropDownButton/Configuration/#elementAttr) for further customization.

[2019-12-06 10:08] hakimio commented on #10927
It was never on the roadmap for 19.2, not sure where you got the idea that they planned to implement it for 19.2.
You'll be able to see what's the plan for 20.1 on their [Roadmap page](https://js.devexpress.com/Roadmap/) sometime soon.

[2019-12-10 09:20] behnamgh commented on #11306
Hi, Have you finished your solution?

[2019-12-10 22:09] vandroaurelio commented on #9720
Another suggestion: if you guys can put all the theme variables in one single file it will make it easier for us to create our own theme. Also, do you have an idea of when this new feature will be available?

[2019-12-11 07:30] hakimio commented on #9720
@vjwolfa you can already do that with DevExtreme theme builder.

[2019-12-11 07:41] babich-a commented on #9720
@vjwolfa you can use [export-theme-vars command](https://js.devexpress.com/Documentation/Guide/Getting_Started/DevExtreme_CLI/#ThemeBuilder/Export_Theme_Variables). For example
[code]

[2019-12-11 16:50] borellaster commented on #10927
Hello

Please read by yourself - Roadmap Last updated: 15-MARCH-2019

Menu - DataExport

Export to PDF - Expected in 19.2
We plan to offer a PDF export option in our DataGrid and Pivot Grid.

Here I got the idea.
https://web.archive.org/web/20190330074105/https://js.devexpress.com/Roadmap/

Thanks

[2019-12-11 21:03] HASSANDL opened #11073 "custom operation filter Builder with popup component"
I create custom operation in filter builder and show textbox with button and when click this button show popup but because focus change textbox filter exit from editing state, how solve this problem?

[2019-12-16 04:59] sunbala opened #11127 "DX-Data Grid- Master -Detail - Value Update"
### Steps to Reproduce:

1.  dx-Data-Grid with load data with master-detail using HTML JS
2.  Details rows are dx form data.
3. When values are updated or changed in detail row, that values should be updated in master row colums. In master row that columns are hidden

### Results You Received:
1. Can't updated  or changed  detail row values to master row

### Results You Expected:
1. Updated  or c

[2019-12-17 08:00] Semigradsky commented on #10402
Possible solution for using existing type:

[code]

[2019-12-17 08:14] Semigradsky commented on #10402
Possible solutions for using existing types:

[code]

and

[code]

[2019-12-18 14:58] IgnatovDan commented on #10927
We've addressed this question in the comments to [our recent blog-post](https://community.devexpress.com/blogs/javascript/archive/2019/12/10/devextreme-angular-react-vue-jquery-roadmap-2020-your-vote-counts.aspx). Let me re-post the answer here:

You are right, we mentioned this feature in our final 2019 Roadmap blog post (it was considered for 19.2 or later). As you may know, we are currently wor

[2019-12-18 14:58] #10927 closed, assigned to nobody

[2019-12-19 21:21] bilicio opened #11228 "Fix for the index error on scheduler"
I found that if i let the startDate and endDate hours on 0 ( zero ) it gives me the error :
[code]
if i change the hour to 1 ( one) the error disappears.

i was using the devextreme-react 19.1.5 and now i updated to 19.2.4. Changing the hour fixes the error.

maybe this helps.

thank you!

maybe this helps support ticket T698406

[2019-12-19 21:23] bilicio opened #11229 "Fix index error on scheduler"
I found that if i let the startDate and endDate hours on 0 ( zero ) it gives me the error :
[code]
if i change the hour to 1 ( one) the error disappears.

i was using the devextreme-react 19.1.5 and now i updated to 19.2.4. Changing the hour fixes the error.

maybe this helps.

thank you!

maybe this helps support ticket T698406

[2019-12-19 21:24] #11229 closed, assigned to nobody

[2019-12-21 16:41] pedrofurtado opened #11250 "Version 19.2.5 is available in yarnpkg but not in Github"
@BingoRUS @babich-a
The version 19.2.5 is already available in yarnpkg ( https://unpkg.com/browse/devextreme@19.2.5/ ), but not in Github repo yet 👍

[2019-12-22 21:12] hakimio commented on #11250
https://github.com/DevExpress/DevExtreme/releases/tag/19.2.5

[2019-12-22 23:02] BingoRUS commented on #11250
Hello @pedrofurtado and thank you for using DevExtreme!
The latest release v19.2.5 is available since December 18. Usually, we publish npm and NuGet packages, make the library available via CDN, add a GitHub release, update documentation and demos all at once. But sometimes it takes more time for some reason.
I've added the v19.2.5 to GitHub today, you can use the link @hakimio provided.

[2019-12-22 23:02] #11250 closed, assigned to nobody

[2019-12-23 15:11] #7294 closed, assigned to IgnatovDan

[2019-12-23 15:44] pedrofurtado commented on #11250
@BingoRUS @hakimio Thanks for feedback and explanation! Merry christmas for all in Devextreme team 🤝 🎅

[2019-12-24 07:03] Shon1N opened #11279 "Devexpress JS dxGrid Lookup not working after I change the datasource"
Good day, when I execute the following code It logs the old data and then the new data but the actual lookup column doesn't expand any longer, why might that be?

 console.log("Gender Updating:", $("#EntitlementRules").dxDataGrid("instance").columnOption("GenderID", "lookup"));
                    $("#EntitlementRules").dxDataGrid("instance").columnOption("GenderID", "lookup.dataSource", distinctG

[2019-12-24 11:47] sunbala opened #11285 "DX Tree List Level based Font Size"
### Steps to Reproduce:

1.  Need level based font size/ font bold required
2. Need Child value summary to its parent
3.

### Results You Received:
1. Same font size for all levels
2. Unable to find property

### Results You Expected:
1. First Level font size 16 & bold, Second Level font size 14 etc...
2. Child value (Last level for its parent) summary to its parent (recursive method)

### Environ

[2019-12-25 07:17] #10825 closed, assigned to nobody

[2019-12-25 07:17] #10544 closed, assigned to sometimesElen

[2019-12-25 07:18] #10380 closed, assigned to artem-kurchenko

[2019-12-25 07:19] #10425 closed, assigned to nobody

[2019-12-25 07:21] #9883 closed, assigned to andrewmakarov

[2019-12-25 07:22] #10402 closed, assigned to nobody

[2019-12-25 07:56] #6563 closed, assigned to vconst

[2019-12-25 07:57] #6572 closed, assigned to komarovalexander

[2019-12-25 07:58] #7175 closed, assigned to Alyar666

[2019-12-25 08:14] DokaRus commented on #10931
Hi,

I cannot reproduce it with v.19.2.5 or v.19.2.4. This code is related to the Knockout integration. I checked the demos - they run correctly. Could you please specify the DevExtreme version and add an example that demonstrates the issue?

[2019-12-25 08:17] DokaRus commented on #11073
Please submit your question to our [Support Center](https://www.devexpress.com/Support/Center/).

[2019-12-25 08:17] #11073 closed, assigned to DokaRus

[2019-12-25 08:22] #8299 closed, assigned to groshenkovamarina

[2019-12-25 10:02] urlimited commented on #7003
Thanks a lot, man you have saved me lot of time

[2019-12-26 11:38] igormalzew commented on #11127
In general, masterDetail has a template in which you can implement any functionality. On the other hand, you need to update the master row data yourself.

If you work with local data, you can solve your task by assigning "options.data" to "dxForm.formData" as in the following [example](https://codepen.io/vconst/pen/yLyXqWL?&editable=true).

If you have other technical questions, please submit a ne

[2019-12-26 11:38] #11127 closed, assigned to igormalzew

[2019-12-26 12:26] sunbala opened #11313 "DX Data Grid Multi-Row-Header (Bands) Export to Excel alignment"
<!--
### Steps to Reproduce:

1.  Dx Data Grid load data with multi-row-header
    With export to excel using excel JS, Top Header Row (merged cell) column alignment to be centred

### Results You Received:
1.Unable to find multi-row column header alignment property.

### Results You Expected:
1. Need Each multi row column header alignment

### Environment Details:

![Issue](https://user-images.gi

[2019-12-26 14:46] AlekseyMartynov commented on #6585
We still don't have a universal solution to the described problem.

Instead of creating duplicate models, I suggest that you use a custom JSON serialization in DevExtreme-related code. For example:

[code]

[2019-12-26 14:46] #6585 closed, assigned to nobody

[2019-12-27 13:49] vconst commented on #11285
@sunbala,

Thank you for contacting us.

To customize styles for specific rows, you can use the [onRowPrepared](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTreeList/Configuration/#onRowPrepared) event handler. See the following example: [https://codepen.io/vconst/pen/wvBqKmX](https://codepen.io/vconst/pen/wvBqKmX).

For summary calculations, you can use the [onNodesInitialize

[2019-12-27 13:49] #11285 closed, assigned to vconst

[2019-12-27 22:41] deranjer opened #11352 "File Manager Events"
Hello,

I am trying out the File Manager that is currently in CTP to see if it will fit my needs.

I'm just using the JSON backend for my data source, but that JSON is generated by the backend when it scans the folder structure.

 I have a hopefully quick question about events: https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFileManager/Events/

I was hoping for a lot more events

[2019-12-29 07:26] windows99 opened #11355 "DataGrid: headerFilter How to obtain filtered data?"
I want to get all the filtered data,but I can't find a way!
getDataSrouce  There are paging restrictions.
What should I do?
我想获取 DataGrid 控件 headerFilter 筛选后的数据，做下一步计算，但是找不到可以使用的方法，我该怎么做

[2019-12-29 20:30] Shon1N commented on #11279
This pretty much solved the issue:

                    setTimeout(
                        function () {
                            $("#EntitlementRules").dxDataGrid("instance").columnOption("GenderID", "lookup.dataSource", distinctGenders);
                            $("#EntitlementRules").dxDataGrid("instance").columnOption("SizeID", "lookup.dataSource", distinctSizes);

[2019-12-29 20:30] #11279 closed, assigned to AntonSermyazhko

[2019-12-30 10:48] paufar opened #11363 "Is it possible to disable adding new tags but still allow user to delete?"
I have the following component which I want to disable when the user reached the maximum number of tags allowed, however, I still want the user to be available to delete tags when the maximum is reached  so that they are able to replace them.

[code]

Is there a way to disable adding new tags whenever the maximum no of tags is reached?

[2019-12-30 13:35] AntonSermyazhko commented on #11279
Hello @Shon1N,

Can you provide us with a simple example showing the issue, so that we can reproduce it and find a solution for you?

[2019-12-31 07:39] HASSANDL opened #11376 "TreeView in search not show childs"
TreeView not show childs after search.

![image](https://user-images.githubusercontent.com/22093903/71613861-e5a79580-2bbd-11ea-82f6-28f71b6bb4db.png)

[2019-12-31 08:38] novsstation commented on #11376
Hi HASSANDL,

The TreeView displays only found nodes and their parents when search is used. This behavior is by design.

If you need to retrieve child nodes for nodes that do not match search criteria, please refer to this  [ticket](https://www.devexpress.com/Support/Center/Question/Details/T647258/treeview-when-select-a-node-and-node-s-children-become-empty-array-after-filter) for more informatio

[2019-12-31 08:38] #11376 closed, assigned to novsstation

[2020-01-06 12:04] hakimio commented on #11352
Have you checked [File Providers](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFileManager/File_Providers/Custom/) ([fileProvider](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFileManager/Configuration/#fileProvider) config)?

[2020-01-06 20:10] deranjer commented on #11352
Okay yes, that is it, I was searching for everything in the "Array" implementation, but I need to use a "Custom" file provider.  Thank you.

[2020-01-06 20:10] #11352 closed, assigned to nobody

[2020-01-07 07:31] sunbala opened #11393 "DX Data Grid Summary for Selected rows"
### Steps to Reproduce:

1.  Need  Data Grid Summary column for selected rows only (selection mode: multiple)
2.
3.

### Results You Received:
1. unable to calculate summary using custom summary while selecting multiple rows

### Results You Expected:
1. Need to calculate summary while selecting rows in run time. Please find attachment

### Environment Details:
![Summary](https://user-images.githu

[2020-01-09 06:54] andrewmakarov commented on #11228
@bilicio
Hi,
could you please attach a simple project to helps us reproduce the problem on our side faster.

[2020-01-09 07:56] IgnatovDan commented on #11313
I am afraid I cannot give you any advice without researching your project.
Would you please send us your project, so that we can assist you further? This will greatly help us understand how to help you with this task.

See also:
- [T810780 - DataGrid exports columns with the offset if the allowExporting option is set to false for a column under a band column](https://supportcenter.devexpress.com/i

[2020-01-09 07:56] #11313 closed, assigned to IgnatovDan

[2020-01-09 13:17] #10931 closed, assigned to DokaRus

[2020-01-10 10:02] igormalzew commented on #10255
You can cache the data that comes through an ajax request by a unique identifier. And each time you expand a row check for data in the cache. If there is no data in the cache, then the row is expanded for the first time and you need to perform an ajax request and write the result to the cache.

If you have other technical questions, please submit a new ticket to our Support Center (https://www.dev

[2020-01-10 10:02] #10255 closed, assigned to AlisherAmonulloev

[2020-01-10 15:00] Alyar666 commented on #11355
Hello @windows99,

You can use the store to load all filtered data:
[code]

**See also:**
[DataSource.store()](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/DataSource/Methods/#store)
[DataGrid.getCombinedFilter(returnDataField)](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Methods/#getCombinedFilterreturnDataField)

[2020-01-10 15:00] #11355 closed, assigned to Alyar666

[2020-01-10 21:13] byezgi-esq commented on #9720
It would be great if you could support SASS export as well. Otherwise we have to compile your LESS and our SASS separately and will not be able to control the order of styles easily.

[2020-01-13 05:20] babich-a commented on #9720
@byezgi-esq we plan to migrate from less to scss

[2020-01-15 09:37] onebalaban commented on #11363
Hello,

Please check this ticket for a solution: [T848905 ](https://supportcenter.devexpress.com/ticket/details/t848905/tagbox-disable-adding-new-tags-but-still-allow-a-user-to-delete-the-existing-ones).

Regards,
Romeo

[2020-01-15 09:37] #11363 closed, assigned to onebalaban

[2020-01-15 09:42] onebalaban commented on #8656
Hello,

If the problem is still relevant, could you please record a screencast demonstrating the steps to reproduce it?

Regards,
Romeo

[2020-01-15 09:42] #8656 closed, assigned to onebalaban

[2020-01-15 12:54] vconst commented on #11393
Hi, @sunbala,

You can find the solution in the Custom Summaries demo: [https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/CustomSummaries](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/CustomSummaries).

If you have other technical questions, please submit a new ticket to our [Support Center](https://www.devexpress.com/Support/Center/Question/Create).

[2020-01-15 12:54] #11393 closed, assigned to vconst

[2020-01-17 14:46] jtoming830 commented on #7483
Hello Andrey,

You can use [FilterBuilder's value](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFilterBuilder/Configuration/#value) option to programmatically display applied filters and DataGrid's [getCombinedFilter](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Methods/#getCombinedFilter) method to get the total filter.

Please try it and let me

[2020-01-17 14:46] #7483 closed, assigned to jtoming830

[2020-01-17 21:45] HASSANDL opened #11576 "ignoreEmptyPoints in chart not work"
I set ignoreEmptyPoints true but show null value in argumentaxis.
for example USA point is null:
[https://codepen.io/hassandl/pen/eYmPRwq](https://codepen.io/hassandl/pen/eYmPRwq)

[2020-01-20 07:42] HASSANDL opened #11578 "Bar chart hide some point"
Bar chart hide some point in small screen. (19.2.5)
![image](https://user-images.githubusercontent.com/22093903/72707480-b7422800-3b75-11ea-99b9-a5ebeb4624d5.png)

[2020-01-22 08:30] AlisherAmonulloev commented on #11578
Please submit your question to our Support Center: https://www.devexpress.com/ask

[2020-01-22 08:30] #11578 closed, assigned to AlisherAmonulloev

[2020-01-22 08:30] AlisherAmonulloev commented on #11576
Please submit your question to our Support Center: https://www.devexpress.com/ask

[2020-01-22 08:30] #11576 closed, assigned to AlisherAmonulloev

[2020-01-22 12:27] lain9293 opened #11859 "Why do not trigger scroll event ?"
# Support Question

https://codesandbox.io/s/event-handling-devextreme-lookup-5ty7v?fontsize=14&hidenavigation=1&theme=dark

[2020-01-22 13:55] AntonSermyazhko commented on #8059
Hello, our controls don't support changing the locale at runtime. In the demo this approach works thanks to bindings:
`
[caption]="formatMessage('Company')">
`

[2020-01-22 13:55] #8059 closed, assigned to nobody

[2020-01-23 08:06] HASSANDL commented on #11576
This issue is no question, is a bug report.

[2020-01-23 13:32] Lehakos opened #11666 "Error in PieChart's label"
### Steps to Reproduce:
1. Add PieChart
2. Add Legend
3. Add Title to legend
4. Add verticalAlign="bottom" to Title
5. Set small size to chart (The legend should be hidden due to the container size)

### Results You Received:
Chart is broken. TypeError: "that._markersGroup is null"

### Environment Details:
I prepared a sandbox: https://codesandbox.io/s/determined-mcnulty-xhi4i

[2020-01-24 08:11] alexanderPolosatov commented on #11666
Hi,

I created a [ticket](https://supportcenter.devexpress.com/ticket/details/T854736) about this issue in our Support Center and suggest you track it to be notified of our progress.

[2020-01-24 08:11] #11666 closed, assigned to alexanderPolosatov

[2020-01-24 09:33] vconst commented on #7496
Hi @pcurrivan,

By default, the DataGrid applies all state settings that can be customized at runtime.
To cancel selection state restore you can clear the [selectedRowKeys](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#selectedRowKeys) field from state on a [stateStoring.customLoad](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGr

[2020-01-24 09:35] vconst commented on #7496
Hi @briosheje,

The [onInitialized](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onInitialized) event is designed to save the widget instance. So, it is not recommended to call methods and modify options here. Use the [onContentReady](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onContentReady) to call the se

[2020-01-24 09:35] #7496 closed, assigned to vconst

[2020-01-25 15:28] HASSANDL opened #11699 "Chart tooltip & label problem with rtl language"
chart tooltip & label problem with rtl language.
https://codepen.io/hassandl/pen/NWPJYyq

![image](https://user-images.githubusercontent.com/22093903/73133481-56679380-403e-11ea-9ee5-fae719602b06.png)

[2020-01-28 15:11] RezaRahmati opened #11748 "Screen readers doesn't read grid summaries (Sum, count) on dxDataDrid since they don't get focused"
### Steps to Reproduce:

1. Open this sample [https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/GridSummaries/Angular/Light/](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/GridSummaries/Angular/Light/)
2. Open a screen reader such as JAWS
3. Start pressing Tab until end of data
4. Press another Tab

### Results You Received:
It jump to Paging

### Results You Expected:
It

[2020-01-30 09:21] #3815 closed, assigned to DokaRus

[2020-01-30 09:22] DokaRus commented on #3940
Hi,

Thank you for the suggestion! We'll take it into account in further development.

[2020-01-30 09:22] #3940 closed, assigned to DokaRus, jsdmitry

[2020-01-30 20:51] RezaRahmati opened #11797 "DxDataTable doesn't get focus when is selected by table selector on JAWS screen reader"
### Steps to Reproduce:

1. Add two dxDataGrid on a page

2. Open JAWS screen reader

3. press Tab to go to first table and continue to some rows and columns

4. press ctrl + Ins + T, JAWS will open a table selector

5. Select second table

6. press Tab

### Results You Received:

Focus stays on first table

### Results You Expected:

Focus should go to the tabled selected (in this case second tab

[2020-02-01 02:38] pssrecom opened #11824 "Tabpanel, Tabs - Show the close button on a tab"
Why TabPanel and Tabs widget. Show close button on item is not supported. This is an important feature, such as easyUI: www.jeasyui.com

[2020-02-03 11:48] AlisherAmonulloev commented on #11699
Please submit your question to our Support Center: https://www.devexpress.com/ask

[2020-02-03 11:48] #11699 closed, assigned to AlisherAmonulloev

[2020-02-03 11:55] HASSANDL commented on #11699
this is a report bug not a question.
Are you problem with me?

[2020-02-10 06:17] Bykiev opened #11940 "dxGantt v0.0.29 - item is not repainting after change dates"
Hi,

after update dxGantt to v0.0.29 after change dates in Gantt diagram  the item is not filled with color (devExtreme 19.2.7-build-20036-0311), but the border is visible on mouse hover:

![gantt_bug](https://user-images.githubusercontent.com/13969777/74125239-c7ce4700-4be5-11ea-8534-dfd352d9e254.png)

[2020-02-10 14:49] natashaash commented on #11940
Hello,
I was not able to reproduce this behavior using [this build](https://www.npmjs.com/package/devextreme/v/19.2.7-build-20036-0311).
The issue can relate to an incorrect update process which we described in the [Gantt v0.0.27 error](https://github.com/DevExpress/DevExtreme/issues/10883) thread. Did you upgrade the whole DevExtreme package?
It can also occur if CSS files of an older version are

[2020-02-11 08:11] Bykiev commented on #11940
@natashaash, hello!
Yes, I've updated the whole DevExtreme package on version 19.2.7-build-20036-0311 and it requires devexpress-gantt 0.0.29. I'll try to prepare a runnable demo.

[2020-02-11 10:36] Semigradsky opened #11959 "No need to load values when getting fields for PivotGrid"
Currently `getFieldValues` function in `devextreme/ui/pivot_grid/data_source.js` assign `skipValues: true` to `loadOptions`.
(https://github.com/DevExpress/DevExtreme/blob/4703178bce8d27009b6e14bd2428ba5390f1538f/js/ui/pivot_grid/data_source.js#L769
But this value not used in `createLoadOptions`.
https://github.com/DevExpress/DevExtreme/blob/4703178bce8d27009b6e14bd2428ba5390f1538f/js/ui/pivot_gri

[2020-02-12 10:14] Semigradsky commented on #11959
I would be happy if you will pass `skipValues` to `loadOptions`. Smth like:
[code]

[2020-02-13 07:13] Semigradsky opened #12003 "`customizeExcelCell` in pivot grid"
We have `customizeExcelCell` function for pivot grid but we can't customize because we don't know what is value passing to `customizeExcelCell`.

Would be nice to have `gridCell` in arguments (like for dxDataGrid) or smth like this for determining what is value currently customizing.

[2020-02-13 11:59] vconst commented on #11748
Hi @RezaRahmati,

Currently, the summary cells are not accessible in DataGrid. We are going to support accessibility for summary cells in future versions.

[2020-02-13 12:22] Bykiev commented on #11940
@natashaash, unfortunately, I can't reproduce this issue on codepen, but when I collapse rows smth cause gantt repaint and everything looking good until I'll change dates again...

[2020-02-14 18:11] RezaRahmati commented on #11748
thanks, would you please share the ticket link so I can watch it

[2020-02-14 18:14] RezaRahmati opened #12044 "Feature request: SSML editor"
In the component there is a Html Editor that supports both markdown and html, in my project I need SSML editor and Html editor. there is a free ssml editor [https://www.npmjs.com/package/quill-rich-voice-editor](https://www.npmjs.com/package/quill-rich-voice-editor), but since it's not compatible with all my themes (in devextreme) I was wondring if it's possible to Support SSML in Html Editor as a

[2020-02-17 10:26] jtoming830 commented on #11797
Hello,

I reproduced the behavior you described. I created a bug report in the Support Center and forwarded it to our team for further research.
[https://supportcenter.devexpress.com/ticket/details/t862713/dxdatagrid-doesn-t-get-focus-when-is-selected-by-table-selector-on-jaws-screen-reader](https://supportcenter.devexpress.com/ticket/details/t862713/dxdatagrid-doesn-t-get-focus-when-is-selected-b

[2020-02-17 10:26] #11797 closed, assigned to nobody

[2020-02-19 08:56] #12074 closed, assigned to nightskylark, LexDX

[2020-02-19 13:17] igormalzew commented on #11959
Would you please clarify what task you need to solve by adding this parameter.
Maybe you are trying to optimize a request for calculating aggregated values when opening a header filter, or do you have a different scenario?
Could you please describe your real scenario in greater detail and how this parameter will help you solve the problem?

[2020-02-19 13:25] Semigradsky commented on #11959
@igormalzew I have two goals.

At the first, optimize a request for getting possible header values when opening a header filter. I see that values which I need to generate is not used.

At the second, I want to load more header values for filtering that there are on grid. For example: load grid data for one month but load filter values for two years. Currently requests for getting filter values an

[2020-02-20 01:02] pcurrivan opened #12085 "Virtual scrolling, virtual row rendering, and page size"
### Steps to Reproduce:

1.  Open the local virtual scrolling demo at https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/VirtualScrolling/Angular/Light/
2. Set the grid's height to 900 and set rowRenderingMode (dxo-scrolling) to 'virtual'
3. Scroll quickly. Eventually the bottom few displayed rows will not be rendered (gray bars).
4. Now set pageSize (dxo-paging) to 30 (up from the defau

[2020-02-20 08:27] Semigradsky commented on #12003
Fox example I want to set different number format depends on column name/type.

[2020-02-20 12:19] artem-kurchenko commented on #12003
`customizeExcelCell` is not a part of the built-in PivotGrid API in v19.2

@EugeniyKiyashko  @IgnatovDan  what do you think of this as a possible improvement?

[2020-02-21 08:22] IgnatovDan commented on #12003
We researched how to add the customizeExcelCell event to PivotGrid and found that it will take us some time to implement/test/describe/demonstrate a possible approach.
While researching the issue, we found several scenarios that are not supported by our current DataGrid/PivotGrid exporting code and we cannot improve our code within a reasonable time frame (see [Excel Export Enhancements](https://g

[2020-02-21 08:22] #12003 closed, assigned to IgnatovDan, EugeniyKiyashko, artem-kurchenko

[2020-02-22 15:49] rsznajder opened #12120 "autocomplete list bug"
Here is my code
<dx-autocomplete
                  placeholder="Wstaw nazwę towaru..."
                  [dataSource]="towarDataSource"
                  [maxItemCount]=1000
                  [minSearchLength]=0
                  [openOnFieldClick]=true
                  [showDropDownButton]=true
                  [(value)]="nazwaTowar"
                  (onItemClick)="onItemClickNazwaTowar($event

[2020-02-24 06:55] Azbesciak commented on #12074
I am fully agree with the above comments.
Maybe at least you should expose method to manually update translations? For now I have the same problem, and stumble with your components for some (quite long) time. And the best is - you are not totally correct; lazy initialized components like calendar, or other if those exist with `ngIf` will have the i18n correct with the one at the moment of initiali

[2020-02-24 11:46] natashaash commented on #11940
Hello,
To be able to determine the cause of this behavior, I need to replicate it on my side. Currently, your Gantt's settings and other details of your scenario are not clear, so, my attempts to replicate the issue are not efficient. Please provide Gantt settings, your project code, or a link to the deployed problematic page. It may be more appropriate to continue this discussion in our [Support

[2020-02-27 13:49] zlannin opened #12255 "Hide checkbox for nested rows in TreeList"
# Support Question

I'm using the TreeList with a hierarchical structure. Can I hide the select checkbox for nested items?

I don't want `Jane Doe` to have a checkbox.
![image](https://user-images.githubusercontent.com/11505024/75450981-5efd0380-5935-11ea-8401-ee877d3d35ec.png)

[2020-02-27 14:55] LexDX commented on #12074
Hi @All,

We understand that the current solution is not perfect and we hope to come up with a better derision in one of our future updates. As you know, such improvements require lots of changes in the core code base. We may also need to redesign the architecture of our current controls, which is not fast and simple. So, at the moment we are unable to give you exact time frames.

[2020-02-28 07:11] krilllind opened #12160 "Change return type on CustomStore methods"
Is there a reason why `CustomStore` and `CustomStoreOptions` has different typings on for example the `load()` method?

If i create a new class and extend CustomStore, I have to implement a load method with the return signature of `Promise<any> & JQueryPromise<any>` while if a create a new CustomStore and pass CustomStoreOptions, the signature for load method is `Promise<any> | JQueryPromise<any>

[2020-02-28 07:11] novsstation opened #12161 "TreeView - Selection enhancements"
# TreeView - Selection enhancements

## The Problem
The TreeView widget doesn’t provide a built in API to retrieve selected nodes/keys.

## The Proposed Solution

The new `getSelectedNodes`/`getSelectedNodeKeys` methods which allow you to retrieve selected nodes/keys.

[code]

## Show selected employees

[code]

# Try It

## Live Sandbox

[JQuery](https://codepen.io/SNovikov/pen/bGdpZPX?editors=11

[2020-02-28 12:58] EugeniyKiyashko commented on #11824
Hello,

We researched how to add the Close Button to Tabs and TabPanel widgets and found that it will take us some time to implement a possible approach.

We plan to introduce a similar solution for TabPanel with close button functionality in the near future (though I cannot promise any strict time frame). At the moment, we're working on the features listed in our [Road Map](https://js.devexpress.

[2020-02-28 12:58] #11824 closed, assigned to jsdmitry, EugeniyKiyashko

[2020-02-28 13:13] Alyar666 commented on #11601
Hello @steelcg,

From what I gather, you implemented calculateCellValue because you have complex data in a cell. You can set dataField in the following manner: dataField: "datetime.$date"

In this case, it will not be necessary to implement calculateCellValue. Is this a suitable solution for you?

[2020-03-01 16:44] genachka opened #12169 "TreeList - enhance recursive parent nodes intermediate state"
Use case:
When `selection: {mode: 'multiple', showCheckBoxesMode: 'always', recursive: true}` and if a parent node has multiple children I want to be able to select all the children without the parent node automatically selected in which case I want the parent to show an intermediate icon state. In which case if I also after selecting the all children then select the parent too, then the parent sh

[2020-03-01 20:38] genachka opened #12170 "TreeList - autoExpandAll option only works on initial instance create not clear data and setting data again"
Tested with versions 18.2.8 through 19.2.6. When create a new instance of TreeList and setting the option of `autoExpandAll` and providing data during this instance create the resulting rows are rendered with the nodes all expanded as expected.

If later you do a `treeListInstance.option('dataSource', []);` and `treeListInstance.option('dataSource', someData);` where `someData` is the new hierarch

[2020-03-01 23:06] genachka opened #12171 "TreeList - save state / load state headerFilter issue?"
TreeList 19.2.6 - I can toggle the column header filter off just fine using: `treeListInstance.option({filterRow: {visible: false}}) and the header row is still visible with the filter no longer shown. Then if I save the grid state (to localstorage) and retrieve the grid state and apply it to the grid, instead of the filter not being shown on the header -- the entire header isn't shown.

[2020-03-03 01:46] pssrecom opened #12182 "About SelectBox"
.SelectBox()
.DataSource(d => d.Mvc().Controller(..).LoadAction(...)
.Value(...)

In software projects, if the data is large, we always load the display value first when displaying the card. When click on SelectBox, then look up the data from the database.

Recommendation:

1. Add displaytext or modify displayvalue property to display field text.
2. When click on a field, look up the data from the

[2020-03-03 02:13] pssrecom commented on #11824
Very much looking forward to it. Thank you for the example.

[2020-03-04 08:13] AntonSermyazhko commented on #12085
Hello,

We have a [similar issue](https://supportcenter.devexpress.com/internal/ticket/details/T750279) in our Support Center.
You can subscribe to it to receive notifications of our progress.

[2020-03-04 08:13] #12085 closed, assigned to AntonSermyazhko

[2020-03-04 11:25] pavelgruba opened #12207 "PolarChart Annotations"
# The Problem
In DevExtreme v19.1, we introduced [Chart Annotations](https://community.devexpress.com/blogs/javascript/archive/2019/04/30/devextreme-charts-annotations-v19-1.aspx). However, this functionality is not available in other widgets.

# The Proposed Solution
We are planning to implement annotations in other data visualization widgets. In this release, we are focusing on the **PolarChart*

[2020-03-05 00:11] genachka commented on #12171
@Alyar666 @vconst or someone from DevExpress - would appreciate assistance / response?

[2020-03-05 00:11] genachka commented on #12170
@Alyar666 @vconst or someone from DevExpress - would appreciate assistance / response?

[2020-03-05 00:11] genachka commented on #12169
@Alyar666 @vconst or someone from DevExpress - would appreciate assistance / response?

[2020-03-05 15:13] AlekseyMartynov commented on #7974
Thanks to everybody who gave us feedback on this idea. We've seen that the feature is important for some users. However, the overall amount of feedback is quite low. Considering this as well as the fact that the issues in the existing OData implementations are still open, we decided to remove the feature from our short-term plans.

I'm closing the ticket.

P.S. Thanks @Seteh for your hard work!

[2020-03-05 15:13] #7974 closed, assigned to nobody

[2020-03-05 15:34] JD2k opened #12233 "Number Box deactivate mouse wheel"
I tried to deactivate mouse wheel functions (increasing and decreasing) in a number box in react. Is this possible? If not, would be nice to implement this feature.

Thanks

[2020-03-05 15:58] DokaRus commented on #12233
You can refer to the following tickets in our SC:
[NumberBox - How to disable changing on mouse wheel](https://supportcenter.devexpress.com/ticket/details/T588916/numberbox-how-to-disable-changing-on-mouse-wheel)
[NumberBox - How to prevent only the mouse wheel event and keep arrows active](https://supportcenter.devexpress.com/ticket/details/T741892/numberbox-how-to-prevent-only-the-mouse-wheel-ev

[2020-03-05 15:58] #12233 closed, assigned to DokaRus

[2020-03-05 20:52] OmniAndy opened #12256 "TextBox mask and NumberBox format causes flickering (jumping focus) on editor fields in iOS Chrome"
**Package versions:**
devexteme version:  **19.2.6**
devextreme-angular version:  **19.2.6**
iOS: **13**
Chrome: **latest**

**Steps to reproduce:**
I know this occurs on NumberBox and TextBox.
**NumberBox** - if you have two numberboxes (each having their own binded value) and one numberbox changes the value of another numberbox's value, focus will jump back and forth between the two numberboxes.

[2020-03-06 07:39] jsdmitry opened #12236 "HtmlEditor - Multiline toolbar"
# The Problem

The width of the toolbar in the Html Editor does not always fit all items, and extra items are hidden in an overflow menu. The user should scroll the menu when there are many items.

# The Proposed Solution

We plan to implement a multi-line toolbar which can be enabled via the `multiline` option:

[code]

## UI Design
![HtmlEditor - multiline](https://user-images.githubusercontent.

[2020-03-06 08:31] NickMitrokhin commented on #9319
Starting with 20.1, async validation will be supported in DataGrid for Row, Batch and Cell editing modes. You can test it in v20.1.2-alpha. To install this version, execute the following command:

[code]

[2020-03-06 09:53] babich-a commented on #9720
Thank you to everybody who gave us feedback on this feature by different means. It's available in the [v19.2](https://github.com/DevExpress/DevExtreme/releases/tag/19.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/C

[2020-03-06 09:53] #9720 closed, assigned to babich-a

[2020-03-06 10:10] groshenkovamarina commented on #9610
These features are now available in the [v19.2](https://github.com/DevExpress/DevExtreme/releases/tag/19.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-03-06 10:10] #9610 closed, assigned to groshenkovamarina

[2020-03-06 10:48] flagmanAndrew commented on #12182
Hello,
Thank you for the suggestion, but it's unclear why a new option for display text is needed for such cases.

SelectBox doesn’t load records until you open its drop down or start typing. If you initially assign a value to SelectBox, the editor loads only one record by its key (the editor’s value is a record’s key). Usually, this operation is immediately executed. Especially, if a table in you

[2020-03-06 13:53] #11601 closed, assigned to Alyar666

[2020-03-06 15:32] JD2k opened #12250 "Possibility to add a tooltip to form item"
I found no possibility to add a tooltip to a simple form item. Is this possible?

My code looks something like this:

`<Form>`
`<Item itemType="group" caption="Test group" colCount={2} colSpan={2}>`
         `<Item dataField="Test1"/>`
         `<Item dataField="Test2" />`
 `</Item>`
 `</Form>`

I am using it inside editing from a datagrid.

Thanks in advance

[2020-03-09 04:45] pssrecom commented on #12182
I'm sorry that I didn't notice the query data according to the Key when I used it.

Let me give you an example:
I have a purchase order, It is divided into Head and Body.
Head include Template, Organization, Customer, Department, Employee,  etc.
Body include Items, Position, Price, Quantity, Amount, etc.

There is a lot of information on this purchase order.
Now this purchase order has been approv

[2020-03-09 09:16] onebalaban commented on #12171
Hello,

I didn't manage to reproduce the issue in this demo: https://js.devexpress.com/Demos/WidgetsGallery/Demo/TreeList/StatePersistence/jQuery/Light/

Please create a simple page demonstrating your dxTreeList implementation (you can do this in CodePen or in a separate repository) and send it to us for further research. It would be also helpful if you record a screencast demonstrating steps to r

[2020-03-09 11:55] artem-kurchenko commented on #12160
Hi,

CustomStore supports jQuery.Promise (it's mainly used in jQuery, ASP.NET Core and MVC) and native Promise for Angular, React, Vue. That's why we use the `Promise<any> & JQueryPromise<any>` signature.

[2020-03-09 12:25] krilllind commented on #12160
@artem-kurchenko But shouldn't that signature also be `Promise<any> | JQueryPromise<any>` then?
Why is there a difference between load signature as parameter in constructor for CustomStore vs load signature when you extend CustomStore?

[2020-03-09 12:27] onebalaban commented on #12169
Hello,

If all child nodes are selected, dxTreeList automatically checks the parent selection checkbox. This behavior is expected and relates to dxTreeList recursive selection. In this mode, the parent selection checkbox can't be in the intermediate state if all child nodes are selected. We don't plan to modify this behavior or add extra options in the near future - see our [Roadmap ](https://js.d

[2020-03-09 12:27] #12169 closed, assigned to onebalaban

[2020-03-09 13:27] fgvicente opened #12257 "ngAfterViewChecked trigger all time when mouse move on diagram widget"
I am testing the angular diagram and detected a problem. The change detector runs constantly when the mouse is moved. you can check by putting

`ngAfterViewChecked () {
console.log ('here');
}`

in any example diagram for angular

I leave an example in
[(https://codesandbox.io/s/b2pjf)]((https://codesandbox.io/s/b2pjf))

but it explodes and is not executed.

[2020-03-10 08:31] artem-kurchenko commented on #12120
Hi @rsznajder ,

Thank you for the report. We'll research this behavior in the context of the [t869431](https://supportcenter.devexpress.com/ticket/details/t869431/autocomplete-doesn-t-display-items-according-to-maxitemcount-if-openonfieldclick-is-true)  Support Center thread. As an immediate workaround, you can define [DataSource.pageSize ](https://js.devexpress.com/Documentation/ApiReference/Dat

[2020-03-10 08:31] #12120 closed, assigned to artem-kurchenko

[2020-03-10 10:44] muhammedMoussa opened #12290 "treelist hang on huge amount of data"
I'm running v `19.1.4` and have a grid with dataSource +24k record tree list shows no data only, remaining tree lists works fine.

error:
`
core.js:3828 ERROR DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of 'Accounts' exceeded the quota.
`

[2020-03-10 11:45] onebalaban commented on #12255
Hello,

Please refer to the [TreeList - How to allow selecting child nodes only](https://supportcenter.devexpress.com/ticket/details/t632675/treelist-how-to-allow-selecting-child-nodes-only) ticket where we answered a similar question.

Regards,
Romeo

[2020-03-10 11:45] #12255 closed, assigned to onebalaban

[2020-03-10 12:17] onebalaban commented on #12170
Hello,

We discussed a similar issue in this ticket: [TreeList - autoExpandAll not working if dataSource that represents an array of items is changed at runtime](https://supportcenter.devexpress.com/ticket/details/t705518/treelist-autoexpandall-not-working-if-datasource-that-represents-an-array-of-items-is). I suggest you use Nikolay's solution from that ticket.

dxTreeList doesn't have these meth

[2020-03-10 12:17] #12170 closed, assigned to onebalaban

[2020-03-11 09:22] chukiatt opened #12273 "validationEngine.validateGroup"
i cannot validation status  is completed or not in async validationCallback

 validationEngine.validateGroup('myData').complete.then((r)=>{
 })

has error

 error TS2339: Property 'then' does not exist on type 'Promise<dxValidationGroupResult> | JQueryPromise<dxValidationGroupResult>'.
      Property 'then' does not exist on type 'JQueryPromise<dxValidationGroupResult>'.

[2020-03-11 12:09] NickMitrokhin commented on #12273
Hi,

Would you please clarify what jQuery version you are using? Have you tried to reproduce the issue with [one](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Form/Validation/Angular/Light/) of our demos?

[2020-03-11 13:58] OmniAndy commented on #12256
I think the core problem here is applying Formats and Masks to NumberBox and TextBox.  FocusStateEnabled="false" is just a band-aid.  However, disabling focusStateEnabled="false" is causing the values to not bind.  Again, this is only happening on iOS Chrome (latest versions).

[2020-03-11 17:22] OmniAndy commented on #12256
Also using Angular v8.2.13

[2020-03-11 17:56] OmniAndy commented on #12256
The issue does not occur in Angular v6.0.3

[2020-03-11 20:19] OmniAndy commented on #12256
I created an example in StackBlitz

This is the code:
https://stackblitz.com/edit/angular-utu2s8

Sharing the StackBlitz App URL was not working, so I deployed the example to Firebase:
https://od-stack.firebaseapp.com/?76967

The example is three NumberBoxes.  When you input a value into NumberBoxes 1 and 2, a method is called to calculate the product of the two values and place them in NumberBox

[2020-03-12 18:05] sometimesElen commented on #9155
Hello,

Please accept my apologies for this delay. You are right, it is unexpected behavior, so I created a **public** bug report in our Support Center:
[SelectBox removes an initial value when the end-user opens a drop-down part and closes it by an outside click](https://supportcenter.devexpress.com/ticket/details/t870508/selectbox-removes-an-initial-value-when-the-end-user-opens-a-drop-down-part

[2020-03-12 18:05] #9155 closed, assigned to sometimesElen

[2020-03-13 08:18] maxerokh commented on #9336
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v19.2](https://github.com/DevExpress/DevExtreme/releases/tag/19.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub issues or tickets in our [Support Center](https://supportcenter.devexpress.com/ticket/list).

[2020-03-13 08:18] #9336 closed, assigned to maxerokh

[2020-03-13 11:37] alexanderPolosatov commented on #7263
This feature is now available in the recent [20.1-Sprint 5](https://github.com/DevExpress/DevExtreme/releases/tag/20.1.1-sprint.5) pre-release version. You can try it online in the [Angular](https://codesandbox.io/s/axis-custom-position-devextreme-charts-xxnis), [React](https://codesandbox.io/s/axis-custom-position-devextreme-charts-oktoj), [VueJS](https://codesandbox.io/s/axis-custom-position-dev

[2020-03-13 14:48] AnReZa opened #12309 "DataGrid breaks its layout when rows are grouped by a band column"
As an experiment, I've added a band of three already-existing columns to my column list. When grouping to this virtual column, the grouping itself works as expected. However, in the header column, it doesn't hide the three columns under the band and breaks the layout.

[code]

Before:
![image](https://user-images.githubusercontent.com/42647891/76631429-fa02f980-6541-11ea-999c-52c604caad2d.png)

Af

[2020-03-16 08:41] alexander-kotov-dx commented on #12256
Hello,

Thank you for pointing this behavior out. We will research it in context of the [T870443](https://supportcenter.devexpress.com/Ticket/Details/T870443/textbox-mask-and-numberbox-format-causing-focus-issues-in-ios-chrome) and [T870784](https://supportcenter.devexpress.com/Ticket/Details/T870784/numberbox-the-use-of-several-editors-with-bound-values-can-cause-focus-issues-in-chrome) tickets i

[2020-03-16 08:41] #12256 closed, assigned to alexander-kotov-dx

[2020-03-17 02:15] RezaRahmati opened #12321 "`Cannot read property 'type' of undefined` error message on deleting row"
### Steps to Reproduce:

1. Open this sandbox [https://codesandbox.io/s/row-editing-and-editing-events-devextreme-data-grid-x7fus?fontsize=14&hidenavigation=1&theme=dark](https://codesandbox.io/s/row-editing-and-editing-events-devextreme-data-grid-x7fus?fontsize=14&hidenavigation=1&theme=dark)
2. click on delete button
3. select Yes

### Results You Received:
`Cannot read property 'type' of undefi

[2020-03-17 02:19] RezaRahmati commented on #11797
Answer from support center:

The issue occurs because of a conflict between the dxDataGrid and JAWS keyboard navigation. There are two ways to resolve the issue:

Use the onKeyDown event and handle the key combination to clear the focus from the dxDataGrid element (codepen sample):
[code]
Disable the dxDataGrid keyboard navigation by using the keyboardNavigation.enabled option.

[2020-03-17 10:59] NickMitrokhin commented on #12309
Hi,

When you group DataGrid by a certain column, the grid specifies the [groupIndex](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#groupIndex) option of this column. However, the option is not supported by band columns. See the [isBand](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/columns/#isBand) opti

[2020-03-17 10:59] #12309 closed, assigned to NickMitrokhin

[2020-03-17 11:58] vconst commented on #12321
Hi,

The bug is already fixed in the context of the [T865833](https://supportcenter.devexpress.com/Ticket/Details/T865833) ticket.

[2020-03-17 11:58] #12321 closed, assigned to vconst

[2020-03-17 20:01] RezaRahmati opened #12343 "when entering duplicate tags in dx-tag-box it removed the values"
### Steps to Reproduce:

1. Open [https://codesandbox.io/s/overview-devextreme-tag-box-wmeb5?fontsize=14&hidenavigation=1&theme=dark](https://codesandbox.io/s/overview-devextreme-tag-box-wmeb5?fontsize=14&hidenavigation=1&theme=dark)
2. type `test` in tag box, confirm it shows the `test`
3. type `test` again

### Results You Received:
Both `test` tags are removed
(also both are removed from valueC

[2020-03-18 10:04] DokaRus commented on #12044
Thank you for your suggestion! This feature is not included in our short-term plan, but we will take it into account during further development.
We will also check the existing problems with the integration of third-party Quill extensions.

[2020-03-18 10:04] #12044 closed, assigned to DokaRus

[2020-03-18 11:37] flagmanAndrew commented on #12182
Hello,
SelectBox displays an empty string when it has a value and cannot locate it in a key field in its data source. In your case, the editor queries the server you specified in the editor config. If nothing is found, SelectBox will display an empty string even after you open its dropdown. If the SelectBox data source has such a key, the editor will show it without querying all data to show it in

[2020-03-19 09:58] jsdmitry commented on #7295
These features are now available in the [v19.2](https://github.com/DevExpress/DevExtreme/releases/tag/19.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-03-19 09:58] #7295 closed, assigned to jsdmitry

[2020-03-19 10:16] Alyar666 commented on #9339
These features are now available in the [v19.2](https://github.com/DevExpress/DevExtreme/releases/tag/19.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-03-19 10:16] #9339 closed, assigned to Alyar666

[2020-03-19 11:55] Alyar666 commented on #9338
Hello @markeaston63,

I have tried to reproduce it based on your description, but on my side, the approach works fine (example: [https://codesandbox.io/s/devextreme-data-grid-54psz](https://codesandbox.io/s/devextreme-data-grid-54psz)). If the problem persists, please provide us with an example in the context of a new issue.

[2020-03-19 11:56] Alyar666 commented on #9338
These features are now available in the [v19.2](https://github.com/DevExpress/DevExtreme/releases/tag/19.2.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-03-19 11:56] #9338 closed, assigned to Alyar666

[2020-03-20 19:23] jsdmitry commented on #12250
How do you plan to use tooltip in the simple item? For a label or an editor?

[2020-03-20 20:28] JD2k commented on #12250
I thought about extension, that would use the helptext value.

In the meantime i realised it with a custom editor an an Overlay. In case some needs it:

    renderTooltipEditor(cell) {
        let onValueChanged = this.onValueChanged.bind(this, cell);
        return <OverlayTrigger
            placement="bottom"
            trigger={'focus'}
            overlay={
                <Tooltip id={cell.

[2020-03-20 20:28] #12250 closed, assigned to jsdmitry

[2020-03-21 14:42] #4502 closed, assigned to jsdmitry

[2020-03-22 10:50] pssrecom commented on #12182
Thank you for your care. There is no problem with SelectBox. I provided documentation to explain.
[about selectbox.docx](https://github.com/DevExpress/DevExtreme/files/4365052/about.selectbox.docx)

[2020-03-23 10:02] novsstation commented on #6597
Hi Andrey,

You can implement this by subscribing to the valueChanged event for the searchbox editor.
I have created a small [sample](https://codepen.io/SNovikov/pen/eYNLLqQ?editable=true) for you.

As for your question about the TreeView search performance,
could you please describe the problem with treeView configuration options in greater detail, or send us a small sample where we can see this

[2020-03-23 14:28] Bykiev commented on #6597
Hi Sergey,

Thank you for your sample, it was really helpful!

Here is a demo with the search issue (just start typing 'item' text and you'll see page hangs):
https://codepen.io/predatorz/pen/xxGaBVq

[2020-03-24 09:31] igormalzew commented on #11959
Regarding your query, please refer to [this ticket](https://supportcenter.devexpress.com/internal/ticket/details/T863867) wherein a similar issue was discussed.

If you have any questions, please submit a new ticket on [this page](https://www.devexpress.com/Support/Center/Question/Create)

[2020-03-24 09:31] #11959 closed, assigned to igormalzew

[2020-03-24 10:35] AlisherAmonulloev commented on #11859
I reproduced the issue and created a public ticket in our Support Center: https://supportcenter.devexpress.com/ticket/details/t873450
We will update the ticket once we make any progress.
In the meantime, you can handle the **scroll** event by setting the onScroll option in the widget's onInitialized event handler:
[code]

[2020-03-24 10:35] #11859 closed, assigned to AlisherAmonulloev

[2020-03-24 12:03] novsstation commented on #6597
Hi Andrey,

Thanks for your sample.
We are constantly improving the performance of our widgets, but in this case, the treeview node rendering takes some time. That's why, in your case, I suggest you separate keyboard input and TreeView search. Please try this [sample](https://codepen.io/SNovikov/pen/qBdJrmJ) and let me know your results.

[2020-03-24 12:47] Bykiev commented on #6597
@novsstation, thank you for your sample!

Indeed, applying search such way will improve user experience, but still search speed is very slow (because expanding treeview items takes a lot of time). The best way to improve search speed I described in https://github.com/DevExpress/DevExtreme/issues/6597#issuecomment-455115978 and now after PR [#12179](https://github.com/DevExpress/DevExtreme/pull/121

[2020-03-24 17:52] onebalaban commented on #12171
This issue has been locked due to inactivity.
Please file a new issue if you are encountering a similar or related problem.

[2020-03-24 17:52] #12171 closed, assigned to onebalaban

[2020-03-24 17:54] onebalaban commented on #12290
Hello,

Please create a repository / sample project demonstrating the issue and send it to us for further research.

Regards,
Romeo

[2020-03-24 17:56] onebalaban commented on #12273
This issue has been locked due to inactivity.
Please file a new issue if you are encountering a similar or related problem.

[2020-03-24 17:56] #12273 closed, assigned to NickMitrokhin

[2020-03-24 18:01] onebalaban commented on #11748
Hello,

We don't have a ticket for this task. I suggest you follow us in our [blogs](https://js.devexpress.com/Blogs/) and GitHub for further news.

[2020-03-24 18:01] #11748 closed, assigned to vconst

[2020-03-25 10:40] andrewmakarov commented on #11228
Thank you for bringing our attention to this issue.
We created a report in our Support Center. [Here](https://supportcenter.devexpress.com/internal/ticket/details/t873734) is a link where you can track its status.

Our Support Center is the main channel of communication and we recommend you contact us there in the future.

[2020-03-25 10:40] #11228 closed, assigned to andrewmakarov

[2020-03-25 12:24] novsstation commented on #6597
Hi Andrey,

We are happy to hear that you found a suitable approach.
Please feel free to contact us if you have any other questions. We will do our best to help you.

[2020-03-25 12:24] #6597 closed, assigned to jsdmitry

[2020-03-25 13:18] flagmanAndrew commented on #12182
Thank you for the detailed explanation. Currently, we don't have plans to extend the SelectBox API to provide a way to set a display text so that you can use preloaded texts for multiple editors. Nevertheless, we will take your scenario into account when planning our future updates. Please watch for them in our [What's New](https://js.devexpress.com/New/19_2/).

I'm happy to hear that you are OK w

[2020-03-25 13:18] #12182 closed, assigned to flagmanAndrew

[2020-03-26 09:02] onebalaban commented on #5794
This issue has been locked due to inactivity.
Please file a new issue if you are encountering a similar or related problem.

[2020-03-26 09:02] #5794 closed, assigned to vconst

[2020-03-26 14:37] zlannin opened #12459 "Pager not showing when pageSize is greater than or equal to datasource length"
# Bug Report

If you set paging.pageSize greater than or equal to your datasource length, the pager doesn't show.

**Package versions:**

    devexteme version:
    devextreme-angular version:

**Steps to reproduce:**

Go to https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/RecordPaging/Angular/Light/ and update pageSize to 20.

**Current behavior:**
Pager is hidden because the page siz

[2020-03-26 15:04] Bykiev commented on #12459
@zlannin, hi!

you can workaround the issue by setting pager's [visible  ](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/pager/#visible) option to true

[2020-03-26 21:17] facuesr opened #12473 "appointmentRender Rendering multiple times (React)"
### Steps to Reproduce:

1. JS dev extreme demo page. https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/CustomTemplates/React/Light/
2. Check that the component in AppointmentTemplate.js is rendering a lot of times in week view. Also when it shows the tooltip, it renders again all the appointments.
3. Should render 1 time for each appointment. This error makes the scheduler very slow w

[2020-03-26 21:46] artem-kurchenko commented on #12160
@krilllind
We support both types at the same time and not only one of them So, we use `&` in this case. However, I'm not sure about the second part.  Could you post an example for testing so I can check how you decided to extend CustomStore in action?

[2020-03-26 23:06] krilllind commented on #12160
@artem-kurchenko Hi, I created a gist where I wrote two versions. One is extending a CustomStore and one is just creating a new instance, passing options.

Both of my examples are written in TypeScript and Angular (as I am trying to using a CustomStore as an Angular service).

https://gist.github.com/krilllind/c37610442ae309e354c8ca9c7c1d2d0d

By extending CustomStore, I can implement my own logic

[2020-03-27 09:09] onebalaban commented on #12459
Hello,

@Bykiev's solution is correct. Set the **pager.visible** option to **true**.

Regards,
Romeo

[2020-03-27 09:09] #12459 closed, assigned to onebalaban

[2020-03-27 11:42] Bykiev commented on #12343
@RezaRahmati, hi!

Seems to be a really bug for me, but you can change the logic of [onCustomItemCreating](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTagBox/Configuration/#onCustomItemCreating) callback function to prevent adding duplicate values.

[2020-03-27 11:45] RezaRahmati commented on #12343
@Bykiev  can you please clone and modify my code, (as I tried before not able to do that)

[2020-03-27 12:31] Bykiev commented on #12343
@RezaRahmati, here is a sample of implementation of onCustomItemCreating function. I tried it, but it still resets all selected values, but prevents adding duplicate values to dataSource...

[code]

[2020-03-27 13:30] RezaRahmati commented on #12343
@Bykiev yes, exactly, I tried it before too, just wanted to be sure we are on same page.

[2020-03-27 14:03] Bykiev commented on #12343
@RezaRahmati, it seems behaviour in https://github.com/DevExpress/DevExtreme/issues/12343#issuecomment-604974145 is correct, just try to type in already selected item, select it and it'll be removed from selection

[2020-03-27 17:38] DokaRus commented on #12236
A new DevExtreme package `devextreme@20.1-next` is available now.
You can test this feature using examples that reside in the Live Sandbox section of the discussion page.

[2020-03-27 20:13] RezaRahmati commented on #12343
@Bykiev I tried, still same behavior, tags will be removed
check my updated sandbox [https://codesandbox.io/s/overview-devextreme-tag-box-wmeb5?fontsize=14&hidenavigation=1&theme=dark](https://codesandbox.io/s/overview-devextreme-tag-box-wmeb5?fontsize=14&hidenavigation=1&theme=dark)

[2020-03-28 16:00] Bykiev commented on #12343
@RezaRahmati, not all tags will be removed, but only duplicated. I belive this behaviour is correct, check [this](https://js.devexpress.com/Demos/WidgetsGallery/Demo/TagBox/Overview/Angular/Light/) demo with search mode and try to select item multiple times and it'll be remove from selection. But let's wait for offical response from DevExpress team

[2020-03-29 22:51] genachka commented on #12171
@onebalaban using the demo link you provided, if you change the values of the configuration, adding **headerFilter** and setting it to true while setting **filterRow** to false, the *Header Filter* is not shown.

[code]

[2020-03-30 20:35] #12290 closed, assigned to jtoming830

[2020-03-30 20:38] onebalaban commented on #12171
Hello,

It seems that there is a mistype in your configuration:
`headerFilter: {visable: true},`

The correct code is:
`headerFilter: {visible: true},`

[2020-04-01 08:27] artem-kurchenko commented on #12343
Hi all,

TagBox doesn't support duplicated tags. You can implement unique keys for each item if you wish to have the same display text for them. Please test the following example:
https://codesandbox.io/s/overview-devextreme-tag-box-9xtz3

Alternatively, you need to validate values before applying them. Please refer to [DxTagBox generates duplicate items when acceptCustomValue equals true](https:/

[2020-04-01 08:27] #12343 closed, assigned to artem-kurchenko

[2020-04-01 13:02] fgvicente opened #12531 "linkFromLineEndExpr and linkToLineEndExpr in diagram not work in last release (v19.2.7 and v20.1.1-sprint.6)"
this functions (linkFromLineEndExpr and linkToLineEndExpr) is ignored in the new release (v19.2.7 and v20.1.1-sprint.6) and does not work anymore

example:
in [https://js.devexpress.com/Demos/WidgetsGallery/Demo/Diagram/AdvancedDataBinding/jQuery/Light/](url)
change function for this
`function linkFromLineEndExpr(obj) {
        return 0;
    }
    function linkToLineEndExpr(obj) {
        return 0

[2020-04-02 10:22] LanetteDevEx commented on #12531
Hello,

To make these functions work in the latest version, it's necessary to return a "none" or "arrow" string value instead of 0. Try this approach and let us know if this helps.

We will consider describing this specificity in our documentation.

[2020-04-02 11:48] #11940 closed, assigned to natashaash

[2020-04-02 13:00] fgvicente commented on #12531
Hi. I do not understand well. Before you could specify from what point to which point the arrow is drawn. How do I specify that now? can you give me an example? what you need is to specify that at each node the arrows come out from below the node and always go up to the destination node

[2020-04-02 13:09] #8281 closed, assigned to San4es

[2020-04-02 13:37] San4es commented on #5937
We have introduced [drag and drop utilities](https://community.devexpress.com/blogs/javascript/archive/2019/12/09/devextreme-new-drag-and-drop-utilities-v19-2.aspx) in v19.2. I am closing this issue due to inactivity. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.c

[2020-04-02 13:37] #5937 closed, assigned to dxbykov

[2020-04-03 13:07] LanetteDevEx commented on #12531
Hello,

The linkFromLineEndExpr and linkToLineEndExpr functions define whether an arrow is shown at the end of the connector or at its start. You can return the "none" or "arrow" string in these functions to render an arrow or show no ending at the start/end of a connector.

However, these functions do not define which point is the start of a connector and which one is the end. This specificity is

[2020-04-03 14:04] fgvicente commented on #12531
![image](https://user-images.githubusercontent.com/3626864/78368917-c6dce480-759a-11ea-92a5-4903506c4678.png)

ok I understood ... but before that function defined which point of the four pink points of the first image.
I need to specify that the arrow go to that pink point or to any of the other four depending on the situation.

![image](https://user-images.githubusercontent.com/3626864/78368691-

[2020-04-03 15:26] genachka commented on #12171
@onebalaban yes thanks for pointing out that typo. But in my actual code there isn't a typo and it's same behavior. I will work on getting an example if I can't find a solution still.

[2020-04-03 18:30] San4es commented on #11306
Hi all,

I have prepared a simple example demonstrating dxCalendar and dxDateBox in the 'fa-IR' culture:
[https://codepen.io/San4esZ/pen/RwPmQeY?editors=1010](https://codepen.io/San4esZ/pen/RwPmQeY?editors=1010)

Please let us know if it meets your requirements.

[2020-04-03 18:42] San4es commented on #7047
Hi @Bykiev @hakimio,

Thank you for your suggestion. At the moment, we see no reason to add the `Function` type to the `dataSource` option. Please share your intended use cases with us.

[2020-04-03 20:16] LexDX commented on #6764
Thank you for the suggestion. We agree that a more precise error message will be helpful for our customers. We will consider improving this error mechanism in the future, however I can't provide you with any ETA. Please stay tuned to our Blog posts and What's New articles.

[2020-04-03 20:16] #6764 closed, assigned to San4es, LexDX

[2020-04-06 07:42] hakimio commented on #12160
@krilllind I think you are over-complicating it. Here is an example of how we use CustomStore in Angular project without any need to change CustomStore typings: https://gist.github.com/hakimio/0799288b6436aeb48025490649b44842

EDIT: you can use [Angular http interceptor](https://angular.io/guide/http#caching) to [cache responses](https://github.com/angular/angular/blob/master/aio/content/examples/

[2020-04-06 08:08] San4es commented on #6541
Hi,

Thank you for the report. We are aware of this issue. We attempted to fix it in the context of the [T590137](https://supportcenter.devexpress.com/ticket/details/t590137/) ticket. This caused massive negative side effects.

Since this issue occurs in specific browsers (Internet Explorer and Microsoft Edge), we decided to do the following:
- revert this fix from the DevExtreme codebase;
- repor

[2020-04-07 13:08] LanetteDevEx commented on #12531
Hello,

By default, certain points connected by a connector are chosen automatically according to the auto-layout algorithm applied.

If you need to specify what shape connection points are used to draw a connector specified in your data source explicitly, it's necessary to define the [fromPointIndexExpr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDiagram/Configuration/edges

[2020-04-07 13:16] fgvicente commented on #12531
Hello @LanetteDevEx any suggestion?

[2020-04-07 13:36] fgvicente commented on #12531
Hi @LanetteDevEx that doesn't work either
see example

[example](https://codesandbox.io/s/advanced-data-binding-devextreme-diagram-ceyds)

[2020-04-08 08:33] lcdrN commented on #9237
Hello,
I have exactly the same problem.

DevExtreme Version(s): devextreme + devextreme-angular 19.2.6
JS Framework: Angular 8
zone.js : 0.10.2

I tried with zone.js in version 0.8 but I still have the same error :

`main.7457ffe721950c84c2c5.js:1 ERROR TypeError: Cannot read property 'getFocusedItemId' of undefined at n._renderOpenedState (main.7457ffe721950c84c2c5.js:1) at n._renderOpenedState (

[2020-04-09 08:39] #6541 closed, assigned to San4es, DokaRus

[2020-04-10 18:22] MichelleMayambu opened #12674 "updating bar chart values at runtime"
i am new to Dx and i want my bars to update visually when a value from an input is changed. how do i acchieve this in vue.js

[2020-04-15 07:27] onebalaban commented on #6756
This issue has been closed due to inactivity.

[2020-04-15 07:27] #6756 closed, assigned to nightskylark

[2020-04-15 19:20] vicentefederico commented on #12531
Hello @LanetteDevEx any suggestion?

[2020-04-16 10:58] mskovacic opened #12742 "Feature request: option to send all data when editing DataGrid successful"
Hi,

We have many issues with the way the DataGrid is currently sending data when you edit it.
The Insert mode is works fine because it sends all data (because all is modified), however Edit mode sends only modified data fields.

This causes us 2 problems:
1. We use ASP.NET Core and having only modified data sent makes server side validation complicated.
2. Handling partial updates is also more co

[2020-04-16 12:19] LanetteDevEx commented on #12531
Hello,

I checked your sample project and see that the way of connecting points, which is defined in the fromPointIndexExpr and toPointIndexExpr properties, is not applied because auto-layout is enabled in your Diagram.

The default way is selected automatically according to the auto-layout algorithm applied.
To resolve the problem, I suggest you set the [autoLayout](https://js.devexpress.com/Docu

[2020-04-17 08:26] Krijovnick commented on #12674
Hi,
I created an [example](https://codesandbox.io/s/devextreme-charts-n9fn1?file=/App.vue) to show you how to update a chart data source at runtime.

[2020-04-20 08:46] NickMitrokhin commented on #12742
Hi,

When you update a data row, the grid sends a key value of the modified row along with modified fields. The key value should help you identify a data item on the server side. Please take a look at the [DataGrid - Web API Service](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/WebAPIService/NetCore/Light/) demo showing how to update data fields on the server side. See **DataGridWe

[2020-04-20 10:01] mskovacic commented on #12742
The proposed approach works but is still a workaround around a simple issue.
We aren't currently using Newtonsoft.Json and have a multi-layered architecture in our application.

[2020-04-20 14:20] #12674 closed, assigned to Krijovnick

[2020-04-21 10:19] NickMitrokhin commented on #12742
The approach in the demo shows a possible solution for this case. As for the special option, it is not an optimal solution to send unnecessary data that can be got on the server side via the key value. That is why we do not have plans to add such an option.

You can modify the **newData** object in the [onRowUpdating](https://js.devexpress.com/Documentation/20_1/ApiReference/UI_Widgets/dxDataGrid/

[2020-04-21 10:19] #12742 closed, assigned to NickMitrokhin

[2020-04-21 11:36] fgvicente commented on #12531
Ok thans in last beta fixed. Thanks

[2020-04-21 11:36] #12531 closed, assigned to LanetteDevEx

[2020-04-22 07:55] #8199 closed, assigned to CodeKarno

[2020-04-22 07:56] #8489 closed, assigned to maxerokh, vladkovl

[2020-04-22 08:13] #8278 closed, assigned to alexanderPolosatov

[2020-04-23 07:54] #7047 closed, assigned to San4es

[2020-04-23 13:05] onebalaban commented on #6562
Hello,

We will consider implementing the paging functionality in future releases. Please stay tuned to our news.

[2020-04-23 13:05] #6562 closed, assigned to vconst

[2020-04-23 13:08] onebalaban commented on #1237
Hello,

Your scenario is quite specific and can be covered by the workaround we suggested earlier. We didn't register similar requests for the past two years. Thus, we decided not to implement this functionality for now.

Regards, 
Romeo

[2020-04-23 13:08] #1237 closed, assigned to vconst

[2020-04-23 13:28] onebalaban commented on #6528
Hello,

We will consider implementing this functionality in future releases. Please stay tuned to our announcements.

[2020-04-23 13:28] #6528 closed, assigned to vconst

[2020-04-23 13:42] onebalaban commented on #4037
Hello,

Currently, we are not planning to implement this functionality. However, we may consider it in the future. Please stay tuned to our announcements.

[2020-04-23 13:42] #4037 closed, assigned to BingoRUS

[2020-04-23 16:26] nrakochy opened #12856 "Scheduler component (React) does not respect injected components styles"
### Steps to Reproduce:

1.  Load Scheduler in React with custom resource component

[code]
Custom ResourceCard component
[code]
Styles
[code]

### Results You Received:

![devextreme_resource_card](https://user-images.githubusercontent.com/3740177/80123500-97474980-8554-11ea-90e7-39b04a058f1d.png)

The component is rendered to the DOM, but not visible

### Results You Expected:

I would expect th

[2020-04-24 07:38] lidorbt opened #12865 "Scheduler component (React) misplacing appointments on scheduler"
### Steps to Reproduce:

1. Enter the official react's "limit appointments per cell" example (https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/LimitAppointmentCountPerCell/React/Light/)

2. Resize the scheduler or simply zoom in / out (I don't know what specifically is the size / ratio / resolution causes the bug)

### Results You Received:
![image](https://user-images.githubuserconte

[2020-04-24 08:55] AlisherAmonulloev commented on #7082
Hi @snebjorn,

Please allow me to share my thoughts regarding your suggestions.
The idea of creating an index.d.ts file for our each npm package and especially the devextreme package sounds interesting. At the moment, our modules are compiled with CommonJS and we did not fully migrate to ES6. Although we are going in this direction, we'll face certain challenges when creating the index.d.ts file.

[2020-04-24 08:55] #7082 closed, assigned to AlisherAmonulloev

[2020-04-27 08:42] sometimesElen commented on #5900
Hello,

Please accept my apologies for the delay. We are working on the recurrences in our Scheduler in the context of the following thread: [Scheduler - Recurring appointments with the BYSETPOS rule are rendered incorrectly](https://supportcenter.devexpress.com/ticket/details/t826136). In this ticket, we collect all cases with the BYSETPOS rule in order to check them when the fix is applied. We w

[2020-04-27 08:42] #5900 closed, assigned to artem-kurchenko, sometimesElen

[2020-04-27 10:05] artem-kurchenko commented on #12160
Hi @krilllind,

I agree with @hakimio. In this case, it's more efficient to make a custom wrapper around CustomStore.
We use a similar technique in our [DevExtreme.AspNet.Data](https://github.com/DevExpress/DevExtreme.AspNet.Data) library. This way, you can add new options\extend basic features without relying on our internal structure.

[2020-04-27 10:05] #12160 closed, assigned to artem-kurchenko

[2020-04-28 13:25] BingoRUS commented on #4037
Hello everyone! I'd like to share more thoughts about why we closed this issue. First of all, DevExtreme CLI is available, and you can use it to generate stylesheets with modified theme constants and only those components that you need. You can find more information in [the DevExtreme CLI guide](https://js.devexpress.com/Documentation/Guide/Common/DevExtreme_CLI/#ThemeBuilder).
We are going to mig

[2020-04-30 14:13] Yarovaya commented on #12856
Hi @nrakochy,

Scheduler has a static layout. So, it is impossible to change cell size using customization in a template. But you can use [css-classes](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/CSS_Classes/#dx-scheduler-cell-sizes-horizontal) to customize sizes of Scheduler table cells.

[2020-04-30 14:13] #12856 closed, assigned to Yarovaya

[2020-04-30 14:24] Yarovaya commented on #12865
Hi @lidorbt  ,

Thank you for the report. We'll research this behavior in the context of the [t885595 ](https://supportcenter.devexpress.com/internal/ticket/details/t885595) Support Center thread.

[2020-04-30 14:24] #12865 closed, assigned to Yarovaya

[2020-05-04 14:46] egerasimov71 opened #12916 "Gantt - Validation break tree"
### Steps to Reproduce:

After adding:
.Validation(conf => {
    conf.AutoUpdateParentTasks(true);
})

1. In additional column disappear data
2. dataSource has error on editing if AutoUpdateParentTasks = false
example: https://codepen.io/egerasimov/pen/povYLov

### Environment Details:
v 20.1.3, google chrome / opera

[2020-05-06 15:49] natashaash commented on #12916
Hello,
Thank you for your report.
I replicated the issue and created public threads in our Support Center to research them:

1. [Gantt for Java Script - Data is not displayed in custom columns in the tree list area if autoUpdateParentTasks is set to True](https://supportcenter.devexpress.com/ticket/details/t887279/gantt-for-java-script-data-is-not-displayed-in-custom-columns-in-the-tree-list-area-

[2020-05-06 16:07] #12916 closed, assigned to nobody

[2020-05-08 15:55] francesco-clementi opened #12987 "[Need Help] Is it possible to save the state of groupedRows in Datagrid"
Hi,
I've a Datagrid widget in a React App with grouped rows.
Everytime that is necessary a data reload, datagrid loose the rows grouped.

Is it possible to save the state of groupRows such as State Storing?

[2020-05-11 13:03] kingsanu opened #12997 "How to hide selectBox popup by jQuery."
I want to hide selectBox popup after load custom value and reload by jQuery. Please help someone.

[2020-05-12 08:37] DokaRus commented on #12997
Use the [close](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxSelectBox/Methods/#close) method or change the [opened](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxSelectBox/Configuration/#opened) option value when necessary.

You can use the Support Center to get additional help with your issue: https://devexpress.com/sc

[2020-05-12 08:37] #12997 closed, assigned to nobody

[2020-05-14 08:43] Bykiev opened #13027 "AngularJS - popup inside directive is not visible if used multiple times"
### Steps to Reproduce:

1.  Open the demo: https://codepen.io/predatorz/pen/XWmPJwj
2. Try to open popup. If visiblePopup is true, popup is visible, but if visiblePopup2 is true, second popup is not visible

### Results You Received:
Popup is not showing

### Results You Expected:
Popup  should be visible

### Environment Details:
DevExtreme 20.1.3

**Upd.** Seems to be not related to DevExtreme,

[2020-05-15 08:16] onebalaban commented on #12987
Hello,

State storing supports row groups - see this demo: https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/StatePersistence/React/Light/

If you faced issues with this approach, please submit a ticket to our Support Center and attach a simple project demonstrating the issue so that we can research it.

Regards,
Romeo

[2020-05-15 08:16] #12987 closed, assigned to onebalaban

[2020-05-15 10:39] kingsanu opened #13041 "Can DevExtream work in .Net core Razor Pages?"
May i know DevExtream are work only in .Net core MVC or Razor pages?

[2020-05-15 10:43] #13027 closed, assigned to nobody

[2020-05-15 12:49] kingsanu opened #13049 "Can DevExtream List Item template support conditions?"
I would like to do condition base element show in item template of SelectBox of devextream. How can i archive it. I want to do like if else and show particular element

Something like this.
.ContentTemplate(@<text>
if (<%- state %> == "null") {'sorry not found state'}
</text>

[2020-05-15 15:53] AlekseyMartynov commented on #13041
I greatly appreciate your interest in our ASP.NET products.

You can use DevExtreme-based ASP.NET Core Controls with either MVC Views or Razor Pages. For a quick start, check our [Visual Studio project template](https://docs.devexpress.com/AspNetCore/401026#create-a-new-project) that allows you to choose between the Views or Pages app types.

For further ASP.NET-related questions, I kindly ask you

[2020-05-15 15:53] #13041 closed, assigned to AlekseyMartynov

[2020-05-15 16:02] AlekseyMartynov commented on #13049
Please refer to the [ERB-style Constructs](https://docs.devexpress.com/AspNetCore/401029#erb-style-constructs) documentation section. It explains how to use control flow statements within templates.

For short conditional expressions, the [ternary operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator) may also work.

For further ASP.NET-related

[2020-05-15 16:02] #13049 closed, assigned to AlekseyMartynov

[2020-05-16 08:25] darnfish opened #13061 "Adjusting a DataSource on a DxLayer results in an error"
### Steps to Reproduce:

1. Create a DxVectorMap
2. Add a DxLayer with a DataSource that gets updates every x seconds with a new Marker
3. Observe the error

[code]

### Results You Received:
[code]
![Screenshot 2020-05-16 at 09 25 51](https://user-images.githubusercontent.com/8293444/82114886-3ed02a00-9757-11ea-8bef-42abe81d9a9e.png)

### Results You Expected:
The marker would be added to the map

[2020-05-16 08:34] darnfish commented on #13061
Fixed it by updating the `handleLocation` method to this!
[code]

[2020-05-16 09:44] darnfish commented on #13061
Nevermind, turns out the issue is still happening :(

[2020-05-16 09:47] darnfish commented on #13061
Looks like https://github.com/DevExpress/DevExtreme/pull/9467 is the PR where the line that causes the error was introduced

[2020-05-17 08:01] kingsanu opened #13062 "How to add asp.net core tag helper in devextream control"
I'm building form and need to pass asp-for tag in devextream textbox. how can i do it?

[2020-05-18 09:48] alexanderPolosatov commented on #13061
Hi,
Thank you for the sample. I created a [ticket](https://supportcenter.devexpress.com/ticket/details/t890687) about this issue in our Support Center and suggest you track it to be notified of our progress.

[2020-05-18 09:48] #13061 closed, assigned to alexanderPolosatov

[2020-05-19 13:46] sapelson commented on #9720
Please reconsider using SCSS. Of course, LESS works, but SASS (and it's version, scss) has pretty much taken over by now.

It's impossible to mix LESS andn SASS in the same project projects and automatic conversion tools break with huge amount of files Devexpress has…

[2020-05-19 14:08] babich-a commented on #9720
@sapelson we are working on migration.

[2020-05-20 12:44] briosheje opened #13126 "Incoherent docs about ContextMenu against DxDataGrid"
I needed to add a right click functionality on my dxDataGrid whenever a row was right clicked.
To accomplish such, I've found a ticket pointing to this example:
https://github.com/DevExpress-Examples/datagrid-how-to-utilize-crud-operations-using-the-context-menu-t123309/blob/19.2.4%2B//JS/index.html

Such example clearly explains how to do that and **it actually works as intended**.

However, if y

[2020-05-21 04:23] kingsanu opened #13141 "How can i add marker and get geo data runtime on .net core?"
I am making food supply web application. and i would like to add custom marker by double click or single click (it might issue while dragging, so may not preferable) on runtime and get geo data so i can save in database. Also i need to make searchbox where user can search the address like bing and google have.

After my delivery boy will get perfect location where they want to deliver item.
Please

[2020-05-21 04:31] kingsanu commented on #7267
When this feature will be availalbe?

[2020-05-21 04:54] kingsanu opened #13142 "Noticed bug in HTML Editor."
I noticed when i use numbering in html editor.
Ex; Pressed 1. so numbering will be start, and then press again enter second number will be add in next line, and if i use mention as @ the mentioned @<value> remove from current line and set at first line prefix.

[2020-05-21 05:05] kingsanu opened #13143 "Need display exp with combination of field in .net core."
I  need a  one help where i would like show combined field of data in display exp at HTML editor by mention.

Second help related to it:
I want to add **BoldedText**: NormalText in HTML editor when i press @mention.

[2020-05-21 13:39] kingsanu opened #13157 "Could you not make component of expression editor as report have?"
Could you make component as report have like expressions editor with syntax editor, intelligence for .net core?

[2020-05-21 13:53] ZaHgO commented on #7267
It's already available: https://js.devexpress.com/Demos/WidgetsGallery/Demo/HtmlEditor/Mentions/Vue/Light/

[2020-05-21 14:18] kingsanu opened #13158 "Can i make mention as editable in htmleditor?"
I want mention value as editable in html editor when i choose from selection popup. also i want to remove @ when i choose item

[2020-05-21 16:32] darnfish commented on #13061
I fixed the issue by using an Array for the `DxLayer` `data-source` and setting `type` to `marker`:

[code]

[2020-05-21 17:19] kingsanu opened #13163 "How can i add event onHidden of popup in jQuery?"
I would like to add event where when popup close the event fire i would add this OnHidden event in jquery

[2020-05-21 22:42] shahabfar commented on #11306
That's great. you can use:
شنبه 1ش 2ش 3ش 4ش 5ش جمعه
instead of a full rewrite of daily names in order to occupy low spaces.

BTW do you have any solution to use the filtering functionality of Jalali date in some controls such as dxGrid?

[2020-05-22 01:40] kingsanu opened #13164 "DevExtreme RangeSelector does not contains name property to pass data to Razor Pages."
Razor pages uses asp.net tag, so we can manually add those tag value in name property of devextream control but range selector does not have property like Name.

[2020-05-22 11:35] novsstation commented on #13126
Hi Marco,

We researched this case and found out that this is a mistake in our documentation.
Currently the dxContextMenuItem interface does not have the onItemClick event. This event belongs to the grid items only.
The dxContextMenu widget has only a global event for all menu items.
Thank you for bringing our attention to this issue. We will update the documentation soon.

We also agree that this

[2020-05-22 11:35] #13126 closed, assigned to jsdmitry

[2020-05-22 11:58] briosheje commented on #13126
Perfect, thank you!

[2020-05-25 07:09] Semigradsky commented on #7268
@nirav5884 Could you provide the example of code?

[2020-05-26 17:35] mohamed-adly opened #13215 "FileManager Drawer is always on if initialized in Popup"
### Steps to Reproduce:

1. Create a Popup component
2. Create  file manager inside the Popup component
3. Set popup visibility

### Results You Received:

FileManager Progress panel/drawer is always on and the close button not working

### Results You Expected:

to have the progress panel visible only when there is a notification

### Environment Details:

DevExtreme 20.1
React
![image](https://u

[2020-05-26 18:11] mohamed-adly commented on #13215
worked fine with "contentRender" method

[2020-05-27 06:19] Fungusware commented on #8278
Definitely need a boxplot control for devExtreme. All our charts are devExtreme except the boxplot where we have to use ChartJs plus a wrapper.

[2020-05-28 13:46] CodeKarno commented on #13215
Hi @mohamed-adly
Thank you for reporting the issue to us. I reproduced this behavior in File Manager v20.1.3 and we will start working on a fix.

[2020-05-28 19:31] San4es commented on #9319
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v19.2 release](https://github.com/DevExpress/DevExtreme/releases/tag/19.2.3) (for editors and Form), and in the [v20.1 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.1.3) (for Data Grid and Tree List). I'm closing this thread. In the case of bugs or questions, feel free to create

[2020-05-28 19:31] #9319 closed, assigned to San4es, NickMitrokhin

[2020-06-01 09:51] Semigradsky opened #13283 "[PivotGrid] Html entities incorrectly rendered in filtering"
Html entities rendered nice in grid:
![image](https://user-images.githubusercontent.com/1198848/83396335-810a9400-a404-11ea-86e2-fefda35ec451.png)

but badly in filter:
![image](https://user-images.githubusercontent.com/1198848/83396382-91227380-a404-11ea-88cc-c19cfc26a46b.png)

---

I need `&nbsp;` for correct line breaking in cell.

[2020-06-01 11:07] Semigradsky opened #13263 "[PivotGrid] Html entities incorrectly rendered in filtering"
Html entities rendered nice in grid:
![image](https://user-images.githubusercontent.com/1198848/83396335-810a9400-a404-11ea-86e2-fefda35ec451.png)

but badly in filter:
![image](https://user-images.githubusercontent.com/1198848/83396382-91227380-a404-11ea-88cc-c19cfc26a46b.png)

---

I need `&nbsp;` for correct line breaking in cell.

I am not sure where broblem is, I created the same in Angular r

[2020-06-01 11:52] Semigradsky commented on #13263
I found that this rendering depends on `encodeHtml` option - https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTreeList/Configuration/columns/#encodeHtml

https://github.com/DevExpress/DevExtreme/blob/4a46c3a58e8275d4c3933506efb07c5fb4795334/js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js#L333

But I don't know how I can specify this option for Pivot Grid filter.

---

UPD: Th

[2020-06-01 13:30] Semigradsky commented on #13263
https://github.com/DevExpress/DevExtreme/blob/4a46c3a58e8275d4c3933506efb07c5fb4795334/js/ui/pivot_grid/ui.pivot_grid.area_item.js#L76-L84

^ That is why I see correct html entities in row fields. Text encoded only if contains `<` or `>` character.

[2020-06-03 14:26] alexanderPolosatov commented on #7263
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v20.1 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.1.3). I'm closing this thread. In the case of bugs or questions, feel free to create new [GitHub issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2020-06-03 14:26] #7263 closed, assigned to pavelgruba

[2020-06-03 14:27] alexanderPolosatov commented on #12207
Thanks to everybody who gave us early feedback on this feature. The feature is now available in the [v20.1 release](https://github.com/DevExpress/DevExtreme/releases/tag/20.1.3). I'm closing this thread. In the case of bugs or questions, feel free to create new [GitHub issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Cen

[2020-06-03 14:27] #12207 closed, assigned to alexanderPolosatov

[2020-06-04 06:56] cesco69 opened #13311 "[SUGGESTION] DataGrid: method for return the current cell position"
Hi, i want to suggest a method for return at runtime the current cell position (current focused/selected cell) from a DataGrid.

After a lot of debugging I have found into dataGrid object the `keyboardNavigation` controller that expose a `_focusedCellPosition` object and with `dataGrid._controllers.keyboardNavigation._focusedCellPosition` i can retrive the current cell position

This is my snippet

[2020-06-04 19:51] neumartin opened #13329 "Uncaught DOMException: Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range"
### Steps to Reproduce:

1. Use DataGrid with a string column
2. In data to populate the grid use special characters line this: JARDIN DE INFANCIA BILINGÜE “EL MOLINO”

### Results You Received:
[code]

### Environment Details:
DevExtreme 19.2
Dotnet 2.2
Chrome and Firefox latest versions.

[2020-06-05 00:42] #13329 closed, assigned to nobody

[2020-06-08 05:21] #13283 closed, assigned to jsdmitry

[2020-06-08 08:51] MikeVitik commented on #13311
Hi.
Have you tried using [focusedRowIndex](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#focusedRowIndex) and [focusedColumnIndex](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#focusedColumnIndex) like in the following code snippets?
[code]

[2020-06-08 13:34] San4es commented on #11306
Hi @shahabfar.

شنبه 1ش 2ش 3ش 4ش 5ش جمعه
instead of a full rewrite of daily names in order to occupy low spaces.

Thank you for your feedback and suggestion!

Our localization mechanism is the same in all widgets. See the [Localization](https://js.devexpress.com/Documentation/Guide/Common/Localization/) topic and the [Localization](https://js.devexpress.com/Demos/WidgetsGallery/Demo/Localization/)

[2020-06-09 05:33] jsdmitry commented on #12161
These features are now available in the [v20.1](https://github.com/DevExpress/DevExtreme/releases/tag/20.1.3) release. I'm closing this thread. In the case of bugs or questions, feel free to create new GitHub [issues](https://github.com/DevExpress/DevExtreme/issues) or tickets in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-06-09 05:33] #12161 closed, assigned to novsstation

[2020-06-09 11:48] San4es commented on #13163
Hi @kingsanu.

To add/remove a 'hidden' event handler, you can use one of the following:
- the [onHidden](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxPopup/Configuration/#onHidden) option:
[code]
- the [on](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxPopup/Methods/#oneventName_eventHandler) method:
[code]

[2020-06-09 11:48] #13163 closed, assigned to San4es

[2020-06-09 12:05] San4es commented on #13157
We already have a similar component - dxFilterBuilder.

See:
https://js.devexpress.com/Demos/WidgetsGallery/Demo/FilterBuilder/
https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxFilterBuilder/

[2020-06-09 12:05] #13157 closed, assigned to San4es

[2020-06-09 12:37] roma-lukashik opened #13374 "[PivotGrid] Cannot see selected values in filter if there are no data"
Hello, I faced an issue with PivotGrid component. I have data which I want to show in Pivot Grid. This data can be filtered outside (for instance there is a date range and I can chose particular range and load data regarding to selected range into PIvot Grid).
What is the issue about?

### Steps to Reproduce:

1. Choose the particular range.
2. Filter data by any value using PivotGrid (Filter by "

[2020-06-09 13:11] AdrianIONICA opened #13375 "[HtmlEditor] - onValueChange doesn't work right when the editor is cleared."
### Steps to Reproduce:

1. Write down a text into the HTML Editor.
2. Delete the entire content/text from it.
3. Check the value received in the onValueChanged(value, previousValue) event handler.

### Results You Received:
The current value is the same with the previous value.

### Results You Expected:
The value from the event handler shall be an empty one.

### Environment Details:
everywhere

[2020-06-09 14:08] San4es commented on #13158
Hi @kingsanu,

This functionality is not supported at present. We don't have immediate plans to implement it and at the moment we collect customer feedback. Is this feature crucial in your use case?

You can use the [template](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxHtmlEditor/Configuration/mentions/#template) option to achieve this. For instance:
[code]

[2020-06-10 08:43] AntonSermyazhko opened #13378 "Scheduler - Full Recurrence Support"
# Scheduler - Full Recurrence Support

# The Problem

The DevExtreme Scheduler has its own recurrence engine that works according to the iCalendar RFC 2445 specification, with a few exceptions. Due to technical limitations, the engine does not support rules that use an offset from the end of the repetition frequency, or specify intervals between repetitions. Below are examples of currently unsuppo

[2020-06-10 09:33] San4es commented on #13143
Hi @kingsanu,

You can use a function as [displayExpr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxHtmlEditor/Configuration/mentions/#displayExpr) to combine data fields any way you want:
[code]

It can be achieved by setting the corresponding toolbar option:
[code]

I created an example to demonstrate both cases: https://codepen.io/San4esZ/pen/KKVdLaZ. Let us know if it work

[2020-06-10 10:36] San4es commented on #13062
The `asp-for` attribute is available for native HTML elements only (`<input>`, `<label>`, `<textarea>`, `<select>`).

To bind a TextBox to the model property in the jQuery approach, use the [`name`](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTextBox/Configuration/#name) and [`value`](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTextBox/Configuration/#val

[2020-06-10 10:36] #13062 closed, assigned to San4es

[2020-06-10 13:41] jsdmitry commented on #13374
Hi,

I saw your issue in our Support Center. Let's continue the dialog there.

[2020-06-10 13:41] #13374 closed, assigned to jsdmitry

[2020-06-11 12:45] San4es commented on #13375
Hi @AdrianIONICA,

I have not reproduced the issue you described. See:
[https://codepen.io/San4esZ/pen/PoZNqXb?editors=1011](https://codepen.io/San4esZ/pen/PoZNqXb?editors=1011)

Please tell us what additional conditions we should take into account to reproduce it.

Additionally, I noticed that you are using wrong parameters in the event handler. See:
[https://js.devexpress.com/Documentation/ApiRe

[2020-06-11 13:29] AdrianIONICA commented on #13375
Hi @San4es ,
You can reproduce it using this: https://codesandbox.io/s/agitated-hermann-x70v1?file=/App.js
Please follow the console logs.

I know about the name of the parameters, in the code side the parameters are named right.

Thank you!
Adrian

[2020-06-11 15:42] San4es commented on #13142
Hi @kingsanu,

I could not reproduce the issue you described. I used this example: [https://codepen.io/San4esZ/pen/KKVdLaZ](https://codepen.io/San4esZ/pen/KKVdLaZ).

These are the steps that I used to reproduce this issue:

* Press the Enter key;
* Type `1`;
* Type `@John Heart`;
* Press the Enter key;
* Type `@Kevin Carter`;
* Press the Enter key;
* Type `@Olivia Peyton`.

This scenario works pro

[2020-06-12 03:45] kingsanu opened #13414 "Help me to remove @ and gry background color when add mention in dxHTMLeditor"
Help me to remove @ and gry background color when add mention in dxHTMLeditor

[2020-06-14 04:15] ClementeGao opened #13416 "When I input Chinese characters into the row filter, it started searching before I had finished typing them"
![image](https://user-images.githubusercontent.com/16145998/84584574-aa7de380-ae38-11ea-8442-0268a2ff0378.png)

[2020-06-15 07:53] hakimio commented on #13414
Check out [displayExpr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxHtmlEditor/Configuration/mentions/#displayExpr) and [itemTemplate](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxHtmlEditor/Configuration/mentions/#itemTemplate) configs.

[2020-06-15 13:25] novsstation commented on #13263
Hi Dmitry.

You can customize the text of any cell (even in the filter area) using the [customizeText](https://js.devexpress.com/Documentation/ApiReference/Data_Layer/PivotGridDataSource/Configuration/fields/#customizeText) property and write any [Unicode character](https://www.fileformat.info/info/unicode/char/00a0/index.htm) in it. Something like this:

[code]

Could you please check this approa

[2020-06-16 12:05] #13263 closed, assigned to jsdmitry

[2020-06-17 03:59] sujitharavi123 opened #13879 "Unable to use both lookup and headerfilter in a table, it shows "(BLANKS)" as on of the filter value"
Unable to use both lookup and headerfilter in a table, it shows "(BLANKS)" as one of the filter value

`<dxi-column dataField="employeeId" caption="Name of Holder">
              <dxo-lookup [dataSource]="empList" displayExpr="employeeName" valueExpr="employeeId">
              </dxo-lookup>
            </dxi-column>`

![Annotation 2020-06-17](https://user-images.githubusercontent.com/33145777/848

[2020-06-17 15:51] Semigradsky commented on #13263
@novsstation Thanks, it helps! 👍

[2020-06-18 13:54] San4es commented on #13375
Hi @AdrianIONICA,

I reproduced this issue on my side and created a public ticket in our Support Center:
https://supportcenter.devexpress.com/ticket/details/t900915/

We will update the ticket once we have any results. Thank you for your patience!

[2020-06-18 13:54] #13375 closed, assigned to San4es

[2020-06-18 15:16] San4es commented on #13141
Hi @kingsanu,

Use the [`onClick`](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxMap/Configuration/#onClick) event to add a new marker and its `location` parameter to get the location of the clicked point.

Try to use our TextBox widget with search [mode](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTextBox/Configuration/#mode) for this purpose.

[2020-06-18 18:58] clairross-hyperview opened #13488 "Element attributes do not get applied the first time a dxo-filter-builder-popup is opened"
### Steps to Reproduce:

1. Use this demo: https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/FilterPanel/Angular/Light/
2. Replace the existing `dxo-filter-builder-popup` with
[code]
3. Hit _Apply_
4. In the demo, click on _[Employee] Equals 'Clark Morgan' And [Order Date] Weekends_
5. Open the inspector (hit F12)
6. Search for 'this-should-exist'. Note there is 2 so far (the text enter

[2020-06-19 10:41] NickMitrokhin commented on #13488
Hi,

Our Popup widget does not allow specifying CSS class using the [elementAttr](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxPopup/Configuration/#elementAttr) option. That is why, your scenario does not operate properly. We are going to improve this behavior in future versions.

Meanwhile, you can achieve your goal using the following code in the  [DataGrid.onContentReady](h

[2020-06-19 10:41] #13488 closed, assigned to NickMitrokhin

[2020-06-19 20:57] maniani-dev opened #13509 "DevExtreme: Selecting an item in DropdownBox list does not work in React using UseState Hook"
### Steps to Reproduce:

1. See example here: https://codesandbox.io/s/admiring-glade-v9dqh?file=/App.js:0-1988
2. Select an item in the list
3. The item does not get selected haha

I have attached the example if useful

### Results You Received:

The item does not get selected
[v9dqh.zip](https://github.com/DevExpress/DevExtreme/files/4806665/v9dqh.zip)

### Results You Expected:

I believe I sho

[2020-06-20 15:38] luweiymy opened #13511 "how to disabled rowField in piovtgrid?"
### Steps to Reproduce:

1.
2.
3.

### Results You Received:

### Results You Expected:

### Environment Details:

[2020-06-20 20:52] RezaRahmati commented on #12343
@artem-kurchenko Hi Artem,
I don't know why I missed your response.

What I want is if user enters an item that already exists, don't do anything, right now it removes it, even with checking in onCustomItemCreating

How can I implement this behavior?

[2020-06-22 14:41] alexanderPolosatov commented on #13164
At present RangeSelector does not support this functionality. If you need to pass RangeSelector's [value](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxRangeSlider/Configuration/#value) to the server, I suggest you create a hidden [input ](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input)and update this input's value in the [valueChanged](https://js.devexpress.co

[2020-06-22 14:41] #13164 closed, assigned to alexanderPolosatov

[2020-06-22 14:50] San4es commented on #13509
Hi @khlynet,

We see a ticket with this subject in our Support Center:
https://supportcenter.devexpress.com/ticket/details/t901412/

We will address this issue there. I am closing this thread.

[2020-06-22 14:50] #13509 closed, assigned to San4es

[2020-06-22 19:37] onebalaban commented on #13511
Hello,

We offer support services in our Support Center only. Please submit a ticket there and describe the issue in detail. In addition, it would be helpful if you attach a simple project demonstrating your PivotGrid implementation and the issue you faced.

[2020-06-22 19:37] #13511 closed, assigned to nobody

[2020-06-23 05:58] kingsanu-production opened #13533 "I want to hide popup of TagBox"
I'm using tagbox without any datasource, and adding email id, but when i adding or click on tagbox popup gonna show with "NO DATA FOUND". I don't want this popup anymore.

please me plz.

[2020-06-23 13:41] NickMitrokhin commented on #13416
Hi,

Have you tried to reproduce the issue with the [Filtering](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Filtering/jQuery/Light/) demo? Would you please describe what steps we should perform with the demo on our side to see the issue?

[2020-06-25 11:18] San4es commented on #13533
Hi,

Try setting the [openOnFieldClick](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTagBox/Configuration/#openOnFieldClick) option to `false`. Is that what you need?

[2020-06-25 14:19] FabianoCastro opened #13586 "Toolbar: Buttons of the Default, Success, and Danger type have a transparent background when located in a menu"
Hi, please see the attachment, I have a problem in Common CSS in the toolbar, when item have locateInMenu: 'auto'

![Erro CSS](https://user-images.githubusercontent.com/34251113/85737363-b342a500-b6d5-11ea-9502-aecbe8e9af2a.png)

[2020-06-29 06:43] hakimio commented on #13533
@kingsanu-production
Take a look at the following support ticket: [TagBox - How not to display the drop-down list when it is empty](https://supportcenter.devexpress.com/ticket/details/t876253/tagbox-how-not-to-display-the-drop-down-list-when-it-is-empty).

EDIT: Also, [this older ticket](https://supportcenter.devexpress.com/ticket/details/t561039/avoid-items-dropdown-in-dx-select-box) might be use

[2020-06-30 09:09] luweiymy opened #13633 "calculateSortValue don't working"
### Steps to Reproduce:

1. copy form API about calculateSortValue
2. <dxi-column dataField="passengerCountVariance" [allowFiltering]="true" sortOrder="asc" [calculateSortValue]="customSortingFunction"
     [caption]="'uplMissingTktRevenueEstimates_passengerCountVariance' | araf_translate">

3. customSortingFunction(rowData) {

    console.log(rowData);

  return rowData.passengerCountVariance;

[2020-06-30 10:52] MikeVitik commented on #13633
I checked your images and noticed that the data in the result you receive and the result you expect is the same.
Please describe your scenario in greater detail. In addition, create a simple runnable project demonstrating the problem so that I can examine it. You can modify and fork a demo from our [Widgets Gallery](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid)

[2020-06-30 10:58] luweiymy commented on #13633
Results My Received:[{"desc","false"}]
Results My Expected:[{"selector":"datafieldname","desc","false"}]

[2020-06-30 11:08] luweiymy commented on #13633
And step3 no print results in the console panel

[2020-06-30 11:58] jtoming830 opened #13636 "DataGrid and TreeList: Editing API Enhancements"
# The Problem

The DataGrid and TreeList components do not provide an API to perform the following tasks:

- Get or set updated/inserted/deleted rows
- Save all rows in one request in batch edit mode
- Cancel changes made to an individual row in batch edit mode
- Be notified when editing is finished

# The Proposed Solution

We plan to introduce the following API:

## Options
[code]
`changes` is a

[2020-06-30 12:49] luweiymy commented on #13633
I modify and fork a demo from  Widgets Gallery, mock data is no problem,but remotion data has.

[2020-07-02 10:17] babich-a opened #13654 "DevExtreme Style Sheets - Migration to Sass"
## The Problem

In 2020, many front&#0045;end developers use style sheet languages with more features &#0045; such as Sass and Less, and no longer utilize pure CSS. Sass (specifically, the more recent SCSS syntax of Sass) has gained popularity and overtaken Less. Both [Bootstrap](https://getbootstrap.com/) and [Material](https://material.io/develop/web) now use Sass. Angular CLI, Vue CLI, and Crea

[2020-07-02 10:22] babich-a commented on #9720
We are working on the migration to SCSS. I'd like to invite you to participate in our R&D process. We are posting related updates on the [feature discussion page](https://github.com/DevExpress/DevExtreme/issues/13654). Feel free to review the current state of development and comment if you have any feedback. There is a poll you can take to help us understand if the suggested solution meets your ap

[2020-07-02 10:46] sapelson commented on #13654
A "theme" is not just a color. Please also consider using configurable variables for

1. Typography (font faces, sizes, weight, leading)
2. Spacing (8px grid is a very common convention, so using multiples of 8 would be great)
3. Shadows
4. Border radiuses

So, customisable colors with predefined size sets ($size: "compact") would be a great first step, but a first step only. An app might be using

[2020-07-02 11:35] babich-a commented on #13654
@sapelson, scss files - are our sources, not an API. To configure scss, you can change any variable (see [https://github.com/DevExpress/DevExtreme/blob/20_2/scss/widgets/material/_colors.scss#L6](https://github.com/DevExpress/DevExtreme/blob/20_2/scss/widgets/material/_colors.scss#L6) where variables used by the entire theme are defined). $color/$mode variables are used to set the color scheme and

[2020-07-02 12:42] Semigradsky opened #13661 "Add `headerFilter.hideSelectAllOnSearch` option to d.ts files"
In this PR (https://github.com/DevExpress/DevExtreme/pull/12373) `hideSelectAllOnSearch` option was added but not documented. Could you add this field to `d.ts` files (for Angular and React)?

Current behaviour with hiding 'Select All' in filter is unappreciated, I need the same behaviour as in MS Excell (always show 'Select All' option). As I see I can do it with `hideSelectAllOnSearch`.

[2020-07-02 21:54] Shiko1st commented on #13636
Some typo suggestions: Cancelled and Cancelling (double L), and probably onEditingCancelling and onEditingCancelled to match existed event onEditingStart.

Am I correct -- there is no plans to implement batch saving inside data api? I must to implement it manually?

What is that ```fetch``` function mentioned in "Send All Changes in a Single Request" topic?

Where is ```ApplyData``` function decla

[2020-07-03 12:40] MikeVitik commented on #13633
Hi.
I suppose you use a grid with an active remoteOperation as shows in this [sample](https://codepen.io/vconst/pen/jOWYxVQ).

If remoteOperation is active for sorting, the calculateSortValue property can be initialized only by a string, not a function because it's impossible to serialize a function into a request string. So you need to use a string for calculateSortValue.
If it's not suitable for

[2020-07-03 13:40] hakimio commented on #13636
While I imagine the new events and options will be useful to some people who don't use custom stores, I think it would be a lot better if DX provided utilities which we could use in our own custom forms instead of relying on DataGrid built-in editing functionality.

Some of the things I would like to see implemented by DX:
* Public `EditingController` class we could use in our own applications lik

[2020-07-03 13:45] hakimio commented on #13636
[Built-in browser Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch).

[2020-07-03 16:14] jtoming830 commented on #13636
Hello, Vlad! Thank you for your feedback.

Both variants are correct so we use the American one.

Our main point was to make the new names consistent with other DevExpress products where events are called this way. Moreover, we are going to rename onEditingStart to onEditStart with backward compatibility.

Right you are.

Do you mean `applyChanges`? It is a part of `devextreme/data` module.

[2020-07-03 21:59] luweiymy commented on #13633
Yes, you are right.But I want to sort absolute values.
If  I  use a string for calculateSortValue, can you help me  how to realize absolute value sorting？

[2020-07-06 09:35] MikeVitik commented on #13633
Hi.
General solution is to implement the calculateSortValue logic on the server-side.
For more specific assistance, please share more information about your server-side and what exactly your calculateSortValue logic does.

[2020-07-06 12:48] httpete commented on #13654
I have been proposing this to DX for years I am very happy to see @babich-a taking it up. Thank you.
Our app is a Bootstrap 4 app, and we have overridden many of the BS4 $scss variables. This is the cheapest and easiest way to customize a whole set of BS components that utilize those bootstrap classes.
I want the exact same thing for DX. Currently, I had to use the theme exporter site and then hac

[2020-07-06 15:18] jtoming830 commented on #13636
Hello, Tomas!

What functionality do you need in this class? Current API was created compatible with MVVM frameworks so we don't plan creating public classes. However, it will be helpful to know what functionality you are missing.

In 20.2 release you will be able to use `dataGrid.option('changes')` for this purpose.

If you don't have many rows, you can use `remoteOperations: false` and the push

[2020-07-07 08:30] sapelson commented on #13654
I think, asking Devexpress to use Bootstrap classnames is a bit of a stretch :P.

But Bootstrap-style configuration file that lists all available variables would be awesome.

[2020-07-07 09:20] hakimio commented on #13636
Things I've mentioned below. Getting changed form fields from DX form and being able to insert/remove records to/from DX `DataSource` without doing full data reload.

Again, this is tightly coupled with the DataGrid and can not be done when using stand-alone DX form.

I do have many rows and I want to be able to do remote sorting/paging/filtering etc while still being able to insert/remove rows wi

[2020-07-07 12:34] vkuzinet commented on #13636
Regrading Save All changes in one request. It is not very clear how own implementation will be provided. Why do not have an option like "savemode" that will define saving behavior and tell either call saving per each row or pass whole changes array to controller action.

[2020-07-07 17:05] httpete commented on #13654
The ultimate would be to be able to configure the utility class library, if you want to bring your own, falling back to DX's. All utility libraries pretty much do the same thing for example d-block is display: block in Bootstrapese.

But the essential part is devextreme's theme variables distilled as bootstrap 4's like this:
https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

and the

[2020-07-08 15:06] springjazzy commented on #13636
**Would that use case be possible?**
1. User work in form. Form among other standard widgets contains custom buttons which when opened will show grid with batch edititing mode (let's call it "popup grid btn")
2. User clicks "popup grid btn". Grid is shown. Data is loaded into grid
3. User does some modifications in grid.
4. User closes grid without saving data in it. Grid is unmounted.
5. User cli

[2020-07-09 08:23] cesco69 opened #13756 "[suggestion] Better Typescript Support (strict type)"
I want to suggest to improve typescript subbort by export the proper interface of each method.

An example, customizeText from dxDataGridColumn has no exported interface, the only way for make strict typed the cellInfo parameter is define an interface

[code]

without interface cellInfo is any

[code]
with interface

[code]

the interface:

[code]

Why dx don't export all the interfaces...?

[2020-07-09 12:55] jtoming830 commented on #13636
Thank you for your feedback. We will take it into account. Though we have not implemented this feature yet, you can implement the [onFieldDataChanged](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxForm/Configuration/#onFieldDataChanged) event handler to collect changes to your own state. 

You can use a Push API with a private `index` option for insertion in your case. Set it t

[2020-07-09 12:57] jtoming830 commented on #13636
Hello, @vkuzinet!

At the moment, we are working on general editing API enhancements, which will allow our customers to customize different scenarios without private options and heavy solutions. "Send All Changes in a Single Request" is one of these scenarios. A new `saveMode` is a good idea and we will take it into account, but it will not be implemented in the 20.2 release.

[2020-07-09 14:33] miro-ur commented on #13654
Would anyone be able to provide example of a setup in Angular ? I was not able to set up SCSS dx styles with and Angular 9 app.
The @use does not seem to be working but (no error just ignored) - I can't find a working setup example anywhere. Any ideas on how to make this work with Angular app would be much appreciated. Thanks in advance.

[2020-07-09 16:51] jtoming830 commented on #13636
Hello, @springjazzy! Thank you for your feedback.

In 20.2 release we will add `changes` option. You will be able to use it instead of private `_editData`.

You will be able to use `changes` option for this purpose.
[code]

By default `cellValue` call causes a row rerender. You can set `repaintChangesOnly` to `true` to avoid this behavior: https://codepen.io/jtoming/pen/WNrJLNG

[2020-07-10 12:08] massytaleb22 opened #14027 "dx-scheduler ANGULAR - how to implement pagination in the scheduler with angular"
# Support Question

I want to implement a pagination for the scheduler dev extrem because I have a lot of grouped recording, the problem is that I tried with this code but it doesn't work :

   this.chedulerDataSource = new DataSource({
        store: new CustomStore({
            loadMode: 'raw',
            load: () => {
                return this.intervenantData;
            },
        }),

[2020-07-13 09:35] #13311 closed, assigned to MikeVitik

[2020-07-13 18:27] hakimio commented on #13636
Maybe this parameter could be made public and documented?

[2020-07-14 10:35] babich-a commented on #13654
Hi, @sapelson, @httpete.

According to the new sass module system, you need to configure each module separately. The `@import` directive, that allows defining all variables in one file and use it in another file will be deprecated [before ](https://sass-lang.com/blog/the-module-system-is-launched#future-plans)[October ](https://sass-lang.com/blog/the-module-system-is-launched#future-plans)[1, ](ht

[2020-07-14 13:06] jtoming830 commented on #13636
We plan to publish the `index` parameter in v.20.2.

[2020-07-14 13:07] httpete commented on #13654
I dont see how this will work what you are proposing. I don't have to do any compilation to css, I just import my bootstrap 4 scss sheet and angular cli does the internal compiling. An example stackblitz that showcases using angular-cli to compile devextreme scss would be very helpful.

[2020-07-15 11:24] #13143 closed, assigned to San4es

[2020-07-15 11:24] #13158 closed, assigned to San4es

[2020-07-15 12:32] slargollo opened #13816 "Scheduler: TypeError: this._recurrenceRule.rules(...).byday.split is not a function"
### Steps to Reproduce:

1. Go to the recurrence example in https://demos.devexpress.com/ASPNetCore/Demo/Scheduler/RecurringAppointments/
2. Create an appointment without a recurrence rule.
3. Double click in a weekly appointment (such as "Watercolor Landscape"), choose "Edit Series" and close the editor.
4. Double click in the appointment without a recurrence rule. The error occurs and the editor

[2020-07-16 13:31] andrewmakarov commented on #13816
Hi @slargollo,
could you please attach a video and and give more information about the environment(browser, version) to helps us reproduce the problem on our side faster.

[2020-07-16 15:11] EugeniyKiyashko opened #13847 "PivotGrid - Excel Export Enhancements"
## The Problem

The [current export implementation](https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxPivotGrid/Configuration/export/) doesn't allow the PivotGrid to support the following use cases:

- Customize Excel cells
- Customize Excel workbooks and worksheets
- Export the Field Panel
- Add extra worksheets with custom data
- Use custom formats
- Indicate export progress
- Pr

[2020-07-16 16:26] #13142 closed, assigned to San4es

[2020-07-17 07:46] babich-a commented on #13654
Hi, @httpete . I have prepared a simple project that shows how SCSS can be used. Take a look [this repository](https://github.com/babich-a/angular-scss-example). It has two branches. `master` shows how to import full bundle (
https://github.com/babich-a/angular-scss-example/blob/master/angular.json#L28), and `master-configurable` shows how to import separate widgets (https://github.com/babich-a/an

[2020-07-17 12:16] slargollo commented on #13816
[2020-07-17_09-06-47.zip](https://github.com/DevExpress/DevExtreme/files/4937674/2020-07-17_09-06-47.zip)

Chrome: Version 83.0.4103.116 (Official Build) (64-bit)
FireFox: 78.0.2 (64-bit)

File: dx.all.debug.js
Code:
            _renderRepeatOnWeekEditor: function() {
...
                var byDay = this._recurrenceRule.rules().byday ? this._recurrenceRule.rules().byday.split(",") : days[firstDayO

[2020-07-19 09:05] hakimio commented on #13654
@babich-a how will this work when using `devextreme-cli`?

[2020-07-20 05:15] kingsanu opened #13875 "Show HTML in list template"
I have html stored in SQL, and i want to show that HTML in list template.
I'm using .net core with jQuery.

[code]
Here Html field shows as plain text in list row.
Thanks you in advanced.

[2020-07-20 05:44] #13875 closed, assigned to nobody

[2020-07-20 05:44] kingsanu commented on #13875
I found a way

[2020-07-20 11:19] babich-a commented on #13654
@hakimio repository in [this reply](https://github.com/DevExpress/DevExtreme/issues/13654#issuecomment-659934507) is an angular-cli project.

[2020-07-20 16:27] Yookey commented on #7268
@dxbykov  Hi, Thanks for you example,  and how to get  uploaded image url?

[2020-07-20 18:10] hakimio commented on #13654
So, you won't be using `devextreme-cli` to generate style bundles anymore, but I still have to manually import styles for each component I am using in main `styles.scss` file?

[2020-07-21 04:03] babich-a commented on #13654
Sorry, @hakimio. You asked about devextreme-cli, not angular-cli. You can use devextreme-cli to generate styles like before.

[2020-07-21 08:56] hakimio commented on #13654
Would be nice if it could generate `scss` bundle instead of just pre-processed `css`.

[2020-07-21 11:35] vicentefederico opened #14026 "propertyValue.split is not a function"
when i upgrade from version 20.1.alpha to version 20.1.4 my diagram stops working. apparently does not draw junctions of nodes

[code]

 styleExpr: function (obj) {
            let style = {
              stroke: "#425866",
              'stroke-dasharray': 5,   <----this maybe a problem
              'stroke-opacity': 0.6
            }
            return style
          },

[2020-07-21 12:07] vicentefederico commented on #14026
styleExpr: function (obj) {
let style = {
stroke: "#425866",
'stroke-dasharray': 5, <----this maybe a problem
'stroke-opacity': 0.6
}
return style
},

[2020-07-21 15:38] MikeVitik commented on #13879
You should customize the headerFilter for a lookup column as shown in the [filtering demo](https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Filtering/Angular/Light/) (search the orderHeaderFilter).
And use the to the following code snippets:
[code]
[code]

[2020-07-21 16:58] babich-a commented on #13654
What do you mean by  '`scss` bundle'? DevExtreme `scss` with changed variables?

[2020-07-21 17:19] hakimio commented on #13654
I was thinking about two files:
* One SCSS file with all the variables from all the widgets specified in DX `metadata.json` file, so that I could easily change them and use them in my own SCSS style-sheets. Auto-generated `variables.scss` file right now only contains 5 main variables.
* One with the actual style-sheets for all the widgets specified in `metadata.json`. It could either be module imp

[2020-07-22 16:06] andrewmakarov commented on #13816
I reproduced this issue on my side and created a [public ticket](https://supportcenter.devexpress.com/internal/ticket/details/t916611) in our Support Center.

We will update the ticket once we have any results. Thank you for your patience!

[2020-07-22 16:06] #13816 closed, assigned to andrewmakarov

[2020-07-23 05:05] kingsanu opened #13931 "One serious question."
I'm using Devextream for .netCore. I noticed when i use devextream control in razor syntax it generate some 4-5 lines of inline JS code.
Now the question is, when devextream generate HTML code? either from server or when that JS load on client machine?

[2020-07-23 06:13] NickMitrokhin commented on #13416
This issue was closed due to inactivity. If you found a bug or have a question about our product, [create a new issue](https://github.com/DevExpress/DevExtreme/issues) on GitHub or submit a ticket in our [Support Center](https://www.devexpress.com/Support/Center/).

[2020-07-23 06:13] #13416 closed, assigned to NickMitrokhin

[2020-07-23 18:34] RezaRahmati opened #13961 "Hour and Minute is not show full number in compact mode with default styles filled"
### Steps to Reproduce:

1. open this sandbox [https://codesandbox.io/s/romantic-snowflake-l41d1](https://codesandbox.io/s/romantic-snowflake-l41d1), material compact there + default style filled
2. click on date time
3. set the hour or minute to something more than 10

### Results You Received:
compact theme
![image](https://user-images.githubusercontent.com/10086092/88324310-847a1780-ccf1-11ea-8

[2020-07-26 13:35] kingsanu opened #13997 "I would like to hide Gridlines & heading in DevExtream Spreadsheet by jquery code. Please help for it."
I would like to hide Gridlines & heading in DevExtream Spreadsheet by jquery code. Please help for it.

[2020-07-28 07:08] NickMitrokhin commented on #13661
Hi,

We added the **hideSelectAllOnSearch** option in the context of the following breaking change:

[Select All item behavior has changed in the Header Filter if built-in search is used](https://supportcenter.devexpress.com/ticket/details/t872400/select-all-item-behavior-has-changed-in-the-header-filter-if-built-in-search-is-used)

This option enables the behavior that was before the breaking cha

[2020-07-28 12:14] Semigradsky commented on #13661
Hi, thank you for response!
Ok I will try to add `hideSelectAllOnSearch` via `defaultOptions`.

I expect to select items that a user searches. That is the same as it works in 'Microsoft Excel' and 'Google Spreadsheets'.

In 'Microsoft Excel' we have 'Select All Search Results' option:

![image](https://user-images.githubusercontent.com/1198848/88663847-de5d5180-d0e4-11ea-8ff0-4cb851aa92a5.png)

In

[2020-07-28 20:27] facue opened #14381 "Scheduler Agenda View Broken"
# Bug Report

**Package versions:**

    devexteme version:20.1.6
    devextreme-react version:20.1.6

**Steps to reproduce:**
Agenda view is not rendering correctly the appointments.

**Current behavior:**
New Version
![image](https://user-images.githubusercontent.com/2061287/88717743-60567600-d0f7-11ea-8e25-a6537fdaadb4.png)

**Expected behavior:**
Previous version

![image](https://user-images.

[2020-07-29 06:52] NickMitrokhin commented on #13661
Thank you for your clarification. We will consider it in future development and maybe add a documented API that will help you achieve your goal.

[2020-07-29 06:52] #13661 closed, assigned to vconst, NickMitrokhin

[2020-07-29 08:11] brijrajsinh opened #14031 "Multiple doubts for react scheduler"
Hello,

I need help for following points:

I am using react scheduler as here : https://js.devexpress.com/Demos/WidgetsGallery/Demo/Scheduler/Timelines/jQuery/Light/

1. I want to display edit, delete button in custom appointment tool tip.
2. When we have more than one appointment in "timelineMonth" view I want to display display "more 3" in bottom of appointment not on top of it which is as defau

[2020-07-29 12:57] andrewmakarov commented on #14381
Hi @facue,
could you please attach a simple project and give more information about the environment(browser, version) to helps us reproduce the problem on our side faster.

[2020-07-29 14:14] 23mluk opened #14046 "Infinity Loop (Gantt) pushing changes"
### Steps to Reproduce:

if you push changes from a Store (OdataStore) to all DataSources and a Gantt view (=> Tasks component) implements one of the Datasources the Browser get in a infinity Loop.

### Results You Received:

![Devextreme](https://user-images.githubusercontent.com/68957230/88810946-462f9d00-d1b6-11ea-8c96-b7b4d8277552.PNG)

### Environment Details:

"devextreme": "^20.1.4",
"devex

[2020-07-30 06:58] LanetteDevEx commented on #14026
Hello,

The issue occurs because you're passing the 'stroke-dasharray' option value as a number, not as a string. This option should be set to an array defined in a string. As a solution, I suggest you specify it as follows:

`styleExpr: function (obj) {
let style = {
stroke: "#425866",
'stroke-dasharray': "5",
'stroke-opacity': 0.6
}
return style
},`

Alternatively, return the required style in s

[2020-07-30 07:21] andrewmakarov commented on #14027
Hi @massytaleb22 ,
Currently, the DevExtreme Scheduler widget does not provide this functionality.

[2020-07-30 09:09] artem-kurchenko commented on #13931
Hi @kingsanu,

We generate the script on the server.

I also need to note that DevExtreme ASP.NET Core is not a part of our community support. For more detailed assistance on this product, feel free to contact us at [https://supportcenter.devexpress.com/ticket/create](https://supportcenter.devexpress.com/ticket/create).

[2020-07-30 09:09] #13931 closed, assigned to artem-kurchenko

[2020-07-30 09:25] artem-kurchenko commented on #13997
@kingsanu

We don't have a Spreadsheet widget in our HTML\JS suite. If you experience issues with ASP.NET Core products, feel free to contact us at [https://supportcenter.devexpress.com/ticket/create](https://supportcenter.devexpress.com/ticket/create).

[2020-07-30 09:25] #13997 closed, assigned to artem-kurchenko

[2020-07-30 12:28] #13141 closed, assigned to San4es

[2020-08-02 17:18] muhammedMoussa commented on #12290
you want me to share endpoint?

[2020-08-03 08:20] #13533 closed, assigned to San4es

[2020-08-03 08:26] San4es commented on #13961
Hi @RezaRahmati,

Thank you for your report. We reproduced this issue and created a new ticket in our Support Center regarding it: [T919659](https://supportcenter.devexpress.com/ticket/details/T919659). Please track it to get updates.

[2020-08-03 08:26] #13961 closed, assigned to San4es

[2020-08-03 09:02] nareshsuda opened #14379 "DataGrid renders white gap between fixed column and next columns"
@jmarcelfpg,

We have released the [1.11.1 version](https://github.com/DevExpress/devextreme-reactive/blob/master/CHANGELOG.md#1111-2019-06-14) of DevExtreme Reactive Grid with this fix.

_Originally posted by @MaximKudriavtsev in https://github.com/DevExpress/devextreme-reactive/issues/2046#issuecomment-502094938_